[2017-04-07 12:11] kdavis-mozilla commented on #507
Yes it will take time to download. But in debugging what you're doing I can't determine if its a problem with your importer/batch sizes or something with GCP unless I have you using something I know to work. Otherwise I'm just guessing at to what you are or are not doing.

[2017-04-07 13:49] kdavis-mozilla commented on #507
@pdcoded Any news on this?

[2017-04-07 13:58] pdcoded commented on #507
Yes, I am running the ted training model. so this is a snapshot when when optimization has just started. I have reduced the hidden layers to 600 .![ted-training_1stepoch](https://cloud.githubusercontent.com/assets/9830931/24803207/19f5c752-1bc8-11e7-819e-2bd414d43560.png)

[2017-04-07 14:01] kdavis-mozilla commented on #507
@pdcoded Can you run the model with the full width not 600?

[2017-04-07 14:04] pdcoded commented on #507
ok doing that . From the download of the ted corpus till 1st epoch run, ideally how much time it should take ? My 1st epoch has not been trained yet and its been 40mins

[2017-04-07 14:09] kdavis-mozilla commented on #507
I can't say how long a epoch takes on your machine. It depends on the GPU's, and I've not used GCP's GPU's so I can't say.

However, as a point of reference, our machine has about 44 TFlops of GPU compute and takes about 2h24m for one epoch of TED with the GPU's generally at 99% utilization.

[2017-04-07 14:11] kdavis-mozilla commented on #507
@pdcoded I guess one thing you have to accept in this game is that training takes time. :-)

[2017-04-07 14:23] pdcoded commented on #507
Yeah true .That's what I was validating .  my GPU utilization is now increasing. Can you tell me what is the computational power factor  compared to the one that you are using ? I am using a 8 GPU one (the last one in this link )https://cloud.google.com/compute/docs/gpus/

[2017-04-07 14:25] kdavis-mozilla commented on #507
Looking at the `nvidia-smi` output you're on `K80`'s. These are unfortunately relatively slow.

They're packaged two GPU's per card and each card is advertised at 8.73 TFlops per card. So, 4.365 TFlops per GPU.

So, you're using 8 GPU's each at 4.365 TFlops that's 34.92 TFlops total. So, generally you have about 79.36% the compute of our 4 GPU server. So, an epoch should take about 3h2m

[2017-04-07 14:36] pdcoded commented on #507
Thanks for the quick maths.Ok for 600 hidden layer, it took me around 1h  to train one epoch. I think we can close the issue for now. I will keep you posted for the full hidden width training later since I will be switching to my own dataset training now.

[2017-04-07 14:38] davidyapdy opened #508 "Fail. Cant figure out why"
I tried training the model locally but it throw me an error. I can't figure out the cause. I've also tried on FloydHub and it fail too.

This is what I get

[code]

[2017-04-07 14:42] #507 closed

[2017-04-07 14:43] kdavis-mozilla commented on #508
Could you move to the DeepSpeech directory and run the command:
[code]
then paste the output here.

[2017-04-07 14:45] davidyapdy commented on #508
[code]

[2017-04-07 14:48] kdavis-mozilla commented on #508
It looks as if you didn't clone the repo using git lfs. Can you
- Remove the `DeepSpeech` directory
- Install [git lfs](https://git-lfs.github.com/)
- Clone DeepSpeech again
- Try running the code again

[2017-04-07 14:54] davidyapdy commented on #508
Got the same output. I'll attempt to solve it and get back as soon as possible.
[code]

[2017-04-07 15:13] davidyapdy commented on #508
Nice. I manage to solve it. :) Thanks, I will do a simple write up to set this up with FloydHub.

[2017-04-07 15:13] #508 closed

[2017-04-08 03:25] msobhan69 opened #509 "How to use a list of phone"
I have a list of phone in my ASR corpus. The list of phone includes 32 English characters (letter case).
How to train DeepSpeech with the corpus?
Should I just create a dataset that includes text and wav files with the same name?d

[2017-04-08 04:14] msobhan69 opened #510 "error running Deepspeech"
when I execute ./Deepspeech.py , it fails. See below

STARTING Epoch 0000
I tensorflow/core/common_runtime/gpu/gpu_device.cc:975] Creating TensorFlow device (/gpu:0) -> (device: 0, name: TITAN X (Pascal), pci bus id: 0000:02:00.0)
I tensorflow/core/common_runtime/gpu/gpu_device.cc:975] Creating TensorFlow device (/gpu:1) -> (device: 1, name: TITAN X (Pascal), pci bus id: 0000:01:00.0)
I tensorflow

[2017-04-08 11:24] kdavis-mozilla commented on #509
We train on only lower case text for now, but this can easily be changes. So one would train on wav + lowercase text.

If you want to do this right away, I'd suggest looking at how the various importers[[1](https://github.com/mozilla/DeepSpeech/tree/master/util/importers)] work.

However, if you can wait a few days, I'd suggest waiting on the "Importer Cleanup" pull request[[2](https://github.com/

[2017-04-08 11:28] kdavis-mozilla commented on #510
Could you execute the code as indicated in the README.md[[1](https://github.com/mozilla/DeepSpeech/blob/master/README.md)]:
[code]
or in the case of the librivox data set, which it looks like you're trying to use:
[code]
and report back on what occurs.

[2017-04-08 12:19] msobhan69 commented on #510
actually I execute bellow and get the error:
DeepSpeech$ ./bin/run-librivox.sh
The problem is solved, if I change thread_count to 0 in util/importer/librivox.py.

But, for a many hours, just I have no change in progress and show below:

STARTING Optimization

I tensorflow/core/common_runtime/gpu/gpu_device.cc:975] Creating TensorFlow device (/gpu:0) -> (device: 0, name: TITAN X (Pascal), pci bus i

[2017-04-08 12:34] reuben commented on #510
Are you by any chance running from the Deep Speech 2 branch, or with your
own importer? The error means you're trying to feed examples into the queue
that have the wrong shape. Specifically, it looks like you're feeding the
MFCC features without any context, which is what DS2 does.

Does the error still happen on a clean checkout of the master branch?

On Apr 8, 2017 9:19 AM, "msobhan69" <notifica

[2017-04-08 12:56] kdavis-mozilla commented on #510
@msobhan69 You realize if you change `thread_count` to 0 the importer will do nothing as there are no threads to push data to the network. Thus the behaviour you observed.

Could you test a clean checkout of master using the command
[code]

[2017-04-08 14:44] #509 closed

[2017-04-08 14:45] #479 closed

[2017-04-08 21:02] crs117 opened #511 "Assign requires shapes of both tensors to match. lhs shape= [2048,29] rhs shape= [494,29]"
I am new to this. I am trying to run the librivox script and am keep getting this error. I see that 494 is defined from
`shapes=[[None, numcep + (2 * numcep * numcontext)], [], [None, ], []]` given numcep = 26 and numcontext = 9 (from debug session).

from documentation:

"Given a WAV audio file at audio_filename, calculates numcep MFCC features at every 0.01s time step with a window length of 0.0

[2017-04-08 22:19] crs117 commented on #511
I think this is a mismatch in model shape from the previous checkpoint from running the run-ldc93s1.sh script. I am looking into clearing the checkpoint.

[2017-04-08 22:32] reuben commented on #511
That's exactly it. We should figure out a way to inform users about this
problem before or instead of the cryptic TF error.

On Apr 8, 2017 7:19 PM, "crs117" <notifications@github.com> wrote:

[2017-04-08 22:56] crs117 commented on #511
I feel really dense. I apologize but leave this here for others to find. By providing the flag required in the command line you can define the checkpoint location for each script. example

`sudo ./bin/run-librivox.sh --checkpoint_dir ~/DeepSpeech/checkpoints/my_librivox_model_dir --dataset_path /media/c/c_store11/data2/librivox/`

Solves the problem by providing the agrs to define the checkpoint d

[2017-04-08 23:00] crs117 commented on #511
I was in the middle of posting and missed the update. I would be more than happy to volunteer to help fix this. I am a VS user trying to navigate pycharm in ubuntu which is why this took a while to figure out.

[2017-04-08 23:09] lissyx commented on #511
Sorry for hijacking the thread, but reading a use of `sudo` really bothers me. There are never good reasons to justify making a sudo call on that kind of use case, and it will become a bad and dangerous habit :)

[2017-04-08 23:37] crs117 commented on #511
@lissyx

Sorry, I am learning a lot of things right now and this was my 3rd installation trying to get everything working. Please tell me how to proceed. I installed from source and I am assuming I installed everything to the root bin folder as opposed to the user bin folder. What is the way to fix this or do I need to uninstall all of the tools and do it all over again?

Thanks.

[2017-04-09 19:07] crs117 commented on #511
@reuben

I may be new but I really want to help and I know I have a lot to learn. I do not know the best place to discuss this so I will throw some darts and hope somebody will bite.

The documentation in the README.md can be updated so that search engines can point here for this issue.

pro's:
-  No change to code.
-  People will discover that checkpoints this error can be caused by mixing models

[2017-04-09 19:16] kdavis-mozilla commented on #511
@crs117 You should make a pull request!

It's obvious that you've thought enough about this that the pull request should be easy enough for you to write up.

Also the pull request would be a better forum to discuss some of these good ideas, and we'd get one more contributor on board!

[2017-04-09 19:39] reuben commented on #511
@crs117 I like that approach. FLAGS.importer is going away in favor of decoupling the importers from the script, so the first part of the change would have to live in the bin/run-* scripts instead of the code that handles checkpoint_dir. But other than that, it's the same fix. If you make a PR I'll be happy to review it :)

[2017-04-09 19:40] reuben commented on #511
That's happening here, btw: https://github.com/mozilla/DeepSpeech/pull/506

[2017-04-09 19:42] crs117 commented on #510
@msobhan69

The importers define the tensor shapes. From my very limited knowledge it seems like you ran and saved a checkpoint from a previous run. Then to me it looks like you changed the way the dimensions for the shape are defined in the importer file you ran and ran it again. The previous checkpoint dimensions do not match so Tensor Flow throws this error.

I would follow @kdavis-mozilla advi

[2017-04-09 20:23] crs117 commented on #511
I will create a pull request. I need to figure out how to do it via pycharm =).

Thanks

[2017-04-09 21:45] crs117 commented on #511
I have never contributed to github. I created a key and added to my github account. I am trying to create and push a branch "issue511" but i am getting permission denied to crs117 when trying to push from pycharm. I am probably doing something really dumb and sorry in advanced.

Thanks

[2017-04-10 14:11] #504 closed

[2017-04-10 18:53] lissyx commented on #472
Fixed by https://github.com/mozilla/DeepSpeech/commit/cd210631bb14c79558240e265470fc2a928123a5

[2017-04-10 18:53] #472 closed

[2017-04-10 18:59] pdcoded opened #514 "Intuitive explaination of stride"
Can someone give me an intuitive explanation of stride concept? If stride =2, will rnn skip through one step at a time for the features generated from mfcc while unrolling?

[2017-04-10 19:03] reuben commented on #514
Yep. Every other time step is ignoring when doing the convolutions. You can read more about convolutional layers here: http://cs231n.github.io/convolutional-networks/#conv

[2017-04-10 19:03] pdcoded opened #515 "Most critical hyperparameter tuning for Switchboard corpus"
I am working with a conversational speech corpus similar to Switchboard. What would be the most critical hyperparameter tuning to capture pitch and accent invariance ?

[2017-04-10 19:15] pdcoded commented on #514
Ok that part of the code is implemented in audio.py . What is tough to digest is the analogy to convolution here since in convolution,stride size is how much we shift the filter in each step across space.

[2017-04-10 19:21] reuben commented on #514
Sorry, I'm currently working on the Deep Speech 2 model and just assumed that's what you were talking about. On current master we implement something like a convolution stride by simply dropping every other time step from the input, which is the code you saw in audio.py. In DS2 we have actual convolutional layers.

[2017-04-10 19:22] pdcoded opened #516 "Convolution layer ahead of non-recurrent layers"
Has the team tried implementing convolution layer to capture the spatial invariance, ahead of the non -recurrent layers similar to the recent DeepSpeech-2 paper?

According to the code, will it bring in any major issues since I am planning to add a convolutional layer ahead of a non-recurrent layer? Planning to use something similar http://ttic.uchicago.edu/~haotang/speech/06707746.pdf

[2017-04-10 19:24] pdcoded commented on #514
Is there an active github link to DS2 or DS1 code is being slowly transformed to DS2 ?

[2017-04-10 19:25] pdcoded commented on #516
@reuben you would be the right person to answer since you are working on it :) Any heads up will be great :)

[2017-04-10 19:26] reuben commented on #514
The WIP branch is here, but I make no stability or functionality guarantees: https://github.com/mozilla/DeepSpeech/tree/ds2-v2

[2017-04-10 19:28] reuben commented on #516
I've linked to the WIP branch on your other issue. As for your second paragraph, I'd love to see what results you can get, it sounds like a very cool approach.

FWIW, the team is on the #vaani channel on irc.mozilla.org. GitHub issues are awkward for discussions so I figure I'd point you there. Instructions on how to connect are here: https://wiki.mozilla.org/IRC

[2017-04-10 19:33] pdcoded commented on #514
Great. Would love to see fast progress out there. Meanwhile, I will implement the convolution part and report you the stats :)

[2017-04-10 19:35] reuben commented on #514
I'm gonna close this issue as the question seems to have been answered.

[2017-04-10 19:35] #514 closed

[2017-04-10 19:35] pdcoded commented on #516
yea :)  But I am sure it will be equally useful for the community here when they will have a rich context and similar questions.

[2017-04-10 19:39] pdcoded commented on #373
@kdavis-mozilla any progress on this ? What is is reason behind dropout of current layer being (1- dropout) of previous layer ?

[2017-04-10 20:26] kdavis-mozilla commented on #373
The minus one has nothing to do with this issue. TensorFlow uses keep probabilities not dropout rates, thus the minus one.

This issue asks how does performance change when dropout is exchanged for batch norm.

[2017-04-11 06:23] kdavis-mozilla commented on #515
Training data with various pitches and accents is the best bulwark against overfitting an accent or pitch.

FWIW, the team is on the #vaani channel on irc.mozilla.org. GitHub issues are awkward for discussions so I figure I'd point you there. Instructions on how to connect are here: https://wiki.mozilla.org/IRC

[2017-04-11 06:23] #515 closed

[2017-04-11 07:56] pdcoded commented on #515
Sure :)

[2017-04-11 08:16] pdcoded opened #517 "Tensorboard -summaries is not capturing train and validation loss,WER"
I am running tensorboard after a batch of training . But I dont see the loss curve over epochs. Do I have to specifically add that summary after each epoch run ?

[2017-04-11 10:19] kdavis-mozilla commented on #517
Currently there's no variable for `loss`. So `log_variable()` does not log the value.

If you want `loss` to appear in Tensorboard , you have to explicitly add a `loss` summary. A similar statement is true of WER.

[2017-04-11 10:19] #517 closed

[2017-04-11 12:09] #496 closed

[2017-04-11 20:41] ApexNDSU opened #519 "Issue while running run-swb.sh"
Hello,
I am new to Tensorflow and speech recognition. I was trying to run bin/run-swb.sh file and getting this InvalidArgumentError. I was able to successfully run ldc93s1.sh.  I am not able to figure out the root cause. Could anyone please help on this? I am running it on Tensorflow 1.0.1 and python 3.5
And also does #511 fix would help with this issue too?
Thanks in advance.

+ '[' '!' -f DeepSp

[2017-04-11 22:02] reuben commented on #519
This is the same problem as issue #511. You need to do `rm -r ~/.local/share/deepspeech` because LDC93S1 uses a model of a different shape, so restoring the weights fails.

[2017-04-11 22:02] #519 closed

[2017-04-12 15:00] arpit601 opened #520 "Error while deploying the code on google cloud ML #urgent"
Has anyone run this code on google cloud ML ?

I am getting errors while running this code on google cloud ML

[2017-04-12 15:11] kdavis-mozilla commented on #520
I haven't. Could you post the errors you are seeing?

[2017-04-12 16:26] deepika537 opened #521 "ZeroDivisionError while running run-swb.sh"
+ '[' '!' -f DeepSpeech.py ']'
+ python3 -u DeepSpeech.py --importer LDC97S62 --train_batch_size 48 --dev_batch_size 32 --test_batch_size 32 --epoch 50 --learning_rate 0.0001 --validation_step 10 --display_step 10 --dropout_rate 0.30
skipping maybe_convert_wav
skipping maybe_convert_wav
skipping maybe_convert_wav
skipping maybe_convert_wav
skipping maybe_split_wav
skipping maybe_split_wav
skipping

[2017-04-12 16:39] arpit601 commented on #520
![image](https://cloud.githubusercontent.com/assets/20820575/24968945/a710727e-1fcc-11e7-9d17-9c4e93b1ea75.png)

[2017-04-12 16:41] arpit601 commented on #520
This is the command which I passed in google cloud ML

gcloud ml-engine jobs submit training deep11
--job-dir gs://model-development/arpit/DeepSpeech/output/
--module-name trainer.DeepSpeech
 --package-path trainer
--region us-central1
--
--importer ldc93s1
 --train_batch_size 1
--dev_batch_size 1
--test_batch_size 1
--n_hidden 494
--epoch 10

[2017-04-12 16:44] arpit601 commented on #520
The trainer package for job in google cloud ML had DeepSpeech.py, Util folder and __init__.py

[2017-04-12 16:59] kdavis-mozilla commented on #520
I haven't used Google Cloud ML, but it looks like the path form which the code is running is not the root directory of the repo so it can't find the module `util.gpu` I don't know how to fix this on Google Clould ML, but this might be a hint as to what to do.

[2017-04-12 16:59] lissyx commented on #520
I don't know about Google Cloud ML, but the command line you provided would make me think it directly executed the DeepSpeech module. Which should be fine, by itself. Is it possible that you need to add more `--package-path` statements ? Because maybe this is why it cannot find the `util.gpu` module.

Like:
`[...] --package-path trainer --package-path trainer/util [...]`

Where does that `trainer`

[2017-04-12 17:02] kdavis-mozilla commented on #521
Dumb question, but do you have the LDC97S62 data set?

[2017-04-12 17:11] arpit601 commented on #520
Thanks for your reply. This is how we have to structure our code in order it to run on google cloud. ![image](https://cloud.githubusercontent.com/assets/20820575/24970143/dc4c3a32-1fd0-11e7-94c0-750a4997ab4b.png)

This is the link to understand how we have to structure our code and what does module and package mean...May be you can have a look at it.....
https://cloud.google.com/ml-engine/docs/how

[2017-04-12 17:27] lissyx commented on #520
The other thing you could try is modifying `sys.path` ; you can find an example in some files in `bin/`

[2017-04-12 17:44] pdcoded opened #522 "Testing epoch issue"
So I have trained the model on TED data for 10 epochs. Just wanted to re-confirm few things
1) So it trains on 0-9 epoch and the results printed for 10th epoch is for testing data as shown on the console?
2) Now I have saved my checkpoint. If I dont change the epoch,it essantially does testing again ?
3)If I change my testing data folder to a new dataset, and start it from the same checkpoint, wil

[2017-04-12 18:35] nomadiccoder opened #523 "is GPU must to execute this code"
Hi Team,
   I am trying to execute the script DeepSpeech.py but it fails with error
Traceback (most recent call last):
  File "DeepSpeech.py", line 29, in <module>
    from util.spell import correction
  File "/Users/boredmgr/work/speech-rnd/DeepSpeech/util/spell.py", line 3, in <module>
    import kenlm
ImportError: No module named kenlm

so the query : Is GPU a requirement to execute this script

[2017-04-12 18:46] kdavis-mozilla commented on #523
You need to install kenlm. See the [Install](https://github.com/mozilla/DeepSpeech#install) section of the README.md.

[2017-04-12 18:46] #523 closed

[2017-04-12 19:06] pdcoded commented on #522
Need some help here @kdavis-mozilla @reuben

[2017-04-12 20:07] deepika537 commented on #521
No. I do not have LDC97S62 data set. Where can I get the data set?

[2017-04-12 21:11] kdavis-mozilla commented on #521
You have to purchase it[[1](https://catalog.ldc.upenn.edu/ldc97s62)]. It's maybe better to use the TED data set as it's free[[2](http://www-lium.univ-lemans.fr/en/content/ted-lium-corpus)].

[2017-04-12 21:11] #521 closed

[2017-04-13 00:16] #511 closed

[2017-04-13 09:28] kdavis-mozilla commented on #522
1. Results are printed for the tests applied after the 9th epoch finished but before the 10th starts both being 0 based.

2. What do you means by "change the epoch"?

3. I'm not sure if I know what you mean by "change my testing data folder to a new dataset". But I assume you mean you change the test data set. With that assumption, it's completely dependent on the new data set how long the test wi

[2017-04-13 09:28] #522 closed

[2017-04-14 02:00] jacobjennings commented on #435
I'm curious how large a trained model from a large dataset like TED is on disk, as a rough estimate?

[2017-04-14 02:18] gvoysey commented on #435
I have a trained librivox model which is ~800 MB.  I've found deepspeech2 implementations on other systems (torch) that are ~600 MB.    These facts are anecdata. :)

[2017-04-15 07:50] pdcoded commented on #408
Any more updates on this critical piece ?

[2017-04-15 07:53] pdcoded opened #526 "How to print the output of only the acoustic model ?"
I am in the process of improving the language model but for that I want to see the output of acoustic model separately to make an assessment of how bad/good the output becomes after adding the language model.

[2017-04-15 09:38] pandeydivesh15 opened #527 "2 GB NVIDIA Graphics Card"
The project's [README](https://github.com/mozilla/DeepSpeech/blob/master/README.md) suggests using a GPU with a minimum of 8 GB VRAM. Is this a strict restriction? I mean, I have previously used my 2 GB graphics card for some tasks. I am only testing Deep Speech with small datasets on my laptop, so will 2 GB GPU create problems ?

Note: Currently, I am using Deep Speech on CPU.

[2017-04-15 09:48] pandeydivesh15 opened #528 "Segmentation Fault in the end of training"
This may be a silly question, but still I wanted to know about this.
I am runnning the following command (also given in /bin/run-ldc93s1.sh script).
[code]

The Deep Speech model is running without any problem, but towards the end of the program, I am getting Segmentation Fault error.
[code]

Any thoughts?

[2017-04-15 13:03] kdavis-mozilla opened #529 "Link to native_client README.md is wrong"

[2017-04-15 13:07] #529 closed

[2017-04-15 13:16] kdavis-mozilla commented on #526
Remove the line [DeepSpeech.py#L693.](https://github.com/mozilla/DeepSpeech/blob/master/DeepSpeech.py#L693)
[code]
and replace it with
[code]

[2017-04-15 13:16] #526 closed

[2017-04-15 13:20] kdavis-mozilla commented on #527
If you're not using the GPU, a good GPU is not required.

However, if you want to train on larger (1000 hours) data sets, a good GPU will be required to train in a reasonable (week or less) time frame.

[2017-04-15 13:20] #527 closed

[2017-04-15 13:22] kdavis-mozilla commented on #528
This is a know problem and a duplicate of issue #440 You can take a look at #440 for more info.

However, one should note that the run will complete fine, the problem is only how the code shuts down.

[2017-04-15 13:22] #528 closed

[2017-04-15 14:29] kdavis-mozilla commented on #520
@arpit601 If you find a solution can you propose additional text to add to our wiki here[[1](https://github.com/mozilla/deepspeech/wiki#how-can-i-train-on-amazon-awsgoogle-cloudmlmy-favorite-platform)]?

[2017-04-15 14:30] kdavis-mozilla commented on #516
@pdcoded I'm going to close this. Search engines should still be able to find it.

[2017-04-15 14:30] #516 closed

[2017-04-15 14:32] kdavis-mozilla commented on #510
@msobhan69 I'm going to close this as inactive

[2017-04-15 14:32] #510 closed

[2017-04-15 14:33] kdavis-mozilla commented on #416
@Tangzy7 I'm going to close this as inactive.

[2017-04-15 14:33] #416 closed

[2017-04-15 14:35] kdavis-mozilla commented on #295
Fixed with #506

[2017-04-15 14:35] #295 closed

[2017-04-16 17:47] varunravi commented on #520
I'm having a problem installing the dependency cryptography since cryptography relies on packages that can be received through apt-get. Were you able to find a way to get those modules installed on google ml? Since it can't be installed through pip

[2017-04-16 19:11] kdavis-mozilla commented on #520
@arpit601 maybe you can help @varunravi? We've never used the code on Google Cloud ML.

[2017-04-17 06:20] arpit601 commented on #520
@varunravi this is where even i am stuck as of now. I am trying out few things, will update you if i am able to solve it. ...

[2017-04-17 06:46] arpit601 commented on #520
@varunravi  check out this link
 http://stackoverflow.com/questions/43392866/cryptography-packafe-installation-error-on-google-cloud-ml/43421075#43421075

[2017-04-17 07:28] arpit601 commented on #520
Can you share your setup.py file ???

[2017-04-17 14:26] varunravi commented on #520
[setup.zip](https://github.com/mozilla/DeepSpeech/files/925727/setup.zip)

Sure @arpit601 I'm currently stuck with the failed cryptography build and I've tried implementing the code given on the so thread with no luck.

![screen shot 2017-04-17 at 7 21 00 am](https://cloud.githubusercontent.com/assets/6137926/25091560/b0ad85ea-233e-11e7-92f0-d35490cbb8ca.png)

@kdavis-mozilla Thanks for the respon

[2017-04-17 14:54] arpit601 commented on #520
@varunravi  in your setup.py add 'pypi-kenlm==0.1.20160618' in required packages

[2017-04-17 15:05] arpit601 commented on #520
I have been able to install cryptography but i am stuck with spell.py now. I am getting an error where it is not able to find the file (./data/spell/words.txt)

[2017-04-17 16:08] varunravi commented on #520
@arpit601 did adding kenlm fix the cryptography error?

I'm not sure if I'm right about this but I think you need to upload the data files onto the cloud and then point it to the cloud when passing on the parameters. This is what my terminal commands looks like

BUCKET_NAME="speech10"
JOB_NAME=deepspeech_single_11
OUTPUT_PATH=gs://$BUCKET_NAME/$JOB_NAME
REGION=us-central1
TRAIN_DATA=gs://$BUCKET_N

[2017-04-17 16:29] arpit601 commented on #520
@varunravi Yes, I have already given these arguments and you need kenlm in order to run this code. Yes after adding this to your fsetup.py file, I was able to run the code.

[2017-04-17 17:07] shahinkl opened #531 "Error while running run-librivox.sh script"
I STARTING Optimization
E label SparseTensor is not valid: indices[246] = [7,90] is out of bounds: need 0 <= index < [12,90]
E 	 [[Node: tower_0/CTCLoss = CTCLoss[ctc_merge_repeated=true, preprocess_collapse_repeated=false, _device="/job:localhost/replica:0/task:0/cpu:0"](tower_0/Reshape_7, tower_0/ToInt64, tower_0/Gather, tower_0/Gather_DequeueMany:1)]]
E
E Caused by op 'tower_0/CTCLoss', defined

[2017-04-17 17:31] varunravi commented on #520
@arpit601 can I get your setup.py? mine still doesn't seem like it wants to work.

[2017-04-18 05:55] kdavis-mozilla commented on #531
@shahinkl Are you running using the latest master?

The line numbers in your log don't match with those of `DeepSpeech.py`.

[2017-04-18 06:03] arpit601 commented on #520
[setup.py.zip](https://github.com/mozilla/DeepSpeech/files/927462/setup.py.zip)

Here is the setup file.

[2017-04-18 06:08] shahinkl commented on #531
Yes. I am running with the latest master.
The line number difference is because of slight formatting by the IDE.

[2017-04-18 06:27] kdavis-mozilla commented on #531
@shahinkl Were there any problems when you ran `bin/import_librivox.py`? I'm wondering if the librivox data is corrupted.

[2017-04-18 06:39] kdavis-mozilla commented on #520
@arpit601 and @varunravi Once you've sorted this out would one, or both of you, be interested in contributing an entry to our Wiki[[1](https://github.com/mozilla/deepspeech/wiki#how-can-i-train-on-amazon-awsgoogle-cloudmlmy-favorite-platform)]? None of us within Mozilla have used our code on Google Cloud ML. So you are the experts on this.

[2017-04-18 06:51] shahinkl commented on #531
I haven't touched that part. For sake of easiness please find the error logs with correct line numbers.

E label SparseTensor is not valid: indices[159] = [4,90] is out of bounds: need 0 <= index < [12,90]
E 	 [[Node: tower_0/CTCLoss = CTCLoss[ctc_merge_repeated=true, preprocess_collapse_repeated=false, _device="/job:localhost/replica:0/task:0/cpu:0"](tower_0/Reshape_7, tower_0/ToInt64, tower_0/Ga

[2017-04-18 06:53] kdavis-mozilla commented on #531
What do you mean by:

You did run `bin/import_librivox.py` correct?

[2017-04-18 06:55] shahinkl commented on #531
I meant that I haven't changed anything there.
I did run bin/import_librivox.py to collect the dataset.

[2017-04-18 06:56] shahinkl commented on #531
Let me also do a fresh re-run to check the data inconsistency.

[2017-04-18 06:59] kdavis-mozilla commented on #531
Before you try that try removing old checkpoints
[code]

[2017-04-18 07:04] arpit601 commented on #520
@kdavis-mozilla Sure. I would definitely write once I am done with it.

[2017-04-18 10:08] tilmankamp opened #532 "requirements.txt misses pandas entry"

[2017-04-18 10:10] tilmankamp opened #533 "Importer scripts should be executable"
There is a Python-Shebang at the top of each `bin/importer_*` script, but no execution flag set.

[2017-04-18 10:12] pdcoded opened #534 "checkpoint issue"
Right now I can see in my checkpoint file of checkpoint directory that there are 5 checkpoints .How can I  start testing the model when the validation loss was least . I didnt stop the training process and validation loss kept on increasing. I know the epoch number for that least validation loss step.

2)How to increase number of checkpoints that get saved ? Does it save checkpoint after every che

[2017-04-18 10:22] #532 closed

[2017-04-18 10:46] #533 closed

[2017-04-18 10:46] tilmankamp commented on #534
@pdcoded
1) Unfortunately we have no early stopping implementation yet. For now you have to manually observe your training's loss progress. Would be a great contribution. I'll open an issue for this.
2) At the moment there is no direct code/variable to increase the number of saved checkpoints. One could pass a custom [CheckpointSaverHook](https://www.tensorflow.org/api_docs/python/tf/train/Checkpo

[2017-04-18 10:59] tilmankamp opened #537 "Ability to specify number of checkpoints that are kept in checkpoint dir"
Pass a [CheckpointSaverHook](https://www.tensorflow.org/api_docs/python/tf/train/CheckpointSaverHook) instance with a custom `Saver` to `MonitoredTrainingSession` and expose the saver's `max_to_keep` property as a `FLAGS` variable.
As discussed in https://github.com/mozilla/DeepSpeech/issues/534 .

[2017-04-18 11:04] tilmankamp opened #538 "Early stopping"
Provide an ability to automatically stop training in case of performance on validation data deteriorates, or ceases to improve (for a given number consecutive epochs or steps).

Discussed in https://github.com/mozilla/DeepSpeech/issues/534 .

[2017-04-18 11:48] joyousrabbit opened #539 "layer_1 full connection vs conv2d"
Hello, why at layer_1 the full connection? Considering the full_connection is very heavy, is the traditional conv2d & pool_max a better choice?

I read the deepspeech paper but no details.

Hope reply thanks.

[2017-04-18 11:49] joyousrabbit opened #540 "mfcc 26 vs 80"
Hello, I read in the deepspeech paper that it used a 80 array vector as feature. In your project it's only 26 quite less than 80, will it causes the drop down of performence?

[2017-04-18 11:53] arpit601 commented on #520
@varunravi  any updates ?

[2017-04-18 11:58] kdavis-mozilla commented on #539
The Deep Speech paper[[1](https://arxiv.org/abs/1412.5567)] uses a fully connected first layer, see section 2 of the paper.

We are also implementing Deep Speech 2 variants[[2](https://github.com/mozilla/deepspeech/tree/ds2-v2)][[3](https://arxiv.org/abs/1512.02595)] which include convolutional layers.

[2017-04-18 11:58] #539 closed

[2017-04-18 12:01] kdavis-mozilla commented on #540
We use different features MFCC vs their homegrown features. So the 80 vs 26 is a bit apples vs oranges.

As to if it causes a drop in performance, I'm not sure as we've not implemented their homegrown features.

[2017-04-18 12:10] joyousrabbit commented on #539
@kdavis-mozilla Hello Davis, thanks for fast reply. Which one do you think is better? Did you do some experiment for the comparation?

[2017-04-18 12:15] kdavis-mozilla commented on #539
We currently don't have any results for Deep Speech 2 as there's a bug in the Batch Norm implementation we're currently trying to work around.

However, we assume the Deep Speech 2 architecture will perform better.

[2017-04-18 12:19] joyousrabbit commented on #539
@kdavis-mozilla Yes, should I also change the full connection of deepspeech 1 (this project) to the conv2d&poolmax for a better performence and lighter weights?

[2017-04-18 12:20] #534 closed

[2017-04-18 12:23] kdavis-mozilla commented on #539
@joyousrabbit No we're purposely keeping the two architectures separate to cleanly compare performance

[2017-04-18 12:33] kdavis-mozilla commented on #539
@joyousrabbit However, if your interested in benchmarking various architectures. We've several experiments[[1](https://github.com/mozilla/deepspeech/issues?q=is%3Aopen+is%3Aissue+label%3A%22server+time%22)] we want to bechmark but are on hold while we wait for our new hardware.

If you have questions about any one of the experiments, which are only lightly documented, feel free to comment on the a

[2017-04-18 12:37] joyousrabbit commented on #539
@kdavis-mozilla Sure, thanks, I just think the full connection is very heavy, for 26x19x2048 maybe OK, but if we have larger features ...

[2017-04-18 13:58] reuben opened #541 "README needs to be updated to mention recent importer changes"

[2017-04-18 19:12] varunravi commented on #520
@arpit601 still getting the cryptography error, added that line of code in. Going to try again later today.

[2017-04-18 19:13] varunravi commented on #520
And I was getting the word error when I didn't have the data folder in the parent directory when running the local run. Not sure about the cloud though

[2017-04-18 19:20] arpit601 commented on #520
I have been able to solve this error but cloud ml is not able to read this file. It gives permission denied error to read this file.

[2017-04-18 23:48] varunravi commented on #520
Tried doing it from scratch again...no idea why the cryptography error doesn't seem to go away.

https://github.com/varunravi/DeepSpeech
I've forked my folder if you don't mind taking a look. runjob.sh contains the gcloud train commands.

Not sure why it isn't letting you read the file. If you haven't already maybe try pointing directly at the .csv like I did in my runjob.sh.

[2017-04-19 07:51] arpit601 commented on #520
I think you need to put util folder inside the trainer folder and then try to run it on cloud ML.

[2017-04-19 11:14] kdavis-mozilla opened #543 "Crash occurs on training/validation phase changes"
Causes our server to reboot. However leaves no trace in the syslog, e.g. crash occurred right before Apr 18 23:58:59:
[code]
This problem is likely similar to that of issue #340

[2017-04-19 13:54] pdcoded opened #544 "Invalid Argument Error"
I am trying to implement the ds2-v2 branch. Made few necessary changes in the code but  facing one issue "InvalidArgumentError (see above for traceback): You must feed a value for placeholder tensor 'is_training' with dtype bool " which I am not able to debug. Any help will be really appreciated .

[2017-04-19 14:41] pdcoded commented on #544
@reuben any help here ?

[2017-04-19 14:45] kdavis-mozilla commented on #544
Do you mean you are trying to "run" or do you mean you are trying to "implement" the ds2-v2 branch?

I assume "run". If this is the case, can you post the traceback? It's not posted in your issue.

[2017-04-19 14:46] reuben commented on #544
I can't help as I don't know what changes you made to the code. I haven't encountered that error.

[2017-04-19 20:39] pdcoded commented on #544
I have done a pull request with minor edits to the code I had made.Pretty noob in version control so spare me. Here is the traceback of the error. Got the same error on both my mac and Ubuntu machine.
Prabhudattas-MacBook-Pro:DeepSpeech pd$ ./bin/run-ldc93s1.sh
+ '[' '!' -f DeepSpeech.py ']'
+ '[' '!' -f data/ldc93s1/ldc93s1.csv ']'
+ python -u DeepSpeech.py --train_files data/ldc93s1/ldc93s1.csv

[2017-04-20 01:59] pdcoded commented on #544
@kdavis-mozilla implementing ds2-v2 branch using ./bin/run-ldc93s1.sh .

[2017-04-20 09:56] kdavis-mozilla opened #546 "Queue threads not properly shutdown"

[2017-04-20 10:42] shahinkl commented on #531
Looks like a data issue. Working perfectly in the re-run.
Thanks a lot for your help.

[2017-04-20 10:48] kdavis-mozilla commented on #531
Welcome!

[2017-04-20 10:48] #546 closed

[2017-04-20 14:45] pdcoded commented on #544
any update on this ? Not able to run the ds2-v2 branch of ldc93s1 code @reuben

[2017-04-20 16:28] pdcoded commented on #479
Hey @hoagy-davis-digges , seems that you have sucessfully ran the ds2-v2 branch on ldc93s1 data . I am getting a weird Invalid argument error . here is the traceback ..can you help out or point to the code commit branch that worked for you

    '[' '!' -f DeepSpeech.py ']'
    '[' '!' -f data/ldc93s1/ldc93s1.csv ']'
    python -u DeepSpeech.py --train_files data/ldc93s1/ldc93s1.csv --dev_files dat

[2017-04-21 00:07] jacobjennings opened #548 "Interested in benchmarks (client)"
Preface: I'm new to ML, go easy :)

I'm very exited to hear that large trained models will be published soon. I'm curious about one thing, since I'm working with constrained hardware. For a larger trained model (600-1000 Mb), I'd love to see a benchmark of "seconds of speech processed per second" on any system as a baseline. Particularly, I'm interested to see if a DeepSpeech client is in the real

[2017-04-21 05:02] kdavis-mozilla commented on #548
Our goal is to allow for off-line speech applications, e.g. iPhone ot Raspberry Pi 3. As part of that we're working on compressing models using quantization (32 bits to 8 bits) and [SVD](https://en.wikipedia.org/wiki/Singular_value_decomposition).

However, it's a bit early for us to start publishing benchmarks as we're still in the process of finalizing our architecture and means of quantization.

[2017-04-21 15:13] kdavis-mozilla commented on #544
@pdcoded this is @reuben code and he's off from work today, but he can take a look on Monday.

From a quick look it seems as if the placeholder `is_training` is not properly set. My guess is that one has to set this boolean value in the `feed_dict` passed to the `Session.run` call to either true or false dependent upon if one is training or not.

[2017-04-21 23:22] captainnurple commented on #548
Hi @kdavis-mozilla, curious what your ROUGH timeline estimate is for off-line recognition esp. on mobile device. Thanks!

[2017-04-22 10:26] pdcoded commented on #544
yeah seems like that though this part of the code
is_training = job.set_name == 'train'
does the same thing essentially.

@reuben can you look at the code when you get time.

[2017-04-22 10:28] pdcoded opened #550 "Why is the batch normalization branch code slow ?"
It supposed to be faster than dropout configuration by theory. But it seemed to be fairly slower on the ldc93s1 data.

[2017-04-22 13:02] kdavis-mozilla commented on #550
I think you're comparing the ldc93s1 test on master to the DS2 code. The ldc93s1 is a much smaller network

[2017-04-22 13:02] #550 closed

[2017-04-22 18:24] pdcoded commented on #550
No no @kdavis-mozilla  . I am comparing bnlstm branch to master on the same ldc93s1. And the training time is much slower in bnlstm. What's the reason? Any specific performance comparison you have ?

[2017-04-22 20:11] kdavis-mozilla commented on #550
As I mentioned before ldc93s1 is a much smaller network. The ldc93s1 network has a width of 494[[1](https://github.com/mozilla/DeepSpeech/blob/master/bin/run-ldc93s1.sh#L22)]. The bnlstm network has a width of 2048[[2](https://github.com/mozilla/DeepSpeech/blob/bnlstm/DeepSpeech.py#L186)].

[2017-04-22 20:55] pdcoded commented on #550
Didn't happen to check that :) Any performance comparison of both that has been done?

[2017-04-23 16:39] kdavis-mozilla commented on #550
When both networks made about the same size the DS2 architecture is faster. We haven't done a detail analysis as the DS2 architecture is still under development.

[2017-04-23 18:40] pdcoded commented on #550
Also any update onto when can expect first stable version of DS2 ?

[2017-04-23 18:56] kdavis-mozilla commented on #550
@pdcoded discussion like this should be handled on the IRCH channel

[2017-04-23 20:07] varunravi commented on #520
hey @arpit601 Did you end up getting the trainer to read word.txt

[2017-04-24 06:47] arpit601 commented on #520
No. I am still facing that error.

[2017-04-24 07:31] pdcoded commented on #550
sure . Doing that

[2017-04-24 10:05] braindead opened #551 "Coordinator stopped"
The following exception occurs during training, during the validation loss calculation

[code]

[2017-04-24 14:59] kdavis-mozilla commented on #548
Very rough, next 3-6 months.

[2017-04-24 16:26] pdcoded opened #552 "understanding test epoch"
When I run the ldc93s1 dataset , I am unable to understand the logic to why it sometimes skips printing src and res for test ? Also sometimes when you rerun from a checkpoint , it weirdly skips to a epoch 700 or 800 when I haven't trained it on that many epochs even

[2017-04-24 16:29] kdavis-mozilla commented on #552
If WER=0 it does not print src and res.

I've never seen it skip to epoch 700-800. Could you remove the existing checkpoint, reproduce the strand skipping results, and post the steps to repo here? Thanks.

[2017-04-24 17:13] guevaralb commented on #551
I got the same trouble, Im testing with spanish phrases, I think that accentued words trigger this error in my case...

[2017-04-24 18:20] kdavis-mozilla commented on #551
@guevaralb Code changes are required to deal with accents. So, there is no expectation that accented text will work. What @braindead is seeing is something else.

[2017-04-24 19:46] pdcoded commented on #552
Okay would reproduce the steps and post it . If WER is zero it doesnt print but can I enable it ? Also does it include the zero WER while averaging out the results ?

[2017-04-24 19:49] reuben commented on #552
Use the [source](https://github.com/mozilla/DeepSpeech/blob/a2731a3e9e331aa712544bd4c7e1938b8f46bf0d/DeepSpeech.py#L683-L714), Luke.

[2017-04-24 19:50] ApexNDSU commented on #433
Hello @tongda,
Actually I am getting the same issue while trying to run DeepSpeech files with ted-lium release1 dataset.
Did you get a solution by any chance on this? Thank you.

[2017-04-24 20:29] pdcoded commented on #544
any help here @reuben?

[2017-04-24 20:29] pdcoded commented on #552
Thanks @reuben . worked out ! Posting the other issue soon.

[2017-04-25 05:21] tongda commented on #433
@ApexNDSU No progress. I just change to release 2 dataset because lack of time. But I hope to look into it when I am free.

[2017-04-25 05:40] antho-rousseau commented on #433
Hi there, author of TEDLIUM 1&2 here.
TBH, I don't really see the point in wanting to use only release 1 when you have release 2 which contains everything release 1 has to offer with even more talks in it.
And to complete the answer, there is no real structural difference between releases 1&2, besides more talks, so IMHO the root cause of your issue lies elsewhere. The only difference maybe is the

[2017-04-25 13:13] reuben commented on #544
That part of the code is not where the error is coming from, it's from the previous session.run call that restores the initial training step.

[2017-04-25 13:15] reuben commented on #544
Fixed in commit fa64815.

[2017-04-25 13:15] #544 closed

[2017-04-25 17:12] ApexNDSU commented on #433
Thank you both for your reply.
For me the reason to prefer release 1 was because of its smaller size. I was getting OOM error with release 2 and reducing the batch size will take even longer time to train. I will try your option @antho-rousseau. Thank you!

[2017-04-25 17:21] kdavis-mozilla commented on #433
@ApexNDSU The OOM can be removed by using a smaller batch size. The OOM is independent of the size of the corpus, TED v1 vs TED v2.

Training time _is_ dependent upon corpus size. However, you can use the command line parameters[[1](https://github.com/mozilla/DeepSpeech/blob/master/DeepSpeech.py#L85)]

- `limit_train` - maximum number of elements to use from train set - 0 means no limit
- `limit_d

[2017-04-25 17:47] ApexNDSU commented on #433
Yes,I can limit the corpus size. Thank you so much @kdavis-mozilla
Just a quick concern. If I do so, i won't have a WER to compare and check with right?  Also may I ask the WER for Ted v2 that you have got?

[2017-04-25 17:59] kdavis-mozilla commented on #433
@ApexNDSU In limiting the corpus size you can compute WER as before.

However, WER comparisons with other full TED v2 runs will unfortunately be an apples vs oranges comparison.

We've done preliminary TED v2 WER work training on the full TED v2 training data set and got WER's in the mid 20%. But we didn't take much time to tune our language model, which needs work, or to use multiple decoder resu

[2017-04-25 18:02] ApexNDSU commented on #433
Agree. Thank you so much for the clarity @kdavis-mozilla

[2017-04-26 09:41] #548 closed

[2017-04-26 09:42] #540 closed

[2017-04-26 10:03] kdavis-mozilla commented on #551
@braindead Did this occur with code that included 843f55d?

In other words, I'm wondering if 843f55d fixes this problem as 843f55d registers the threads with the Coordinator and thus should cause the Coordinator to wait on the registered threads.

[2017-04-26 10:07] braindead commented on #551
@kdavis-mozilla Yes, my local brach has the sha 843f55dbe2f270ffa43c7e21d679bf9b0313cf24

[2017-04-26 10:08] kdavis-mozilla commented on #551
@braindead Thanks for the info! So, must be something else.

[2017-04-26 10:16] braindead commented on #551
I think it started happening after 96ebba516f4d5aeb7edec1d394dca4bf167883df. The first 10 epochs didn't have this issue. After I pulled 96ebba516f4d5aeb7edec1d394dca4bf167883df this started.

[2017-04-26 10:50] pdcoded commented on #552
I am not able to reproduce the issue. It can be closed till I reproduce it again.

[2017-04-26 11:19] #552 closed

[2017-04-26 11:42] kdavis-mozilla commented on #551
@braindead What version of TensorFlow are you using?

[2017-04-26 11:49] braindead commented on #551
@kdavis-mozilla 1.01.

[2017-04-27 12:06] machuanli commented on #551
I got this problem.
[code]
It shows that the kenlm is not imported successfully, what should I do to tackle it?

[2017-04-27 12:09] lissyx commented on #551
Given the import error, I would put my money on discrepency wrt C++11/Strings stuff ; see https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html

[2017-04-27 12:32] kdavis-mozilla opened #555 "kenlm is not imported successfully"
@machuanli got this problem.
[code]
It shows that the kenlm is not imported successfully, what should I do to tackle it?

[2017-04-27 12:33] kdavis-mozilla commented on #555
Given the import error, I would put my money on discrepency wrt C++11/Strings stuff ; see https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html

[2017-04-27 12:33] kdavis-mozilla commented on #551
@machuanli As this is not related to the Coordinator stopped issue I've opened #555 to cover your problem.

[2017-04-27 12:34] kdavis-mozilla commented on #555
@machuanli @lissyx

[2017-04-27 13:38] kdavis-mozilla commented on #555
@machuanli I've got to agree with @lissyx this seems like a problem with C++11 strings and is related to kenlm installation[[1](https://github.com/kpu/kenlm#installation)] as opposed to the code in this repo.

[2017-04-27 14:27] machuanli commented on #555
I recognized this:

`pandas

progressbar2

python-utils

tensorflow

numpy

scipy

paramiko

pysftp

sox

python_speech_features

pyxdg

bs4

six

https://github.com/kpu/kenlm/archive/master.zip`
does the order of the installation causes the problem？
I have installed kenlm before running this script

[2017-04-27 14:50] lissyx commented on #555
No, the order is unrelated. You should make sure that your Python 3.5 has been built with the same ABI as your kenlm module.

[2017-04-27 15:10] machuanli commented on #551
@kdavis-mozilla
forget to say, a warning occurred when I running setup.py,
does it make any sense?
And, after I had installed kenlm on another machine, it is imported successfully. The machine's information is as follows:
`machuanli@machuanli-All-Series:~$ python
Python 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "co

[2017-04-27 15:32] kdavis-mozilla commented on #551
@machuanli Could you copy your last comment in to issue #555?  Thanks

[2017-04-28 01:29] machuanli commented on #555
forget to say, a warning occurred when I running setup.py,
does it make any sense?
And, after I had installed kenlm on another machine, it is imported successfully. The machine's information is as follows:
Python 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul 2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.
so,

[2017-04-28 01:31] machuanli commented on #551
@kdavis-mozilla
ok,the comment is now in #555o

[2017-04-28 04:42] kdavis-mozilla commented on #551
@machuanli Thanks!

[2017-04-28 07:27] lissyx commented on #555
@machuanli We would need more detailed informations on your environment and the steps you followed to install kenlm to help you. Right now, there is nothing actionnable.

[2017-04-28 07:34] besanza2014 commented on #555
Hello, I'm also have a problem installing: pip install https://github.com/kpu/kenlm/archive/master.zip
This is part of the error:
C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\BIN\x86_amd64\cl.exe /c /nologo /Ox /W3 /GL /DNDEBUG /MD -I. "-Ic:\users\master engineer\appdata\local\programs\python\python35\include" "-Ic:\users\master engineer\appdata\local\programs\python\python35\include" "-

[2017-04-28 07:35] besanza2014 commented on #555
Running it on:
C:\Users\Master Engineer>python
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Thanks.

[2017-04-28 08:12] lissyx commented on #555
@besanza2014 this is a build issue unrelated to the problem documented on that issue. Please refer to kenlm docs on how to install that on windows ; we cannot help you with that.

[2017-04-28 12:18] sgt101 commented on #555
Hi all - don't know if this is related but I was having similar issues and suddenly realized that I hadn't included --proxy XXX.YYY.com:0000 in my pip install -r requirements on install.

[2017-04-28 18:53] sgt101 opened #556 "New importer scripts problems"
Hi, thanks for all your work on this project.

I am having trouble with the new importer scripts - I am behind a proxy and this seems to be the heart of the issue, but I've got confused by some references to python 3 in the comments and I've now got to a place where I'm not sure what's going on.

Have the importers been tested vs a proxy and do you have any advice about what to do? Also should I b

[2017-04-28 19:52] kdavis-mozilla commented on #556
We have not, to the best of my knowledge, tested them behind a proxy.

The code use to download the copora, for example for the TED corpus
[code]
uses the `base.maybe_download()` method from Tensorflow[[1](https://github.com/mozilla/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/datasets/base.py#L193)] which in turn uses `urllib` from `six.moves` and `urlretrieve`[[2](https://docs.py

[2017-04-29 06:30] sgt101 commented on #556
Thanks! That worked.

[2017-04-29 06:30] #556 closed

[2017-04-29 20:00] josabandal1993 commented on #444
Hi is this one already solved? I am also experiencing same problem I get an error:
"ImportError: /home/jakesabandal/anaconda3/lib/python3.6/site-packages/kenlm.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZTVNSt7__cxx1118basic_stringstreamIcSt11char_traitsIcESaIcEEE
"
when I ran python DeepSpeech.py --help

hope you can help me. Thanks.

[2017-04-30 19:17] aniketk1 commented on #555
I ran into a similar issue trying to run this on an Ubuntu EC2 instance. To solve it I ran "conda install gcc" and then followed the KenLM build instructions.

[2017-05-02 04:53] kdavis-mozilla commented on #444
@josabandal1993 Did you see the similar discussion[[1](https://github.com/mozilla/DeepSpeech/issues/555#issuecomment-298251035)] where a solution was proposed for anaconda.

[2017-05-02 10:09] Cwiiis commented on #471
Fixed by PR #554

[2017-05-02 10:09] #471 closed

[2017-05-02 10:11] arpit601 commented on #520
@varunravi  any success ?

[2017-05-02 10:14] Cwiiis opened #557 "Investigate why deepspeech.getMfccFrames doesn't outperform util.audio.audiofile_to_input_vector"
getMfccFrames does the equivalent of util.audio.audiofile_to_input_vector. It relies mainly on python_speech_features.mfcc.

c_speech_features.mfcc outperforms psf's by a considerable margin when compiled with optimisation, but getMfccFrames does not outperform audiofile_to_input_vector when built with our current build scripts, supposedly with optimisation. The margin to which it loses looks very

[2017-05-02 12:34] sgt101 commented on #541
Hi - just to comment on this, I've had a lot of trouble with my proxy and the new importers. I've self solved some of this by using urllib2 and not using base. maybe_download which seems to cal urllib and ends up producing a request that my proxy regards as malformed and therefore bounces (dunno why...)

I fully realize that this is to do with my setup and not the general experience but it might b

[2017-05-02 13:08] braindead commented on #541
I faced issued with the importer as well. It took a long time to download and didn't show the progress properly. I ended up wget'ing the tar.gz files separately and running the importer script afterwards. That created the csv files correctly.

[2017-05-02 13:59] Cwiiis commented on #557
I think this may be down to some eccentricities with how bazel builds things... Building with

"-c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --copt=-O2 --experimental_omitfp=true"

squashes the warnings that Tensorflow gives when compiled without optimisation, but I don't know that it affects the compilation of kissfft (which is the real driver for performanc

[2017-05-02 15:17] Cwiiis commented on #557
So handily, you can see what flags -mtune/-march affect by executing gcc like so:

gcc -march=native -mtune=native -Q --help=target

On my haswell core i7 laptop with gcc 6.3.1, all of the above -m* flags are redundant except -mfpmath=both when specifying -march=native. It seems like for good efficient performance, you'd want to compile with -march=native -mtune=native, but if you want to distribu

[2017-05-02 19:55] reuben commented on #541
Oops, I completely forgot about this issue. I created PR #558 fixing this. I didn't mention anything about the proxy issues because that part didn't change with the refactor, base.maybe_download was always used. I'm gonna mention that in the wiki instead.

[2017-05-03 12:10] Cwiiis commented on #557
So now having run various tests on my other machine, I'm pretty confused as to what's happening. Both are haswell i7's, one the desktop part and one the laptop part. The mfcc function outperforms python_speech_feature's on both, but by a much greater margin on the laptop. The getMfccFrames function significantly underperforms (~0.75x) on the desktop i7 part, pretty much regardless of what flags I

[2017-05-03 15:37] Cwiiis commented on #557
More interesting developments...

Exposing csf_mfcc in libdeepspeech bindings shows the exact same code operating at an approximate 10% performance deficit vs. c_speech_features. Even if kissfft is built with c_speech_features instead of in a separate library. I'm going to try to get c_speech_features linked statically with the bindings to see if that makes a difference...

I'm getting very close

[2017-05-03 19:33] pdcoded commented on #408
@kdavis-mozilla any updates on this issue? Currently the beam search decoder factors in the logit output from acoustic model only and not language model or word weighting if I am not wrong ?

[2017-05-03 23:43] aaronzira opened #559 "Training loss increasing"
Training DS2-V2 on TED with run-ted.sh, learning_rate = 0.0001, dropout_rate = 0.30, train/dev/test batch sizes = 8/4/4 and 16/8/8. Added a tf.summary.scalar() on the fourth and final output of get_tower_results (i.e., tf.reduce_mean(tower_avg_losses, 0)). Tensorboard graph of this value appears as follows (major drops are a restart and a new epoch):

![loss](https://cloud.githubusercontent.com/as

[2017-05-03 23:56] phasnox commented on #435
You know how long will it take to train with the TED dataset, if I have a GTX 1080?

[2017-05-04 04:22] varunravi commented on #520
@arpit601 I got it working by downloading the bin/data files locally onto the Google ML Machine.

I added the following lines to the top of spell.py in the util folder

I'm using google blobs to access files in my bucket
https://googlecloudplatform.github.io/google-cloud-python/stable/storage-blobs.html

datafiles.zip holds the folder data and bin, which gets extracted into the root directory of t

[2017-05-04 04:52] kdavis-mozilla commented on #435
@phasnox We use 4 Titan X's and it takes about 5 days. So, I'd guess on the order of 20 days.

[2017-05-04 05:00] kdavis-mozilla commented on #520
@varunravi Do you have suggestions as to how master could be changed to allow easy deployment on Google ML machines? (I think the above is a bit too specialized to your setup, for example the blobs in your bucket.)

[2017-05-04 05:13] kdavis-mozilla commented on #559
@aaronzira How do the normally logged loss outputs look

[2017-05-04 05:50] #541 closed

[2017-05-04 08:36] josabandal opened #560 "Deep Speech 2"
Hello, do you have model for Deep Speech 2 that is done in tensorflow??? Thanks.

[2017-05-04 09:24] pdcoded commented on #560
check out ds2-v2 branch @josabandal

[2017-05-04 10:06] arpit601 commented on #520
@varunravi can you please share your spell.py ?

[2017-05-04 13:14] tilmankamp opened #561 "Wrong urllib calls"
Calls to `urllib2` should get converted to `six.moves.urllib` ones.

[2017-05-04 13:26] #561 closed

[2017-05-04 13:53] varunravi commented on #520
[spell.py.zip](https://github.com/mozilla/DeepSpeech/files/976317/spell.py.zip)
@arpit601 Sure and yes I stored it in a google storage bucket.

@kdavis-mozilla I don't think this current setup is very efficient since it's downloading the data files from the cloud and onto the ML machine as opposed to reading it off the cloud. I'm still working on a solution to this, so I'll see if I can create an

[2017-05-04 13:54] kdavis-mozilla commented on #520
@varunravi Thanks for looking in to an easy means of deployment.

[2017-05-04 14:06] migueljette opened #563 "What kind of RTF should one expect?"
Hi there,

Just out of curiosity, what kind of RTF can one expect from your code?
I want to test it out, but I was curious to know ahead of time if the decoding is fairly fast.

Thank you!
Miguel

[2017-05-04 14:53] kdavis-mozilla commented on #563
It's hardware dependent.

[2017-05-04 14:56] migueljette commented on #563
Yes, sorry, I realize that.
Let's say I have a Titan X for decoding.
Also, let's assume I am decoding using a 5 inner layer DNN, with 1024 neurons in each layers.
I'm wondering, can RTF <0.1 be achieved?
I am currently using Kaldi's nnet3 (tdnn_lstm) setup and my RTF is more around 1 - 1.1.

[2017-05-04 15:13] kdavis-mozilla commented on #563
@migueljette I'm sure we can get RTF < 1.0 with a Titan X, but I don't know the exact number for the DS2 architecture. Also, I didn't know  Kaldi's nnet3 (tdnn_lstm) RTF is greater than 1.0 on a Titan X.

@reuben Do you know what the RTF is for the DS2 net you're currently working with?

[2017-05-04 15:16] migueljette commented on #563
@kdavis-mozilla Thanks for the comments. The RTF might be a little lower than 1, but I am never able to get it anywhere close to 0.1. I do have a pretty big LM and then i rescore using a larger LM... so maybe I am doing too many things to get 0.1 :) The DNN is pretty big too.

[2017-05-04 16:00] reuben commented on #563
I don't, in fact I haven't even updated the inference graph. I'll comment here when I have an answer.

[2017-05-04 19:04] finbarrtimbers commented on #508
Hey @davidyapdy, did you ever do the write up? I'm interested in running DS2 on FloydHub!

[2017-05-05 01:13] aaronzira commented on #559
Looks as expected for the 0th epoch:

[2017-05-05 05:07] kdavis-mozilla commented on #559
Does the loss decrease over many epochs? Could you post the entire log not just the first epoch?

[2017-05-05 09:50] arpit601 commented on #520
@varunravi I am not able to import storage from google.cloud .Is there any dependency that has to be installed for it ?

[2017-05-06 22:44] aaronzira commented on #559
Had to restart runs a few times and they were quite slow to begin with, so that's all I had at the time. Just started a fresh run with more GPUs that should move much quicker; will update when I have something more useful.

[2017-05-07 06:45] varunravi commented on #520
[setup.py.zip](https://github.com/mozilla/DeepSpeech/files/981345/setup.py.zip)
Yes you need google.cloud added in your setup.py

[2017-05-08 22:05] aaronzira commented on #559
There were a few hiccups in finding a batch size that wouldn't cause OOM issues, which explains the delay between "STARTING Optimization" and "Training of Epoch 1", the three drops in the "loss" graph, and the three spikes in the "WER" graph. From around 1.8k steps the run was executed with batch sizes of 8/4/4, without interruption except near the end of the 6th epoch in order to change the stop

[2017-05-08 22:07] aaronzira opened #565 "OOM errors from CPU or GPU?"
Having encountered errors such as the following with batch sizes of 32/16/16, 24/12/12, and 16/8/8 in my most recent runs ([#559](https://github.com/mozilla/DeepSpeech/issues/559) - 4 x GTX 1080Ti 11GB FE), and presumably of the same type as others ([#321](https://github.com/mozilla/DeepSpeech/issues/321),[#234](https://github.com/mozilla/DeepSpeech/issues/234), and [#239](https://github.com/mozil

[2017-05-09 04:23] kdavis-mozilla commented on #565
You're simply allocating more memory than your GPU has. You need to decrease the batch size.

[2017-05-09 04:23] #565 closed

[2017-05-09 07:46] kdavis-mozilla commented on #559
The overfitting can be combated through using fewer epochs or a larger dropout.

"accuracy"/"mean_edit_distance"[[1](https://en.wikipedia.org/wiki/Edit_distance)] is related to WER[[2](https://en.wikipedia.org/wiki/Word_error_rate)] be they are different things.

[2017-05-09 12:48] Cwiiis commented on #557
Pretty much narrowed down the problem now. There are multiple things;

* -fstack-protector causes slowness, we can get rid of this in nocopts.
* -fno-omit-frame-pointer causes a small amount of slowness, we can get rid of this in nocopts too.
* c_speech_features uses -O3 by default, which can make a significant difference. -c opt only uses -O2. We can specify this in copts (I don't know that we'd

[2017-05-09 13:08] lissyx commented on #555
@YaxiongMa Have you been able to get more informations on your issue ? Should we close this ? It's likely we might at the very least give more documentation, once we know what was wrong in your case.

[2017-05-09 13:11] Cwiiis commented on #557
So, specifically, -mfma causes a large speed hit, then both -mavx and -mavx2 cause significant speed hits, but not as hugely significant as -mfma. I will explicitly disable these features in the build file.

[2017-05-09 14:29] Cwiiis commented on #557
Ok, so results are now inline, except on my laptop everything is faster and on my desktop everything (including c_speech_features) is slower :) Given I've previously tested c_speech_features to be faster on this same machine, I've got some more digging to do... But at least whatever's still happening here is likely my fault rather than Bazel's.

[2017-05-09 14:56] Cwiiis commented on #557
So with the default parameter for numcep in mfcc, c_speech_features outperforms python_speech_features, but with the increased number we use in DeepSpeech, it underperforms, at least on my desktop (it's still faster on the laptop). That's the root-cause now, so I'll look at further optimisation of the mfcc function.

[2017-05-09 15:36] Cwiiis commented on #557
There was an obvious inner-loop optimisation for csf_mfcc, this issue is now comprehensively fixed :)

[2017-05-09 21:01] finbarrtimbers opened #567 "`serving_client` returns empty tensor"
I'm trying to get the model to work with Tensorflow Serving. I'm working with the commit where `serving_client` was introduced ([2740336d08](https://github.com/mozilla/DeepSpeech/tree/2740336d089b592f905e0236a686aa71096dd28f/serving_client)). I've got a trained version of the model, but when I try to make predictions using the `serving_client`, the results tensor is equal to

    dtype: DT_INT64 t

[2017-05-09 22:45] reuben commented on #559
AFAIK the increasing loss within the epochs is due to curriculum learning.
Later examples are longer and thus harder, so the last batches will have a
higher average loss than the first ones.

On May 9, 2017 4:46 AM, "Kelly Davis" <notifications@github.com> wrote:

[2017-05-10 00:48] YaxiongMa commented on #555
Hi~Iissyx, I am so sorry for not making a timely reply. I finally solved the problem. However, I cannot  remember what I have done specially because it is almost one week ago and I  didn't make a detailed note.
And I will write the answer of this issue here when I remember it later~
thanks a lot !

[2017-05-10 09:24] kdavis-mozilla commented on #567
@Cwiiis I'd guess you'd be the expert here.

[2017-05-10 10:52] Cwiiis commented on #567
The serving client is deprecated, but I'd recommend using a later commit, perhaps before it was removed, or the last commit that changed any of the files in that directory.

For this specific problem, I'd need more details to comment - How was the model trained and exported, what input is being used, does the model work as expected when called from the notebook, how was the serving client run, wha

[2017-05-10 16:07] dahlem opened #569 "Slow Training on Ted and 8 K80s"
Hi guys,

I'm training on the ted dataset on a p2.8xlarge instance on AWS. I compiled tensorflow from scratch, checked out DeepSpeech on the 5th of May.

5 days later I'm only on episode 2 and I noticed using "watch nvidia-smi" that the GPU utilisation is 0% a lot of the times and 99% for very short bursts. Any ideas how I can debug this, or whether this is expected?

Thank you.
Dominik

My run sc

[2017-05-10 16:21] finbarrtimbers commented on #567
Thanks. This is the last commit that changed any of the files in that directory (I believe).

I trained the model on the LDC93S1 dataset for 50 epochs and exported it using the default export mechanism. I'm trying to use the LDC93S1.wav file to make predictions. I used the same commit for everything.

I haven't tried the notebook, but I will.

The terminal output is a blank row:

[code]

[2017-05-10 20:43] aaronzira commented on #559
Awesome -- thank you!

Also, I was getting used to having run this with DeepSpeech1, but now I am wondering why we are making use of dropout at all in DeepSpeech2. It seems the flags are set up for DS1's architecture (dropout applied to all the feed-forward layers), despite the complete change of the graph in DS2 (no dropout, yes batch norm). Am I mistaken?

[2017-05-10 20:47] reuben commented on #559
There is no dropout in DS2, I just haven't updated the flags because the branch is a WIP and not intended for outside usage yet (although that doesn't seem to stop anyone :P).

I believe this issue can be closed now. Feel free to reopen if you think it hasn't been addressed.

[2017-05-10 20:47] #559 closed

[2017-05-11 04:55] kdavis-mozilla commented on #569
This is not expected. That said, we've also seen this before.

In our case, which I doubt is the same as yours, this behavior arose when our training machine crashed, was subsequently rebooted, and then training resumed while the machine was in the process of checking the file system.

For us once the file system was checked this GPU "ping pong" behavior disappeared.

[2017-05-11 11:08] Cwiiis commented on #567
Sorry to ask the obvious questions, but you've started the server I assume? (as documented in the README) - what's the terminal output of the server?

[2017-05-11 17:24] finbarrtimbers commented on #567
Yes, I have. When I run

[code]

replacing `model_base_path` with my path, the model seems to load normally, ending with this output:

[code]

The server output doesn't change when I run the client, but the client isn't able to run without the server running, so it does appear to be connecting to the server.

[2017-05-13 20:34] striki70 opened #570 "Purpose of test and dev sets"
What is the purpose of test and dev sets?
Will the learning process be affected if I use let's say only 1000 waves for test and dev sets?

[2017-05-14 00:32] crs117 commented on #570
I would recommend reading this book.

http://www-bcf.usc.edu/~gareth/ISL/ISLR%20Sixth%20Printing.pdf

I too am a newbie but I will try to explain and may get some of the terms incorrect.

You need multiple data sets in order for machine learning to build the model. Training sets are processed in order to build a model for testing. The testing data sets are there in order to test the model built fr

[2017-05-14 08:28] kdavis-mozilla commented on #570
@striki70

- Training data sets are for the system to learn on. Consider it like being in university. Before a test in a course one reads the course's book and tries to learn everything possible from the book.
- Dev data sets are for the system to test and refine its knowledge on. Consider a professor giving you old tests from past years to validate your understanding on. The old tests are like th

[2017-05-14 08:40] #570 closed

[2017-05-15 09:18] alanbekker opened #571 "core dumped with native client"
when running the following code :
 ARGS="~/Projects/DeepSpeech/logs/checkpoints/graph.pbtxt ~/Projects/DeepSpeech/data/smoke_test/LDC93S1.wav " make run

I'm receiving the following error:

Segmentation fault (core dumped)
Makefile:57: recipe for target 'run' failed
make: *** [run] Error 139

any ideas?

[2017-05-15 10:25] dahlem commented on #569
Thank you for the info. I deleted the ~/.local/share/deepspeech folder and started training again. I'm still seeing the same issue. The server hasn't crashed, so I don't think this would be the issue.

Is there any other state kept by deepspeech that could impact a training run?

Thank you

[2017-05-15 11:00] kdavis-mozilla commented on #571
Just to clarify. Did you follow all the steps of the [README.md](https://github.com/mozilla/DeepSpeech/tree/master/native_client)

[2017-05-15 11:04] alanbekker commented on #571
yes, when running it  with client.py..I'm receiving:
ImportError: libdeepspeech.so: cannot open shared object file: No such file or directory

Although I installed: sudo pip install deepspeech

[2017-05-15 11:53] Cwiiis commented on #567
It could just be that the output is an empty string, I'd recommend verifying behaviour using the ldc93s1 dataset to make sure things work as expected. My greater recommendation would be to not use the serving client though.

[2017-05-15 13:30] striki70 opened #572 "Training slower and slower"
I'm training network with batches of 12 files. However, time needed to process single batch is constantly growing.
Is there any way to keep this time steady?

[2017-05-15 13:47] kdavis-mozilla commented on #572
The batches are organized via curriculum learning[[1](http://dl.acm.org/citation.cfm?id=1553380)][[2](https://github.com/mozilla/DeepSpeech/blob/master/util/data_set_helpers.py#L77)].

So initial batches contain shorter wav's later batches contain longer wav's.

As processing longer wav's takes longer, the behavior you see is expected.

You can keep the time per batch steady by randomizing wav ord

[2017-05-15 13:55] striki70 commented on #572
Thanks a lot!

[2017-05-15 13:58] #572 closed

[2017-05-15 16:01] alanbekker commented on #571
I manged to solve the problem..do you know where the transcription file in received when running:
ARGS="~/Projects/DeepSpeech/logs/checkpoints/graph.pb ~/Projects/DeepSpeech/data/smoke_test/LDC93S1.wav " make run

Thanks in advance!

 ?

[2017-05-15 16:12] lissyx commented on #571
There is no such thing as « transcription file », the computed string being recognized is outputted on the standard output.

[2017-05-15 16:15] alanbekker commented on #571
so..it means the command didn't succeeded if don't get any error/transcription?

[2017-05-15 16:16] lissyx commented on #571
If you just get an empty output, it means nothing has been recognized. Without more details on how you trained the model, we cannot jump to any conclusion :)

[2017-05-15 16:19] sgt101 commented on #569
Hello, I've been training ted using 4 * 1080 maxwells, these have only 8GB ram, so I reduced the batch size to 6 in order to do the training. It takes about 8 days to train the model on my setup. I think that k80's have much more memory, so maybe increasing the batch size would be an enabler?

Another thing that helped me was to reduce the ted-train.csv to 10% of its size for debugging runs; this

[2017-05-15 16:22] sgt101 opened #573 "Code problem when exporting a model (ds2-v2)"
Hi,

I've been trying ds2-v2 and have successfully trained a model and now have tried exporting it.

I got

I Exporting the model...
Traceback (most recent call last):
  File "DeepSpeech.py", line 1602, in <module>
    tf.app.run()
  File "/usr/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "DeepSpeech.p

[2017-05-15 16:25] reuben commented on #573
Yes, the export code hasn't been updated to match the model on that branch.

I won't be able to get to this before next week, but I would review a PR ;)

On May 15, 2017 9:22 AM, "sgt101" <notifications@github.com> wrote:

[2017-05-15 16:25] alanbekker commented on #571
I train my model on librivox with a 1000 examples for 10 epochs :)
Just want to check the native client right now..it supposed to return some no sense transcription right?

[2017-05-15 16:47] lissyx commented on #571
It is supposed to return according to what has been trained. Your previous messages states `graph.pb` and `LDC93S1.wav`, so it is unclear what you trained. 1000 samples over 10 epochs might also not be enough and thus the model and native_client might be working as expected, just not being trained enough. Please overfit the `ldc93s1` sample model, and when training shows good overfit, running nati

[2017-05-15 17:12] alanbekker commented on #571
great! works now.

Thank you very much!

On Mon, May 15, 2017 at 7:47 PM, lissyx <notifications@github.com> wrote:

[2017-05-15 17:14] finbarrtimbers commented on #567
Yeah, fair enough. Thanks for the advice, I'll play around with it.

[2017-05-15 17:14] #567 closed

[2017-05-15 17:26] lissyx commented on #571
I will consider that your problem was related to the use of text-based protocolbuffer for the model and close this then :)

[2017-05-15 17:26] #571 closed

[2017-05-15 23:10] getnamo commented on #435
@kdavis-mozilla maxwell Titan X, Titan X (Pascal), or Titan Xp? I hate that we need the distinction...

[2017-05-16 05:47] kdavis-mozilla commented on #569
@sgt101 @dahlem A few other tips...

- You can reduce the number of wav's used in training, dev, and testing using the command line arguments `limit_train`, `limit_dev`, and `limit_test` which take the number of training, dev, and test wav's to use respectively
- We use curriculum learning so the shortest wavs are in the initial batches the longest are in the final batches. However, batch size is

[2017-05-16 11:18] offbit commented on #573
@reuben Before you update the export code I would suggest change the line:
https://github.com/mozilla/DeepSpeech/blob/ds2-v2/util/bngru.py#L58

`from tensorflow.contrib.layers.python.layers import utils
...
return utils.smart_cond(self._training, batch_statistics, population_statistics)
`

If you don't use smart condition you will probably face problems loading the graph afterwards. tf.cond is not

[2017-05-16 11:59] gvoysey commented on #435
and off by one errors 😇
On Tue, May 16, 2017 at 02:46 Kelly Davis <notifications@github.com> wrote:

[2017-05-16 12:33] striki70 commented on #435
Any news for links to trained models?

[2017-05-16 12:34] striki70 commented on #435
@phasnox 20 days for how many epochs? WER achieved?

[2017-05-16 14:34] Cwiiis opened #574 "Use libdeepspeech in DeepSpeech.py and remove duplicate code"
Part of libdeepspeech is a native implementation of the processing done in audiofile_to_input_vector (as well as the reimplementation of python_speech_features). We should use the Python bindings for this library instead, partly because it's considerably faster than the equivalent Python/python_speech_features code, but mostly so we don't have two copies of the same thing which could possibly dive

[2017-05-16 14:40] phasnox commented on #435
@striki70 yehp WER achieved would be nice. But I have'nt try yet, I need to get a better cooling system.

[2017-05-16 15:57] tilmankamp opened #577 "Exception due to BasicLSTMCell changes in TensorFlow 1.1"
Our use of `BasicLSTMCell` is incompatible with recent changes in TF 1.1. If executed with just one GPU per node, everything is fine. So this is most likely our only incompatibility with TF 1.1.

Traceback:
[code]

[2017-05-16 22:01] aniketk1 opened #578 "Import Error in Native Client"
I'm trying to install the Python bindings for the native client. After doing all the steps in the native client readme I get the following error when importing the deepspeech module:

OS: Ubuntu 14.04.5 LTS
TensorFlow : v1.0.1 tag

To quickly test out how the native client works I created a model with ./bin/run-ldc93s1.sh

If I run the client with the Makefile everything works as expected. My firs

[2017-05-16 22:25] aaronzira commented on #24
Anyone have any updates on this? I was not able to break 39% WER with DS1 or DS2, but always stopped after I observed overfitting in the val loss (around 5-7 epochs for DS2). What sorts of numbers are others hitting? Any hyperparameter configs that look promising?

[2017-05-17 08:28] Cwiiis commented on #578
Looks like it either can't find libtensorflow.so or it linked against a different version of libtensorflow.so - did you run the install target before building and installing the bindings?

[2017-05-17 08:37] sgt101 commented on #573
Hi,
I've hacked around the export function to export the model - so it can be done (not tested yet!) but even before testing I'm unhappy with it.

I've edited def export() @ 1479 in DeepSpeech.py.

The issue arises with line 1498, logits =BiRNN(

there are two issues. First is to set the missing parameters for the new version of BiRNN. I set reuse=None (no trick there!) and then struggled with is_

[2017-05-17 10:15] dahlem commented on #569
@kdavis-mozilla , thank you for the tips. I found that the job reports, which compute the levenshtein distance and the WER, are slowing things down significantly. Either switching the reports off or report more infrequently solves my problem (I think -- I need to run the job till the end to be sure).

[2017-05-17 13:45] kdavis-mozilla opened #579 "Reword README.md to not suggest TF serving is used"
Text of README.md

suggests TF serving is used. It is not, so the text should be changed.

[2017-05-17 15:30] aniketk1 commented on #578
Yes, here is the console output using the instructions in the Python bindings section:

[2017-05-17 15:42] abuvaneswari opened #580 "step processing time increases with time"
My environment:
Ubuntu 14.04
Python 3.4.3
tensorflow 1.1.0
16 hyper core CPU, no GPU

I observe that the time to process a batch increases wrt batch index (and wall clock time). Attaching a ppt with additional details. At this rate, it is difficult to project when the training will be completed. I understand that running it on a GPU enabled server would reduce the execution time, but wonder if the

[2017-05-17 15:45] Cwiiis commented on #578
Is /usr/local/lib in your LD_LIBRARY_PATH?

[2017-05-17 15:47] kdavis-mozilla commented on #580
See issue #572

[2017-05-17 15:47] #580 closed

[2017-05-17 16:35] abuvaneswari commented on #572
In reference to issue #580 , can you confirm if by restarting DeepSpeech, after it reads the checkpoint, it will go on to process the un-processed wav files, and it will not go back and start with wav file #1 in the corpus?

[2017-05-17 16:42] aniketk1 commented on #578
Yes

[2017-05-17 16:55] Cwiiis commented on #578
I had a similar issue on TaskCluster where the Makefile's environment was polluting setup.py's... As well as updating master, I'd recommend trying using setup.py directly rather than the Makefile, so something like:

sudo pip uninstall deepspeech
make clean
make setup.cfg
python ./setup.py bdist_wheel

And then try reinstalling the newly created .whl and trying again. Before that, I'd also check a

[2017-05-18 07:00] pandeydivesh15 opened #581 "Problem while configuring Client"
I followed all the instructions for building tensorflow from the source as described in [README.md](https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md). But when I am running ```make deepspeech``` I am getting an error.
[code]

I had tried this process previously, before the python bindings came up for client (before certain commits in th project). At that time also, I got t

[2017-05-18 10:51] #493 closed

[2017-05-18 10:53] kdavis-mozilla commented on #581
Are you sure creation of `libtensorflow.so` completed correctly?

Could you first check it's existence from the `native_client` as follows
[code]
You should get something like
[code]
If it doesn't exist, tensorflow complication failed.

I guess in a second step you can check its symbols. But I guess it's better to first know if it exists.

[2017-05-18 10:55] pandeydivesh15 commented on #581
It is present.
[code]

[2017-05-18 10:58] kdavis-mozilla commented on #581
If you're on linux can you look at its symbols.

For example for `CheckDimsAtLeast` something like
[code]

[2017-05-18 11:05] pandeydivesh15 commented on #581
I am getting **No symbols**

[2017-05-18 12:26] tilmankamp opened #583 "Timeout parameter for workers connecting to training coordinator"
Also:
 - Remove shebang -u parameter in DeepSpeech.py
 - Not printing stack traces on failed connections to coordinator during timeout period

[2017-05-18 12:36] kdavis-mozilla commented on #581
Then something went wrong with the tensorflow compilation

[2017-05-18 13:35] #583 closed

[2017-05-18 13:53] #577 closed

[2017-05-18 15:18] striki70 opened #585 "Batch size for graphic card with 8 GB of RAM"
Which is the maximum length of the batches that we can assign having NVIDIA GeForce 1080 with 8 GB of RAM?
Currently I'm doing training with the length of 12. Can this be increased for further epochs?

[2017-05-18 15:22] kdavis-mozilla commented on #585
I don't know. But we use curriculum learning so the shortest wavs are in the initial batches the longest are in the final batches. However, batch size is dependent only on the largest wavs. So one normally has to wait until the last batch to determine if batch size is correct. However, one can temporarily sort by largest wav first by changing the sort order here[[1](https://github.com/mozilla/Deep

[2017-05-19 09:25] tilmankamp opened #586 "Insufficient connectivity failure management in coordinator"
If the chief worker takes a long warm-up time before he is able to start the training coordinator, other cluster workers run into timeouts trying to connect to the unprepared coordinator.
`_talk_to_chief()` has to get more reliable and should also log detailed traffic state.
The training coordinator should respond in a meaningful way if he is not ready to serve.

[2017-05-19 12:57] #586 closed

[2017-05-22 13:35] tilmankamp opened #588 "Cluster: pipe worker/ps output into individual log files"
Log files could be named like this: `<run-directory>/worker_0.log`, `<run-directory>/worker_1.log`, `<run-directory>/ps_0.log`...
One can use `tail -f <run-directory>/*.log` to follow a combined log

[2017-05-22 13:42] tilmankamp commented on #246
`dequeue_many()` dequeues fixed-length batches from the queues. But how about having a group of several different batch sets with different lengths per phase. We could switch between them with the same mechanism we use for switching between train/dev/test.

[2017-05-22 22:02] gvoysey commented on #435
@kdavis-mozilla just checking in on any updates you have on trained models.

[2017-05-22 22:44] gvoysey opened #589 "native client on non-x86 architectures?"
I'd like to run the native client on an embedded system (e.g., ARM v8).

From what I can tell, getting tensorflow and bazel to build from source on ARM is a giant pain -- I was lucky and found some prebuilt wheels that I've been able to use.

Is it worth the pain to go through building the client?  I need to hand WAV files to the network, in python3. Is there a better option than using the native

[2017-05-23 06:55] lissyx commented on #589
We already have ARMv6 builds that runs on Raspberry Pi3 under Raspbian for the `native_client`. Some changes and hacking are required to cross-build the python wheel for tensorflow, and installation is a bit much more painful if you don't have prebuilt dependencies such as `numpy`/`scipy`. In the end, I could get Tensorflow python package to work on the RPi3 but of course there was low value regar

[2017-05-23 08:17] kdavis-mozilla commented on #435
Just got the hardware and installed it last week. Now we're working through a few OOM issues which appear in the cluster setting and not in the single node setting. So, it's a work in progress.

[2017-05-23 09:08] sgt101 commented on #573
After building and some more messing about I have now got the client compiled and am able to attempt to pull in the exported model.

I used @offbit 's suggestion to fix the export so that the binary model can be imported again (without the move to smart_cond the binary won't import.

However now I am getting :

deepspeech: client.cc:71: int main(int, char**): Assertion `ctx' failed.
Invalid argume

[2017-05-23 13:00] lissyx commented on #589
Oh and since you mention ARMv8 I have not yet tested that completely, though the toolchain should be able to produce binaries. I wanted to wait a bit more for a more stable ARMv8 distro being more available, but if nothing gets soon I may just rely on current Debian ARMv8 and perform some benchmarking. Also, we are currently only working on RPi3 as ARM hardware, and last time I checked, there was

[2017-05-23 13:05] harinderbedi commented on #551
Hi everyone, Do we have update on this? I am getting this issue locally when i run one of the sample example "bin/run-librivox.sh" and the error is same "RuntimeError: Coordinator stopped with threads still running: Thread-12"..

This error does not appear when i run other sample example "bin/run-ldc93s1.sh".

Thoughts?

[2017-05-23 13:12] tilmankamp commented on #551
@harinderbedi
Is this happening immediately at the start of the training or later?
Which version of TensorFlow do you use?

[2017-05-23 13:20] harinderbedi commented on #551
So as soon as i execute a command, it waits for 2-3mins and then throw the error..

[2017-05-23 13:28] gvoysey commented on #589
@lissyx OK.  I'll have a look.  For reference, i'm planning on using a TX1, which has a quad-core ARM A57.

[2017-05-23 13:33] lissyx commented on #589
RPi3 is Quad-Core Cortex A53, so slower :)

[2017-05-23 13:50] gvoysey commented on #589
hey, as long as it builds!  ;)

[2017-05-23 13:57] lissyx commented on #589
You can probably build that on top of our tensorflow fork that includes rpi toolchain ?

[2017-05-23 14:01] gvoysey commented on #589
I should.  I'll try the binary you linked above first, though.  Compiling is slow..

[2017-05-23 14:02] lissyx commented on #589
Cross compiling is quite fast, takes ~500 secs on my desktop with 8 cores and 32 GB RAM. We have tensorflow with the RPi GCC toolchain for cross compilation, you can probably start from that ?

[2017-05-23 14:13] tilmankamp commented on #551
@harinderbedi Could you retry with `--train_batch_size 1`?

[2017-05-23 15:46] lissyx commented on #555
I'm closing this, please re-open if you find more informations on the issue.

[2017-05-23 15:46] #555 closed

[2017-05-23 16:46] gvoysey commented on #589
@lissyx silly question time: i untarred the binaries you linked above.  how do i execute them? running `./deepspeech` results in `bash: no such file or directory`.

[2017-05-23 16:54] lissyx commented on #589
You should at least do `LD_LIBRARY_PATH=.:$LD_LIBRARY_PATH ./deepspeech`

[2017-05-23 17:30] tilmankamp opened #590 "Cluster: OOM exceptions not ending process group"

[2017-05-23 17:35] tilmankamp opened #591 "Averaging only on parameter server"
This effectively means to factor out the "tower" code.
Considered an experiment - only merged into master, if there is no performance degradation.

[2017-05-24 08:03] harinderbedi commented on #551
yes did that, no difference and got the same error..
But i got your point...

It is quite interesting that below command gives error
`python -u DeepSpeech.py --train_files /home/someDataset/files/someDataset-train.csv --dev_files /home/someDataset/files/someDataset-dev.csv --test_files /home/someDataset/files/someDataset-test.csv --train_batch_size 1 --dev_batch_size 1 --test_batch_size 1 --n_hidd

[2017-05-24 08:06] harinderbedi commented on #551
The difference between the dataset are 1. it is bigger dataset 2. different language

Should i checkout code from history which is not effected with this bug ?

[2017-05-24 08:18] tilmankamp commented on #551
Were both checkpoint directories clean before the runs?

[2017-05-24 08:56] harinderbedi commented on #551
Yes. i ran it again with different new checkpoints directories..
So i will repeat one more time for clarity -

1. This works:
[code]

2. This does not work
[code]

One of the suggestion i got from my colleague is that as spanish dataset (different encoding characters) has some special characters so that could be a problem , Thoughts ?

[2017-05-24 09:23] harinderbedi commented on #551
So @tilmankamp : It is an encoding issue.. i just put three lines in dataset.. 1. without special characters which work and 2. with special characters which does not work.

But we are getting misleading Error trace, so may be actual error is eaten somewhere else, i guess. I hope this help someone..

Now i will change the batch size.. i think there is some issue as well.

[2017-05-24 09:27] kdavis-mozilla commented on #551
It's definitely the case that non-ascii characters can cause problems.

The Spanish á, é, í, ó, ú, ü, ñ, ¿, and ¡ can definitely cause problems. Maybe take a look at how we normalize, for now, to ascii. For example here[[1](https://github.com/mozilla/DeepSpeech/blob/2ad3594173f8ccbc9e7384533a80d47c0dfb7c1b/bin/import_librivox.py#L161)].

The algorithm itself is capable of being modified to deal wi

[2017-05-24 09:33] tilmankamp commented on #551
@harinderbedi
You are right - the actual error is eaten somewhere else and this is one of the most annoying problems at the moment. Am still collecting input on which root cause errors are surfacing as "coordinator stopped" ones. So your input definitely helps.

[2017-05-24 10:09] harinderbedi commented on #551
Thank you all then i know what to do.

[2017-05-24 12:02] kdavis-mozilla commented on #459
Change of plans. A new "compressible" model, not kenlm, will be integrated. So this will not be fixed.

[2017-05-24 12:02] #459 closed

[2017-05-24 12:04] kdavis-mozilla opened #592 "Create Character Based RHN language model"
Create a character based language model using RHN[[1](https://arxiv.org/abs/1607.03474)].

[2017-05-24 14:46] tilmankamp opened #593 "Wrong order of jobs running and done in error report"
[code]

[2017-05-24 14:56] tilmankamp opened #595 "Recalibrate batch size for new cluster and GPU setup"

[2017-05-24 15:21] tilmankamp opened #597 "Allow users to schedule individual runs by a non-tracked script"
To do tests and individual runs on the cluster, at the moment users need to modify the `bin/run-wer-automation.sh` script before calling `enqueue`. Often this is not wanted, as the changes are not supposed to end up in the repository. So users need to clean unwanted changes from `bin/run-wer-automation.sh` before committing.
Supposed change: Having a `.gitignore`ed `run` script in the repository r

[2017-05-24 16:38] #593 closed

[2017-05-24 19:21] striki70 opened #599 "serving_client missing"
I'm looking for a way to expose trained neural network for input wave files. My guess is that serving_client module should do the job, but it's missing in master. Any information about handling wave files for recognition?

[2017-05-24 19:44] pdcoded commented on #592
Why this architecture? And I suppose this would be an external Language model ?or one integrated with beam search decoder.

[2017-05-24 19:55] kdavis-mozilla commented on #599
We aren't supporting TensorFlow serving, a conscious decision

[2017-05-24 19:55] #599 closed

[2017-05-24 19:56] #595 closed

[2017-05-25 07:12] behnamasefi commented on #581
Hi,
 I have the same problem as above. I checked for symbols in libtensorflow.so file for missing references with:

nm libtensorflow.so | grep SlowCopyFrom
000000000388d480 T _ZN10tensorflow11TensorShape12SlowCopyFromERKS0_
0000000003a19140 T _ZN10tensorflow6Status12SlowCopyFromEPKNS0_5StateE

However I can not accomplish the last step by  make deepspeech.
Any help please?

[2017-05-25 07:29] kdavis-mozilla commented on #581
@behnamasefi What errors occur?

[2017-05-25 07:40] behnamasefi commented on #581
The error is:

../../tensorflow/bazel-bin/native_client/libdeepspeech.so: undefined reference to `tensorflow::Tensor::CheckTypeAndIsAligned(tensorflow::DataType) const'
../../tensorflow/bazel-bin/native_client/libdeepspeech.so: undefined reference to `tensorflow::ReadBinaryProto(tensorflow::Env*, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, google::protob

[2017-05-25 08:33] harinderbedi opened #600 "Error : SparseTensor is not valid"
I am able to run the same script/command with one dataset but when i run another dataset (which is bigger and same language) then i get this error -

`tensorflow/core/framework/op_kernel.cc:993] Invalid argument: label SparseTensor is not valid: indices[25] = [0,25] is out of bounds: need 0 <= index < [1,25]`

Any idea ?

[2017-05-25 09:27] kdavis-mozilla commented on #600
Could you provide more details? What script? What data sets? How was the other data set prepared?

My guess is that the data set has a malformed sentence in it.

[2017-05-25 09:35] harinderbedi commented on #600
Thanks for the response Davis-

Script/Command is -
` python -u DeepSpeech.py --train_files /home/spanish/files/spanish-train1.csv --dev_files /home/spanish/files/spanish-train1.csv --test_files /home/spanish/files/spanish-train1.csv --train_batch_size 1 --dev_batch_size 1 --test_batch_size 1 --fulltrace True --log_level 0 --n_hidden 494 --epoch 50 --checkpoint_dir /root/.local/share/deepspeech/sp

[2017-05-25 10:02] kdavis-mozilla commented on #600
What do you mean by "with special characters"? Could you copy the 3 lines here?

[2017-05-25 10:15] kdavis-mozilla commented on #600
This basically means you have non-ascii characters. There are code changes that have to occur, see my comments here[[1](https://github.com/mozilla/DeepSpeech/issues/551#issuecomment-303669182)]

[2017-05-25 10:15] #600 closed

[2017-05-25 10:46] arpit601 commented on #520
@varunravi  I have been able to start the training. But i am getting this attribute error: 'kenlm.Model' object has no attribute 'score'

[2017-05-25 11:07] #569 closed

[2017-05-25 11:19] alanbekker opened #601 "Report loss and WER during training"
There is a way to print the loss and WER every number of batches?
I need to wait 1 epoch for seeing the progress.

Thanks!

[2017-05-25 11:21] alanbekker opened #602 "Memory leakege when training librivox"
I'm suffering from memory leakage during the training, while eventually my program crashes.

any ideas how to fix that?

[2017-05-25 11:27] kdavis-mozilla commented on #601
Currently not. We calculate WER only as a full batch average.

[2017-05-25 11:27] #601 closed

[2017-05-25 11:29] kdavis-mozilla commented on #602
How do you know it's memory leakage? Are you sure your batch size is set correctly?

[2017-05-25 11:30] kdavis-mozilla commented on #581
Are you sure ` libtensorflow.so` is getting loaded?

[2017-05-25 11:30] alanbekker commented on #601
what do you mean as a full batch average? I currently can't see any WER report after each batch

[2017-05-25 11:31] kdavis-mozilla commented on #601
Sorry, a typo as a full epoch average.

[2017-05-25 11:32] alanbekker commented on #602
my batch size is 12...and I see as long the training progress each batch takes more time.
I'm running on a 1080 machine, at the beginning each batch takes 2 seconds and after a while it takes 30 seconds and more

[2017-05-25 11:36] kdavis-mozilla commented on #602
I guess I still have the same questions:

I can't really answer either with the info you provided. Could you provide more details as to why you think memory is leaking? (You know we use curriculum learning right?) How do you know your batch size is set correctly (Have you run through an entire epoch?)

[2017-05-25 11:41] #597 closed

[2017-05-25 11:47] alanbekker commented on #602
I'm not aware of the curriculum learning, can you provide a link so I can learn more about it?
How can I know the correct batch size? as I told you before the end of the first epoch my program crashed.

[2017-05-25 11:54] kdavis-mozilla commented on #602
Here's the standard reference on curriculum learning[[1](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.149.4701)]. This explains your observation that later batches take longer than earlier batches, earlier batches contain shorter wav's.

If you can run through an entire epoch, then you know the batch size is less than or equal to its maximum. Finding the maximum is a process of,say, bin

[2017-05-25 12:06] alanbekker commented on #602
so why after the process crashed and I run it again the initial batches are
taking short time to run..they weren't supposed to take as long as the
latest batches before the process crashed?

On Thu, May 25, 2017 at 2:54 PM, Kelly Davis <notifications@github.com>
wrote:

[2017-05-25 13:36] behnamasefi commented on #581
@kdavis-mozilla  How can I be sure about this?

[2017-05-25 13:36] kdavis-mozilla commented on #602
@alanbekker If the process dies due to a too large batch size and you don't restart from a checkpoint, then the curriculum learning curriculum starts again.

I'm going to close this for now until you establish

- Your batch size is set correctly
- There really is, as you claim, a memory leak

If you can show that there really is a memory leak, feel free to re-open.

[2017-05-25 13:36] #602 closed

[2017-05-25 13:37] kdavis-mozilla commented on #581
lld + LD_LIBRARY_PATH

[2017-05-25 13:41] alanbekker commented on #602
It seems by default it continues from the last checkpoint since the batch
number continue from the one that the process was stopped..

On Thu, May 25, 2017 at 4:36 PM, Kelly Davis <notifications@github.com>
wrote:

[2017-05-25 13:42] behnamasefi commented on #581
Yes the folder contains libtensorflow.so in on my LD_LIBRARY_PATH

[2017-05-25 13:43] pandeydivesh15 commented on #581
@behnamasefi the error is entirely same. @kdavis-mozilla Can python environments be a problem? Actually I am running Deepspeech.py(training) in an different environment and preparing the client(building tf and other) in an another.

[2017-05-25 13:47] behnamasefi commented on #581
@pandeydivesh15  I use same env for both cases. However I think there is no need to be in any env because this the c++ code compile stage.

[2017-05-25 13:56] pandeydivesh15 commented on #581
@kdavis-mozilla you told me about those symbols. There are two libdeepspeech.so files.
You asked me for checking symbols for ```../../tensorflow/bazel-bin/tensorflow/libtensorflow.so | grep CheckDimsAtLeast```, for which I got **No symbols**. There is onle file at ```tensorflow/bazel-bin/native_client/libdeepspeech.so```, for which I am getting symbols.
[code]

[2017-05-25 19:07] Cwiiis opened #603 "Add Node.js bindings"
We have reasonable Python bindings (at least after PR #575), we should follow this up with reasonable Node.js bindings. We would then have coverage in (arguably) the two most popular languages and it should make it easier for us to distribute an easily-usable package to developers later on down the line.

[2017-05-26 00:29] pythonmobile commented on #435
Waiting for it :) Thanks.

[2017-05-26 07:56] loretoparisi opened #605 "Question: Deep Voice"
Will this architecture implement the recent Baidu Deep Voice DNN?

[2017-05-26 08:03] kdavis-mozilla commented on #605
No. Deep Voice is TTS. This is SST.

[2017-05-26 08:04] loretoparisi commented on #605
@kdavis-mozilla Thanks, I know. Is `mozilla` going to implement in `tensorflow` the nn behind Deep Voice (1 or 2)?

[2017-05-26 08:05] kdavis-mozilla commented on #605
This is undecided. However, we plan on doing TTS.

[2017-05-26 08:06] loretoparisi commented on #605
@kdavis-mozilla Great, that's awesome, thank you for your work!

[2017-05-26 08:37] kdavis-mozilla commented on #605
Welcome!

[2017-05-26 08:37] #605 closed

[2017-05-26 09:26] kdavis-mozilla commented on #591
Note, the batch size 10 on TED still gives OOM on the server, only now much later after epoch 12
[code]
so this issue is a blocker for use of the new servers.

[2017-05-26 10:46] harrypotter90 opened #606 "Out of memory issue when --train_batch_size is 100"
I get a Out of memory issue when i set **train_batchsize = 100**
[code]

**Same command and dataset but when --train_batch_size= 1
It works all fine..**

[code]

Note that : Data set size is 90KB

**Command i am using** : python -u DeepSpeech.py --train_files /home/english/files/english-test.csv --dev_files /home/english/files/english-test.csv --test_files /home/english/files/english-test.csv --tr

[2017-05-26 10:59] harrypotter90 commented on #606
I am sure, Experts here will be interested in Hardware configuration -
6 cores CPU ; 128GB ram ; 8 GPUS (2cards) NVidia M40

[2017-05-26 11:17] kdavis-mozilla commented on #606
You have to find a batch size that works for your hardware through, say, binary search.

For example, you know 100 doesn't work. Try 50. If that doesn't work, try 25. If that doesn't work, try 12. If that does work, try 18.... until you find that maximum value that does work.

[2017-05-26 11:17] #606 closed

[2017-05-26 11:35] harrypotter90 commented on #606
Sure, Thanks @kdavis-mozilla

[2017-05-26 15:15] behnamasefi commented on #581
@pandeydivesh15  just change the
LDFLAGS += -ltensorflow -ldeepspeech -lc_speech_features -lkissfft $(EXTRA_LDFLAGS)

with this line:
LDFLAGS += -ldeepspeech -ltensorflow -lc_speech_features -lkissfft $(EXTRA_LDFLAGS)

in makefile inside nativaclient folder. That's it :)

[2017-05-26 21:05] abuvaneswari opened #607 "Reading input files after a crash"
I understand that DeepSpeech uses tensorflow's checkpoint facility to save models and restore from crash. However, does DeepSpeech process input files from where it left off prior to the crash? or, does it just process the files all over again from file #1 in the data set? If that is the case, then are there any plans to support this feature?

[2017-05-28 05:23] kdavis-mozilla opened #608 "Fix OOM occuring due to on-device gradient averaging"
The line[[1](https://github.com/mozilla/DeepSpeech/blob/master/DeepSpeech.py#L633)]
[code]
of `average_gradients()` occurs on device. When there are many devices, we've seen it trigger with 8, it yields a device OOM.

The easy fix to this is moving this op off device to the host where, generically, there's more memory.

[2017-05-28 05:39] kdavis-mozilla commented on #591
@tilmankamp I think PR #609 obsoletes this issue

[2017-05-28 06:38] kdavis-mozilla opened #610 "Parallelize WER calculation on host"
Our GPU's lay idle while a single thread calculates the WER. This is a waste of resources

[2017-05-28 20:16] reuben commented on #573
Sorry for taking so long to reply here, I was away from work for a few days. I'll try to reproduce the problem.

[2017-05-29 04:12] kdavis-mozilla commented on #581
@behnamasefi Do you want to make a pull request from this?

[2017-05-29 07:30] #608 closed

[2017-05-29 07:33] tilmankamp commented on #591
@kdavis-mozilla I don't think it obsoletes it - it just de-prioritizes it. Let's keep it for now.

[2017-05-29 07:46] kdavis-mozilla commented on #591
Ok

[2017-05-29 07:58] tilmankamp commented on #607
It starts over the batch order with every beginning of an epoch or whenever training is continued using a checkpoint. So far there were no plans for that feature, but I'll add it and reference this issue.
Thanks!

[2017-05-29 08:10] tilmankamp opened #611 "Continue checkpointed training at correct next sample index"
After resuming a checkpoint, training batches/samples start over at index 0 and by that curriculum learning notion is violated.
One has to calculate the correct sample index in `start_coordination()` based on the the current training `step` and derived values.

[2017-05-29 08:11] tilmankamp commented on #611
Based on #607.

[2017-05-29 08:12] #607 closed

[2017-05-29 14:33] #588 closed

[2017-05-31 05:17] kdavis-mozilla commented on #610
Parallelization here[[1](https://github.com/mozilla/DeepSpeech/commit/e38cfa397adc7b43367a163809fdc5a002768f05)] shows now appreciable speed up. So another approach should be taken.

[2017-06-01 12:24] reuben opened #614 "Add a new issue default text to help us with support questions"
I'd be nice to have a default text in the new issue UI that asks for relevant stuff like TensorFlow version, Git LFS status, etc., to help with the support workload.

[2017-06-01 17:18] pdcoded commented on #551
@kdavis even I am getting this error for ds1 . Infact I have a modified ds2 architecture which runs fine with the dataset but ds1 throws me this error. It has nothing to do with non-ascii characters in my case since everything is 26 english character + space . This error pops up immediately at the start of optimization.
I think it has something to do with larger dataset and recent commits since it

[2017-06-01 17:26] kdavis-mozilla commented on #551
@pdcoded What data set are you using?

[2017-06-01 19:41] alexandrasp commented on #538
hey @tilmankamp, can I (try) help you with this?

[2017-06-01 20:33] tilmankamp commented on #538
Sure. Thanks for helping out! One thing: Tomorrow I'll put up a PR that will provide a routine for stopping a running training. It turned out to be much harder to do in a graceful way than I thought. You can use it for the stopping. I'll link it here.

[2017-06-02 04:50] pandeydivesh15 commented on #581
@kdavis-mozilla @behnamasefi Still no luck.
Do I have to build kissfft and c_speech_features libs too?
G++ linker is not finding those libs.
[code]
Please help.

[2017-06-02 11:29] tilmankamp opened #615 "Error: "There is no running epoch of ID for job with ID.""
This error message was once provided in our code for a case that should never happen. It's about a job package sent in twice.

[2017-06-02 11:49] tilmankamp commented on #538
Unfortunately there is no routine for ending training in my PR (#616).
However: Stopping has to happen anyhow from within the training coordinator [state machine](https://github.com/mozilla/DeepSpeech/blob/master/DeepSpeech.py#L1147). This is quite a beast, I know.

[2017-06-02 17:38] kdavis-mozilla commented on #314
I'm just going to take this off-line as I'm not sure of its value now.

[2017-06-02 17:39] #314 closed

[2017-06-02 17:40] kdavis-mozilla commented on #344
Going to take this off line as its not of direct use now.

[2017-06-02 17:40] #344 closed

[2017-06-04 03:34] reuben commented on #573
The problem here is that TensorFlow doesn't know how to properly freeze a graph that uses batch norm. I'm focusing on getting the training side of ds2-v2 running perfectly before working on exporting and etc, so I won't be able to debug TensorFlow very soon.

[2017-06-04 19:49] patrickms opened #617 "Voice of America Corpus?"
Something that I discovered a while ago working on a completely different project (teaching literacy), was a large public domain corpus which could be used for training speech recognition systems.

https://learningenglish.voanews.com/ is a public broadcasting service (a U.S. equivalent the BBC world service) has a large corpus of news articles along with human narration which can be crawled from t

[2017-06-04 21:03] #560 closed

[2017-06-05 09:25] gaoxuesong opened #618 "run-ldc93s1.sh error"
[root@deepspeech DeepSpeech]# ./bin/run-ldc93s1.sh
+ '[' '!' -f DeepSpeech.py ']'
+ '[' '!' -f data/ldc93s1/ldc93s1.csv ']'
+ echo 'Downloading and preprocessing LDC93S1 example data, saving in ./data/ldc93s1.'
Downloading and preprocessing LDC93S1 example data, saving in ./data/ldc93s1.
+ python -u bin/import_ldc93s1.py ./data/ldc93s1
Successfully downloaded LDC93S1.wav 93638 bytes.
Successfully

[2017-06-05 09:25] gaoxuesong commented on #618
How to fix the error?
Pls help.

[2017-06-05 10:36] lissyx commented on #618
It really looks like you don't have the proper language model data. Is your Git-LFS installation working wel ?

[2017-06-05 11:19] gaoxuesong commented on #618
Thanks @lissyx . Install git-lfs and reclone the code, then the error is fixed.
Manually install Git Large File Storage, then open a terminal and run:
git clone https://github.com/mozilla/DeepSpeech
cd DeepSpeech
pip install -r requirements.txt

[2017-06-05 11:20] #618 closed

[2017-06-05 19:31] varunravi opened #619 "librivox.sh epoch time"
Hey,

Has anyone achieved a WER of less than 5% with the Librispeech dataset? And how long did it take you to get through one epoch?

- Varun

[2017-06-05 19:44] kdavis-mozilla opened #620 "Improve default language model"
The default language model is based off of TED which is a relatively small data set. Using a mix of the transcriptions we have we can create a better language model.

[2017-06-06 01:55] gaoxuesong opened #621 "How to implement speech recognition in English and Chinese"
Hi, how to implement hybrid speech recognition in English and Chinese?
Thanks.

[2017-06-06 05:23] #610 closed

[2017-06-06 09:48] kdavis-mozilla commented on #619
Epoch time is hardware dependent; so, "it depends" is the answer.

One the clean data set running 15 epochs we got a WER of 12% on the clean subset.

[2017-06-06 09:48] #619 closed

[2017-06-06 10:05] kdavis-mozilla commented on #621
As this is such a broad question, it's best addressed by reading the research literature, not in an issue.

[2017-06-06 10:05] #621 closed

[2017-06-06 10:10] kdavis-mozilla commented on #617
This sounds like a great addition to our corpus!

I'll likely have to check with our legal team to see if we're in the clear for this data set.

If you can release the "scrape and align" code, please let us know!

[2017-06-06 10:34] #620 closed

[2017-06-06 12:44] patrickms commented on #617
I'll let you know if I am able to release the code.

Please let me know what your legal team says about the data. As far as I could tell (as a non-lawyer), it's all in the public domain (except some of the pictures, since they sometimes come from Reuters etc), and there aren't any restrictions on what can be done with it. If my understanding about that isn't correct, please tell me.

[2017-06-06 13:02] kdavis-mozilla opened #623 "Improve Default Vocabulary Words"

[2017-06-06 15:03] tilmankamp opened #624 "Adjust Fisher hyper parameters"

[2017-06-07 05:16] kdavis-mozilla commented on #617
Just looked a bit more into the VOA Copyright Statement, middle of this[[1](https://learningenglish.voanews.com/p/6021.html)] page, and it is more complicated. It states

So it looks like the VOA content is indeed in the public domain. However, anywhere in the audio stream their might be "material that is licensed for use in VOA programming only" which is not in the public domain. The problem is d

[2017-06-07 05:50] patrickms commented on #617
Article and narrations by VOA editors are produced exclusively by Voice of America. Which in practice I believe covers all of their regular news content.

The licensed works are restricted mostly to images which they often get from Reuters...

[2017-06-07 08:21] kdavis-mozilla opened #625 "Create NewsML Importer"

[2017-06-07 12:29] istojan opened #626 "Training time on Librivox Data Set"
Hi guys,

I just started using this engine and I wanted to see its results on a lot of data. Could anyone give me a time estimate for the training needed for the librivox data set. I would run it on 2 x GTX 1080 with 8GB memory.

Thanks for the response

[2017-06-07 12:44] kdavis-mozilla commented on #626
Just for approximate reference, we trained librivox on 16 Titan X's Pascal's in a two node cluster in about 2 days.

[2017-06-07 12:44] #626 closed

[2017-06-07 15:23] #551 closed

[2017-06-07 15:23] #590 closed

[2017-06-07 15:23] #615 closed

[2017-06-07 16:20] tilmankamp opened #627 "Fix Fisher importer"
Importer has some syntax errors and fails regarding some wrong parameter signatures.

[2017-06-07 16:45] lissyx commented on #589
Hello, @gvoysey have you been able to run that on your side ?

[2017-06-07 20:56] AnimeshKoratana commented on #435
Are there any updates regarding the pretrained models?

[2017-06-08 19:53] cnewton commented on #626
Kelly - Is the model you trained against the librivox dataset available anywhere?

[2017-06-08 20:24] aaronzira opened #629 "WER Results"
I'm trying to get a sense for what values of WER folks are seeing after training (such as @dahlem in [#569](https://github.com/mozilla/DeepSpeech/issues/569)) I was focusing on TED (but am curious about other datasets as well), and never hit anything below 39% on the test set by around 10 epochs.
- What values are people's best models producing?
- Has anyone had success with any architecture/hyper

[2017-06-08 21:47] reuben commented on #557
Sounds like this can be closed! :)

[2017-06-08 21:47] #557 closed

[2017-06-09 05:29] kdavis-mozilla commented on #617
@patrickms Could you point to a reference for "Article and narrations by VOA editors are produced exclusively by Voice of America" so I can point the legal team to the info? Thanks!

[2017-06-09 05:39] kdavis-mozilla commented on #626
Not yet. There was/is a disk failure on our cluster. The network filesystem corrupted the checkpoint.

[2017-06-09 05:43] kdavis-mozilla commented on #629
Training on TED for 10 epochs isn't enough, as you've seen, to get a good WER.

First you need to train for more epochs, we default to 50.

Second, the TED data set itself isn't really large enough to train on. So, the WER is always a bit high for TED. I think we've gotten to mid/high 20%.

[2017-06-09 08:40] deepak02 opened #630 "trained model"
I need to get the trained model and run the inference locally on my laptop. Is there some documentation for this. I am new to deep speech and want to use this for my graduate project.

[2017-06-09 08:41] #627 closed

[2017-06-09 09:59] lissyx commented on #630
Hello,

There is not (yet) pre-trained model available. For running the inference locally, you should refer to the `native_client/README.md` documentation :)

[2017-06-09 10:07] deepak02 commented on #630
Hi lissyx
Thanks for answering. So effectively, since there is no pre-trained model available, I need to train the model on servers first, export that model and only then I can run the inference locally on my laptop.
my problem is that I do not have access to high end servers where this training can be done. Is there some work around for this.

Thanks
Deepak

[2017-06-09 14:00] tilmankamp commented on #246
`tf.QueueBase.dequeue_many(n, name=None)` allows `n` to be a tensor. A new proposal is to have two different queue tokens - one for announcing the number of upcoming data ones. On the intake side of the queues the feeding thread would buffer samples till an aggregated sample length is reached and then send out an announcement token containing the number of samples followed by the actual sample tok

[2017-06-09 15:38] lissyx commented on #630
Well, sadly, if you don't have access to the computational resources it is going to not be possible. This is something we want to do for sure, but it does require some more work.

[2017-06-09 23:14] aaronzira commented on #629
Thanks! What sorts of values for hidden layers, hidden units, dropout, and learning rate were you using to get that WER? Without significant changes to the default hyperparams, I don't see how it's possible to not overfit long before 50 epochs.

[2017-06-11 18:23] patrickms commented on #617
In the [about us page](https://learningenglish.voanews.com/p/5373.html), it clarifies that

"Learning English texts, MP3s and videos are in the public domain. You are allowed to reprint them for educational and commercial purposes, with credit to learningenglish.voanews.com. VOA photos are also in the public domain. However, photos and video images from news agencies such as AP and Reuters are cop

[2017-06-11 21:13] kdavis-mozilla commented on #617
Thanks!

[2017-06-11 23:27] NghiLamPhuc opened #631 "Cannot read model './data/lm/lm.b'"

[2017-06-11 23:39] reuben commented on #631
You need to install Git LFS and then clone the repo again.

On Jun 11, 2017 8:27 PM, "NghiLamPhuc" <notifications@github.com> wrote:

[2017-06-12 00:09] NghiLamPhuc commented on #631
Sorry, I found the issue in the closed. I am trying to lock my issue!

[2017-06-12 00:11] #631 closed

[2017-06-12 00:15] nguyenvietquoc2569 commented on #631
Yeah! You are VNese?
Please check your lm file, it was not synchronized when you cloned it. It is only 80kb. The real one is 80mb
Anyway. Ask me if you need someone do it together
Facebook : fb.com/rain0506 or rain_0506.
I dont remember exactly

[2017-06-12 09:46] ztilottama opened #632 "module 'python_speech_features' and kenlm issue on spyder(Anaconda)"
Trying to execute the DeepSpeech code on Spyder (Windows 10), however I am unable to install"python_speech_features" and "Kenlm" library through CONDA install, Always getting below error for both
"PackageNotFoundError: Package missing in current win-64 channels:"
Appreciate any help if anyone can details steps to execute this project on WINDOWS

[2017-06-13 10:16] tilmankamp opened #633 "Status notifications of cluster jobs"
Send out an IRC message on important job status updates.

[2017-06-13 11:48] kdavis-mozilla commented on #629
The default 2048 width layers + dropout 30% + default learning rate. However the language model was an older one, somewhere in the history of master.

I agree it was overfitting at 50. I'm not sure where the best epoch count was, we haven't done early stopping yet, see issue #538

[2017-06-15 03:18] MalikMahnoor opened #634 "Use this model for Urdu language"
I wanted to use this model for urdu language .But I found this in FAQ
''
DeepSpeech's requirements for the data is that the transcripts match the [a-z ]+ regex, and that the audio is stored WAV (PCM) files.  ''

How can I design a neural network for speech transcription for languages like urdu ?

[2017-06-15 04:19] gardenia22 commented on #629
I ran 10 epochs on Ted with default hyperparameter and it is overfitting already. following is the learning curve of my training process. I got 37% WER on the test set.
![image](https://user-images.githubusercontent.com/3919482/27164990-aea196f2-51c3-11e7-9291-0f03c402cfb5.png)
And noticed that there is a drop at epoch 8 on the training set, which is confused. Any idea why this happened? The train

[2017-06-15 09:21] gardenia22 opened #635 "Native_client python buildings failed"
I am following the https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md, but failed in the last step "Python Buildings". I am running on Mac OS X 10.10.5.
After run
`PREFIX=/usr/local sudo make install`
I got:
[code]
There is no errors in previous building steps, and running client via Makefile works fine. It seems to be an issue on Mac OS. Unfortunalely I still don't know how

[2017-06-16 20:37] andi4191 commented on #537
@tilmankamp: how many files are expected to be configured (max_to_keep) as a FLAG variable ? By default its 5.

The filenames by default are named as model.ckpt-XXX. Should we change that or use as it is?

[2017-06-18 04:56] varunravi commented on #520
@arpit601
Yeah. Pip install kenlm from master fixes it.

[2017-06-19 06:04] arpit601 commented on #520
I tried this below link but it did not work ,...
pip install https://github.com/kpu/kenlm/archive/master.zip

[2017-06-19 09:19] tiagmoraismorgado opened #638 "issues within running ./bin/run-ldc93s1.sh"
# Greetings

**I did the following:**

- _cloned this repository_
- _installed the pre-requisites_
- _tried to run ./bin/run-ldc93s1.sh_

**unfortunately this is not running. maybe i will test it with python 3 as well to see if i get the same error message, you can find at my log in the gist down below**

_https://gist.github.com/tiagmoraismorgado/d9ae25c73012ad963bbb749c8c69c9b1_

**please provid

[2017-06-19 09:22] kdavis-mozilla commented on #638
A prerequisites is Git Large File Storage[[1](https://github.com/mozilla/deepspeech#prerequisites)].

You must first install Git Large File Storage, then re-clone the project.

[2017-06-19 09:22] #638 closed

[2017-06-19 09:26] tiagmoraismorgado commented on #638
installed git large file storage

[2017-06-19 09:29] tiagmoraismorgado commented on #638
you are right, i had installed it with homebrew, but it was not linked

[2017-06-19 09:37] tiagmoraismorgado commented on #638
![captura de ecra 2017-06-19 as 10 36 22](https://user-images.githubusercontent.com/7303598/27279067-5a596bf4-54db-11e7-83d4-a3c6ed7d8a68.png)

[2017-06-19 09:44] tilmankamp commented on #638
I think you have to do another `git lfs install` to finally activate it for git.

[2017-06-19 09:44] kdavis-mozilla commented on #638
Did you re-clone the project?

[2017-06-19 10:15] tiagmoraismorgado commented on #638
yes, i did

[2017-06-19 10:18] tiagmoraismorgado commented on #638
i confirm that i was missing git lfs install to initialize the git lfs. i now cloned the project again and it seems to be cloning the entire 1.9 gb dataset

[2017-06-19 11:05] tilmankamp commented on #531
Constantly getting the same exception for an 8 GPU setup on the Fisher data set.
Seems to be a general issue of the CTCLoss.
The Fisher set constantly fails at the same point in time (around global step 135).
So far I tried to get around it (without success) by:
 - going single node
 - different batch sizes
 - different stddevs
 - different dropoputs
 - offsetting the training samples - higher off

[2017-06-19 11:09] tiagmoraismorgado commented on #638
i am not getting any further errors with git lfs but i am getting a weird traceback error message

[2017-06-19 12:10] tiagmoraismorgado commented on #638
**https://vimeo.com/222183017 i got the example to finish the training bur i am not getting**
[code]
**as part of my console output. is this what python console is supposed to return? kind regards. thank you very much**

[2017-06-19 12:12] kdavis-mozilla commented on #638
Yes, other than the fact that it missed the last 'l' of 'all' it looks good.

[2017-06-19 12:13] tiagmoraismorgado commented on #638
yes, the fact is that was initially getting this message, but i am not anymore

[2017-06-19 12:15] kdavis-mozilla commented on #638
You only get it if the WER is not 0%. If it's 0% it doesn't print anything out.

[2017-06-19 12:22] tiagmoraismorgado commented on #638
**thank you very much for all your precious insights. i concluded that:**
- _deepspeech is a state of the art speech reconigtion;_
- _however, it cannot be pretty tricky to do pattern matching;_

**if you have any suggestions of an implementation suitable for doing audio pattern matching, using tensorflow, i would be thankful**

**looking forward, kind regards**

[2017-06-19 15:36] reuben opened #640 "Create a utility that continually receives audio files and does STT on them"

[2017-06-19 21:13] andi4191 commented on #538
@tilmankamp : There is a TF monitor that facilitates early stopping "ValidationMonitor" but so far i have only seen classifier's fit method taking monitors as argument and our code has no such calls. Can you suggest any pointers or APIs?

OR

Do we need to implement a new version of our own?

[2017-06-20 03:43] dimatter commented on #630
Is there any information on training times? i.e how long does it take to train X on Y hardware?

[2017-06-20 10:07] tilmankamp commented on #538
`ValidationMonitor` is part of `tf.contrib.learn`.  It is TensorFlow's high level learning API, which we don't use. So yes, we have to implement it for ourselves. The training coordinator has to take this responsibility, as he receives the calculated losses per epoch. He'd have to monitor them and he has also the power to stop the training in a graceful way.

[2017-06-20 11:17] basant-kumar commented on #578
getting the same kind of error, tried all above solutions, but didn't work

**Error**

  File "<string>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/deepspeech/__init__.py", line 1, in <module>
    from .deepspeech import *
  File "/usr/local/lib/python2.7/dist-packages/deepspeech/deepspeech.py", line 28, in <module>
    _deepspeech = swig_import_helper()
  File "/usr/local

[2017-06-20 13:46] Cwiiis commented on #578
I've come across similar errors only when I've had a version mismatch somewhere. Likelihood is a different Tensorflow library to that which you compiled deepspeech against is being found by Python and there's an ABI mismatch. I would suggest that the easiest way to fix this is to make sure TensorFlow is completely uninstalled, the TensorFlow check-out is clean and rebuilding and reinstalling from

[2017-06-20 14:00] alanbekker opened #641 "trying to test my model but receiving core dumped, any ideas why?"
I'm running:

 ARGS="/home/alan/DeepSpeech/logs/libribox/export_models/output_graph.pb   /home/alan/Projects/DeepSpeech/data/smoke_test/alan.wav" make run

and I receive:

alan@alan:~/DeepSpeech/native_client$ ARGS="/home/alan/DeepSpeech/logs/libribox/export_models/output_graph.pb   /home/alan/Projects/DeepSpeech/data/smoke_test/alan.wav" make run ARGS="/home/alan/DeepSpeech/logs/libribox/export_m

[2017-06-20 14:33] lissyx commented on #641
Can you make sure that `/home/alan/Projects/DeepSpeech/data/smoke_test/alan.wav` does exists and is accessible ?

[2017-06-20 14:37] alanbekker commented on #641
when I converted it to mono and reduces the sample rate it worked...any
ideas why?

On Tue, Jun 20, 2017 at 5:33 PM, lissyx <notifications@github.com> wrote:

[2017-06-20 14:39] lissyx commented on #641
No, the code should be able to resample. Though the error message is quite clear: `No such file or directory`, hence my previous question :)

[2017-06-20 14:55] alanbekker commented on #641
Sorry, the error I sent you before wasn't related.

I meant to say that without converting to mono and sub-sample the audio the
results looked very bad. Do you know why?

On Tue, Jun 20, 2017 at 5:39 PM, lissyx <notifications@github.com> wrote:

[2017-06-20 14:58] lissyx commented on #641
As I said earlier the code does resampling, so I'm surprised you get bad results. Can you share more informations on that ? `mediainfo` on the two WAV files might help, as well as the output of your network and how you trained your model.

[2017-06-20 15:05] alanbekker commented on #641
The model was trained on livribox and achieved 30% WER.

I recorded my self saying "one two three four five"
The first file  is 44100hz, stereo (original)
The second is 8000hz mono (reduced)

with the reduced file the network output is:"len to flly full tham "
-obviously not good results but still the phone level is similar

but with the original file(stereo with 44100hz)  and don't get any networ

[2017-06-20 15:08] lissyx commented on #641
Network is being trained against 16kHz WAV mono audio files. The error `multi-channel effect drained asymmetrically!` is from SOX, I don't know exactly why, but I can investigate. Maybe it is resampling failing to work ?

Besides, 30% WER and the behavior you describe is consistent. Being a non native english speaker, a TED-trained at 35% WER network would produce similar garbage even in non-noisy

[2017-06-20 15:10] lissyx commented on #641
Checking: https://github.com/chirlu/sox/blob/master/src/effects.c#L356 we do have code in client.cc that leverage SOX' chain effect to resample. @Cwiiis does it rings any bell ?

[2017-06-20 15:21] alanbekker commented on #641
I converted now to mono with 16k and received much better results "one too
thri four five"

On Tue, Jun 20, 2017 at 6:10 PM, lissyx <notifications@github.com> wrote:

[2017-06-20 15:24] lissyx commented on #641
Thanks, then @alanbekker I guess we should close this issue. Can you file a clean new issue for the resampling behavior ? I'm as well surprised that you get different inference results with your hand-converted mono 16k. Was that converted from the stereo 44kHz file or the 8kHz mono one? If it was the 8kHz one, I would have expected that sox' resampling would have given you the same results.

So th

[2017-06-20 15:24] #641 closed

[2017-06-20 15:34] kdavis-mozilla commented on #630
Off the top of my head here are some examples @dimatter :
- TED data set with 4 Titan X Pascal GPU's takes 2h24m per epoch
- TED data set with 8 Titan X Pascal GPU's takes about 1h15m per epoch
- Librivox data set with 4 Titan X Pascal GPU's takes about 10h55m per epoch

[2017-06-20 18:24] #319 closed

[2017-06-20 22:20] MatthewWaller opened #642 "Make model convertible by CoreML"
It would be wonderful if DeepSpeech models could be converted to CoreML, for offline use in apps. Here is documentation to do just that. https://developer.apple.com/documentation/coreml/converting_trained_models_to_core_ml Thanks!

[2017-06-21 00:31] andi4191 commented on #538
@tilmankamp : As per my understanding, the early stopping criteria would be based on loss incurred from validation dataset analyzed over the past n_steps, right ? Please correct me if my understanding is incorrect.

PS: I tried aggregating the losses from the jobs with set_name "dev" but while training the model, it seems the batches are continuously run over the training TED data set and after mo

[2017-06-21 00:50] andi4191 commented on #611
@tilmankamp : Can we write a wrapper to override the save method of tf.train.Saver class?

That way we can read the latest checkpoint file at start and while saving the checkpoint file, assign the global step updated as an argument in the save method.

[2017-06-21 08:54] tilmankamp commented on #538
Yes, early stopping works like that - monitoring validation loss and stopping, if it goes up again.

For being able to monitor validation loss, you have to have validation steps configured in your parameters. If not, there will be no validation steps and as a consequence automatic early stopping cannot work.
Probably your code should log a warning, if the user specifies early stopping, but no vali

[2017-06-21 09:31] alanbekker opened #643 "The sox doesn't convert my wav file to 16khz as supposed to"

[2017-06-21 09:38] alanbekker opened #644 "Understanding the ctc_beam_search_decoder"
How does the CTC beam search works? I ask because something isn't clear to me.

A regular beam search assumes that the dependent probability of P(y1,..yn) (n is the beam width) is tractable it means that we now how to calculate P(yn| y1...Yn-1) but in our case how does the ctc_beam_search_decoder knows the transition statistics between the different characters?

Somehow if I understand correct the

[2017-06-21 09:50] kdavis-mozilla commented on #643
Could you give us more detail? What importer? What error message? What data set?...

[2017-06-21 09:53] kdavis-mozilla commented on #644
`ctc_beam_search_decoder()` is a function in TensorFlow. You should refer to TensorFlow's documentation for the function[[1](https://www.tensorflow.org/api_docs/python/tf/nn/ctc_beam_search_decoder)].

[2017-06-21 09:53] #644 closed

[2017-06-21 11:36] tilmankamp opened #645 "Remove excessively long sample from Fisher training data set"
Sample `fisher-2005-split-wav/fe_03_11487-31.09-234.06.wav` is almost 8 times longer than the next biggest one. It would force us to lower training batch size to 2. Therefore we should exclude it from the train set and make according changes to the fisher importer script.

[2017-06-21 11:59] tilmankamp opened #646 "Fix transcription in Fisher train set"
Fisher training sample `fe_03_10282-344.42-344.84.wav` has a wrong transcription associated with it. The (non spoken) word "because" at the beginning is almost doubling the character length. This lets `CTCLoss` fail due to it's inability to extend the number output frames. The importer script should remove the word "because" from the sample's transcription.

[2017-06-21 13:58] tilmankamp opened #647 "Fisher importer script should resample to 16 kHz"
The original Fisher samples are provided in 8 kHz. Graph and parameters are all optimized for 16 kHz. So a re-sampling of Fisher samples to 16 kHz is the easiest way to align all the different corpora.

[2017-06-21 15:28] tilmankamp commented on #611
That's not the actual problem of this issue. The global step is already loaded at startup and can also be gathered from the checkpoint's filename. The challenge here is to correctly compute the next sample's index and initialize the training coordinator accordingly.

One can only do this under certain assumptions:
 - The number of GPUs,
 - the number of replicas and
 - the batch size
did not chang

[2017-06-22 10:33] tilmankamp opened #649 "Zero based sample indexing"
At the moment the first sample index emitted by the training coordinator is 1. For better debugging and reverse batch size probing this needs to be 0.

[2017-06-22 13:27] #647 closed

[2017-06-23 14:24] andi4191 commented on #611
Are we referring to the next index from _read_data_sets function from util package?

[2017-06-23 14:45] tilmankamp commented on #611
The `read_data_sets` from `data_set_helpers` module gets fed a lambda which in turn retrieves the next index from the training coordinator. This is the sample index, yes.

[2017-06-23 15:05] tilmankamp commented on #643
@alanbekker If it's about importing data: the Fisher importer does 8 to 16 kHz [re-sampling](https://github.com/mozilla/DeepSpeech/blob/master/bin/import_fisher.py#L164). Maybe this helps.

[2017-06-23 19:59] #645 closed

[2017-06-23 19:59] #646 closed

[2017-06-23 21:01] #538 closed

[2017-06-26 15:45] jinserk opened #653 "compiling error in native client"
I've tried to compile the native client as described in natve_client/README.md, but met some errors like:
[code]
I tried to change the position of -ldeepspeech and -ltensorflow but the result is same.
Of course I have libtensorflow.so in the path.
Could you give me any advice?

[2017-06-26 16:15] lissyx commented on #653
I guess you are building out of master. Please change references from libtensorflow to libtensorflow_cc. This includes the tensorflow build itself, if you build from source, you should build `//tensorflow:libtensorflow_cc.so`. Then in the `Makefile` refer to `-ltensorflow_cc` instead of `-ltensorflow`.

[2017-06-26 16:35] jinserk commented on #653
It works, thank you so much, @lissyx !

[2017-06-26 16:37] lissyx opened #654 "Handle Tensorflow change of libtensorflow.so to libtensorflow_cc.so"
It seems in the past we relied on libtensorflow to bundle the C++ API. I cannot remember whether this was proper wrt the documentation, but newer releases makes the C++ API only available in libtensorflow_cc.so

This creates troubles (issue #653).

[2017-06-26 16:38] #653 closed

[2017-06-26 16:45] lissyx commented on #581
Some of the build failures in this thread may be a consequence of issue #654, one can find a simpler example/confirmation in issue #653 .

[2017-06-26 22:07] alanbekker opened #656 "inference time"
HI guys,

I'm running inference on a 3 seconds wav file and according to my profiling the sess.run operation takes me 8 seconds, does it make sense to you? there is any way to optimize it?

In addition maybe someone tried to use a more shallow network rather than the default in the code.

Thanks,

Alan

[2017-06-27 00:12] kdavis-mozilla commented on #656
The timing is hardware dependent. That said we've been able to do inference faster than real time on a MacBook Pro, i.e. a 3 sec sample takes less than 3 sec to process.

[2017-06-27 09:37] Cwiiis commented on #574
Fixed by https://github.com/mozilla/DeepSpeech/commit/560da1558d2b0600040d92cdcfccbca3241f04f1

[2017-06-27 09:37] #574 closed

[2017-06-27 09:56] Cwiiis commented on #603
Fixed by https://github.com/mozilla/DeepSpeech/commit/42eded652ba4e69e87b58a5627fdf5ecf6cd09fd

[2017-06-27 09:56] #603 closed

[2017-06-27 17:08] lissyx commented on #654
Mostly from tensorflow/tensorflow commit b0989a0280971034bd838fa176ae3f92b210e8dc

[2017-06-27 17:22] lissyx commented on #654
This will also require changes from to https://github.com/mozilla/tensorflow/blob/v1.0.0-warpctc/tc-vars.sh#L68 and https://github.com/mozilla/tensorflow/blob/v1.0.0-warpctc/tc-package.sh#L6

[2017-06-27 17:36] andi4191 opened #658 "Update the documentation for Early Stopping parameters"
Need to update the parameter documentation regarding the Early Stop parameter. Loss is not stored in the checkpoint files so when a checkpoint file is revived, the loss calculation is from start at that point. Need to update that as a part of documentation.

[2017-06-27 21:11] #658 closed

[2017-06-27 21:55] #537 closed

[2017-06-27 23:18] reuben opened #660 "Compare layer normalization vs. batch normalization in DS2"

[2017-06-28 08:15] gardenia22 opened #661 "Error Message is not complete"
After I installed nltk and kenlm, following error message showed up. Before that, I already done many training tasks without error. Is there any correlation between the installed packages?
[code]
I manually change `tokenize.Name` to `'[a-zA-Z_]\\w*'`, fixed this problem. Then still have another error.

[code]

`E 'module' object has no attribute 'Model'` seems similar with the first one, however i

[2017-06-28 08:34] gardenia22 commented on #661
Find that E 'module' object has no attribute 'Model' should be in util/spell.py, line 15
[code]

[2017-06-28 11:01] vtan25 opened #662 "Error in Monitored Tensorflow Session"
Reading /home/aneeme/Desktop/deepSpeech/data/lm/lm.binary
----5---10---15---20---25---30---35---40---45---50---55---60---65---70---75---80---85---90---95--100
****************************************************************************************************
E Cannot read model './data/lm/lm.binary' (lm/read_arpa.cc:65 in void lm::ReadARPACounts(util::FilePiece&, std::vector<long unsigned int>&)

[2017-06-28 12:27] varunravi commented on #635
Hey. I'm currently at this problem right now, if anyone has a solution that would be much appreciated.

[2017-06-28 13:28] kdavis-mozilla commented on #662
You need to install git large file storage[[1](https://github.com/mozilla/DeepSpeech#prerequisites)], remove the existing repo clone, then re-clone the repo.

[2017-06-28 13:34] kdavis-mozilla commented on #661
@gardenia22 How did you install kenlm? Did you use our install script?
[code]

[2017-06-28 13:43] gardenia22 commented on #661
@kdavis-mozilla In order to do language model eastimation, I installed kenlm following https://github.com/kpu/kenlm instruction. Then I reinstall kenlm python package by
[code]
Then kenlm have a similar method called kenlm.LanguageModel() instead of kenlm.Model(), and it doesn't take keyword argument.
I modified spell.py code as follows, it seems work.

line 15:
[code]
line 28:
[code]

[2017-06-28 13:46] kdavis-mozilla commented on #661
@gardenia22 Interesting. Sounds as if the kenlm python API changed. We'll have to update our code.

[2017-06-28 13:50] gardenia22 commented on #661
@kdavis-mozilla any idea how to fix the problem showed in `tokenize` package without manually modifying `tokenize.Name`?

[2017-06-28 15:57] lissyx commented on #635
As a quick workaround, @varunravi can you try to change the `install -s` statements in `native_client/Makefile`, in the `deepspeech` dep (around lines 61-63) and remove the `-s` ? This is what calls `strip`.

[2017-06-28 16:33] reuben commented on #661
This is weird. The first error message is inside of pandas code, and the second shouldn't happen according to kenlm code. Could you try installing the requisites from scratch in a new virtualenv and seeing if that fixes it? I think you're right that the nltk package or something else in your environment is messing up with the imports.

[2017-06-28 18:56] #635 closed

[2017-06-28 19:08] tilmankamp opened #666 "WER estimation on base of random sub-set of corpora samples"
Computing actual WER values (using all samples) during training is too time consuming and not practical. An easy and more practical approach would be to calculate an WER estimate on base of a small random sub-set of the samples.

[2017-06-28 20:49] jinserk opened #667 "early stop and export warning"
I'm not sure I'm doing correct or wrong, but doing the training with tedlium corpus, I've got the following logs:
[code]

1. why was the early stop triggered just after one epoch?
2. is it okay about the exporter warning? (I'm using tensorflow 1.2)
3. as testing with other data not including in the corpus, the result shows as like:
[code]

so, it seems the char based output states are not sufficie

[2017-06-28 20:53] lissyx commented on #654
Closing after merge of https://github.com/mozilla/DeepSpeech/pull/657 and https://github.com/mozilla/tensorflow/pull/20

[2017-06-28 20:53] #654 closed

[2017-06-28 21:22] andi4191 commented on #667
@jinserk: Its not supposed to early_stop right after 1 epoch. Decision for early stopping is made on the basis of past 'earlystop_nsteps' validation epoch losses.

If the length of the _dev_losses is less than 'earlystop_nsteps' it won't trigger the early_stop routine.

However, I have my suspicion at one point. Can you try the following and share the results?

1. Don't remove the checkpoint files

[2017-06-28 21:30] pecastro opened #668 "Distributed training hangs at Start batch"
Running a distributed training on with a modified version of run-ted.sh on more than one host hangs on Starting batch

[code]

[code]

The same thing happens with version Tensorflow v1.1. The latest master I've tried also exhibits the same behaviour.
Is this something you guys might have also bumped into or shall I post it to the Tensorflow crew?

[2017-06-28 21:41] jinserk commented on #667
I'm sorry but I blew up the checkpoint files by mistake. :(
DeepSpeech.py doesn't have any flag to restore the previous checkpoint at a new training, so I've modified the code to add it, but it was wrong to overwrite new checkpoint files over the old one. I have to begin the training from the scratch. it'll take about a day. :(
Sorry. I'll check your patch after I get some result, and let you know

[2017-06-29 00:18] andi4191 commented on #667
@jinserk: The code saves the checkpoint files after 'checkpoint_secs' seconds (configurable parameter). Also there is 'max_keep' parameter which states how many files will persist in checkpoint dir location. It overwrite the files in round robin fashion.

[2017-06-29 03:09] gardenia22 commented on #661
@kdavis-mozilla I uninstall and reinstall kenlm, then kenlm module have `.Model()` method  again... Looks kenlm python API still the same, and you don't have to update your code.

[2017-06-29 04:20] gardenia22 commented on #661
@reuben I reinstall from scratch in a new virtualenv, and still have same error message `AttributeError: 'module' object has no attribute 'Name'`

[2017-06-29 17:31] #185 closed

[2017-06-29 17:41] #224 closed

[2017-06-29 17:48] #252 closed

[2017-06-29 17:57] #300 closed

[2017-06-29 17:58] #321 closed

[2017-06-29 18:00] #354 closed

[2017-06-29 18:08] #366 closed

[2017-06-29 18:12] #399 closed

[2017-06-29 18:16] kdavis-mozilla commented on #430
One can download via a browser first to spare the GPU while downloading.

[2017-06-29 18:16] #430 closed

[2017-06-29 18:21] kdavis-mozilla opened #669 "Replace KenLM Language Model with TF Language Model"

[2017-06-29 18:30] reuben commented on #435
We're training a bunch of models and getting ready to share them. It's coming soon! :)

[2017-06-29 18:34] lissyx commented on #440
Maybe https://github.com/tensorflow/tensorflow/commit/905662a1c047f314ad295e27d2e2a00b4aa51e90 ?

[2017-06-29 18:36] #442 closed

[2017-06-29 18:42] lissyx commented on #440
@andi4191 Current https://github.com/mozilla/tensorflow v1.0.0-warpctc branch should include the fix mentionned above. If you update the virtualenv with this Python PIP package, we should be able to know if the segfault at the end of training you saw earlier is actually fixed: https://index.taskcluster.net/v1/task/project.deepspeech.tensorflow.pip.v1.0.0-warpctc.gpu/artifacts/public/tensorflow_gpu

[2017-06-29 19:04] reuben opened #670 "Create a tool for running a test set based on a given checkpoint and publish the results"

[2017-06-29 20:30] tilmankamp opened #671 "Speed and tempo audio pertubation"

[2017-06-29 20:55] lissyx commented on #578
@basant-kumar It would help to have the overall errors reported. I am inclined to think this is just fallout from what was fixed by https://github.com/mozilla/DeepSpeech/pull/657

[2017-06-29 20:56] jinserk commented on #667
@andi4191, I did try to resume the training, but it starts with 0 ckpt again, not from ~9900 which was the end of first epoch. So I modified like this:
[code]
If I did something wrong, please let me know. :)

[2017-06-29 21:05] #581 closed

[2017-06-29 21:11] andi4191 commented on #667
@jinserk : Can you verify the checkpoint_dir mentioned from the script file you are trying to run?
The Saver hook used in the code takes care of that itself. It picks up the latest checkpoint file saved at the configured location.

[2017-06-29 21:21] kdavis-mozilla commented on #491
With current SLUM solution not required

[2017-06-29 21:21] #491 closed

[2017-06-29 21:23] kdavis-mozilla commented on #492
Full trace usually creates a file that is too large to view. So we'll close it.

[2017-06-29 21:23] #492 closed

[2017-06-29 21:29] #531 closed

[2017-06-29 21:30] kdavis-mozilla commented on #543
Seems to be solve with current master

[2017-06-29 21:30] #543 closed

[2017-06-29 21:32] reuben commented on #563
There's a constant factor for smaller samples, but as they grow in size I got an average RTF of 0.6 on my MacBookPro11,3 (GTX 750M) with tensorflow-gpu==1.1. Using the CPU only package we're around 1.3x real time.

[2017-06-29 21:32] #563 closed

[2017-06-29 21:33] reuben commented on #563
I also did some tests on my desktop with two GTX 1070's and the RTF there was closer to 0.2.

[2017-06-29 21:35] reuben commented on #573
Will be fixed before the branch is finalized/merged/abandoned.

[2017-06-29 21:35] #573 closed

[2017-06-29 21:36] migueljette commented on #563
Fascinating! Thanks for checking and letting me know!
Out of curiosity, would using 4 GPUs reduce it to 0.1? I wonder what the limit is. But i'm just curious... i'll do some real test soon. I just keep running out of time. :)
Thanks again! 👍

[2017-06-29 21:36] reuben commented on #563
It would not, inference is only done on a single GPU. I only mentioned the two GPUs on the desktop out of habit :)

[2017-06-29 21:37] kdavis-mozilla commented on #578
We've made related fixes. If this occurs again, please reopen,

[2017-06-29 21:39] #585 closed

[2017-06-29 21:40] kdavis-mozilla commented on #589
Close on inactivity

[2017-06-29 21:40] #589 closed

[2017-06-29 21:42] kdavis-mozilla commented on #591
With our current hardware this doesn't make sense, we've 8 GPU's on a single PCIe bus.

[2017-06-29 21:42] #591 closed

[2017-06-29 21:42] jinserk opened #673 "no lm of native_client output?"
I'm not sure there is no doc or explanation about this, but the output of native_client seems no lm. Am I correct?
If so, how I can add this?

[2017-06-29 21:46] reuben commented on #673
You'd have to reimplement the stuff in util/spell.py in C/C++ (kenlm has a C/C++ API).

[2017-06-29 21:46] reuben commented on #673
PRs welcome!

[2017-06-29 21:54] tilmankamp commented on #668
Could you share your script/command line?

[2017-06-29 22:00] jinserk commented on #673
Simply I've modified the native_client/client.py like this:
[code]
Anyway it seems it works. since util is not the part of native_client package, so I didn't send PR. Will try to improve client.cc later. :)

[2017-06-29 23:00] migueljette commented on #563
ha ha! Ok, got it. Thanks again!

[2017-06-29 23:06] reuben commented on #579
Fixed by #672.

[2017-06-29 23:06] #579 closed

[2017-06-30 02:25] gardenia22 commented on #635
It worked. thanks!

[2017-06-30 03:29] jinserk commented on #667
I'm not sure but Saver hook is related only to store the ckpt files? I didn't see any restore before training resumed in current code.
checkpoint_dir is not changed since I'm using bin/run_ted.sh script to re-run. The first epoch is still in progress...

[2017-06-30 06:09] basant-kumar commented on #578
hi, @lissyx @kdavis-mozilla , now deepspeech can be imported easily but while importing **deepspeech.model**, I'm getting same kind of error as shown below

Traceback (most recent call last):
  File "client.py", line 3, in <module>
    from deepspeech.model import Model
  File "/usr/local/lib/python2.7/dist-packages/deepspeech/model.py", line 28, in <module>
    _model = swig_import_helper()
  Fil

[2017-06-30 06:29] gardenia22 commented on #578
#657 didn't fix this issue, same error still remains on my server.

[2017-06-30 06:37] lissyx commented on #578
Yes, it looks like I do reproduce that issue:
[code]

And yet,
[code]

[2017-06-30 06:42] gardenia22 opened #675 "Handling audio with more than one channel?"
I have some audio data with 2-d stereo format. Seems like currently only 1-d mono audio is supported in training process? I have to add following code in `audio.py` to make the result right:
[code]
I also tried only take the first channel, it worked even better than the mean value on my dataset.
[code]
Also, 2-d stereo wav file causes following error in `native_client.py`:
[code]

[2017-06-30 06:49] gardenia22 commented on #670
Right now I add `--notrain` parameter and save the test result to file from `calculate_report` function. It worked but sometimes the test result is incomplete as a few batch results are losing.

[2017-06-30 06:51] lissyx commented on #578
@basant-kumar @gardenia22 Can you test PR https://github.com/mozilla/DeepSpeech/pull/676 ? It fixes the issue locally for me.

[2017-06-30 06:54] gardenia22 opened #677 "How to calculate running time for each batch?"
I want to test the latency for predicting per batch and per sample. Currently, I am calculating the time for an entire Epoch in `Epoch` class from `DeepSpeech.py`. But what if I want to calculate the time for each batch?

[2017-06-30 10:27] pecastro commented on #668
run-script.sh
[code]

[code]

[2017-06-30 11:57] basant-kumar commented on #578
Thanks @lissyx ,  yes, this(676) fixed it.
appreciate it :+1:

[2017-06-30 13:55] #578 closed

[2017-06-30 16:10] andi4191 commented on #667
@jinserk :
Code Snippet:
"     # Hook wih number of checkpoint files to save in checkpoint_dir
     if FLAGS.max_to_keep > 0:
         saver = tf.train.Saver(max_to_keep=FLAGS.max_to_keep)
         hooks.append(tf.train.CheckpointSaverHook(checkpoint_dir=FLAGS.checkpoint_dir, save_secs=FLAGS.checkpoint_secs, saver=saver))

     **# The MonitoredTrainingSession takes care of session initialization,

[2017-06-30 16:36] jinserk commented on #667
Hmm. I didn't realize that the epoch 0 finished, now it calculates epoch 1. By the way, there is no output model export. Is there no output model export at the end of every epoch?

[2017-06-30 16:37] reuben commented on #667
Checkpoints are saved every minute. The graph is only exported at the end of training, if the export_dir parameter was specified.

[2017-06-30 16:49] tilmankamp commented on #668
@pecastro You got two times the same host:port entry in `--worker_hosts`. Please change that and check, if it solves your problem?

[2017-06-30 17:01] reuben commented on #667
Sorry, that was a typo, not every minute, every checkpoint_secs seconds, which by default is 10 minutes.

[2017-06-30 17:35] tilmankamp commented on #675
@gardenia22 Interesting observations. Unfortunately you are right - we don't support stereo at the moment.

[2017-06-30 17:43] jinserk commented on #667
Thanks for answer, @reuben. Yes, that's as I figured out. However you know, the decoder (native client) requires the inference graph, not the training checkpoint. And DS has big network model, which takes too long to be end (I had to spend one day per each epoch with GTX1070 with 8GB memory). It'll be much better if I can use the intermediate model during the training. :-)

[2017-06-30 17:55] tilmankamp opened #678 "Data of continued run gets copied into wrong sub-directory"
The checkpoint data of a continued run ends up in `results/keep/keep`.

[2017-06-30 18:47] reuben commented on #667
The graph used by the native client has the weights embedded in it, so effectively it's a checkpoint. You can't do inference with just the computation graph.

[2017-06-30 18:49] reuben commented on #667
You could just call export() at the end of every epoch :)

[2017-06-30 19:16] jinserk commented on #667
I did like this:
[code]
Still don't know the position is correct or not. epoch is in progress.

[2017-06-30 19:34] pecastro commented on #668
@tilmankamp That was a typo of when I substituted the REAL hostname by example names.

They are three distinct ones.

[code]

[2017-06-30 20:39] tilmankamp commented on #668
@pecastro Could you set `--log_level 0` and post the resulting log output of all instances?

[2017-07-01 15:34] kdavis-mozilla commented on #629
@gardenia22 B default I mean those in `run-wer-automation.sh` is this also what you mean?

[2017-07-01 15:36] #630 closed

[2017-07-01 15:36] kdavis-mozilla commented on #632
We've not tested on Windows. However, if you've found out any useful info, please let us know.

[2017-07-01 15:37] kdavis-mozilla commented on #633
For now tail can work

[2017-07-01 15:41] kdavis-mozilla commented on #634
While we plan to target other languages, we haven't made any decision as to which is the next language to target yet. If you've sufficient speech data for Urdu, thousands of hours of speech, we'd be willing to help in modifying our code for Urdu and lending some server resources for training.

[2017-07-01 15:42] kdavis-mozilla commented on #640
@reuben Could you give details on what you want to do here?

[2017-07-01 15:45] kdavis-mozilla commented on #642
@MatthewWaller It doesn't appear as if TenforFlow is supported.

[2017-07-01 15:46] kdavis-mozilla commented on #643
Closing on in activity. @alanbekker if this is still a problem, feel free to reopen.

[2017-07-01 15:46] #643 closed

[2017-07-01 15:47] #656 closed

[2017-07-01 15:47] MatthewWaller commented on #642
Hmmm, so I would probably need to write a custom conversion tool, like it says at the bottom of the page, I guess.

[2017-07-01 15:48] kdavis-mozilla commented on #662
@vtan25 I'm going to assume this fixed the problem and close the issue. If this is not the case, feel free to re-open.

[2017-07-01 15:48] #662 closed

[2017-07-01 15:53] kdavis-mozilla commented on #673
@jinserk as you've soled your problem, I'm going to close.

[2017-07-01 15:53] #673 closed

[2017-07-01 15:56] kdavis-mozilla commented on #642
@MatthewWaller I'd guess so. Which seems like a large outlay in time and knowledge.

[2017-07-01 16:33] MalikMahnoor commented on #634
Actually we are trying to make changes in spell.py and text.py for urdu language, and also working for language model in urdu.We have a corpus of urdu on which we will be doing our training.Is this the right approach ?

[2017-07-01 20:22] pecastro commented on #668
@tilmankamp I decided it was best to try to reproduce the whole thing with a minimal known setup.
I choose the toy ldc93s1.

1 Parameter server
[code]
[ps_train.txt](https://github.com/mozilla/DeepSpeech/files/1117385/ps_train.txt)

2 Workers
1:
[code]
[worker0_train.txt](https://github.com/mozilla/DeepSpeech/files/1117387/worker0_train.txt)

2:
[code]
[worker1_train.txt](https://github.com/mozill

[2017-07-01 20:54] tilmankamp commented on #668
@pecastro Thanks for the logs - they were quite helpful. I think the training coordinator's `TrainingCoordinationHandler` was not tested for Python 3 compatibility.
I'll follow up on this ASAP. In the meantime you could try replacing
[code]
by
[code]
in `DeepSpeech.py`. If this works, you could make a PR and assign me for review.

[2017-07-02 12:31] pecastro commented on #668
Opened https://github.com/mozilla/DeepSpeech/pull/681 as suggested.
I'm not sure why I had decided that error wasn't worth looking at. :|
Test job completed this time though the master worker didn't properly exit leaving in the log

[code]

[2017-07-03 01:23] gardenia22 commented on #629
@kdavis-mozilla No, I use hyperparameters in `run-ted.sh`.

[2017-07-03 02:29] kdavis-mozilla commented on #629
@gardenia22 OK. Interesting.

The best WER we've had training on the TED training data set and testing on the TED test data set was 31.96%, see the old results here[[1](http://doyouunderstand.me/)].

What we've currently found, as I guess you have too, is that the TED training data set is not of a sufficient size to get a low WER on the TED test set. So we're combining various training sets then t

[2017-07-03 02:40] gardenia22 commented on #629
@kdavis-mozilla Yes, you are right, I am doing the same thing. Training on librivox(~1000 hour) and ted(~200 hour) data set, so far I got 27.52% on TED test and 25.98% on LIbrivox test.

[2017-07-03 02:53] gardenia22 commented on #675
Since the default `wav` format in training process has 16000 sample rate and 1 channel. I converted my dataset with 16000 sample rate and 1 channel to make the format consistent.
In `_maybe_convert_wav_dataset` function in `import_xxx.py`, add something like this:

[code]
It is the best solution I found so far.

[2017-07-03 08:10] lissyx opened #682 "Quantization: integrate primitives to quantize after training"
One should be able to just perform training with extra parameters that will apply some graph transformation to quantize the computation graph

[2017-07-03 08:11] lissyx opened #683 "Quantization: memory usage benchmark tooling"
Let us leverage valgrind and have some tooling to properly investigate how quantization affects overall inference memory usage

[2017-07-03 08:13] lissyx opened #684 "Quantization: inference time benchmark tooling"
Let us have tooling to perform consistent and reproductible local/remote inference time benchmarking. It should make it easy to run benchmarks for several variations of the same model, locally or over SSH, whether target platform is the same as host or another one.

[2017-07-03 08:15] lissyx opened #685 "Quantization: SVD"
Implement SVD to reduce the size of the model for inference.

[2017-07-03 08:16] lissyx opened #686 "Quantization: weights"
Benchmark using `transform_graph`'s `quantize_weights`, how much memory can be saved.

[2017-07-03 08:17] lissyx opened #687 "Quantization: nodes"
Using documented `transform_graph`'s transformation for 8-bits computation, benchmark how much inference time speedup we can get.

[2017-07-03 08:18] lissyx opened #688 "Quantization: WER impact tooling"
Let us have tooling to be able to easily benchmark quantized model against non quantized model on the WER result.

[2017-07-03 08:22] lissyx opened #689 "Switch to current Tensorflow master"
This involves on top of current tensorflow/master, rebasing/cherry-picking of TaskCluster integration and extra changes we have.

[2017-07-03 08:24] lissyx opened #690 "Quantization: investigate XLA/AOT usage"
Tensorflow provides XLA JIT and AOT optimization. Let us benchmark what kind of speedup we can expect.

[2017-07-03 08:25] lissyx opened #691 "Quantization: cannot quantize_nodes with transform_graph"
Confere https://github.com/tensorflow/tensorflow/issues/7162

[2017-07-03 09:13] ThejanW commented on #435
Are they ready now?

[2017-07-03 10:10] tilmankamp commented on #668
Can be closed now.
@pecastro For the non-exiting chief worker you could open a new bug.

[2017-07-03 10:10] #668 closed

[2017-07-03 10:41] istojan opened #692 "Adapting engine to any Custom Language"
I was wondering what kinds of modifications would be needed to use this engine for languages other than English (other than a new language model and a new words.txt file) ?
In particular, I was interested if it could be used with a Cyrillic script because of this: "data in the transcripts must match the [a-z ]+ regex", and if yes how hard would it be to adapt it.
I think I could circumvent this pr

[2017-07-03 11:04] reuben commented on #435
We'll comment here when they're available.

[2017-07-03 12:05] gardenia22 commented on #435
I test TED dataset with Google API using this tool [autosub](https://github.com/agermanidis/autosub) with little modification. Google API achieved 27.3162% WER. Is 10% WER aiming too high?

[2017-07-03 12:52] tilmankamp opened #693 "Determine erroneous Fisher test sample"

[2017-07-03 14:42] reuben commented on #435
That's off topic for this issue. Please join our IRC channel for questions and discussions. I'm locking this issue to try and get people to stick to the proper communication channels.

[2017-07-03 17:36] kdavis-mozilla commented on #629
@gardenia22 The best results we've had so far is 12% WER training on Librivox's training data set and testing on  Librivox's clean test data set. The language model used in this case was, as far as I remember, based off of the Librivox training data set.

[2017-07-04 03:11] gardenia22 commented on #629
@kdavis-mozilla Thanks for sharing the results with me:). The best result I got on Librivox's clean test data set is 15.0096% WER. Looks like there still much room to improve. Could you please share the hyperparameter used in your best model? Like how many epochs, the dropout rate, etc.

[2017-07-04 04:21] kdavis-mozilla commented on #629
@gardenia22 The hyperparameter settings are reflected in [run-librivox.sh](https://github.com/mozilla/DeepSpeech/blob/master/bin/run-librivox.sh).

However, the language model used in the 12% run was based off of the Librivox training data set. The current language model is trained using a combination of several (Librivox, Fisher, TED...) training data sets.

[2017-07-04 14:53] pecastro opened #695 "Checkpoint is not resuming from left off point"
9b7a6750ce71de02370e6a1783674e466a9de6ed from #537 seems to prevent the checkpoint functionality from working.

Subsequent runs of bin/run-ldc93s1.sh always start from scratch whereas reverting this commit restores the old funcitonality.

[2017-07-05 01:26] nealmcb commented on #630
Watch #435 for updates on the release of pre-trained models.

[2017-07-05 14:20] andi4191 commented on #695
@tilmankamp, @kdavis-mozilla : Root cause analyzed for this behavior, its the decoupling of the checkpoint_dir from the tf.train.MonitoredTrainingSession. It is required to pass the checkpoint_dir in this API too.

Will initiate the pull request for this shortly. Please suggest.

[2017-07-05 14:24] tilmankamp commented on #695
@andi4191 Indeed a very strange behavior of the API - I'd consider looking into the implementation.

[2017-07-05 17:54] #678 closed

[2017-07-05 18:30] andi4191 commented on #695
@tilmankamp : I checked the code from tensor flow API

** if checkpoint_dir:
    all_hooks.append(basic_session_run_hooks.StepCounterHook(
        output_dir=checkpoint_dir, every_n_steps=log_step_count_steps))

    if (save_summaries_steps and save_summaries_steps > 0) or (
        save_summaries_secs and save_summaries_secs > 0):
      all_hooks.append(basic_session_run_hooks.SummarySaverHook(

[2017-07-05 20:34] Aditay commented on #677
@gardenia22 what is your time for each Epoch and what hardware are you using ?

[2017-07-06 02:10] gardenia22 commented on #677
@Aditay I am running on NVIDIA GeForce GTX 1080 Ti. For Ted dataset, bach_size=12, 2 gpu, cost 182s of entire test epoch, and 231s for 1 gpu.

[2017-07-06 08:41] tilmankamp commented on #695
Is everything fine, if we keep passing `save_checkpoint_secs` and `checkpoint_dir` into `MonitoredTrainingSession`?

[2017-07-06 15:27] tilmankamp opened #698 "Train-set batch size used for dev and test"
So far in `DataSet.next_batch()` the batch size is not treated as a placeholder. Therefore it is injected into the graph as a constant. Effectively it carries the value of the default data-set's batch size - which is the one from the train-set.

[2017-07-06 15:29] tilmankamp opened #699 "In DataSet the threading coordinator is kept as a state variable"
It should get a thread parameter - like the session.

[2017-07-06 15:31] #693 closed

[2017-07-06 15:52] andi4191 commented on #695
@tilmankamp : Yes, it is working fine with those changes. Verified the max_to_keep functionality as well.

[2017-07-06 18:02] andi4191 commented on #373
@reuben : I have few doubts for this one.

1. Is it expected to use the BatchNorm layer after every layer or after h1, h2, h3, h5 layers?
2. If my understanding is correct, BatchNorm has to behave differently for training and testing phase. For training the mean and variance would be of the batch whereas for training the mean and variance would be of complete test dataset. Hence, for training phas

[2017-07-07 00:32] tgrundmanis opened #702 "Do you need an automated style checking tool?"
Myself and a cofounder created a style linter developer tool that comments on style errors in GitHub pull requests (for 15 languages and counting). It is free for open source projects.

You can check out the product on https://stickler-ci.com. Just authorize your GitHub account, enable a public repo, and then open/update an existing pull request (or create a new pull request).

[2017-07-07 00:49] andi4191 commented on #362
@kdavis-mozilla : I noticed there is already a branch with name issue362. Has there been some changes made for this benchmark variation algorithm in the past? Should I rename my local branch or do we need the changes made on this branch as well for this ?

[2017-07-07 03:08] THUHJ commented on #531
@tilmankamp  Hi, have you fixed this problem?
I met the same err on WSJ datasets and librispeech set, when I run the code in ds2-v2 branch.

(Btw, I can run the code on Deepspeech master correctly. So I guess it is not a problem relevant to data set. )

[2017-07-07 10:23] tilmankamp commented on #531
This kind of error typically occurs, if the number of audio frames of a sample is lower than the number of  characters of its transcription. In most cases this is due to wrong sample transcriptions. However: At least once there was also some edge case with a very fast speaker. For the Fisher data set I identified this problematic samples and either excluded them or corrected their transcriptions.

[2017-07-07 12:38] reuben commented on #373
1. We've seen approaches using BN after every hidden layer, but also only before layer type changes (e.g. convolution -> fully connected). I guess the most direct comparison would be to replace all the cases of dropout with BatchNorm.
2. Yes, your understanding is correct. TensorFlow's BatchNorm is sometimes tricky to get right. I'm currently experimenting with defining the model using Keras, whic

[2017-07-07 13:56] reuben opened #703 "Integrate a linter as a git pre-commit hook"
We should integrate a linter in a git pre-commit hook to make it easier for everyone to stay on a consistent code style. Personally, I think we should follow the output of [autopep8](https://pypi.python.org/pypi/autopep8) as our code style.

[2017-07-07 13:57] reuben commented on #531
I think it's unlikely that DS2 has a big influence here, the convolution there is equivalent to the striding we do in `audio.py` (in terms of the reduction in time steps). You should check if there's no corrupt transcription or audio files in the disk. I've seen cases where there's tons of corrupt audio files (0 frames) and the end result is the same: too many characters for too few audio frames.

[2017-07-07 14:43] reuben commented on #702
Thanks for the recommendation. We'll probably go with a local tool and a git pre-commit hook instead.

[2017-07-07 14:43] #702 closed

[2017-07-09 09:35] pecastro opened #704 "Cluster coordinator hangs at the end of training"
This does not happen in a clusterless scenario.
But in a simple 2 node (PS + Worker) setup or bigger the Coordinator will always hang at the end of training.

PS:
[code]
PS Output:
[code]

Worker:
[code]

Worker Output:
[code]

Worker will be hanging in this line https://github.com/mozilla/DeepSpeech/blob/3ac527cecc6b31f0aa86a82e84174f77cbed66cc/DeepSpeech.py#L1508 apparently still trying to commu

[2017-07-09 16:56] varunravi opened #705 "Native client error"
Trying to run the native client and am getting this error when I try initiating the make run command against a .wav file and the out graph my export produced.

`ILANGOs-MacBook-Pro:native_client ravi$ ARGS="/Users/ravi/Desktop/DeepSpeech/export/output_graph.pb /Users/ravi/Desktop/DeepSpeech/174-50561-0000.wav" make run
DYLD_LIBRARY_PATH=../../tensorflow/bazel-bin/tensorflow:../../tensorflow/bazel-

[2017-07-10 01:35] andi4191 commented on #363
Dataset used: TED
Trainin time: 20:13:00
No. of Train epochs: 10
GPU instances used: 4

Results:

Unidirectional Recurrence Case:

I Test of Epoch 10 - WER: 0.448848, loss: 77.5554098553, mean edit distance: 0.209433
I --------------------------------------------------------------------------------
I WER: 0.333333, loss: 1.252548, mean edit distance: 0.076923
I - src: "no im serious"
I - res: "now

[2017-07-10 01:36] #363 closed

[2017-07-10 01:38] andi4191 commented on #361
GRU Cell Results:

Dataset Used: TED
Number of GPU instances: 4

I FINISHED Optimization - **training time: 8:13:07**
I Test of Epoch 10 - WER: 0.530035, loss: 94.745821317, mean edit distance: 0.254709
I --------------------------------------------------------------------------------
I WER: 0.200000, loss: 5.857036, mean edit distance: 0.050000
I  - src: "to do that dont look"
I  - res: "o do tha

[2017-07-10 01:38] #361 closed

[2017-07-10 06:49] lissyx commented on #705
Can you ensure `libtensorflow_cc.so` was properly built? And make sure it is part of  `../../tensorflow/bazel-bin/tensorflow/` ?

Can you run `otool -L` on both `libdeepspeech.so` and `libtensorflow_cc.so` ?

[2017-07-10 08:36] kdavis-mozilla commented on #698
Is it really the case that this carries the train data set's batch size?

For example the TED batch sizes [run-ted.sh](https://github.com/mozilla/DeepSpeech/blob/master/bin/run-ted.sh) are 16, 8, and 8 for train, dev, and test respectively.

From testing we know that the batch size 16 will give and OOM on a Titan X with 12GB, this is the reason we introduced different train, dev, and test batch si

[2017-07-10 08:37] tilmankamp commented on #698
I also wondered exactly about this.

[2017-07-10 08:59] kdavis-mozilla commented on #695
@andi4191 I'd guess it'd be best for you to initiate a PR for this.

[2017-07-10 09:22] kdavis-mozilla commented on #362
@andi4191 Just deleted it. The branch name is all yours.

[2017-07-10 09:29] tilmankamp commented on #704
Thanks for the detailed report. I'll look into this soon.

[2017-07-10 09:38] kdavis-mozilla commented on #703
I'm not religious about formatting so autopep8 is fine by me.

[2017-07-10 10:03] kdavis-mozilla commented on #363
When comparing _X_ against _Y_ you run both for 10 epochs.

How do you know that _X_ and _Y_ do not converge at different rates? In other words _X_ may take 1000 epochs to converge. _Y_ may take 100. But _X_ may have a lower WER when it converges. Thus at epoch 10 _X_ may look much worse than _Y_ as it's no where near convergence. However, _X_ may in fact be much better than _Y_ when it converges.

[2017-07-10 10:06] kdavis-mozilla commented on #698
My guess is that there are 3 values injected in to the graph, one for training, one for dev, and one for test.

[2017-07-10 11:37] ghost opened #706 "tensorflow deep convolutional recursive swarm of hybrid bdi and ANN"
<h1> [WISHLIST] tensorflow deep convolutional recursive swarm of hybrid bdi and ANN</h1>

<b>it would be interesting to have:</b>

- <i>an implementation of the previous model in a framework like tensorflow.</i>

<b>just use this: </b>

- <i>https://drive.google.com/file/d/0B2kT6ra3MW4FTnI1OFRtcWdheWs/view?usp=sharing as a basis for start developing it. I will be happy to get involved. </i>

it wa

[2017-07-10 17:27] robmsmt opened #707 "File not found error when not providing a train_files parameter"
I have set --train False so it should not be looking for train_files or dev_files ? I am having to provide it a dummy file currently.

[2017-07-10 18:52] andi4191 commented on #363
@kdavis-mozilla : Same set of hyperparameters were used on this case as well. In order to achieve our results on fair ground. I can think of following possible solutions:

1. Allowing early stopping for this on the same learning rate (Bug #667 PR in in progress) and increasing the number of epochs.
2. Tuning the learning rate for multiple benchmark variation algorithms by changing the learning rat

[2017-07-10 19:25] #667 closed

[2017-07-10 21:37] pecastro commented on #704
Interestingly ... If I restart the already stopped PS server then I get ...

[code]

And now the PS will be left waiting on account of no stop token.

[2017-07-11 05:05] cuhkebook commented on #510
I face similar errors but this thread is closed.
- Download ds2-v2 branch
- Run ./bin/run-ld93s1.sh
- Use tensorflow backend
The data/ld93s1 has the wave file and csv file.

Messages:
+ [ ! -f DeepSpeech.py ]
+ [ ! -f data/ldc93s1/ldc93s1.csv ]
+ [ -d  ]
+ python -c from xdg import BaseDirectory as xdg; print(xdg.save_data_path("deepspeech/ldc93s1"))
+ checkpoint_dir=/root/.local/share/deepspeech/

[2017-07-11 05:18] cuhkebook commented on #692
Does it mean that this engine cannot adapted to other language at this moment?

[2017-07-11 07:59] kdavis-mozilla commented on #363
@andi4191 Using the same set of hyperparameters is not a fair comparison.

For example, it my be that the BRNN to achieve an optimal WER may require a learning rate that is smaller than the learning rate required by a RNN to achieve its optimal WER. What you want to be comparing is the optimal test set BRNN WER vs the optimal test set RNN WER.

What you want to be doing is tuning the hyperparamete

[2017-07-11 08:32] kdavis-mozilla commented on #510
@cuhkebook The ds2-v2 is a work in progress it is currently unsupported. The master branch is the only supported branch.

[2017-07-11 08:43] kdavis-mozilla commented on #692
It can be adapted to other languages. For example the original Deep Speech 2 paper[[1](https://arxiv.org/abs/1512.02595)] covered English and Mandarin.

I think capturing all the changes in the code to support Cyrillic here is a bit much. However, none of the changes are hard, basically one changes the number of "softmax output units" to the number of Cyrillic characters then makes several follow-

[2017-07-11 09:10] kdavis-mozilla commented on #634
@MalikMahnoor Sounds about right. (I'd have to see the details to be sure.) How large an Urdu corpus do you have?

[2017-07-11 09:26] rmsmith88 commented on #707
To add to this- there is no way of telling if a checkpoint/model has been loaded for test mode. Unless I am missing something.

[2017-07-11 10:37] istojan commented on #692
I forgot to update the issue, but I managed to adapt it to cyrillic. I didn't adapt it directly, I just mapped every cyrillic character from unicode to ascii symbols and changed the range of characters to not be [a-z] in util/text.py (needed more than 26 symbols). Some preprocessing of the text is needed to map it from unicode to ascii, but it works. I also created a custom language model with ken

[2017-07-11 11:01] MalikMahnoor commented on #634
700 sentences along with their audios ..but we are using this just to make a prototype..we can even collect more dataset..if this corpus shows good results

Sent from my T-Mobile 4G LTE Device

<div>-------- Original message --------</div><div>From: Kelly Davis <notifications@github.com> </div><div>Date:07/11/2017  2:10 PM  (GMT+05:00) </div><div>To: mozilla/DeepSpeech <DeepSpeech@noreply.github.c

[2017-07-11 12:03] kdavis-mozilla commented on #692
Obtaining data sets is painful. What language are you targeting?

On data size, to really match something like Google or Amazon you need at least 10k of hours of speech, or more. (I know depressing.)

However, a couple of hundred hours, like the TED data set, can create something useful but not perfect.

[2017-07-11 12:09] istojan commented on #692
I am from Macedonia, so I am targeting Macedonian.
I know that it is painful, but it is what it is. Besides, I am not really trying to match Google or Amazon since even they don't have Speech Recognition for my language. Basically, anything that works decent should be useful :)

[2017-07-11 12:16] kdavis-mozilla commented on #692
Macedonian, cool! I wish I had a speech data set to give to you!

If you can think of any way Mozilla can help you get more speech data, just let us know.

[2017-07-11 12:16] reuben commented on #707
Yeah I had to workaround this for some local tests but ended up just passing data/ldc93s1/ldc93s1.csv for train/validation files. Supporting empty lists requires a surprisingly large amount of modifications.

[2017-07-11 13:27] istojan commented on #692
I already know where to get at least 200h of audio files with transcription, but the problem is that most of the files are minutes long (some may even go up to an hour).

Is it even worth it to try training with such long files or is segmentation a must?

Since I am pretty new with this stuff, is there any way that segmentation can be done automatically?

[2017-07-11 17:59] MalikMahnoor commented on #634
And by the way your spell.py and text.py is working fine for urdu as well.We have made our language model ,changed the dataset to urdu..The code works fine till the creation of execution context..It gives error on training.The errors to our understanding are because of n_characters (which we have changed too to no of characters in urdu)but there are other errors too.

Sent from my T-Mobile 4G LTE

[2017-07-12 09:07] rmsmith88 opened #710 "Checkpoint does not load"
I have tried to restart with only a different dataset and same checkpoint directory and it doesn't load the old checkpoint. Is there anything i am missing?

[2017-07-12 09:31] kdavis-mozilla commented on #710
What command line parameters did you pass to the system?

[2017-07-12 10:24] rmsmith88 commented on #710
[code]

[2017-07-12 10:33] rmsmith88 commented on #707
That's exactly what I did. I don't believe that supporting empty lists is in order. With --train False you should bypass any training and therefore train csv reading all together.

[2017-07-12 10:37] kdavis-mozilla commented on #710
What is in the checkpoint directory? In other words what's the output of
[code]

[2017-07-12 10:42] rmsmith88 commented on #710
[code]

[2017-07-12 11:37] rmsmith88 commented on #710
I also tried to copy the checkpoint file, the latest model index, meta and data files to my local machine and test with some audio I recorded myself and it failed to load the checkpoint. It just starts from 0.

[2017-07-12 11:43] tilmankamp commented on #710
@rmsmith88 Did you share the checkpoint directory among different runs of different versions of the code/graph?

[2017-07-12 12:13] rmsmith88 commented on #710
Yes I shared the directory from different runs, however the computational graph did not change. I (assume) I am using the same graph (based on the same run librivox parameters). The only DeepSpeech parameter change was log_level and summary.

To prove this is the case I can stop the existing run. Restart it and watch it count from 0.
`1.4G -rw-r--r-- 1 rsmith cscluster 1.4G Jul 12 12:50 model.ckpt

[2017-07-12 12:46] rmsmith88 commented on #710
I restarted with just LDC, created a new checkpoint directory, ran -> it finished. Reran and it did NOT load the previous checkpoint.

[code]
I will retry this locally and not on the server as it could be an issue with the server.

[2017-07-12 13:12] tilmankamp opened #711 "Hosting language model binary outside of source tree"
There is a problem with the way we host the language model binaries as part of the source tree: First time users are usually not aware of the LFS requirement.

So - like the corpora - the language model binaries could be hosted outside the source tree:
 - Hosted on some service like S3
 - Download URLs should feature a version number
 - Current binary version number being part of current source co

[2017-07-12 13:23] #695 closed

[2017-07-12 14:25] rmsmith88 commented on #710
Wunderbar, I can confirm that this is now fixed with 862815a:

[code]

Thanks all

[2017-07-12 14:56] #710 closed

[2017-07-12 16:31] #698 closed

[2017-07-12 16:34] tilmankamp opened #712 "Provide command line parameters for sample skipping and ordering"
Command line parameters for sample skipping allows for better bisecting of faulty samples in new corpora. Changing the ordering helps in determining maximum batch size.

[2017-07-13 01:04] mertyildiran commented on #711
@tilmankamp how can I get the pre-trained models mentioned in [the graph here](http://doyouunderstand.me/)? I would like to try the models by myself. :blush:

As far as I understand, you are planning to host these models in somewhere, according to this issue. That's a good news. :+1:

[2017-07-13 07:35] tilmankamp commented on #711
@mertyildiran This graph is already a bit dated. Yes, we want to get soon a fresh graph and at least one up-to-date pre-trained model.

[2017-07-13 08:53] harrypotter90 opened #713 "Error : SparseTensor is not valid"
I have some of my sample audios on which i am training the model. I get an error on training dataset:

[code]

Error trace:
[code]

But whereas if i run same script on dev dataset It works fine.

Any thoughts what is the cause of this

[2017-07-13 08:59] kdavis-mozilla commented on #713
It's hard for us to debug this is as you are using your own audio + transcript that we don't have access to.

However, I'd guess this is a result of you transcript having characters outside of the supported character set.

[2017-07-13 09:09] harrypotter90 commented on #713
Thanks, i have seen that DS throws error if there is transcript but the audio is empty like just a noise.

[sample.txt](https://github.com/mozilla/DeepSpeech/files/1144586/sample.txt)

I am getting error for this attached audio (replace ".txt" with ".wav"). Any thoughts and comments will help.

[2017-07-13 09:16] antho-rousseau commented on #713
Usually this happens when the number of timesteps in your audio is strictly smaller than the number of characters in the corresponding transcript.
If you have libdeepspeech installed as described in the installation instructions, you can easily use `deepspeech.utils.audioToInputVector` in a python script of your own to check each of your audio files and get the number of timesteps in it. You then

[2017-07-13 09:24] harrypotter90 commented on #713
Yes, i was assuming there is similar kind of check in DS.

So do you mean if the audio is stretched like "hhhhheeelllooooooooo" whereas transcript is hello then we can get such errors?
Can i remove this check in DS ?

Another attached audio has a similar case where we are getting this error, where user has stretched the word "Haaagen"
[valid.wav.txt](https://github.com/mozilla/DeepSpeech/files/114

[2017-07-13 09:51] gardenia22 opened #714 "Voxforge dataset importer"
I wrote an importer for voxforge dataset(~100 hour), and use 1/100 data for test, 1/100 data for dev, following is the code:

[code]

[2017-07-13 10:15] kdavis-mozilla commented on #713
@harrypotter90 what @antho-rousseau means is that if the audio is very short, say 0.1 sec, while the text is very long, say the entire text of _War and Peace_

_"Well, Prince, so Genoa and Lucca are now just family estates of the Buonapartes. But I warn you..."_

then you'll get this type of error.

It's basically due to an incorrect audio + transcript pairing.

[2017-07-13 10:21] kdavis-mozilla commented on #714
Awesome @gardenia22 !

We'd love to have your Voxforge importer contribution. Would it be possible to open a pull request so we can integrate it into our code base?

The details of opening a pull request using github are give here[[1](https://help.github.com/articles/about-pull-requests/)][[2](https://help.github.com/articles/creating-a-pull-request/)].

Thanks again!

[2017-07-13 10:38] harrypotter90 commented on #713
ok and that explains why i am getting this error for some of the audio files which are empty.

@antho-rousseau - I will implement the suggestion and remove these audios.
Thanks

[2017-07-13 10:42] tilmankamp commented on #713
@harrypotter90 Did that happen for one of our supported corpora?

[2017-07-13 10:46] harrypotter90 commented on #713
@tilmankamp :- No, its a custom audio data set created by us. Thats why we are getting some of these empty/noisy audios, which is very difficult to find actually. Hopefully suggestion provided by @antho-rousseau will help us removing these corrupted audios.

[2017-07-13 11:18] reuben commented on #713
Note that deepspeech.utils.audioToInputVec implements striding as an optimization, but if your  dataset has a lot of very short audio files, striding may not be a good idea, since it halves the timesteps in the audio.

[2017-07-13 12:21] deepak02 opened #715 "ImportError: No module named data_set_helpers"
Hi
While running ./bin/run-ldc93s1.sh, I am getting this error

Traceback (most recent call last):
  File "bin/import_ldc93s1.py", line 13, in <module>
    from util.data_set_helpers import DataSets, DataSet
ImportError: No module named data_set_helpers

Can somebody help here?

Thanks

[2017-07-13 12:22] tilmankamp commented on #715
Oh - this is a glitch of my most recent merge. Will fix this immediately.

[2017-07-13 12:28] gardenia22 commented on #714
@kdavis-mozilla created a PR #716

[2017-07-13 12:32] kdavis-mozilla commented on #714
@gardenia22 Thanks!

[2017-07-13 12:38] #715 closed

[2017-07-13 12:39] tilmankamp commented on #715
Fixed. Please try again with latest master.

[2017-07-13 15:27] kdavis-mozilla commented on #634
Could you post the errors you're getting? Maybe we can help.

[2017-07-13 15:32] MalikMahnoor commented on #634
We have managed to fix those errors..now it goes in to training..the code works fine now.. but only for isolated words not sentences .We are trying to fix text.py for that.Hopefully we ll be able to do that within a few days

Sent from Yahoo Mail on Android

  On Thu, Jul 13, 2017 at 8:27 PM, Kelly Davis<notifications@github.com> wrote:
Could you post the errors you're getting? Maybe we can help.

[2017-07-13 15:35] kdavis-mozilla commented on #634
Awesome!

[2017-07-13 15:41] MalikMahnoor commented on #634
Thanks !

Sent from Yahoo Mail on Android

  On Thu, Jul 13, 2017 at 8:35 PM, Kelly Davis<notifications@github.com> wrote:
Awesome!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-14 00:28] laibulle commented on #662
Hello, it did not work for me

[2017-07-14 00:33] andi4191 commented on #662
@laibulle: Did you run  _git lfs install_ after installation of git large file storage?
It should return the following output:
Git LFS initialized.

That should solve the problem.

[2017-07-14 00:35] andi4191 commented on #662
@laibulle : Cool :)

[2017-07-14 06:41] #699 closed

[2017-07-14 11:08] pecastro commented on #704
I've added some extra debugging with TF_CPP_MIN_VLOG_LEVEL=2 and I can see the following behaviour ...

PS:
[code]

Worker:
[code]
It seems the worker isn't really quite finished yet and still has ops to send to PS, namely this dummy_queue which I think comes from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/sync_replicas_optimizer.py#L308

If I comment https://g

[2017-07-14 12:11] #713 closed

[2017-07-14 12:47] kdavis-mozilla opened #719 "Fix Segfault in Cluster Runs"

[2017-07-14 21:50] proflim commented on #673
@jinserk How did you run client.py? I get 'Segmentation fault (core dumped)' when running
`python native_client/client.py /path/to/graph /path/to/audio`

[2017-07-17 09:39] alanbekker opened #720 "Incorporating my LM into the CTC-beam search"
Hi guys,

Do you know how can incorporate my LM into the CTC beam-search decoding?

[2017-07-17 09:52] alanbekker opened #721 "Benchmark the CTC against a seq2seq model"
Hi all,

I curious if some one has the thoughts to replace the ctc_loss with seq2seq mechanisem (with attention..)?

The main advantages would  be:
1.The repeated chars would't need to be merged and words like "three" would not convert to "thre".
2. Easy incorporation of LM into the transcription decoding.
3. Replacing the chars prediction with words prediction

[2017-07-17 10:11] alanbekker opened #722 "Training with audio files of 3 minutes"
Hi all,

Wanted to receive your input on the ability of the RNN to learn from examples with 3 minutes of audio.
I have almost unlimited data but the training files are almost 3 minutes each, and I'm afraid of vanishing gradients.

Thanks in advance!

Alan

[2017-07-17 10:31] kdavis-mozilla commented on #722
We've never tried anything that long. My guess is that it wouldn't fit on you GPU.

[2017-07-17 10:33] kdavis-mozilla commented on #714
Closed with PR #716

[2017-07-17 10:33] #714 closed

[2017-07-17 10:35] braindead commented on #722
We faced the same issue. We used forced alignment tool (Gentle) to break down the files in 2 to 20s chunks. It worked fine, but Gentle itself has an error rate. So the dataset size is affected by that.

https://github.com/lowerquality/gentle

[2017-07-17 10:39] alanbekker commented on #722
Do you know if this tool can be useful for other languages besides English?

On Mon, Jul 17, 2017 at 1:35 PM, Rajiv Poddar <notifications@github.com>
wrote:

[2017-07-17 10:40] kdavis-mozilla commented on #720
I can't cover all the details here. But basically there are at least two ways

1. Follow the lead of Deep Speech[[1](https://arxiv.org/abs/1412.5567)] and Deep Speech 2[[2](https://arxiv.org/abs/1512.02595)]
2. Integrate the language model into Tensorflow itself, implementing a custom `BeamScorer`[[3](https://github.com/tensorflow/tensorflow/blob/198f9a16ebf2c9ff2e842f1cce99ddf02c7a9849/tensorflow

[2017-07-17 10:45] kdavis-mozilla commented on #721
We've thought about replacing the entire BRNN + CTC with CNN's much like Wav2Letter[[1](https://arxiv.org/abs/1609.03193)] but we've not implemented anything.

If you'd be interested in pursing this, we'd be very interested in your results as Tensorflow quantization, which we want to use to compress the model, doesn't play well with BNN or RNN.

[2017-07-17 11:18] braindead commented on #722
We have not tried it with other languages. Gentle uses the Kaldi Fisher model. So I'm not sure if it'll work for other languages. There maybe other forced alignment tools for other languages.

[2017-07-17 18:11] RyanEdwardHall opened #723 "Docker image"
It would be really helpful if there were an official docker image with everything configured, ready to go. I've followed the setup guide and am still unable to build the native client for inference.

[2017-07-17 20:12] bakingam1983 opened #724 "error when trying to launch DeepSpeech.py"
I have installed DeepSpeech from source with the procedure described [here](https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md).
When i launch the command to make a model the program give me some errors, this is the command
`python3 -u DeepSpeech.py --train_files data/voxforge/voxforge-train.csv --dev_files data/voxforge/voxforge-dev.csv --test_files data/voxforge/voxforge-t

[2017-07-18 09:17] HyuntakLee opened #725 "Variables are not restored from a checkpoint file"
I am trying to use a checkpoint file to save and restore variables.
But restoring doesn't work while saving works.

`python3 DeepSpeech.py --train_files "data/mydata/train.csv" --dev_files "data/mydata/dev.csv" --test_files "data/mydata/test.csv" --train_batch_size 12 --dev_batch_size 12 --test_batch_size 12 --display_step 1 --validation_step 1 --epoch 15 --checkpoint_dir "data/mydata/checkpoint“

[2017-07-18 11:09] alanbekker commented on #720
Thanks for the answer.

You mean to integrate the two options into one solution, right?
 In the tensorflow CTC_decoder I have no access to  the beam search
decoding process and therefore you suggest to integrate the LM(as DS1 and
DS2 did)  into my own BeamScorer function in C++ and then recompile
tensotflow?

On Mon, Jul 17, 2017 at 1:40 PM, Kelly Davis <notifications@github.com>
wrote:

[2017-07-18 11:11] alanbekker commented on #721
Thanks for the response, maybe in the next couple of months I'll do it, and
I will share my obtained results.

On Mon, Jul 17, 2017 at 1:45 PM, Kelly Davis <notifications@github.com>
wrote:

[2017-07-18 11:29] kdavis-mozilla commented on #725
@HyuntakLee Could you update you copy of the code? I think this was fixed with commit a0a9e9d

[2017-07-18 11:34] kdavis-mozilla commented on #720
I mean the two options are either/or, in other words one would implement one, but not the other.

If you compile Tensorflow from source, you have access to the CTC decoder. So you could modify the CTC decoder. In fact Tensorflow supplies hooks to do just this. This is the second option above.

The first option requires no modification of Tensorflow. One simply uses the CTC decoder results and does

[2017-07-18 11:39] alanbekker commented on #720
My question  was that the  first option you suggested is impossible to
implement without the second (maybe I have some mis-understanding :(  and
be glad if you correct me ) since in order to beam search the following
function :
 [image: Inline image 1]
I need to be able to track the probabilities of each character in the
decoding...but currently tf api provides the likelihood of the whole
decoded

[2017-07-18 11:43] kdavis-mozilla commented on #720
You can implement the first without doing the second or the second without doing the first.

The C++ Tensorflow API provides for integrating language models into the CTC decoder. See for example[[1](https://github.com/tensorflow/tensorflow/blob/198f9a16ebf2c9ff2e842f1cce99ddf02c7a9849/tensorflow/core/util/ctc/ctc_beam_search.h#L77)]. The python API, however, does not allow for such tight language

[2017-07-18 13:13] HyuntakLee commented on #725
Oh! Sorry I didn't know it was fixed. It's working now. Thanks.

[2017-07-18 13:13] #725 closed

[2017-07-18 15:00] andi4191 commented on #362
DataSet Used: TED
Vanilla RNN:

Number of GPU instances: 4
Learning rate : 0.0001. (Optimal)
Epochs: 29 (Optimal)

Code changes: [https://github.com/andi4191/DeepSpeech/commit/933506d07c818e97190e458d0168085a51514bc4](url)

Inference time: 0:09:17 (On test set)
I job type: dev, inference time: 0:25:16
I Validation of Epoch 28 - loss: 133.591197
I job type: train, inference time: 0:25:06
I Training

[2017-07-18 15:00] #362 closed

[2017-07-18 15:10] tilmankamp opened #726 "Expose thread count as command line parameter"
Set default thread count to 8 per input queue

[2017-07-18 15:13] tilmankamp opened #727 "Remove default checkpoint dir"
The default checkpoint directory should not be set and by this deactivate checkpointing.
Background: The XDG default directory leads to user confusion, as it is typically shared among non-related runs of different graph versions.
There should also be a straight-forward way to do runs without checkpoints.

[2017-07-18 15:19] tilmankamp commented on #726
Set default thread count to 8 per input queue

[2017-07-18 15:20] tilmankamp opened #728 "Provide libdeepspeech as part of virtualenv on server"

[2017-07-18 16:28] tilmankamp opened #729 "Move corpora into sub-directories of shared data directory"
There should be standard sub directories within the shared data directory named after the corpora/organizations. Scripts and importers should be altered accordingly.

[2017-07-18 16:29] tilmankamp opened #730 "Develop and configure group access policy on cluster"

[2017-07-18 16:43] mertyildiran commented on #711
@tilmankamp what is the size of the model, approximately? Also is there anything I can do to speed up the resolvement of this issue? If there is nothing I can do about it then could you give me an estimated date of the publication of the official model? :blush: