[2018-05-07 09:12] lissyx opened #1376 "Improve documentation by shipping READMEs in Pypi/NPM"
In order to make it easier for everyone, we should just package some README in those. Right now, Pypi landing pages and NPMJS landing pages are showing some unintuitive "No README".

[2018-05-07 09:15] lissyx commented on #1376
We could also improve node's package.json: adding license field. Both Pypi and Node could benefit from proper home page links, bugs reporting etc.

[2018-05-07 11:50] lissyx commented on #979
@AtosNicoS @NicoHood You might be interested in https://github.com/mozfr/besogne/wiki/Common-Voice-Fr :)

[2018-05-07 14:43] rizwanishaq opened #1378 "Any plan to use the tf.estimator and tf.data for training the deep speech model?"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2018-05-07 15:04] lissyx commented on #1378
Please take discussions to Discourse.

[2018-05-07 15:04] #1378 closed

[2018-05-07 16:26] kdavis-mozilla commented on #1375
As far as I remember they are from the clean test set of the LibriSpeech[[1](http://www.openslr.org/12/)] data set. So they are CC-By 4.0[[2]](https://creativecommons.org/licenses/by/4.0/)

[2018-05-07 19:13] #1376 closed

[2018-05-07 22:38] reuben commented on #1375
We should probably include that license in the download for the sample files then, no?

[2018-05-08 05:52] AtosNicoS commented on #1375
Yes you should include a license, please. And also give "appropriate credit", otherwise you violate the license.

[2018-05-10 07:52] jageshmaharjan commented on #1371
wow, noticed that the resources (CPU, GPU, and Memory) utilization is super Huge. That's might be the reason. Not too sure yet.

[2018-05-11 04:17] jageshmaharjan opened #1380 "Datatype error when converting wave file"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:
- **TensorFlow version (use command below)**:  1.7.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:  0.12.0
- **GCC/

[2018-05-11 05:36] vinaykumarbundla opened #1381 "code for feature extraction @librispeech dev-clean100"
hi
@DeepSpeech
i search so many areas i need Librispeech dev-clean feature extraction code for this librispeech

[2018-05-11 18:59] kdavis-mozilla commented on #1381
As issues are for bugs or feature requests, could you move this discussion to Discourse[[1](https://discourse.mozilla.org/c/deep-speech)]. Thanks.

[2018-05-11 18:59] #1381 closed

[2018-05-11 20:53] nabrowning commented on #1156
having the same issues. if I modify the beam search algorithm myself, what would be the steps to recompile using the updated beam search?

[2018-05-11 21:00] kdavis-mozilla commented on #1156
The build requirements are here[[1](https://github.com/mozilla/DeepSpeech/tree/master/native_client#build-requirements)] and the build instructions are here[[2](https://github.com/mozilla/DeepSpeech/tree/master/native_client#building)].

[2018-05-12 01:17] kdavis-mozilla commented on #1375
Done for 0.1.1 and 0.1.0 releases

[2018-05-12 01:17] #1375 closed

[2018-05-12 09:32] Svito-zar opened #1382 "Cannot run the simplest example "client.py" : "TypeError: Array must have 1 dimensions. Given array has 2 dimensions""
- I have not written a custom code, I used a code which you provided as an example of usage by python : "client.py".

- My OS Platform is Linux Ubuntu 16.04

- My TensorFlow is 1.8.0 and was installed from upstream TensorFlow

- My Python version is 3.5.2

- I do not have CUDA on my machine, because I do not have external GPU.

- **Exact command to reproduce**
`python client.py /home/taras/Dropbox

[2018-05-12 10:16] lissyx commented on #1382
I'm pretty sure you are passing some stereo audio ?

[2018-05-12 10:27] Svito-zar commented on #1382
Yes, wisdom.wav contains a normal audio file, I can attach it if it helps

[2018-05-12 10:54] lissyx commented on #1382
@Svito-zar Please stick to the supported documented audio: wav, 16 bits, 16khz, mono

[2018-05-14 05:45] AtosNicoS commented on #1375
Thanks for adding the license.

If I understood the license correct, you still must give "appropriate credit":
https://creativecommons.org/licenses/by/4.0/
https://wiki.creativecommons.org/wiki/License_Versions#Detailed_attribution_comparison_chart

I guess a readme to the original source and the name(s) of the author/project would be good.

[2018-05-14 08:14] kdavis-mozilla commented on #1375
@AtosNicoS Completely correct, sorry was in a rush. It should be with attribution now.

[2018-05-14 12:34] AtosNicoS commented on #1375
Thanks a lot!

[2018-05-14 13:58] kdavis-mozilla commented on #1242
Details in spreadsheet[[1](https://docs.google.com/spreadsheets/d/1fRxuc_Ct7IqgRbmC1Wdb8ruPXKt7eio388XfeC0C9mc/edit?usp=sharing)].

[2018-05-14 13:58] kdavis-mozilla commented on #1243
Details in spreadsheet[[1](https://docs.google.com/spreadsheets/d/1fRxuc_Ct7IqgRbmC1Wdb8ruPXKt7eio388XfeC0C9mc/edit?usp=sharing)].

![gru-rnn](https://user-images.githubusercontent.com/12054740/40001980-a86624ba-578f-11e8-8ce5-db7f1467c72d.png)

[2018-05-14 13:58] #1243 closed

[2018-05-14 13:59] kdavis-mozilla commented on #1246
Details in spreadsheet[[1](https://docs.google.com/spreadsheets/d/1fRxuc_Ct7IqgRbmC1Wdb8ruPXKt7eio388XfeC0C9mc/edit?usp=sharing)].

![vanilla-rnn](https://user-images.githubusercontent.com/12054740/40002015-bed43692-578f-11e8-8fc8-1593efbef301.png)

[2018-05-14 13:59] #1246 closed

[2018-05-15 11:27] JaviBonilla commented on #1224
So, are the `Stack`, `ResizeNearestNeighbor`, and `TensorFlowShape` operators supported by TensorFlow Lite? or were they removed from the streaming model?

[2018-05-15 11:58] lissyx commented on #1224
@JaviBonilla Looks like they were removed by the streaming model :)

[2018-05-17 16:46] bjtommychen opened #1383 "How Spell Check work in DeepSpeech ? thanks."
Hi, all
    I read your documents, and it's said DeepSpeech use the trie file(in the /data/model) to do spell check.  I guess it still use beam search, but I can't understand it well even after I read the src code. like generate_trie.cpp.
   If you know some paper can explain this well, please let me know.
   Thanks.

[2018-05-18 07:58] kdavis-mozilla commented on #1383
@bjtommychen We try to reserve issues for feature requests or bugs in our code. So we ask that discussion topics like this be taken to our discourse forum[[1](https://discourse.mozilla.org/c/deep-speech)]. Thanks for your understanding!

[2018-05-18 07:58] #1383 closed

[2018-05-18 15:25] lissyx commented on #1346
[code]

[2018-05-18 15:27] lissyx commented on #1346
Some samples from the `TestVC4C` testsuite:
[code]

[2018-05-19 09:27] seb314 commented on #1158
keeps failing for me. Also, the download speed is pretty slow, (<1MB/s, often <300KB/s, while speedtest.net reports my download bandwidth as ~50Mbit/s.) Maybe the long dl time is somehow linked to the failures? This renders DeepSpeech essentially unusable.

[code]

[2018-05-19 09:40] kdavis-mozilla commented on #1158
@seb314 I'm not sure how much we can do as the models are on GitHub and we're not in control of their networking.

[2018-05-19 09:47] lissyx commented on #1158
@seb314 SpeedTest is not really conclusive, it just confirms your connection with the servers used is okay, but there could be issued with your ISP to access Github's infra. Maybe `mtr --report 52.216.228.192 -T -P 443` can help you to diagnose this. I just got some DNS error with Github.com trying to replicate, so the outage might be there or between Orange and S3 ...

[2018-05-19 15:29] seb314 commented on #1158
Thanks for the hints!
For now my problem is fixed, the download completed after doing 6 more attempts. Retrying automatically like:
[code]

In case the info is still helpful for something:
my output of `mtr --report 52.216.228.192 -T -P 443` was (a while after the download though)
[code]

[2018-05-20 13:27] Svito-zar commented on #1382
Now it works, I guess the problem was that my audio was not mono, but stereo.

[2018-05-20 13:27] #1382 closed

[2018-05-21 12:33] Tigraan opened #1384 "Documentation does not mention the libsox2 dependency (it should)"
Following the exact instructions of https://github.com/mozilla/DeepSpeech/blob/master/README.md#using-the-command-line-client on Ubuntu 16.04.4 (after having git-cloned the source repo) one is met with

`./deepspeech: error while loading shared libraries: libsox.so.2: cannot open shared object file: No such file or directory`

That is easily fixed (in my case by installing the `libsox2` package v1

[2018-05-21 12:41] lissyx commented on #1384
It is documented: https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md#required-dependencies

[2018-05-21 12:41] #1384 closed

[2018-05-21 15:50] yangpei11 commented on #1097
@jackHuanghello  hello, your link become invalid. Can I have future contact with you, ?My WeChat is: 13797206291

[2018-05-23 11:42] murugancmi commented on #821
@sruteesh and @reith  i need both of your health to implement deep speech  in Telecom so please share your contact details murugan@telecmi.com

[2018-05-23 13:59] lissyx commented on #1346
After fighting with TensorFlow's ComputeCpp branch for cross-compiling for RPi3, I got something being built. It's running as of now, no idea what we can expect so far, both in term of output and in term of speed:

[code]

[2018-05-23 14:41] svmguru commented on #1239
Any update on this? Maybe a tentative ETA?

[2018-05-23 14:56] lissyx commented on #1239
@svmguru Check #1275

[2018-05-24 03:27] jageshmaharjan opened #1386 "Training with distributed tensorflow"
@tilmankamp , @lissyx
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04
 **TensorFlow installed from (our builds, or upstream TensorFlow)**:
- **TensorFlow version (use command below)**: 1.6
- **Python version**: 3.6
- **Bazel version (if compiling from source)**

[2018-05-24 19:22] kdavis-mozilla commented on #1386
It looks like you are simply running out of GPU memory, your batch sizes are relatively large. Try smaller batch sizes.

[2018-05-25 11:15] xu-song opened #1388 "ImportError: libcublas.so.8.0 with v0.1.1"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution**:  Ubuntu 16.04
- **TensorFlow installed from**: upstream TensorFlow
- **TensorFlow version**: 1.8.0
- **Python version**:  3.6.4 :: Anaconda,
- **Bazel version (if compiling from source)**:
- **GCC/Compiler version**: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.9) 5.4

[2018-05-25 11:17] reuben opened #1389 "Train a model compatible with streaming inference"

[2018-05-25 11:36] xu-song commented on #1388
[code]
It works, thanks

[2018-05-25 11:43] #1388 closed

[2018-05-25 12:42] bolt163 opened #1390 "how to get for each audio frame's log-probability on every element of the alphabet table ?"
in the  deepspeech.cc's  infer function there is a  float type 3-dimensional array  **input_data_mat** , in   which:

the  1st   dimension equals  aNFrames(frames's mfcc of the current audio wav) )
the  2nd  dimension 1
the  3rd   dimension :  num_classes, equals  count of element in the alphabet.txt table;

values of the array  which were  also  feed to the decode  function of  deepspeech.cc , I

[2018-05-25 22:39] reuben commented on #1262
In the mean time, this is fixed by #1392.

[2018-05-27 17:57] #1242 closed

[2018-05-28 04:57] evangel76 commented on #1309
I started to replace the code with the streaming version , and replugging Metal acceleration into it for iOS.

[2018-05-28 16:19] kdavis-mozilla commented on #1238
Generated trie based language models using _separately_ the data sets LibriSpeech, VoxForge, and English Wikipedia.

Instead of creating a single trie model the parameters defining the model were varied. For example the n-gram depth, pruning, vocab estimate, array, quantization, bit depth...

Through all of these variations the tries produced by the English Wikipedia text, an 11GB text, were alway

[2018-05-28 16:19] #1238 closed

[2018-05-28 16:20] kdavis-mozilla commented on #1237
Generated trie based language models using _separately_ the data sets LibriSpeech, VoxForge, and English Wikipedia.

Instead of creating a single trie model the parameters defining the model were varied. For example the n-gram depth, pruning, vocab estimate, array, quantization, bit depth...

Through all of these variations the tries produced by the English Wikipedia text, an 11GB text, were alway

[2018-05-28 16:20] #1237 closed

[2018-05-28 18:05] lissyx commented on #1346
Current status is that we are starting to seriously compile TensorFlow's SYCL kernel, and we are hitting some issues in the VC4CL driver :-)

[2018-05-30 11:47] lissyx commented on #1346
A lot of errors were fixed in VC4C and VC4CL, we're hitting issue with LLVM mangling of SPIRV, and with a workaround there's some error about register allocation after.

[2018-05-30 16:51] kmonachopoulos commented on #1343
I managed to change Deepspeech script and extract evaluation scores on librispeech, while using the checkpoint or the protobuf model.

Closing.

[2018-05-30 16:51] #1343 closed

[2018-05-30 17:11] lissyx commented on #1343
Thanks for updating us @kmonachopoulos. Maybe you could share some code that can be useful to others? :)

[2018-05-30 17:20] lissyx opened #1394 "Add Node v10 (API 64)"
Adding as v0.2.0, but we can discuss if we actually want that for this version or not

[2018-05-30 17:22] lissyx opened #1395 "Add Python v3.7"
Python 3.7 is close: https://pythoninsider.blogspot.com/2018/05/python-370b4-final-37-beta-now.html
We should try and add wheels for this version as well.

[2018-05-30 20:34] danFromTelAviv commented on #416
anyone found an answer?

[2018-05-30 22:04] mihiraniljoshi commented on #1156
@reuben I am also facing the same issue ? Any suggestions ?

[2018-05-31 12:38] jtoy opened #1397 "support for arbitrary length audio files"
the ability to run the model of audio files of any length.

[2018-05-31 12:38] lissyx commented on #1397
Can you be more specific ?

[2018-05-31 12:42] jtoy commented on #1397
currently we are only able to run the model on audio files of about 5 seconds:
"Once everything is installed you can then use the deepspeech binary to do speech-to-text on short, approximately 5 second, audio files (currently only WAVE files with 16-bit, 16 kHz, mono are supported in the Python client):"

[2018-05-31 12:45] lissyx commented on #1397
This is mostly a warning because we got reports of people trying to feed 3 hours of audio and getting bad results. Also #1275 will address that.

[2018-05-31 12:45] #1397 closed

[2018-06-01 08:04] dbanka commented on #1236
@kdavis-mozilla  what would be the benefit of switching to trie based language model?

[2018-06-01 08:15] kdavis-mozilla commented on #1236
@dbanka Trie based models can be compressed[[1](https://kheafield.com/code/kenlm/structures/)] making the entire footprint smaller. Our current language models can't be compressed.

[2018-06-01 08:18] kdavis-mozilla commented on #1236
@dbanka Concretely, our current language model is 1.5 GB the we've made a trie based model which basically reproduces its quality and is 66 MB.

[2018-06-01 22:32] reuben commented on #416
@danFromTelAviv the Unicode supported added some time ago should make this essentially impossible to happen. You should get a KeyError in `text.py` before you ever get an error in the CTC loss function. Are you by any chance using a (very) old version of the code?

[2018-06-02 01:42] reuben commented on #1397
Not really, segmenting the audio would still be the user's responsibility, streaming just makes it easier to use.

[2018-06-02 08:56] lissyx commented on #1395
We have to do some extra steps until numpy and scipy offers 3.7 wheels: install gfortran, openblas, lapack to be able to build both

[2018-06-03 11:34] xiapoy commented on #1156
Same here. Also, seems to be happening when using out-of-vocabulary terms.

[2018-06-03 20:31] sandeepbadrinath commented on #1316
Hi @disha3, @arunimathappa, I am also getting the same error. Were you able to solve this problem?

[2018-06-03 21:11] sandeepbadrinath commented on #1316
Using a newer binary for inference worked for me.  #1344

[2018-06-04 06:10] nomitjangid opened #1400 "decoding time of 30 second audio file"
Hi,

I'm running deep-speech training on 1000 hours of audio files.
How much time will an epoch take if I'm using 4  NVIDIA TESLA P100 (16 GB each) and also how much time it will take to decode a 30-second audio file on both GPU and CPU system?

Thanks

[2018-06-04 07:42] kdavis-mozilla commented on #1400
@nomitjangid We try to reserve issues for feature bugs and feature request in the current code base. So could you move this training time discussion to our [discourse channel](https://discourse.mozilla.org/c/deep-speech)? Thanks.

[2018-06-04 07:42] #1400 closed

[2018-06-04 09:41] lissyx commented on #1395
Ok, I'll prepare some prebuilt wheels for numpy/scipy with 3.7 on linux and macos, until there's official release. This way we can move forward and we are ready :)

[2018-06-05 01:28] RaphaelHuirong opened #1401 "Provide Java bindings"
Hi,
Nice job with pre-trained model, however, I want to use that in Java class. Could you mind providing me a example to use pre-trained model in Java class? I have already used TensorFlow API in my Java project. Thank you very much!

[2018-06-05 03:22] coco90417 opened #1402 "Pretrained model on features"
Hey,

I love this work! I have been trying to use your pre-trained model on my own project. However, I prefer not to use wav file, but some features from wav file that you have used in training your model. Could you please give me an example of: 1. what are the features that are used (an exemplary input file would be perfect) 2. command line or python/java code to execute your pre-trained model?

[2018-06-05 05:32] solomonope commented on #1402
Hi,
 This video helped me get started https://www.youtube.com/watch?v=aUSyzNr6iK8&t=9s,  This is an example python code to use the model, https://github.com/mozilla/DeepSpeech/blob/master/native_client/python/client.py , There is also a lot of information on the project readme.

With respect to using wav files,  I think you have to use wave files, if your audio are not in wave files you can conver

[2018-06-05 06:17] lissyx commented on #1401
We don't have Java bindings, so if you need to use that from java, you will have to do the JNI stuff ):

[2018-06-05 07:35] kdavis-mozilla commented on #1401
@RaphaelHuirong If you do make a Java binding using JNI, we'd love to have it as a PR!

[2018-06-06 00:36] RaphaelHuirong commented on #1401
Thank you for your quick response. Since I have time deadline, let me finish what I have in hand, then I will take a look at it.

[2018-06-06 09:05] wujsy opened #1403 "How to use multi-gpus to train models on commomvoice dataset?"
Hi, I want to train models using multi-gpus, which parameter should i set in the 'DeepSpeech.py'file?

[2018-06-06 09:10] kdavis-mozilla commented on #1403
@wujsy For non-bug/feature requests, please use the [discourse form](https://discourse.mozilla.org/c/deep-speech). There we can answer such questions.

[2018-06-06 09:10] #1403 closed

[2018-06-07 07:06] JJoving commented on #1354
@bolt163 I also encountered this problem. Have you solved it now?

[2018-06-10 10:06] jageshmaharjan commented on #1386
It worked just after, I tried again. I should have closed this issue.
Thanks

[2018-06-10 10:07] #1386 closed

[2018-06-11 02:48] coco90417 opened #1406 "Wav format"
Hey guys,

I am benchmarking the performance of your pre-trained model on my own repertoire of wav files (sample rate: 16000,  audio channels: 1, bits per sample: 16) and got this error:

deepspeech output_graph.pbmm 2.wav alphabet.txt lm.binary trie
dyld: warning, LC_RPATH @executable_path in /Library/Python/2.7/site-packages/deepspeech/_model.so being ignored in restricted program because of @ex

[2018-06-11 04:20] solomonope commented on #1406
Hi,

These `(sample rate: 16000, audio channels: 1, bits per sample: 16)` three numbers are correct, I think the file that was passed for inference was not a wav file.

Can you share your conversion script?

[2018-06-11 07:44] yoann1995 opened #1407 "Generate trie lm::FormatLoadException"
I'm following this tutorial : https://discourse.mozilla.org/t/tutorial-how-i-trained-a-specific-french-model-to-control-my-robot/22830 to create a French model.

The problem is when generating the trie file with this command :

I have this output :

  what():  native_client/kenlm/lm/binary_format.cc:131 in void lm::ngram::MatchCheck(lm::ngram::ModelType, unsigned int, const lm::ngram::Parameters&)

[2018-06-11 11:42] hhk998402 commented on #1407
Facing the same issue on MacOS Sierra

[2018-06-11 11:52] reuben commented on #1407
We've very recently switched the format of our language model and tooling on master. It looks like you're using the pre-built generate_trie binary from the 0.1.1 release. You can fix this by using consistent versions of the various tools, including the training code. If you want to use the 0.1.1 binaries, work from the v0.1.1 tag, not the master branch. Alternatively you can work from master and b

[2018-06-11 12:32] yoann1995 commented on #1407
Thank you for your reply ! I tried to use the V.0.1.1 tag but I still have the same issue.

If I want to stay on the master branch, which tools can I use to generate langage model with this new format ? (Because kenlm seems to use only probing hash tables).

[2018-06-11 13:09] reuben commented on #1407
KenLM does not use probing hash tables only: https://kheafield.com/code/kenlm/structures/

Depending on which structure you use for your KenLM model you'll need to adjust the typedefs in `beam_search.h` and `generate_trie.cpp`.

Build `generate_trie` following the normal commands in the [documentation](https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md#build-requirements).

[2018-06-11 13:10] reuben commented on #1407
That should not happen if you're using `generate_trie` of version v0.1.1 as well.

[2018-06-11 14:19] yoann1995 commented on #1407
I followed the step to build the generate_trie in the v0.1.1 version but I don't have any generated_trie file created at the end. I must miss something. I can only have this file by using the command :

But if I understand well, this will give me the generate_trie file which use the quantization and array-compressed pointers format ?

[2018-06-11 14:23] lissyx commented on #1406
Yes, I second @solomonope, it feels really weird and since you state you did your own conversion, I'd like to verify exactly what you did @coco90417

[2018-06-11 14:31] yoann1995 commented on #1407
No because the newer file format is : quantization and array-compressed pointers and I need probing hash tables. :/

[2018-06-11 14:31] lissyx commented on #1407
@yoann1995 Why don't you get the binary from v0.1.1 then ?

[2018-06-11 14:33] lissyx commented on #1407
https://index.taskcluster.net/v1/task/project.deepspeech.deepspeech.native_client.v0.1.1.cpu/artifacts/public/native_client.tar.xz

[2018-06-11 14:41] yoann1995 commented on #1407
Well, I try to do it from 0.1.1 but I still have the same issue. Thank you for the link, it works now ! Sorry for the inconvenience and thank you for your help ! :)

[2018-06-11 14:43] lissyx commented on #1407
Still, it'd be good we figure out why master you cannot get that. Maybe we need to fix some docs ? We did the change rather soon, as @reuben said, so it's possible we lack something :), and I don't remember the flags for KenLM. Is it possible the `binary` being referred to is actually `lm.binary` and not the `generate_trie` binary ?

[2018-06-11 14:56] yoann1995 commented on #1407
The generate_trie binary is not really the problem for me. The real problem is that I don't know how to generate my lm.binary file other than with the probing hash tables format.

[2018-06-11 14:59] lissyx commented on #1407
Yeah, which makes sense since Vincent's guide is old now :-). I should still have a kenlm build ready that I used to test that, I'll try and find the proper arguments :-)

[2018-06-11 15:02] yoann1995 commented on #1407
Okay, thanks ! :)

[2018-06-11 15:05] lissyx commented on #1407
@yoann1995
[code]

So make sure `[type]` is `trie` and not `probing`, I think this is what you need.

[2018-06-11 18:09] danFromTelAviv commented on #416
I resolved the issue ( feel a little dumb in retrospect ). You must specify that the number of classes is one more than the number of characters you have.

[2018-06-12 03:07] coco90417 commented on #1406
Sure! samplingrate = 16000

private void writeWaveHeader(ByteBuffer buffer, float samplingrate, int length) {
        /* RIFF Chunk. */
        buffer.put("RIFF".getBytes());
        buffer.putInt(36 + length + 2);
        buffer.put("WAVE".getBytes()); /* WAV format. */

        /* Format chunk. */
        buffer.put("fmt ".getBytes()); /* Begin of the format chunk. */
        buffer.putInt(16);

[2018-06-12 08:34] AzizCode92 opened #1408 "importing Librispeech is not working"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS High Sierra 10.13.5
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: Installed from the Mozilla's Build
- **TensorFlow version (use command below)**:  1.6.0

- **Python version**:  Python 3.6.5
- **

[2018-06-12 08:46] #1408 closed

[2018-06-12 08:57] AzizCode92 commented on #1408
I figured out the problem.
In order to make it work, you have to make sure that all the files mentioned in import_librivox.py code are inside your data_dir.
Else it will not work properly.

[2018-06-12 12:42] hhk998402 commented on #1407
Thank you for your reply :)
This worked for me on Mac - https://index.taskcluster.net/v1/task/project.deepspeech.deepspeech.native_client.v0.1.1.osx/artifacts/public/native_client.tar.xz

This works for all other Linux systems -
https://index.taskcluster.net/v1/task/project.deepspeech.deepspeech.native_client.v0.1.1.cpu/artifacts/public/native_client.tar.xz

[2018-06-12 19:13] rishit13 opened #1409 "TypeError : "sess" must be a session"
After waiting for hours of training no progress is shown and then i get this error
[code]

I am working a the p2.8xlarge instance . So please could u help out in this .

[2018-06-12 19:30] lissyx commented on #1409
Those EC2 instances are using too slow GPUs, so it's nor surprising being slow. The stack does not provide anything actionable. Can you give more details? And retry without using anaconda?

[2018-06-12 19:33] rishit13 commented on #1409
It works well with the ldc93s1 dataset . And i have preinstalled everything as said in the documentation

[2018-06-12 19:40] rishit13 commented on #1409
What would u recommend ,i work on ?

[2018-06-12 20:01] lissyx commented on #1409
@rishit13 There's really nothing that can be done with the current stack, there's no information. Please retry without anaconda.

[2018-06-12 20:09] rishit13 commented on #1409
Could you guide on how to use it without anaconda on the server ?

[2018-06-12 20:20] nicolaspanel commented on #435
@reuben @kdavis-mozilla and others, thanks for the great work (amazing, really !)
Do you plan to share pre-trained models for other languages as well in future releases (ex: french) ?

[2018-06-12 20:23] kdavis-mozilla commented on #435
@nicolaspanel Thanks, and yes we want to share models for as many languages as we can!

[2018-06-13 02:20] lissyx commented on #1409
It's all in the documentation. There is nothing specific, just don't install anaconda and use virtualenv as documented

[2018-06-13 03:38] bolt163 opened #1410 "the model export process seems not properly under some case?"
The case with me now  was like this: the training process was  break off  for gpu resources were always  scheduling varing to time(the training enviroment for me is  using online resources training，for time at peak period, the gpu resources will be recycled for important  online  work, while for  idle time the gpu resources will be  release back  again for  training job using)， so the training pro

[2018-06-13 06:50] unicornmafia commented on #1407
I am getting a similar error:

[2018-06-13 07:29] #1407 closed

[2018-06-13 17:09] thebrahminator commented on #1107
Has anyone worked on it, and what exactly is required to solve this issue? I can help with it.

[2018-06-13 17:48] nicolaspanel commented on #435
@kdavis-mozilla great :+1: do you have any ETA (no mentioned in currents [projects](https://github.com/mozilla/DeepSpeech/projects))?
PS: I would be happy to help cleanup/prepare datasets if needed

[2018-06-13 18:09] kdavis-mozilla commented on #435
@nicolaspanel For other languages the timing depends upon the rate at which Common Voice collects data for the language.

For example, a couple of weeks ago data donation started for [French](https://voice.mozilla.org/fr). The faster Common Voice collects data for a particular language, e.g. French, the faster we can bring you a model for that language.

So to a very large extent the timings will

[2018-06-13 18:12] lissyx commented on #435
@nicolaspanel For french we also deeply need to diversify our sources. If you're interested, you can find informations on https://github.com/mozfr/besogne/wiki/Common-Voice-Fr

[2018-06-14 02:37] coco90417 commented on #1406
Solved! Thanks guys! You are extremely helpful!

[2018-06-14 04:21] lissyx commented on #1406
Thanks everyone, marking this as closed :-)

[2018-06-14 04:21] #1406 closed

[2018-06-14 10:37] bolt163 commented on #1390
has solved by myself

[2018-06-14 10:37] #1390 closed

[2018-06-14 12:05] faisal9t3 opened #1411 "terminate called after throwing an instance of 'lm::FormatLoadException'"
@lissyx sir
i made my own lm.binary file and git-lfs is also installed.
![image](https://user-images.githubusercontent.com/16726093/41410975-a8de827a-6ff4-11e8-9b16-644b395367fe.png)
please help! thanks in advance

[2018-06-14 14:32] kdavis-mozilla commented on #1411
Since commit 4dfd4f698dff9aaeda7814c74719d74f2e70ec63 the language model type has switched from probing to trie with quantization and array compressed pointers.

So when creating a language for DeepSpeech one now has to first create an arpa language model as follows
[code]
(the n of your n-gram and vocabulary estimate may vary) then create the binary form as follows
[code]
your array of offsets ma

[2018-06-14 14:32] #1411 closed

[2018-06-14 17:12] lissyx commented on #1411
Also @faisal9t3, please NOT use `sudo`, and refrain from using screenshots for this kind of purpose: it's completely unusable to help you.

[2018-06-14 19:42] KonstantinMorjan opened #1412 "Create kernel failed: Invalid argument: NodeDef mentions attr 'identical_element_shapes'"
Hi,

I have an issue with my deepspeech and couldn't find anything on other posts.
The only thing I found is that the tensorflow version was old (1.4.0), but mine is 1.6.0.
I have even created a new VM to see if I did something wrong in setup, but I get the same issue.

I have the latest DeepSpeech (0.1.1).
Tensorflow 1.6.0.

Running an inference with the pre-trained model works fine. No issues.
H

[2018-06-14 21:02] reuben commented on #1412
That's the problem. The error message says "Check whether your GraphDef-interpreting binary is up to date with your GraphDef-generating binary". In your case, you're trying to interpret a GraphDef generated by TensorFlow 1.6 with a binary that was linked to TensorFlow 1.4 (our pre-built binaries).

[2018-06-14 21:02] #1412 closed

[2018-06-14 21:02] reuben commented on #1412
You can either train with TensorFlow 1.4 or build the client from source with TensorFlow 1.6

[2018-06-14 21:04] lissyx commented on #1412
Yes, it's documented, you cannot train with r1.6 and then run inference with r1.4: https://github.com/mozilla/DeepSpeech/wiki#i-get-an-error-about-e-tensorflowcoreframeworkop_segmentcc53-create-kernel-failed-invalid-argument-nodedef-mentions-attr-identical_element_shapes-when-running-inference

[2018-06-15 02:55] beeteax opened #1413 "Tensorflow Install Issue"
bazel build -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" //native_client:libctc_decoder_with_kenlm.so
bazel build --config=monolithic -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" --copt=-fvisibility=hidden //native_client:libdeepspeech.so //native_client:deepspeech_utils //native_client:generate_trie
In tensorflow directory i ran these two commands which ran succesfully .
Followi

[2018-06-15 04:38] lissyx commented on #1413
This is not supposed to install TensorFlow, but to build `libdeepspeech`. If you want to install tensorflow, refer to TensorFlow's documentation.

[2018-06-15 04:38] #1413 closed

[2018-06-15 05:14] bolt163 commented on #1410
solved it myself, and i think there should be  a option  solution for directly export the final pb model  from the checkout point   if training ended  while  the total job  was  interrupt   before  the exporting process ending

i will create a new issue  and give my solution about this latter...

[2018-06-15 05:36] bolt163 commented on #1410
I have compaired  the two models:
  (i)directly export the model out not doing the testing porcess   ——namely Model1

  (ii)first runing the tesing process on the test set(which may will takes times of days if the test set was large), and then export the model out ——namely Model2

  I  have used the above Model1/Model2 to  test the same corpus, the WER were nearly the same

[2018-06-15 06:36] leonxun commented on #691
Dear Lissyx，

        I tried to quantize the pre-trained model, use the tensorflow GTT, transform_graph.py to convert it to quantized model. use the following commands:

bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
--in_graph=output_graph.pb \
--out_graph=optimized_graph.pb \
--inputs='input_node' \
--outputs='output_node' \
--transforms='add_default_attributes strip_unused_nodes

[2018-06-15 15:30] rishit13 commented on #1373
@priteshpj  did you find a solution to this ?

[2018-06-15 15:36] sidhartha4 opened #1414 "Error in the inference code when using the model exported after training was done using frozen model"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No I have not written any custom code, however I have commented out COORD.stop() (line number 1851 on the file Deepspeech.py) and I have changed the export function to use tf.device('/gpu:0') instead of  tf.device('/cpu:0') (line number 1731 in the file DeepSpeech.py). I am just using Deepsp

[2018-06-15 15:38] lissyx commented on #691
@leonxun Yes, this is not news to us.

[2018-06-15 15:39] lissyx commented on #1414
https://github.com/mozilla/DeepSpeech/wiki#i-get-an-error-about-e-tensorflowcoreframeworkop_segmentcc53-create-kernel-failed-invalid-argument-nodedef-mentions-attr-identical_element_shapes-when-running-inference

[2018-06-15 15:39] #1414 closed

[2018-06-15 15:53] leonxun commented on #691
@lissyx Thanks, but is there any chance to quantize the LSTM node competely？

[2018-06-15 16:05] lissyx commented on #691
We'll see that after #1275

[2018-06-15 16:20] leonxun commented on #691
OK，Thanks

[2018-06-15 23:17] beeteax opened #1415 "libctc_decoder_with_kenlm.so: undefined symbol: _ZN10tensorflow8internal21CheckOpMessageBuilder9NewStringEv"
Traceback (most recent call last):
  File "DeepSpeech.py", line 1838, in <module>
    tf.app.run()
  File "/home/ubuntu/anaconda3/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 126, in run
    _sys.exit(main(argv))
  File "DeepSpeech.py", line 1790, in main
    initialize_globals()
  File "DeepSpeech.py", line 334, in initialize_globals
    custom_op_module = tf.load_op_libra

[2018-06-15 23:21] beeteax commented on #1415
I am using tensorflow 1.6 of Mozzrila.
I dont know what else is wrong with it

[2018-06-16 00:05] lissyx commented on #1415
@beeteax We don't provide tensorflow python packages anymore, so I don't know what you installed ... This error is symptomatic of either mismatching versions or improper build. Without more details on your steps, we cannot help you.

[2018-06-16 02:03] phoenixbai opened #1416 "cv-corpus-v1 : Labels length is zero in batch 5"
I am trying to run cv-corpus-v1 with following command:
`python DeepSpeech.py --train_files data/cv_corpus_v1/cv-valid-train.csv,data/cv_corpus_v1/cv-other-train.csv --dev_files data/cv_corpus_v1/cv-valid-dev.csv --test_files data/cv_corpus_v1/cv-valid-test.csv --train_batch_size 10 --validation_step 1
`
and it throws with error below.  I googled and failed to find similar issue.
what could it be

[2018-06-16 02:10] phoenixbai commented on #1416
there is zero length label in other files.
:-(

[2018-06-16 02:10] #1416 closed

[2018-06-16 10:46] priteshpj commented on #1373
@rishit13 There were some empty strings. Dropping NA values solved the issue.

[2018-06-16 10:47] rishit13 commented on #1373
Can u suggest how to do that

[2018-06-16 10:47] rishit13 commented on #1373
Can u suggest how to do that

[2018-06-16 10:49] priteshpj commented on #1373
You can try loading the csv files into pandas data frame and use drops

[2018-06-18 11:54] DewiBrynJones commented on #1306
I'm getting the same problem within a Docker container built from the 'official' Dockerfile:

https://github.com/mozilla/DeepSpeech/blob/master/Dockerfile

(although I had to update the TF_CUDNN_VERSION env variable from 7.1.1 to 7.1.4)

[code]

[2018-06-18 17:11] lissyx commented on #1306
The contributor who sent the dockerfile did sent a PR a few days ago to fix something related, adding copt for String ABI. Make sure you test with that and there's no caching fun with docker?

[2018-06-18 17:22] DewiBrynJones commented on #1306
Thanks! Confirmed! Did a pull, rebuilt the image and voila :

[code]
Error gone and I'm able to move on to `import-librivox.sh` :) Hope the Dockerfile can be of help to @MekliCZ's setup. Thanks @GeorgeFedoseev !

[2018-06-18 19:16] lissyx commented on #1306
Thanks for the  feedback, then I'm guessing we should close this :-).

[2018-06-18 19:16] #1306 closed

[2018-06-19 21:15] spate141 commented on #1083
I'm having similar issue with building `trie` model with  `generate_trie ` script! Only issue I'm having is; building process just get killed after using almost 40GB of memory! My binary language model is of size 1.8 GB, vocab file is around 25GB. Is there any way to determine how much memory is required to generate trie file?

[2018-06-19 21:20] spate141 commented on #1407
I'm having an issue with building trie model with generate_trie script! Only issue I'm having is; building process just get killed after using almost 40GB of memory! My binary language model is of size 1.8 GB, Vocab file is around 25GB. Is there any way to determine how much memory is required to generate trie file?

[2018-06-20 02:14] beeteax commented on #1388
Thankyou So much for not providing an Updated Readme file.
Wasted my 15 days on this

[2018-06-20 05:40] lissyx commented on #1388
@beeteax Can you be more specific ?

[2018-06-20 05:43] lissyx commented on #1407
@spate141 I'd rather question the size of your files, it looks like way too big.

[2018-06-20 20:09] spate141 commented on #1407
@lissyx Thanks for the reply! Yes, the file size was the issue; so I created smaller version of language model`(ngram 1=2782949 ngram 2=2874575 ngram 3=1665316)` from a small vocab.txt file, and I was able to generate a new `trie` file along with it.

One more thing I noticed, If I use my newly trained language model with DeepSpeech's trie model file I'm getting more accurate transcriptions rather

[2018-06-21 03:55] lissyx commented on #1407
@spate141 Can we take that discussion on Discourse ?

[2018-06-21 08:08] juancq commented on #1087
Can this be updated in the readme for the master version? I just ran into the same issue and found the answer here.

[2018-06-21 09:59] faisal9t3 commented on #1411
@kdavis-mozilla
![screenshot from 2018-06-21 14-58-29](https://user-images.githubusercontent.com/16726093/41712273-a48bef36-7563-11e8-856a-e0814212e6ba.png)
plz help us, to removing this error.
thank u in advance

[2018-06-21 10:17] lissyx commented on #1411
@faisal9t3 This is not a bug. Ask help properly on Discourse. Do not use screenshot, it's painful to read from for debugging.

[2018-06-21 10:56] faisal9t3 commented on #1411
i have resolve this erroe thank you sir.

[2018-06-21 11:02] faisal9t3 commented on #1411
sir, when i use pre-train model by using this code:

from deepspeech.model import Model
import scipy.io.wavfile as wav
import sys

ds = Model(sys.argv[1], 26, 9, sys.argv[2], 500)
fs, audio = wav.read(sys.argv[3])
processed_data = ds.stt(audio, fs)
print (processed_data)

print("Done")

**output**: python3 speech.py models/output_graph.pb models/alphabet.txt amy1.wav
2018-06-21 15:50:31.013336: I

[2018-06-21 11:36] lissyx commented on #1411
@faisal9t3 How about you:
 - share your feedback on what was wrong in case somebody else run into the same issue ?
 - use proper code formatting when putting code, because right now it's completely unreadable !
 - check the documentations ?
 - post your questions on Discourse, as asked several times now ?

https://github.com/mozilla/DeepSpeech/wiki#i-get-an-error-about-e-tensorflowcoreframeworkop_

[2018-06-21 12:34] faisal9t3 commented on #1344
`dfgdfg`

[2018-06-21 15:02] spate141 commented on #1407
@lissyx: Adding in example from this video: https://www.youtube.com/watch?v=JRAdZyW_hss **(0:00 to 2:00)**. I have highlighted words that are different in both transcript. I'm using same [DeepSpeech 0.1.1](https://github.com/mozilla/DeepSpeech/releases/download/v0.1.1/deepspeech-0.1.1-models.tar.gz) acoustic model with different language model.

he is its manda and say i'm knowing to show you have

[2018-06-22 02:51] spate141 commented on #1407
I'm using [v0.2.0-alpha.6](https://github.com/mozilla/DeepSpeech/releases/tag/v0.2.0-alpha.6) `native_client` binary files, and getting similar type of error:

My kenlm language model is based on trie; here command:
`./build_binary trie lm.arpa lm.binary`

Error on `generate_trie`:
[code]

[2018-06-22 04:42] lissyx commented on #1407
@spate141 Yes, the format changed, use the proper parameters to rebuild the language model, see my comment above.

[2018-06-22 19:47] bernardohenz commented on #1156
@GeorgeFedoseev I've been trying to debug this part of code you have pointed, and I noticed some weird behavior. Next, I've printed the score for, respectively: (1) a common word of my corpus; (2) a rare word of the corpus; (3) an invalid/out-of-vocabulary word; (4) the score of the variable 'oov_score_'. I am printing the scores on some different states:

[code]

Notice that the oov_score is not

[2018-06-23 01:59] abuvaneswari commented on #1407
@spate141 , this command for kenlm build_binary fixed the issue:
bin/build_binary trie -q 16 -b 7 -a 64 set5.arpa set5.lm.binary

[2018-06-23 02:16] abuvaneswari commented on #1407
@lissyx
* Using the generate_trie of v0.2.0 alpha6
* using the alphabet.txt in DeepSpeech/data/alphabet.txt
* using an lm.binary (trie format) that I generated after following instructions above
* using vocab that is essentially the text source to the lm.binary generation. The num lines of my vocab.txt = 4 Million

$ ./generate_trie ../tensorflow/DeepSpeech/data/alphabet.txt lm.binary set5.txt /tm

[2018-06-23 10:07] lissyx commented on #1407
@abuvaneswari Please avoid hijacking issues for questions like that, please use proper code formatting for including code / console output.

I have no idea why you have this `boost::locale` error, likely some bogus data somewhere. Since it works with our data, you need to find what is wrong on your side.

The file `vocab.txt` is used to build the language model `lm.binary`.

The official model rel

[2018-06-24 02:14] phoenixbai opened #1418 "dependent lib linked to non-standard path when compiling from source with tensorflow 1.4 and cuda 8.0,"
I strictly followed the instruction here, with command as below with tf_library disabled:
`bazel build -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" --incompatible_load_argument_is_label=false //native_client:libctc_decoder_with_kenlm.so`
`bazel build --config=monolithic -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" --copt=-fvisibility=hidden --incompatible_load_argument_is_label=f

[2018-06-24 06:57] lissyx commented on #1418
The tensorflow build system adds rpath for those, this makes ldd find them in your build directory, if you adjust LD_LIBRARY_PATH or ld.so.conf you should be able to get that working properly anywhere without any problem.

Look at them with `readelf -d` that should show you the rpath value :-).

[2018-06-24 06:57] #1418 closed

[2018-06-25 01:43] juancq commented on #1087
Master seems to be in v0.2.0. So it is a little confusing, as users probably expect to be able to follow the readme they are reading (v0.2.0), and then realize the v0.1.1 issue after getting an error. Maybe adding a note under the "Getting the pre-trained model" noting to users that after executing the command, that they should follow the documentation under the v0.1.1 tree (including a link) or a

[2018-06-25 09:14] kdavis-mozilla commented on #1087
@juancq PR's welcome :-)

[2018-06-26 23:32] thejedi opened #1419 "Error using new model from training: Create kernel failed: Invalid argument: NodeDef mentions attr 'identical_element_shapes' not in Op<name=TensorArrayV3;"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.4 LTS
Release:	16.04
Codename:	xenial

- **TensorFlow installed from (our builds, or upstream TensorFlow)**:
Installed from pip3
- **Python version**: 3.6

- **Exact command to reproduce**:
I followed the instructions to continue contraining from a frozen gr

[2018-06-27 02:57] bolt163 opened #1420 "how to run the final exported pb model on hosts equipped without GPU"
the final exported  output_graph  pb model must be worked  through deepspeech on hosts  equipped with GPU,

is there any solutions to convert the pb model to working on  normal  hosts, such as hosts which was  only equipped with  cpu device?

[2018-06-27 05:07] lissyx commented on #1419
This is documented here: https://github.com/mozilla/DeepSpeech/wiki#i-get-an-error-about-e-tensorflowcoreframeworkop_segmentcc53-create-kernel-failed-invalid-argument-nodedef-mentions-attr-identical_element_shapes-when-running-inference

Graph exported from TensorFlow r1.5+ are incompatible with 0.1.1 release

[2018-06-27 05:07] #1419 closed

[2018-06-27 05:08] lissyx commented on #1420
As documented in the README, you can see it runs both on pure CPU and on CUDA-enabled binaries. Just pick the proper one for your system: https://github.com/mozilla/DeepSpeech#using-the-model

[2018-06-27 05:08] #1420 closed

[2018-06-27 07:04] bolt163 commented on #1420
@lissyx  thanks very much

[2018-06-27 14:20] thejedi commented on #1419
So besides using pip3 to uninstall tensorflow 1.6 and install 1.4.0 is there anything else?  Do I need a different decoder library?

[2018-06-27 14:44] thejedi commented on #1419
Yes but I want to continue the training from the pre-built models which are built for the 0.1.1 version of deepspeech:
wget -O - https://github.com/mozilla/DeepSpeech/releases/download/v0.1.1/deepspeech-0.1.1-models.tar.gz | tar xvfz -

Are there new pre-trained models that are compatible with v 0.2.0a6?

How do I ensure that the decoder matches v 0.1.1?  from the instructions I run:
python3 util/

[2018-06-27 14:59] lissyx commented on #1419
No, we have not yet released models trained on r1.6. If you used this taskcluster call, then you got the 0.2.0a6 libctc decoder. Easiest so far is to set env variable and use:
`TASKCLUSTER_SCHEME=https://index.taskcluster.net/v1/task/project.deepspeech.deepspeech.native_client.v0.1.1.%(arch_string)s/artifacts/public/%(artifact_name)s python3 util/taskcluster.py --target .`

[2018-06-27 15:17] thejedi commented on #1419
Or what if instead of cloning the git repo latest branch, I get the DeepSpeech source tar for 0.1.1 - will I still need to set the environment variable?

https://github.com/mozilla/DeepSpeech/releases/

[2018-06-27 15:20] lissyx commented on #1419
Yes, that will not help you in this case, the URL is kind of hard-coded. You can also just download directly from https://index.taskcluster.net/v1/task/project.deepspeech.deepspeech.native_client.v0.1.1.cpu/artifacts/public/native_client.tar.xz

[2018-06-27 15:24] thejedi commented on #1419
Awesome thanks!

[2018-06-27 20:55] bernardohenz commented on #1156
@GeorgeFedoseev yes, it is true. But why wouldn't ```oov_score``` depend on the state? I think it makes sense to compute the ```oov_score``` for each state. What do you think?

[2018-06-27 21:20] lissyx commented on #1419
Obviously, the lm file has not been propery checked out by git lfs. You might need to reclone.

[2018-06-28 08:20] GeorgeFedoseev commented on #1156
@bernardohenz *as I understand code:* when the construction of word is not finished yet, to tell beam search that its going in right direction, we are adding minimum unigram score of the word that this search can lead to. And this minimum unigram score is precomputed without state (with model.NullContextState()) and saved in trie file. To get this score dynamically depending on state you will need

[2018-06-28 10:12] juax335 opened #1421 "# Wrong Order of Arguments in the Code Examples"
# Wrong Order of Arguments in the Code Examples

I followed the steps provided in README.md to install `deepspeech` via pip, get the pretrained model and test it on an audio file.

I initiated my virtual environment via `pipenv`

[code]

It seems that the **order** of the arguments in the README.md is **wrong**

In the first paragraph and in the section `Using the Python Package/Installing DeepSpe

[2018-06-28 10:18] lissyx commented on #1421
The order is right for master, check the `-h` of your binary it should give your proper ordering.

[2018-06-28 10:18] #1421 closed

[2018-06-28 10:29] juax335 commented on #1421
Thanks for looking into it so quickly. `-h` does give me the right order. However,  I do not understand why the commands in the displayed gif on top of the README differ from the code examples in the mentioned sections.

[2018-06-28 10:31] lissyx commented on #1421
Because the doc has been updated but not the GIF :(

[2018-06-28 10:46] juax335 commented on #1421
Alright, that's an easy answer ;). Thank you for your help!

[2018-06-28 14:04] bernardohenz commented on #1156
But the problem of assigning such minimum unigram score (or ```oov_score```) is that, during beam search, the algorithm is preferring to concatenate lots of characters, rather than choosing an ```space``` and finish a low-probability word (such my (2) example).

One idea that occurred to me is to penalize longer words, so to avoid cases where the algorithm tries to concatenate more than 3 words to

[2018-06-28 14:15] lissyx commented on #1410
@bolt163 Thanks, I'm not sure i get the exact issue, since you document about potential loss of quality, and then you document no WER change.

BTW, documenting code behavior with screenshots is painful and not helping understanding the problem :/

[2018-06-28 14:17] lissyx commented on #1409
@rishit13 Nothing actionable, no news from you, is that working ?

[2018-06-28 14:31] bernardohenz commented on #1156
In fact I created another variable (```oov_score_2```) to compute this value (```oov_score_``` can't be modified inside the function).

And, I do not know if it is a good idea to set   ```oov_score_ = -1000.00;```, since this is used when you are composing the word (char by char). The point of 'correcting' the  ```oov_score_``` is to avoid the alg to just decide to gluing all characters together (

[2018-06-28 17:55] jageshmaharjan commented on #1371
Yup, the issue had been solved, sorry for not closing on time.
Thanks for closing the issue.

[2018-06-28 17:57] jageshmaharjan commented on #1380
Yea, the issue had been solved.
Thanks.

[2018-06-28 17:57] #1380 closed

[2018-06-28 23:01] GeorgeFedoseev commented on #1156
@bernardohenz I think that in that part (`if (!alphabet_.IsSpace(to_label))`) it should be just that oov word gets score lower than any vocabulary word.

Try to increase `word_count_weight_` from default 2 to something like 3.5. This resulted in less concatenation for me and decreased my WER by 3-4%.

[2018-06-29 14:07] bernardohenz opened #1422 "Why not using tf.layers.Dense?"
Is there a reason for not using ```tf.layers.Dense(batch_x,h1,kernel_initializer=tf.contrib.layers.xavier_initializer(uniform=False))``` instead of

[code]
?

It is easier to use regularization, besides making the code more clean.

[2018-06-29 15:11] thejedi commented on #1419
I am getting a new error after removing DeepSpeech and cloning

I Early stop triggered as (for last 4 steps) validation loss: 94.556023 with standard deviation: 1.178466 and mean: 89.540270
I FINISHED Optimization - training time: 0:29:53
terminate called after throwing an instance of 'lm::FormatLoadException'
  what():  native_client/kenlm/lm/binary_format.cc:131 in void lm::ngram::MatchCheck(lm:

[2018-06-29 15:42] lissyx commented on #1419
Looks like you are not using the proper language model / trie file. File format changed recently. What's your files size in `data/lm/lm.binary` ?

[2018-06-29 15:48] thejedi commented on #1419
I removed the local repo again and did a git clone https://github.com/mozilla/DeepSpeech --branch v0.1.1

and now I do not have a lm.binary in that folder

[2018-06-29 15:49] lissyx commented on #1419
I have no idea if Git-LFS should have done it. Try to force `git lfs fetch && git lfs checkout`

[2018-06-29 17:15] thejedi commented on #1419
I ran those two commands and now there is a lm.binary file in there.
-rw-rw-r-- 1 user user 1601028778 Jun 29 11:58 lm.binary
-rw-rw-r-- 1 user user   43550345 Jun 29 10:28 trie
-rw-rw-r-- 1 user user   12124740 Jun 29 10:27 vocab.txt

I am running the training now to see if I still get the error

[2018-06-29 18:02] thejedi commented on #1419
The training finished and the model exported.  I did get some warnings:
I Exporting the model...
I Restored checkpoint at training epoch 16
WARNING:tensorflow:From ./DeepSpeech.py:1746: generic_signature (from tensorflow.contrib.session_bundle.exporter) is deprecated and will be removed after 2017-06-30.
Instructions for updating:
No longer supported. Switch to SavedModel immediately.
WARNING:tens

[2018-06-29 22:36] reuben commented on #1422
Originally, because it didn't exist when that code was written.

Since then, a mixture of not wanting to break the weights naming for existing models/checkpoints and... no one bothered to do it :)

[2018-06-29 22:37] reuben commented on #1410
If you pass `--notrain --notest` with the other flags then it should go directly to the exporting process and take seconds. Does that not work for you?

[2018-06-29 22:41] reuben commented on #1402
`client.py` (and `client.js`) are already a bit high level if you're interested in hacking on the model inputs. If you look at `deepspeech.cc` or `util/audio.py`, you'll see that the features the model takes as input are MFCC coefficients. You can compute them with the `python_speech_features` module or the intuitively named `c_speech_features` (which is what we use in `deepspeech.cc`). Hope this

[2018-06-29 22:41] #1402 closed

[2018-06-30 02:50] reuben commented on #1330
From the error it looks like you're trying to re-use our pretrained weights with a model that has a different alphabet, which is not going to work. What you can try instead is an approach similar to the one described here: https://www.tensorflow.org/tutorials/image_retraining

Sadly the tooling described in the article won't work on DeepSpeech, you'll need to change the code to only load the weigh

[2018-06-30 02:50] #1330 closed

[2018-06-30 18:15] jtoy commented on #1422
think we can close this then

[2018-06-30 18:37] Franck-Dernoncourt opened #1423 "Common Voice's cv-other-train.csv contains empty transcripts, which cause the training to crash (Labels length is zero in batch 0)"
**Issue**: Common Voice's `cv-other-train.csv` contains 2 empty transcripts. which cause the training on `cv-other-train.csv` to crash:

[code]

However, in the current [README.md](https://github.com/mozilla/DeepSpeech/blob/28b07e45fd9a10741f2f31b4ed2d8242dba377f2/README.md), it says that one can train DeepSpeech with Common Voice on `cv-other-train.csv`:

[code]

It's not user-friendly for people

[2018-06-30 22:41] ZeeshanSultan opened #1424 "Rebuilding Binary issue"
- **I have not written any custom code so far**:
- **using Linux Ubuntu 16.04**:
- **Python 3.5.2**:
- **Memory 32 GB**:

![binary](https://user-images.githubusercontent.com/8667667/42129538-8212c3a6-7ce0-11e8-91cf-969eb93a24d4.jpg)

![binary2](https://user-images.githubusercontent.com/8667667/42129536-7a6611d0-7ce0-11e8-921c-652828b82bac.jpg)

[2018-07-01 18:31] lissyx commented on #1423
Thanks for that, I guess the best fix would be:
 - fix the common voice dataset, I don't know ho we should handle this, but @mikehenrty might be of help
 - fix the `import_cv` script

[2018-07-02 04:55] lissyx commented on #1424
@ZeeshanSultan Thanks, but please avoid using pictures for this purpose: it makes your issue non-indexable and hard to read. Also, it's not a big with DeepSpeech, so it'd be better to be discussed on Discourse: https://discourse.mozilla.org/c/deep-speech

Since you rebuilt, you also need to document what you did exactly: this error is about a mismatch between the lm.binary file format.

[2018-07-02 06:22] Franck-Dernoncourt opened #1425 "The "Test of Epoch [number]" displays an incorrect number"
The "Test of Epoch [number]" seems to sometimes display an incorrect number.

In the following example, it says `Test of Epoch 77263`, even though there should be just 1 epoch from my understanding, since I gave `--display_step 1  --limit_train 1  --limit_dev 1  --limit_test 1 --early_stop False --epoch 1` as arguments:

    dernoncourt@ilcomp:~/asr/DeepSpeech$ ./DeepSpeech.py \
    --train_files

[2018-07-02 10:11] nh2 opened #1426 "pip install doesn't ensure required version of numpy"
From the README:

I'm on Ubuntu 16.04 with a Python 3.5 virtualenv.

`pip install deepspeech` ran through successfully, but when trying to run it I get:

[code]

It seems like the `pip install` doesn't actually install the required version of `numpy`.

[2018-07-02 10:17] nh2 commented on #1426
In case it helps, manually upgrading numpy seems to bring me further:

[code]

[code]

[2018-07-02 10:18] nh2 opened #1427 "Command line argument order is wrong all over the README"
The [README](https://github.com/mozilla/DeepSpeech/tree/27444d67ec4da563aea8a42ae8daec6fe877378b#project-deepspeech) mentions multiple times:

[code]

That's not the order of CLI arguments as accepted by the `deepspeech` executable:

[code]

[2018-07-02 10:19] nh2 commented on #1426
This is due to #1427

[2018-07-02 10:21] nh2 commented on #1427
Non-positional arguments like `--model`, `--audio` etc can avoid these problems and are also more obvious. `argparse` makes using them very simple.

[2018-07-02 10:23] nh2 commented on #1427
I installed `deepspeech` with `pip`, the following version ... oh wait

[code]

:-/

[2018-07-02 10:28] nh2 opened #1428 "16000Hz WAV file recorded by audacity is rejected"
From the README:

So I created a 16kHz with Audacity on Ubuntu 16.04 using the format selection `WAV (Microsoft) signed 16-bit PCM`:

[code]

`deepspeech` rejects it with:

[code]

It would probably be helpful if the assertion printed what it thinks the value of `fs` is.

My version as obtained via pip:

[code]

[2018-07-02 10:34] nh2 commented on #1428
My bad, I just didn't spot that in my second recording Audacity actually reset the `Project Rate (Hz)` dropdown box in the bottom (as `file` also told me above, it's `mono 44100 Hz`).

[2018-07-02 10:34] #1428 closed

[2018-07-02 10:49] mikehenrty commented on #1423
`other` is our dataset that is not yet validated. there will always get bad data in there, even if we manually removed the ones in question here. users of the website will eventually move those to invalid once users try to listen to them (probably already have). so Common Voice is working as expected here, so I think the issue is only on the importer script.

[2018-07-02 11:16] nh2 opened #1429 "Why does the README not suggest to pass lm and trie files?"
From the README:

Why does this not suggest to also pass `models/lm.binary` and `models/trie`?

I get much better accuracry when those are passed, compare:

[code]

to

[code]

Putting the files into the README instructions might make for a much better first impression when people try DeepSpeech.

[2018-07-02 13:35] lissyx commented on #1429
@nh2 Patches are welcome, it's likely that we are used to doing so, and the command line documents it, so we forgot to update the README on that specific point.

[2018-07-02 13:36] lissyx commented on #1426
@nh2 Thanks, the deepspeech python package does have a numpy dependency, but we have put no version requirement. It's likely that you had a previously installed version (1.11.0 according to the logs) that's not compatible with the version we use. I'm not sure what the proper solution here should be, I'm quite unhappy as to forcing minimum version, open to any better idea

[2018-07-02 13:39] lissyx commented on #1427
@nh2 You're right for the use of argparse, but we should be consistent accross the C++ and NodeJS codebase for that, and thus it has not been top priority :-)

[2018-07-02 13:53] nh2 commented on #1426
Hmm, if you want people to be able to run your model files, I suppose you could either:

* generate the model files you offer for download in the oldest `numpy` format version you wish to support and set the minimum required version to _that_
* generate the model files in a format that is not susceptible to format changes (the numpy format seems to be)

[2018-07-02 13:56] lissyx commented on #1426
@nh2 Yes, that's what I meant. The model itself does not depend on numpy, only the Python code. We would like to get rid of it, and in the mean time, I'm ont sure on which version we should target to be broad enough.

[2018-07-02 14:59] lissyx commented on #1423
@mikehenrty I missed the fact that this was with other. I guess we should also update the doc with some warning on that point.

[2018-07-02 15:23] tilmankamp commented on #1425
@Franck-Dernoncourt This is actually not a bug, as the current epoch is computed on base of your current parameters and the snapshot-persisted global step-count. Take a close look into this excerpt:

[code]
So what happens is that your training-set-size during training differs from your current training-set size. Thus the strange epoch number.

Simplified example (without confusing batch size):
If

[2018-07-02 15:25] #1425 closed

[2018-07-02 16:31] lissyx commented on #1426
Okay, so the `SWIG` part should be okay going back to NumPy API v7, which is `numpy==1.7.0`. Let's give a try to this version.

[2018-07-02 16:41] #1422 closed

[2018-07-02 16:42] lissyx commented on #1401
@RaphaelHuirong PR are welcome, if you make any JNI binding send us one to at least list it next to the Go / Rust and others in the readme!

[2018-07-02 16:43] lissyx commented on #1370
I'm going to close this, because it's not really a bug per-se. Feel free to take the discussion to Discourse.

[2018-07-02 16:43] #1370 closed

[2018-07-02 16:53] lissyx commented on #1322
Closing because of lack of feedback.

[2018-07-02 16:53] #1322 closed

[2018-07-02 16:58] lissyx opened #1433 "libssl1.0.0_1.0.2g-1ubuntu4.12_amd64.deb missing"
use libssl1.0.0_1.0.2g-1ubuntu4.13_amd64.deb

[2018-07-02 17:50] lissyx opened #1435 "Switch to Python 3.7.0"
Stable release is here, we should use it now.

[2018-07-02 17:53] lissyx commented on #1435
Means numpy>=1.14.5, scipy>=1.1.0

[2018-07-02 17:54] #1423 closed

[2018-07-02 19:12] Franck-Dernoncourt commented on #1425
Got it, thanks for the explanation!

[2018-07-02 19:46] #1429 closed

[2018-07-02 20:01] #1433 closed

[2018-07-02 22:17] t-haich commented on #1175
I am having this same problem with "No module named _model", except I am running deepspeech-0.1.1 with python3.6
My output to `LD_DEBUG=libs python -c "from deepspeech.model import Model"` is virtually identical to the output above

I went ahead and used @Nasdin 's .sh file, but updating to match my versions:
[code]

however, the output I got was the same from when I installed simply using `pip3 i

[2018-07-03 06:49] lissyx commented on #1175
@t-haich Virtually identical? What does it means? Please share this, I cannot debug out of the blue.

[2018-07-03 07:47] Franck-Dernoncourt commented on #517
I agree that it'd be useful to log loss and WER.

https://github.com/utunga/DeepSpeech/pull/1/commits/88fff498a036e03ce492bf6bfd340749a421c2df is a commit adding loss logging.

[2018-07-03 08:27] lissyx opened #1438 "util/taskcluster.py should not hardcode branch"
This is something that has been painful for people, let's make that a parameter.

[2018-07-03 09:47] #1435 closed

[2018-07-03 14:05] reuben commented on #517
Fixed by #1391.

[2018-07-03 14:18] #1438 closed

[2018-07-03 14:20] lissyx opened #1440 "Remove numpy python dep"
We should be able to do without.

[2018-07-03 14:38] reuben opened #1441 "Support Pipenv/include a Pipfile"

[2018-07-03 16:36] t-haich commented on #1175
@ lissyx I was able to fix this locally, so I removed the comment to not confuse anyone. Thanks!

[2018-07-03 16:48] lissyx commented on #1175
@t-haich Care to share for others? If you hit that, it's likely others might :)

[2018-07-03 16:52] #1426 closed

[2018-07-03 17:08] lissyx commented on #1440
scipy is going to die in https://github.com/mozilla/DeepSpeech/pull/1442

[2018-07-03 21:12] t-haich commented on #1175
Actually, somehow I'm back to square one. I've installed DeepSpeech_gpu-0.1.1 with python3.6. After installation, when I try to run `deepspeech --help` I get the following error:
[code]
Then, running `LD_DEBUG=libs python -c "from deepspeech.model import Model"`, I get:
[code]
I have tried installing several ways, but keep running into the same issue. Would appreciate any help :)

[2018-07-04 00:34] reuben commented on #1175
As you can see from the ImportError, the error is when it tries to load the CUDA libraries. Make sure you installed CUDA correctly and that the path to the libraries is in your `LD_LIBRARY_PATH`.

[2018-07-04 07:14] lissyx opened #1443 "Rework clients CLI flags"
Let's use non positionnal arguments for all our current CLI tools.

Python and NodeJS already depends on argparse, so we can easily just add `--` to them.

Only C++ would require more love, but we can likely find a library compatible with argparse, so we get consistent accross all and avoid the nasty effects we had to tackle.

[2018-07-04 20:31] wortwart commented on #1427
@lissyx The current Readme says `deepspeech models/output_graph.pbmm models/alphabet.txt models/lm.binary models/trie my_audio_file.wav` which doesn't make much sense. The code example in v0.1.1 works.

[2018-07-05 08:58] #1443 closed

[2018-07-05 10:11] sahitpj commented on #666
I would like to work on this if this is still active

[2018-07-05 17:28] bernardohenz opened #1445 "Problem including BatchNorm after Dense layers"
I am trying to include BatchNormalization layers after dense layers, much like the paper DeepSpeech2 implements (next I am going to implement BN on the LSTMs). In summay, I am using the following implementation of batchnorm inside the ```BiRNN``` definition:

[code]

where ```training_ph``` is a boolean placeholder set to ```True``` during training, and ```False``` otherwise; and ```batchnorm_mome

[2018-07-06 18:54] Franck-Dernoncourt commented on #1282
Note that you may have `loss: inf` for a given epoch and a finite loss at the subsequent epoch.

Example as I was also training DeepSpeech on  the Common Voice dataset, keeping the default learning rate:

[code]

[2018-07-07 15:43] kdavis-mozilla commented on #1445
Hey @bernardohenz, while this _is_ interesting and BN is usually hard to tune, as this isn't bug with the current code or a feature request, could you take this discussion to [discourse](https://discourse.mozilla.org/c/deep-speech) where such non-bug non-feature request items are discussed. Thanks.

PS: Last I remember @reuben was also having some problems with batch norm, and unrelatedly I talked

[2018-07-07 15:43] #1445 closed

[2018-07-08 02:56] Cloudmersive opened #1446 "pip3 install deepspeech is incompatible with v0.11 pre-built model"
pip3 install deepspeech is incompatible with v0.11 pre-built model.

[code]

Can you  update the deepspeech on pip to support the 0.11 model or vice versa?

[2018-07-08 03:11] Cloudmersive commented on #1407
This is still broken - can we re-open this issue and fix the problem?  The current release does NOT work.

[2018-07-08 05:38] kdavis-mozilla commented on #1407
@Cloudmersive  Other got this to work[[1](https://github.com/mozilla/DeepSpeech/issues/1407#issuecomment-396575270)] so I'd guess you're doing something different to what they are doing. Could you describe what you've done?

[2018-07-08 05:43] kdavis-mozilla commented on #1446
It appears as if you have not installed `deepspeech` using
[code]
but installed `deepspeech` using some other method as you appear to have a post v0.1.1 version of `deepspeech` and not a v0.1.1 version of `deepspeech` and are trying to use this with a v0.1.1 model version.

Could you describe in detail your installation process and any previous installs of `deepspeech` that may be on your machine.

[2018-07-08 12:03] cahya-wirawan commented on #1161
@lissyx actually cmake is mentioned in Readme.md of kenlm directory: https://github.com/mozilla/DeepSpeech/blob/8818874217bb5f4e1bd1aeeae23efd336fce87f9/native_client/kenlm/README.md
So, if I try to build kenlm, I get the same error message as described above by levi-2018.
I can build kenlm if I clone kenlm directly from  https://github.com/kpu/kenlm.

[2018-07-09 06:38] phoenixbai opened #1447 "run-cluster on multiple machines not working"
I try to run bin/run-cluster.sh with 'localhost' replaced with actual machine ips as below:
[code]
And run with command below:
`./bin/run-cluster.sh 1:2:2 --train_files=data/cv_corpus_v1/cv-valid-train.csv --dev_files=data/cv_corpus_v1/cv-valid-dev.csv --test_files=data/cv_corpus_v1/cv-valid-test.csv --train_batch_size=10 --test_batch_size=10 --dev_batch_size=10 --validation_step=1 --log_level=0 -

[2018-07-09 08:58] lissyx commented on #1161
@cahya-wirawan Yes, this is expected. Don't build KenLM from our sub directory.

[2018-07-09 12:58] renderpci opened #1448 "Transcription mode for long audio files"
Hi to all.

I don't know if this thread is the place to put this kind of message, sorry If not.

Well, I see that the project only process 5 seconds of audio files and I read some threads about the long files with very creative solutions to this "situation", split audiofiles with "phrases", etc.

I don't know if the community are thinking in other use of the DeepSpeech other than "short commands".

[2018-07-09 13:01] lissyx commented on #1448
@renderpci This discussion should take place on Discourse: https://discourse.mozilla.org/c/deep-speech.

[2018-07-09 13:01] #1448 closed

[2018-07-09 13:02] lissyx commented on #1448
When taking the discussion to Discourse, please be clear in stating what is not good / enough in the current shape of the project. Your description feels like your only limitation is about audio file length, which can be circumvented with spltting the audio as you said.

[2018-07-09 13:40] lissyx commented on #1446
@Cloudmersive This error makes no sense. If you use `pip install deepspeech` and v0.1.1 model, they are in sync. Your error message suggest using 0.1.1 binary and current master language model files.

[2018-07-09 20:37] lissyx opened #1450 "Ensure NodeJS from NodeSource"
`apt-get install nodejs` might install from distro instead of nodesource packaging.

[2018-07-10 06:00] #1450 closed

[2018-07-10 07:04] lissyx commented on #1446
@kkshmz Your console output shown 0.2.0 alpha 6, your pip list shows 0.1.1. What are you using, precisely ? Where is your lm.binary and trie from ?

[2018-07-10 07:09] kkshmz commented on #1446
I have only used to pip to install and have used the link in the readme.

[2018-07-10 07:11] lissyx commented on #1446
@kkshmz We need more details.

[2018-07-10 07:14] lissyx commented on #1446
Works for me:
[code]

[2018-07-10 07:16] lissyx commented on #1446
@kkshmz So my guess is that you are not using the proper language model file. We changed the format, the one in 0.1.1 archive is not good with 0.2.0 alpha 6 binaries.

[2018-07-10 08:09] lissyx opened #1452 "Add --version and proper argparse description"

[2018-07-10 10:42] #1452 closed

[2018-07-10 16:28] Cloudmersive commented on #1446
You can reproduce this by making a Docker file like this:

[code]

[2018-07-10 17:17] lissyx commented on #1446
@Cloudmersive Can you be more specific on the actual python version being used ?
Can you reproduce using verbose pip install ?
Can you use 0.1.1 model files and not 0.1.0 ?
Can you use verbose pip install step ?

[2018-07-10 17:22] lissyx commented on #1446
`python:latest` might pull 3.7 build. I'm not sure exactly what `deepspeech` release it might get you in this case, because we only have some 0.2.0 alpha builds for Python 3.7. Which would be incompatible with the language model bundled in 0.1.1 tar.gz you are using.

[2018-07-10 21:01] lissyx commented on #1446
cp37m:
 - https://pypi.org/project/deepspeech/0.2.0a6/#files
 - https://pypi.org/project/deepspeech/0.2.0a7/#files

[2018-07-11 03:03] madhavajay opened #1454 "Common Voice download script"
The common voice download script is chewing through bandwidth with its terminal update code.

See screenshot:
https://imgur.com/HSLizZd

I shouldnt need hundreds of megabytes in bandwidth just to view the progress of download and unpacking.

Unfortunately because im tethering its using the internet as fast as it can sometimes which must just poll for updates more frequently and the "progress" code

[2018-07-11 07:06] kdavis-mozilla commented on #1454
Thanks for you feedback.

The alternative would be to not have feedback, which also has it's problems, users wouldn't know if the download is working or hung.

We decided to err on the side of providing feedback as the data set is large enough that the update size, relative to the data set size, is minimal.

[2018-07-11 07:16] lissyx commented on #1446
@Cloudmersive It works for me, without a language model: https://taskcluster-artifacts.net/C2EdU2DKQKeUxgwHWDUsIg/0/public/logs/live_backing.log

And as I expected, it did download 0.2.0a7. So the error reported is just mismatch of the language model until we release proper 0.2.0 ...

[2018-07-11 09:54] Sorkanius commented on #435
Are there any news on next trained model release?

Thanks a lot, your work is amazing!

[2018-07-11 10:19] kdavis-mozilla commented on #435
No real updates yet, but as we just started collecting in other languages we need to give it a bit more time before we have enough data to train on.

[2018-07-11 10:19] kdavis-mozilla commented on #435
PS: And thanks for the compliment!

[2018-07-11 10:21] Sorkanius commented on #435
Are you working towards increasing the dataset or trying new networks? Or both maybe?

[2018-07-11 10:23] kdavis-mozilla commented on #435
Right now trying to get more data through Common Voice

[2018-07-11 10:33] kdavis-mozilla commented on #435
Licensing issues prevent this.

[2018-07-11 10:34] Sorkanius commented on #435
Oh I understand, thanks again for your time, Keep up the great work!

[2018-07-11 12:29] yash-sam commented on #704
Please @tilmankamp , @pecastro , do you guys have any news on this? Situation is exactly the same as described above, worker0 hangs at the end of the training, after "Sending stop token to ps". I had no success in finding a solution here or in mozilla discourse site. I'm using tensorflow 1.8.0, deepspeech 0.1.1, training goes fine in a single process. Worked hard to get this nice project running i

[2018-07-11 12:41] lissyx commented on #704
@yash-sam Care to test with TensorFlow 1.6.0, as we specify in the requirements file ? I don't know very well the cluster setup, but changing versions might not be a good idea, especially when debugging.

[2018-07-11 13:00] tilmankamp commented on #704
@yash-sam Could you check what happens if you comment [this line](https://github.com/mozilla/DeepSpeech/blob/ca3e5cd91335d0232a1664ac391ae18de8adbb15/DeepSpeech.py#L1536)?

[2018-07-11 22:39] madhavajay commented on #1454
Wow that was quick @reuben thanks! :)

[2018-07-12 12:52] yash-sam commented on #704
Thank you @lissyx and @tilmankamp for such fast reply.
I've managed to do what follows.
1. With TF 1.6.0:
-- uncommented send_token_to_ps(session)
[code]

-- commented send_token_to_ps(session)
[code]

2. With TF 1.8.0:
-- uncommented send_token_to_ps(session)
[code]

-- commented send_token_to_ps(session)
[code]

pip freeze (at start):
[code]

after pip uninstall tensorflow/tensorboard, pip insta

[2018-07-13 10:19] kdavis-mozilla opened #1456 "Create Mycroft Importer"
Create importer for the data sets we are starting to obtain from Mycroft

[2018-07-13 14:04] reuben commented on #1156
I've implemented length normalization (word_count_weight was only a gross approximation) as well as switch to a fixed OOV score (which was in a TODO list for a long time) as part of the streaming changes, which will be merged soon for our next release. When we have binaries available for testing I'll comment here so anyone interested can test if it improves the decoder behavior on the cases descri

[2018-07-13 21:42] sbrl commented on #1300
OpenCL support would be brilliant for those of us with AMD cards though, as CUDA is an nvidia-specific technology.

[2018-07-15 10:37] susanootux commented on #950
I am finding the same issue, can you please re-open?

[2018-07-15 11:44] lissyx commented on #950
@susanootux please read the thread, and document what you do exactly

[2018-07-17 13:06] kobenaxie opened #1457 "CUDA_VISIBLE_DEVICES=2,3 USE ONLY CPU."
tf1.3
python 2.7.13
CUDA 7.5
----------------
I modify `get_available_gpus()` like this

[code]
if I train with  `python train.py` ， it will use GPU 3, but will occupy other gpus;

![gpu](https://user-images.githubusercontent.com/22359441/42818746-49e16ec0-8a04-11e8-92fa-f39fbccb05a2.PNG)

**### while I run by `CUDA_VISIBLE_DEVICES=3 python train.py` it will only use CPU, but occupy gpu3**

![use_

[2018-07-17 13:13] lissyx commented on #1457
Instead of `CUDA_VISIBLE_DEVICES=3`, can you try with the ID as documented on https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#env-vars ?

[2018-07-17 13:24] lissyx commented on #1457
@kobenaxie Why changing the `get_available_cpus` method ? What is `train.py` ? Can you share the whole text output of the training, including the CUDA drivers lines ?

[2018-07-17 13:35] lissyx commented on #1300
@sbrl We know. But it also depends on TensorFlow's support. And so far, it's still not that much upstream.

[2018-07-17 13:45] #1262 closed

[2018-07-17 14:05] kobenaxie commented on #1457
@lissyx  Thank you for your replyin. As default `get_available_gpus` method will use all GPUS of my single machine, so I change it to use specified GPUS not all. and `train.py` is `DeepSpeech.py`, I just rename it.
`CUDA_VISIBLE_DEVICES=3 python -c 'from tensorflow.python.client import device_lib; print(device_lib.list_local_devices())'` output below:
`2018-07-17 22:00:48.753645: W tensorflow/core

[2018-07-17 14:06] lissyx commented on #1457
@kobenaxie The `get_available_gpus` should respect what `CUDA` exposes, no need to change it.

[2018-07-17 14:11] kobenaxie commented on #1457
so no need change it, and run with `CUDA_VISIBLE_DEVICES=3 python train.py` will use only GPU 3 ? I will have a try, thank u ~

[2018-07-17 14:11] lissyx commented on #1457
@kobenaxie I've reformatted your unreadable output. As you can see, it seems the GPUs outputted are not the same, depending on `CUDA_VISIBLE_DEVICES`, but there's only one device.

[2018-07-17 14:13] lissyx commented on #1457
@kobenaxie You still have not provided the whole training output to see which PCI IDs of the devices are referred and check which devices gets pulled in. But since we just filter on the low-level, and given your output, I see nothing wrong in our code.

[2018-07-17 14:24] kobenaxie commented on #1457
@lissyx problem has been solved as you refered, Do Not change `get_available_gpus` method and run by `CUDA_VISIBLE_DEVICES=3 python train.py` will use specified GPUS, my fault... Thank you so much~

[2018-07-17 14:24] #1457 closed

[2018-07-17 14:58] llp123 commented on #776
@jackHuanghello 方便交流一下在中文识别上的应用吗？qq:2385114637,谢谢

[2018-07-18 05:58] saobao913 opened #1458 "additional data sources?"
https://www.ldc.upenn.edu/language-resources/data/obtaining
http://www.openslr.org/12/

[2018-07-18 09:31] kdavis-mozilla commented on #1458
Thanks! We are already training on the Fisher Corpus, Switchboard Corpus, and LibriSpeech. However, if you know of other large, open data sets, please let us know about them!

[2018-07-18 09:31] #1458 closed

[2018-07-18 11:08] sbrl commented on #1300
Ah, I see. I'll track down the issue upstream and subscribe to that then :-)

[2018-07-18 11:30] lissyx commented on #1300
@sbrl It's possible, we have been focusing on other things lately, especially I worked with ComputeCpp, upstream for TensorFlow with OpenCL and the VC4 driver. Back then, there was an old ComputeCpp-based OpenCL support in TensorFlow, maybe they updated that with what I re-tested recently? It's true the branch I was working on with them for RPi3 GPU and Intel GPU were 1.8~ish.

I already commented

[2018-07-18 19:58] sbrl commented on #1300
Oooh, awesome! Thanks for the info :smiley_cat:

[2018-07-19 09:56] tarekeldeeb opened #1460 "Early_Stop not stoppable"
I'm using Deepspeech to train a new arabic net. I'm still in the early phases where I'm still exploring many hyper parameters. I wish to disable the early_stop feature.

In my run script, I have the following option:

      --early_stop False \

I also tried `0` instead of `False`, but unfortunately, early_stops are still triggered.

[2018-07-19 10:02] kdavis-mozilla commented on #1460
Arabic, nice!

Setting early stopping using ``False`` looks right.

What behaviour are you seeing exactly? What is the output of the training run?

[2018-07-19 10:23] reuben commented on #1460
Try `--noearly_stop`.

[2018-07-19 14:46] tarekeldeeb commented on #1460
Thanks @reuben , that fixed the issue.

[2018-07-19 14:46] #1460 closed

[2018-07-19 16:29] beeteax opened #1464 "Can we use this library for speaker recognition ?? Is there an API for it ??"

[2018-07-19 17:00] #1464 closed

[2018-07-19 20:38] HackInvent commented on #1300
I don't understand why Tensorflow is so linked to Nvidia.
Generally people who want to hack in GPUs prefer rather AMD

[2018-07-20 17:54] shyamalschandra opened #1466 "I cannot find out why libsox2 is not in my Ubuntu 18.04 distribution"
What should I do?  Do you have any step-by-step instructions to install it on 18.04?

[2018-07-20 18:38] lissyx commented on #1466
libsox3 should work fine; and you can add a local symlink to your system's lib.

[2018-07-20 18:38] #1466 closed

[2018-07-20 21:07] HackInvent commented on #1161
@lissyx if we need to build KenLM from kpu's repo, what is the rational for putting KenLM in Deepspeech repo?

[2018-07-21 02:48] est31 commented on #1239
Newest PR: #1463

[2018-07-21 04:38] kavuri commented on #1106
I am facing the same problem (the error and stack trace) when I am trying to train with a different language.
I checked the training file and there is text associated with the wav file entry, but it is short (2 characters of a sound). But there are other entries for which the same error is thrown that have more chars (<7). Could this be a problem?

[code]

[2018-07-21 07:15] lissyx commented on #1161
We imported part of what we need from KenLM for building the language model's usage in libdeepspeech

[2018-07-22 09:37] elpimous opened #1467 "tensorflow.python.framework.errors_impl.NotFoundError: /home/nvidia/tensorflow/bazel-bin/native_client/libctc_decoder_with_kenlm.so: undefined symbol: _ZN10tensorflow7strings6StrCatERKNS0_8AlphaNumES3_S3_S3_"
**TensorFlow**: v1.6.0-18-g5021473
**DeepSpeech**: v0.2.0-alpha.7-10-gea21010
**cuda**: 9.0 cudnn: 7.0
**bazel**: 0.10.0

**Sys** : ubuntu 16.04
**board**: Jetson TX2

---------------------------------------------------------------------------
Hi all,

I had this error, when trying deepspeech after builds !

**POSSIBLE SOLUTION**

For those who built Tensorflow from source, with a bazel version >=

[2018-07-23 07:38] kalfasyan opened #1468 "Starting batch slow.. GPU Utilization from 0 to 100% in each batch"
Hi, I am running a training session for the Common Voice data which I downloaded/extracted using the import_cv.py script. Everything seems to work fine, but I just want to ask if it's normal for the GPU utilization to be unstable and not (relatively) constant.

For example, that's what I see

The CPU utilization on the other hand seems to be almost always at 100% (it grows to more from time to tim

[2018-07-23 07:50] lissyx commented on #1446
We are reverting to the old language model for now in #1465

[2018-07-23 07:50] #1446 closed

[2018-07-23 07:51] lissyx commented on #1467
@elpimous I know you are building your own TensorFlow, is it possible your Python wheel was built *without* `-D_GLIBCXX_USE_CXX11_ABI=0` ? If so, then it's consistent and therefore not an issue.

[2018-07-23 07:52] lissyx commented on #1468
Can you share the training parameters you are using ?

[2018-07-23 08:02] kalfasyan commented on #1468
train/test/dev batch size = 16
validation_step = 1
display_step = 1

[2018-07-23 08:33] lissyx commented on #1468
Yeah, it might be WER computation that is CPU-bound that kicks-in often with validation. GPU usage might relate to your batch size you should try and increase it. Also, one single GTX1070 8GB is not very very fast for training on that amount of data :)

[2018-07-23 08:50] kalfasyan commented on #1468
Yes, you are right that one 1070 will take a lot of time (1 epoch completed in about three days), but I have some mobo/hardware issues and I'm still experimenting (aiming for 6x1070; hopefully they'll do the job much quicker).

I now increased the batch size to 32 and made a second GPU available for training, but the GPU utilization of both GPUs goes to 0 and then to 100 for a few seconds and back

[2018-07-23 09:05] lissyx commented on #1468
well, generally speaking that behavior is a hint that your system is spending more time loading than processing. we have have data ordering per length, as much as I remember, so short clips first ; it might just be that, since those will be faster to process on the GPU. Try to reduce both validation and display step, also

[2018-07-23 09:11] kalfasyan commented on #1468
After making display and validation to 20, I have constantly high GPU utilization in both GPUs and much faster processing of the batches. Thank you very much!

[2018-07-23 09:13] #1468 closed

[2018-07-23 09:20] lissyx commented on #1467
Yeah, looking at our IRC history, that's likely why.

[2018-07-23 09:20] #1467 closed

[2018-07-23 10:36] lissyx commented on #1236
Reopening since we reverted the fixes.

[2018-07-23 15:28] rpszabad opened #1469 "Inference on RPi3 fails when using Trie AND lm"
I got DeepSpeech running on the RPi3 using the native client, got version v.0.2.0-alpha.7-13-gda760bd. Running `./deepspeech --model /model.pbmm --alphabet alphabet.txt --audio audio.wav` works fine using the pre-trained model, albeit expectably slow. What baffles me now is the following fact:

`./deepspeech --model /model.pbmm --alphabet alphabet.txt --lm lm.binary --audio audio.wav` and
`./deeps

[2018-07-23 15:32] lissyx commented on #1469
It should work. We switched back to the 1.5gb language model temporarily, that's likely why the memory fails to allocate. Try without language model to check.

[2018-07-23 16:00] rpszabad commented on #1469
You mean without the `--lm` option? Works fine.

[2018-07-23 16:38] lissyx commented on #1469
@rpszabad Yes, without `--lm` and `--trie`. You cannot for now, we need to do some work. Performances are anyway too bad for the moment to make any useful usage, as you experienced.

Re-reading your issue, the size 1599616228 really looks like the original, big model. Which is not compatible with the 0.2.0-alpha-7 binaries.

[2018-07-23 16:38] #1469 closed

[2018-07-23 19:18] gheorghelisca commented on #761
Hi,

I have the following configuration:
- NVidia TX2, JetPack 3.2
- tensorflow from mozila (__master__ branch)
- deepspeech (__master__ branch)

I am trying to build the native_client for python and when I run the first command:
[code]
from the [readme](https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md) then I am getting this error:
[code]
I find wired that gcc is complain

[2018-07-23 20:20] lissyx commented on #761
@gheorghelisca This is not the right place for asking for help. The error message actually confirms you are building on ARMv8 with Aarch64 compiler, hence the inexistent float abi command line argument. I cannot help more, we don't support in-situ ARM building, please cross-compile.

[2018-07-23 20:57] lissyx commented on #761
@gheorghelisca You should discuss that on the Discourse forum and specifically with @elpimous, he actually run this setup and I know he recently updated his work on current master without any issue.

[2018-07-23 21:00] lissyx commented on #1446
So, revert is applied and new Python wheel and NPM packages have been uploaded. New language model should come back, in the future :-).

[2018-07-24 08:08] kalfasyan opened #1472 "Getting "feed_dict" used before assignment when initializing from frozen model"
Hi, I am trying to run DeepSpeech with my own data by continuing from frozen graph like instructed [here](https://github.com/mozilla/DeepSpeech#continuing-training-from-a-frozen-graph).
However, I am getting this error:
`UnboundLocalError: local variable 'feed_dict' referenced before assignment`

The problem seems to be coming from line 1604, where in `session.run(init_from_frozen_model_op, feed_d

[2018-07-24 08:20] gheorghelisca commented on #761
@lissyx Thanks a bunch! ... I will get in touch with @elpimous .

[2018-07-24 08:47] lissyx commented on #1472
And as much as I remember, you wre right on the fix. I'll look into that and ensure we have test coverage as well

[2018-07-24 08:48] kalfasyan commented on #1472
Ok thanks. Feel free to close the issue when fixed and give me an update in the end if you wish.

[2018-07-24 11:50] gilamsalem opened #1474 "docker build failed with error: error loading package 'native_client'"
I am trying to build a docker image on my mac osx machine.
I am getting the following errors:

[code]

I also see those two warnings before:
tensorflow 1.6.0 has requirement numpy>=1.13.3, but you'll have numpy 1.11.0 which is incompatible.
tensorboard 1.6.0 has requirement numpy>=1.12.0, but you'll have numpy 1.11.0 which is incompatible.

What should I do?
Thanks!

[2018-07-24 12:09] lissyx commented on #1474
@GeorgeFedoseev did worked on this Dockerfile. I'm really not sure what you can expect of running that ubuntu+cuda based docker on osx, especially because Docker with CUDA requires specific handling on the host side.

[2018-07-24 12:16] lissyx commented on #1474
@gilamsalem Maybe you should change the Dockerfile to not depend on CUDA and only build libctc decoder ? What is your usecase ?

[2018-07-24 12:34] kavuri commented on #1106
My problem got resolved. It was because the header in my train.csv file had a wrong "transcript" text (it was "transcri"). I fixed the problem and was able to successfully generate the model

[2018-07-24 12:36] lissyx commented on #1106
@kavuri Thanks for updating us ! I guess it's one more example we need that tooling to help validate the corpus.

[2018-07-24 12:36] #1106 closed

[2018-07-24 12:43] #1472 closed

[2018-07-24 20:43] bernardohenz opened #1475 "Save only the best checkpoint"
Instead of using EarlyStop to avoid overfitting, I would like to save the model at the time it had the best (lowest) validation loss. In other words, I would like to keep track only for the best checkpoint (based on val/dev set).

I tried to use a wrapper for tf.train.Saver (this one: https://github.com/vonclites/checkmate), but couldn't make it works with DeepSpeech. Is there a easy way to do tha

[2018-07-24 21:29] reuben commented on #1475
I looked into this briefly but couldn't find a clean way to implement it with MonitoredTrainingSession (which is IMO a terrible API). I ended up just writing a hack that works, but isn't really code we can land. I'm attaching the patch.

[save_best_val.patch.txt](https://github.com/mozilla/DeepSpeech/files/2225514/save_best_val.patch.txt)

[2018-07-25 08:57] kmonachopoulos commented on #1343
Hello,
I have created a revised version on Deepspeech.py that as an extra supports :

- Optional GPU memory allocation upfront or ondemand
- Choice of unidirectional / bidirectional architecture.
- Evaluation support using a checkpoint file and a csv annotation list.

How can I do a merge request (master / branch) ? Where should I attach the code ?

Thanks :)

[2018-07-25 09:10] kdavis-mozilla commented on #1343
@kmonachopoulos Wow! Awesome! We'd love to incorporate some of your code!

One issue, unfortunately, is that we have a PR that's about to be merged[[1](https://github.com/mozilla/DeepSpeech/pull/1463)] which covers some of the same ground, for example unidirectional RNN.

Maybe the best course of action would be to wait until the PR lands, hopefully in the next few days, then cherry pick some of y

[2018-07-25 09:29] lissyx commented on #1266
@elpimous ping?

[2018-07-25 11:18] lissyx commented on #1107
@thebrahminator Nobody worked on that yet. It's basically making sure prior to training that everything is fine. Mostly, it should be about exercizing the feeding / importers but not running training.

[2018-07-25 11:18] lissyx commented on #1346
No further progress on that: lack of time.

[2018-07-25 11:19] #1474 closed

[2018-07-25 11:21] lissyx commented on #1199
Still open to any pointer on what is unclear in our docs, but that discussion for now does not provide anything actionable. Closing, but feel free to file new, precise issues.

[2018-07-25 11:21] #1199 closed

[2018-07-25 11:25] #1129 closed, assigned to nobody

[2018-07-25 11:29] lissyx commented on #795
@elpimous Is that still an issue ? It looks close to https://discourse.mozilla.org/t/how-to-strict-the-output-to-the-language-model-only/30342/2

[2018-07-25 11:32] lissyx commented on #1
I think that was completed :-)

[2018-07-25 11:32] #1 closed

[2018-07-25 11:33] lissyx commented on #614
This was done :-)

[2018-07-25 11:33] #614 closed

[2018-07-25 11:36] lissyx commented on #642
@MatthewWaller Any news on that ? The upcoming #1463 might benefit from such support

[2018-07-25 11:37] lissyx commented on #632
Nothing actionable for us here. Feel free to open a thread on Discourse if you have more informations to share.

[2018-07-25 11:37] #632 closed

[2018-07-25 11:38] lissyx commented on #675
@gardenia22 We landed support for conversion, though it might not be perfect. I'm closing that, if there are improvements to be done on the conversion, feel free to start a thread on Discourse: https://discourse.mozilla.org/c/deep-speech

[2018-07-25 11:38] #675 closed

[2018-07-25 11:39] lissyx commented on #640
Closing because that was done.

[2018-07-25 11:39] #640 closed

[2018-07-25 11:40] lissyx commented on #739
Looks like that was an answered question.

[2018-07-25 11:40] #739 closed

[2018-07-25 11:41] lissyx commented on #740
Nothing actionable here, and @elpimous' tutorial on https://discourse.mozilla.org/c/deep-speech already covers this pretty well.

[2018-07-25 11:41] #740 closed

[2018-07-25 11:42] lissyx commented on #741
We landed that a long time ago now.

[2018-07-25 11:42] #741 closed

[2018-07-25 11:47] lissyx commented on #1424
Invalid now anyway, since we reverted to the old language model.

[2018-07-25 11:47] #1424 closed

[2018-07-25 11:47] #1409 closed

[2018-07-25 14:15] bernardohenz commented on #1475
Thanks @reuben , I had to change the name of the MonitoredTrainingSession to `train_session` for this to work. Now it is working perfectly fine.

[2018-07-26 04:16] MatthewWaller commented on #642
@lissyx unfortunately I haven't been able to convert to CoreML. The https://github.com/tf-coreml/tf-coreml, which Apple also recommends officially, cannot handle cycles. I tried and got the error, and as a limitation is states: "TF graph must be cycle free (cycles are generally created due to control flow ops like if, while, map, etc.)"

Not sure how to get around this at present. You can see my i

[2018-07-26 07:13] kdavis-mozilla commented on #642
@MatthewWaller Did you try CoreML on the [PR](https://github.com/mozilla/DeepSpeech/pull/1463) or on master?

I think some, maybe all, cycles should be removed in the PR.

[2018-07-26 16:44] diego-fustes commented on #1156
Hi @reuben, I am also seeing this problem in the master branch. Could you provide a patch with your implementation to deal with it?

[2018-07-27 02:42] MatthewWaller commented on #642
I tried an earlier version on master. Is there a pre-trained model I could use? I see an alpha in the release from 3 days ago. Would that work?

[2018-07-27 05:30] kdavis-mozilla commented on #642
@reuben Can you give @MatthewWaller a preliminary model for the PR to test CoreML?

[2018-07-27 06:17] lissyx commented on #642
@MatthewWaller The alpha release is only for the inference binaries, so far, it does not bundle any model change.

[2018-07-27 17:36] michaelklachko opened #1477 "import_ted.py causing memory issue"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: Upstream
- **TensorFlow version (use command below)**: v1.6.0-0-gd2e24b6039
- **Python version**: 3.6.6
- **Bazel version (if compiling f

[2018-07-27 17:42] lissyx commented on #1477
@michaelklachko Your `/tmp` is full.

[2018-07-27 17:43] kdavis-mozilla commented on #1477
Looks like its running out of disk space.

My guess is that it's writing files in `/tmp` that are then being removed when the process stops. So you don't see them in the `df -h` above.

What might be useful is to monitor disk space as the import is occurring. In other words start the import as you did, then in a second terminal run
[code]
and monitor how the disk usage evolves.

[2018-07-27 17:46] lissyx commented on #1477
@michaelklachko Maybe you could override with `TMP` env var to somewhere with more free space than your `/tmp` ?

[2018-07-27 17:51] michaelklachko commented on #1477
Here's what /tmp looked like when the process crashed:

[code]

Can we perhaps try to fix the script, rather than my machine? Why is it writing to /tmp? Ideally it should not consume much memory, just download/extract/write to the directory I specified as argument...

[2018-07-27 17:52] lissyx commented on #1477
@michaelklachko The script uses TensorFlow's tooling for downloading, so if there's a bug, it's on their side.

[2018-07-27 17:53] lissyx commented on #1477
https://github.com/tensorflow/tensorflow/blob/r1.6/tensorflow/contrib/learn/python/learn/datasets/base.py#L186

[2018-07-27 17:54] michaelklachko commented on #1477
@lissyx I used 3 other import scripts (CV, LS, and VoxForge) without any issues. Something must be different about this one...

[2018-07-27 17:57] lissyx commented on #1477
@michaelklachko Well, they all use `base.maybe_download` from TensorFlow, so I don't know what might be different. Obviously, you have a stale file `tmppthivwfd`, but I'd suspect this comes from your first failure. Could it be that you got unlucky and something else consumed enough space in `/tmp` during your download, to make it fail?

[2018-07-27 18:00] lissyx commented on #1477
BTW, looking at the stale file name and the stack, it's clear that the failure occuped while downloading.

[2018-07-27 18:02] michaelklachko commented on #1477
Ok, I cleared /tmp, let me try again.

[2018-07-27 18:04] lissyx commented on #1477
@michaelklachko I don't remember the size of that dataset, but if it's above 32GB, you might still want to `TMP=...` when running the import script to use some place with more space.

[2018-07-29 14:44] tarekeldeeb opened #1478 "requirements.txt is missing git module"
- OS Platform: Linux Ubuntu 16.04

During training I started

which invoked util/automation.py with a missing dependency "git"

Please update the requirements.txt with the missing git module.

[2018-07-29 15:05] lissyx commented on #1478
This code is something I was thinking of deleting. Any opinion @reuben. ?

[2018-07-29 18:39] kdavis-mozilla commented on #1244
@kmonachopoulos I've tried building with that and the quality of recognition goes down.

[2018-07-29 23:19] reuben commented on #1478
I'm all for removing code :) If there's any compelling use case for some of its functionality we can trim it down.

[2018-07-30 08:19] lissyx commented on #1478
@tarekeldeeb This was old code mostly tailored for our own use, I'm curious how it can help you

[2018-07-30 11:18] lissyx commented on #1478
@tarekeldeeb Can you test on your side the PR #1479 ? I should keep the GPU usage feature but not depend anymore on specfic python modules.

[2018-07-31 23:38] wshamp commented on #642
@MatthewWaller Were you ever able to find the output_feature_names?

[2018-08-01 00:30] MatthewWaller commented on #642
@wshamp I was. I found them to be 'logits:0'. As an update overall, I got the model, but I'm stumped at FailedPreconditionError. Here is the [issue](https://github.com/tf-coreml/tf-coreml/issues/225) I filed with tf-coreml. I haven't heard back yet, but anyone else can troubleshoot as well :)

[2018-08-01 06:57] AlexPeng19 commented on #1371
so it is normal for no message printed? could i know how did you resolve it, change the batch size or what else. i have encounterd the same problem. but i have not gpu, no sure it matters or not. only noticed the cpu load is high too. Looking forward your response. @jageshmaharjan @kdavis-mozilla

[2018-08-01 07:04] kdavis-mozilla commented on #1371
@AlexPeng19 Training is very slow without a GPU, and it may look as if no progress is being made.

[2018-08-01 07:12] wshamp commented on #642
Hmm my quick google that error seems to indicate an issue with the graph initializing variables not the converter.  I hit the same error.

[2018-08-01 07:14] kdavis-mozilla commented on #642
@MatthewWaller The branch stores the decoder state in the graph in the variables `previous_state_c` and `previous_state_h`. It's a convenient place to store this state info.

As far as I understand, @reuben correct me if I'm mistaken, in exporting[[1](https://github.com/mozilla/DeepSpeech/blob/7b873365f8bfffe2ea84dcd34058b537e9095765/DeepSpeech.py#L1759)] the graph the `previous_state_c` and `prev

[2018-08-01 07:32] AlexPeng19 commented on #1371
that's my command:
python3 ./DeepSpeech.py --train_files ../Downloads/cv-valid-train.csv --dev_files ../Downloads/cv-valid-dev.csv --test_files ../Downloads/cv-valid-test.csv --decoder_library_path ./libctc_decoder_with_kenlm.so --validation_step=1 >run.log
currently there is no message printed, i have been run it for two days. should i make extra configuration for the log print.
@kdavis-mozilla

[2018-08-01 07:51] kdavis-mozilla commented on #1371
@AlexPeng19 Dumb question, but I have to ask: When you say "there is no message printed" do you mean there is no message printed to the console or do you mean that the file `run.log` is empty?

[2018-08-01 07:53] AlexPeng19 commented on #1371
neither of them have message.

[2018-08-01 09:29] AlexPeng19 commented on #1371
i got the message: I STARTING Optimization, i think the cause is too slow. thanks for patient answers.
on the other hand, while i run the kaldi, the log is more friendly.

[2018-08-01 17:41] reuben commented on #642
That blacklist doesn't remove `previous_state_{c,h}`, but rather makes the freezing process ignore them, since I want them to be variables (not constants) in the final exported graph.

The idea is that before you start feeding audio features and fetching the `logits` tensor, you have to run the `initialize_state` op (see the `create_inference_graph` function in `DeepSpeech.py`[1]).

In our C++ cod

[2018-08-01 18:00] reuben commented on #642
Some other notes: the graph in that URL uses LSTMBlockFusedCell, which is probably not supported by tf-coreml, but the weights are compatible with a normal LSTMCell, so with a bit of massaging on the saver when importing, you can use a static_rnn + LSTMCell.

If you can't workaround the `previous_state_{c,h}` thing, an alternative is fetching the state and feeding it back every time, eliminating t

[2018-08-01 18:42] #1478 closed

[2018-08-02 02:36] AlexPeng19 commented on #1371
@kdavis-mozilla

[2018-08-02 08:02] kdavis-mozilla commented on #1371
@AlexPeng19 Can we move this to [discourse](https://discourse.mozilla.org/c/deep-speech) as there seems to be no bug or feature request just questions on how the system trains only using a CPU.

[2018-08-06 07:15] jageshmaharjan commented on #1259
That's for Native American English speaker, right?
Any benchmark bandpass for Mandrian (Chinese Language).

[2018-08-06 08:12] hongguangguo opened #1481 "build the binaries and bindings from source code myself. I got `undefined symbol` error after make bindings."
`from deepspeech.model import Model`
when run the code, I got this.

[2018-08-06 09:16] lissyx commented on #1481
Can you give more details? Versions used, etc. Also, why rebuilding since we have py35 wheels?

[2018-08-06 09:30] kdavis-mozilla commented on #1259
It's for any model we have, but initially, yes, American English. But we have not done this yet.

It would be, due to tonality, an interesting benchmark for Mandrian.

[2018-08-07 02:32] hongguangguo commented on #1481
Thank your reply. My carelessness. there is no so file in the directory for g++ -L .

[2018-08-07 02:32] #1481 closed

[2018-08-07 15:10] luckmoon commented on #1354
+1

[2018-08-09 03:26] 9define opened #1483 "Keep release/"older" versions of prebuilt binaries"
Seeing as v0.1.1 is the current release, and it's models and audio (+ more) are readily available on github (the release page), the taskcluster entry for that commit should stick around so people can easily download the prebuilt binaries (native_client.tar.gz, etc) for that version.

It seems like taskcluster has removed them, and this is very annoying for people trying to get started with the mod

[2018-08-09 07:29] lissyx commented on #1483
You're right. TaskCluster should not be used for long-term keep, though, but we have not figured a good solution yet.

I guess a better solution would be to rely on github release for that, but that requires some work.

Python and Node packages of v0.1.1 are still hosted and available through pypi and npm. It is also safe to use current alpha binaries with 0.1.1 model files.

Any idea @reuben or @

[2018-08-09 07:36] lissyx commented on #1483
Also, what was the specific pain point leading you to require some older build hard to find?

[2018-08-09 15:30] 9define commented on #1483
As far as I can tell, up until (somewhat recently) when the change went into ["revert "Added quntized array language model and trie" "](https://github.com/mozilla/DeepSpeech/commit/3f2a5209419d3f6f3d2373d8416a8cd9e42b8b52), the only version of the prebuilt binaries that would work with the latest models (from v0.1.1) were from v0.1.1. Therefore, because I want to use the models, I had to use v0.1.

[2018-08-09 18:34] lissyx commented on #1483
Quick answer because it's late and I'm officially on holiday. The issue you mention is just about the language model, we knew and documented how to do in the meantime.

Regarding TaskCluster, we do control the expiration of artifacts, its 7 days for a pending PR and 6 months for a merge. We thought this would be good enough for now, looks like we need to think it a bit more now, thanks for raising

[2018-08-09 18:48] lissyx commented on #1483
Also you're right about the end user should not have to search that much, this is just an unfortunate collision, so feedback is welcome because we get our heads too much inside the way the project works and we might miss unclear user path, especially when we have incompatible alpha builds with the released model.

I'll check if we can easily retrigger a rebuild of 0.1.1 binaries.

[2018-08-09 20:43] samgd opened #1485 "Language model built using test and dev data"
The current 5-gram language model `lm.binary` contains the test and development datasets - this statement is based on the following example code that shows it contains _all_ five grams from `test-clean`, `test-other`, `dev-clean`, and `dev-other`.

Requirements to run the minimal example: a `.txt` file for each of the four dataset that contains one target transcription per line.

[code]

This prod

[2018-08-09 21:52] 9define commented on #1483
@lissyx Thanks for the clarification. I ended up finding a prebuilt tarball for something close to v0.1.1's release, but I'll give the newer stuff a shot - should work fine given the compatibility with 0.1.1's models.

For keeping older versions, I was thinking something along the lines of a simple archive of current/past built binaries for all platforms, as well as link(s) to/copy of their corres

[2018-08-10 01:35] 9define opened #1486 "Op type not registered 'Assert' in binary"
The following error occurs only on DS v0.2.0-alpha.9-0 (using the prebuilt binaries from taskcluster for GPU on linux), DS v0.2.0-alpha.8-0 works fine. This could be due to a few reasons:
* Am I using the wrong version of CUDA?
* Do I need to build/install **mozilla's** tensorflow from source? (if so, are there any non-python prebuilt versions available?)
* I'm using the v0.1.1 models (from the gi

[2018-08-10 02:41] #1239 closed

[2018-08-10 02:44] reuben commented on #1064
Streaming helps quite a bit here, but ideally there should be some client support to improve the experience, detecting silence and finishing/restarting the streaming stream.

[2018-08-10 02:46] reuben commented on #408
I believe this was superceded by the KenLM beam scoring code.

[2018-08-10 02:46] #408 closed

[2018-08-10 02:47] reuben commented on #409
This was fixed by the KenLM beam scoring code.

[2018-08-10 02:47] #409 closed

[2018-08-10 02:47] reuben commented on #410
This was fixed by the KenLM beam scoring code.

[2018-08-10 02:47] #410 closed

[2018-08-10 02:48] reuben commented on #629
Fixed by our official model releases.

[2018-08-10 02:48] #629 closed

[2018-08-10 07:00] lissyx commented on #1486
@9define This is because alpha 9 switched to the new, incompatible streaming model. Use Alpha 8. cc  @reuben

[2018-08-10 07:00] #1486 closed

[2018-08-10 07:02] lissyx commented on #1483
Yes, the problem is not if we should do it, it's to find time to do it in a future proof way and how we should do it.

[2018-08-10 10:18] sshabana opened #1489 "Error in building the deepspeech library from native client"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:https://github.com/mozilla/tensorflow/
- **TensorFlow version (use command below)**: 1.9
- **Python version**: 2.7.12
- **Bazel version (if compili

[2018-08-10 12:10] lissyx commented on #1489
First, what is wrong for you not using prebuilt binaries ? Second, you document our TensorFlow fork **and** TensorFlow 1.9, which makes no sense since we are still relying on `r1.6`. Third, Bazel 0.15 is likely not the proper version, since upstream TensorFlow `r1.6` documents 0.10.

[2018-08-10 12:14] lissyx commented on #1489
@sshabana It's very likely to be just because of Bazel 0.15, use 0.10.

[2018-08-10 13:07] reuben commented on #1483
Yep, I think that is an ideal solution.

[2018-08-10 14:13] kdavis-mozilla opened #1490 "Command line client does not fail gracefully with no arguments (0.2.0-alpha.9)"
For deepspeech 0.2.0-alpha.9 python client does not handle no arguments being passed gracefully
[code]

[2018-08-10 14:21] kdavis-mozilla opened #1491 "Command line client does indicate which arguments are required (0.2.0-alpha.9)"
Currently is seems...
[code]
that all arguments are optional. However, this is not the case.

[2018-08-10 14:52] est31 opened #1492 "C API: Non-expensive function to deallocate a stream"
The only method the C API right now exposes to deallocate a stream is `DS_FinishStream`. It however also performs decoding. It would be nice to have a function that does not perform decoding, yet still deallocates the stream and everything it contains.

[2018-08-10 14:55] est31 opened #1493 "StreamingState allocated with new, deallocated with free"
From looking at `deepspeech.cc`, it seems that `StreamingState` gets allocated with `new` and deallocated with `free`. This is unsound on two levels: first, free doesn't run the destructors of `StreamingState`, second if you allocated something with `new` you may not deallocate it with `free`: there can be two different allocators underneath.

Related to #1492

[2018-08-10 15:02] kdavis-mozilla commented on #1493
Nice catch!

[2018-08-10 15:40] 9define commented on #1483
That would be great! Hopefully all artifacts could be uploaded for all platforms. I'm not sure if it would be possible, but doing so for existing releases (ie retroactively, redoing older builds) would be optimal, especially as newer releases of the native client break compatibility with the most recent models (ie v0.1.1's, at the moment). Thanks @lissyx & @reuben for your responsiveness.

[2018-08-10 19:40] robmsmt commented on #1491
Also version requires an additional parameter?

[code]

[2018-08-10 20:27] robmsmt commented on #1491
For the python interface, sometimes setting these values to paths that do not exist. For example if you set the alphabet to a path that does not exist. It won't error the program will just not output any text during transcription.

[2018-08-11 03:23] #1491 closed, assigned to reuben

[2018-08-11 05:43] #1485 closed

[2018-08-11 07:43] samgd commented on #1485
@kdavis-mozilla Do you think it's worth noting this on the 1.X release notes next to the WER claim?

[2018-08-12 08:42] gangyahaidao opened #1496 "A feature request：How can I judge user intentions ？"
Hello，
I have a need for speech recognition now, and I have read many documents of this project, but I am still not sure whether this project can meet my need：

Now I have hundreds of thousands of wav audio files, which are only one to five seconds and divided into two categories, one is positive answer, the other is negative answer, but I do not have the text information corresponding to each wav

[2018-08-12 20:06] kdavis-mozilla commented on #1485
@samgd What's you opinion on how we should modify the WER text?

Should we just note that the WER is inaccurate? Maybe try to re-optimize with a new language model and update the WER text? Or maybe something else?

As an outside party I'd be interested in your take on this.

[2018-08-13 06:06] kdavis-mozilla commented on #1496
This project can not directly solve your problem. However, an architectural variation of Deep Speech could likely solve your problem, e.g. adding a softmax that takes the final state of the RNN as input.

One idea might be to fork Deep Speech, add such an architectural variation, use Deep Speech model as initialization, and fine tune with your data.

However, as this is not central to Deep Speech.

[2018-08-13 06:06] #1496 closed

[2018-08-13 13:32] gangyahaidao commented on #1496
Thank you, change the existing framework in the short term I should is impossible, so I'm going to try this project supported by the way, first annotation about ten thousand audio data for training, each of the audio is about 1 to 3 seconds, don't know if this can get a good result

I'm going to is a reference to this article on the small language model training.
[https://discourse.mozilla.org/t/t

[2018-08-13 16:29] McHughes288 commented on #1346
Apologies @lissyx for jumping in on this thread. I am trying to get the Raspberry Pi's GPU visible when running the computecpp_info script but having trouble. Which OS are you running on the Pi3 (Raspbian Stretch is still only 32-bit so I'm guessing won't work properly with ComputeCpp)?

[2018-08-13 17:40] lissyx commented on #1346
@McHughes288 I was running Stretch, there was ARM32 ComputeCpp available. FYI it's still stalling, because all the basics are covered and this was now only being blocked by the VC4CL driver not able to digest our kernels. I'm off until september 5th, by then I'll be able to play again with the new, simpler model. Hopefully we'll see some breakthrough.

[2018-08-13 20:57] ZipingL commented on #1156
Hi @reuben  when will you have the binaries available?

[2018-08-14 08:48] lissyx commented on #1483
In the meantime, I've started rebuilding some 0.1.1: first the tensorflow bits https://tools.taskcluster.net/groups/eV3PeSO9SUGFA3tOIqNRew and now I'm working on the deepspeech counterpart update to use those: https://github.com/mozilla/DeepSpeech/pull/1498

There are some weird errors, though.

[2018-08-14 09:33] kdavis-mozilla commented on #1485
@samgd I'm sorry it's impacted your research. I've updated the release notes, striking out the word error rates and indicating why they were striked out. Hopefully that will prevent future problems.

As to a collaboration, we'd love to collaborate on creating a new language model. See you on IRC!

[2018-08-14 14:11] ChamathK commented on #1486
Facing the same error following the readme. Can you help @lissyx to get me started.

[code]
created a .wav (16bit, 16kHz, 3 seconds)
ran the following command.

[code]

[2018-08-14 14:14] reuben commented on #1486
Are you absolutely sure you did `pip3 install deepspeech`? This error should only happen if you try to use binary version v0.2.0-alpha.9 with the v0.1.1 models.

[2018-08-14 17:31] ChamathK commented on #1486
Just checked my console logs, 100% sure. Any workaround I can follow to get this working?

[2018-08-14 19:53] lissyx commented on #1486
@ChamathK Your usage of command line is inconsistent with v0.1.1 python wheel, but consistent with the 0.2.0 alphas.

[2018-08-14 19:58] lissyx commented on #1486
@ChamathK Also, your output shows:
[code]

Which is consistent with binaries > 0.1.1 and inconsistent with our published wheels.

Also, your stack mentions `python3.7`.

This is all consistent with @reuben previous assessments.

This is what you should have had:
[code]

[2018-08-15 05:38] ChamathK commented on #1486
Thanks @reuben @lissyx got it sorted.

Did the following steps to get the result. Apologies for python version, it was 3.7.

installed virtualenv
`$ pip3 install virtualenv`
created virtual environment
`$ virtualenv -p python3 ~/tmp/ds-test/`
activated the virtual environment
`$ source ~/tmp/ds-test/bin/activate`
installed deepspeech 0.2.0a8 (as mentioned in above thread to support v.0.1.1 model)

[2018-08-15 08:58] sidedger opened #1500 "ValueError: Variable lstm_fused_cell_1/kernel does not exist, or was not created with tf.get_variable()"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
-centos 7:
- TensorFlow installed from pip:
- **TensorFlow version (1.1

[2018-08-15 09:26] lissyx commented on #1500
You document `TensorFlow version (1.10.0)`, while our code is meant to run on r1.6.

[2018-08-15 10:45] sidedger commented on #1500
@lissyx  Thank you for your reply. I will create a new env for tf 1.6.

[2018-08-15 13:04] reuben commented on #1500
@lissyx this is a problem even on r1.6, but we don't have multi-GPU training tests. I'll fix it.

[2018-08-15 13:16] lissyx commented on #1500
Oh, sorry for the confusion then :/

[2018-08-15 13:16] lissyx commented on #1500
@sidedger Looks like you documented a legit issue :-)

[2018-08-16 02:05] sidedger commented on #1500
Yes. I create a new evn for tf 1.6. Occur the same error.  Thank you for your hard work.

[2018-08-16 02:52] reuben commented on #1500
@sidedger can you check if PR #1502 fixes it for you? Thanks!

[2018-08-16 03:51] sidedger commented on #1500
Sure, I am very glad to check it.

[2018-08-16 06:08] sidedger commented on #1500
I had download the native_client with gpu version.
when i run the run-ldc93s1.sh，occur the error below:
TypeError: ctc_beam_search_decoder_with_lm() missing 1 required positional argument: 'word_count_weight'

So i add the FLAGS.word_count_weight in the front of  DeepSpeech.py.
And add word_count_weight=FLAGS.word_count_weight when call the custom_op_module.ctc_beam_search_decoder_with_lm in funct

[2018-08-16 14:13] pvanickova opened #1503 "fine tuning from frozen model ends with ValueError: Requested return_element 'lstm_fused_cell/kernel:0' not found in graph_def."
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: added word_count_weight=1.00 in decode_with_lm into Deepspeech.py to ma

[2018-08-16 14:34] lissyx commented on #1503
@pvanickova You cannot fine-tune v0.1.1 model using current master.

[2018-08-16 14:40] pvanickova commented on #1503
so the only way to fine tune the latest released model at the moment is to use 0.1.1 source code from release, correct? if so, do I need TF 1.4 or can I keep 1.6?

[2018-08-16 15:03] lissyx commented on #1503
@pvanickova Use latest commit from master before we landed the new model, so detaching at https://github.com/mozilla/DeepSpeech/commit/e00bfd0f413912855eb2312bc1efe3bd2b023b25 should be okay. As you can read from `requirements.txt`, `r1.6` is good.

@reuben might have some pending model shareable for fine tuning, with this new architecture?

[2018-08-16 15:51] samgd commented on #1236
The code snippet below builds a pruned, quantized 5-gram language model that is significantly better than the ["quick-fix" language model](https://github.com/mozilla/DeepSpeech/pull/1487).

The corpus used is described in section `4. Language Models` of the [original LibriSpeech paper](https://www.danielpovey.com/files/2015_icassp_librispeech.pdf).

With little to no optimisation or hyper-paramete

[2018-08-16 17:58] elpimous commented on #1156
+1😉

[2018-08-16 19:05] reuben commented on #1500
Are you using an existing checkpoint? The architecture has changed for the streaming API and it's not compatible with older checkpoints.

[2018-08-16 21:45] reuben commented on #1503
We'll share a checkpoint with the v0.3 release.

[2018-08-17 08:02] kdavis-mozilla commented on #1503
I think @reuben meant the v0.2 release, i.e. the next release.

[2018-08-17 12:16] reuben commented on #1503
Yes, I did :)

[2018-08-17 13:11] reuben commented on #1156
They will be available with our next release, v0.2, when it is ready :)

[2018-08-17 13:57] ZipingL commented on #1156
@reuben quando será o próximo lançamento pronto?

[2018-08-18 10:55] bhargav-ak opened #1504 "Linking error while building deepspeech native_client"
Hi I'm getting a linking error while building deepspeech native client.
Here's the output of the make command
[code]
I have done `pip install deepspeech` and the `libdeepspeech.so` and `libdeepspeech_utils.so` are present at `/home/bhargav/.local/lib/python2.7/site-packages/deepspeech/lib`

Here's my LD_LIBRARY_PATH
[code]

Here are all the commands I'm using [Deepspeech Builder ](https://github.c

[2018-08-18 11:15] lissyx commented on #1504
This is not a bug, please take discussions to Discourse instead.

I see a lot of bad habits in your script:
 - why do you rebuild the python wheel ? just use official ones
 - why in general do you rebuild everything, what is wrong with our prebuilt binaries ?
 - since you rebuild everything, why do you use prebuild `libdeepspeech_utils.so` and not just build it at the same time ?
 - current master

[2018-08-18 11:15] #1504 closed

[2018-08-18 13:06] kenogo commented on #1489
Can confirm, it's because of the bazel version.

[2018-08-18 14:34] lissyx commented on #1489
Thanks @kenogo, closing!

[2018-08-18 14:34] #1489 closed

[2018-08-19 07:47] bhargav-ak commented on #1504
@lissyx Thank you for pointing out the mistakes (fixed the script as well)
- I am rebuilding it to add AVX2 FMA compatibility.
- I pulled the latest master branch and successfully built the binary.

I am getting the `op type not registered Assert` error.  [ Issue 1486 ](https://github.com/mozilla/DeepSpeech/issues/1486) speaks of the same error:
- _This is because alpha 9 switched to the new, inco

[2018-08-19 08:14] lissyx commented on #1504
Well, you wrote it yourself, use v0.2.0-alpha.8 :-)

[2018-08-19 13:14] #761 closed

[2018-08-20 11:48] pvanickova commented on #1503
so this worked for me (in combination with TF-GPU 1.6 from pip3 and model 0.1.1):
`git checkout e00bfd0`

after that, running a test fine tuning with a couple of hundreds training wavs completed successfully (in about 20 minutes, running on amazon's g3.4xlarge with Tesla M60 - 8GB of RAM)

Do you have any guesstimate on 0.2 ETA?

thanks for the support

[2018-08-20 12:53] luckmoon opened #1505 "It seems that global step (tf.train.get_global_step) has not been increased"
Here is my terminal log:

[code]

And Warning that global step (tf.train.get_global_step) has not been increased **ALL THE TIME**, rather than exporting my expected model.
Maybe this is a BUG?

Below is my command：
`CUDA_VISIBLE_DEVICES=0,1,2,3 ./DeepSpeech.py --train_files ../data/CV/cv-valid-train.csv --dev_files ../data/CV/cv-valid-dev.csv --test_files ../data/CV/cv-valid-test.csv --epoch 2 --l

[2018-08-21 19:14] #1500 closed

[2018-08-21 20:19] lissyx commented on #1504
Thanks @bhargav-ak. I don't see lines with AVX2 and FMA enabled. The flags are here but on commented lines.

[2018-08-22 08:02] djpg opened #1506 "int() argument must be a string"
- **deepspeech**: 0.2.0a5
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: 9.0/7.1
- **GPU model and memory**: 2 x gtx 1080 ti

I'd like to train a model with spanish character 'ñ'. I've edited alphabet.txt to include it but I get the following error:
[code]
What do I need modify to train a sp

[2018-08-22 11:03] #1506 closed

[2018-08-22 13:56] #1503 closed

[2018-08-22 14:04] DWhettam commented on #1503
Please could you expand a little more on your setup @pvanickova? I've been having the same issue, and when I tried training from model 0.1.1 I'm getting the following error:
`TypeError: ctc_beam_search_decoder_with_lm() got an unexpected keyword argument 'word_count_weight'`

After doing

`git clone https://github.com/mozilla/DeepSpeech`

 are you then doing "git checkout e00bfd0", and then procee

[2018-08-22 14:28] pvanickova commented on #1503
@DWhettam make sure, you're using  client version 0.2.0a8 (not the latest version 0.2.0a9) , obtained by:

`python3 util/taskcluster.py --arch gpu --branch v0.2.0-alpha.8 --target native_client`

[2018-08-22 15:18] DWhettam commented on #1503
Thank you @pvanickova! That seems to have fixed it

[2018-08-22 18:39] NicoHood opened #1507 "bazel --batch mode is deprecated"
For 0.2.0.alpha9:

[code]

It should be better fixed sooner than later. I am on ArchLinux.

[2018-08-22 19:50] lissyx commented on #1507
Thanks, but with TensorFlow r1.6 that we still use, Bazel 0.10 is recommended, so it's actually not a big deal. People reported being unable to build at all with too new bazel as well (0.15 I guess). We'll deal with that when we move to newer tensorflow (hopefully soon).

[2018-08-22 19:53] lissyx commented on #979
@NicoHood This feels like improper build of something. Can you ensure there is no stale Bazel cache anywhere?

[2018-08-23 10:17] lissyx commented on #955
@kdavis-mozilla Since we reverted the new language model, is that still fixed ? Or should we reopen ? Context: https://discourse.mozilla.org/t/reference-model-missing-apostrophes-affecting-wer/31154

[2018-08-23 11:18] djpg opened #1508 "train_batch = 1 not run all train files"
- **Deepspeech**: 0.2.0a5
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: 9.0/7.1
- **GPU model and memory**: 2 x gtx 1080 ti
- **Exact command to reproduce**:
[code]
I'm training with common voice dataset (I call before: ``bin/import_cv.py /home/enigma-admin/DeepSpeech/data/CV``

So in _cv-v

[2018-08-23 12:35] kdavis-mozilla commented on #955
The language model in this branch[[1](https://github.com/mozilla/DeepSpeech/tree/update_lm)] from here[[2](https://github.com/mozilla/DeepSpeech/issues/1236#issuecomment-413593552)] includes apostrophes and it, or some variation thereof, is likely the next language model we're going to use.

[2018-08-23 13:47] reuben commented on #1508
96.642 is 193.284/2. You have two GPUs, so each step is actually two batches.

[2018-08-23 13:47] #1508 closed

[2018-08-23 13:49] reuben commented on #1508
Or, put another way, the algorithmic batch size is number_of_GPUs times the value of the `--train_batch_size` flag.

[2018-08-23 17:44] zhangjinhong17 opened #1509 "TEDLIUM2 cannot converge in training"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:  use requirements.txt
- **TensorFlow version (use command below)**:tensorflow-GPU 1.6.0,
- **Python version**: 3.6.6
- **Bazel version (i

[2018-08-23 18:38] reuben commented on #1509
The `bin/run-*` scripts were tested at some point in the far past. Since then the architecture has gone through major changes and it's quite likely that the hyperparameters no longer make sense. I don't think we'll be training on individual datasets just for the sake of maintaining those files, so maybe we should remove them to avoid the misdirection, and document only the hyperparameters we actua

[2018-08-23 19:13] bhargav-ak commented on #1504
@lissyx Worked out very nice :) [Deepspeech Builder (Intel CPU, with AVX2 and FMA support)](https://raw.githubusercontent.com/bhargav-ak/_root/master/sidekick/scripts/deepspeech-build.sh)
[code]

[2018-08-23 19:50] zhangjinhong17 commented on #1509
I think I make a mistake.
TED dataset is converged after 10 epoch training.
because in the training process, WER, src, res are not showed. So I guess it is not converged because the loss is not reduced significantly.
![image](https://user-images.githubusercontent.com/32910309/44548419-e7606f80-a6d2-11e8-80f1-68e3d1db4185.png)

[2018-08-24 13:41] Kingeng commented on #1094
`Tensorflow : Build from source cudnn7 & cuda9.2
OS : ubuntu 18.04
python : 3.6`

Hi
can you tell how can i build a .whl for Cuda9.2 &  cudnn 7
is it possible or available ?

[2018-08-24 16:38] NicoHood commented on #979
It builds now, I did something wrong. Still using tensorflow 1.6.?

Also, any release date planned yet? Would it be possible for you to release a precompiled language model for the english language? Is there any data from the common voice project available yet (looking out for german)?

[2018-08-24 18:18] lissyx commented on #979
@NicoHood Please ask that on Discourse. @reuben might know for the date

[2018-08-27 06:44] djpg opened #1511 "WER calculation is slow"
- **Deepspeech**: 0.2.0a5
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: 9.0/7.1
- **GPU model and memory**: 2 x gtx 1080 ti
- **Exact command to reproduce**:
[code]
I'm training my own model with my own data and I set --display_step 20, so each 20 epoch I get the wer. **The problem is that

[2018-08-27 12:58] kdavis-mozilla commented on #1511
In 0.2.0a5 yes, unfortunately, they WER calculation is slow.

However, in master the WER calculation has been re-worked and parallelized and it much faster[[1](https://github.com/mozilla/DeepSpeech/blob/3091b30b0516ef308944ddaaf6cf722c13b270ac/evaluate.py)].

However, one should know the neural network architecture of master has changed relative to 0.2.0a5 and one can not use old models there. We

[2018-08-27 12:58] #1511 closed

[2018-08-27 13:57] djpg commented on #1511
When does deepspeech.py use evaluation.py to calculate WER during training process?

[2018-08-27 14:03] kdavis-mozilla commented on #1511
It's now split out in to a second process. So you can call evaluation.py independently from deepspeech.py

[2018-08-27 14:43] reuben commented on #1511
Note that parallel decoding hasn't yet landed on master. `evaluate.py` is still pretty fast, but its main advantage is using the inference graph rather than the training one.

[2018-08-28 09:57] Rishabh-Maheshwari commented on #1195
@spyamine What should i do i am using windows

[2018-08-28 10:55] spyamine commented on #1195
I have no idea my friend. Maybe that you should install linux on your machine. its more appropriate for Machine Learning work

[2018-08-28 10:56] pvanickova commented on #1236
Are there going to be tools to extend the new language model with custom corpus data or individual phrases?

[2018-08-29 05:52] mathematiguy commented on #1389
Has any progress been made on this? I've just trained a model on v0.2.0-alpha.9 and I've been having trouble getting it to do inference. I'm wondering if this might be related to why.

Also streaming inference is of particular interest to our project, so any information (if indeed there is any) would be great.

[2018-08-29 07:32] kdavis-mozilla commented on #1236
@pvanickova You'll be able to use all the features of [KenLM](https://kheafield.com/code/kenlm/) to extend the language model.

[2018-08-29 09:58] mathematiguy opened #1512 "No OpKernel error when running inference on v0.2.0-alpha.9"
Hi there,

At the moment, I am dealing with the following error:

[code]

At the moment, my guess is that the code to build a model using the streaming architecture hasn't been implemented yet. I have locked my version of DeepSpeech at commit fe5305c081.

Can anyone confirm if my efforts to resolve the error without downgrading are futile? If it is possible to resolve the error now, then I would l

[2018-08-29 10:57] mathematiguy commented on #1512
It was the product of a train just a few days ago, I believe with DeepSpeech and native_client v0.2.0-alpha.9

If you need more detail than that, you’ll need to be more specific I’m sorry.

The commit of DeepSpeech we locked down at was after the bump to v0.2.0-alpha.9 so I took the effort to make sure we got the right native_client from taskcluster. Because of this, I believe, training the model

[2018-08-29 11:00] mathematiguy commented on #1512
It sounds like I need to downgrade for the time being. Is v0.2.0-alpha.8 ok? Or do I have to go all the way back to v0.1.0 (pre-streaming inference)

It’s okay, I can always upgrade later

[2018-08-29 11:04] mathematiguy commented on #1512
I did have the DeprecationError while training, so I believe the python bindings I was using during the train were ‘DeepSpeech-GPU==0.1.1’

[2018-08-30 02:58] sidedger commented on #1512
I had installed the v0.2.0-alpha.9-0. If you remove the model parameter, deepspeech would load the built-in model.
But I don't run the model successfully. It occur a Segmentation fault.(core dumped)

[2018-08-30 04:21] gangyahaidao opened #1513 "run deepspeech error: Not found: Op type not registered 'BlockLSTM' in binary running on asr"
Hi,
**now i run cmd:**
`deepspeech --model results/export_module/output_graph.pb --alphabet data/mydata/alphabet.txt --lm data/mydata/lm.binary --trie data/mydata/trie --audio data/mydata/testdata/16k.wav `

got such error:
`Loading model from file results/export_module/output_graph.pb
TensorFlow: v1.6.0-16-gc346f2c
DeepSpeech: v0.2.0-alpha.8-0-gcd47560
Warning: reading entire model file into memo

[2018-08-30 07:39] kdavis-mozilla commented on #1512
@mathematiguy I just wanted to establish that you were _not_ using our 0.1.1 or 0.1.0 pretrained models. If I understand correctly, you're using a model you trained yourself?

If that's so, what did you mean by the statement:

This confuses me as to me as it suggests that you did _not_ train your own model as it implies you believe the the code to build a model is not there, but later on[[1](https

[2018-08-30 07:40] kdavis-mozilla commented on #1512
@mathematiguy One suggestion is also to use our build of tensorflow.

[2018-08-30 09:12] mathematiguy commented on #1512
Hi- I definitely trained the model myself. You can discard the confusing comment I made, in hindsight it doesn’t contribute anything valuable.

I want to try using your build of tensorflow, I’ve just been confused by the documentation so far. In any case, if that’s necessary for this to work then it would be worth it.

[2018-08-30 10:35] sruteesh-pivot opened #1514 "Unable to retrain using frozen model"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: pip3 install tensorflow-gpu==1.4.0
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6
- **Baz

[2018-08-30 11:12] sshabana commented on #1224
Porting Deepspeech model to android

I am trying to convert the deepspeech model output_graph.pb to tflite using toco using the below command

 bazel-bin/tensorflow/contrib/lite/toco/toco   --input_file=output_graph.pb   --output_file=output_graph_fr.tflite   --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE   --inference_type=QUANTIZED_UINT8   --input_array=input_node  --output_array=outp

[2018-08-30 11:13] reuben commented on #1224
The streaming model with a few modifications only has supported OPs, but it runs into this problem: https://github.com/tensorflow/tensorflow/issues/21924

We're actively looking into TFLite support.

[2018-08-30 12:52] #1514 closed

[2018-08-30 23:44] mathematiguy commented on #1512
For posterity, I found running inference on a trained model worked fine when I downgraded to v0.2.0-alpha.7. I definitely want to build DeepSpeech's Tensorflow myself, because we have implemented language specific modifications to the language model - but we haven't had time to do that with the available funding.

In any case, thanks for your help - I'll close the issue now.

[2018-08-30 23:44] #1512 closed

[2018-08-31 02:25] gangyahaidao commented on #1513
i flowed this doc solved my problem
[https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md](native_client/README.md)

[2018-08-31 02:25] #1513 closed

[2018-08-31 06:13] sshabana commented on #1224
Thanks reuben. what is the difference between the streaming model and the original ds model ?? is it just that the unsupported ops have been removed or are they handled in any other way??

[2018-08-31 06:18] kdavis-mozilla commented on #1224
@sshabana The core difference is that the streaming model is now a RNN and not a BRNN. Thus it no longer requires the entire audio clip to start processing.

[2018-08-31 06:32] kdavis-mozilla commented on #1224
@sshabana Yes this exactly what it implies. However, it runs in to the problem @reuben mentioned above.

We are also very interested in making this work on our Android based development kit too. If you have any insight on tensorflow/tensorflow#21924 it will help us both!

[2018-09-05 05:36] MuruganR96 opened #1515 "How to combine my own custom model and pretrained deepspeech language model?"
Sir I have my own trained model. but it is working for that particular trained audios only. how to combine deepspeech pretrained language model, else other common voice model. sir help me. i am very low knowledge about this topic. thank you sir.

[2018-09-05 06:41] MuruganR96 opened #1516 "How do i working on completely other language like TAMIL for speech to text.?"
please sir share your thoughts, ideas and suggestions.

[2018-09-05 06:44] MuruganR96 commented on #1515
sir, not needed Continuing training from a frozen graph.  any other way?

[2018-09-05 06:50] MuruganR96 commented on #1516
if i feed other languages alphabets in that alphabet.txt, feed audio with similar language sentence, vocabulary.txt to feed that language sentence. and then create a lm.arpa, lm.binary and trie files. this steps is enough or will do some another steps? thank you sir

[2018-09-05 07:45] kdavis-mozilla commented on #1515
@MuruganR96 As this is not really a bug or request for enhancement, could you please move the discussion to Discourse[[1](https://discourse.mozilla.org/c/deep-speech)]. Thanks.

[2018-09-05 07:45] #1515 closed

[2018-09-05 07:47] kdavis-mozilla commented on #1516
@MuruganR96 As this is not really a bug or request for enhancement, could you please move the discussion to Discourse[[1](https://discourse.mozilla.org/c/deep-speech)]. In particular there is a discussion there[[2](https://discourse.mozilla.org/t/tutorial-how-i-trained-a-specific-french-model-to-control-my-robot/22830)] that addresses much of your question. Thanks.

[2018-09-05 07:47] #1516 closed

[2018-09-05 09:14] MuruganR96 opened #1518 "File b' ' does not exist error occurs for my own trained model"
python3 DeepSpeech.py --model ../ownaudio-model/output_graph.pbmm --alphabet ../ownaudio-model/alphabet.txt --lm ../ownaudio-model/lm.binary --trie ../ownaudio-model/trie --audio ../audio_folder/audio/createdaudio1.wav

/home/dell/Videos/another_one/DeepSpeech/util/audio.py:17: DeepSpeechDeprecationWarning: DeepSpeech Python bindings could not be imported, resorting to slower code to compute audio

[2018-09-05 09:18] lissyx commented on #1518
@MuruganR96 I don't know what you are doing: mixing `DeepSpeech.py` arguments with those from the native client, but it's not going to work for sure.

[2018-09-05 09:18] #1518 closed

[2018-09-05 09:42] MuruganR96 commented on #1518
sir, can you explain where i am refferd?

[2018-09-05 09:48] lissyx commented on #1518
@MuruganR96 You are using the command line arguments documented for the native client code. It's unclear what you want to do, and you don't explain what you are trying to achieve with that command line, so there's nothing we can do so far. Also, as this is obviously not a bug with the codebase, can you please request any further help on discourse? https://discourse.mozilla.org/c/deep-speech

[2018-09-05 09:58] MuruganR96 commented on #1518
NO SIR It is a bug. i explain what i did.

i create a my own audio files and create a csv files like audio_file_dev.csv, audio_file_test.csv, audio_file_train.csv

used alphabet.txt is similar and then create a vocabular.txt for my audio sentence.

then create a lm.arpa and lm.binary file , trie file also.

finally run on model,

 python3 -u DeepSpeech.py   --train_files /home/dell/Videos/ownaudio

[2018-09-05 10:04] lissyx commented on #1518
Please read the documentation, your second command line makes no sense. Use the native client code  if you want to run inference, or check `--help` if you want to use `DeepSpeech.py`.

[2018-09-05 10:33] MuruganR96 commented on #1518
:) Sir ,I am  running ----------------->python3 DeepSpeech.py --help

it display arguments, below

(deepspeech_s2t) dell@dell-OptiPlex-5050:~/Videos/another_one/DeepSpeech$ python3 DeepSpeech.py --helpfull
/home/dell/Videos/another_one/DeepSpeech/util/audio.py:17: DeepSpeechDeprecationWarning: DeepSpeech Python bindings could not be imported, resorting to slower code to compute audio features. Ref

[2018-09-05 10:40] lissyx commented on #1518
@MuruganR96 https://github.com/mozilla/DeepSpeech/blob/master/README.md#using-the-model https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md

[2018-09-05 10:59] MuruganR96 commented on #1518
thank you so much sir. i will try to configure native_client for your given link. and i update my status sir.

thank you for your wonderful reply sir. :)

[2018-09-05 18:09] sruteesh-pivot commented on #821
@abuvaneswari and @murugancmi Please ping me on sruteeshkumar@gmail.com if you still need help with youtube dataset etc..

[2018-09-06 05:51] MuruganR96 commented on #1518
Sir I can't build a native_client for DeepSpeech-0.2.0-alpha.9. because i followed this link to
 (https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md) build a native_client.

but bazel not build correctly for CPU Ubuntu-16.04.

sir give your native_client file for DeepSpeech-0.2.0-alpha.9. i will integrate in that our deepspeech model and then i will try to run.

thank you si

[2018-09-06 07:07] lissyx commented on #1518
@MuruganR96 Why do you absolutely want to build it when we have documented prebuilt binaries ?

[2018-09-06 09:07] MuruganR96 commented on #1518
sir, https://github.com/mozilla/DeepSpeech/issues/1518#issuecomment-418675056  in this suggestion i was followed to run the native client code, i want to run inference for my output_model.pb , lm.binary files but the bazel not bulid completely sir.

![issue111](https://user-images.githubusercontent.com/35978784/45147161-f0c4fe00-b1e1-11e8-82fa-f11ee2c0cc49.png)

sir please can you explain me. i am

[2018-09-06 09:09] lissyx commented on #1518
@MuruganR96 Please avoid pictures for debugging, it's not usable.

[2018-09-06 09:11] lissyx commented on #1518
@MuruganR96 Why do you absolutely want to rebuild this codebase when we have prebuilt binaries ready for you ?

https://tools.taskcluster.net/index/project.deepspeech.deepspeech.native_client.v0.2.0-alpha.9/cpu

We also document downloading them using `util/taskcluster.py`.

[2018-09-06 10:33] lissyx commented on #1518
@MuruganR96 I'm sorry, but you are not reading what I'm explaining since the begining. You keep doing the same thing, over and over, when I explain you. And you keep posting screenshots when I already told you not to, because it's more than inconvenient for debugging and it's not searchable for others as well.

**You are not using the correct tool. Use the native client binaries, not `DeepSpeech.p

[2018-09-06 10:37] MuruganR96 commented on #1518
@lissyx excuse me sir. and will read the documentation fully sir. and do my best sir. thank so much sir.:)

[2018-09-06 11:33] MuruganR96 commented on #1518
sir thank you so much.it is working fine now. https://discourse.mozilla.org/t/inference-model-trained-with-deepspeech-py/28663/3
followed this hint sir.

deepspeech --model  /home/dell/Pictures/ownaudio-model/output_graph.pb --alphabet  /home/dell/Pictures/ownaudio-model/alphabet.txt --lm  /home/dell/Pictures/ownaudio-model/lm.binary --trie  /home/dell/Pictures/ownaudio-model/trie  --audio /home/d

[2018-09-06 11:36] MuruganR96 commented on #1518
sir how to fine tuning language model to get good validation loss.

[2018-09-06 12:16] lissyx commented on #1518
@MuruganR96 I'm genuinely happy to see you have been able to figure this out, but really, please look on previous threads on Discourse, there's already people doing exactly that, and you can ask there if you really need. The Github issues are really only for bugs / features requests, not discussions.

[2018-09-06 13:31] pksubbarao opened #1519 "No matching distribution found for deepspeech - PowerPC"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RHEL

[2018-09-06 13:34] lissyx commented on #1519
[code]

We don't have access to that kind of hardware, you're going to have to build everything as documented in `native_client/README.md` :)

[2018-09-06 14:13] lissyx commented on #1519
@pksubbarao You should be able to train without building native client, though?

[2018-09-06 14:18] pksubbarao commented on #1519
Thanks for the quick response... I am running into issues while training. I think I need to build native client.

./DeepSpeech.py --train_files /nvme/deepspeech/cv-valid-train.csv --dev_files /nvme/deepspeech/cv-valid-dev.csv --test_files /nvme/deepspeech/cv-valid-test.csv
/home/guest/DeepSpeech/util/audio.py:17: DeepSpeechDeprecationWarning: DeepSpeech Python bindings could not be imported, resor

[2018-09-06 14:34] lissyx commented on #1519
@pksubbarao Right, we used to have a way to make it optional, but we don't have it anymore. So follow docs https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md only for `libctc_decoder_with_kenlm.so`. Don't forget to use https://github.com/mozilla/tensorflow/tree/r1.6

[2018-09-06 14:34] lissyx commented on #1519
Though it might get tricky with Bazel, I have no idea what is the status of Bazel on this arch :/

[2018-09-06 15:24] kdavis-mozilla opened #1520 "Update to lastest TF version"

[2018-09-06 20:35] the-nose-knows opened #1521 "Cannot install Deepspeech using current instructions for Python 3.6.6 on Windows 10, possibly due to, "it is not compatible with this Python""
Current instructions are either incomplete or incorrect with the Windows Desktop environment; from the error output, it doesn't appear Windows is even supported due to a lack of windows WHLs, which would have been nice to know before I spent all this time trying to get my installation up and running. If this is the case, please please _please_ explicitly document that this is not available on Wind

[2018-09-06 22:30] lissyx commented on #1521
We never ever mentioned Windows support while we explicitely document macOS and Linux here: https://github.com/mozilla/DeepSpeech/blob/master/README.md

The release pages also explicitely list the supported platforms: https://github.com/mozilla/DeepSpeech/releases/tag/v0.1.1

[2018-09-06 22:35] lissyx commented on #1521
@the-nose-knows Also, some people on discourse reported being able to setup through the windows linux subsystem, if that can be of any help, yet it's very unlikely you can expect training to work on that kind of setup.

[2018-09-06 22:39] lissyx commented on #1521
@the-nose-knows Maybe you could send a PR expliciting that in the documentation? Obviously, it was obvious to us that Windows was not being supported for far, and thus we don't see **where** it's really important to state it for people.

[2018-09-06 22:40] lissyx commented on #1521
There's also issue #1123 open in case anyone might be interested in starting hacking on that. Back then, TensorFlow with Windows was not really a good thing, and our current focus is not yet really on that platform :)

[2018-09-06 22:43] lissyx commented on #1507
This will happen with #1520

[2018-09-06 22:45] lissyx commented on #1519
@pksubbarao Maybe you could get something quicker with a cross-compiler, we added some for our ARM and ARM64 builds. Adding cross-compiler in bazel is a bit painful, but might be easier if getting bazel 0.10 to run on that arch is too much pain.

[2018-09-07 01:01] the-nose-knows commented on #1521
@lissyx I don't see anywhere on the pages you linked to that mention the list of supported platforms. I see platforms that get mentioned for certain use-cases/scenarios, but that's it. I wouldn't assume a lack of Windows support for anything unless I was neck-deep in *nix territory already. That wasn't the case when I ran across DeepSpeech.

I'm taking a look at using Ubuntu via Windows Linux Subs

[2018-09-07 02:08] the-nose-knows commented on #1521
Final Update: On Windows 10, I got deepspeech working on the Ubuntu distro available as a Windows Linux Subsystem on the Microsoft Store.

My primary points of friction was just setting all the env-vars needed for stuff, as it had been a couple years since I even touched a linux distro. First I needed to configure the proxy for apt-get, then the general env-vars used by many *nix apps, ie `http_pr

[2018-09-07 04:27] desaur commented on #1156
Hi @reuben Any update on these binaries? I too would like to test their impact on decoder behavior.

[2018-09-07 06:48] MuruganR96 commented on #1518
Sir sorry for the inconvenience. I trained my own audio files with epoch = 250, LR =0.000025, audio files =50, validation loss=14.97233
Test of Epoch 250 - WER: 0.114379, loss: 14.972339630126953, mean edit distance: 0.024213
and i testing my new recorded audio with similar content. it is not working.

Loading model from file /home/dell/Pictures/ownaudio-model/output_graph.pb
TensorFlow: v1.6.0-18

[2018-09-07 07:50] djpg opened #1524 "Inference prediction with own trained model"
- **OS Platform and Distribution**: Ubuntu 16.04
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: 9.0/7.1
- **GPU model and memory**: 2 x gtx 1080 ti

I have trained my own model with my own data (8 kHz) and I would like make predictions but I can't do it. (I modified _client.py_ script to allow 8KHz audios)

**Experiment 1:**
- **Deepspeech**: 0.2.0a8
- **TensorFlow version**: tensorflow-war

[2018-09-07 08:03] lissyx commented on #1518
@MuruganR96 There is no bug here. Please take this kind of discussion on Discourse.

[2018-09-07 08:05] MuruganR96 commented on #1518
thank you sir.

[2018-09-07 08:08] kdavis-mozilla commented on #1524
@djpg We try to reserve issues for bugs or enhancements to the code. As you've added your own modifications to the code and trained your own models, the best place to discuss this topic is on our discourse forum[[1](https://discourse.mozilla.org/c/deep-speech)].

[2018-09-07 08:08] #1524 closed

[2018-09-07 08:09] lissyx commented on #1524
Thanks, but that does not seems to be a bug. In experiment 1, I don't even understand why you get this `BlockLSTM` issue, since there is no code referring to it: https://github.com/mozilla/DeepSpeech/blob/v0.2.0-alpha.8/DeepSpeech.py#L430-L441

For experiment two, there is not enough informations on your training conditions to see if there is anything problematic. Please be advised that we are sti

[2018-09-07 08:10] lissyx commented on #1521
Closed by #1523

[2018-09-07 08:10] #1521 closed

[2018-09-07 08:33] djpg commented on #1524
@lissyx thanks for your reply.
I need to train my own spanish model so I only have 8 KHz audios. So I've trained the model with 3 differents datasets and get a razonable WER. So I don't know how I get such a bad prediction with train data.

[code]

[2018-09-07 09:06] lissyx commented on #1524
@djpg As said earlier, it would be better to do that discussion on Discourse, and the hyperparameters you are using might just be not good: we are still working on that new model.

[2018-09-07 09:46] djpg commented on #1524
@lissyx move to [Discourse](https://discourse.mozilla.org/t/inference-prediction-with-own-trained-model/31564).

[2018-09-07 13:26] m1ckyro5a opened #1525 "TypeError: 'sess' must be a Session; <tensorflow.python.training.monitored_session.MonitoredSession object at 0x7fe99c640f28>"
Hello, guys. I am trying to train own model on russian language.

[code]

How to fix this problem?

[2018-09-07 13:35] lissyx commented on #1525
@m1ckyro5a Looks like your `progressbar.ProgressBar` does not like `redirect_stdout`. Can you give more context on the `progressbar2` wheel you have in your virtualenv and your setup in general?

[2018-09-07 13:43] lissyx commented on #1525
https://github.com/WoLpH/python-progressbar/blame/32d5217db02430a2c3373e3e6f4fc5683f5efa1f/progressbar/bar.py#L120

[2018-09-07 14:53] philofellow commented on #1505
I'm having the same problem. After 20 epochs, I got:
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 600 vs previous value: 600. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
I Test of Epoch 20 - WER: 0.978333, loss: 96.74490496317546, mean

[2018-09-07 14:56] philofellow commented on #1505
btw, my training set only contains 30 audio clips. will that be a problem?

[2018-09-07 15:42] reuben commented on #1156
We're currently training a model for the v0.2 release. Send me an email at {my github username} at mozilla.com and I'll give you access to a preliminary trained model so you can test the code changes.

If you have your own model and just want the binaries, they're available here: https://tools.taskcluster.net/groups/ClsXrFSbTJ6uUkEAPqFG8A

The Python and Node packages are also available, just spec

[2018-09-08 10:56] bagtim commented on #1513
I have the same problem, how did you solve it? I don't have a cuda gpu, the training is spent on the cpu

[2018-09-08 12:22] SemabAli opened #1526 "TypeError: ctc_beam_search_decoder_with_lm() missing 1 required positional argument"

[2018-09-08 12:36] bhargav-ak commented on #1064
@sanjayraojjn @reuben I've a very crude command line and GUI python implementation that uses @kdavis-mozilla suggestions. I could clean it up and commit it here or my github page, whichever is better/easier.

[2018-09-08 12:37] lissyx commented on #1526
How did you checked out the source? Are you on the correct tag?

[2018-09-08 12:38] lissyx commented on #1064
Just open a PR that's the best :-)

[2018-09-08 12:47] lissyx commented on #1526
Here: https://github.com/mozilla/DeepSpeech/blob/v0.2.0-alpha.8/DeepSpeech.py#L486
And now: https://github.com/mozilla/DeepSpeech/blob/v0.2.0-alpha.9/DeepSpeech.py#L476

@SemabAli My best guess is that your git clone is not on `v0.2.0-alpha.8`

[2018-09-10 03:51] SemabAli commented on #1526
@lissyx    Thanks it resolved by downloading correct one.

[2018-09-10 04:26] #1526 closed

[2018-09-10 07:28] MuruganR96 opened #1528 "I Can't clone deepspeech==0.1.1 version git"
I have face this issue https://github.com/mozilla/DeepSpeech/issues/1503#issue-351223943.
I follow @lissyx  instructions for https://github.com/mozilla/DeepSpeech/issues/1503#issuecomment-413567130
cannot fine-tune v0.1.1 model using current master.
but
git clone https://github.com/mozilla/DeepSpeech
this git clone link directly download only that current master.
but i need a v0.1.1 master. how ca

[2018-09-10 07:41] kdavis-mozilla commented on #1528
[code]

[2018-09-10 07:41] #1528 closed

[2018-09-10 12:16] bhargav-ak commented on #1064
@lissyx Done :)

[2018-09-10 12:17] m1ckyro5a commented on #1525
@lissyx Don't know how but this problem is gone.
How to test my own trained model on data?

[2018-09-10 12:26] lissyx commented on #1525
@m1ckyro5a Just follow the documentation and use the native client with your new model.

[2018-09-10 12:26] #1525 closed

[2018-09-10 16:37] sanjayraojjn commented on #1064
Thanks a lot for suggestion. Though it is very late for me.

Sent from Yahoo Mail on Android

  On Wed, 20 Dec 2017 at 3:04 PM, Kelly Davis<notifications@github.com> wrote:
@sanjayraojjn It is not optimized for transcription of larger clips, 5-10 minutes.

If you want to transcribe longer clips, use VAD, e.g. webrtcvad, then feed each clip to the network.

—
You are receiving this because you were

[2018-09-10 18:54] f90 commented on #1156
I need the new decoder library so binary for Linux x64, how can I download it from the URL given by @reuben ? I am a bit lost on that webpage.

When I click on DeepSpeech Linux AMD64 CPU and then on artifacts and then download the public/native_client.tar.xz I dont see any changes in my decoded output when using this .so library compared to the current one, there is still only one or two words fol

[2018-09-11 11:09] MuruganR96 opened #1529 "packages mismatching tenserflow Vs native_client Vs git clone deepspeech.? how can i fix it?"
- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow CPU 1.6.0
- python 3.6
- bazel release 0.16.1

  i was using,
-----------------> git lfs clone https://github.com/MuruganR96/DeepSpeech.git  --branch v0.1.1(before did git lfs install)
                        tensorflow 1.6.0
                        native_client v0.1.1
                        pip3 install upgrade v0.1.1

[2018-09-11 11:11] kdavis-mozilla commented on #1529
I'm afraid you need to provide more information.

[2018-09-11 11:33] avipartho opened #1530 "DeepSpeechDeprecationWarning: DeepSpeech Python bindings could not be imported, resorting to slower code to compute audio features. Refer to README.md for instructions on how to install (or build) the DeepSpeech Python bindings."
I have installed deepspeech using this command `pip3 install deepspeech`. It installs the package successfully but when I try to train on some dataset using `DeepSpeech.py`, it shows a **DeepSpeechDeprecationWarning** from `DeepSpeech/util/audio.py:17` where it actually tries tio import **audioToInputVector**. There was no problem when I, as a test, tried to import **deepspeech.model**. Any idea w

[2018-09-11 12:00] lissyx commented on #1530
@avipartho Can you document the steps ? Which version do you checkout to train ? What does a `from deepspeech import audioToInputVector` in a python shell gives?

[2018-09-11 12:02] lissyx commented on #1530
My guess is that you are playing with 0.1.1 binaries / bindings, that used to expose `audioToInputVector` under `deepspeech.utils`, and you are training with current master, matching 0.2.0-alpha.9 binaries, who exposes that under `deepspeech`.

[2018-09-11 12:12] reuben opened #1531 "tensorflow.contrib.learn.python.learn.datasets.base.maybe_download is deprecated"

[2018-09-11 12:26] reuben commented on #1530
The performance difference is very small, and we'll probably drop use of the bindings in the training code pretty soon. So I wouldn't worry about it.

[2018-09-11 13:32] MuruganR96 commented on #1529
- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow CPU 1.6.0
- python 3.6
- bazel release 0.16.1

  i was using,
-----------------> git lfs clone https://github.com/MuruganR96/DeepSpeech.git  --branch v0.1.1(before did git lfs install)
                        tensorflow 1.6.0
                        native_client v0.1.1
                        pip3 install upgrade v0.1.1

[2018-09-11 13:37] lissyx commented on #1529
@MuruganR96 I'm sorry, but it's too much messy. Can you properly format your message, and explicitely document the current state ? The NodeDef error and the lm error have nothing to do together.

You are also referring to your own clone. Please work our upstream. Alpha 6 might be using the improper language model, please use Alpha 8 binaries if you rely on pretrained model v0.1.1

[2018-09-11 13:58] MuruganR96 commented on #1529
Sir what version tensorflow i followed. currently i am using tensorflow1.6.0(alpha 6).
i can't checkout our own DeepSpeech model sir. that the reason only i fork on our model into my github repo then i clone.
i can't checkout our DeepSpeech. i follow this https://github.com/mozilla/DeepSpeech/issues/1528#issuecomment-419818260 instruction sir.
please tell me sir how to clone DeepSpeech particular

[2018-09-11 14:02] lissyx commented on #1529
@MuruganR96 How come you cannot git clone our repo ? Please retry with 0.2.0-alpha.8 binaries.

[2018-09-11 14:28] lissyx commented on #1529
@MuruganR96 Try `v0.2.0-alpha.8` and not `0.2.0-alpha.8`. Also, you could try and git clone without `--branch` and git checkout the `v0.2.0-alpha.8` tag after.

[2018-09-11 14:29] MuruganR96 commented on #1529
oh sorry sir. sorry for the trouble

[2018-09-12 04:10] luckmoon opened #1533 "What is the purpose of setting "chunk" for evaluate in master branch"
https://github.com/mozilla/DeepSpeech/blob/5ff3b31bbde1b748d069dd7bba8ca7fff87ce56d/evaluate.py#L242

[2018-09-12 05:57] kdavis-mozilla commented on #1530
@avipartho In moving to a streaming architecture we've moved from a bidirectional RNN to a unidirectional RNN.

[2018-09-12 05:59] kdavis-mozilla commented on #1533
@luckmoon As this isn't a bug or feature request, could you move this discussion to Discourse[[1](https://discourse.mozilla.org/c/deep-speech)]? We try to reserve GutHub issues for only bugs or feature requests. Thanks for your understanding.

[2018-09-12 05:59] #1533 closed

[2018-09-12 08:30] #1529 closed

[2018-09-12 08:31] lissyx commented on #1529
Please take any fine-tuning question to a properly documented thread on Discourse, so we and others can help you. Details can be very tricky (recording mic, audio quality, post-treatement). So please be direct, simple and give as much as details on your process as possible.

[2018-09-12 08:49] cbluth commented on #723
I see this here: https://github.com/mozilla/DeepSpeech/blob/master/Dockerfile

[2018-09-12 08:51] luckmoon commented on #1533
Gotcha

[2018-09-12 09:04] #723 closed

[2018-09-12 09:20] MuruganR96 commented on #1529
Excuse me sir. I have a question sir. vocab.txt -> lm.arpa -> lm.binary & trie. this is the process for pretrained binaries. but i have my audio vocab.txt is there. but i can't use or added into that frozen model retraining.
then how it will predict my audio technical terms or words.?
in my starting stage i run that model it is not predicting my technical term words. that the reason only i again r

[2018-09-12 09:30] lissyx commented on #1529
@MuruganR96 I'm not going to be kind forever, if you keep doing that: I've asked you to take that kind of questions to Discourse. This is not the place.

[2018-09-12 12:52] kdavis-mozilla opened #1534 "Remove old training scripts"

[2018-09-12 12:54] kdavis-mozilla opened #1535 "Split noise in to train, validation, and test"

[2018-09-12 12:56] kdavis-mozilla opened #1536 "Create cocktail party data set"
Create cocktail party data set where the background noise for training comes only from the training data sets, background noise for validation comes only from the validation data sets, and , background noise for test comes only from the test data sets.

[2018-09-12 21:56] NicoletteIge commented on #675
@gardenia22 I am trying to follow your solution, I got lost with, "In _maybe_convert_wav_dataset function from import_xxx.py". I am unsure of what you are referring to.

[2018-09-13 05:32] avipartho commented on #1530
Thanks to all for your replies. I'm closing this issue.

[2018-09-13 05:32] #1530 closed

[2018-09-13 12:01] tilmankamp opened #1537 "Allow for relative paths in CSV files"
Future versions of our cluster will mount `${DATA_ROOT}` in different location(s). At the moment we (actually the CSV files) rely on absolute paths to WAVs.
Design consideration:
If a sample file path is not an absolute one (no leading slash), we prefix it with the parent directory of the CSV file.

[2018-09-13 13:00] tilmankamp opened #1538 "Remove website support"
It's not used anymore.

[2018-09-13 14:54] #1538 closed

[2018-09-13 14:55] #1534 closed

[2018-09-14 13:56] terrylau2013 opened #1540 "Can not turn off early_stop flag"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS

[2018-09-14 14:08] kdavis-mozilla commented on #1540
Try `--noearly_stop`

[2018-09-14 16:40] reuben opened #1541 "xxd not installed in ARM test hosts"
When inference produces incorrect results in the ARM tests, the script fails with `xxd: command not found`. See https://tools.taskcluster.net/groups/EylS3vo8SNyOo8KqhwPWmg/tasks/eAGnQcwMTHiHEV3W1cL7LA/runs/0/logs/public%2Flogs%2Flive.log#L2534 and https://tools.taskcluster.net/groups/EylS3vo8SNyOo8KqhwPWmg/tasks/eAGnQcwMTHiHEV3W1cL7LA/runs/0/logs/public%2Flogs%2Flive.log#L2534

[2018-09-14 19:14] #1541 closed

[2018-09-15 06:34] terrylau2013 commented on #1540
@kdavis-mozilla Thanks! this work! Is it TensorFlow standard? All boolean flag use 'no' to set to false?

[2018-09-15 07:05] kdavis-mozilla commented on #1540
Welcome, and yes it's a TensorFlow "thing" as we're using their command line parser[[1](https://github.com/mozilla/DeepSpeech/blob/master/DeepSpeech.py#L143)].

[2018-09-15 07:05] #1540 closed

[2018-09-16 23:52] #1389 closed

[2018-09-16 23:52] reuben opened #1544 "Round weights of exports for space saving"

[2018-09-16 23:53] reuben opened #1545 "Write release notes for v0.2"

[2018-09-17 08:55] kdavis-mozilla commented on #1545
I was about to start on this when I found you have the draft already there. Nice!
I'll read over the draft for typos and the like.

[2018-09-17 09:07] lissyx commented on #1544
Isn't it a dupe from https://github.com/mozilla/DeepSpeech/issues/1272 ?

[2018-09-17 09:44] akshat9425 commented on #435
Is there any pretrained model of indian english pls send me if it exists

[2018-09-17 11:55] reuben commented on #1544
Kinda. #1272 is about making sure it doesn't regress things, this one is about making sure it is handled for the release.

[2018-09-17 11:55] reuben commented on #1544
(I'm doing both today)

[2018-09-17 17:43] b-ak commented on #435
@akshat9425 A couple of us are working towards achieving something on similar lines. We could explore the possibility of collaborating on the same. Write to me bak0@protonmail.com

[2018-09-17 18:51] lissyx commented on #1483
I've started working on that today, I've got our script worker instance fixed and refactored against newer version of scriptworker and asyncio. Now, I'm able to augment the `DeepSpeecs Packages` task with the list of C++ tarball, and properly rename them to avoid name collision. I've also got some PyGithub-backed code to be able to create / use existing release matching tag and perform actual uplo

[2018-09-17 21:47] hordiales commented on #1299
Hi! Any news about this? Someone with the movidius neural stick working in the inference process?

[2018-09-17 22:37] wefgy opened #1547 "哈喽"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2018-09-17 22:54] #1547 closed

[2018-09-18 02:59] #1544 closed

[2018-09-18 04:17] kdavis-mozilla commented on #1545
I've made several passes over the notes and I think they are done.

[2018-09-18 04:17] #1545 closed

[2018-09-18 06:33] badarivishal commented on #1389
Hi @reuben was following this issue for some time. Are the models available now to test? Can you provide the link please? Thanks.
(I had got an older set of models that work with v0.2.0-alpha.9-0. However, the results were quite unsatisfactory. So I decided to wait for closure of this issue to proceed further.

[2018-09-18 06:42] calmncollected commented on #1389
Hi @reuben was following this issue for some time. Are the models available now to test? Can you provide the link please? Thanks.
(I had received an older set of models that work with v0.2.0-alpha.9-0. However, the results were quite unsatisfactory. So I decided to wait for closure of this issue to proceed further.

[2018-09-18 07:50] kdavis-mozilla opened #1549 "Update client hyperparams from trained model"

[2018-09-18 08:05] kdavis-mozilla opened #1551 "Update Readme's to 0.2.0"

[2018-09-18 09:51] #1549 closed

[2018-09-18 15:06] #1551 closed

[2018-09-18 15:20] lissyx commented on #1483
This is done, as you can see with that last test: https://github.com/mozilla/DeepSpeech/releases/tag/v0.2.0-alpha.10

We're working on final 0.2.0 so we need to not steal build cpu, but I'll take care of re-pushing 0.1.1 assets to the 0.1.1 release once the dust settles, using the very same infra !

[2018-09-18 15:20] #1483 closed

[2018-09-18 15:28] lissyx commented on #1272
Done with v0.2.0

[2018-09-18 15:28] #1272 closed

[2018-09-18 15:34] TimMagee opened #1559 "Command provided in README to download pretrained model results in a 404"
Here is the output when the command recommended in the README is executed.

[code]

Try the link and you will see what I mean.

[2018-09-18 15:39] kdavis-mozilla commented on #1559
We are in the process of releasing, give it an hour or so.

[2018-09-18 15:39] #1559 closed

[2018-09-19 06:18] chaitravijendra opened #1560 "Aborted (core dumped)"
Hi,
These are steps that I have followed to install Deepspeech:
1. pip3 install virtualenv
2. virtualenv -p python3 ~/tmp/ds-test/
3.  source ~/tmp/ds-test/bin/activate
4.  pip3 install deepspeech==0.2.0a8
5.  deepspeech --version -a

Gives the the version as:
TensorFlow: v1.6.0-16-gc346f2c
DeepSpeech: v0.2.0-alpha.8-0-gcd47560

When I run the command:
6. deepspeech --model output_graph.pb --alpha

[2018-09-19 08:04] lissyx commented on #1483
And this is done for v0.1.1 as well now: https://github.com/mozilla/DeepSpeech/releases/tag/v0.1.1

[2018-09-19 09:30] lissyx commented on #1507
@NicoHood So, it seems like this is not an issue on our side, but some TensorFlow upstream code, as you can see from current master: https://github.com/tensorflow/tensorflow/blob/0d8942fcbcc9cb3a05be8acc843d1fc4b6dfc9f1/configure.py#L450

You should report that to them.

[2018-09-19 09:30] #1507 closed

[2018-09-19 09:36] lissyx commented on #1560
@chaitravijendra Please use the proper model files. If you use 0.2.0 final release, then use 0.2.0 models, as documented.

[2018-09-19 16:51] reuben commented on #1537
Fixed with the feature caching PR.

[2018-09-19 16:51] #1537 closed

[2018-09-19 16:57] reuben opened #1563 "Non-deterministic output with the streaming model"
Example:

[code]

[2018-09-19 22:49] SalvorinFex commented on #1536
Howdy, I was just linked to this:  https://voices18.github.io/
Could it be used to help in this regard?

[2018-09-19 23:28] wefgy commented on #1563
./deepspeech --model ~/Development/DeepSpeech/1300_export/output_graph.pbmm --alphabet ~/Development/DeepSpeech/data/alphabet.txt --lm ~/Development/DeepSpeech/data/lm/lm.binary --trie ~/Development/DeepSpeech/data/lm/trie --audio audio/repeat
TensorFlow: v1.6.0-18-g50214731ea
DeepSpeech: unknown
2018-09-19 13:54:04.607023: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU supports ins

[2018-09-20 05:15] kdavis-mozilla commented on #1563
Another data point, but this time in the opposite direction.

Compiled v0.2.0 on Ubuntu 16.04, Deep Learning base image from AWS, and ran the native client 80 times over the 8455-210777-0068.wav example audio, each time obtaining the same result.

So maybe it's the wrapping of the native code in Python, Node, or Rust? Or maybe it's some mismatch between the target platform and the platform the cod

[2018-09-20 07:02] alejandro-pnz commented on #692
@reuben
@kdavis-mozilla
Hello! I'm the co-founder of the B2B voice assistant service. I think that we've enough data to make a Russian language support. How can we add support for the Russian in DeepSpeech?

[2018-09-20 07:05] kdavis-mozilla commented on #1536
@SalvorinFex Thanks!

Currently we're planning on using the CC0 audio from [freesound](https://freesound.org/) along with using many random samples of the training set, at a lower in volume, to create a cocktail party data set. But, the VOiCES Corpus also might be a nice addition.

[2018-09-20 08:11] kdavis-mozilla commented on #692
@alejandro-pnz Quick question: How many hours of transcribed audio do you have?

[2018-09-20 11:09] tilmankamp opened #1565 "Parameters for limiting and skipping samples in data-sets not working anymore"
Regression: https://github.com/mozilla/DeepSpeech/pull/1532/files#diff-2f5b069cc3a96ce123ef7356642acb29L99

[2018-09-20 13:50] reuben commented on #1563
I've disabled using the LM decoder in the prod tests as we were getting intermittent failures, we should go back to using the LM there when this is fixed.

[2018-09-20 14:45] NicoHood commented on #1273
@lissyx Could you please GPG sign the new 0.2 release?

[2018-09-20 15:00] lissyx commented on #1273
@NicoHood We have not yet worked on that, sorry.

[2018-09-20 15:15] tilmankamp opened #1568 "Missing allocation of a port and passing it to DeepSpeech.py"
The internal step/job coordinator of `DeepSpeech.py` requires a free port on the host. If more than one DeepSpeech instance runs on one machine, the assigned standard port(s) collide and the second instance will fail and exit.
Things to do:
- Add a `.pitrequest.txt` to the root of the project that allocates 8 GPUs plus one port (`[8:txp,port]`).
- Within `.compute` script: Pass Snakepit's `HOST_GR

[2018-09-20 15:16] alejandro-pnz commented on #692
Right now we have about 50 hours, and will twice this count for every next month.

[2018-09-20 15:20] lissyx commented on #1273
FYI we're reusing some Firefox tooling, scriptworker that is tailored to that purpose, so it's definitively something we will be able to handle.

[2018-09-20 15:21] reuben commented on #1568
Could this be worked around by just binding to port 0 and letting the OS give us a free port, by default?

[2018-09-20 15:26] NicoHood commented on #979
I tried the latest 0.2.0 release of Deepspeech and its models. The recognition is still slow, because it only uses a single core. Any idea how to solve it?

Here is the link to the most up to date PKGBUILD I am using:
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=deepspeech

[2018-09-20 15:42] lissyx commented on #979
@NicoHood As you can remember, every reproduction I've ever seen was using all the cores available. Please share output with `TF_CPP_MIN_VLOG_LEVEL=2` to check how much parallelism gets in.

[2018-09-20 15:46] kdavis-mozilla commented on #692
This will not be enough to train an engine from scratch.

To give a feel for scale. We trained our v0.2.0 model on about 3700 hours of English, and our model, in truth, needs more training data.

[2018-09-20 15:49] lissyx commented on #979
[code]

So I see TensorFlow picking the 32 cores of my CPU.

[2018-09-20 15:57] lissyx commented on #979
@NicoHood Thanks for the AUR link, I guess it means this is indeed packaged now? We should close that issue if that is the case. Then, with proper logging enabled, it'd be great if you could file another issue about that threading issue, because the `PKGBUILD` seems okay to me, and all of the threading is handled by TensorFlow, and it should rely on `pthread` kind of automagically (there are a lot

[2018-09-20 15:58] alejandro-pnz commented on #692
Okay, I've got it. Hope to back later to it after getting enough data.

[2018-09-20 16:20] NicoHood commented on #979
[code]
Output: https://gist.github.com/NicoHood/e797ded67dbad47d7c372dd1450c4f3b

Uses only a single core:
![screenshot from 2018-09-20 18-16-57](https://user-images.githubusercontent.com/6888294/45832315-dcb0ee80-bd01-11e8-93d4-9b0bab870cfb.png)

The PKGBUILD is not completed yet, as the python bindings are not yet packaged. I try to solve those issues now and prepare a PR for future versions.

[2018-09-20 17:39] lissyx commented on #979
Well, according to this log:
[code]

Thread are indeed properly used. Your chart does not document a lot of what is each line, but so far, I don't see what can be done.

[2018-09-20 17:41] lissyx commented on #979
@NicoHood Can you share more details on your setup, on how you proceed to compare and what you consider « too slow » ?

[2018-09-20 18:31] tilmankamp commented on #1568
It would do it (preventing collision), but it's not the "correct" future-proof and fair way.
Imagine a competing job (not necessarily DeepSpeech.py) on the same node that asks for a series of ports. As ports have to be announced to all job-tasks on creation, the reserving daemon (Snakepit) cannot already bind to them (and by that reserve them on system level). You can see that this can easily end

[2018-09-20 18:32] lissyx commented on #979
@NicoHood So, I do see 32 threads kicking in, and computing. Maybe not super-efficient, but that's another issue. It'd be great if you could share your exact STR and hardware, so we can see how bad it is for you.

[2018-09-20 19:03] reuben commented on #1568
Gotcha.

[2018-09-20 21:12] NicoHood commented on #979
Slow means it takes longer to analyze than the audio is long. Maybe it uses multiple threads, but they are all on a single core. And that is the limit for the threads to execute. Your screenshot shows the exact same problem I guess. Maybe a single core is faster for you, so its still quite fast.

Intel(R) Core(TM) i7-4702MQ CPU @ 2.20GHz

[2018-09-21 01:53] zhushengwen opened #1570 "docker build error"
centos-release-7-5.1804.4.el7.centos.x86_64

Step 48/62 : RUN bazel build --config=monolithic --config=cuda -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" --copt=-mtune=generic --copt=-march=x86-64 --copt=-msse --copt=-msse2 --copt=-msse3 --copt=-msse4.1 --copt=-msse4.2 --copt=-mavx --copt=-fvisibility=hidden //native_client:libdeepspeech.so //native_client:generate_trie --verbose_failures

[2018-09-21 05:31] lissyx commented on #979
We need more than just "it takes longer". TensorFlow controls the parallelism of the ops, we don't have that much control over it. It's possible there is just not enough to do accross multiple cores?

[2018-09-21 05:33] lissyx commented on #979
Running inference also has some setup costs, and depending on **how** you measure this might give your the feeling that things are slow.

[2018-09-21 05:33] lissyx commented on #1570
I feel you are running your of memory? @zhushengwen

[2018-09-21 05:55] kdavis-mozilla opened #1572 "Move to TensorFlow 1.11"

[2018-09-21 06:51] lissyx commented on #1520
It's done.

https://github.com/mozilla/tensorflow/commit/d38d945dcf94382a737ffb252a733c7f30bf7d2e
https://github.com/mozilla/DeepSpeech/commit/d0035d8583e2cdcc23b7ab60fefa8d0bfddd14eb

[2018-09-21 06:51] #1520 closed

[2018-09-21 13:32] NicoHood commented on #979
No matter how it works, it is slow. 10 seconds for a 3s long audio:
[code]

[2018-09-21 13:45] lissyx commented on #979
@NicoHood Thanks for those figures :). The way you perform testing does matter. Could you try with the following?
 - use the `.pbmm` file, this avoid a lot of memory allocations
 - give a directory with multiple WAV inside for the audio, and not just a file, this will run multiple times and will allow to see the difference between a first slower run
 - pass the `-t` flag to see how much time is in

[2018-09-21 13:56] lissyx commented on #979
Also, just in case, would you mind giving a try in comparison with our binaries ?

[2018-09-21 13:56] NicoHood commented on #979
[code]

[2018-09-21 13:58] NicoHood commented on #979
So it looks like the setup time is slow, but the processing itself is "okay". To me it still does not like it is using all available system resources. It is too slow for real world scenarios.

I am not sure if your binaries work, as they might be linked against too old libraries. I will try.

[2018-09-21 14:03] lissyx commented on #979
@NicoHood Thanks for those figures, it gives a better understanding. Now, those look a bit slow, but that's closer to what we would expect. Now, it'd be interesting if you could share your expectations as "real world scenarios" and "using all available system resources".

Regarding the libraries, for a quick test, if you worry about sox, you should be able to use newer sox (or sox3) named as `libs

[2018-09-21 14:09] lissyx commented on #979
@NicoHood Just pick the `native_client.tar.xz` linux CPU build, it should bundle everything except libsox, and you can copy and rename it next to the binary.

[2018-09-21 14:10] NicoHood commented on #979
My real world scenario is:
I use snowboy to detect a hotword and record the sound said afterwards. Then I process it with deepspeech to turn the lights on. A Processing of 10 seconds means 10 additional seconds to wait until the light turns on, excluding the light API delay. That is too slow.

Use all available system resources simply means all CPU cores. My CPU is mostly idle, as in the screensho

[2018-09-21 14:12] lissyx commented on #979
@NicoHood In such kind of setup, you would have the model already loaded except if you want to call the binary each time, depending on the infrastructure you are working on. One would need to precisely profile to understand ...

[2018-09-21 14:17] NicoHood commented on #979
With the native client from you, and libsox3 as you explained:

[code]

Seems to be no difference

[2018-09-21 14:32] NicoHood commented on #979
It is faster, but the output is not as precise:
[code]

[2018-09-21 14:39] lissyx commented on #979
@NicoHood Thanks! That's progressing! Do you mind doing the same with the `stderr` redirection and piping everything into `ts`, just to get a better granularity? And give a try to the `pbmm`, even though I don't think it's going to have a huge impact now.

[2018-09-21 14:42] NicoHood commented on #979
what is ts? Do you mean with debug symbols?

[2018-09-21 14:44] lissyx commented on #979
It's a small binary that is able to timestand anything piped on its `stdin`. On debian, it's packaged in `moreutils` :)

[2018-09-21 14:49] NicoHood commented on #979
[code]

[2018-09-21 14:55] lissyx commented on #979
@NicoHood Thanks, and with the `--lm` and `--trie` ? And `.pbmm` file?

[2018-09-21 15:03] NicoHood commented on #979
[code]

[2018-09-21 15:11] lissyx opened #1573 "trie file loading time regression"
With 0.2.0, it seem we can see long latency when loading the language model:
[code]

Also at: https://github.com/mozilla/DeepSpeech/issues/979#issuecomment-423564244

[2018-09-21 15:14] reuben commented on #1573
We changed from a hashtable-based model to a tree-based model, *and* increased the model size. Since the motivation for going with a trie was space savings, but we ended not making any, it'd be interesting to know if reversing to a hashtable improves loading times.

Also did you add the Epic label on purpose?

[2018-09-21 15:15] lissyx commented on #1573
Oops.

[2018-09-21 17:00] lissyx commented on #1573
Well, at least now thanks to your work, we can reproduce the language model, so the trie / probing type is an easy to evaluate issue ...

[2018-09-21 18:42] lissyx commented on #1477
@michaelklachko Would you mind making that a PR ? You've already made nice progress on that, and this would kill #1531. I guess the rationale for this tensorflow download is just we used it without thinking back then, and that's it.

[2018-09-21 18:44] #1046 closed

[2018-09-21 18:46] lissyx commented on #821
I'm not sure there is anything to do for us here. A discussion should be better taken on Discourse: https://discourse.mozilla.org/c/deep-speech

[2018-09-21 18:46] #821 closed

[2018-09-21 18:48] #720 closed

[2018-09-21 18:49] lissyx commented on #691
Closing, because it's not accurate anymore.

[2018-09-21 18:49] #691 closed

[2018-09-21 18:50] lissyx commented on #490
We removed website support

[2018-09-21 18:50] #490 closed

[2018-09-21 19:17] kdavis-mozilla commented on #1573
@lissyx It was all @samgd's work on the language model. Thanks @samgd!

[2018-09-21 22:36] elpimous commented on #1513
hello, @gangyahaidao ,
i have same error : tensorflow/contrib/rnn/kernels/lstm_ops.cc:844] BlockLSTMOp is inefficient when both batch_size and input_size are odd. You are using: batch_size=1, input_size=375

how did you solve it ? Thanks

[2018-09-21 23:46] dawningo commented on #1195
same error on virtualenv & ubuntu, solved by @spyamine 's solution. thanks a lot!!

[2018-09-23 05:19] ZeeshanSultan opened #1574 "No Improvement (Model deterioration after training)"
I have the latest version of the library and the model downloaded as of today.
I wanted to fine tune the model with my own dataset specifically automated voice samples

The data consisted of 9 audio files:
transcripted as

Here is the dataset file as well
[dataset.zip](https://github.com/mozilla/DeepSpeech/files/2408425/dataset.zip)

Initially before training the output transcription was as follow

[2018-09-23 22:47] reuben opened #1575 "Add an examples section to the README"
Would be nice to mention the ds_mic.py gist as well as @elpimous's VAD+inference code in the README somewhere.

[2018-09-24 04:53] lissyx opened #1576 "Explore French fine-tuning over English model"
Thanks for @nicolaspanel's work, there is a dataset of roughly 200 hours already available that we should be able to use: https://github.com/nicolaspanel/TrainingSpeech

It'd be great to:
 - write an importer for that, so one can use this as a datasource in the dataset mix
 - try and experiment with fine-tuning of the English model with those french data

[2018-09-24 05:14] lissyx opened #1578 "Update Dockerfile to r1.11"
With #1572 being in flight, the `Dockerfile` will need to be updated.

[2018-09-24 05:15] lissyx commented on #1578
@GeorgeFedoseev If you have time, it'd be great :)

[2018-09-24 05:41] akshat9425 opened #1579 "Indian english accents"
Do you have any pretrained model for speech to text with indian english or dataset/model which i use of training?

[2018-09-24 06:42] nicolaspanel commented on #1576
thanks @lissyx
To be precise, it is "only" 100h so far.
Still working on it to find/validate more sources and diversity.

[2018-09-24 07:50] kdavis-mozilla commented on #1579
Sorry we don't.

But if you have a data set of Indian accented English, you could fine tune our model. An alternative would be to use the subset of the Common Voice data set tagged with having an Indian accent and fine tune with that.

[2018-09-24 07:50] #1579 closed

[2018-09-24 07:59] kdavis-mozilla commented on #1574
Thanks for trying out fine tuning with Deep Speech!

That said, we try to reserve issues for bugs or enhancements. General discussions on for example fine tuning are held in our [Discourse Forum](https://discourse.mozilla.org/c/deep-speech). So I'm wondering if you could move this discussion there where we can better address it. Thanks.

[2018-09-24 07:59] #1574 closed

[2018-09-24 16:14] janb14 opened #1581 "Fails to built on FreeBSD 11.2"
Im trying to built the native client for FreeBSD but get an error in the last file bazel trys to compile.
My Specs:
-Modified code: replaced needed Systemdefs in native_client/kenlm/util/usage.cc
-OS: FreeBSD 11.2 (Jail)
-Tensorflow 1.10.0-rc1 modified from original Github
-Python 3.6
-Bazel 0.17.1(selfbuilt from source)
-GCC version 6.4.1 20180516
-command that fails:
`bazel build --local_resourc

[2018-09-24 16:34] janb14 commented on #1581
The thing is that the error revolves around an external lib you are using double_conversion that i already have compiled on my system. Is it possible to rather import this file over using the BUILT instructions given ?

[2018-09-24 17:07] lissyx commented on #1581
If you are doing that with current master, then it's not surprising: use TensorFlow r1.6, and Bazel 0.10: TensorFlow after ~r1.7-r1.8 started to use `double_conversion` that is already in `KenLM`. I'm right now in the process of updating to `r1.11` and this will be namespaced properly.

Feel free to re-open if you still hit issues after https://github.com/mozilla/DeepSpeech/issues/1572 :)

[2018-09-24 17:07] #1581 closed

[2018-09-24 17:35] janb14 commented on #1581
As i cant get tensorflow 1.6.0 to work on FreeBSD and only this lib fails in Deepspeech is there a possibility of a quick fix ? I already looked into bazel using precompiled libs but i cant find the entrypoint for doubleconversion.

[2018-09-24 17:43] lissyx commented on #1581
@janb14 Why 1.6 would not be okay on TensorFlow ?

[2018-09-24 17:44] lissyx commented on #1581
@janb14 But basically, once all tasks are green here: https://tools.taskcluster.net/groups/d0jtpt5cQqCZwn7lAcjK1A I'll be able to merge the r1.11 move. It might be no later than after I arrive home.

[2018-09-24 17:47] janb14 commented on #1581
when i checkout tensorflow 1.6 and try to built i get alot of bad cpu defs. i need to agree in tensorflow not beeing made for FreeBSD as nothing is rly XD. Even for 1.10 i needed to patch files for a couple of hours as FreeBSD is not supported :/

[2018-09-24 18:31] #1572 closed

[2018-09-24 18:32] lissyx commented on #1581
@janb14 Just merged, if you get latest master, this should now be r1.11-based.

[2018-09-24 18:38] janb14 commented on #1581
@lissyx thx alot man i will give it a go ^^

[2018-09-24 19:02] nicolaspanel commented on #1576
@lissyx @kdavis-mozilla I can help for the importer.
Do you have a working exemple I can inspire from ?
Best regards

[2018-09-24 19:09] janb14 commented on #1581
wow man it worked even with 1.10.0-rc1 as a base. just need some proper testing now.

[2018-09-24 19:34] lissyx commented on #1576
Maybe `bin/import_cv.py` or others `import_*` scripts?

[2018-09-25 05:40] luomingshuang commented on #1023
i can run my code, but the results make me sad, it can't export the correct  inference result....just can export 'i' and 'h'......
![tupiwn24](https://user-images.githubusercontent.com/37799481/45994957-8c9ea700-c0c8-11e8-8e28-57fa60650116.png)

[2018-09-25 05:55] HaridharKalvala opened #1583 "Deep Speech: Illegal Instruction"
on running deep speech on one of system get this error
: deepspeech -h
Illega Instruction : core dumped

whereas on another system , it execute fine.

Going through issue; found that first system donot support ANX instruction set.
so,want to know what is the alternate method to run the same ?

[2018-09-25 06:19] lissyx commented on #1023
@luomingshuang Please avoid spamming issues with unrelated bugs, and do not use screenshots for debugging.

[2018-09-25 06:48] JunaidMuthukadan opened #1584 "FormatLoadException/Data loss: Can't parse models/output_graph.pbmm as binary proto"
I am not able to find a solution for this error.. if anyone could help it would be really appreciated

[code]

[2018-09-25 06:52] lissyx commented on #1584
@JunaidMuthukadan Can you document a bit more what you are doing ?
Can you share the output of `sha256sum models/*` ?

[2018-09-25 08:57] JunaidMuthukadan commented on #1584
i have installed deepspeech library and and just testing with an input file in a gpu.
i have already downloaded the trained model (latest) and extracted all files in models folder?
what is  sha256sum?

[2018-09-25 09:44] sruteesh-pivot opened #1585 "Interim results with streaming"
Hi,
I started playing around with streaming inference.

As it anyway doesn't give us interim results, why not use the earlier architecture Bi-LSTM and send recorded audio files split on silence (maybe using VAD) and continuosly transcribe.
Is speed of inference the only advantage streaming service is offering?

I modified [ds_mic.py](https://gist.github.com/reuben/80d64de15d1f46d34d28c7e83fc5f57e#

[2018-09-25 09:53] lissyx commented on #1584
@JunaidMuthukadan It would help that you document your installation steps. For example, this would help identify that you are not using 0.2.0 binaries. So I don't know the kind of mix you are trying to attempt, but we added positionnal arguments weeks ago now. Make sure your model is 0.2.0 from the latest release and your binaries are 0.2.0 as well.

[2018-09-25 09:56] lissyx commented on #1585
@sruteesh-pivot I'm not really sure I get the point of your issue. There is no bug described, and the goal of the architecture change was explicitely to **avoid** the kind of hack you document. Of course, we could have some kind of streaming done that way, but this would still come with the extra complexity cost of the bidirectionnal layer.

If you want to discuss the architecture, Discourse https

[2018-09-25 09:56] #1585 closed

[2018-09-25 10:28] akshat9425 opened #1586 "Op type not registered 'BlockLSTM' in binary running on user-OptiPlex-3020M."
i follow all instructions provided on link : https://progur.com/2018/02/how-to-use-mozilla-deepspeech-tutorial.html

and i am using https://github.com/mozilla/DeepSpeech/releases/download/v0.2.0/deepspeech-0.2.0-models.tar.gz model

Below is error i got
Not found: Op type not registered 'BlockLSTM' in binary running on user-OptiPlex-3020M. Make sure the Op and Kernel are registered in the binary r

[2018-09-25 10:38] lissyx commented on #1586
@akshat9425 Please refer to our documentation for release v0.2.0, this blog post is not from us and is now outdated.

[2018-09-25 10:38] #1586 closed

[2018-09-25 10:54] akshat9425 opened #1587 "Op type not registered 'BlockLSTM' in binary running on user-OptiPlex-3020M"
Using model:  https://github.com/mozilla/DeepSpeech/releases/download/v0.2.0/deepspeech-0.2.0-models.tar.gz

below is the issue i am facing
Not found: Op type not registered 'BlockLSTM' in binary running on user-OptiPlex-3020M. Make sure the Op and Kernel are registered in the binary running in this process.

[2018-09-25 11:43] akshat9425 opened #1588 "how to use v0.2.0-alpha.9"
i found an error and its solution is in link  : https://discourse.mozilla.org/t/inference-troubles-not-found-op-type-not-registered-blocklstm/31061/2

but i don't know that what they actually want to say by using v0.2.0-alpha.9 which is present in your site https://github.com/mozilla/DeepSpeech/releases

in short : how to use v0.2.0-alpha.9

waiting for reply