[2020-06-18 11:19] #3082 closed

[2020-06-18 11:20] lissyx commented on #3084
This is a support request, not a bug report. Please use Discourse as documented in the issue template you removed.

Also, have you `git clone` as documented? The error suggests no ...

[2020-06-18 11:20] #3084 closed

[2020-06-18 13:09] lissyx opened #3086 "Leverage TensorFlow r2.2"
- [x] Move DeepSpeech to r2.2 #2952
 - [x] Run evaluation on tensorflow + tflite to verify #3093

[2020-06-18 13:11] dothehansa commented on #3063
Closing this one - reuben was correct, not a problem with windows, just a problem with data.

thanks for your help both.

for anyone stumbling across this - I used sox's vad to clip my sentences & it was too aggressive, leading to a few 0kb files - less aggressive settings has resolved.

[2020-06-18 13:11] #3063 closed

[2020-06-18 19:39] andrenatal opened #3088 "Internal: Failed to call ThenRnnForward with model config: [rnn_mode, rnn_input_mode, rnn_direction_mode]: 2, 0, 0 , [num_layers, input_size, num_units, dir_count, max_seq_length, batch_size, cell_num_units]: [1, 2048, 2048, 1, 31 , 12, 2048]"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux

[2020-06-18 20:50] DanBmh opened #3089 "Overlay augmentation hangs after first epoch"
Using overlay augmentation is not stable, it does work for the first train and val epoch, but then it stops working at epoch 1 step 0. No error message, it just not continuing to step 1.

Flag used: `--augment overlay[p=0.5,source=/DeepSpeech/data_prepared/noise/train.csv,layers=2:1,snr=50:20~6]`
I dont use the `--feature_cache` flag.

I think may be related to the number of noise files, because i

[2020-06-19 07:33] tilmankamp commented on #3089
@DanBmh This sounds like a problem similar to the one I am currently debugging. Up until now I thought this would be related to the (new) caching logic. But your hint on the overlay augmentation is a highly appreciated data point. Will look into it now.

A question: Is this happening only in case of the overlay augmentation?

[2020-06-19 09:00] DanBmh commented on #3089
The full command I use is:
[code]

I think this is related to the overlay augmentation. Yesterday i did forget the `--` in the `--augment overlay` flag of my cocktailparty augmentation (it seems it left out this augmentation), I did test it again now (with the correct flag) and I have now the same problem with the speech files instead of the noise files too. In both cases it stops after the first

[2020-06-19 10:22] #3089 closed

[2020-06-19 12:38] DanBmh commented on #3088
I also did get similar errors lately. In my case it often occurs at the end of an epoch.
Training works normally for a few epochs before i get the error. Mine has some different numbers than yours:

[code]

Reducing the batch size helped me to get this error later in the training, this may be a workaround you can try.

[2020-06-19 17:39] DanBmh opened #3092 "Training performance drop after augmentation refactoring"
I have the feeling that the training performance, duration and accuracy, got worse after the augmentation refactoring commits.

Before the training of my dataset took about 2:10h and today it took 3:20h, with about the same number of epochs. At the beginning one epoch takes about 5min, but after epoch 18 they suddenly need 8min on average. I didn't see this behaviour in the trainings two days ago.

[2020-06-19 18:04] andrenatal commented on #3088
I have tried reducing the batch size, but to no avail.

On Fri, Jun 19, 2020, 5:38 AM DanBmh <notifications@github.com> wrote:

[2020-06-19 20:56] DanBmh commented on #3092
I did run another test with the code directly before the refactoring (#188a6f2c1ee53dc79acf8abceaf729b5f9a05e7a).

This time one epoch takes 4min on average and the whole training took 1:45h.
| Dataset | Additional Infos | Losses | Training epochs of best model | Result |
|---------|------------------|--------|-------------------------------|--------|
| Voxforge | | Test: 28.846869, Validation: 32

[2020-06-20 09:06] RishabhDahale commented on #2985
Hi. I'm new to open source and would try to contribute to this issue. @JRMeyer can you please link to the files that needs to be edited?

[2020-06-20 12:43] erksch commented on #2937
@lissyx Sorry for getting back so late, we shifted priority away from the windows recently.
I have the same NuGet configuration as @carlfm01 suggested.
I just created a fresh UWP app, added DeepSpeech (0.7.4) as a reference, and tried to include the DeepSpeechClient class and it is not found. So as usual.
I still have to use the workaround as mentioned in [my comment from above](https://github.com

[2020-06-20 13:18] lissyx commented on #2937
Well i know nothing about the .Net framework 😢

[2020-06-20 13:56] carlfm01 commented on #2948
@kdavis-mozilla Yes, I can take it

[2020-06-20 14:00] carlfm01 commented on #2937
Today I can look into this.

[2020-06-21 01:37] carlfm01 commented on #2937
@erksch Thanks for the update and you are correct :

I'm testing with NuGet locally to send a patch.

[2020-06-21 06:51] carlfm01 commented on #2937
Ugh this will require more effort for UWP support, best case I only add the target (Which seems not to work), and the worst case I'll need to change project type completely and change cluster packing logic :/

[2020-06-21 14:00] lissyx commented on #2937
While unfortunate, I think it would be a good move if it helps making the library being usable to UWP. Is it complicated? Maybe @erksch could help here if you are overloaded :-)

[2020-06-21 15:16] erksch commented on #2937
I mean the library is totally usable on UWP. It just requires some manual steps to get it done. If fixing that is out of scope maybe a small workaround guide would be enough.

[2020-06-22 06:02] carlfm01 commented on #2937
+1 Here, it also makes easier to introduce Net core support :)

I can take, maybe later for testing. I wanted to touch .Net Core and I think this is the door.

Just luck, digging docs we should not pack net framework build as UWP, there are even min/max win sdk versions missing on the NuGet packing. I feel it can explode any time if we pack net framework version.

I will upgrade project type aimin

[2020-06-22 09:48] tilmankamp commented on #3092
@DanBmh Augmentations `volume` `gaps` `reverb` `codec` `resample` and `overlay` are most likely not responsible for this discrepancy as their implementations has not been changed during refactoring. For the others it'd be helpful to compare them one by one with their former implementations to get a better understanding of the problem. I'll do some performance tests here.

[2020-06-23 08:08] kdavis-mozilla commented on #3088
@andrenatal What version of CuDNN version you are using? Currently with TensorFlow 1.15 depends on CUDA 10.0 and CuDNN v7.6.

[2020-06-23 09:43] lissyx commented on #2937
Do you think you can have enough time for 0.8 for that ?

If not, can we at least document this workaround more or less officially?

[2020-06-23 09:54] carlfm01 commented on #2937
Yes.

[2020-06-23 09:58] lissyx opened #3093 "Compare 0.7.4 r1.15 vs r2.2 TFLite WER on LibriSpeech test-clean"

[2020-06-23 09:59] lissyx commented on #3093
With `deepspeech-tflite` v0.7.4 r1.15:
[code]

[2020-06-23 10:07] lissyx commented on #3093
[code]

[2020-06-23 10:08] lissyx commented on #3093
Same WER, 4th digit CER small change.

[2020-06-23 10:08] #3093 closed

[2020-06-23 12:17] #3086 closed

[2020-06-23 14:38] lissyx opened #3095 "Windows CI breakage"
[code]

[2020-06-23 15:59] #3095 closed

[2020-06-23 16:40] lissyx opened #3096 "Scorer creation should not depend on Python + deepspeech_training"
This is breaking local scorer generation on some devices where:
 - either we don't have python
 - eitehr we don't/can't have `deepspeech_training` installed

[2020-06-23 16:45] tilmankamp commented on #3092
My observations so far:
- Regarding **batch size**: I got the biggest difference to the old implementation when switching from the former combined  `--augmentation_pitch_and_tempo_scaling` to `--augment pitch` plus `--augment tempo`. This additional memory requirement comes from the doubling of certain allocations as the involved ops are not part of one augmentation sub-graph anymore. With the ref

[2020-06-23 16:49] andrenatal commented on #3088
I tried all versions that @reuben provided, inclding CuDNN 7.6

[2020-06-23 18:22] SirZontax opened #3099 "No working download links found for ds_ctcdecoder==training/deepspeech_training/VERSION"
Hello,

when I trie to use the `setup.py` on from `version 0.7.4` it always calls this error:

`No local packages or working download links found for ds_ctcdecoder==training/deepspeech_training/VERSION error:
Could not find suitable distribution for Requirement.parse('ds_ctcdecoder==training/deepspeech_training/VERSION')`

With the `version 0.7.3` and older it finds the ds_ctcdecoder but always ca

[2020-06-24 08:29] lissyx commented on #3099
Please note we don't support training on Windows.

`training/deepspeech_training/VERSION` should be a file, can you verify and share its content

Please share more explicit `pip install -v` logs. It could also be related to the fact that ... we don't support training on Windows ?

We made no change to the dependencies, so if it's your issue it's not going to be solved.

[2020-06-24 10:01] lissyx opened #3101 "Supporting TFLite delegates"
We should try and explore how we can properly leverage those. Delegates as of TensorFlow r2.2 would support:
 - GPU on Android (OpenGL)
 - Qualcomm Hexagon on Android
 - CoreML on macOS / iOS

Some might require graph changes, but for now this issue is only about plumbery work on the library side as well as maybe required API evolution.

[2020-06-24 10:03] #3101 closed

[2020-06-24 10:03] lissyx commented on #3101
Dupe of #2270

[2020-06-24 16:44] dabadiesimon opened #3102 "Required version of ds-ctcdecoder does not exit"
Running on Debian 9.12 - Python  3.7.6- deepspeech-training==0.9.0a0

when executing `pip3 install --upgrade -e .`

Deepspeech requires _ds_ctcdecoder==0.9.0-alpha.0_.
However, this version does not exist as can be seen on [dedicated pypi.org page](https://pypi.org/project/ds-ctcdecoder/#history)

Full error:

[2020-06-24 16:45] hadpro24 commented on #3099
I'm in lunix but it's not work

[2020-06-24 16:50] kdavis-mozilla commented on #3102
This can be resolved by using a release, e.g. 0.7.4, or pre-release, e.g. v0.8.0-alpha.4, not master.

[2020-06-24 16:50] hadpro24 commented on #3099
I'm in lunix but pip can't finde the version ds_ctcdecoder

[2020-06-24 16:55] lissyx commented on #3102
Thanks for the report.
@dabadiesimon Yeah I moved the `VERSION` file without releasing an alpha build. As said earlier, move to a release tag or be patient and within a few hours a 0.9.0a0 should be there.

[2020-06-24 16:55] #3102 closed

[2020-06-24 16:57] lissyx commented on #3099
Please be more precise. You could be hitting #3102.

[2020-06-24 16:59] dabadiesimon commented on #3102
Yes, just to let you know.
Thanks for the quick answers

[2020-06-24 21:39] lissyx commented on #3102
The 0.9.0a0 has been uploaded.

[2020-06-25 09:49] adjouama opened #3104 "[BUG?] import_cv2.py returned non-zero exit status 1."
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: Your builds
- **TensorFlow version (use command below)**: v1.15.0-92-g5d80e1e 1.15.2
- **Python version**:  Python 3.7.3
- **Bazel versio

[2020-06-25 11:25] lissyx commented on #3104
That does not give more information, since the error states that it could not find a valid WAVE file. Are you sure your `sox` setup is fine and able to convert from MP3 ?

So the file exists, but what is it ? Empty ? Something else ?

It would have been nice to follow the documented steps of asking support on Discourse and providing more logs, there's nothing actionable here.

[2020-06-25 13:42] adjouama commented on #3104
First, thank you a lot for the quick reply.

Actually, you are right. I have updated ffmpeg ```sudo apt install ffmpeg``` then deleted all the previously created wav then restarted the ```bin/import_cv2.py``` and now it works fine. I hope this fix can be helpful for other users.

I really apologize. It is my first time here. forgive my ignorance, I will post on Discourse next time.

Thank you a lo

[2020-06-25 13:43] #3104 closed

[2020-06-25 13:50] lissyx commented on #3104
Is there any doc improvement that would have helped you ?

At least you filled the template and exposed your issue, that could have been worse :).

Good to know you now have a working setup, thanks for you quick feedback!

[2020-06-26 09:25] reuben opened #3105 "Generate scorer package without training code/Python dependency"

[2020-06-26 09:26] reuben opened #3106 "Leverage libdecoder.a in ds_ctcdecode Python package instead of replicating the build"

[2020-06-26 12:24] lissyx commented on #2895
So I have a PR with:
 - tensorflow as a submodule
 - taskcluster scripts / definitions from tensorflow moved into deepspeech
 - task graph dependencies between deepspeech and tensorflow
 - definitions of tensorflow builds that **should** be using the generic build/cache mechanism

still a lot to complete, but it's on track.

[2020-06-26 14:43] adjouama commented on #3104
I think the doc covers really everything. Very well done @lissyx !
Maybe, the only thing I still did not find in the Doc is the best parameters to train models on the proposed datasets (common voice for instance).

I am almost sure that such a Doc is somewhere there, I just did not find it yet maybe :-)

My best regards,

[2020-06-26 14:47] lissyx commented on #3104
There is no such doc, because it depends too much on what you are working on, what datasets your are mixing, etc. Best source of infos for that for the moment is digging through the Discourse forum.

[2020-06-26 14:58] adjouama commented on #3104
Basically, I am trying to train a Speech-to-Text model based only on CommonVoice English dataset. And use it for real time captioning, later on, if satisfied enough, I will add my own dataset which has ~15h (not much I know :-) )

I'd be happy if you can send me on the good path ^^ in the meantime, I will dig deeper on discourse.

I really appreciate your reactivity :-)

[2020-06-26 15:05] lissyx commented on #3104
It's not that I dont want, it's just that we don't have data at all: our training on Common Voice English are with other datasets, and those parameters are already documented in releases.

[2020-06-26 15:23] adjouama commented on #3104
Perfect 👍  Thank you a lot @lissyx

[2020-06-26 20:42] SirZontax opened #3109 "SoXI failed with exit code 1"
Hello,

I tried to use the `import_cv2.py` for the common data set. When it starts with the last phase (`train.tsv`) always on `49%` it calls this error:

`
ultiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/sox-1.4.0b0-py3.6.egg/sox/core.py", line 149, in soxi
    stderr=subprocess.PIPE
  File "/usr/lib/python3.6/subprocess.p

[2020-06-26 20:53] #3109 closed

[2020-06-26 20:54] lissyx commented on #3109
This is not a bug in our code, so please use Discourse for support. Please run sox manually on that file to share a more actionable error.

[2020-06-27 19:06] use-to commented on #3057
@lissyx Maybe you can better use the github webhooks instead of the scriptworker to link to github on the docker hub page. Also, the automatic builds of docker hub could speed up the pipeline.

[2020-06-27 19:25] use-to opened #3110 "Better GitHub issue and pull-request templates"
GitHub offers the useful option of [issue and pull-request templates](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates).
In this project, it would be an advantage to have multiple distinc templates for different purposes. For example, an issue for a bug report should look different than an issue for a feature request.

In addition, these template

[2020-06-27 19:50] use-to opened #3111 "Improve dockerization"
Besides the changes in #3057, the following suggestions for better handling of the docker containers could be useful for users, developers and testing instances:
- [ ] [`Dockerfile`](https://github.com/mozilla/DeepSpeech/blob/master/Dockerfile) only for speech-to-text as base docker image
- [ ] [`Dockerfile.train`](https://github.com/mozilla/DeepSpeech/blob/master/Dockerfile.train) for training a

[2020-06-27 19:56] use-to commented on #3057
@lissyx There is already an [existing docker hub account by mozilla](https://hub.docker.com/u/mozilla). It should be better to request access for that organization instead of creating a new one.

[2020-06-28 12:48] kareemamrr opened #3112 "Can't run inference from command-line using the pretrained model"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux

[2020-06-28 12:50] reuben commented on #3112
It looks like you're not using the right version of the client to match the model version (0.6.1). Make sure you always use a client matching the version of the model you're running. You can find the 0.6.1 downloads here: https://github.com/mozilla/DeepSpeech/releases/v0.6.1 and the documentation here: https://deepspeech.readthedocs.io/en/v0.6.1/

[2020-06-28 13:09] kareemamrr commented on #3112
Thank you!

[2020-06-28 13:09] #3112 closed

[2020-06-29 08:24] lissyx commented on #3057
There's a reason we use `scriptWorker`, maintaining two different CI / CD pipeline will be a burden.

[2020-06-29 12:20] #3111 closed

[2020-06-29 13:40] tilmankamp opened #3114 "Add epoch number to all log messages during training"
Log messages of new best validating checkpoints and plateau encounters don't carry epoch numbers. This makes it harder than necessary to assess training progress using grep.

[2020-06-29 17:01] mrstegeman commented on #3105
Duplicate of #3096?

[2020-06-29 20:45] reuben commented on #3105
Yes. I keep doing this :P

[2020-06-29 20:45] #3105 closed

[2020-06-29 21:43] AlexeyKruglov opened #3115 "Mention license of code and trained models in release notes"
[LICENSE](https://github.com/mozilla/DeepSpeech/blob/master/LICENSE) file states MPL-2.0 license, at least for code.

[doc/DeepSpeech.rst](https://github.com/mozilla/DeepSpeech/blob/master/doc/DeepSpeech.rst) file states MPL license for both code and the pre-trained weigths: "Open, in that the code and models are released under the Mozilla Public License." This contradicts LICENSE file. Either Dee

[2020-06-29 21:48] reuben commented on #3115
"Mozilla Public License" in the docs is referring to the MPL-2.0, there is no inconsistency: https://www.mozilla.org/en-US/MPL/

Thanks for the suggestion about the release notes, I'll add this issue to the next release project so we don't forget to mention the license in the notes.

[2020-06-30 09:20] lissyx commented on #3099
@SirZontax Please, can you keep us updated ?

[2020-06-30 09:29] lissyx commented on #3088
@andrenatal I know you already tested a lot of things, but this forum entry is interesting: https://forums.developer.nvidia.com/t/gpu-crashes-when-running-machine-learning-models/108252
 - the error message is the same
 - it's on gtx 1080 ti
 - issue seems to be related to Python 3.6

Can you give it a spin with Python 3.7 ?

[2020-06-30 12:49] reuben commented on #3061
Some initial tests on device (iPhone Xs), averaged across 3 runs:

no scorer, cold cache: RTF 0.60x
no scorer, warm cache: RTF 0.48x
with scorer, cold cache: RTF 0.55x
with scorer, warm cache: RTF 0.24x

[2020-06-30 18:41] reuben commented on #3061
@lissyx could you give me a quick overview of what it would take to test changes to macOS workers in an isolated environment? Like, say, adding a macos-heavy-b worker type and spawning tasks with it to test.

[2020-06-30 18:46] reuben commented on #3061
My probably incomplete idea:
1. Make PR against https://github.com/mozilla/community-tc-config/blob/master/config/projects/deepspeech.yml adding new worker instance with -b type.
2. Wait for it to be landed and deployed.
3. Make a copy of one of the existing worker images, change the worker type, make modifications.
4. Spawn tasks against new worker type.

[2020-06-30 18:49] reuben commented on #2978
Partially done in #3009. Updated in #3113. Going to add a reference to the main decoder doc as well.

[2020-06-30 20:16] #2941 closed

[2020-06-30 20:17] SirZontax commented on #3099
Hello, the thing is you said you didn't changed the dependencies but it doesn't find the download site/version from the text document

[2020-06-30 20:25] lissyx commented on #3099
Sorry, but I don't understand that statement. I've asked for several things, you've documented nothing. We can't fix bug that we don't reproduce and that you don't explain.

[2020-06-30 20:30] lissyx commented on #3061
You'd have to use the script that is on the worker #1 `prov.sh`, and you'd have to update the base image prior to that because I have not done it:
 - `generic-worker` version
 - `taskclusterProxy`
 - `generic-worker.json` config update

We don't have a nicer way to spin new workers mostly because it's not something we needed to do often and because it'd require again much more tooling. Given the c

[2020-06-30 20:43] reuben commented on #3061
I assume I can find the appropriate versions and config changes by inspecting the currently running VMs, right? In that case, I just need the IP of worker 1 to get started.

Yeah. I thought about making a VM copy of a worker to side-step these provisioning issues but I guess that's also prone to causing problems.

I would probably run that worker on my personal machine while I test it, since it's

[2020-06-30 20:47] lissyx commented on #3061
Indeed, you can fetch the json config. IPs on matrix.

Be aware the existing workers if you copy them to your system are meant for VMWare Fusion Pro

[2020-06-30 20:52] reuben commented on #3061
Ah, yes, that was also one of the complications. OK, thanks.

[2020-07-01 01:22] jainal09 opened #3119 "Directly use Deepspeech Language Model for Beam Search from Deepspeech python api"
Hi,
Is it possible to directly use Deepspeech Language Model.
Which takes input as text and perform Beamsearch ctc decode using the pretrained Deepspeech lm and scorer and then provides the Output text?

[2020-07-01 06:31] reuben commented on #3119
The input to the beam search algorithm is a sequence of probability distributions, not text. See for example: https://distill.pub/2017/ctc/

It's not possible to do that. In the future, use Discourse for discussion. The issue tracker is meant for bugs and feature requests, as was explained in the issue template you deleted before posting this.

[2020-07-01 06:31] #3119 closed

[2020-07-01 07:48] kdavis-mozilla commented on #2967
@khu834 ping

[2020-07-01 07:54] kdavis-mozilla commented on #1565
@tilmankamp Is this going to be able to land in 0.8.0?

[2020-07-01 08:02] masoudMZB opened #3120 "Step, epoch, Weird Duration"
Hello,
I am using DeepSpeech version 0.7.4 , I don't wan't use transfer learning, I uses deep speech english dataset, and these are my hyperparameters :

`python3 DeepSpeech.py --train_files data/CV/en/clips/dev.csv --dev_files data/CV/en/clips/dev.csv --test_files data/CV/en/clips/test.csv --checkpoint_dir data/tmpTestFolder  --export_dir data/tmpTestExport --n_hidden 2048 --epochs 100 --dropout_

[2020-07-01 08:05] kdavis-mozilla commented on #3120
As this is not a bug or feature request could you address this support question to our [Discourse forums](https://discourse.mozilla.org/c/deep-speech) instance. Thank you.

[2020-07-01 08:05] #3120 closed

[2020-07-01 08:18] lissyx commented on #3057
So the situation is complicated:
 - we might be able to push from scriptworker using https://pypi.org/project/dockertarpush/
 - this code depends on docker image spec v1.1
 - current docker-in-docker service on taskcluster is stuck to docker v1.6, with API v1.18 https://github.com/taskcluster/dind-service/blob/master/Dockerfile#L6
 - so the `docker save` command we issue does produce v1.0 docker i

[2020-07-01 09:39] reuben opened #3121 "Inconsistencies in Java bindings for Metadata structures"
The Java bindings around the Metadata structures have some inconsistencies with the other language bindings. For example, CandidateTranscript.getTokens() which returns a single token, and Metadata.getTranscripts() which returns a single transcript. We should fix what is possible and document differences for what isn't.

[2020-07-01 15:05] lissyx opened #3122 "doc/Flags.rst: WARNING: document isn't included in any toctree"

[2020-07-01 16:10] lissyx commented on #3121
it should be an array that can be indexed with `getNum_tokens()`

Same

[2020-07-02 08:58] reuben commented on #2914
This is basically a nuisance: when you kill a training process it spams the terminal. It'd be nice to fix, but from a cursory glance it requires some hand-holding of Python's multiprocessing module, so I don't think it's enough "bang for buck" for my time on 0.8/1.0. Contributions welcome.

[2020-07-02 09:01] kdavis-mozilla commented on #2914
I had the same thought when I saw it, years ago I had to deal with a similar problem for a multi-threaded renderer and it was annoying to deal with.

[2020-07-02 09:04] tilmankamp commented on #2914
How about using Control-\ instead.

[2020-07-02 10:17] lissyx commented on #3122
Looks like a red herring, it is properly referenced by other docs.

[2020-07-02 10:17] #3122 closed

[2020-07-02 12:37] lissyx commented on #3110
We already have a template for bug report. I'm not sure we need all the other ones (what difference do you make between improvement and enhancement? what would testing cover? why a PR template?), but please feel free to send PR to explicit your point of view

[2020-07-02 14:27] lissyx commented on #3057
Ok, Docker Hub Automated builds can support `hooks/`, so we might be able to rely on that for push-to-tag on releases.

[2020-07-02 16:56] lissyx commented on #3057
![Screenshot_2020-07-02 Docker Hub](https://user-images.githubusercontent.com/1645737/86388868-c46f5100-bc95-11ea-94b2-34d1c92cce2a.png)

[2020-07-03 07:41] #2270 closed

[2020-07-03 09:05] reuben commented on #3096
Fixed in #3113

[2020-07-03 09:05] #3096 closed

[2020-07-03 13:11] DanBmh opened #3123 "Shape mismatch when exporting to .tflite"
I did try to export a French transfer-learning model with different alphabet than the English one, but I get following error:
`ValueError: Cannot feed value of shape (44,) for Tensor 'layer_6/bias/Initializer/zeros:0', which has shape '(29,)'`

Exporting works well without the error if I export my German model with the same alphabet size as the English model.

<br>

Tested with docker container at

[2020-07-03 14:33] reuben commented on #3123
Did you modify `data/alphabet.txt` in-place? I don't see an `--alphabet` parameter specified. In any case, the error here indicates you're not passing the same `--alphabet` file at export time that you used for training this checkpoint.

[2020-07-03 14:47] reuben commented on #3123
This might be a regression from a recent refactoring that removed the Python Alphabet implementation in favor of the C++ one.

[2020-07-03 15:02] DanBmh commented on #3123
Thanks, this solved it. I did try it before, but only in the current master container it seems ... (didn't help there)

[2020-07-04 09:30] reuben commented on #3123
It looks like it is indeed the case, I was able to reproduce it. Should be fixed by #3125.

[2020-07-04 11:21] #3123 closed

[2020-07-04 16:11] khu834 commented on #2967
Can you provide some details about what "proper CLI parameters for tracking leaks" mean?
I'll get started on this but want to make sure I run it under the right conditions.

[2020-07-04 23:00] kromoxpro opened #3126 "Exporting files necessary to run DeepSpeech"
Hello, I am new at this.

I have started training the model in Spanish but I have not defined an export directory. I have used this command:

`python3 DeepSpeech.py --train_files es/clips/train.csv --dev_files es/clips/dev.csv --test_files es/clips/test.csv`

During the training, have the necessary files been created to run DeepSpeech? else, how can I generate them?

I am referring to the followin

[2020-07-05 00:01] dsteinman opened #3127 "Electron Windows build (electron-builder) is not finding the deepspeech.node binding"
I'm using `electron-builder` to package my electron app into an installer.  It's working great in Mac and Linux, but the Windows version cannot find the deepspeech native binding file.

I am not sure if this is a bug that would need to be resolved in the DeepSpeech module, or in electron-builder, or in electron itself.

I could follow up with a small test example to demonstrate the problem.

Basic

[2020-07-05 05:41] kdavis-mozilla commented on #3126
Please refer to [Training Your Own Model](url) section of the documentation, in particular the exporting sections.

Also, in future, support questions should be directed to our [discourse](https://discourse.mozilla.org/c/deep-speech/247) board.

We reserve issues for bugs or new feature requests.

[2020-07-05 05:41] #3126 closed

[2020-07-05 09:13] lissyx commented on #3127
So the build process is fine ?

I'd suspect its the linker failing to find libdeepspeech.so,we have code somewhere to force set `PATH` on Windows to help with this, maybe its not being properly done with your setup ? It should be in index.ts/js

[2020-07-05 14:08] dsteinman commented on #3127
Yes it builds fine, this is a runtime error the moment I access require('deepspeech').

Everything works perfect in MacOS (dmg) and Linux (appimage).  And the Windows version works fine in development mode, but something related to how the DeepSpeech module is accessing the deepspeech.node file is not working when run inside an .exe -- either after installing, or running from the `win-unpacked` di

[2020-07-05 17:15] lissyx commented on #3127
I'm sorry but i know nothing about this, i dont use electronjs nor Windows. I shared you hints, but again i don't know how to debug the linker under Windows.

Please investigate ans verify what i suggested earlier.

[2020-07-05 17:18] lissyx commented on #3127
So yeah, please verify / investigate how index.ts/js loads deepspeech.node using node-pre-gyp and how we set `PATH`.

[2020-07-05 17:32] dsteinman commented on #3127
Yeah I'll need to debug a bit and find out what the actual file path it's looking for `deepspeech.node`, either the file isn't there or needs to be fixed/changed for electron-builder.

I'm going to add an electron example to add to the [DeepSpeech-examples](https://github.com/mozilla/DeepSpeech-examples) repository and make sure it replicates this problem.

[2020-07-05 17:46] lissyx commented on #3127
We already have test coverage for electron, but not using this.

[2020-07-05 17:50] dsteinman commented on #3127
Perhaps we could add electron-builder to the test coverage?  The whole reason to use Electron is to be able to produce a .exe/.dmg/.appimage that can be distributed and installed -- and this does not appear to be working for Windows, but does work for Mac and Linux.

[2020-07-05 17:54] lissyx commented on #3127
Again, i know nothing about electron-builder.

[2020-07-05 18:14] dsteinman commented on #3127
It might not be required to know much about electron-builder to be able to fix the problem -- I don't know much about it other than I'm trying to use it to create a packaged version of my electron app.  Electron-builder is one of only 2 ways to do this, the other being Electron Forge.

My example app is already done, it has electron-builder set up, and does duplicate the issue.  It's here:

https:

[2020-07-05 20:04] satishbanka opened #3128 "ImportError: cannot import name 'UTF8Alphabet' from 'ds_ctcdecoder'"
Hi Team,

I have upgraded deepspeech from 0.7.1 to 0.7.4.

After upgrade, I am facing the below error while running transcribe.py.

proj/newdeepspeech/DeepSpeech/data/Data_Youtube_Daily/Week1_May/results-10-05-2020/Scorer/ttg_9c_mk_yt.scorer
Traceback (most recent call last):
  File "transcribe.py", line 17, in <module>
    from deepspeech_training.util.config import Config, initialize_globals
  F

[2020-07-06 09:13] lissyx commented on #3127
My point being that, as you says, there are "only two ways to do it", but us not being users of Electron, we can't spend all our time learning all the oddities of each ecosystem, so your feedback is valuable.

Then maybe it should be run next to our current code for testing ElectronJS ?
If you add that to `DeepSpeech-examples` with a `test.sh` file similar to existing ones, it would help

I don't

[2020-07-06 09:14] lissyx commented on #3128
How ?

How ?

[2020-07-06 09:27] tilmankamp commented on #3128
This is a post-refactoring problem caused by de-duplication of the two alphabet classes we once had. Some of the importers are also affected.

[2020-07-06 09:30] reuben commented on #3128
v0.7.4 version of that file does not import from ds_ctcdecoder, since it's before the refactoring: https://github.com/mozilla/DeepSpeech/blob/v0.7.4/training/deepspeech_training/util/config.py

It looks like you're running the master version of the code, but using the v0.7.4 version of the decoder.

[2020-07-06 09:30] tilmankamp opened #3129 "CI-testing transcribe.py"
`transcribe.py` should be covered by CI tests.

[2020-07-06 09:37] tilmankamp commented on #3128
@reuben Ah yes, missed that. Could it be closed then?

[2020-07-06 09:38] reuben commented on #3128
I think so... I triggered a new alpha on master so that `pip install -U -e .` will pick up the new decoder package.

[2020-07-06 10:01] Shilpil commented on #3088
We tried running it with Python 3.7 but we faced the same error.

[2020-07-06 10:07] lissyx commented on #3088
Then I'm sorry but the only way to get something actionable is bisecting on the dataset to identify the offending files and debug from there.

[2020-07-06 10:19] tilmankamp opened #3130 "Missing deepspeech_training.util.text.Alphabet"
Some files are still using `deepspeech_training.util.text.Alphabet` which has been removed during de-duplication of alphabet implementations.

At least [these files](https://github.com/mozilla/DeepSpeech/search?q=%22from+deepspeech_training.util.text+import+Alphabet%22&unscoped_q=%22from+deepspeech_training.util.text+import+Alphabet%22) are affected.

[2020-07-06 11:23] dsteinman commented on #3127
I see what you mean about the Path variable.  Just looking at this code, I am pretty sure something is wrong here:

[code]

It looks like deepspeech module trying to modify the system PATH variable?  Why?

[2020-07-06 11:53] lissyx commented on #3127
Because we can't set `rpath` on Windows, and because without that it's unable to properly find the library where it is, the Windows linker searches in the same directory as `deepspeech.node` and in `PATH`. But `deepspeech-node` is dependant on the version, and so expecting the linker to find `libdeepspeech.so` next to it would mean a lot of copies of `libdeepspeech.so`, ending up in use space wast

[2020-07-06 13:26] applied-machinelearning commented on #3088
@lissyx
As I am also effected by this, I tried everything from python versions, different dockerbuild, different host drivers, checking my dataset for evident errors,  all had no effect.

But because if it fails it always consistently fails on the same step and thus batch I tried to isolate stuff.
I know have a small subset of my large dataset and that always fails on epoch 27 with batch size 32,

[2020-07-06 13:37] lissyx commented on #3088
If it's a bug in TensorFlow / CUDNN, it's hardly something we can help about. I'm already lacking time for a lot of other urgents matters, and it seems you have more background and knowledge on the issue than I do ...

[2020-07-06 13:44] lissyx commented on #3088
It would still be interesting if you could share the order when it works, when it fails, and where it fails.

[2020-07-06 13:50] applied-machinelearning commented on #3088
Merely reduced the problem-space, not of the tensorflow / deepspeech internals.
And it would be nice if people could confirm (so it can be semi-worked around by not sorting).

Another question is, I saw the inference side of DeepSpeech seems to work now on tensorflow 2.x, how much work would the training side be ?
(I ask, since the whole chain of cuda 10, tensorflow 1.15 etc. is probably unsupport

[2020-07-06 13:52] applied-machinelearning commented on #3088
What would you have shared,  only the csv or also the samples (as I think it would be somewhere in the samples and not the transcripts (but of course I could be wrong) ?

[2020-07-06 14:12] dsteinman commented on #3127
At Line 16, I did this:

[code]

So it's finding the deepspeech.node file just fine, I think the error must be coming from within it not because of it.

[code]

I'm not sure which module this is referring to `Error: The specified module could not be found.`.  Could this mean the C binding cannot find the JS module?  And if so, maybe it's because in this scenario the path being added onto process.e

[2020-07-06 14:48] lissyx commented on #3088
@reuben Had a look at that, he knows better.

I think you should need to share audio + csv

Sure, but given the current workload, I really cannot promise having time to reproduce that: I am still lagging behind a lot of other super-urgents matters, sadly (thank you covid-19).

[2020-07-06 15:00] lissyx commented on #3127
Please verify that, I don't use Windows and I could not find proper documentation on how to get useful informations from the Windows linker (like `ld` with `LD_DEBUG=all`). So far, we still don't know if your `deepspeech.node` loading code can actually see `libdeepspeech.so`, i.e., `PATH` is properly populated **and** the windows linker sees it.

Maybe you should use sysinternals's `depends.exe` a

[2020-07-06 15:14] reuben commented on #3088
Lots

[2020-07-06 15:20] kdavis-mozilla commented on #2937
@carlfm01 How is this progressing?

[2020-07-06 15:29] applied-machinelearning commented on #3088
That is unfortunate.

[2020-07-06 15:33] carlfm01 commented on #2937
@kdavis-mozilla Hello, I need to confirm that this command : `--add Microsoft.VisualStudio.ComponentGroup.UWP.BuildTools;includeRecommended --add Microsoft.NetCore.Component.SDK;includeRecommended --add Microsoft.VisualStudio.Component.Windows10SDK.18362;includeRecommended`
fixes the issue, the thing is that I need to uninstall VS to confirm and can't do it on my daylight, I plan to finish this wi

[2020-07-06 15:40] lissyx commented on #2967
[code]

[2020-07-06 15:45] lissyx commented on #3127
@dsteinman We'd like to find a fix for that by 0.8, so your help is more than valuable: in the worst case, if you can pop up with a very simple and dumb-proof example to repro, that would help. But please remember we don't use Windows, so it really needs to be dump-proof to avoid making us loose any time.

[2020-07-06 15:46] lissyx commented on #3128
@satishbanka Could you please verify if it works?

[2020-07-06 17:08] dsteinman commented on #3127
Yeah I'd like to submit this example to the 0.8 release.

https://github.com/dsteinman/deepspeech-electron

I can also add a better version of the [nodejs_wav](https://github.com/mozilla/DeepSpeech-examples/tree/r0.7/nodejs_wav) example code.

That way we can all get on the same page about what actually going wrong when the .exe is packaged.  I don't have really any experience in debugging C code

[2020-07-06 17:24] lissyx commented on #3127
@carlfm01 i know you are super busy, would you have suggestions to debug linkage issues at runtime ?

[2020-07-06 17:35] reuben opened #3132 "Add test coverage for "Bytes Are All You Need" mode"

[2020-07-06 17:50] satishbanka commented on #3128
Yes Got this issue while running Transcribe.py

[2020-07-06 17:52] satishbanka commented on #3128
Hi Reuben, Yes I am using the master version of the code. I got it cloned from
"git clone https://github.com/mozilla/DeepSpeech"

I thought that was the 0.7.4

Sorry for the confusion, I will use the 0.7.4 code now

[2020-07-06 17:53] satishbanka commented on #3128
Hi Reuben, Yes I am using the master version of the code. I got it cloned from
"git clone https://github.com/mozilla/DeepSpeech"

I thought that was the 0.7.4

Sorry for the confusion, I will use the 0.7.4 code now

[2020-07-06 17:55] satishbanka commented on #3128
Thanks very much for your quick response guys! Truly appreciate Mozilla and mainly your dedication and hard work!

[2020-07-07 05:44] BrandonProj2020 opened #3133 "I want to implement this API into cakephp, im new in both."
Im working in the AI company, we want to implement the speech to text to make transcriptions of a call and i will then create a code that will make a disposition of the call taking into consideration some keywords.

So what i need from this API is implement it into that system, i have recordings but dont understand how request will work here i can image that willl go like this

Button that will se

[2020-07-07 07:13] #3133 closed

[2020-07-07 07:13] lissyx commented on #3133
Please reach for support on Discourse.

[2020-07-07 10:44] filipecatraia opened #3134 "ImportError: cannot import name 'Alphabet' from 'deepspeech_training.util.text'"
If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: no, I'm simply following the docs for 0.7.4.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Catalina 10.15.5
- **TensorFlow installed from (our builds, or upst

[2020-07-07 11:01] lissyx commented on #3134
Dupe of #3130

[2020-07-07 11:02] lissyx commented on #3134
@filipecatraia Please ensure you have checked out `v0.7.4` tag, there should be no problem on that version.

[2020-07-07 11:03] #3128 closed

[2020-07-07 11:04] lissyx commented on #3128
Thanks @satishbanka for confirming it was just running master instead of 0.7.4

[2020-07-07 12:41] dsteinman commented on #3127
The pull request is there.

To replicate the issue in Windows:

[code]

Click the resulting installer exe file in the `dist` directory.  Then running the "deepspeech-electron" app from the system menu will fail with the error in the screenshot above.

This process works on Mac and Windows (using `npm run dev` and `npm run dist`).  And I'm still confused about exactly why this isn't working in Wind

[2020-07-07 13:29] lissyx commented on #3127
What else do I need to install on a Windows machine to do that? NodeJS ? What version ? Any Visual Studio stuff ?

[2020-07-07 13:31] lissyx commented on #3127
Have you verified the `PATH` value ? Does the code adds a valid path to that ?

[2020-07-07 13:38] dsteinman commented on #3127
I installed Git Bash to provide a bash terminal.  I'd have to reboot to give you the NodeJS version, but I think it's the latest version (v14).

Yes there are some other Visual Studio and Python dependencies as well to be able to compile native NodeJS modules.  I would probably have to start again from a fresh Windows machine to be able to give exact instructions.

Basically I started with the Win

[2020-07-07 13:42] dsteinman commented on #3127
I only did a console log on the PATH variable, it does appear to be adding the directory that the code intends to.  But I think that directory isn't the one that's necessary for  the app.asar package.  I don't know know a whole lot about that format but it does appear to be troublesome for locating other files as well.  This really where my comprehension of the problem breaks down because I don't

[2020-07-07 13:46] lissyx commented on #3127
Can you share a built package, maybe I can investigate and check how it should be built?

[2020-07-07 13:47] lissyx commented on #3127
Okay, that's going to take me hours ...

[2020-07-07 13:49] dsteinman commented on #3127
Yeah it actually took me more like a whole day to get it all working.

I could provide the .exe, I just need to regenerate it, and a place to upload it.

[2020-07-07 13:51] lissyx commented on #3127
Why do we have `app.asar.unpacked` VS `app.asar`

```\\?\C:\Users\Dan\dev\deepspeech-electron\dist\win-unpacked\resources\app.asar.unpacked\node_modules\deepspeech\lib\binding\v0.7.4\win32-x64\electron-v9.0\deepspeech.node```

VS

[code]

[2020-07-07 13:59] dsteinman commented on #3127
I can't actually answer this very well.  But the asar format is what electron-builder uses, and when you make a build, it creates the unpacked version and the packed version.  And when you install it, it unpacks it before running it.  I'm not exactly very clear on what's going on, but it is almost certainly involved in why a `module not found` error is occurring.

[2020-07-07 14:06] lissyx commented on #3127
that's also my reading of the issue so far, especially since your `console.log`. Could we please try and hack a hardcoded `PATH` here to `app.asar` maybe? If it's just about computing the proper path, it can be an easy fix ...

[2020-07-07 14:28] dsteinman commented on #3127
I'm not entirely sure what you mean here.  It's not that app.asar isn't found, the appear seems like "deepspeech.node" is not found, but the path is correct, the file exists.

[code]

[2020-07-07 14:30] lissyx commented on #3127
Sorry but here you quote `app.asar` and you link `app.asar.unpacked`, so it's confusing and I still don't know if we have the valid physical path being set or not.

[2020-07-07 14:33] lissyx commented on #3127
Thing is, it's not always clear on Windows if it's just wrong path or missing dependencies :/ I wish there was some equivalent of `LD_DEBUG=` there.

[2020-07-07 14:33] dsteinman commented on #3127
Oh I should have clarified.  When a build is made using `npm run dist-win`, it creates a `win-unpacked` directory containing the production build, but in an "unpacked" format and that can be run directoy from the `win-unpacked` directory.  The error I pasted containing `win-unpacked` was from when I tried running the unpacked version.

The error also occurs if you take the fully packed .exe instal

[2020-07-07 14:34] lissyx commented on #3127
Right, but check all path components, there's also a discrepency between the loader code vs the paht trying to be loaded involving `app.asar.unpacked` VS `app.asar` :/

[2020-07-07 14:43] dsteinman commented on #3127
It gets more confusing because the win-unpacked directory contains both the packed app.asar and app.asar.unpacked.

I think it's kinda like how jar files auto-expand.

[2020-07-07 14:46] lissyx commented on #3127
On this image, `app.asar` is not a directory. Can you show the full tree from top-level of the electron app ?

Which I don't know about :D

[2020-07-07 14:54] lissyx commented on #3099
@SirZontax Please, do you mind answering?

[2020-07-07 14:55] lissyx commented on #3017
@generosocarbone Could you update us ?

[2020-07-07 14:57] dsteinman commented on #3127
But the error is not that app.asar is failing in any way.

The deepspeech index.js file is found correctly `win-unpacked\resources\app.asar\node_modules\deepspeech\index.js`

It loads correctly, and then it does `require(binding_path)` and fails because `deepspeech.node` is not found.  But the file exists, at least it exists in the unpacked directory.

![unpacked](https://user-images.githubusercon

[2020-07-07 15:04] lissyx commented on #3127
And this one refers to `app.asar`

And there we know the error refers to `app.asar.unpacked`

So given I know nothing about how `electron-builder` works, I can't know if it's normal or not we have two different path referenced here.

I'm sorry, but this issue is really becoming messy and we are circling here. We still don't know if the `PATH` value being put into the process is good. And even if i

[2020-07-07 15:13] #3121 closed

[2020-07-07 15:14] dsteinman commented on #3127
We do know that everything related to app.asar and deepspeech works as expected in Mac and Linux.  So I'd like to assume app.asar is working as expected.

[code]

Yeah it's very unclear what's going wrong.

I'm okay with leaving this ticket open for now, and I might submit another ticket to `electron-builder` and see if they can help.

[2020-07-07 15:19] lissyx commented on #3127
Except on your screenshot `app.asar` is not a directory, what is it? a symlink?

But so far we have not yet verified what is the actual path on disk of `libdeepspeech.so` and whether the electron code does set `PATH` that matches this directory.
I'm sorry to insist, but I don't have any ready-to-use Windows environment so I can't analyze myself and I entirely depend on you for that :/

[2020-07-07 15:27] dsteinman commented on #3127
libdeepspeech.so is in the win32_x64, one level up from where deepspeech.node is:

![lib](https://user-images.githubusercontent.com/3894317/86804215-bd08c880-c044-11ea-90b5-35e24d50c1e3.png)

[2020-07-07 15:34] lissyx commented on #3127
OK so we'd need to make sure it's also the path added to `PATH`

[2020-07-07 15:42] lissyx commented on #3127
Right, so it's even weirder that `binding_path` is being constructed with `app.asar` ...

[2020-07-07 15:50] #3130 closed

[2020-07-07 15:52] lissyx commented on #3127
@dsteinman Looking at electron's doc: https://www.electronjs.org/docs/tutorial/application-packaging#node-api

They have special handling that, how surprising it would explode ...

[2020-07-07 15:54] lissyx commented on #3127
Are you doing https://www.electronjs.org/docs/tutorial/application-packaging#adding-unpacked-files-to-asar-archives ?

[2020-07-07 16:14] dsteinman commented on #3127
Already confirmed.

I can add some debug statements to deepspeech/index.js to confirm the files exist:

[code]

And then when I run the code, it all looks good but it still says the module is not found:

[code]

No, I am running asar commands like this myself (I don't even have an "asar" command line executable program) because electron-builder is doing all of that stuff.

[code]

[2020-07-07 16:19] lissyx commented on #3127
I hate all that magic :/. Here electronjs contradicts itself, with one path `app.asar.unpacked` and two `app.asar` :/

[2020-07-07 16:25] lissyx commented on #3127
Those steps are not working for me, I'm getting an error about missing module `deepspeech.node` at the `npm run dev-win` step, but that seems to be the same error.

[2020-07-07 16:26] lissyx commented on #3127
Somehow I ended up with ElectronJS v9.1 when we only have support for 9.0 ...

[2020-07-07 16:27] dsteinman commented on #3127
Not exactly -- that's my fault for not explaining.  What I just pasted there is I am running the generated "deepspeech.exe" that located in /dist/win-unpacked.  Not the installer version.

[2020-07-07 16:29] dsteinman commented on #3127
Yes I noticed that as well.  I thought I fixed it in the DeepSpeech-examples/electron Pull request.

The version of electron had to be set to exactly 9.0.5, and not ^9.0.5

[code]

[2020-07-07 16:31] lissyx commented on #3127
Right, that seems to work better. Let's see how much I'll hate the nodejs ecosystem after that :)

[2020-07-07 16:36] lissyx commented on #3127
`npm run dev-win` explodes with an error:
`TypeError: Cannot read property 'filter' of undefined` from `create-window.js:50`

[2020-07-07 16:37] dsteinman commented on #3127
You're missing the audio files.  They need to be in public/audio

It sounds like you've already got it pretty much working.

[2020-07-07 16:37] lissyx commented on #3127
That was not part of your instructions, sorry, and since it downloads models ...

[2020-07-07 16:40] dsteinman commented on #3127
Oh I forgot to mention it above, but I did add it to the readme.  I should probably add a proper error message for this.

[2020-07-07 16:43] lissyx commented on #3127
`dist-win` depends on `yarn` ?

[2020-07-07 16:45] dsteinman commented on #3127
No, nothing here relies on yarn.

FYI I'm using node v13.13.0 and npm 6.14.4 on Windows.

[2020-07-07 16:46] lissyx commented on #3127
[code]

[2020-07-07 16:50] dsteinman commented on #3127
Oops, that's a mistake on my part.  The package.json scripts can be changed from yarn to npm, I've pushed a change in:

https://github.com/dsteinman/DeepSpeech-examples/commit/c729f983f4219a69a480a642e166018710169ec9

[2020-07-07 17:03] lissyx commented on #3127
@dsteinman So, from the begining I was right ?

The following in `deepspeech/index.js` works with `./deepspeech-electron.exe`:
[code]

[2020-07-07 17:07] lissyx commented on #3127
Can you verify that this works on the whole workflow ? If so, it means it's just the PATH that is broken, as I was suggesting.

[2020-07-07 17:07] lissyx commented on #3127
[code]

[2020-07-07 17:10] reuben opened #3138 "Run LibriSpeech test sets through speaktome-dev and validate accuracy matches local test report"
Make sure nothing in the pipeline is messing up with inputs in a destructive way.

[2020-07-07 17:13] reuben commented on #3138
Maybe Common Voice is actually a better input (or additional) since it's MP3 and actually involves some codec conversion.

[2020-07-07 17:15] dsteinman commented on #3127
Looks like that's working!!!  Both from the win-unpacked and the installer.  This is terrific.

I just never clued into that replacement because both the packed and unpacked asar were always there and thought that's how it needed to be.  So sorry for all the trouble.   I'm glad it didn't take too long to figure out.

[2020-07-07 17:17] lissyx commented on #3127
Well, I really don't get what you don't get, because it feels to be what I repeated. Anyway, thanks for the confirmation, I'm preparing a """better""" fix.

[2020-07-07 17:20] lissyx commented on #3127
@dsteinman If you can suggest a better solution than replacing `app.asar` with `app.asar.unpacked` it'd be great

[2020-07-07 17:37] dsteinman commented on #3127
Looks good to me.  I can't think of a much better way to do it.

Thank you very for all the help.

[2020-07-07 20:12] lissyx commented on #3127
It's taking more time than I would have hoped because of infra issues on our CI.

[2020-07-07 20:17] dsteinman commented on #3127
No problem, there isn't any particular rush on my end.  I've made these same changes locally for now which gets me unstuck for the time being.

Will there be a DeepSpeech 0.7.5 release for this, or will it be part of 0.8?

[2020-07-07 20:19] lissyx commented on #3127
no, it will be 0.8+, but you can easily pick the fix for your own use

[2020-07-07 21:19] applied-machinelearning commented on #3088
@lissyx @reuben

Got the results of my extended testing based on a minimalistic dataset of 3x 32 samples, as I use a batchsize of 32, that is 3 steps. I named the batches A, B and C and as a whole they are ordered by wav_filesize.

I have done runs with all sorts of combinations of these batches (concatenated in the order of the name of the csv file), if appended with a "s" that batch in itself is

[2020-07-07 21:21] filipecatraia commented on #3134
Thanks @lissyx, that worked. I was working off `master` (and tried `v0.9.0-alpha.1`), as I assumed it'd work. Cheers!

[2020-07-07 22:17] lissyx commented on #3134
It usually does, except when we break it :)

[2020-07-07 22:17] #3134 closed

[2020-07-07 22:22] lissyx commented on #3088
Nice @applied-machinelearning. Do you think you could even reduce batch B to a smaller set of files ? Maybe if we can know which file(s) triggers the behavior it might be easier to know about / check ?

[2020-07-07 22:30] applied-machinelearning commented on #3088
I could try by reducing the training batch size,  see if I can find even smaller batches that fail (from previous tests I think it will end at either 2 or 4 (but not 1), will give it a try tomorrow.

[2020-07-07 23:13] #3127 closed

[2020-07-08 07:55] lissyx commented on #3057
Still waiting on the people who are supposed to be in charge of the mozilla org on Docker Hub.

[2020-07-08 09:35] generosocarbone commented on #3017
Sorry guys, but I've been moved on a different project and I couldn't make
any progress.

On Tue, Jul 7, 2020 at 4:55 PM lissyx <notifications@github.com> wrote:

[2020-07-08 11:14] lissyx commented on #3088
So I see you are basically reusing the TensorFlow official Docker image and you got inspiration from https://github.com/Common-Voice/commonvoice-fr/blob/master/DeepSpeech/Dockerfile.train :)

That's good, that should make it easier for us to try and reproduce locally. Can you share more details on your actual underlying system and hardware, in case it might be related?

[2020-07-08 11:20] reuben commented on #2732
I won't have time to take this for 0.8.

[2020-07-08 11:21] reuben commented on #2977
I won't have time to take this for 0.8.

[2020-07-08 11:57] SirZontax commented on #3099
I can't explain how to reproduce. It only says: `Didn't found the version of ds_ctcdecoder` when trying to install it. I can't document things because there are none.

[2020-07-08 12:43] applied-machinelearning commented on #3088
@lissyx @reuben

OK I have done some more runs:

**I ran train_debug_As_Bs_Cs.csv with batch sizes 1 and 2:**

**So I made some new csv files with:**

**And I made some variant of that:**

**The results of that:**

**My interpretation of this all:**
- batch size 1 always works, so it is not completly file specific
- with batch size 2 both B/98_2923 and B/154_4738 appear in blowups.
- with batch si

[2020-07-08 12:49] lissyx commented on #3099
You could try to share `pip install -v`, as well as answer the question about `VERSION` and `training/deepspeech_training/VERSION`. Two things I asked you in the very first reply I gave you.

You could also try and document how you setup things.

In case you have not noticed, you should not have `ds_ctcdecoder==training/deepspeech_training/VERSION` but `ds_ctcdecoder==0.7.4`. We need to understand

[2020-07-08 14:58] lissyx opened #3141 "Support ElectronJS v9.1"

[2020-07-08 14:58] lissyx commented on #3141
cc @dsteinman

[2020-07-08 15:53] reuben commented on #3061
(Hopefully) finished wrapping the C API, now moving on to CI work. Wrapper is here if anyone wants to take a quick look and provide any suggestions: https://github.com/mozilla/DeepSpeech/blob/ios-build/native_client/swift/deepspeech_ios/DeepSpeech.swift

[2020-07-08 15:58] reuben commented on #3061
In particular I'd be very interested in any feedback from Swift developers on how the error handling looks and how the buffer handling around `Model.speechToText` and `Stream.feedAudioContent` looks.

[2020-07-08 16:06] #3141 closed

[2020-07-08 16:20] reuben commented on #3061
PR for adding macos-heavy-b and macos-light-b worker type and instances: https://github.com/mozilla/community-tc-config/pull/308

[2020-07-08 16:45] sanath-ai opened #3143 "Deepspeech dosen't detect voice(or detects voice but dosent recognize)"
(deepspeech) C:\Users\sanath\Desktop\deepspeech>python realtime_audio.py -m
C:\Users\sanath\Desktop\deepspeech\deepspeech-0.7.4-models.pbmm   -s C:\Users\
sanath\Desktop\deepspeech\deepspeech-0.7.4-models.scorer
Initializing model...
INFO:root:ARGS.model: C:\Users\sanath\Desktop\deepspeech\deepspeech-0.7.4-mode
ls.pbmm
TensorFlow: v1.15.0-24-gceb46aae58
DeepSpeech: v0.7.4-0-gfcd9563f
INFO:root:ARG

[2020-07-08 18:26] #3143 closed

[2020-07-08 18:27] lissyx commented on #3143
This is not a in our code, please use discourse to reach for support as stated in the github template.

[2020-07-08 21:55] applied-machinelearning commented on #3088
I think it was an Italian DS/CV repo I drew inspiration from, but they probably took it from the French one ;).
Previously I also tried with a docker build with ubuntu18.04-cuda10 image as a base, with tensorflow-gpu 1.15.3.

Host is an AMD Ryzen system with 32GB of mem and a GTX 1070 with 8GB of mem, running Debian.
Host Nvidia driver is now 440.100 (but I have tried several others, still the sam

[2020-07-08 22:13] lissyx commented on #3088
Thanks, running Sid as well here, so I'm on similar setup, except I have 2x (faster, more memory) GPUs. I hope it will still allow me to repro.

[2020-07-09 07:26] applied-machinelearning commented on #3088
I'm running buster on that machine, when I woke up this morning it dawned on me I forgot to post the hyperparameter stuff.
So attached is the script I used in the docker container to run the tests. Feature cache, checkpoint dir etc, all get cleaned up before the run.

[run_deepspeech_var_batchsize.sh.tar.gz](https://github.com/mozilla/DeepSpeech/files/4895165/run_deepspeech_var_batchsize.sh.tar.gz

[2020-07-09 09:26] tilmankamp opened #3144 "Add augmentation support to build_sdb.py"
`build_sdb.py` should also support sample-level augmentations. This would allow creation of synthetic test sets.

[2020-07-09 09:50] lissyx commented on #3088
Looks like `clean.sh` is missing. I don't want to sound rude, but if you could just assemble a dump-proof Docker or script to repro minimally the issue, there are already enough complexity and variables interacting, I really need to be 1000% sure to repro your exact step to assert whether I can reproduce the issue :/

[2020-07-09 10:04] tilmankamp opened #3146 "Let build_sdb.py also output CSV files and rename it accordingly"
This would allow for better debugging and manipulation of SDB content.

[2020-07-09 10:09] lissyx commented on #3088
I'm not even able to get CUDA working so far in the dockerfile :/

[2020-07-09 10:17] lissyx commented on #3088
Seems to be the same old weird nvidia/cuda/docker bug, after `ldconfig` it works:
[code]

[2020-07-09 10:21] lissyx commented on #3088
@applied-machinelearning Good news, I repro your issue.

[2020-07-09 10:26] lissyx commented on #3088
@applied-machinelearning Not only I repro, but `apt update && apt upgrade` changes the issue: first it was exploding at epoch 1, now at epoch 2.

[2020-07-09 10:51] lissyx commented on #3088
Several people report similar issue with NVIDIA drivers above a certain version: https://github.com/tensorflow/tensorflow/issues/35950#issuecomment-577427083, and 431.36 would be a working one.

[2020-07-09 11:01] lissyx commented on #3088
https://forums.developer.nvidia.com/t/cudnn-lstm-is-broken-above-driver-431-60-unexpected-event-status-1-cuda/108800

[2020-07-09 11:22] lissyx commented on #3088
Fun: `gpu_options=tfv1.GPUOptions(per_process_gpu_memory_fraction=0.05)` triggers the issue at the very begining

[2020-07-09 11:46] applied-machinelearning commented on #3088
Sorry for that, didn't expect you to run it literally.

Thanks for figuring this out, didn't come up with my google-foo.

Hmm I will see if can give that driver a shot this evening, although I can't find  431.36 in the download archive at https://www.nvidia.com/en-us/drivers/unix/linux-amd64-display-archive/

This one seems to be the closest:

And it probably means downgrading the kernel as well t

[2020-07-09 12:35] #3144 closed

[2020-07-09 13:03] lissyx commented on #3088
On Buster you might have more chances to succeed compared to me on Sid.

[2020-07-09 13:15] applied-machinelearning commented on #3088
Kernels should be fairly independent of the rest of the system.

Are you going to / do you know, the best way to address this with Nvidia ?
(seems the problem itself has been noted for quite some time without a fix appearing in newer drivers)

[2020-07-09 13:16] lissyx commented on #3088
I have no idea ?

[2020-07-09 13:50] lissyx commented on #3088
There are some hints on some of the reports it might be related to the ordering of `sequence_length`, i'd like to get a better grasp at that, confirm and so maybe we could at least have some tooling / workaround to help about that.

@applied-machinelearning For fun, at some point, some combination of dataset, driver and tensorflow version on our codebase would trigger a power surge on my hardware

[2020-07-09 14:34] lissyx commented on #3088
@applied-machinelearning While not a workaround I like, but it seems to help moving forward that changing to TensorFlow 1.14 gets me through the small example

[2020-07-09 14:35] lissyx commented on #3088
`FROM tensorflow/tensorflow:1.14.0-gpu-py3`

[2020-07-09 14:41] applied-machinelearning commented on #3088
Sure will test that before changing the driver.

[2020-07-09 14:42] lissyx commented on #3088
Like, I'm not sure if it's not just a side-effect that different tensorflow version might schedule things differently, as you said it was a point that matters, or if it's because it depends on cudnn 7.4 instead of 7.6 and it might behave differently on that point.

[2020-07-09 15:20] SirZontax commented on #3099
pip install -v: `Non-user install because site-packages writeable
Created temporary directory: C:\Users\bernh\AppData\Local\Temp\pip-ephem-wheel-cache-1wndwf4m
Created temporary directory: C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-ir27a1v_
Initialized build tracking at C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-ir27a1v_
Created build tracker: C:\Users\bernh\AppData\Local\Temp\pip-re

[2020-07-09 15:24] lissyx commented on #3099
Can you verify with `ls -hal` so we can check precisely? And `training/deepspeech_training/VERSION` ? Is it a file ?

I'm sorry but there is still nothing to help us reproduce the issue there.
Please write and explicit each and every step you take ...

That output seems very well incomplete.

[2020-07-09 15:38] SirZontax commented on #3099
You can't use `ls -hal` on Windows and yes, like I said it is a file.

The rest was an error message telling me I need to write an output `pip install help` (So it told me that -v is incorrect).

I went to the python download site, clicked on Python 3.6 and installed it via the exe. Than I wrote in cmd `python -m pip install update` and so it updated pip. After that I went to this github site and

[2020-07-09 16:31] lissyx commented on #3099
You could have been using bash under Windows. Since we lack context ...

Perfect, you are explicitely document you have not followed the documentation: https://deepspeech.readthedocs.io/en/v0.7.4/TRAINING.html

[2020-07-09 16:47] SirZontax commented on #3099
I've tried it and it doesn't work on this computer so that's why I tried it this way

[2020-07-09 16:52] lissyx commented on #3099
Please be more specific. We already don't support training on Windows and you are not following our documentation to perform the setup, it's really hard for us to help you if you don't share more informations.

We also still don't know about `training/deepspeech_training/VERSION`: again, we can't help debug if you don't share broader picture.

[2020-07-09 16:58] SirZontax commented on #3099
Again, it says that the verison of ds_ctcdecoder which stands in the `training/deepspeech_training/VERSION` file is not existent. That's the whole statement. It doesnt find it... I can't tell you more because there is not more to tell... It tries to get the version from the website but doesnt find `ds_ctcdecoder==0.7.4`

[2020-07-09 17:09] lissyx commented on #3099
So we really need more context on your setup ... and real complete `pip install -v`.

Is it x86_64 system? Are you sure the Python version is also 64-bits ?

[2020-07-09 17:11] SirZontax commented on #3099
`Non-user install because site-packages writeable
Created temporary directory: C:\Users\bernh\AppData\Local\Temp\pip-ephem-wheel-cache-qo8nmkxi
Created temporary directory: C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-qo9u26z5
Initialized build tracking at C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-qo9u26z5
Created build tracker: C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-qo9u26

[2020-07-09 17:13] lissyx commented on #3099
Ok, I should have been more clear: `pip install -v ds_ctcdecder==0.7.4`

[2020-07-09 17:13] SirZontax commented on #3099
`Non-user install because site-packages writeable
Created temporary directory: C:\Users\bernh\AppData\Local\Temp\pip-ephem-wheel-cache-qo8nmkxi
Created temporary directory: C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-qo9u26z5
Initialized build tracking at C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-qo9u26z5
Created build tracker: C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-qo9u26

[2020-07-09 17:14] lissyx commented on #3099
`ds_ctcdecoder` please

[2020-07-09 17:16] SirZontax commented on #3099
`Non-user install because site-packages writeable
Created temporary directory: C:\Users\bernh\AppData\Local\Temp\pip-ephem-wheel-cache-xz9prpmn
Created temporary directory: C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-22qzklr_
Initialized build tracking at C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-22qzklr_
Created build tracker: C:\Users\bernh\AppData\Local\Temp\pip-req-tracker-22qzkl

[2020-07-09 17:17] lissyx commented on #3099
It's already installed? Please uninstall and reinstall then?

[2020-07-09 17:19] SirZontax commented on #3099
`Collecting ds_ctcdecoder==0.7.4
  Downloading ds_ctcdecoder-0.7.4-cp36-cp36m-win_amd64.whl (2.6 MB)
     |████████████████████████████████| 2.6 MB 1.6 MB/s
Requirement already satisfied: numpy<1.14.5,>=1.12.0 in c:\users\bernh\appdata\local\programs\python\python36\lib\site-packages (from ds_ctcdecoder==0.7.4) (1.14.4)
ERROR: deepspeech-training training-deepspeech-training-version requires tenso

[2020-07-09 17:21] lissyx commented on #3099
Since you have not shared the full command line, I can't know if you had this error with `pip3 install --upgrade -e .` from deepspeech installation or from `pip install --upgrade ds_ctcdecoder==0.7.4`.

[2020-07-09 17:21] SirZontax commented on #3099
I used `pip install ds_ctcdecoder==0.7.4`

[2020-07-09 17:23] lissyx commented on #3099
So, we are just back to square one: `training/deepspeech_training/VERSION`. And this being picked the version makes no sense, because it's a file.

[2020-07-09 17:25] SirZontax commented on #3099
I know it doesn't make sense

[2020-07-09 17:27] lissyx commented on #3099
Can you change `setup.py` ?

At the very begining of `main()`, change:
[code]

To

[code]

[2020-07-09 17:29] SirZontax commented on #3099
Changed and tried to run: `C:\Users\bernh\Desktop\DeepSpeech-master>python setup.py install
Traceback (most recent call last):
  File "setup.py", line 130, in <module>
    main()
  File "setup.py", line 49, in main
    with open(str(version_file)) as fin:
FileNotFoundError: [Errno 2] No such file or directory: 'setup.py\\...\\VERSION'`

[2020-07-09 17:31] lissyx commented on #3099
Not really what I expected but that's better.
Can you revert `version_file` to the original version and instead change the `with open(str(version_file))` to `with open(version_file)` ?

[2020-07-09 17:33] SirZontax commented on #3099
`C:\Users\bernh\Desktop\DeepSpeech-master>python setup.py install
C:\Users\bernh\AppData\Local\Programs\Python\Python36\lib\site-packages\setuptools\dist.py:397: UserWarning: The version specified ('training/deepspeech_training/VERSION') is an invalid version, this may not work as expected with newer versions of setuptools, pip, and PyPI. Please see PEP 440 for more details.
  "details." % self.me

[2020-07-09 17:35] lissyx commented on #3099
So it's `pathlib` that makes fun of us ...

[code]

Should build the correct path and read correctly the version file, can you verify?

[2020-07-09 17:36] SirZontax commented on #3099
Nope, same error like earlier: `C:\Users\bernh\Desktop\DeepSpeech-master>python setup.py install
Traceback (most recent call last):
  File "setup.py", line 130, in <module>
    main()
  File "setup.py", line 49, in main
    with open(version_file) as fin:
FileNotFoundError: [Errno 2] No such file or directory: '..\\VERSION'`

[2020-07-09 17:38] lissyx commented on #3099
my bad, you don't need the `'..'`:

[code]

[2020-07-09 17:38] SirZontax commented on #3099
And there is the first error again: `C:\Users\bernh\Desktop\DeepSpeech-master>python setup.py install
C:\Users\bernh\AppData\Local\Programs\Python\Python36\lib\site-packages\setuptools\dist.py:397: UserWarning: The version specified ('training/deepspeech_training/VERSION') is an invalid version, this may not work as expected with newer versions of setuptools, pip, and PyPI. Please see PEP 440 for

[2020-07-09 17:42] reuben commented on #3099
With the risk of saying something silly because I haven't kept up with the discussion, why are you using `python setup.py install` instead of `pip install .` as documented? Those commands are not equivalent, you should always use `pip install`.

[2020-07-09 17:42] lissyx commented on #3099
Please, the issue is already strange enough, can we stick to what we document ?
I'm not 100% of the differences in behavior for that wrt `pip3 install --upgrade -e .`, we don't support training on Windows and I don't have a Windows system ...

[2020-07-09 17:44] SirZontax commented on #3099
Output: `C:\Users\bernh\Desktop\DeepSpeech-master>pip install .
Processing c:\users\bernh\desktop\deepspeech-master
Requirement already satisfied: numpy in c:\users\bernh\appdata\local\programs\python\python36\lib\site-packages (from deepspeech-training===training-deepspeech-training-VERSION) (1.14.4)
Requirement already satisfied: progressbar2 in c:\users\bernh\appdata\local\programs\python\pytho

[2020-07-09 17:47] lissyx commented on #3099
And what code for `version_file` / `open(str())` ?

[2020-07-09 17:48] reuben commented on #3099
When I flipped the direction of the version symlinks I had to reference `training/deepspeech_training/VERSION` directly in a bunch of places to get Windows working. I didn't do `/setup.py` because we don't support/test training on Windows, but maybe a similar change is needed there.

[2020-07-09 17:49] SirZontax commented on #3099
`def main():
    version_file = os.path.join(os.path.dirname(__file__), 'VERSION')
    with open(version_file) as fin:
        version = fin.read().strip()`

[2020-07-09 17:51] lissyx commented on #3099
That's the only reasonnable explanation, we are reading the `/VERSION` symlink content, which is `training/deepspeech_training/VERSION`.

Yet, earlier, @SirZontax said:

So, in this answer, does `VERSION` means the `VERSION` file at the root or `training/deepspeech_training/VERSION` ?
If it's the root, it should not be a file, but a symlink, and we are back to the begining: training on Windows is

[2020-07-09 17:56] SirZontax commented on #3099
It means the `VERSION` file. As far as I saw it tries to read the file, should get `0.7.4` and than tries to install this version of ds_ctcdecoder

[2020-07-09 17:58] lissyx commented on #3099
I'm sorry, you are not precise here. Root file or not root file? It should **be a symlink**. `VERSION` being a symlink and your system not supporting symlinks is the only explanation that makes sense so far.

So please make an effort and be precise, I'm spending time to help you on an unsupported system.

[2020-07-09 18:03] lissyx commented on #3099
It is also consistent with the fact it was working on 0.7.3 and not anymore on 0.7.4, explicitely because this is when we changed the symlinks directions.

[2020-07-09 18:06] lissyx commented on #3099
[code]

Should do it.

[2020-07-09 19:03] SirZontax commented on #3099
Okay, seems to be working now but I got an error for `numpy`. Is this a problem because of windows or can I fix it by chaning the version? `
Installed c:\users\bernh\appdata\local\programs\python\python36\lib\site-packages\deepspeech_training-0.7.4-py3.6.egg
Processing dependencies for deepspeech-training==0.7.4
error: numpy 1.14.4 is installed but numpy<2.0,>=1.16.0 is required by {'tensorflow'}`

[2020-07-09 20:15] lissyx commented on #3099
Well you should change the deps against numpy. Again, not supported setup, it's not surprising, you need to check what needs to be the minimum version to get existing numpy wheel for this windows + arch + python combo and adjust.

If you get to training working, it'd be good to send PR to fix those issues: we are not users of Windows, all our training is done on linux, so it's hard for us to focus

[2020-07-09 21:25] applied-machinelearning commented on #3088
Hmm a bit busy and tired this evening, so I will postpone most testing till tomorrow, but I have done some tests with tensorflow/tensorflow:1.14.0-gpu-py3 and the 440.100 driver (the one I used with the failing tf1.15 image tests as well).

Done all tests except the full dataset one (so 1500, the 3x32 batches and the 3x2 batches) and all succeed with the tf-1.14 image, so I think you are correct.

[2020-07-10 07:17] lissyx commented on #3088
OK, good to know we make progress. I'm trying to check how sequence_length variations are related

[2020-07-10 09:24] harmandeepsinghkalsi opened #3148 "Audio File Specifications to use Deep Speech"
Hi All

I recently started using Deep Speech for audio transcriptions. I have doubts to clarify

1.What are the specifications to keep in mind regarding the audio file to be used for the transcription ?
Because I have different format file (.mp3,.wav, etc..)
2. Is there any restriction of the length of the audio?

Thanks in advance!

[2020-07-10 09:32] applied-machinelearning commented on #3088
I ran the test with different drivers, preliminary results (will do a long test after this):

| Nvidia host driver | docker base image                    | short tests | long test |   |
|--------------------|--------------------------------------|-------------|-----------|---|
| 440.100            | tensorflow/tensorflow:1.14.0-gpu-py3 | worked      |           |   |
| 440.100            | tensorf

[2020-07-10 09:45] lissyx commented on #3088
I just verified and I repro with cudnn v7.6.1 as well. I think I should try and rebuild tf 1.15.2 docker with cudnn 7.6, 7.5 and 7.4 to assert here.

[2020-07-10 12:11] applied-machinelearning commented on #3088
Updated the table above, I think I'm convinced enough to say that the TF14 image doesn't have the problem.
Hope you succeed in pinning it to a particular cudnn version.

[2020-07-10 14:00] kdavis-mozilla commented on #3148
@harmandeepsinghkalsi As we reserve GitHub issues for bugs and feature requests, I'm wondering fi you could take this support question over to [discourse](https://discourse.mozilla.org/c/deep-speech/247). Thanks.

[2020-07-10 14:09] harmandeepsinghkalsi commented on #3148
Sure @kdavis-mozilla , If that the norm being followed,  I will move it to discourse. Thank you for your response!

[2020-07-10 15:13] lissyx commented on #3088
Ok, required a bit of hacking but I leveraged TensorFlow's CI builds script to produce some 1.15.2 CUDA-enabled python 3.6 wheels with different cudnn7 linkage, currently I have 7.4 done, 7.5 in progress and soon finished. Next step are:
 - install 7.6 of those wheels in your image
 - reproduce the issue (hopefully)
 - redo with 7.5 and 7.4 to assert.

[2020-07-10 15:35] applied-machinelearning commented on #712
Would it be an idea to have just the more general option to not sort csv's and use them as ordered, then you can manually use any order you like with just one extra option. I just needed to use this to kind of bisect an issue around (probably) cudnn versions blowing up on certain samples.

Can make up a patch for this and send a pull request, but the naming for such an option doesn't seem to be ve

[2020-07-10 16:10] lissyx commented on #3088
So, TensorFlow r1.15.2 CUDA 10.0, with host driver 440.100:
 - libcudnn 7.6.5.32: fail
 - libcudnn 7.5.1.10: fail
 - libcudnn 7.4.2.24: success

[2020-07-10 16:16] lissyx commented on #3088
To build the TensorFlow wheels:
 - `git clone https://github.com/tensorflow/tensorflow --branch r1.15`
 - apply the patch (just to build against 18.04, skip tests)
 - in `tensorflow/tools/ci_build/` run:
   - `CI_DOCKER_BUILD_EXTRA_PARAMS="--build-arg cudnn=7.4.2.24" CI_DOCKER_EXTRA_PARAMS="-e CI_BUILD_PYTHON=python3.6" BUILD_TAG=tf-py3-cudnn-7.4.2.24 ./ci_build.sh gpu tensorflow/tools/ci_build/bu

[2020-07-10 16:19] lissyx commented on #3088
To repro the issue:
 - fetch (contains everything, data, tensorflow wheels)
 - `docker build -f Dockerfile.deepspeech-v0.7.4-reduced --build-arg cudnn=7.4.2.24 . --tag issue3088:7.4.2.24`
 - `docker build -f Dockerfile.deepspeech-v0.7.4-reduced --build-arg cudnn=7.5.1.10 . --tag issue3088:7.5.1.10`
 - `docker build -f Dockerfile.deepspeech-v0.7.4-reduced --build-arg cudnn=7.6.5.32 . --tag issue308

[2020-07-10 16:28] lissyx commented on #3088
@applied-machinelearning It would be awesome if you could cross-check on your side, with just varying the cudnn version we limit the risks of the issue being just masked by different tensorflow version.

[2020-07-10 17:55] DanBmh commented on #3092
I had some time to run some more tests today  (with master about two days ago).

This time an epoch did take about 4:30min on average. I also tried different dropout values:
* with `--augment dropout[p=1,rate=0.05]` which I thought should match `--augmentation_spec_dropout_keeprate 0.95` (did this change?) the network only learned for two epochs, so it almost trained nothing.
* also  `--augment dr

[2020-07-10 19:52] applied-machinelearning commented on #3088
Great work @lissyx !
Will see if I can find some time this weekend to see if I can get that stuff to work .

Was 7.4.2.24 the last of the cudnn 7.4 versions ?
That would suggest it was introduced somewhere in 7.5 series.

[2020-07-10 20:06] lissyx commented on #3088
It could still be in a lot of places, who knows exactly. But at least even if inconvenient it might help unblocking

[2020-07-11 17:27] khu834 commented on #2967
Here's the full report, this is what I ran
[code]
using vanilla python3 and DS 0.7.3

https://github.com/khu834/deepspeech_valgrind/blob/master/log

[2020-07-11 20:07] lissyx commented on #2967
Thanks, ill have à close look next week. We've reworked some part of our ci so hopefully we might be able to easily add valgrind support in the future

[2020-07-11 20:22] reuben commented on #3061
Looks like adding Xcode to the worker brings the free space to under 10GB which stops the taskcluster client from picking up any jobs... Resizing the partition does not seem to work. My next step will be to create a worker from scratch with a larger disk image.

[2020-07-12 00:07] honkmother commented on #2937
Why even publish a NuGet package if you're not going to test it? JFC.

[2020-07-12 00:08] honkmother commented on #2948
Maybe you should fix the NuGet package first, so that the instructions would work.

[2020-07-13 10:23] applied-machinelearning commented on #3088
@lissyx

My results are different, logs are attached.:
* libcudnn 7.6.5.32: fail
* libcudnn 7.5.1.10: fail
* libcudnn 7.4.2.24: fail
[issue3088_7.6.5.32.log](https://github.com/mozilla/DeepSpeech/files/4911822/issue3088_7.6.5.32.log)
[issue3088_7.5.1.10.log](https://github.com/mozilla/DeepSpeech/files/4911823/issue3088_7.5.1.10.log)
[issue3088_7.4.2.24.log](https://github.com/mozilla/DeepSpeech/fi

[2020-07-13 12:20] vikramambrose opened #3152 "Add BuildFromBuffer init variant for Java binding"
Currently the libdeepspeech java binding only offers DeepSpeech(String modelPath)  for initialization, This doesn't work in a production environment where the Android app may not be able to provide a "path". Current TFLite java bindings allow for init from java.io.File and java.nio.ByteBuffer. Please add one of these options.

[2020-07-13 12:44] reuben commented on #3061
@dabinat tagging you because you mentioned interest in these bindings in the CoreML issue, in case you have anything to mention regarding the design of the bindings here.

[2020-07-13 15:57] lissyx commented on #3152
Please document this usecase, this is not one we got any report from.

Adding those will impair the ability to perform mmap operation and it does have a very negative impact on the performances.

[2020-07-13 16:03] lissyx commented on #3088
So maybe it was just luck or we lack another parameter. Please note we don't have the same GPUs, and so the same memory. Maybe it is why.

[2020-07-13 16:08] reuben commented on #3152
There's also a constructor that takes a `java.nio.MappedByteBuffer`, maybe that is enough?

[2020-07-13 16:08] reuben commented on #3152
(And doesn't impair performance)

[2020-07-13 17:24] applied-machinelearning commented on #3088
On July 13, 2020 6:03:47 PM GMT+02:00, lissyx <notifications@github.com> wrote:

What we haven't tested, is TF14 builds with those cudnn version.

[2020-07-14 00:47] gokgozf opened #3153 "Training Docker Image and Language Model Creation"
I really like the idea of separating the training, and build images though i have a doubt.

In my opinion being able to easily generate a new language model and being able to test is a great opportunity for training image which i believe is neglected in the image by not adding the following statements and some dependency installations

If it is aligned with your expectations as well, i can provide

[2020-07-14 04:02] MrityunjoyS commented on #1821
I'm also trying to use hinting and substitution methods to rectify errors and improve recognition. I'm using deep speech model only as ASR. I've used deep speech 2 model to build my own pbm and scorer as I'm trying to improvise the ASR for Hindi language. I'm facing issues like while saying "Haa", the model is only catching "a". Need to rectify that, can you please suggest how can I implement 'hin

[2020-07-14 04:44] MrityunjoyS opened #3154 "How to improvise tuning or substitution for better tuning of the ASR"
I'm trying to use hinting and substitution methods to rectify errors and improve recognition. I'm using deep speech model only as ASR. I've used deep speech 2 model to build my own pbm and scorer as I'm trying to improvise the ASR for Hindi language. I'm facing issues like while saying "Haa", the model is only catching "a". Need to rectify that, can you please suggest how can I implement 'hints' o

[2020-07-14 07:37] kdavis-mozilla commented on #3154
As this is not a bug or feature request for this repo (we reserve issues for bug and/or feature requests), could you take this admittedly interesting issue to [discourse](https://discourse.mozilla.org/c/deep-speech/247)?

[2020-07-14 07:37] #3154 closed

[2020-07-14 08:36] vikramambrose commented on #3152
@lissyx Apps delivered through the app store can only access assets through the AssetManager. These files are not kept individually on the filesystem. They can only be accessed through limited means. See https://developer.android.com/reference/kotlin/android/content/res/AssetManager The "filename" in the docs refers to a virtual, relative path into the "assets" blob. Its not something one can fope

[2020-07-14 08:57] lissyx commented on #3152
Thanks, i know that, but you can easily download and place those files in your app storage directory, it wirks very well.

Yes, you are starting to grasp the issue here, its not that trivial.

External scorer we ship is 900MB so we need to be careful there...

[2020-07-14 10:55] lissyx commented on #3152
If you are able to assemble a patch set that improves behavior, you are welcome, though.

[2020-07-14 17:49] vikramambrose commented on #3152
Exactly! Making copies is not an option.

You too are starting to grasp the issue here, its not that trivial :)

[2020-07-14 18:52] DanBmh commented on #3153
What version are you using?
I already added the KenLM building part some time ago to the `Dockerfile.train.tmpl` file.

[2020-07-15 07:15] Nufflee opened #3155 "ImportError: DLL load failed: The specified module could not be found."
If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: no custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 v1903
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: from pip
- **Ten

[2020-07-15 09:43] lissyx commented on #3152
Don't package it as an asset in the application ? I know it's not the most convenient way to distribute, but for the moment, alternatives, as you said, are much worse.

[2020-07-15 09:43] #3155 closed

[2020-07-15 09:44] lissyx commented on #3155
This is not a bug on our side and you already have a topic for support, please avoid spam.

[2020-07-15 09:45] lissyx commented on #3153
As @DanBmh said, we have that now. Can you please be clear in your wording? I'm not a big fan of mind reading, so "some dependency" is not really helpful.

[2020-07-15 09:55] #3148 closed

[2020-07-15 10:03] Nufflee commented on #3155
Sorry, I only noticed the support link after posting the issue. My bad.

[2020-07-15 10:09] sd-z opened #3156 "pip3.6 install deepspeech fails on armv7l"
While trying to install deepspeech on the Raspberry Pi 4 (armv7l) via pip3.6 install deepspeech the whl file is not found.
On PyPi the listed Python Versions are 2,7, 3.4, 3.5, 3.6.
However installing python3.7 and running python3.7 -m pip install deepspeech works like a charm.
Is there a way to include this information somewhere? I feel like the Programming Language section on PyPi is meant for t

[2020-07-15 10:16] lissyx commented on #3156
This is likely:
 - out of date
 - cannot be specific to arm package

We only support Raspbian Buster's python version there, which is 3.7.

Can you please elaborate where the problem here is? It looks like it's all working, and our doc never mentions installing with `pip3.6`.

[2020-07-15 10:47] sd-z commented on #3156
Thanks for the quick response!
I just couldn't find the requirement and did not know what the proper way of communication was. Maybe it would be possible to include it in the docs. I was installing it with pip3.6 as only python 3.6 and 2.7 were included Buster for the Pi, maybe Noobs messed that up...
Anyways thanks for clearing it up :)
Best Regards

[2020-07-15 10:47] #3156 closed

[2020-07-15 10:59] vasudev-hv commented on #3102
Adding here in case if anyone facing same issue in windows. Change the value in [VERSION](https://github.com/mozilla/DeepSpeech/blob/master/VERSION) file to `0.9.0-alpha.2`.  Seems like the path is not getting resolved properly

[2020-07-15 11:23] lissyx commented on #3156
It's hard to document more than the obvious `pip install deepspeech`, but if you can send à pr to improves docs its always welcome.

[2020-07-15 11:31] vasudev-hv commented on #3099
Adding here in case if anyone facing same issue in windows. Change the value in [VERSION](https://github.com/mozilla/DeepSpeech/blob/master/VERSION) file to 0.9.0-alpha.2. Seems like the path is not getting resolved properly in windows

[2020-07-15 11:32] lissyx commented on #3099
Well, again, if you read the issue, this is exactly what turned out to be the root cause, as suspected: there is no support for symlinks on Windows, so it's failing.

[2020-07-15 11:47] lissyx opened #3157 "CircleCI for Docker Hub"

[2020-07-15 12:18] vasudev-hv commented on #3099
Are there any other symlink issues that I might face? I use windows and am still in the priliminary stage. Just want to check the feasibility if I need to switch to linux

[2020-07-15 12:20] lissyx commented on #3099
That's why we say we don't support Windows: we don't know. If you are willing to try and test, it might not be too complicated and a PR to ensure Windows support at training would be more than welcome.

[2020-07-15 12:45] tirkarthi opened #3158 "cElementTree has been deprecated and will be removed in favor of ElementTree"
Reference : https://bugs.python.org/issue36543

[code]

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:
- **TensorFlow version (use command below)**:
- **Python version**: 3.8
- **Bazel version (if compiling

[2020-07-15 13:00] #3158 closed

[2020-07-15 14:51] #3157 closed

[2020-07-15 14:53] lissyx commented on #3057
So, #3157 merged, new alpha tagged:
 - master just built and deployed as `latest` on https://hub.docker.com/r/mozilla/deepspeech-train/tags
 - current master (after some new merge) building and will deploy within minutes
 - v0.9.0-alpha.3 tag building and will deploy within minutes
 - r0.8 branch PR merge still running on TaskCluster, but once it is merged it should produce docker image on Docker

[2020-07-15 16:19] lissyx commented on #3057
It should be good but there are issues on both Github and CircleCI, so nothing is starting for now, and I can't be sure it's all okay.

[2020-07-15 17:21] #3057 closed

[2020-07-15 17:55] lissyx commented on #2967
Thanks, it's hard to make a call without debug symbols, but the situation looks much better than initially when looking at definitively lost and possibly lost sections.

[2020-07-16 09:19] lissyx commented on #2967
@khu834 Even using the Python suppression list, there is still a ton of noise from Python itself, it's hard to really be sure where we are faulty here. Add in the equation the numerous "harmless" leaks from tensorflow ...

[2020-07-16 09:34] lissyx commented on #2967
Full-blown TensorFlow debug build under Python 3.8 (debian/sid), with your code adapted to run 10 iterations:
[code]

About the possibly lost, here we have 4211064 bytes out of 4655700 just because of those harmless tensorflow threadpool related:
[code]
That leaves us 444996 bytes to explain.

Here are some 135438 from Python itself?:
[code]

Then a few more, taking us down tro 261222:
[code]

The

[2020-07-16 09:43] lissyx commented on #2967
Running valgrind on full-blown tensorflow runtime from C++, hacking `native_client/client.cc` to loop 5 times over model creation / deletion:
[code]

[2020-07-16 09:46] lissyx commented on #2967
Running valgrind on tflite runtime from C++, hacking `native_client/client.cc` to loop 5 times over model creation / deletion:
[code]

[2020-07-16 09:58] lissyx commented on #2967
Python/TFLite:
[code]

[2020-07-16 10:00] lissyx commented on #2967
And there is 0 possibly lost related to tensorflow or deepspeech, it's all malloc from python itself ...

[2020-07-16 10:13] lissyx commented on #2967
@khu834 On current master, I really cannot find anything convincing me there is an actionable leakage on our side, using your repro steps.

[2020-07-16 10:21] lissyx commented on #2967
[python.zip](https://github.com/mozilla/DeepSpeech/files/4930845/python.zip)
Here are my logs, if you want to cross-check on your side.

[2020-07-16 10:39] lpkoh opened #3163 "Newbie question on checkpoints"
Hi,

I am a newbie and I just got the model to start training on my own dataset. I would like to tune it on a pretrained model. Could someone help me understand:

python3 DeepSpeech.py --n_hidden 2048 --checkpoint_dir path/to/checkpoint/folder --epochs 3 --train_files my-train.csv --dev_files my-dev.csv --test_files my_dev.csv --learning_rate 0.0001

Do I simply replace path/to/checkpoint/folder w

[2020-07-16 11:14] #3163 closed

[2020-07-16 11:15] lissyx commented on #3163
This is a support request, please reach on Discourse and read the documentation. Checkpoints are released separately from the tensorflow model.

[2020-07-16 11:49] davidak opened #3164 "Update FAQ: TensorFlow Lite"
https://github.com/mozilla/DeepSpeech/wiki#what-is-the-process-of-making-custom-trained-deepspeech-engines-available-to-the-end-user-on-web-android-apps-and-ios-apps

It links to an issue, that is closed in 2018. So the situation might be better now.

Please update the answer according to the current situation.

cc @lissyx

[2020-07-16 12:00] reuben commented on #3164
Done.

[2020-07-16 12:00] #3164 closed

[2020-07-16 13:19] lissyx commented on #3088
I can reproduce the issue here on 7.4 as well by limiting visible GPU to only one (number 0 or 1). When I expose both, it works.

[2020-07-16 14:11] lpkoh commented on #3163
If I run it without a --checkpoint_dir specified, is it just going to load in some weights from before or is it a raw model architecture?

[2020-07-16 14:12] lissyx commented on #3163
Use discourse, please.

[2020-07-16 16:55] lissyx commented on #3088
@applied-machinelearning I found that hack to help locally, after getting more repro:
[code]

I can't explain yet why, and I'd like your feedback if you can corroborate if it helps on all your repro cases or not

[2020-07-16 17:25] applied-machinelearning commented on #3088
Don't know the inner-workings of training on multi-gpu, but if it is interleaving the batches, with the very small test set, your second GPU could have batch B, but as that GPU's first step, so the special case could apply there. I wonder if it still works with multi-gpu if you repeat some of the other batches before batch B, so it will never be the first step of a GPU.

BTW last few days I have t

[2020-07-16 17:30] lissyx commented on #3088
hacking the stride value also seems to do something (obviously, I have no idea why):
[code]

[2020-07-16 17:31] lissyx commented on #3088
You can just rebuild it, it's a bit time consuming but not complicated

Yeah; but we still don't know what that special case here is

[2020-07-16 17:37] lissyx commented on #3088
FTR the offending call is at https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/stream_executor/cuda/cuda_dnn.cc#L1785-L1798

[2020-07-16 17:41] lissyx commented on #3088
Here also, report that driver v431.36 downgrade fixes the very similar error: https://stackoverflow.com/questions/62612226/tensorflow-check-failed-status-cudnn-status-success-7-vs-0failed-to-set-c

[2020-07-16 18:29] khu834 commented on #2967
Thanks @lissyx for the detailed analysis.
Looks like 0.7.3 is pretty clean, and just some allocations in python that makes it seems like there is leakage.
I think we can close this issue.

For my use case, things should improve dramatically when I switch to 0.7.3.

[2020-07-16 18:48] lissyx commented on #2967
Thanks, we plan to have valgrind coverage, but this still require some CI work to be able to have it in a usable way (especially generating usable suppressions). In the meantime, feedback is always welcome.

[2020-07-16 18:48] #2967 closed

[2020-07-16 21:08] applied-machinelearning commented on #3088
So this one works for me as well.

I also printed the original shape, for batch B that is 75 which seems to match the 75 max_sequence_length in the exception from cudnn when things do crash.

[2020-07-16 21:13] applied-machinelearning commented on #3088
Yeah that was likely and unfortunately there is no such things as a neat error message.

Hmmm dusted off my google-foo, but still could not find a linux download of v431.36.
However, the release date (for windows at least) for v431.36 seems to be 07-09-2019.
What I tested was 430.64 which is lower in version number, but later in release date: November 5, 2019.

So tomorrow I will see if I can test

[2020-07-17 08:16] lissyx commented on #3088
I thought the same, but hacking and forcing +1 on `features_len`, the crash would happen on value 76, and previous values would become 75 without problem, it seems (also the error changed).

[2020-07-17 10:50] applied-machinelearning commented on #3088
OK, so I have tried extra drivers released before the infamous "v431.36": 410.93, 418.74, 418.88, 430.34.
None of them works for me.

[2020-07-17 11:36] lissyx commented on #3088
I'm trying, but failing to so far, to build tf 1.15 pip with some debug enabled, outside of the docker setup they have, so I can at least get more insight on the offending call

[2020-07-17 12:39] applied-machinelearning commented on #3088
Hmm I finally figured out the probable cudnn version of the tensorflow/tensorflow:1.14.0-gpu-py3 image.
According to: https://hub.docker.com/layers/tensorflow/tensorflow/1.14.0-gpu-py3/images/sha256-e72e66b3dcb9c9e8f4e5703965ae1466b23fe8cad59e1c92c6e9fa58f8d81dc8?context=explore
it should be CUDA 10.0.130-1 with CUDNN 7.4.1.5-1.
The lowest cudnn we checked with the images you build was:  issue3088

[2020-07-17 13:49] erksch commented on #3061
@reuben super awesome that you are working on this! This is actually perfect timing as we are looking for an offline speech recognition for iOS right now. I know it's not finished yet, but could you provide a small guide on how I could try it out, is the .so library already available somewhere? Maybe then I could also help with writing an example app.

[2020-07-17 13:58] lissyx commented on #3061
on taskcluster, if you browse to the iOS artifacts sections you should get it

[2020-07-17 13:59] lissyx commented on #3061
e.g., https://community-tc.services.mozilla.com/tasks/BO-_Adi2Th2DOswsw9m1Kw#artifacts

[2020-07-17 14:01] lissyx commented on #3088
pretty sure i dont even need to rebuild, ill check that later

[2020-07-17 14:16] applied-machinelearning commented on #3088
I tried this patch now, and that works for the small sets. The max_sequence_length for batch B has turned from 75 into 74 now.

But if I run the larger test set (train_differ_para_sorted_wav_filesize.log), it still blows up, now on files that end up having a max_sequence_length of 75 ...

[train_debug_As_Bs_Cs.log](https://github.com/mozilla/DeepSpeech/files/4938248/train_debug_As_Bs_Cs.log)
[trai

[2020-07-17 14:22] lissyx commented on #3088
Downgraded to 7.4.1.5:
[code]

Still blows up.

[2020-07-17 14:30] erksch commented on #3061
Thank you! I'll try it out!

[2020-07-17 15:48] lissyx commented on #3088
After lot of hacking, I've been able to rebuild locally outside of their docker (easier for playing with gdb), building and running against a pyenv-built python, and that builds reproduces the issue, so I'm preparing a debug build.

[2020-07-17 16:30] lissyx commented on #3088
Debug build with CUDA is ... challenging. Trying this as suggested: https://github.com/tensorflow/tensorflow/issues/28091#issuecomment-488327539

[2020-07-17 16:47] yessenovuniversity opened #3165 "Invalid string в"
Hello. I want to train common voice russian data, so I installed everything for training model.
And when I wanted to train data with command: `python3.7 DeepSpeech.py --train_files ../russian/clips/train.csv --dev_files ../russian/clips/dev.csv --test_files ../russian/clips/test.csv`, I had Fatal Python error: Aborted.

[code]
I think the problem maybe with russian characters. I googled, but I did

[2020-07-17 16:53] erksch commented on #3061
I tried it out with the current 0.7.4 models from the release page and one of the audio files from there.

[code]

And then comes this error
[code]
in this line of `DeepSpeech.swift`
[code]

Just leaving this here, but I don't want to bother too much before this is even called finished :D

[2020-07-17 19:15] lissyx commented on #3165
If you are training on russian, where is `--alphabet_config_path` specified?

[2020-07-17 20:30] sharvil opened #3166 "Quiet operation of DeepSpeech API"
The DeepSpeech implementation writes messages to stderr, even when there are no errors. It would be nice if DeepSpeech could operate quietly and leave it up to the caller to decide how to report success/failure. For example, I see output like:

[code]

on stderr when I construct a DeepSpeech model without errors.

Ideally, calling into the API would be silent by default. If it's important to print

[2020-07-17 21:15] SanghviChirag opened #3167 "Windows 10 uses DeepSpeech: v0.7.0-0-g3fbbca2b even after upgrading to v0.7.4"
Hello,
I've been using deepspeech model in one of my projects. Thanks to this, my work has become easy.

I'm developing desktop apps for Windows, Mac and Linux, and in all of them, I'm using the latest stable version i.e. 0.7.4.
In Windows, even after using Deepspeech v0.7.4, it shows that it is using the previous version for transcription.
TensorFlow: v1.15.0-24-gceb46aae58
DeepSpeech: v0.7.0-0-g

[2020-07-17 21:52] lissyx commented on #3167
Hard to help ans diagnose if you dont give more context here...

[2020-07-17 22:17] lissyx commented on #3167
Quick check, the built `libdeepspeech.so` looks fine:
[code]

So without more context we can't:
 - know how you setup things
 - know how you perform the upgrade
 - know how you get this output
 - know the stack you are relying on

And thus decide if there's a legit issue on our side or not ...

[2020-07-17 22:23] lissyx commented on #3166
This is what we did at first. Consequence was loosing a lot of time asking again people to share proper version informations, so we are not really looking nicely at a flag that would be disabled by default.

Nothing stops you from redirecting `stderr`, so please document the usecase where this is a problem for you.

Printing runtime information on `stderr` is quite common, some people even use it

[2020-07-17 22:44] sharvil commented on #3166
Note that I'm only asking for silent operation when calling in via the API. Your shipped binaries can print messages as they please.

I have a multi-threaded process with each thread instantiating its own copy of the DeepSpeech model. These messages get repeatedly spammed to stderr for each instantiation (particularly bad with many cores/gpus) which isn't helpful and drowns out my own warning/erro

[2020-07-18 02:27] yessenovuniversity commented on #3165
It didn't described in DeepSpeech's tutorial. I put --alphabet_config_path in comand line with alphabet.txt, and it worked. Thank you very much.

[2020-07-18 05:11] carlfm01 commented on #2937
Ok, now installing the generated NuGet by https://github.com/mozilla/DeepSpeech/pull/3100 from https://community-tc.services.mozilla.com/api/queue/v1/task/U9AVNs4CTqCR6GwmvXjhhQ/runs/0/artifacts/public/DeepSpeech.0.9.0-alpha.2.nupkg automatically adds the client, @erksch can you test in your side?

[2020-07-18 08:53] lissyx commented on #3165
Not sure what tutorial you are talking about, our docs cover it. Good to know it works now, thanks !

[2020-07-18 08:53] #3165 closed

[2020-07-18 09:47] erksch commented on #2937
Awesome I'll give it a try today or tomorrow.

[2020-07-18 12:51] lissyx commented on #3088
The road to a debug build is ... complicated.
[code]

[2020-07-19 09:01] applied-machinelearning commented on #3088
Ugh the nightmare of a build-system called "Bazel".

[2020-07-19 17:37] reuben commented on #3061
The models should be compatible. I don't know what's going on there, can't reproduce it locally...

[2020-07-19 17:37] reuben commented on #3061
Does the log have any more details for this error?

[2020-07-19 17:38] reuben commented on #3061
Also, maybe double check the signing options in Xcode? At some point when writing the bindings I ran into some runtime exceptions due to incorrect signing options.

[2020-07-19 19:12] erksch commented on #3061
You're right. Since it crashes when communication with library happens, it's probably just included incorrectly.

So do go through what I tried:
- Cloning the repo and checking out the ios-build branch
- In XCode, set signing for the targets `deepspeech_ios` and `deepspeech_ios_test` to my team and adjust the bundle identifier to one of mine
- Trying to run deepspeech_ios_test on my device
-> Buil

[2020-07-19 19:22] erksch commented on #3061
After setting `deepspeech_ios.framework` to `Embed & Sign` in the `deepspeech_ios_test` target (which is just a random tryout), the code at least passes until the `DS_FeedAudioContent`, and the error occurs that I mentioned in the first post.

Here is the full log I got for that error.
[code]

[2020-07-19 20:38] erksch commented on #2937
@carlfm01 It works! Awesome! thank you for your hard work!

[2020-07-20 07:39] dabinat commented on #3061
I tried a simple test app where I loaded a pre-converted file of a few seconds into memory and called DeepSpeechModel.speechToText. There are no crashes or anything, but the resulting text string is empty.

It seemed from the header like all I had to do was initialize a DeepSpeechModel with the .tflite file and then call speechToText with the buffer. Did I miss a step? Do I need to setup a streami

[2020-07-20 07:41] reuben commented on #3061
That's correct, you don't need to setup a streaming context.

[2020-07-20 07:47] reuben commented on #3061
I have `libdeepspeech.so` in "Link Binary With Libraries" for project `deepspeech_ios`. I don't see a "Frameworks and Libraries" section like in your screenshot.

In `deepspeech_ios_test`, I have both `libdeepspeech.so` and `deepspeech_ios.framework` in "Link Binary With Libraries", and I also have `libdeepspeech.so` in "Embed Frameworks", with "Code Sign On Copy" enabled.

[2020-07-20 07:49] reuben commented on #3061
Oh, OK, I was looking at the "Build Phases" tab, not "General". What I have in "General" matches your screenshots. It's weird that it crashes on DS_FeedAudioContent and not DS_CreateModel, maybe it's not a linking issue, unless your code has a bug and it's calling DS_FeedAudioContent on an invalid model/stream, which would certainly cause a segfault.

[2020-07-20 08:04] lissyx commented on #3167
@SanghviChirag Do you mind sharing more context ?

[2020-07-20 08:08] lissyx commented on #3166
Experience has shown this is not enough.

Are you referring to "spam" for **two** lines on each model creation? Sorry, but even with a lot of GPUs / CPUs it's not going to be that much. How much spam is spam ?

This is both a non trivial amount of work and a recipe for missing important informations. Experience has proven us that this will bite us back bad.

[2020-07-20 08:45] reuben opened #3169 "Install all required macOS dependencies in homebrew cache, don't rely on workers having preinstalled packages"

[2020-07-20 09:56] erksch commented on #3061
You're right, DS_CreateModel seems to work fine and I can retrieve sample rate and beam width. So the issue for me has to be in sampling and memory allocation. It's weird that that part is not working for me somehow.

[2020-07-20 10:43] erksch commented on #3061
Okay weirdly enough, when I run the app multiple times, every now and then it continues feeding audio content successfully
[code]
But it always fails when calling `DS_FinishStream(streamCtx)` with a `EXC_BAD_ACCESS`.

But every other time it fails feeding the first batch of samples.

[2020-07-20 10:50] lissyx commented on #3088
I guess in this case it's just I was running out of space on `/` because of docker not properly pruning some resources.

[2020-07-20 10:51] lissyx commented on #3088
Side effect: I have to rebuild all my dockers images / containers ...

[2020-07-20 11:14] reuben opened #3170 "Decouple CPU builds per platform in tf_tc-build.sh"

[2020-07-20 11:49] applied-machinelearning commented on #3088
Ah yes you have to be careful with pruning since every change from a buildfile is it's own image layer due to the caching stuff.
Works nice in sparing space, but if you want to delete old stuff it can be a nightmare. I try to get accustomed to dumping the images that a care about as a tar-file with everything included first, so I can restore that stuff if need be.

[2020-07-20 12:09] reuben commented on #3061
Out of memory maybe? What device are you running this on?

[2020-07-20 12:12] reuben commented on #3061
The iOS build has been added to CI in #3150. So we should now have automatically built binaries that can be used with the project. Next step is building and publishing the wrapper itself, but before doing that I want to get more feedback from users, such as these memory issues... (Thanks for testing @erksch !)

[2020-07-20 12:23] lissyx commented on #3088
Indeed, I have been doing my house-keeping but it seems to have not had completely cleaned up some things :/. Anyway, I now have something that should have more debug infos

[2020-07-20 12:27] lissyx commented on #3088
[code]

[2020-07-20 12:29] lissyx commented on #3088
And at least I repro with this build as well.

[2020-07-20 12:45] lissyx commented on #3088
Nothing obvious pops:
[code]

[2020-07-20 13:10] lissyx commented on #3088
I can always try and `git bisect` that ...

[2020-07-20 13:23] applied-machinelearning commented on #3088
First would be to check if a custom build TF14 doesn't have the problem (with the  7.4.1.5 cudnn and/or the newest).
If so it would point to a change in TF, if not ... nah don't think about that yet ..

[2020-07-20 13:24] lissyx commented on #3088
yeah that's what I'm doing ...

[2020-07-20 14:08] reuben commented on #3167
Note that that version info refers to the *code*, not the model. If you upgrade the model but don't upgrade the DeepSpeech package you're using, the printed version won't change.

[2020-07-20 15:05] lissyx commented on #3088
Ok, passes with 1.14.1 + CUDNN 7.6 built locally. But a few patches are required, this is going to make `git bisect` slower than I would have loved.

[2020-07-20 15:50] sharvil commented on #3166
What do you think is the path forward for those who want silent operation? I've provided a number of alternatives but I'm not hearing a solution.

[2020-07-20 15:52] reuben commented on #3166
Redirect stderr only during model creation if you have other logging that you want to keep: here's an example: https://discourse.mozilla.org/t/deepspeech-python-prevent-the-stdout-of-versions/62620/16?u=reuben

[2020-07-20 15:55] sharvil commented on #3166
SGTM, thanks @reuben.

[2020-07-20 15:55] #3166 closed

[2020-07-20 16:09] SanghviChirag commented on #3167
Thanks, @lissyx for the response.
I've updated deepspeech version, even I uninstalled and reinstalled the latest version of deepspeech model it is showing v0.7.0.

how I setup things?
I used a virtual environment for installing package. I'm using python's 3.6.8 version (same is being used for both Mac & Linux).
pip install deepspeech

how I upgraded model?
1. First I downloaded the latest model an

[2020-07-20 16:20] lissyx commented on #3167
As @reuben said, you are talking of both "deepspeech" and "deepspeech model", so we need  to really be precise on what you do ...

Care to share `pip install -v` + `pip list` ?

This in itself should take care of running it correctly ...

Can you ensure there is no leftover `libdeepspeech.so` somewhere in your `PATH` ?

[2020-07-20 16:21] lissyx commented on #3167
https://files.pythonhosted.org/packages/cf/44/958607ce1c95c5386c29e2b9c8a30f8bc797d07306d16e6ef7f7f468a464/deepspeech-0.7.4-cp36-cp36m-win_amd64.whl

So it's published, we really need more verbose logs and pip list logs, but I'm highly doubtful there's a bug on our side, it more feels like some setup issue on your side ...

[2020-07-20 16:22] lissyx commented on #3167
Looks like you are using Python then.

[2020-07-20 18:53] kjzing opened #3171 "Getting Garbage transcription while using our custom model for nodejs streaming"
Hi Team,

We have built our custom deepspeech models for version 0.6. We tried using nodejs streaming example for pretrained model for DS 0.6. This works perfectly fine. But as we put our models on the same setup, the transcription start to come as garbage or any word which keep on repeating.
This is happening with Nodejs streaming example as well as Python base example. Is there anything specific

[2020-07-20 19:33] #3171 closed

[2020-07-20 20:24] zaptrem commented on #1536
Are there plans to run reverb filters on the datasets as well? STT might struggle in this area.

[2020-07-20 21:15] lissyx commented on #3088
[code]

[2020-07-20 21:17] lissyx commented on #3088
That seems like a weird bad commit, I'll verify that tomorrow ...

[2020-07-21 05:27] kdavis-mozilla commented on #2937
@carlfm01 Is the remaining task now landing the PR "Add UWP Nuget packing support"?

[2020-07-21 07:48] hongyi-zhao opened #3172 "Does DeepSpeech support converting of speech-to-text for Chinese characters now?"
Hi,

I want to know whether DeepSpeech support converting of speech-to-text for Chinese characters now. Any hints will be highly appreciated.

Regards
HY

[2020-07-21 07:52] lissyx commented on #3152
@vikramambrose So, do you have experience on that? We're kind of overloaded so it's complicated for us, as of now, to investigate that kind of change, but if you have feedback / patches to share, that's welcome.

[2020-07-21 07:55] #3172 closed

[2020-07-21 07:55] lissyx commented on #3172
Please reach for support on Discourse. There are already people sharing their work regarding chinese models.

[2020-07-21 08:03] lissyx commented on #3088
And yet, r1.15 and reverting this commit no more issue. So, is this bugged or is this exposing a long-standing issue ? On our side or tensorflow or CUDNN ?

[2020-07-21 08:15] applied-machinelearning commented on #3088
Hmm weird and a small sigh, hoped that it would have delivered a more clear an pinpointed problem ...
Any idea where this op would be used in the context of DeepSpeech and the max_sequence_length array and or the hidden state ?
Perhaps it would be wise to try to get some help from TF people  / Nvidia based on this ?
We do have a commit and some docker test cases with data that triggers the issue.

[2020-07-21 08:19] lissyx commented on #3088
I would have hoped as well

Absolutely none. But it's interesting, because in the past we had to hack a thing: https://github.com/tensorflow/tensorflow/issues/20369 it might be a long shot, but `DT_INT32` + GPU also appears here.

That's the next step yeah, I'd like to limit as much as possible the repro steps and summup them. I still have not been able to get a clear understanding of the triggeri

[2020-07-21 08:53] lissyx commented on #3099
@vasudev-hv So, have you had any luck on that matter?

[2020-07-21 08:54] lissyx commented on #3088
Bad news: it seems the issue is somehow intermittent, and after a few retry with this reverted, it's back and still here ...

[2020-07-21 08:57] lissyx commented on #3088
I will restart bisection then and run it multiple times before calling good / bad ...

[2020-07-21 09:56] applied-machinelearning commented on #3088
I agree, because batch C also gives 75 and that also passes.

What I am also wondering about is that how it could work by artificially limiting the max_sequence_length, since the data that we feed it self isn't changed.
(so I would have expected it to blow up, because the sequences now seem longer than the max_sequence_length, or does it just not process the last bit of (padded or non-padded data

[2020-07-21 10:36] lissyx commented on #3088
There should be tensorflow code that already takes care of that. Now, maybe, for some reason, it's not working as expected in this case? Anyway, in the current state, we have not yet any criterion to do so.

[2020-07-21 11:24] tilmankamp commented on #1536
https://deepspeech.readthedocs.io/en/v0.7.4/TRAINING.html#augmentation

[2020-07-21 12:00] kjzing commented on #3171
Thanks @lissyx

Excuse me that I didn't put much of the details here. I am elaborating the steps here, it could happen there might be some issue with the examples and compatibility as well.

_How we created **our deepspeech model** and done inference, this is working fine for us._

Data:1500 hrs (8k audio files)

1. The files are stereo format files, created separate channels using command
sox inp

[2020-07-21 12:21] lissyx commented on #3171
Again, this is a support request. Use Discourse.

[2020-07-21 12:22] lissyx commented on #3171
Those examples are here to help demonstrate, we can't guarantee they work perfectly ...

[2020-07-21 12:24] lissyx commented on #3171
Unclear what you do here. Do you convert to 8k mono or 8k stereo ? All those transformations might alter your model ...

[2020-07-21 12:50] lissyx commented on #3088
Interesting. I'm re-doing bisect, with more runs on each test to ensure I avoid any intermittent behavior. Maybe with some luck, this will pop. (unfortunately your direct link just gives me PR, not the direct diff you expected, so I'm not sure what part of the PR you mean)

Have you experimented before / after this commit ?

[2020-07-21 12:53] kjzing commented on #3171
Got it @lissyx, will use Discourse. My idea of putting here is, the pretrained model works well with Streaming API. Our model which is working well in normal inference and gives good output, doesn't work with the same setup of Streaming API, we just change the model location

This is confusing me..

[2020-07-21 12:56] lissyx commented on #3171
No, you get poor results with an unsupported example that makes use of the Streaming API in an unsupported usecase on an old version

It would really be helpful if you also trained on 0.7 version, and you test the streaming api with our supported code: C++ client, https://github.com/mozilla/DeepSpeech/blob/v0.7.4/native_client/args.h#L58

[2020-07-21 13:21] kjzing commented on #3171
So, you mean to say i train my model on DS 0.7 and use DS Streaming Example 0.7, this should work ? Or i have to make certain changes in the streaming example ?

[2020-07-21 13:23] lissyx commented on #3171
yes

no, test against the c++ client using streaming feature, as I linked. that's code we support.

[2020-07-21 14:41] lissyx commented on #3153
So @gokgozf can you elaborate explicitely on what is needed ? The only part of code you pasted is already there...

[2020-07-21 14:42] lissyx commented on #3167
Please @SanghviChirag, can you share the actionable items requested ?

[2020-07-21 16:35] #3146 closed

[2020-07-21 16:59] carlfm01 commented on #2937
Hello @kdavis-mozilla, just rebased, I'll send test with a different PR.

@erksch Thanks.

[2020-07-21 17:00] lissyx commented on #2937
So if it's green we can merge this one? Looking forward to it and the tests ;à

[2020-07-21 17:17] lissyx commented on #3088
Re-doing bisect yields:
[code]

I'll see how much that holds.

[2020-07-21 17:23] DanBmh commented on #3153
@lissyx Does scorer packaging still work? I've seen that the py file was replaced by another script with extra installation steps, but didn't test it yet.

[2020-07-21 17:23] carlfm01 commented on #2937
Yes, already got the uwp console project working with a file link to reuse the .Net Framework console, the surprise was we can't run uwp .exe apps from command line out of the box :D, still on it.

[2020-07-21 17:27] DanBmh commented on #3114
I like this, always had to search it myself in the logs...
But I found out today that you also can run `cat your_logfile | grep -B1 Saved` to show the line before the selected line too.

[2020-07-21 17:34] lissyx commented on #3153
In the dockerfile? it's possible we don't take care of that yet

[2020-07-21 17:51] lissyx commented on #3088
5 runs of a r1.15 build without this patch works like a charm on the repro case. I'm running 20 more, but if that holds, it means we actually have something much more actionable now.

[2020-07-21 18:00] applied-machinelearning commented on #3088
Ahh this one does sound related :+1:

[2020-07-21 18:41] SanghviChirag commented on #3167
Hi Sorry,
I didn't get time to work on this. I will post my results soon!

Thanks

On Tue, Jul 21, 2020 at 8:13 PM lissyx <notifications@github.com> wrote:

--
Regards,
Chirag Sanghvi

[2020-07-21 18:45] lissyx commented on #3088
Still no repro with this reverted after 20 tries, I guess we are on track now.

[2020-07-21 18:47] lissyx commented on #3088
[revert-24297a4cb9120351643f7ac3916e7398236ccc0d.patch.txt](https://github.com/mozilla/DeepSpeech/files/4955557/revert-24297a4cb9120351643f7ac3916e7398236ccc0d.patch.txt)

@applied-machinelearning revert of this is a bit non trivial, here is the diff to it, if you are willing to rebuild tensorflow gpu completely (might take some hours depending on your hw)

[2020-07-21 19:00] applied-machinelearning commented on #3088
Do you have a docker build file for that laying around or did you do it on baremetal ?

[2020-07-21 19:03] lissyx commented on #3088
I did it baremetal, ill continue tomorrow to see if we can act from python side instead of rebuilding

[2020-07-21 19:26] #2937 closed

[2020-07-21 19:52] lissyx commented on #3088
looks like it's not something we have leverage on from python code, i'll run a few checks to see if there anything obvious and if not, then we'll follow up with tensorflow issue

[2020-07-21 20:16] lissyx commented on #3088
Another weird behavior:
 - r1.15 with https://github.com/tensorflow/tensorflow/commit/24297a4cb9120351643f7ac3916e7398236ccc0d but forcing `ShouldUsePaddedIO`  to return false breaks the training
 - r1.15 without https://github.com/tensorflow/tensorflow/commit/24297a4cb9120351643f7ac3916e7398236ccc0d just works

So maybe it needs more digging into that patch itself.

[2020-07-21 20:44] erksch commented on #3061
@reuben Hey just tried again from the current master, still the same. I am testing on brand new iPad Air with I think at least 4 GB RAM.

[2020-07-21 20:47] erksch commented on #3061
@reuben Btw, today I implemented microphone streaming on iOS with resampling to 16000Hz. I tested it with a different speech recognition but I think the code would transfer 100% to DeepSpeech. Do you think we could add this to the demo code?

[2020-07-21 21:47] reuben commented on #3061
@erksch I'm running on an iPhone Xs which is also 4GB of RAM, so that's weird.

Microphone streaming would be amazing to have! Can you open a PR?

[2020-07-21 21:59] erksch commented on #3061
Yep hopefully tomorrow :)

[2020-07-21 22:26] applied-machinelearning commented on #3088
Interestingly enough from the pull request it seems they also had intermittent test failures, but it seems they were not addressed.

With a stock TF 1.15 the error message indicates we are running cudnnRNNForwardTrainingEx() when it breaks.
The cudnn docs indicate it is version of the function for padded data:
https://docs.nvidia.com/deeplearning/sdk/cudnn-archived/cudnn_765/cudnn-api/index.html#c

[2020-07-22 08:21] lissyx commented on #3088
It looks like very much the same:
[code]

This is with forcing this way:
[code]

[2020-07-22 08:52] lissyx commented on #3088
Not what I would have expected, but forcing **true** for `use_padded_io` does indeed ... work? I have four retries are that working. It's ... weird.

[2020-07-22 08:55] lissyx commented on #3088
Or it's consistent: our data is requiring padding to be added.

[2020-07-22 09:12] lissyx commented on #3088
[code]

[2020-07-22 09:32] lissyx commented on #3088
So, I could reproduce the issue **before** we merged this PR.

[2020-07-22 09:33] lissyx commented on #3088
Captured also the debug I added on a **non repro** case:
[code]

[2020-07-22 09:53] lissyx commented on #3088
Those two logs seems to fit your analysis @applied-machinelearning: it crashes when the `max_seq_length=75` is not the first value we push.

[2020-07-22 10:15] vasudev-hv commented on #3099
Unfortunately no. Due to constraints on windows hardware(gpu and mem), we had to move to linux.

[2020-07-22 10:21] applied-machinelearning commented on #3088
Could it be handy to not short circuit the loop in the ShouldUsePaddedIO() and let it print out the whole lot of sequence sizes and their order in that mini-batch, before returning to get it completely clear (or print out the whole seq_array at the start) ?

And it doesn't seem to need it completely sorted in the minibatch either (if you look at the non-repro case [75, 74, 74, 75, 74, 74] seems to

[2020-07-22 10:25] lissyx commented on #3088
Those latest logs where not produced by forcing any return value to `ShouldUsePaddedIO`

[2020-07-22 12:47] lissyx commented on #3088
There is some:
[code]

[2020-07-22 13:03] lissyx commented on #3088
Hm, it's not that clear. Here is a log after reversing the ordering when we read CSV file. As you can see, 75 is now first one and yet it fails.=:
[code]

[2020-07-22 13:09] applied-machinelearning commented on #3088
Are you sure ?
The mini-batch sequence array still seems [74, 75] and not [75, 74] ?

[2020-07-22 13:10] lissyx commented on #3088
Are you referring to those lines?

[2020-07-22 13:30] applied-machinelearning commented on #3088
Yes.

[2020-07-22 13:44] lissyx commented on #3088
Well, I'm not 100% sure because we also have logs where there is this `seq_array` ordering and it succeeds

[2020-07-22 14:01] lissyx commented on #3088
Reversing the order, and still explodes:
[code]

[2020-07-22 14:21] lissyx commented on #3088
@applied-machinelearning I don't know what you think, but this defies all the assumptions I can make based on cudnn api doc and what we observe. There's something that is missing to justify the trigger of the issue, and so far, hacking the ordering does not seems to really be the real trigger here, but I can't figure it out, and with just "CUDNN_STATUS_EXECUTION_FAILED" as a feedback and no really

[2020-07-22 14:31] applied-machinelearning commented on #3088
I think it all of this should be enough to issue a bug and directly ping the committer from the bisected commit and the TF var_length_sequence stuff. As they also can double check the CUDNN code and have more insight in all the (data) requirements.

[2020-07-22 14:32] godefv opened #3175 "The native code calls `abort()` inside an non critical function."
I run into the error "Invalid label 0". I assume it is from the function `Alphabet::DecodeSingle()` in the file `native_client/alphabet.cc`.

I don't know why I am running into this error and it is not important for now. What is important is the fact that the code calls `abort()` just after printing this error.

I don't know your guidelines. But I can tell that aborting the whole process, includin

[2020-07-22 14:52] lissyx commented on #3175
it sounds like we broke badly some of your workflow, sorry about that.

I think that this `abort()` comes back from a long time and is here to avoid people getting into other bad situation because of invalid alphabets, and recent refactoring of Alphabet code made that exposed to Python when it was not the case in the past.

[2020-07-22 14:53] lissyx commented on #3175
Not sure though if we can properly fix that very quickly, it'd need better / proper error handling from C++ to Python CTC decoder?

[2020-07-22 15:15] tilmankamp commented on #1565
Limiting should be no problem to implement with the new data-set approach.

A bigger and most probably insufficient change would be required for true skipping, as the trivial approach of "reading all samples until reaching skip offset" would not help on "running experiments quickly". Background: The current data-set approach interleaves all data-sets passed on the command line on the fly while rea

[2020-07-22 15:15] godefv commented on #3175
I have tried to replace the `abort()` call by returning something, but I then get a segfault.
I will let you know if I find something.

[2020-07-22 15:17] lissyx commented on #3175
Well, I suspect because of your alphabet issue, since it's playing with array index and you have error with label 0, it would not be surprising that it segfault if you remove the `abort()`

[2020-07-22 15:18] lissyx commented on #3088
Indeed, I was preparing extra info and pinged this person as well. Let's hope they can quickly assert on their side and come back to us.

[2020-07-22 15:53] applied-machinelearning commented on #3088
Great and thanks again for all your effort so far !

[2020-07-23 10:59] reuben commented on #3175
The behavior is documented, although not in the Python bindings. I'll make a PR to expose the docs there as well.

[2020-07-23 11:01] reuben commented on #3175
#3176 - basically, use the CanEncode and CanEncodeSingle methods to test for presence of a character in the alphabet.

[2020-07-23 11:17] reuben commented on #3175
I was missing the fact that our own training code is not using these APIs correctly. Pushed another commit fixing that as well.

[2020-07-23 11:26] godefv commented on #3175
I was not using the Alphabet API myself. My issue was that I initialized my Scorer improperly before calling `ctc_beam_search_decoder()`. Maybe, the code there is also not using the Alphabet API correctly ?

[2020-07-23 11:30] godefv commented on #3175
By the way, the time before getting answered on this project is amazingly short. It is pretty cool !

[2020-07-23 14:38] reuben commented on #3175
I have fixed the training code path that could hit this problem, but the `abort` is still there. We're happy to review a PR converting the function to return an error code and take an outparam. All callers would also have to be adapted. Because this is a non-trivial work and it can only be reached by directly calling into the Scorer and decoder APIs outside of our training interface, we're gonna p

[2020-07-23 15:06] tilmankamp opened #3178 "Librosa >=v0.8 requires 1-dimensional shape for mono samples"
Using resample augmentation with librosa >= v0.8 will result in `Mono data must have shape (samples,)...` exception.

[2020-07-23 17:27] godefv opened #3180 "Timesteps produced by the CTC decoder are wrong."
Since commit 33760a6b, the following code was removed from file `native_client/ctcdecode/path_trie.cpp`.

[code]

Therefore, the timesteps are now the first time at which each path was created, which is almost always too early. Often, the peak of probability of a letter is outside the time range given by the decoder.

Anyway, there is a way to get even better timesteps. If you want, I can submit a

[2020-07-23 17:49] reuben commented on #3180
I don't know if you're just trying to be playful, but it's coming across as rudeness. The implied message is that our code is not even trying to be accurate anymore, as if we're either making it worse on purpose or too dumb to realize what we're doing.

The surrounding discussion is here: https://github.com/mozilla/DeepSpeech/issues/2867#issuecomment-612595999

If you can submit a PR that does not

[2020-07-23 18:04] godefv commented on #3180
I am sorry, I didn't want to sound rude.

[2020-07-23 18:06] godefv commented on #3180
Actually, it seems to me that the removal of the timestep update might have been accidental.
Maybe only the probability update was intended ?

[2020-07-23 18:08] godefv commented on #3180
I have edited my first message to remove the failed funny part.

[2020-07-23 18:09] reuben commented on #3180
Thanks, I removed the surrounding discussion as well.

[2020-07-23 18:11] reuben commented on #3180
I removed the timestep update because I didn't want to "stack heuristics", and I thought the timestep update and the late beam expansion logic (which is currently in the tree) would achieve the same result. I assume you have seen evidence to the contrary, hence this issue.

If adding the timestep update improves the bad timings you're seeing, then maybe it is the right thing to do. Can you share s

[2020-07-23 19:15] godefv commented on #3180
I understand better now. The issue is more subtle than I thought.

I have used a slightly different method (comparing probabilities of the complete path, instead of just the last bit), which provides much better accuracy in my case.
However, I have just realized that this method is not flawless either, so it is also a heuristic.

Here is a small example. In my case, the argmax of the logits gives

[2020-07-23 19:35] godefv commented on #3180
I am closing this issue for now. If I gather enough evidence of improvement, I will submit a PR.
Thank you for your explanations.

[2020-07-23 19:35] #3180 closed

[2020-07-23 20:30] reuben commented on #3180
Thanks for the analysis, I understand better what you are seeing now.

In the mean time I also remembered an additional reason why I removed the timestep update. It was because makes it much harder to understand the behavior of the decoder. It modifies the PathTrie in-place, and because PathTrie nodes are shared between different beams, changing the timestep and probability of a node also changes

[2020-07-24 09:12] godefv commented on #3180
I have thought about creating a new instance as well. I think it is the right thing to do at least in some cases like path "AB_CD" vs path "A__BD" will give two different global transcriptions "ABCD" and "ABD" where the two versions of the decoded "B" really have different timesteps. But it might not be easy to detect.

There is at least, one case where the update is always good, when comparing tw

[2020-07-24 09:26] #1565 closed

[2020-07-24 10:06] lissyx commented on #3088
@applied-machinelearning So, we've got some feedback from the nvidia dev, and it seems `TF_CUDNN_RESET_RND_GEN_STATE=1` does help here. I'm unsure of the implications, especially in term of performances, but maybe you can give that a try on your full dataset, this could help us assert:
 - it is indeed related to the issue
 - have an idea of the perf impact

[2020-07-24 12:32] #3178 closed

[2020-07-24 15:56] lissyx opened #3181 "Switch to newer GCP workers"
- [x] Create new set of workerType on TC Community
 - [x] Change our TC setup to use new workers

[2020-07-24 16:46] hadpro24 commented on #3099
My issue:
DeepSpeech version (0.7.0-alpha.2) and CTC decoder version (0.7.4) do not match. Please ensure matching versions are in use.

And pip can't find ds-ctcdecoder==0.7.0-alpha.2

[2020-07-24 16:50] reuben commented on #3099
Don't hijack existing issues for unrelated problems.

[2020-07-24 17:11] lissyx commented on #3099
Moreover, you reported that one month ago and did not shared any informations versions, so there was no way for us to know that, especially since we had some infra-related issue at the same time.

As @reuben said, please reach for support on Discourse. Also, the error is quite explicit: you have `ds_ctcdecoder==0.7.4` installed and your are still running 0.7.0-alpha.2 training code. Please just up

[2020-07-24 18:42] lissyx opened #3182 "Document how to build generate_scorer_package"

[2020-07-25 06:24] zaptrem commented on #1536
@tilmankamp Thanks! Are the pretrained models trained with reverb and these other augmentations enabled?

[2020-07-25 23:27] abhipn opened #3183 "The inference results from deepspeech model is not good?"
I have recently came across deep-speech and I have installed all packages/dependencies for it. Then I'm using this below given script to inference from live streaming audio. But the problem here is the results are not good.

Is there any other improvements that I can make to the below script to improve the results further?

[code]

[2020-07-27 07:12] #3183 closed

[2020-07-27 07:13] lissyx commented on #3183
As written in the template you removed, please use Discourse for reaching support. And when you do so, please share more than "the results are not good": we need setup context, ground truth, model used, etc.

[2020-07-27 08:11] lissyx opened #3184 "Missing doc for training data augmenation ref"
[code]

[2020-07-27 08:22] reuben commented on #3061
@erksch have you had a chance to work on the microphone streaming code? I would love to include that in 0.8 if possible :)

[2020-07-27 08:23] kdavis-mozilla commented on #1536
Models trained on data with such augmentations are in the process of being trained.

[2020-07-27 08:27] #3182 closed

[2020-07-27 08:27] #3184 closed

[2020-07-27 11:04] lissyx opened #3187 "msys2 keyring breakage"
https://www.msys2.org/news/#2020-06-29-new-packagers

[2020-07-27 11:53] erksch commented on #3061
@reuben sorry for the absence, i was a little bit occupied. I'll make a PR today!

[2020-07-27 13:01] erksch commented on #3061
@reuben I noticed "/deepspeech_ios/libdeepspeech.dylib" in the .gitignore. Maybe that is what is missing for me? Where do I get this file?

[2020-07-27 13:02] reuben commented on #3061
@erksch that is a leftover from older code, I'll remove it. You should only need `libdeepspeech.so`.

[2020-07-27 13:46] lissyx commented on #3167
Please @SanghviChirag ? We can't move forward without your feedback, and it'd be important if we can assert if there is not a huge issue we missed before we issue a new stable release.

[2020-07-27 13:47] lissyx commented on #3153
Please @gokgozf ? Can you elaborate on what you miss?

[2020-07-27 13:47] lissyx commented on #3152
@vikramambrose Can you share feedback on that matter?

[2020-07-27 13:56] #3187 closed

[2020-07-27 14:25] kdavis-mozilla commented on #3153
@gokgozf In order to help us help you, could you elaborate on what's missing?

[2020-07-27 15:00] lissyx commented on #3181
We might be able to use `n2-highcpu-32` soonish, it does not have the nested virtualization limitation

[2020-07-27 15:08] erksch commented on #3061
[Here is the PR](https://github.com/mozilla/DeepSpeech/pull/3189)
While file transcription does still not work, the microphone streaming actually works for me :D

[2020-07-27 16:44] kdavis-mozilla opened #3190 "Migrate from LFS"
In order to migrate away from git LFS usage we need to

- [x] Remove the scorer from the current repo
- [x] Update documentation to reflect the removal of the scorer

[2020-07-28 09:13] applied-machinelearning commented on #3088
Was away from keyboard this weekend, running tests now.
The short tests work with that ENV variable set, now running the longer one.

[2020-07-28 12:54] kdavis-mozilla opened #3194 "Migrate from LFS: Programmatically copy older, tagged scorers to their corresponding releases"
Programmatically copy older, tagged scorers to their corresponding releases

[2020-07-28 12:57] kdavis-mozilla commented on #3190
Closed via #3192

[2020-07-28 12:57] #3190 closed

[2020-07-28 23:28] reuben commented on #3194
Done!

[2020-07-28 23:28] #3194 closed

[2020-07-29 07:14] thesby commented on #3172
Do you have any link about this? Thank you.

[2020-07-29 07:20] kdavis-mozilla commented on #3172
[Discourse](https://discourse.mozilla.org/c/deep-speech/247)

[2020-07-29 10:59] kdavis-mozilla commented on #3115
Just added to draft release notes.

[2020-07-29 10:59] #3115 closed

[2020-07-29 11:04] kdavis-mozilla commented on #3059
Added to draft release notes.

[2020-07-29 11:04] #3059 closed

[2020-07-29 15:50] hadpro24 commented on #3099
I find the solution, Update DeepSpeech version (cloning a latest version) and I resume the configuration for all.
It just versioning problem.
nevertheless thank you

[2020-07-30 15:41] miladfa7 opened #3197 "Transfer Learning: Unknown command line flag 'lm_binary_path'"
I run Below command-line for transfer learning English to Persian but unknown the flag 'lm_binary_path'!!
please help me, thanks

Deep Speech version ---> v0.7.4
[code]

**Error : FATAL Flags parsing error: Unknown command line flag 'lm_binary_path'**

[2020-07-30 15:54] lissyx commented on #3197
Please read the doc. This flag is not good anymore: use `--scorer_path`.

[2020-07-30 15:54] #3197 closed

[2020-07-30 15:54] lissyx opened #3198 "NuGet build should not depend on Examples"
`do_deepspeech_netframework_wpf_example_build()` depends at build time against https://github.com/mozilla/DeepSpeech-examples/ we should stop that.

[2020-07-30 19:14] zaptrem commented on #1536
@kdavis-mozilla Are the just-released 0.8 models trained with these augmentations? Or are those coming in 0.9/1.0?

[2020-07-30 19:36] sbluhm opened #3200 "DeepSpeech does not build properly on alternative Linux systems (i.e. ARM)."
I tried to build DeepSpeech 0.7.4 on a Rasperry Pi 3 running CentOS 8.

Instructions followed: https://github.com/mozilla/DeepSpeech/blob/v0.7.4/native_client/README.rst

By looking at the Makefile (definitions.mk), it does not consider the processor type when compiling for Linux systems. Linux systems are always assumed to be x86_64. This assumption is not valid.

Result: When building DeepSpeech

[2020-07-30 20:03] zaptrem commented on #3061
Do you plan on publishing a Cocoapod for the framework portion of this? I'm going to build a React Native module for this but auto-linking requires a pod. Afterward, I can add instructions for users to drag the model file into the correct directory.

[2020-07-30 20:20] #3200 closed

[2020-07-30 20:21] lissyx commented on #3200
We only support cross compilation for ARM systems, but if you need you might be able to leverage TARGET make var, see definitions.mk

[2020-07-30 20:26] reuben commented on #3061
It's not just the models, you also need to add the shared library, `libdeepspeech.so`, as a direct dependency of the app. Do you think it still makes sense to publish the framework on Cocoapods given this requirement? I've been hesitant to do that and then get tons of support requests from people with weird linker errors.

We could try to `dlopen` the library and give a more descriptive message bu

[2020-07-30 20:28] zaptrem commented on #3061
I'll look into that. Loading dynamic code from the internet isn't allowed on the AppStore.

[2020-07-30 20:28] lissyx commented on #3200
This should work if you pass `TARGET=rpi3` but in our case it does also assume cross-compilation.

And if you ask, we cannot really support native ARM builds because it'd require lots of CI extra hardware and complexity.

In your case, adapting cross compilation to target a centos 8 system should do the trick, but you might also have to adapt tensorflow build as well, i know they have had native b

[2020-07-30 20:33] lissyx commented on #3200
That being said, i would have expected our prebuilt binaries for rpi3 to work on your centos given the versions. Can you elaborate why it does not work ?

[2020-07-30 21:23] reuben commented on #3061
I'm not talking about loading dynamic code from the internet, I'm talking about having to add a shared library as a dependency or your app in Xcode. It'll then get codesigned and bundled with the application. This is because iOS does not allow linking against a framework that itself links against another shared library. Maybe I should look more seriously into static linking, which would make this

[2020-07-30 21:23] al-sabr opened #3202 "x86 32 Bits version"
Any plans for 32 bits systems?

[2020-07-30 21:33] lissyx commented on #3202
This is not supported by TensorFlow, so no.

[2020-07-30 21:33] #3202 closed

[2020-07-31 08:39] kdavis-mozilla commented on #1536
@zaptrem They are coming later.

[2020-07-31 14:06] lissyx commented on #3088
I'm presently running one or two training epochs with `TF_CUDNN_RESET_RND_GEN_STATE=0` / `TF_CUDNN_RESET_RND_GEN_STATE=1` to assert the impact

[2020-07-31 20:44] mrstegeman opened #3205 "generate_scorer_package alphabet logic is inverted"
The `--help` output indicates that `--alphabet` is optional if using UTF-8 mode, e.g. with `--force_utf8`. However, the code actually does the opposite:

[code]

[2020-07-31 23:21] mrstegeman opened #3207 "generate_scorer_package segfaults on linux/armv7 and linux/arm64"
Trying to run the `generate_scorer_package` from [here](https://github.com/mozilla/DeepSpeech/releases/download/v0.8.0/native_client.rpi3.cpu.linux.tar.xz) on Raspbian (in my case, on a Raspberry Pi 4) generates a segfault:
[code]

Here's a (tiny) backtrace from gdb:
[code]

Some additional info:
[code]

[2020-08-01 00:47] lissyx commented on #3207
Even
[code]

Does segfault ...

[2020-08-01 01:09] lissyx commented on #3207
Debug build:
[code]

[2020-08-01 01:49] lissyx commented on #3207
Ok, looks like using TensorFlow's gcc 6.5 from RPi it's working, when it is not with our Linaro Gcc 7.2.

[2020-08-01 02:23] lissyx commented on #3207
removing `-shared` works: https://github.com/mozilla/tensorflow/blob/r2.2/tools/arm_compiler/linaro-gcc72-armeabi/linaro_toolchain_config.bzl#L383

so I think there's something still wrong in our toolchain definition ...

[2020-08-01 02:40] lissyx commented on #3207
well, it's just dumb as hell: it's just wrong for executables ...

[2020-08-01 02:41] lissyx commented on #3207
I could verify it is working on linux/rpi3 and linux/arm64 so it should be green on CI quite easily ...

[2020-08-01 06:22] zaptrem commented on #3061
If that won't require some massive overhaul it might be a good idea. Static frameworks are sometimes better for app load times than dynamic ones. Let me know how this goes, as switching from Apple's wildly unstable built-in transcription API to DeepSpeech for extremely long on-device transcription jobs is on our roadmap (after trying it on Android starting in a few days).

[2020-08-01 14:37] lissyx commented on #3207
Once again what was supposed to be a tiny patch with "quite easy green CI" turns into a huge mess ...
macOS infra is overloaded and takes ages, taskcluster workers are dying out of disk space ...

[2020-08-02 09:35] #3198 closed

[2020-08-02 10:56] AASHISHAG opened #3210 "Unable to train DeepSpeech on Tuda-De dataset."
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: pip install tensorflow-gpu==1.15.2
- **TensorFlow version (use command below)**: v1.15.0-92-g5d80e1e 1.15.2
- **Python version**: Python 3.6.10

[2020-08-02 11:20] lissyx commented on #3210
https://github.com/tensorflow/tensorflow/issues/41630#issuecomment-663334262

Can you verify with that env variable if it works ?

[2020-08-02 13:05] lissyx commented on #3210
@AASHISHAG see above

[2020-08-02 13:33] lissyx commented on #3181
It might be the reason why we cannot build anymore linux/cuda tensorflow: 15 retry, always claim_expired after 20/30 min. not sure yet if it's just disk space or if maybe we run out of RAM.

[2020-08-02 14:10] lissyx opened #3211 "Use proper Windows workers"
We have a mix of non -b and -b workers being used betweek win / gpu workers, we should have it all aligned together:
 - use win / win-gpu: https://github.com/mozilla/DeepSpeech/pull/3214 https://github.com/mozilla/DeepSpeech/pull/3215
 - don't use (they are beta, for testing) win-b / win-gpu-b
 - right now, the configurations are not identical, so we need to update -b before: fix https://github.co

[2020-08-02 14:33] AASHISHAG commented on #3210
@lissyx : Setting `TF_CUDNN_RESET_RND_GEN_STATE=1` resolved the issue.

Thank you, I am closing the ticket.

[2020-08-02 14:33] #3210 closed

[2020-08-02 15:24] #3205 closed

[2020-08-02 15:24] lissyx commented on #3210
Thanks, it means there seems to be much more impact we anticipated / experienced

[2020-08-03 09:57] #2978 closed

[2020-08-03 13:48] lissyx commented on #3167
@SanghviChirag We are still waiting on your infos.

[2020-08-03 14:37] lissyx commented on #3181
New machine types are available: https://github.com/mozilla/community-tc-config/commit/2304d14ebf169703f873bed61ccea5bb2cd9f8dc

[2020-08-03 18:30] 8orbs commented on #3155
where is that topic in support?

[2020-08-03 19:55] #3211 closed

[2020-08-04 08:41] lissyx commented on #3088
So I could not spot any huge difference: only a 20-secs per epoch slowdown.

[2020-08-04 09:12] #3207 closed

[2020-08-04 10:48] applied-machinelearning commented on #3088
I think you are thinking about setting this environment var from the DS code as a workaround for not getting a TF 1.15.4 release ?

(I think it's not very wise keeping TF 1.15 that broken in the first place, it wastes a lot of resource everywhere from people having their training go bust and perhaps trying to debug that again (for all projects and people still using TF 1.15 with LSTM), while it is

[2020-08-04 11:12] #3181 closed

[2020-08-04 16:07] lissyx commented on #3088
At least know if it's a good thing to debug people with that or if we are creating underlying issues.

Sure, but it's not in our hands nor in the hands of people who will review the PR, there's a policy and they might have their hands tied.

Exactly.

[2020-08-05 03:04] ryantan1 opened #3225 "tensorflow 1.15.2 is low"
Hi,

tensorflow2.x is so stable now, more and more ai applications are based on it.
DeepSpeech is still based on v1.x, and can't cowork with other software well due to tensorflow version

when will you upgrade tensorflow to 2.x. thank a lot~

[2020-08-05 05:49] neocheema opened #3226 "DeepSpeech inference runs 2x slower with 0.8 vs 0.7.4"
I'm using 0.7.4 and 0.8 releases on the same server with 2080ti GPU wht cuda 10.2 . I've used the default pre-trained models and I'm not using any custom code. The result timings are starkly different.

With 0.7.4 I get
<code>
$ deepspeech --model ~/models/deepspeech-0.7-models/deepspeech-0.7.4-models.pbmm --scorer ~/models/deepspeech-0.7-models/deepspeech-0.7.4-models.scorer --audio ~/models/Test

[2020-08-05 07:03] ryantan1 commented on #3225
well, so you don't upgrade it based on tensorflow2.x~

[2020-08-05 07:30] lissyx commented on #3226
@neocheema Please:
 - don't cut output so we can have versions informations
 - share setup
 - share installs steps: is this c++ client, python, nodejs?
 - share details on the audio

[2020-08-05 07:33] lissyx commented on #3226
Our GPU runtime depends on:
 - CUDA 10.0 for 0.7
 - CUDA 10.1 for 0.8

[2020-08-05 07:40] lissyx commented on #3226
Debian Sid, 440.100, CUDA 10.0/10.1, 2x RTX 2080 Ti, I get similar values for both runtime:

Here, 0.7.4:
[code]

Here, 0.8.0:
[code]

[2020-08-05 09:01] applied-machinelearning commented on #3088
That's true, perhaps my dutch heritage that policies are nice when they make sense ;)
I'm also fascinated by the little help you get to get the requested test implemented, essentially blocking the patch,
most opensource communities I have encountered so far are happy when you fix or even pinpoint (a long standing) bug.

By the way, I'm wondering do you know how often do we still use the cached ver

[2020-08-05 09:28] neocheema commented on #3226
Apologies for not sending the complete logs last time. Like you mentioned, logs revealed the issue. On closer observation, the issue seems due to cuda version 10.2 vs 10.1 .The deepspeech binaries look for "libcudart.so.10.1", which obviously isn't  available on cuda 10.2. I'm adding the logs for running inference on 10.2 machine. You can close the issue, as its not a bug per-se. But maybe this be

[2020-08-05 09:30] #3226 closed

[2020-08-05 09:34] lissyx commented on #3226
What behavior do you want we document ?

[2020-08-05 10:23] lissyx commented on #3088
Well, even fixing ruy computation on just-released r2.2 was not taken and only merged on master

[2020-08-05 11:44] lissyx commented on #3226
No, on closer observation, you are fallbacking on CPU only.

[2020-08-05 23:08] SanghviChirag commented on #3167
Even after installing this, it detects v0.7.0
![image](https://user-images.githubusercontent.com/11367944/89472734-bafa6c80-d79e-11ea-8707-6a92870ca228.png)

[2020-08-05 23:11] SanghviChirag commented on #3167
`pip install -v` + `pip list` ?
pip 18.1

pip freeze (pip list)
appdirs==1.4.4
audioread==2.1.8
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cx-Freeze==6.1
decorator==4.4.2
deepspeech==0.7.4
google-api-core==1.22.0
google-api-python-client==1.10.0
google-auth==1.19.2
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.8
importlib-metadata==1.6.

[2020-08-05 23:24] lissyx commented on #3167
Can we be serious two seconds?
we need the installl log!

[2020-08-05 23:26] lissyx commented on #3167
Please avoid screenshots.
Please explain how you run things, what is this shell, are you running under msys2? Under PowerShell? Under `cmd.exe`?
Can you ensure there is no `libdeepspeech.so` being hit in your `PATH`?
Can you `strace` the loading to see where the `libdeepspeech.so` is being loaded from?

[2020-08-05 23:30] lissyx commented on #3167
@SanghviChirag Can you please share details ?

[2020-08-06 00:37] lissyx opened #3228 "TaskCluster-trigger bot"
We would need a bot (e.g., using https://probot.github.io/docs/) that would allow for reacting to the setting of some github label on PR submitted by contributors.

Upon `ci:run-taskcluster` (for example) on a PR that is **reviewed** and accepted, then the code would, with appropriate credentials:
 - git checkout the PR
 - git push it to trigger taskcluster

[2020-08-06 02:26] RucksP commented on #3228
Hi I am new to contributing to open source. Just to be clear what you are asking you want a prorobot bot to:

1) Look at the pull requests of any specified repo, or all Mozilla repos?
2) Upon a pull request being assigned a label do something automatically.
 a) Is there a list of what you want to be done for every label, or do you just want a framework which can be added upon later?

[2020-08-06 12:08] reuben commented on #2651
Updated first comment with a list of things to do, please add anything missing or check off completed items.

[2020-08-06 14:27] lissyx commented on #3228
Thanks for your interest!

Yes

It's really only one use-case here, and my understanding after quickly looking at the probot doc is that it should be fairly easy relying on that stack to add new cases after

I don't think so, why should we do that?

It should run on heroku under our control.

[2020-08-06 16:20] est31 opened #3231 "Name for Rust bindings"
Hi I've seen you've renamed the library.

https://github.com/mozilla/DeepSpeech/commit/fa2191104878fed468cb16cc8782c345c98ff7aa

Currently the Rust bindings are still named `deepspeech` and `deepspeech-sys`. I wonder which name they should get now. Do you have any ideas?

[2020-08-06 17:08] lissyx commented on #3231
Well, if you are okay with renaming (which we would love for consistency), I guess `mozilla-voice-stt` and `mozilla-voice-stt-sys` would be good, nope?

[2020-08-06 17:34] lissyx commented on #3088
Well, I can understand why they want that, I guess in their position I'd do the same. Looks like things are moving now, I hope this can go into a 1.15.4 or in the worst case, we need statement on the consequences of the flag.

[2020-08-06 21:26] est31 commented on #3231
Names sound good. Will use them. Thanks!

[2020-08-06 21:26] #3231 closed

[2020-08-07 02:07] RucksP commented on #3228
Hi can you clarify what is meant by reviewed and accepted?

My first guess is that it means that all reviews have a state of "APPROVED", but I am not sure.

[2020-08-07 09:43] lissyx commented on #3228
Yes.

I'm not sure I understand what that means, often there is only going to be one person reviewing a PR.

I think we just care about the latest reviews from each of the reviewers ?
So if at time t all the reviewers set an "APPROVED" flag, then we can consider this is fine and proceed.

Thanks, I'll take a look!

[2020-08-07 18:29] lissyx commented on #3088
The fix landed upstream.

[2020-08-08 13:45] kdavis-mozilla commented on #2655
- [ ] Improve logo placement on left navigation
- [ ] Add Twitter link
- [ ] Size blog videos
- [ ] Get references to work without jekyll-scholar
- [ ] Change border color of captioned blog images
- [ ] Size blog JSFiddle
- [ ] Rework Model Page table
- [ ] Write Model Card for 0.7.0 model
- [ ] Write Model Card for other 0.7.X models
- [ ] Write Model Card for 0.8.0 mode

[2020-08-10 12:22] tilmankamp opened #3235 "Add support for .tar(.gz) targets to bin/data_set_tool.py"
Direct writing of tar-files instead of taring a CSV set with samples from the FS would greatly accelerate conversion of SDBs on non-SSD drives.

[2020-08-10 20:05] lissyx commented on #3169
We might need special care for things like SWIG: it depends on `automake` for example

[2020-08-12 20:05] SanghviChirag commented on #3167
I'm using Anaconda Prompt to get Linux familiarity in Windows OS.
Following are the exact steps I'm doing:
1. Create a virtualenv using python 3.6.8: python -m venv <env-name>
2. Activate env: <env-name>/Scripts/activate
3. pip install deepspeech (Latest version i.e. v0.8.1 is being installed.)
4. downloaded the latest pre-trained model:
    https://github.com/mozilla/DeepSpeech/releases/download/

[2020-08-12 23:52] lissyx commented on #3167
Well, I'm sorry but it's 1000% non supported setup. Please stick to at least pure Python virtualenv as we document.

Still no log of the install, so we can't verify what is happening.

Please verify with the `deepspeech` binary installed by the package, and verify it loads the correct package

Same:
 - verify it loads the proper `deepspeech` python module
 - verify it loads the proper `libdeepspee

[2020-08-13 13:52] #3235 closed

[2020-08-17 00:58] zaptrem commented on #3061
Any change on this? I'm starting the Android half of this library tonight.

[2020-08-17 07:32] alexmay23 commented on #3061
@reuben hey. Where can I find libdeepspeech.so for iOS, or how can I build it by myself? I looked at links you have provided long time ago but it sends me 404. Thanks in advance.

[2020-08-17 08:25] lissyx commented on #3061
It's provided in the latest 0.8 or alpha 0.9 on github releases

[2020-08-17 09:24] Arpitrf opened #3249 "libmozilla_voice_stt.so linked against macOS 10.15 instead of 10.10"
Hello,

I am getting the following error when running the below command.

`**(deepspeechenv) 192:deepspeech apple$** deepspeech --model deepspeech-0.7.0-models.pbmm --scorer deepspeech-0.7.0-models.scorer --audio audio/2830-3980-0043.wav

Traceback (most recent call last):
  File "/Users/apple/Desktop/Citi/FRM/deepspeech/deepspeechenv/bin/deepspeech", line 5, in <module>
    from deepspeech.client

[2020-08-17 09:31] lissyx commented on #3249
Please document what version that is, because we force targetting à lower version...

[2020-08-17 09:44] lissyx commented on #3249
Here, 10.10: https://github.com/mozilla/STT/blob/master/taskcluster/darwin-opt-base.tyml#L52

So I don't know why it would require 10.15 ...

[2020-08-17 10:15] Arpitrf commented on #3249
deepspeech version: 0.8.1
Python version: Python 3.6.5
pip version: pip 20.2.2

[2020-08-17 10:25] alexmay23 commented on #3061
@lissyx iOS build only in 0.9 alpha.

[2020-08-17 10:27] Arpitrf commented on #3249
Ok I found a work-around.

pip uninstall deepspeech
pip install deepspeech==0.7.0

Version 0.7.0 works.

Is deepseech version 0.8.1 incompatible with macOS?

[2020-08-17 10:28] lissyx commented on #3249
Did you read my replies? It should not.

[2020-08-17 10:30] lissyx commented on #3249
@Arpitrf Please, can you check with `native_client.tar.xz`, to check if it is `libdeepspeech.so` build or just the Python wrapper.

[2020-08-17 10:31] lissyx commented on #3061
It's always nice when you trust people that are working on the project.

[2020-08-17 10:32] Arpitrf commented on #3249
I am sorry I did not understand the above.

[2020-08-17 10:34] lissyx commented on #3061
https://community-tc.services.mozilla.com/tasks/index/project.deepspeech.deepspeech.native_client.v0.8.1/ios_arm64-tflite
https://community-tc.services.mozilla.com/tasks/index/project.deepspeech.deepspeech.native_client.v0.8.1/ios_x86_64-tflite

[2020-08-17 10:35] lissyx commented on #3249
https://github.com/mozilla/STT/releases/download/v0.8.1/native_client.amd64.cpu.osx.tar.xz

[2020-08-17 10:37] alexmay23 commented on #3061
awesome. thank you.

[2020-08-17 10:39] Arpitrf commented on #3249
This installed this - native_client.amd64.cpu.osx.tar.xz. What to do next?

[2020-08-17 10:42] lissyx commented on #3249
Extract and run `./deepspeech --version` to see if you have the same problem?

[2020-08-17 10:51] Arpitrf commented on #3249
Output: DeepSpeech 0.8.1

[2020-08-17 10:51] lissyx commented on #3249
Can you try to run a model then?
[code]

[2020-08-18 03:21] tranzmatt opened #3253 "ds-swig.tar.gz not available on 0.7.* or 0.8.* versions"
I'm trying to build 0.7.3 of the DeepSpeech repo (which redirects to this repo) and the native_client/definitions.mk has a SWIG_DIST_URL that no longer exists:

"https://community-tc.services.mozilla.com/api/index/v1/task/project.deepspeech.swig.linux.amd64.b5fea54d39832d1d132d7dd921b69c0c2c9d5118/artifacts/public/ds-swig.tar.gz"

Was this removed?  The same URL is defined in 0.8.1 too

[2020-08-18 08:00] lissyx commented on #3253
It expired, please build 0.8.1

[2020-08-18 08:00] #3253 closed

[2020-08-18 08:26] lissyx commented on #3253
err, not 0.8.1, but r0.8

[2020-08-18 08:27] lissyx commented on #3253
I'm testing if we can re-trigger older tasks to re-publish older artifacts

[2020-08-18 08:50] lissyx commented on #3253
@tranzmatt Looks like re-building and re-publishing the artifacts worked.

[2020-08-18 09:00] lissyx commented on #3088
We still have no feedback whether a 1.15.4 can be issued for that.

[2020-08-18 11:21] lissyx commented on #3249
@Arpitrf Please?

[2020-08-18 12:20] Arpitrf commented on #3249
Still does not work.

`**(deepspeechenv) 192:deepspeech apple$** ./deepspeech --model deepspeech-0.7.0-models.pbmm --scorer deepspeech-0.7.0-models.scorer --audio audio/2830-3980-0043.wav

TensorFlow: v2.2.0-24-g1c1b2b9dd9
DeepSpeech: v0.8.1-0-gfa883eb8
2020-08-18 17:48:29.840025: I tensorflow/core/platform/cpu_feature_guard.cc:143] Your CPU supports instructions that this TensorFlow binary was no

[2020-08-18 13:00] lissyx commented on #3249
Thanks, so I fear this is a regression from using XCode for iOS support :/ cc @reuben

There's an upstream Bazel bug matching that, where Bazel does not respect minimum sdk we force, but it was only fixed in 3.4 and TensorFlow r2.2 used for r0.8 uses Bazel 2.0.0, and I don't see any workaround so far.

We just upgraded master to r2.3, but:
 - it is using Bazel 3.1, not 3.4
 - if it fixes, it requi

[2020-08-18 13:04] lissyx commented on #3249
Also, changing Bazel version is kind of invasive, I'm not sure we want to do that on 0.8 ...

[2020-08-18 17:31] Arpitrf commented on #3249
Thanks for your help!

[2020-08-18 19:35] hijklmno opened #3257 "[Feature request] Arg params to support specifying which GPU to use"
Hey all,

I am currently running the open-source version 0.7.4 with the included pretrained model and scorer. I am noticing it defaults to the first GPU, as per TensorFlow defaults. My computer has 4 GPUs, and I wish to be able to specify which GPU the STT should be using so that I can run (in parallel) multiple transcription jobs. I noticed TensorFlow has the ability to [specify which GPU to use]

[2020-08-18 19:46] lissyx commented on #3257
Just rely on cuda env variable `CUDA_VISIBLE_DEVICES` ?

[2020-08-18 19:47] lissyx commented on #3257
This is a lot of extra complexity for à usecase solved by the env variable above.

[2020-08-18 19:47] #3257 closed

[2020-08-18 21:24] zaptrem commented on #3061
@reuben I'm going over the test project you made for iOS. Why did you decide to use AVCaptureSession and all of its intricacies instead of AVAudioEngine? In addition to working in the background, it seem like fewer raw, unsafe pointers and mallocs would be needed to accomplish the same goal. I threw together something similar for a half-finished RN Module that uses Apple's SFSpeech AudioBuffer Rec

[2020-08-19 08:29] erksch commented on #3061
@zaptrem The microphone transcription was written by me. It works, but if you have a better idea feel free to make a new PR. Maybe I missed AVAudioEngine in my research on processing audio data.

What do you mean by that? The iOS test app supports live microphone transcription.

[2020-08-19 12:03] lissyx commented on #3249
Turns out @reuben might have found a proper fix that is not invasive as we first tought, but it will require some full rebuild so it may take a few days. Hopefully we might do 0.8.2 to ship it.

[2020-08-19 16:34] zaptrem commented on #3061
@erksch I'm not getting any live microphone transcription updates as I record with the demo. Only after I tap "Stop Microphone Recognition" does a transcription print in the console.

I'm working on integrating the Android native client into a React Native module I'm building right now. After I finish that I'll start working with this again.

[2020-08-19 19:15] piraka9011 opened #3263 "import_cv2.py can fail for non-wave files"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS 10.15
- **TensorFlow version (use command below)**: 1.15.2
- **Python version**: 3.7
- **CUDA/cuDNN version**: 10.0/7.6.5
- **GPU model and memory**: P100
- **Exact command to reproduce**: `python bin/import_cv2.py /pat

[2020-08-19 22:44] lissyx commented on #3249
Fixed in master: https://github.com/mozilla/STT/pull/3259

[2020-08-20 08:06] lissyx commented on #3249
And r0.8: #3260

[2020-08-20 08:06] #3249 closed

[2020-08-21 15:18] flowpoint opened #3269 "ONNX release feature request"
i would like you to additionally release the model in ONNX format.
it would allow many new ways of interoperability and of implementing or integrating this project.
this also softens the dependence on tensorflow.

i tried converting the model myself with [tf2onnx](https://github.com/onnx/tensorflow-onnx) but got stuck on the input/output variable names. [summarize graph](https://github.com/onnx/te

[2020-08-23 01:49] rahimnathwani opened #3270 "0.8.2 Release page links to nonexistent scorer download"
The release page for 0.8.2 says:

In addition we release the scorer:
deepspeech-0.8.2-models.scorer

The link has the same format as the link for the 0.8.1 scorer, but the link returns 'Not found'.

[2020-08-23 06:59] #3270 closed, assigned to nobody

[2020-08-23 21:00] zaptrem commented on #3061
@erksch
I'm using it for long-running simultaneous recording+transcription jobs that would be price (and in some cases privacy) prohibitive in the cloud. Users likely can't/won't keep their phones unlocked for two hour recording sessions, so it is a requirement. SFSpeechRecognizer has an offline-only mode, but its far-field accuracy sucks and it is extremely unreliable (i.e., the recognizer straig

[2020-08-24 01:41] zaptrem opened #3271 "Memory Leak using Java Native Client"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/mozilla-voice-stt).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: An

[2020-08-24 01:44] zaptrem commented on #3061
@erksch I decided to post the repo a little earlier than expected [here](https://github.com/zaptrem/react-native-transcription). Right now it only has Android live transcription support. I pushed it because I ran into a memory leak that seems to be linked to the Java native client implementation. I made an issue [here](https://github.com/mozilla/STT/issues/3271).

[2020-08-24 07:54] flowpoint commented on #3269
my hobbyist usecase is accelerated inference on jetson nano.
the steps are described in [speeding-up-deep-learning-inference-using-tensorflow-onnx-and-tensorrt](https://developer.nvidia.com/blog/speeding-up-deep-learning-inference-using-tensorflow-onnx-and-tensorrt/)

simply an onnx export, would allow easier implementation on different platforms with high performance.

but as stated by you above,

[2020-08-24 08:10] lissyx commented on #3271
I know nothing about Kotlin and its memory model, can you ensure this is 100% NOT related to your usage of the library?

[2020-08-24 08:11] lissyx commented on #3269
You should already be able to:
 - leverage TFLite model
 - rebuild `libmozilla_voice_stt.so` with CUDA support on that platform to leverage the GPU.

[2020-08-24 08:16] zaptrem commented on #3271
@lissyx

I, too, know nothing about Kotlin and it's memory model apart from what I learned building this module, which I started only a few days ago. However, my usage is nearly line-for-line identical to the STT-examples Android demo. The only exception is my packaging of the Metadata object and Native Event dispatching. However, the leak remains even when those are commented out.

[2020-08-24 08:22] lissyx commented on #3271
My point being: I have no idea whether the STT-examples code is leak-free, and in the current state of events, I can't focus time on investigate that on JNI/Java side.

[2020-08-24 08:34] zaptrem commented on #3271
Are there other contributors with experience in this area who might be good to cc?

[2020-08-24 08:41] lissyx commented on #3271
The kotlin example was contributed by @erksch

[2020-08-24 10:12] lissyx commented on #3269
So, unless there are other usecases where ONNX is really required, I'll close that. Feel free to re-open if you have other usecases where it makes more sense.

[2020-08-24 10:12] #3269 closed

[2020-08-24 10:14] lissyx commented on #3263
We have always preferred to try and keep the importers from doing work to fix datasets, and this is one case where the issue is in the dataset.

In that specific case, it seems the Common Voice English relese contains buggy data:
 - have you reported that upstream?
 - have you verified SHA from the release to ensure you have had no corruption at download
 - are you sure you re using the latest rel

[2020-08-24 12:28] applied-machinelearning commented on #3088
Perhaps we should try to stage it as a multi-stage rocket:

1. First get the patch applied to the r1.15 tensorflow upstream branch, since it was filled as a bug against that, that seems reasonable and as a bonus it applies clean.
2. Then try to get a release for that branch.
3. If we don't get a release, we could try to get it applied to mozilla-tensorflow.
4. And perhaps even provide an prebuild

[2020-08-24 12:33] lissyx commented on #3088
(1) and (2) goes together, it won't get picked on r1.15 if they don't intend to ship 1.15.4

What for? Supporting tensorflow wheel builds is a huge tasks, we stopped doing that as soon as we can

Same, that requires us to build and support TensorFlow wheel, which is a lot of work.

[2020-08-24 12:43] applied-machinelearning commented on #3088
If i look at: https://github.com/tensorflow/tensorflow/commits/r1.15 I do see some (non direct bug fix) commits after 1.15.3 without an immediate release. And even some very recent commits.

Depends a bit on what you provide. For the 2.x branches I do agree, but since there is were little (relevant) movement on the 1.15
branch that doesn't require very much (or even any) rebuilding since nothing c

[2020-08-24 12:51] lissyx commented on #3088
Then maybe they are considering a 1.15.4 ?

You are highly underestimating:
 - the amount of work it requires to ship a tensorflow release, especially it requires quite a lot of CI-related changes
 - the amount of work we can take realistically in the current context

Just building r1.15 for the purpose of those debugging steps took several local hacks. Re-using TensorFlow's CI Docker stuff also r

[2020-08-24 16:12] piraka9011 commented on #3263
Makes sense.

No, I will see if there are issues upstream and see if there's a bugfix release you mentioned.

If it makes the results more reliable, I wouldn't mind :)

[2020-08-24 16:51] auliofrank opened #3273 "Augmentation techniques"
I can check the audio output of 5 augmentation techniques with bin/play.py file.
I would like to check the result of some other augmentation techniques before decide to apply them for training.
Please give me some advice.
Thank you in advance.

[2020-08-24 16:52] #3273 closed

[2020-08-24 16:52] lissyx commented on #3273
Please use Discourse for support.

[2020-08-24 16:53] lissyx commented on #3263
The problem with not failing hard, is that people might not pay attention to the errors and continue with buggy dataset compared to their expectations.

[2020-08-24 18:15] pomputer opened #3275 ""ERROR: Config value monolithic is not defined in any .rc file" when building"
Hi!
I am trying to build DeepSpeech using the instructions in [https://mozilla-voice-stt.readthedocs.io/en/stable/BUILDING.html](https://mozilla-voice-stt.readthedocs.io/en/stable/BUILDING.html), since the prebuilt version of TensorFlow only utilizes a minor amount of cpu power when transcribing (due to the lack of support for AVX2, I suppose).

When I run `bazel build --workspace_status_command="

[2020-08-24 19:02] lissyx commented on #3275
Support request are to be done on Discourse, and you dont give enough context on the version you are trying to build...

[2020-08-24 19:02] #3275 closed

[2020-08-24 19:10] lissyx commented on #3275
Though it looks like I forgot to update some part of the docs when moving to r2.3

[2020-08-24 19:15] lissyx commented on #3275
This link is likely wrong, `stable` on that project is not really meaningful, this is likely a fallout from creating a new project for the new name

It is very unlikely, AVX2 to the best we could measure when the model was more complex would only account for up to 30% on the CPUs where there was the biggest difference, and around 10-15% on others.

[2020-08-24 19:19] lissyx commented on #3275
The doc is fixed now, but please use Discourse if you need further support.

[2020-08-26 01:13] zaptrem commented on #3271
@lissyx @erksch the Android Studio debugger reports that the memory leak is in the "Native Code" section. Doesn't this indicate that it's a library issue? I'm running multi-hour recognition jobs, so maybe the issue doesn't show up in your shorter test cases?

[2020-08-26 03:45] zaptrem commented on #1536
@kdavis-mozilla Would this noise+dataset be useful to this? https://iqtlabs.github.io/voices/

[2020-08-26 04:15] zaptrem commented on #3061
@reuben Finished the Android portion of the module [here](https://github.com/zaptrem/react-native-transcription).  I totally understand if you haven't thought about this considering all of the craziness going on at Mozilla right now, but has there been any change on the Cocoapods front? I want to make sure I integrate the iOS DeepSpeech library the way it's supposed to be.

[2020-08-26 08:17] lissyx commented on #3271
Again, I know nothing about that tooling. If it's the case, then can you write C code reproducing ? How can we distinguish "native" from our library from swig wrapper?

[2020-08-26 12:06] reuben commented on #3061
I don't know anything about Cocoapods so I'm afraid I won't be helpful for the near term. Contributions always welcome.

[2020-08-26 12:09] reuben commented on #3061
Also it looks like both bazel and tensorflow require changes before we can have a fully static build: https://github.com/tensorflow/tensorflow/issues/28388 https://github.com/bazelbuild/bazel/issues/1920

[2020-08-26 21:07] zaptrem commented on #3061
@reuben The deepspeech_ios.framework files your build system is distributing don't have Build for Distribution enabled. As a result, they're only compatible with the exact Swift compiler you used to build them. See [here](https://stackoverflow.com/questions/58654714/module-compiled-with-swift-5-1-cannot-be-imported-by-the-swift-5-1-2-compiler). It's a 30 second fix, but I have no clue how your mas

[2020-08-26 21:09] reuben commented on #3061
I couldn't figure out how to build a universal framework because they have to be built against different SDKs, not just architectures. I'll take a look at "Build for Distribution".

[2020-08-26 22:55] zaptrem commented on #3061
@reuben Is the iOS 13.5 minimum deployment target intentional?
![Screen Shot 2020-08-26 at 6 52 34 PM](https://user-images.githubusercontent.com/1612230/91364861-ac1b3e80-e7cd-11ea-87a3-7bb360b35649.png)

[2020-08-27 00:05] zaptrem commented on #3061
Turns out I _was_ close! The repo now has a working wav file transcription example. However, it appears the CoreML delegate isn't being used, as CPU usage was at 400% during the Wav transcription. I can't be certain as afaik there's no way to profile Neural Engine usage. GPU usage was at 0%.

[2020-08-27 08:43] carlfm01 opened #3282 "Add UWP console tests"
Test on UWP dll needs a specific type of project to run properly, just a reminder for me

[2020-08-27 08:52] carlfm01 opened #3283 "Introduce async event handler for intermediate decoding .NET"
Currently, we need to call intermediatedecoding multiple times to get the feeling of "real time", this sometimes is a waste of computing a can be replaced using an `intermediateallback` on `processMfccWindow ` when full batch

Callback looks like:
`typedef void (__stdcall * IntermediateDecodeCallBack)(char* intermediateDecode);`

This is working on my code but I still need to find a way to avoid b

[2020-08-27 09:03] carlfm01 commented on #2948
Yes, a reminder to me: Look into NuGet readme https://github.com/NuGet/Home/wiki/Embedding-and-displaying-NuGet-READMEs

[2020-08-27 09:08] reuben commented on #2948
@carlfm01 I think it'd be better to have the usage documentation centralized on readthedocs, as we've been moving everything to it. We used to have some stuff embedded on README's but it made it easier for changes to slip through and things to get out of sync.

[2020-08-27 09:09] carlfm01 commented on #2948
Oh ok, it will be a redirect then

[2020-08-27 11:25] verloka opened #3285 ".Net Standard lib in the nuget package"
Will you add the .Net Standard library into nuget package?

[2020-08-27 19:18] aszi09 opened #3287 "ctc decoder , pip install upgrade problem"
!pip3 install !pip3 install --upgrade -e .

On google collab

Obtaining file:///content/DeepSpeech
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.6/dist-packages (from deepspeech-training==0.9.0a7) (1.18.5)
Requirement already satisfied, skipping upgrade: progressbar2 in /usr/local/lib/python3.6/dist-packages (from deepspeech-training==0.9.0a7) (3.38.0)
Requiremen

[2020-08-27 19:57] #3287 closed

[2020-08-27 19:57] lissyx commented on #3287
this is `mvs_ctcdecoder==0.9.0-alpha.7`, but name will change back.

[2020-08-27 19:58] lissyx commented on #3287
@aszi09 it's hard to tell if there's a real issue underlying since you purposedly removed all the template we have to share details on your setup.

[2020-08-27 23:13] aszi09 opened #3288 "no module named deepspeech training help needed thanks"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: #
- **Te

[2020-08-28 03:02] zaptrem commented on #3061
@reuben Alright, as of the latest commit we have the first working cross-platform RN module for DeepSpeech. I haven't built iOS live microphone transcription yet as I have another pressing matter to attend to for now, but .wav file transcription is cross platform and live transcription works on Android. I made a few changes to the framework (setting a bunch of important fields that should have bee

[2020-08-28 07:09] #3288 closed

[2020-08-28 07:10] lissyx commented on #3288
@aszi09 Please use Discourse for support request and read the documentation.

[2020-08-28 12:06] lissyx commented on #3285
@carlfm01 is the one expert on .Net, I have no ide what ".Net Standard Library" is, so I'll let him answer :)

[2020-08-28 12:07] lissyx commented on #3263
@piraka9011 Have you reported? I know in the current context it might be trouble some but ...
Also, have you verified your release? I'm pretty sure this is something we got report of and it was fixed.
Should we keep this open?

[2020-08-28 14:26] piraka9011 commented on #3263
All set, thanks @lissyx !

[2020-08-28 14:26] #3263 closed

[2020-08-28 20:15] carlfm01 commented on #3285
Hi @verloka, thanks for the interest. As this not on my immediate work path I can't work on this right now, but would be nice to start making it easier to support other frameworks such as .NET Core with a common API, I can review if anyone wants to jump into it.

[2020-08-30 05:18] zaptrem commented on #3271
@lissyx Doesn't the SWIG wrapper count as part of DeepSpeech's native code? The RN module I was building is basically ready for its first release, but I don't want to move forward until we can resolve this issue.

[2020-08-30 08:25] lissyx commented on #3271
You seem not to understand that i really have no time right now to track a memory leak from the top down.

[2020-08-30 08:27] lissyx commented on #3271
Share and we'll see.

[2020-08-30 08:29] zaptrem commented on #3271
See OP:

[2020-08-30 08:33] lissyx commented on #3271
Sorry but this is way too much.

The bug could be:
- in the c code it self
- in the c generated by swig
- in the Java libdeepspeech part
- in the Java using it

Please try and repro to reduce the search space.

[2020-08-30 08:34] lissyx commented on #3271
Also, please understand we have had à very stressful month and it's the week-end, i might want to just rest for à few hours more ?

[2020-08-30 08:35] lissyx commented on #3271
It needs to be investigated to know if the bug is really on our side...

[2020-08-30 08:37] lissyx commented on #3271
Again, i have no idea, you are both using kotlin and i have not thoroughly verified your logic..

[2020-08-30 08:44] zaptrem commented on #3271
I totally understand. It’s 5am where I am and I’m just trying to get a few tasks (this was the last) checked off before I can sleep. It’s an issue forum and not text messages, so I don’t expect instant responses. I just want to make the information I have available to all of you as it comes to me.

[2020-08-30 09:01] lissyx commented on #3271
Thanks for your understanding. Please note if you can find to repro in plain C on linux/amd64 it can be much quickly investigated.

I also hope we can add debug build to our CI now that we have had some work on it, that would help on such case.

[2020-08-30 09:28] erksch commented on #3271
@zaptrem Hey sorry for being absent maybe I can look at it in the next time. But if its deep down in DeepSpeech I will not be able to help either, but I could at least reproduce it and make me my own picture.

[2020-08-30 10:09] lissyx commented on #3271
Ftr we have tracked down other memory leak recently and this code path never showed, so it'd be great if we can confirm it is on Java, swig or c side.

[2020-08-30 21:45] andrenatal commented on #3088
I confirm that the flag addressed my issues and now I have a functioning model.

[2020-08-31 08:10] lissyx opened #3292 "Debug builds on CI"

[2020-08-31 09:14] lissyx commented on #3271
As I feared, lots of things are breaking on TensorFlow side when trying to build a debug version on CI and on setups where it is more complicated to investigate (Windows CPU and CUDA debug builds) ...

[2020-08-31 09:44] coen22 opened #3294 "Windows training: Exception: Could not find Opus library. Make sure it is installed"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No mods
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 r2004
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: 1.15.2
- **TensorFlow version (use command below)**:
- **Python version**: 3.6
- **CUDA/cuDNN version**: 10.1
- **GPU model and memory

[2020-08-31 09:51] lissyx commented on #3294
We don't support training on Windows, so I can't help for sure.

[2020-08-31 09:52] lissyx commented on #3294
Having a full stack could at least help have an hint where the issue is ...

[2020-08-31 09:55] lissyx commented on #3294
@coen22 You also don't explicitely document:
 - how you setup things,
 - what version you are working on

We already have a dep against `opuslib`: https://github.com/mozilla/DeepSpeech/blob/v0.9.0-alpha.6/setup.py#L60 but since we have no stack shared I can't verify if it has been properly installed ?

Because we don't support training on Windows.

[2020-08-31 09:58] lissyx commented on #3294
Please triple check your setup, TensorFlow r1.15 is documented to require CUDA 10.0 ...

[2020-08-31 10:02] coen22 commented on #3294
I'm using 0.8.0 right now. The issue isn't that the python opuslib isn't there, but rather that the opus binaries can't be found.
But if it's really too complicated, I'll simply install Ubuntu.

`I Loading best validating checkpoint from ../../deepspeech-0.8.0-checkpoint\best_dev-1185136
I Loading variable from checkpoint: beta1_power
I Loading variable from checkpoint: beta2_power
I Loading varia

[2020-08-31 10:04] coen22 commented on #3294
Tensorflow works, I've already trained a model without augmentation

[2020-08-31 11:48] lissyx commented on #3294
Well, sorry, but this is a Windows-level issue, I can't help.

There's a reason we ask: simply saying you followed docs does not help us catch mistakes you might have made by looking at wrong doc, or misinterpreting.

e.g "I simply downloaded the 0.8.0 source code " do you mean a zip file or "git clone" then "git checkout" ?
Training from a zip can be broken, especially since we don't support trai

[2020-08-31 11:56] lissyx commented on #3294
Also @coen22 just to be clear, while we don't support Windows training for the moment, several people reported successfully doing it but nobody cared enough to:
 - share extended details
 - fix code
 - fix doc

So we simply can't know if "it should work" or if there are some pieces here and here that needs to be fixed. That's why even though I can't help on Windows-specific bits, I'd like we get i

[2020-08-31 11:57] lissyx opened #3295 "Docker train failure: ModuleNotFoundError: No module named 'setuptools._distutils'"
[code]

[2020-08-31 12:53] #3170 closed

[2020-08-31 13:42] coen22 commented on #3294
Thank you, but mostly everything is working. training and inference are going great. The docs are also great, with some common sense I was able to work out how to set everything up on Windows. The augmentation s the only minor issue that isn't working and it's actually due to the python opuslib wrapper.

I've also reported the issue to the appropriate repository, as this isn't maintained by Mozill

[2020-08-31 13:44] lissyx commented on #3294
Ok, so the bug is absolutely not on our side? Then I really don't see how we can help :/. Still good to know it works.
If it's upstream, should we close this?

[2020-08-31 13:49] coen22 commented on #3294
No, I don't think so. I'll close this thread and hope anyone can help with libopus :)

[2020-08-31 13:49] #3294 closed

[2020-08-31 13:53] DewiBrynJones commented on #3295
FWIW I'm getting this error as well when trying to rebuild DeepSpeech from my docker scripts for 0.7.4

https://github.com/techiaith/docker-deepspeech-cy/blob/deepspeech-0.7.4/Makefile#L19

it used to build! If I change to 0.8.2 or latest on master, the same bug appears.

[2020-08-31 14:00] DewiBrynJones commented on #3295
It's an issue at pypa setuptools...

https://github.com/pypa/setuptools/issues/2353

Hopefully this doesn't require any changes or workarounds on DeepSpeech's side.

[2020-08-31 14:13] lissyx commented on #3295
Unfortunately, we can't upgrade this release. Also, forcing `setuptools==50.0.0` get past this error for me, but the `deepspeech_training` package does not get installed, it seems.

[2020-08-31 19:39] DewiBrynJones commented on #3295
It builds successfully for me if you instead specify the last version of setuptools before today's 50.0.0 release:

`RUN pip3 install --upgrade pip==20.0.2 wheel==0.34.2 setuptools==49.6.0`

[2020-08-31 20:08] lissyx commented on #3295
Yeah there are a lot of reports of bad breakages because of 50.0.0. Unfortunately we wont be able to issue that kind of fix for older release so i prefer to wait and see for pypa/setuptools feedback on all those issues.

[2020-09-01 03:35] alexivaner opened #3298 "Speaker Recognition Implementation"
Hi, I would like to ask if is it possible that we could modify deep speech architecture by ourselves to add a speaker recognition inside the deep speech. So the model would recognize both speaker and speech as well. I really want to contribute if it is possible since my research currently also in the speaker and speech recognition area.

[2020-09-01 05:49] zaptrem commented on #3061
It seems like it's impossible to submit an app that includes the DeepSpeech RN module to App Store Connect and Test Flight. Depending on how you compile the .framework it either fails to Archive with missing symbols (despite running fine on a real device in Release mode), is unable to upload at all for a million different reasons, or uploads and is rejected for "ITMS-90426: Invalid Swift Support -

[2020-09-01 06:58] erksch commented on #3061
@zaptrem Unfortunately, I also know very little about what it takes to bring this library to CocoaPods, but it is also in my best interest that submitting to the store works (but maybe not as urgent as for you). Maybe we can combine our efforts and get it to work, although @reuben seems to have greatest expertise in building the library for iOS.

You can write me on Telegram under the same usernam

[2020-09-01 07:00] lissyx opened #3299 "Generate LM/scorer CI coverage"

[2020-09-01 11:10] reuben commented on #3061
Some searching turned this up, which apparently needs to be used when building deepspeech_ios.framework: https://stackoverflow.com/a/36546996/346048

[2020-09-01 11:12] reuben commented on #3061
To be clear, you don't actually need to rebuild libdeepspeech.so yourself, you can use the copy from our CI infra. Building just the wrapper framework library should be easily doable from source, just open it with Xcode or use xcodebuild like we do in CI (see `do_deepspeech_ios_framework_build` in `taskcluster/tc-build-utils.sh`).

[2020-09-01 11:54] lissyx commented on #3299
This requires CI-building of KenLM on all arch we support, also.

[2020-09-01 17:13] #3129 closed

[2020-09-01 17:14] lissyx commented on #3295
People report that `SETUPTOOLS_USE_DISTUTILS=stdlib` env var helps.

[2020-09-01 19:12] DewiBrynJones commented on #3295
in the case of Docker, that would still need a change in the Dockerfile (you can't set and pass an environment variable in a `docker build` command) . So it's not a fix for older releases or even the current 0.8.2 stable release. For the next release, you might as well update the setuptools version number (?)

[2020-09-02 08:46] lissyx commented on #3295
There's so much mess, I really don't get. Some of what seems to be one of the maintainer's  of the project seems to imply there is no bug here, but seeing how this explodes everywhere it looks suspicious.

As to the setuptools version, in my testing it was not enough.

[2020-09-02 08:47] lissyx commented on #3295
This really comes at a very bad time, we have so much to do that is equally important, I can't spare the time to try and debug pip/setuptools as well ...

[2020-09-02 09:06] lissyx commented on #3295
@DewiBrynJones Seems like 50.0.3 works

[2020-09-02 09:07] lissyx commented on #3295
Except the `deepspeech_training` package does not get installed

[2020-09-02 09:08] DewiBrynJones commented on #3295
Great!

 I got the 0.8.2 release to build and train models with the following workaround to use 49.6.3:

 - I take my own copy of Dockerfile.train.tmpl and update the setuptools version:  https://github.com/techiaith/docker-deepspeech-cy/blob/deepspeech-0.8.2/Dockerfile.train.tmpl#L44

 - Then copy into cloned DS and build: https://github.com/techiaith/docker-deepspeech-cy/blob/deepspeech-0.8.2/Ma

[2020-09-02 09:14] lissyx commented on #3295
It looks like we are facing https://github.com/pypa/setuptools/issues/2350:
[code]

[code]

[2020-09-02 09:15] lissyx commented on #3295
I can't find this one.

[2020-09-02 09:17] lissyx commented on #3295
It seems to work here as well.

I'd welcome a PR against `r0.8` and against `master` that:
 - bumps pip==20.2.2 version
 - bumps setuptools==49.6.0 version
 - updates the documentation as well

And we could make a 0.8.3 to release the fix as well.

[2020-09-02 09:18] lissyx commented on #3295
@DewiBrynJones I took the liberty to assign you the bug and I'm waiting on your PR since you have nailed that down quite well :)

[2020-09-02 09:20] DewiBrynJones commented on #3295
Ha ha! me and my big mouth. i'll get on it.

[2020-09-02 09:26] lissyx commented on #3295
No, it's really welcome, but if you can't do it I'll take care of it, no pressure here.

[2020-09-02 09:35] lissyx commented on #3298
Hacking is always welcome, but I'm unsure it is in the current scope of our project and whether this can be sustainable. cc @reuben ?

[2020-09-02 09:37] reuben commented on #3298
Yep, definitely out of scope for our project, and I have a hard time picturing how we could land this into our code in a way that is maintainable. Leveraging the architecture and the pre-trained checkpoints to target this new task should be possible though.

[2020-09-02 10:36] harmandeepsinghkalsi commented on #3004
I am 0.7.4 DeepSpeech version and seeing the confidence value is negative and not correct among the candidate transcripts

[2020-09-02 10:46] lissyx commented on #3175
@godefv Given the recent changes, I think we should take the time to properly do that change. Do you want to take care of that?

[2020-09-02 12:07] lissyx commented on #3292
Looks like there are many TF 2.3 issues for debug builds, I'm not sure it can be added as easily as I would have hoped.

[2020-09-02 12:10] lissyx commented on #3271
@zaptrem even getting android debug build requires non trivial amount of work, there are several tensorflow r2.3 debug build specific breakages reported upstream, some not yet with a fix, some only fixed on master. This, added to the complex stack up to kotlin makes me unable to quickly investigate: we really need your help here into trying and reproduce the bogus behavior with pure linux/amd64 bu

[2020-09-02 12:30] lissyx opened #3305 "Remove fixed-path-for-bazel"
On macOS and Windows, we have to trick around `generic-worker` to always build in a fixed-path.
Bazel supports `--disk-cache` that we should be able to leverage to avoid that:
 - [ ] Add `--disk-cache=...` to `bazel build`
 - [ ] Maybe remove `--output_user_root` `--output_base` and `BAZEL_OUTPUT_USER_ROOT`
 - [ ] Package `disk-cache` instead of `home.tar.xz`

There might be some extra requirement

[2020-09-02 13:43] godefv commented on #3175
I can do it eventually, but I don't know when.
I wonder if it would be a good case to throw an exception instead of an error code. I usually don't like exception, but python already have them and I guess C++ exceptions could be converted somehow to python exceptions.

[2020-09-02 13:56] lissyx commented on #3295
Thanks @DewiBrynJones it's now fixed on both branches

[2020-09-02 13:58] lissyx commented on #3295
@DewiBrynJones Do you mind also sending a PR for `master` and for `r0.8` to update our documentation: `doc/TRAINING.rst`?

[2020-09-02 14:23] DewiBrynJones commented on #3295
Here you are:

https://github.com/mozilla/DeepSpeech/pull/3306

https://github.com/mozilla/DeepSpeech/pull/3307

Cheers!

[2020-09-02 14:29] lissyx commented on #3295
Thanks!

[2020-09-02 14:29] #3295 closed

[2020-09-03 17:16] gopesh97 opened #3310 "Hindi STT."
I want to train a Hindi STT model. If possible can anyone, who has done work in this before, provide us with suitable hyperparameters and if possible a pre-trained model, that can be used for transfer learning.
Thanks