[2018-09-25 13:04] lissyx commented on #1588
@akshat9425 This is the third issue you are opening. This is not a forum, use Discourse. And follow the docs.

[2018-09-25 13:04] #1588 closed

[2018-09-25 18:14] lissyx commented on #1563
FTR, there is still some intermittence even after disabling the LM. It looks less frequent, though.

[2018-09-26 04:09] 9define opened #1590 "Tensorflow r1.6 files"
Hello, I'm back with another release request!
Seeing as Mozilla's TF is required for DS (whether it be r1.6 or r1.11 with the upcoming v0.2.1 release), can a _prebuilt_ version of it be included in DS releases (or in that GH repo)? I found the r1.6 prebuild library on [taskcluster](https://tools.taskcluster.net/index/project.deepspeech.tensorflow.pip.r1.6), but it expires in a few months, and rega

[2018-09-26 05:49] #1578 closed

[2018-09-26 05:51] lissyx commented on #1590
@9define There's no need to use mozilla/tensorflow fork for training. It's only required to build `libdeepspeech.so` and friends.

[2018-09-26 05:51] #1590 closed

[2018-09-26 07:09] lissyx commented on #1519
@pksubbarao We're upgraded current master to rely on TensorFlow r1.11, and I see there's some `ppc64le` support there, so you should be able to build `libctc_decoder_with_kenlm.so`

[2018-09-26 08:48] GeorgeFedoseev commented on #1578
@lissyx thanks for updating this) I was away from keyboard past week.

[2018-09-26 09:06] lissyx commented on #1578
@GeorgeFedoseev I've removed but left as comments the build and installation of the Python wheel from our sources, it's better to rely on upstream :).

[2018-09-26 09:56] akshat9425 opened #1592 "Error running session: Invalid argument: Session was not created with a graph before Run()!"
my code is :

from deepspeech.model import Model
import scipy.io.wavfile as wav
import sys

ds = Model("/home/user/new_mozilla/speech/models_2/output_graph.rounded.pbmm", 26, 9, "/home/user/new_mozilla/speech/models_2/alphabet.txt", 500)
fs, audio = wav.read("/home/user/new_mozilla/speech/gaurav.wav")
processed_data = ds.stt(audio, fs)
print(processed_data)

I used model folder =>: https://github.

[2018-09-26 10:31] kdavis-mozilla commented on #1592
Please take a look at our example [client.py](https://github.com/mozilla/DeepSpeech/blob/v0.2.0/native_client/python/client.py) to see how to correctly call in to Deep Speech using Python.

[2018-09-26 10:31] #1592 closed

[2018-09-26 10:43] lissyx commented on #1563
Update: looking at retriggers failures on https://tools.taskcluster.net/groups/UgiKCb1TSYuMCy0waX5o-g, it would looks like only NodeJS and Python prod are impacted.

C++, NodeJS and Python prod tests are all using the LM through the same `run_prod_inference_tests` function. Though, as much as I can tell, in **all** of the failures reported in the above link, it is when we test the inference on the

[2018-09-26 11:44] akshat9425 opened #1593 "will you please tell the arguements"
i am running client.py file and using latest updated model of mozilla

here is my command: python client.py --model /home/user/new_mozilla/speech/models_2 --alphabet /home/user/new_mozilla/speech/models_2/alphabet.txt --lm /home/user/new_mozilla/speech/models_2/lm.binary --trie /home/user/new_mozilla/speech/models_2/trie --audio /home/user/new_mozilla/speech/gaurav.wav --version

it provides me ve

[2018-09-26 11:50] b-ak commented on #1593
You can't use the version argument if you want to run inference. Run the same thing without the version.

[2018-09-26 11:56] akshat9425 commented on #1593
i got this output after following your instructions
TensorFlow: v1.6.0-18-g5021473
DeepSpeech: v0.2.0-0-g009f9b6
Warning: reading entire model file into memory. Transform model file into an mmapped graph to reduce heap usage.
2018-09-26 17:25:47.550359: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA

[2018-09-26 12:16] akshat9425 commented on #1593
sorry to disturb and thank alot for help it ran after changing first argument to .pbmm file thanks again

[2018-09-26 12:53] lissyx commented on #1346
@edubois @renepeinl So, I've ordered a ROCKPro64 :-)

[2018-09-26 13:02] lissyx opened #1594 "Intermittent test failure on prod models for NodeJS and Python"
Looking at retriggers failures on https://tools.taskcluster.net/groups/UgiKCb1TSYuMCy0waX5o-g, it would looks like only NodeJS and Python prod are impacted.

C++, NodeJS and Python prod tests are all using the LM through the same `run_prod_inference_tests` function. Though, as much as I can tell, in **all** of the failures reported in the above link, it is when we test the inference on the 44kHz t

[2018-09-26 13:39] 9define commented on #1590
Ah, I see. Is the ctc decoder with kenlm only needed for training as well then? Your comment seems to imply that TF isn't needed for normal use of existing models. I think I'd still need CUDA libs for using DS' GPU release, though. Thanks.

[2018-09-26 13:51] lissyx commented on #1590
@9define Yes, `libctc_decoder_with_kenlm.so` is only required at training, and works (and is tested) with upstream. We don't build anymore python package out of our TensorFlow fork for months now.

And yes, when you are just running inference, there's no need to install TensorFlow: it's statically linked into `libdeepspeech.so`.

You need CUDA libs if you run CUDA binaries, but it's like any CUDA-

[2018-09-26 14:11] lissyx commented on #1594
[LDC93S1.wav.log](https://github.com/mozilla/DeepSpeech/files/2420075/LDC93S1.wav.log)

[2018-09-26 14:12] lissyx commented on #1594
[44k.txt](https://github.com/mozilla/DeepSpeech/files/2420085/44k.txt)

[2018-09-26 16:31] #1594 closed

[2018-09-26 16:34] lissyx commented on #1563
@kdavis-mozilla I have been able to reproduce locally with v0.2.0 C++ binaries and the use of LM, so if there's anything, it's unrelated to Python, Node or Rust and it's lower-level.

[2018-09-26 17:41] kdavis-mozilla commented on #1563
@lissyx As an addendum to my comment. I ran the native client 80 times. But each time I restarted the client. I did not pass a directory full of wav files to the client.

@reuben on the other hand passed a directory to the client so his client was never restarted. So it seems there is some language model state that is not properly "re-set" when multiple wav file are decoded in a single client run.

[2018-09-26 19:31] edubois commented on #1346
@lissyx , I'm still waiting for the AI version (RockPro-64-ai)

[2018-09-27 01:32] bjtommychen opened #1597 "use Language Model to decode other NN's output"
Hi, all
        My NN model is a modified DeepSpeech. whose WER is 0.15 without LM.
        So, I want to use this Language Model to get better WER.
        My step:
        1. run NN to get my NN's output (logits).
        2. modify native_client/client.cc
               a) push_back the logits into StreamingState->accumulated_logits.
               b)DS_IntermediateDecode()
        In this way,

[2018-09-27 01:37] bjtommychen commented on #1047
in release 0.2.0, window function missed in audiofile_to_input_vector(), which make the output shape is wrong.  I have to add the code from previous version, in order to make DeepSpeech.py work. would you check this ?

[2018-09-27 03:12] lissyx commented on #1346
The one I ordered is supposed to have a NPU with NNAPI support, is yours different?

[2018-09-27 04:29] aswin1980 opened #1598 "Windows Version"
Hi,

I would like to use deepspeech in Windows 7 and greater. How do I build it for Windows?
When I use msys64 it says cannot find deepspeech library.

Could you please help me with this.

Thanks
Aswin

[2018-09-27 04:42] lissyx commented on #1598
We don't have Windows builds yet as filed already in #1123. If you want to work on that, you are more than welcome, but I have no idea what you are doing, so I cannot help you. Also, this discussion should be done on Discourse: https://discourse.mozilla.org/c/deep-speech

[2018-09-27 04:42] #1598 closed

[2018-09-27 04:45] lissyx commented on #1597
@bjtommychen Thanks for sharing this, it obviously looks interesting, but this is not a bug in our codebase per-se, so please use Discourse for that kind of discussion :).
https://discourse.mozilla.org/c/deep-speech

[2018-09-27 04:45] #1597 closed

[2018-09-27 04:49] lissyx commented on #1563
Yep, that could be consistent, I did reproduce on a full directory pass, and this was after the 95th iteration.

i'll go and play with RR now that the TaskCluster issue has been addressed and we know it's unrelated.

[2018-09-27 04:58] lissyx commented on #1584
Obviously a mismatch of models / binary.

[2018-09-27 04:58] #1584 closed

[2018-09-27 05:01] aswin1980 commented on #1598
Hi,
When I compile the native_client it is linked to deepspeech (-ldeepspeech). The question I have is where can I find libdeepspeech source code.

here it is in make file

install_name_tool -change bazel-out/local-opt/bin/native_client/libdeepspeech.so @rpath/libdeepspeech.so deepspeech

Thanks
Aswin

[2018-09-27 05:11] lissyx commented on #1598
@aswin1980 Please follow the documented build instructions for native client, and use Discourse.

[2018-09-27 09:29] lissyx commented on #1563
[deepspeech.valgrind.log](https://github.com/mozilla/DeepSpeech/files/2423393/deepspeech.valgrind.log)

[2018-09-27 10:35] akshat9425 opened #1601 "how do we create output_graph.pb file inside checkpoint?"
I am a beginner and want to did fine tuning for speech to text with better accuracy in Indian english accents
please tell me that the section inside checkpoint inside Making a mmap-able model for inference tells that output_graph.pb file generated in last step ? but how

[2018-09-27 10:41] lissyx commented on #1601
Use `--export_dir` when training, as documented in `README.md`.

[2018-09-27 10:41] #1601 closed

[2018-09-27 10:51] sunil3590 commented on #1156
@zhao-xin I'm facing the exact same problem. I am working with call recording. Were you able to fix this?

[2018-09-27 11:43] zhao-xin commented on #1156
@sunil3590 I feel this is not an engineering issue. The acoustic model is not trained with phone call conversations, the same as the language model, am I right?

We plan to collect our own data to tune deep speech models to make it can be used in the real world.

[2018-09-27 11:45] lissyx commented on #1563
I'm still reproducing even with the patches from #1600

[2018-09-27 12:17] lissyx opened #1602 "Conditional jump or move depends on uninitialised value(s) at 0x71B2D92: KenLMBeamScorer::ExpandStateEnd(KenLMBeamState*) const (beam_search.h:121)"

[2018-09-27 12:50] lissyx commented on #1563
looks like #1602 will do it :)

[2018-09-28 04:09] #1602 closed

[2018-09-28 06:33] akshat9425 opened #1605 "space between words"
i use this project and everything works fine but as if i give speech in indian english accents very fast than i found that there is no space in between words will you please tell me that how could i improve this?

thanks in advance

[2018-09-28 06:44] lissyx commented on #1605
#1156

[2018-09-28 06:44] #1605 closed

[2018-09-28 07:14] lissyx commented on #1563
Fixed by #1603

[2018-09-28 07:14] #1563 closed

[2018-09-28 10:18] est31 commented on #1563
Thanks for the fix!

[2018-09-28 10:19] lissyx commented on #1573
So, cutting the `lower.txt` by 4 and rebuilding lamnguage model as `trie` and not `probing` yields no change. However, chtting cutting `vocab.txt` by 4 and rebuilding `trie` file using `generate_trie` yields a nearly 4 speedup (7 secs to 2 secs).

[2018-09-28 10:42] akshat9425 opened #1606 "what to use in models for v0.2.1-alpha.1"
I used 0.2.0 version that was best with indian accents also please tell me how could i use v0.2.1-alpha.1

[2018-09-28 10:48] lissyx commented on #1606
@akshat9425 Again, this is not a forum. Please use https://discourse.mozilla.org/c/deep-speech and **READ THE DOCUMENTATION**.

[2018-09-28 10:48] #1606 closed

[2018-09-28 11:31] AtosNicoS commented on #979
@lissyx I have no knowledge about that. Is there something that I can use to try out any fix?

[2018-09-28 11:47] lissyx commented on #979
@AtosNicoS Nope, it's just to keep you uptodate that we are looking into that

[2018-09-28 12:44] akshat9425 opened #1607 "code not works for downloaded files"
Discosure refused to discuss and login recorded voice is not working for speech to text and pyaudio code is doing best work please tell me how could i use downloaded audio for speech to text

Thanks in advance
and please give me a chance to speak before closing the issue

[2018-09-28 12:51] reuben commented on #1607
@akshat9425 you keep opening issues when you're being told several times to take discussion and support topics to Discourse, as issues are meant for tracking bugs in the code only.

On top of that, your issues don't give any detail about the problems you're facing, giving us no useful information to try and diagnose the problem.

The clients work just fine with downloaded files, we even include so

[2018-09-28 12:51] #1607 closed

[2018-09-30 16:32] paezxavi opened #1609 "Failed using my own model"
- **OS Platform and Distribution** : Linux Mint 18.3 cinnamon 64bit
- **TensorFlow installed from**: your build
- **TensorFlow version** : v1.11.0
- **Python version**: 3.6.5
- **DeepSpeech version** : 0.2.0a9
- **native_client** : branch 0.2.0a9
I'm on CPU
- **Exact command to reproduce**:
[code]

[code]

Logs :
[code]

Here is my problem, I created a model from the ldc93s1 learning and I can't u

[2018-09-30 18:33] lissyx commented on #1609
As you suspected it's likely just a mess of trained / inference versions. It'd be better you retrain and test with 0.2.0 and not alpha 9. Given the errors and the documented versions, I suspect you trained on current master and you installed 0.2.0a9 binaries.

You should make sure you:
 - `git checkout v0.2.0`
 - install tensorflow upstream, you need our version only if you have to rebuild native

[2018-09-30 18:33] #1609 closed

[2018-10-01 15:46] lissyx commented on #979
@AtosNicoS Looks like just changing the way we read and write the `TRIE` file helps good enough: https://github.com/mozilla/DeepSpeech/pull/1610#issuecomment-425956145 and https://github.com/mozilla/DeepSpeech/pull/1610#issuecomment-425956269

The PR also features a `trie_load` simple binary that just performs the trie loading, running that on the old file format is about 4.5sec, and with the new,

[2018-10-01 18:34] lissyx commented on #1573
Simple change in the way we save and load the trie file should help mitigate that. We might still want to re-work the trie itself and prune it from useless content, but this will come later.

[2018-10-02 03:01] hao-olli-ai opened #1612 "Cannot inference with a single audio file"
Hi all,

I got a problem with the function "do_single_file_inference" after running the program as follow:

1. Training: I trained with 1000 epoches and the result was:
"I Test of Epoch 1000 - WER: 0.003585, loss: 0.11275059029160085, mean edit distance: 0.001187"

2. Using inferencing function:
I changed the mode of program from train and test to one_shot_infer as follow:
tf.app.flags.DEFINE_bool

[2018-10-02 06:01] #1573 closed

[2018-10-02 06:48] uchandr opened #1613 "deepspeech: command not found"
Hi,
I am trying to run deepspeech on windows WSL.
I installed deepspeech.  When I try to test a pretrained model , I get deepspeech: command not found

XXXX@DESKTOP-T8HE8UC:~/deepspeech/DeepSpeech/native_client$ deepspeech models/output_graph.pb audio/2830-3980-0043.wav models/alphabet.txt models/lm.binary models/trie
deepspeech: command not found

Really appreciate any help to fix this

I did a p

[2018-10-02 10:03] #1477 closed

[2018-10-02 10:03] #1531 closed

[2018-10-02 10:22] lissyx commented on #1612
I do repoduce that :'(

[2018-10-02 12:27] lissyx commented on #1266
Offending code has been removed with #1532

[2018-10-02 12:27] #1266 closed

[2018-10-02 12:27] lissyx commented on #1310
@samgd Is this still an issue ?

[2018-10-02 12:27] lissyx commented on #1313
@samgd Is this still an issue ? Can you make a PR ?

[2018-10-02 12:28] lissyx commented on #1410
@bolt163 Code moved, could you please confirm if this is still an issue ?

[2018-10-02 12:29] lissyx commented on #1475
@bernardohenz What's the status here, is the issue fixed, do you have a workaround ? Should we close this ?

[2018-10-02 12:33] lissyx commented on #1195
@spyamine Thanks, this was in fact already documented in https://github.com/mozilla/DeepSpeech/blob/c1e7244c6c6d63bd1a3610cd116b41064edbf2ed/native_client/README.md#required-dependencies :)

[2018-10-02 12:33] #1195 closed

[2018-10-02 12:35] bernardohenz commented on #1475
@lissyx yes, the patch from @reuben worked just fine.

[2018-10-02 13:11] reuben commented on #1475
We should have a proper solution for this in-tree. This would be too much work with the current training setup, but would probably be very simple if we used TF Eager, for example. Reopening so we don't forget.

[2018-10-02 23:05] rumschuettel opened #1621 "audioToInputVector javascript in node/browser"
Hi,

I'd like to use audioToInputVector from within the browser, but I cannot even call it within node.js; what is the right syntax/arguments to call it on an array of, say, 1024 floats, to get 20 mels?

And: can this be used in the browser at all? I see that it calls a native library; are there plans to implement it in javascript directly, or can we maybe use webassembly or the like? I know that

[2018-10-02 23:08] rumschuettel opened #1622 "mfcc extraction with another library"
Hi!

I'm trying to do mfcc extraction from within javascript in a browser; e.g. using meyda:
https://github.com/meyda/meyda/blob/master/src/extractors/mfcc.js

the problem is: it seems almost impossible to obtain the same output for an array of, say, 1024 floating point values. Has anyone tried this before? Why does deepspeech do so much extra processing that deviates from the standard mfcc featur

[2018-10-03 11:46] lissyx commented on #1505
@philofellow It's happening during validation step, not training ?

[2018-10-03 11:51] lissyx commented on #1576
@nicolaspanel I'm not sure 100%, but I ran into some errors that required me to set `ignore_longer_outputs_than_inputs=True` when calling `ctc_loss`. According do the documentation, it means we have longer sequence in output than in input. I'm trying fine-tuning over english model (so, changed the data to remove any accent and be able to use english alphabet file).

[2018-10-03 13:59] lissyx commented on #1576
First tentative, not so bad, a few hours of training on my GTX1080:
[code]

And then a quick test:
[code]

My audio is quite noisy, and I was saying "bonjour c'est moi"

[2018-10-03 14:11] nicolaspanel commented on #1576
Nice, thanks @lissyx  for sharing !

Which Language Model did you use ?

Do you have a first WER on the test set ?

NB: I noticed some errors on `2018-09-28_fr_FR`. You should experiment on `2018-10-03_fr_FR` which also contains more training data (see https://github.com/nicolaspanel/TrainingSpeech#last-releases--download)

[2018-10-03 14:22] philofellow commented on #1505
you are right. it is during validation. so that is not a problem. thanks.

[2018-10-03 14:48] lissyx commented on #1576
None so far, we'd need to think and build one for sure, but given that we need to change the hyperparameters of the current one I thought it'd be a good enough test :)

[code]

Thanks

[2018-10-03 15:33] lissyx commented on #1576
Interesting, but the language model itself is not a big big issue to deal with, I guess. Seems like we could learn a lot for other tasks of transfer learning, though. Might be useful to share that to people on Discourse that tries to do transfer :)

[2018-10-04 02:23] oceank opened #1624 "What are the hyper-paramters used to fine tune the pre-trained model 0.1.0 during training"
Hi, DeepSpeech developers and community friends,

My current research work needs to check the different training parameter configurations of pre-trained model 0.1.0 and pre-trained model 0.1.1. I find the hyper-parameters of pre-trained model 0.1.1, but could not find the corresponding ones for model 0.1.0. Could you share me the trainning setting for pre-trained model 0.1.0? thank you!

[2018-10-04 04:41] daanzu commented on #1505
I'm having (I think) the same issue: repeated warnings from TF about global step not being increased. They don't occur during training, only during validation and testing. It's not a breaking problem, just annoying.

[code]

[2018-10-04 08:04] lissyx commented on #1624
@oceank While it's not on the release page, I'm sure we documented that somewhere. @kdavis-mozilla @reuben Any memory of that?

[2018-10-04 10:33] lissyx commented on #1236
@pvanickova You can do that, following `data/lm/README.md` and augmenting with your own data.

[2018-10-04 11:00] pvanickova commented on #1236
@lissyx perfect, thanks - so basically rebuilding the language model from scratch using the librivox corpus + my own corpus

[2018-10-04 12:54] lissyx commented on #1624
Maybe https://github.com/mozilla/DeepSpeech/commit/2d3818b492045ccea0cea660c27355994c1413b6#diff-bcf163f5d10b12e30bb1721f339a286e ?

[2018-10-04 14:05] oceank commented on #1624
@lissyx Thank you for your quick response. I digged into the mentioned commit and find something in In the removed script, bin/run-wer-automation.sh. Could you help me confirm it?

=bin/run-wer-automation.sh=
[code]

[2018-10-05 05:40] kdavis-mozilla commented on #1624
For v0.1.0 the parameters, as far as I remember, were the same as in the v0.1.1 model, which are described in the release notes[[1](https://github.com/mozilla/DeepSpeech/releases/tag/v0.1.1)]

[2018-10-05 15:37] MuruganR96 commented on #746
Sir i am also facing this issue. in my training csv file i was removed Non ASCII, special characters and conv  all lowercase but  stil now that same error was shown. what i do, help me. @elpimous sir.

python3 DeepSpeech.py --n_hidden 2048 --initialize_from_frozen_model ../models/output_graph.pb --checkpoint_dir fine_tuning_checkpoints3 --epoch 3 --train_files /home/dell/Documents/train_file1/trai

[2018-10-05 16:09] MuruganR96 opened #1629 "E InvalidArgumentError Not enough time for target transition sequence (required: 77, available: 76)"
https://github.com/mozilla/DeepSpeech/issues/746#issuecomment-318464471

in this issue and my issue almost same. @elpimous sir said,

but i tried and done to remove and replacing in my training csv file for Non ASCII, special characters and conv all lowercase but stil now throws that same error.

what can i do? how to fix this issue?///
thank you.

-Linux Ubuntu 16.04
-Name: tensorflow-gpu
 Versio

[2018-10-05 16:28] lissyx commented on #1629
@MuruganR96 This is something I also hit with some dataset, I have not investigate enough yet, but changing the `ctc_loss` call in `DeepSpeech.py` by adding `ignore_longer_outputs_than_inputs=True` worked for me

[2018-10-05 20:20] robmsmt opened #1630 "Non-Deterministic python implementation for inference"
There seems to be an issue with the python implementation in that the same wav can give different results.

Oblig:
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No - using pip installed package
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: DS pr

[2018-10-05 20:32] lissyx commented on #1630
@robmsmt Thanks, but as you pointed out, this is a known and fixed issue #1563

[2018-10-05 20:32] #1630 closed

[2018-10-07 03:41] MuruganR96 commented on #1629
https://www.tensorflow.org/api_docs/python/tf/nn/ctc_loss

tf.nn.ctc_loss(
    labels,
    inputs,
    sequence_length,
    preprocess_collapse_repeated=False,
    ctc_merge_repeated=True,
    ignore_longer_outputs_than_inputs=False,
    time_major=True
)

### **The ignore_longer_outputs_than_inputs option allows to specify the behavior of the CTCLoss when dealing with sequences that have longer o

[2018-10-07 03:42] #1629 closed

[2018-10-08 11:31] lissyx commented on #1624
We can close that I guess :)

[2018-10-08 11:31] #1624 closed

[2018-10-08 15:00] xaviliz commented on #978
In my case, in ubuntu 18.04 was solved with the following commands:
1 - 'sudo apt-get install libsox-dev'
2 - cd /usr/lib/x86_64-linux-gnu/
3 - sudo ln -s libsox.so.3 libsox.so.2

[2018-10-08 20:20] chrisspen opened #1632 "ImportError: No module named model"
In version 0.1.0, the Python package supported the import:

     from deepspeech.model import Model

which you could then instantiate like:

    ds = Model(MODEL, N_FEATURES, N_CONTEXT, ALPHABET, BEAM_WIDTH)

and perform speech to text functions with, like:

    fs, audio = wav.read(audio_fn)
    text = ds.stt(audio, fs)

I'm testing version 0.2.0, and the import for Model now returns an import er

[2018-10-09 13:00] reuben opened #1634 "When multiple {dev,test} sets are specified, do separate epochs for each set"
This would give a clearer picture on individual training progress for each training set and would allow for easier/more precise detection of overfitting.

[2018-10-09 15:13] kdavis-mozilla commented on #1064
@lissyx seems reasonable

[2018-10-09 15:28] #1064 closed

[2018-10-11 03:52] zjysteven opened #1637 "Invalid argument of "preprocess" in evaluate.py"
Hi! I'm now trying to evaluate the pre-trained model by checking out its WER on LibriVox dataset. However, when using `evaluate.py` I found the following issue:

https://github.com/mozilla/DeepSpeech/blob/59a9dd96006995083da3cbe3f518a2a9a28d7f7b/evaluate.py#L101-L104

https://github.com/mozilla/DeepSpeech/blob/59a9dd96006995083da3cbe3f518a2a9a28d7f7b/util/preprocess.py#L31

As you can see, in `eva

[2018-10-11 04:36] lissyx commented on #1637
It's broken, I've ran into the same issues and forgot to file a bug. There are other things that requires fixing in this file :)

[2018-10-11 05:49] zjysteven commented on #1637
Thanks for the response! BTW, do you have any instructions on how to assign values for those two arguments `numcep` and `numcontext`? I'm new to speech recognition and don't know which values are appropriate. Any suggestions will be appreciated!

[2018-10-11 07:29] kdavis-mozilla commented on #1637
@reuben Just to make sure you got pinged

[2018-10-11 09:14] lissyx commented on #1637
Sorry, I should have made it more clear: even once this is fixed, there are some issues left that I've identified a few days ago but we have not yet fixed all of it.

If you are brave enough, you can give it a try, `numcep` and `numcontext` matches the respective values for `n_input` and `n_context` in `DeepSpeech.py`. You are right that `hdf5_dest_path` should be changed into `hd5f_cache_path`, a

[2018-10-11 10:19] kdavis-mozilla opened #1638 "Update Hyperparameters for 0.3.0"

[2018-10-11 13:59] reuben commented on #1637
I'm working on a fix for the shape thing (as well as the other errors), it's more complicated than I expected due to how evaluate.py handles its feeding differently, at some point we have to apply the windowing to each sample's features.

[2018-10-12 02:35] mathematiguy commented on #1125
I'm interested in doing something like this - at a minimum, it would be quite nice to be able to get the character probabilities before they go to the CTC step. I'm going to be doing my own digging to see how this might work, but if anyone has any leads I'd appreciate it.

[2018-10-12 06:46] hao-olli-ai opened #1643 "WER in report is much more than in each sentence"
`I Test of Epoch 7593 - WER: 0.001493, loss: 0.06935515210205888, mean edit distance: 0.000364
I --------------------------------------------------------------------------------
I WER: 0.034483, loss: 0.733733, mean edit distance: 0.008197
I  - src: "VỚI VỞ KỊCH THỊ NỞ GẶP CHÍ PHÈO DIỆP ANH ĐÃ DIỄN RẤT ĐẠT VÀ GÂY ĐƯỢC CẢM TÌNH VỚI BAN GIÁM KHẢO CŨNG NHƯ ĐÔNG ĐẢO KHÁN GIẢ"
I  - res: "VỚI VỞ KỊCH TH

[2018-10-12 07:34] lissyx commented on #1643
@hao-olli-ai I think it's just because the sampled output is for the worst WER reported. It would suggest that you have a lot of much lower WER than 0.001943 :)

[2018-10-12 09:02] lissyx commented on #1637
@zjysteven The fix in PR https://github.com/mozilla/DeepSpeech/pull/1642 is perfect, it's working for me :-)

[2018-10-12 09:38] zjysteven commented on #1637
@lissyx @reuben Thanks for all your help and the update!

[2018-10-12 12:30] kaszperro commented on #1125
In my opinion, you would need a training set with timestamped words (unfortunately I'm not aware of such). Correct me if I'm wrong.

[2018-10-12 22:16] rajpuneet opened #1645 "STT not working correctly for the word at the end of the sentence"
I am using version 0.2.0 of deepspeech. I have tried two ways of testing deepspeech:
1. A person with american accent spoke into the microphone
2. Fed a .wav file as an input (mono channel 16kHz)
What I have observed is that in both the cases, the last word of the audio input is interpreted incorrectly by deepspeech. Some examples are:
jungle-juml
candy-candi
chocolate-chocolatt
guy-gody
specialty

[2018-10-13 08:32] #1638 closed

[2018-10-13 08:32] #1637 closed

[2018-10-13 09:38] lissyx commented on #1645
@rajpuneet We had a bug on 0.2.0, can you retry with 0.3.0-alpha.1 ? Please make sure to use `data/lm/trie` file and not the one from 0.2.0 release, they are not compatible.

[2018-10-14 05:58] kdavis-mozilla commented on #1645
@rajpuneet Any results on this? If not, I have 0.3.0-alpha.1 setup and could test for you.

[2018-10-14 06:04] rajpuneet commented on #1645
@kdavis-mozilla, I haven’t tried it yet. But, yes if you have it setup and could test it that would be great. Let me know how it goes. Thanks.

[2018-10-14 06:37] kdavis-mozilla commented on #1645
@rajpuneet Could you send a link to the wav files you tested with? Then we can have a fair comparison.

[2018-10-15 03:08] jubang0219 opened #1648 "Missing "Flatten dimension" processing at feeding.py"
Hi,
I think that the uploading feeding.py file is missing the processing for the variable "features".

at "_populate_batch_queue" function of "_DataSetLoader" class

After the line, add below this line.

[2018-10-15 12:58] rajpuneet commented on #1645
@kdavis-mozilla here are the files:
[Audio test files.zip](https://github.com/mozilla/DeepSpeech/files/2478781/Audio.test.files.zip)

[2018-10-15 13:18] lissyx commented on #1632
@chrisspen Can you give more informations as documented above?

[2018-10-15 13:47] chrisspen commented on #1632
Nevermind. It looks like the module was moved from ".models*" to "."

[2018-10-15 13:47] #1632 closed

[2018-10-15 14:08] kdavis-mozilla commented on #1645
@rajpuneet How were the audio files generated?

[2018-10-15 14:16] rajpuneet commented on #1645
[DeepSpeech 0.3.0 alpha.1 results.docx](https://github.com/mozilla/DeepSpeech/files/2479085/DeepSpeech.0.3.0.alpha.1.results.docx)

 These are my results with 0.3.0-alpha.1. The same problem is there. I have highlighted the errors in the file and the correct word is written in parenthesis next to the error.

[2018-10-15 14:20] kdavis-mozilla commented on #1645
@rajpuneet I can confirm I'm seeing the same problem too.

However, could you tell us how the audio was generated?

[2018-10-15 14:20] lissyx commented on #1645
@rajpuneet You're running on what system exactly ? Can you reproduce the same behavior on amd64 cpu builds ?

[2018-10-15 14:48] kdavis-mozilla opened #1649 "Update README's for 0.3.0"

[2018-10-15 15:07] tiefenauer commented on #1632
How can I import the `Model` class then? The following import do all not work:

[code]

[2018-10-15 15:10] #1649 closed

[2018-10-15 15:12] lissyx commented on #1632
We do use the second form in client.py so if it's nor working there's something else on your side.

[2018-10-15 15:22] jubang0219 commented on #1648
@reuben
Oh. Sorry. It is my mistake.
My source code has been partially modified..
Thank you for uploading a good source code.

[2018-10-15 18:54] rajpuneet commented on #1645
Most of the files were  generated using this open source application by eSpeak called TTSApp. But, 2-3 files were something found online. This last word issue was not there in the release 0.1.1 when we used the same files. But, it's there in the newer releases.

[2018-10-15 19:01] rajpuneet commented on #1645
Other than this, I have even tested this with an actual person with an American accent speaking into the microphone and the same problem was there

[2018-10-15 19:10] kdavis-mozilla commented on #1645
@rajpuneet Thanks! We're looking in to the problem.

[2018-10-15 19:14] lissyx commented on #1645
@rajpuneet @kdavis-mozilla we should bisect from alpha builds that we have :-)

[2018-10-15 21:48] mathematiguy commented on #1125
I'm confident that we can get the character probabilities by unfreezing and running the model ourselves at a minimum, but that wouldn't give timestamps because they would still have to be inferred. And as @reuben  said, ideally this would be done by CTC itself.

It's possible we could get a 'good enough' time stamp without actually rewriting the CTC algorithm, but it's hard to say without trying.

[2018-10-15 21:51] reuben commented on #1125
No need to unfreeze the model, just fetch the "raw_logits" node which is the output of the acoustic model (and input to CTC decoder).

[2018-10-15 22:33] madhavajay commented on #1645
Hrm, I think i see this issue in v0.2.0 as well. Is it fixed in the v0.2.1 alphas? I was wondering why the quality of output was lower than 0.1.1 on obvious things like "yes" with the language model included. In v0.1.1 I get "yes" and with v0.2.0 i get stuff like "yesy".

[2018-10-16 04:32] kdavis-mozilla commented on #1645
@lissyx It wouldn't have been fixed in any v0.2.1 alphas.

@madhavajay 0.2.0 and 0.1.X are different enough that a direct comparison is a bit "apples and oranges".

Reuben and myself talked a bit about this yesterday and we think we have some leads on where the 0.2.X and 0.3.X-alphaY bug may lie.

[2018-10-16 05:02] sshabana commented on #1224
hey kdavis, even with the tflite deepspeech streaming model, i am still seeing the issue in  java classifier i get the below error: Mapped Bytebuffer is not a valid flatbuffer model. Now that all operators are enabled on a streaming model, why shd we have such issues. Any insights in this will be helpful. Thanks

[2018-10-16 07:48] lissyx commented on #1645
No, but if we know it was good on 0.1.1, then we still can bisect from there, although it's likely coming from the model itself and not the inference code ?

[2018-10-16 07:52] kdavis-mozilla commented on #1645
@lissyx We think it's from the BRNN to RNN switch along with the stride. Reuben started runs last night to test this hypothesis.

[2018-10-16 13:40] mone27 opened #1653 "broken link on readme to download pre trained models for v0.3.0"
the link to download pre trained models is broken
`wget -O - https://github.com/mozilla/DeepSpeech/releases/download/v0.3.0/deepspeech-0.3.0-models.tar.gz | tar xvfz -`
since it points to v0.3.0 which is not released yet.
The last working link is
`wget -O - https://github.com/mozilla/DeepSpeech/releases/download/v0.2.0/deepspeech-0.2.0-models.tar.gz | tar xvfz -`

[2018-10-16 13:46] kdavis-mozilla commented on #1653
@mone27 0.3.0 has not yet been released. The README has the link in preparation for the release.

[2018-10-16 13:46] #1653 closed

[2018-10-17 10:34] saikishor commented on #1645
These are my results with 0.3.0-alpha1
[deepspeech_0.3.0_alpha_1_test_results.odt](https://drive.google.com/file/d/17vuGOEauDhjM9HoUZrFvs0T9Du3P-MdK/view?usp=sharing) [audio_files](https://drive.google.com/file/d/1TTZPJUJJwRCqyUOAh5Kbpf0lcpP1xI2l/view?usp=sharing)

The audio files have already been tested on the DeepSpeech 0.1.1 and they all worked..

[2018-10-18 08:03] kdavis-mozilla commented on #1645
@saikishor From your tests I don't get impression that the failures are correlated with the last word. Quite the contrary, the failures seem random.

[2018-10-18 08:36] JRMeyer commented on #1559
Hi Kelly,

I'm getting this same error, with version `0.3.0`, which is currently in the README.

[code]

[2018-10-18 09:09] MuruganR96 opened #1654 "Training of Epoch x - loss: inf. again decrease LR, stil same issue repeating. can't guess what is happened?"
Training of Epoch x - loss: inf. again decrease LR, stil same issue repeating. can't guess what is happened?
help me how to rectify this? thank you sir.

[2018-10-18 09:11] lissyx commented on #1654
@MuruganR96 We can't provide support without any information. And please reach for that kind of help on training on Discourse.

[2018-10-18 09:11] #1654 closed

[2018-10-18 09:59] saikishor commented on #1645
@kdavis-mozilla I agree with you, the problem of the last word in 0.2.0 is not seen here.

[2018-10-18 11:36] kdavis-mozilla commented on #1559
@JRMeyer We've updated the README, but still are working on one issue before we make the 0.3.0 release. So, unfortunately, currently the README is ahead of our release.

[2018-10-18 11:40] JRMeyer commented on #1559
OK - I managed to get the 0.2.0 version installed from here https://github.com/mozilla/DeepSpeech/releases/tag/v0.2.0

[2018-10-18 14:30] qjing666 opened #1655 "ImportError: No module named '_impl'"
I'm trying to implement the deepspeech on my server, following the instructions. But meet the following errors:

[code]

[2018-10-18 15:41] lissyx commented on #1655
@qjing666 You shoud give us more informations, there is nothing we can do with only that.

[2018-10-18 15:57] qjing666 commented on #1655
my gpu is 1080Ti and Cuda version is 7.5, do I need to give the output of  LD_DEBUG=libs deepspeech ?

[2018-10-18 16:03] qjing666 commented on #1655
I have just install the required environments in the requirements.txt and run the deepspeech command using the pre-trained model. It gives me the above error.

[2018-10-18 16:44] qjing666 commented on #1655
I cloned the code and download the pre-trained model. And created the deepspeech virtual environment. After installing the deepspeech python bindings, I tried to use the pre-trained model using command:
deepspeech --model models/output_graph.pbmm --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie --audio my_audio_file.wav

Then it gives me the error.

[2018-10-18 16:44] lissyx commented on #1655
Where is the `LD_DEBUG=libs` output? Again, if you're trying to run with CUDA 7.5, it's likely why it fails.

[2018-10-18 16:46] qjing666 commented on #1655
Ok, I will try to update my CUDA. And the output for LD_DEBUG=libs is shown below. It's a little bit long. Really thank you for your help !!!
     17214:	find library=libpthread.so.0 [0]; searching
     17214:	 search cache=/etc/ld.so.cache
     17214:	  trying file=/lib/x86_64-linux-gnu/libpthread.so.0
     17214:
     17214:	find library=libc.so.6 [0]; searching
     17214:	 search cache=/etc/ld

[2018-10-18 16:47] lissyx commented on #1655
So it's definitively CUDA.

[2018-10-18 16:47] #1655 closed

[2018-10-19 07:29] mouradski opened #1656 "speech-to-text json result with time per word"
it would be really cool if we had a transcription result as follows:

[
{name: "word1, time: 130}
{name: "word2, time: 132},
.....
]

seen @ http://speechmatics.com API

[2018-10-19 07:44] lissyx commented on #1656
@mouradski You can build it ?

[2018-10-19 08:45] lissyx commented on #1656
@mouradski I meant, it's not directly in the scope of what we expect to provide, but it should be fairly easy to build, and we'd welcome a PR that adds something dealing with that, either directly in our repo, or in another repo

[2018-10-19 09:04] kdavis-mozilla commented on #1656
@lissyx just yesterday @reuben started looking in to integrating [ctcdecode](https://github.com/parlance/ctcdecode/) as it outperforms tensorflow's CTC. In addition, [ctcdecode](https://github.com/parlance/ctcdecode/) provides character level timings.

The integration would require work, but it would be a big win, giving a better WER's plus timings.

[2018-10-19 10:41] lissyx commented on #1125
So, some news that @reuben was too shy to share: https://github.com/mozilla/DeepSpeech/issues/1656#issuecomment-431296511

[2018-10-19 13:39] mehadi-trackrep opened #1657 "No module named 'util'"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2018-10-19 13:39] #1657 closed

[2018-10-19 13:40] mehadi-trackrep opened #1658 "bin/import_librivox.py: No module named 'util'"
from util.downloader import maybe_download
ModuleNotFoundError: No module named 'util'

[2018-10-19 13:48] lissyx commented on #1658
@mehadi-trackrep Do you care to give more informations ?

[2018-10-19 13:58] mehadi-trackrep commented on #1658
Actually, when I run the bin/import_librivox.py there is an error like that. I haven't understood how to solve it. Already I have tried to install all packages of 'util' but it didn't work.

[2018-10-19 14:01] lissyx commented on #1658
@mehadi-trackrep How do you run it ? How did you setup your virtualenv ?

[2018-10-19 14:54] loretoparisi commented on #1656
+1

[2018-10-19 15:41] mouradski commented on #1656
i'll try :) it's a good challenge :)

[2018-10-19 16:28] lissyx commented on #1656
@mouradski Under the new light of ctcdecode, you may want to wait until this lands to complete your changes, but it's still interesting

[2018-10-19 17:25] reuben opened #1659 "Remove initialize_from_frozen_graph flag and supporting code"
Now that we release checkpoints with our models, there's no reason to maintain this code, it's fragile and forces unneeded similarity between training and inference graphs.

[2018-10-19 17:38] axxapy opened #1660 "0.3 models link is broken (deepspeech-0.3.0-models.tar.gz is not found)"
from README.md:
[code]

there is no such file `deepspeech-0.3.0-models.tar.gz`
I managed to find models only from 0.2 release

[2018-10-19 20:35] bfinan commented on #1660
#1662

[2018-10-21 10:42] cmhashim commented on #634
Any updates on the Urdu model?

[2018-10-22 17:11] NicoHood commented on #979
Are there any plans for the 2.1 release? Also where can I find the language models for other languages, such as german? I've seen data is being collected on the website.

[2018-10-22 17:20] lissyx commented on #979
@NicoHood What kind of plan do you look for ? For the other languages, there's not enough data being collected yet from Common Voice.

[2018-10-23 01:44] zhangjinhong17 opened #1664 "preprocess generate feature for all dataset?"
I found in the code preprocess.py, it will generate the feature for all dataset before training.
and we can save it to hdf5_cache_path, so next time, we don't need re-generate feature again. Is it right?

My question is , if the dataset is super big, it will use all of the memory and out of memory.
Is there any option to generate the feature real time, which is previous used?

![image](https://use

[2018-10-23 07:55] sagar2226 opened #1665 "traceback error"
[code]

[2018-10-23 07:58] lissyx commented on #1665
https://github.com/mozilla/DeepSpeech/wiki#i-get-an-error-about-native_clientlibctc_decoder_with_kenlmso-undefined-symbol-during-training

[2018-10-23 07:58] #1665 closed

[2018-10-23 07:59] lissyx commented on #1665
@sagar2226 Next time, please follow the issue template, document your setup, and use proper code formatting.

[2018-10-23 08:44] lissyx commented on #1224
Lots of roadblocks on `NNAPI` path. So far:
 - `tf.minimum()` triggers `NNAPI doesn't support tensors with rank 0 (index 7 name Minimum/y)`
 - `tf.unstack()` triggers `Unpack` op that is not supported
 - manually removing unstack generated `StridedSlice` ops that are also not supported

[2018-10-23 09:16] AmeerHamzaRiaz opened #1666 "ModuleNotFoundError: No module named '_impl' on using Deepspeech-gpu"
Deepspeech works fine when I use `deepspeech.` but when I try to use 'deepspeech-gpu'. I get following errors.

[code]
Using the pre-built model 0.2 and unmodified deepspeech repository.
Linux Ubuntu 18.04
GPU model: Nvidia gt730 4gb
RAM: 16 gb
Python Version: 3.6.5
Processor: i7 6th Generation
Tensorflow provided by deepspeech

Steps to reproduce:
1) pip3 install deepspeech-gpu
2) deepspeech --mo

[2018-10-23 09:21] lissyx commented on #1666
So, you lack CUDA 9.0 :)

[2018-10-23 11:04] #1666 closed

[2018-10-23 11:10] f90 commented on #1156
Are there any updates on this? I still have this issue and I am pretty sure it's not the models fault, since with normal decoding (greedy or beam search) I never get these very long words.

This is a big problem for me since those long words mess up the evaluation obviously, but a language would be necessary to get acceptable performance.

[2018-10-23 11:22] lissyx commented on #1156
@reuben is currently working on moving to ctcdecode, which amongst others should fix this issue

[2018-10-23 14:14] lissyx commented on #1660
v0.3.0 was tagged, this is going to be fixed soon.

[2018-10-23 14:14] #1660 closed

[2018-10-23 18:36] rajpuneet commented on #1645
**I tested the latest release i.e. 0.3.0 with one of the audio files that were shared earlier and I have attached here again
/home/sranjeet/GM/deepspeech/it_was_his_heart_that_would_tell_him_where_his_treasure_was_hidden.wav

If the lm and trie are not used, then the last word is interpreted correctly as shown below (please ignore the options that I have set for lm and trie as were incorrect):**

[2018-10-23 21:59] kdavis-mozilla opened #1668 "Switch to ctcdecode in native client"
- [x] Import ctcdecode into our repository
- [x] Integrate into build system
- [x] Replace old CTC usage with ctcdecode
- [x] Clean up Alphabet to match ctcdecode needs
- [x] Modify Scorer to load trie from a file if available

[2018-10-23 21:59] kdavis-mozilla opened #1669 "Integrate into build system"

[2018-10-23 21:59] kdavis-mozilla opened #1670 "Apply softmax to logits"

[2018-10-23 21:59] kdavis-mozilla opened #1671 "Modify Alphabet class to suit ctcdecode's needs"

[2018-10-23 21:59] kdavis-mozilla opened #1672 "Call ctc_beam_search_decoder in ModelState::decode"

[2018-10-23 21:59] kdavis-mozilla opened #1673 "Remove old CTC code"

[2018-10-23 21:59] kdavis-mozilla opened #1674 "ctcdecode hyperparameter search"

[2018-10-23 21:59] kdavis-mozilla opened #1675 "Write Python/NumPy bindings for ctcdecode and use it where we currently use libctc_decoder_with_kenlm.so"
- [x] Write ctcdecode bindings
- [x] Switch Python code to it
- [x] Remove old CTC code & KenLM scorer

[2018-10-23 21:59] kdavis-mozilla opened #1676 "Modify KenLM Scorer to load vocabulary from trie file rather than by enumerating the model"

[2018-10-23 22:13] reuben commented on #1645
@rajpuneet we're currently in the process of integrating [a different CTC decoder implementation](https://github.com/parlance/ctcdecode) into our native clients since it offers a bunch of features we're interested in (confidence scores, character-based language models) and also doesn't exhibit these weird behaviors we've been seeing (words glued together, errors at end of sentence). The work is so

[2018-10-23 22:26] #1659 closed, assigned to reuben

[2018-10-24 17:22] reuben opened #1678 "Allow use of several decoders (language models) with a single model in the API"
One might have two language models for example, one with just commands, and one for general English text. The first is used to detect voice commands, and the second to understand a parameter to a command, like say a text message the user wants to send.

Currently you can only have one decoder instance live at any given point, by calling `enableDecoderWithKenLM`. It'd be nice to be able to have sev

[2018-10-24 19:59] #1669 closed

[2018-10-24 19:59] #1670 closed

[2018-10-24 19:59] #1671 closed

[2018-10-24 19:59] #1672 closed

[2018-10-24 19:59] #1673 closed

[2018-10-24 19:59] #1676 closed

[2018-10-25 14:16] mouradski commented on #1675
So with that we can more easily add the timeline of words ?

https://github.com/mozilla/DeepSpeech/issues/1656

[2018-10-26 14:16] saeidaau opened #1684 "Extracting alignment data of detected speech"
I am using DeepSpeech 1.1.0 on some .wav files. This command works well on my machine:

`$deepspeech models/output_graph.pb sample.wav models/alphabet.txt`

I need to extract and save the alignment data of detected speech. For example when I perform  the DeepSpeech on the file "sample.wav" and detected speech is "How are you", I need a vector that shows each character corresponds to which part of

[2018-10-27 07:11] saeidaau commented on #1684
@reuben
Any suggestion?

[2018-10-29 09:09] kdavis-mozilla commented on #1684
When PR #1679 lands this should be solved.

[2018-10-29 09:09] #1684 closed

[2018-10-29 12:50] reuben commented on #1684
Not really as that PR only switches our existing features to ctcdecode, exposing timing, result probabilities, etc are going to be follow up PRs. But I'm pretty sure there's already an issue for timing output here somewhere.

[2018-10-29 12:51] reuben commented on #1684
Yes, issue #1125.

[2018-10-29 12:51] reuben commented on #1656
Duplicate of #1125.

[2018-10-29 12:51] #1656 closed

[2018-10-29 20:54] rajpuneet commented on #1645
@lissyx @reuben @kdavis-mozilla We are working on a project that needs this ctc decoder issue fixed earlier than that, so we were thinking of fixing this issue ourselves. But, this raised another concern for us. I tried to fine tune the 0.3.0 release model and one of the parameters that had to be specified was '--decoder_library_path' where we specify the path for 'libctc_decoder_with_kenlm.so'. S

[2018-10-29 20:56] reuben commented on #1645
@rajpuneet no, the decoder is only used for test epochs where we generate WER reports.

[2018-10-29 20:57] rajpuneet commented on #1645
Ok, thanks @reuben!

[2018-10-29 20:57] reuben commented on #1645
@rajpuneet and FWIW, I was a bit too cautious with my initial estimate. You can already try out the new decoder by using the code in https://github.com/mozilla/DeepSpeech/pull/1679

[2018-10-29 21:07] rajpuneet commented on #1645
@reuben, can we just switch to the branch 'ctcdecode' and get the latest code on top of release 0.3.0 to get all the commits?

[2018-10-29 21:13] reuben commented on #1645
@rajpuneet yes, just using that branch should be enough, it's based on a recent master.

[2018-10-29 21:17] rajpuneet commented on #1645
Thanks, @reuben.

[2018-10-30 13:49] #1668 closed

[2018-10-30 15:38] reuben commented on #1156
Could anyone who's seeing this issue test the new decoder on master?

There's native client builds here: https://tools.taskcluster.net/groups/FyclewklSUqN6FXHavrhKQ

The acoustic model is the same as v0.2, and the trie is in `data/lm/trie.ctcdecode` after you update to latest master. Testing with some problematic examples I had shows much better results, but the links in this thread are all broken

[2018-10-30 15:50] reuben commented on #1156
Sorry, those instructions are incorrect. The acoustic model is the same as v0.2 but you need to re-export it with the master code. Alternatively you can grab it from here: https://github.com/reuben/DeepSpeech/releases/tag/v0.2.0-prod-ctcdecode

[2018-10-30 22:11] sranjeet81 commented on #1645
@reuben I tried building the master branch today which includes the ctc decoder change, but could find the results out of the inference to be completely messed up. Below are couple of examples inference runs for the utterances that is the name of the wav file and the results are off. Am I missing something as part of building and integration of the new deepspeech with the updated ctcdecode?

nvidi

[2018-10-30 22:13] reuben commented on #1645
@sranjeet81 you need to re-export the model with the code on master. Or you can get the re-exported model from here: https://github.com/reuben/DeepSpeech/releases/tag/v0.2.0-prod-ctcdecode

[2018-10-30 22:17] sranjeet81 commented on #1645
@reuben Thanks. Now I had started getting errors below on running the inference. Could it be because of the tensorflow version used **TensorFlow: v1.6.0-rc1-1453-g8f1e480**?

2018-10-30 22:15:46.621858: E tensorflow/core/common_runtime/executor.cc:644] Executor failed to create kernel. Invalid argument: NodeDef mentions attr 'Truncate' not in Op<name=Cast; signature=x:SrcT -> y:DstT; attr=SrcT:typ

[2018-10-30 22:18] reuben commented on #1645
@sranjeet81 yes, I think so. master is currently built against TensorFlow r1.11.

[2018-10-30 22:19] reuben commented on #1645
@sranjeet81 FWIW you can grab binaries from here: https://tools.taskcluster.net/task-group-inspector/#/FyclewklSUqN6FXHavrhKQ

Click the job for your architecture then click the Run Artifacts and grab native_client.tar.xz.

[2018-10-30 22:30] sranjeet81 commented on #1645
@reuben Your binaries for ARM64 worked for me on JetSon TX2. I will try to build tensorflow v1.11 and give it a try for the GPU. Results look positive from this issue. I will keep you posted on more inference results tomorrow. Thanks.

[2018-10-30 22:31] reuben commented on #1645
@sranjeet81 great! Thanks for testing.

[2018-10-31 01:35] jekirl opened #1689 "NBest/Probability with new CTCDecoder"
Now that the new CTCDecoder by @reuben has landed in master, is there anything blocking modifying the client API to use it + return NBest/the corresponding probabilities?

[2018-10-31 02:33] reuben commented on #1689
(Issue #1372 if you want to subscribe for updates)

[2018-10-31 07:47] lissyx commented on #1664
@zhangjinhong17 Please refrain from using screenshots to document : it is hard to read for everyone, and not searchable. As a side effect, I'm unable to see the point you are exposing.

[2018-10-31 07:50] lissyx commented on #1664
@reuben will correct me if I'm wrong, but this was slowing down the training enough that the increase in memory usage from features preprocessing was a big win. So I don't think we kept a code path allowing not to use.

[2018-10-31 07:51] #1664 closed

[2018-10-31 08:33] kdavis-mozilla commented on #1645
@sranjeet81 Just out of curiosity what use case do you have in mind when targeting the Jetson TX2?

[2018-10-31 08:37] saikishor commented on #1645
@kdavis-mozilla people are much interested in TX2 as it has much more computational power to handle Deepspeech. With other platforms, you will have the inference done, but it takes a lot of time for the inference, which is not a use case if they would like to use them in their projects. So, most of us want to have the deepspeech running with less inference time, atleast for me this is the reason.

[2018-10-31 08:42] kdavis-mozilla commented on #1645
@saikishor @sranjeet81 If processing power is the only selection criteria, then why not a laptop, desktop, or server?

I'd assume there are other factors at play. For example, the TX2 is the on-board computer for a robot or the TX2 is the on-board computer for a car or any number of other selection criteria.

[2018-10-31 08:47] saikishor commented on #1645
@kdavis-mozilla  I agree with you!! If you clearly observe the computational load on the cpu using deepspeech, it is consuming way more resources so that other programs may not have enough resources to run on the robot or any application. Again, adding a new computer on-board only for the speech recognition or other deep learning stuff consumes lot of space and its unnecessary. Instead, If we use

[2018-10-31 08:59] reuben commented on #1664
Alex's comments are correct. No such option exists for now, but we are planning to at least add chunking so you can split the preprocessed features in several files and load them as they're needed.

[2018-10-31 09:14] lissyx commented on #1658
I'm unable to repro, and no news from @mehadi-trackrep. Closing, as it's likely just wrong usage / setup. Please re-open if you reproduce and provide more STR / documentation on your setup.

[2018-10-31 09:14] #1658 closed

[2018-10-31 14:03] daanzu commented on #1645
In brief testing, this issue appears to be fixed, although I usually test through Python bindings rather than `native_client` executable. The new CTC decoder appears much faster too.

[2018-10-31 14:07] lissyx commented on #1645
There are also Python bindings, so you can check with them.

[2018-10-31 15:07] lissyx commented on #1224
With https://github.com/mozilla/DeepSpeech/pull/1690 it will directly export as `tflite` format. Requires a bump to TensorFlow r1.12

[2018-10-31 17:10] reuben commented on #1645
Thanks for checking! I'm gonna close this issue but feel free to reopen if you think this is still a problem.

[2018-10-31 17:10] #1645 closed

[2018-10-31 17:46] Hafsa26 commented on #634
Hi. I couldn't find spell.py file in DeepSpeech Master - Version 0.2.0 alpha 0. what could be the substitute of it ?
Thank you!

[2018-10-31 18:04] Hafsa26 commented on #634
@kdvais-mozilla, can you please answer my query? What could be substitute of spell.py file in Deepspeech master Version 0.2.0 alpha0.
Thank you!

[2018-10-31 18:05] Hafsa26 commented on #634
@kdavis-mozilla,  can you please answer my query? What could be substitute of spell.py file in Deepspeech master Version 0.2.0 alpha0.
Thank you!

[2018-10-31 22:41] spencer-brown commented on #1156
@reuben 's new work is working well for me on long, clean recordings.

I'm using:
* [The new Node module for OS X](https://queue.taskcluster.net/v1/task/KlmTgr5HQXipDIXsm0lzJg/runs/0/artifacts/public/deepspeech-0.3.0.tgz) (`npm link`ed locally).
* `output_graph.pbmm` from [Reuben's release](https://github.com/reuben/DeepSpeech/releases/tag/v0.2.0-prod-ctcdecode) (as linked above).
* The ctcdecode

[2018-11-01 06:41] zhangjinhong17 commented on #1664
Thanks your guys. I know the pereprocess is faster. You don't need add chunking for it. I can do it by myself if need.

[2018-11-01 08:57] GabrielLin opened #1691 "Evaluate error - FailedPreconditionError (see above for traceback): sequence_length(0) <= 1696"
I am facing the following error when I ran the command. Could you help? Many thanks.
`python -u evaluate.py --test_files /home2/xxxx/nlp/DeepSpeech-020/data/Libri/librivox-test-clean.csv --n_hidden 2048 --checkpoint_dir ~/.local/share/deepspeech/pre-train`

[2018-11-01 08:59] kdavis-mozilla commented on #1156
@spencer-brown On the recordings you made yourself, did you record directly to 16KHz, 16bit, mono audio? (The recordings sound like they were made at a lower Hz and/or bit depth.)

Also, I'd tend to agree that the drop in the recording quality is likely largely to blame for the poor results on the recordings you made yourself. We're currently training models that will be more robust to background

[2018-11-01 09:10] GabrielLin commented on #1691
My version is 0.3.0; Please ignore the character in my command. I just reuse the data of version 0.2.0. Actually, I also facing the same issue in version 0.2.0.

[2018-11-01 09:16] kdavis-mozilla commented on #634
@Hafsa26 There have been a lot of changes since spell.py was in the repo. Could you say a little more about what you want to do?

[2018-11-01 09:51] lissyx commented on #1691
@GabrielLin Try passing `ignore_longer_outputs_than_inputs=True`, I ran into this on some dataset, I'm not sure yet if we have a bug in DeepSpeech or in those datasets.

[2018-11-01 09:52] lissyx commented on #1691
Or @reuben is it possible we broke something on `evaluate.py` ?

[2018-11-01 09:59] lissyx commented on #1224
@farwayer You can now just train and `--export_dir ... --export_tflite`, this should get you something :)

[2018-11-01 11:09] Hafsa26 commented on #634
I am working on Urdu Language Speech Recognition system using DeepSpeech. As you said above, we need to make changes in text.py and spell.py for it. I found text.py  in repo but couldn't find spell.py.
So what could be the solution for it? Secondly, if you have any blog or help for speech recognition system of some other language using Deepspeech. Kindly please share. Thank you!

[2018-11-01 12:13] kdavis-mozilla commented on #634
@Hafsa26 I guess I'm looking more towards: What your goal? `spell.py` is no longer in the repo, but the functionality it provided is. So, I need to know what functionality you are trying to use so I can point you in the right direction.

[2018-11-01 14:35] lissyx commented on #1576
I've did some experiment, starting with english model 0.3.0, and @nicolaspanel https://gitlab.com/nicolaspanel/TrainingSpeech latest release (early october?) and relying on the newer `ctcdecode`, the same audio file gives "bonjour ses moi", without any language model, so that's quite accurate.

[2018-11-01 14:53] lissyx commented on #1576
[code]

[2018-11-01 20:40] f90 commented on #1156
For anyone else still having trouble with this, i was able to make it work in the end by installing pytorch along with the ctcdecode library and then using that on top of my existing code, worked right of the gate with a KenLM language model!

[2018-11-01 21:02] reuben commented on #1156
@f90 you shouldn't need PyTorch (or the ctcdecode) library to use the new native client, the decoder is built-in.

[2018-11-03 09:58] mouradski opened #1695 ""KeyError: u't'" using docker container"
`docker run -v /f/data:/data deepspeech python ./DeepSpeech.py --checkpoint_dir /data/checkpoint --epoch -3  --checkpoint_secs 2000  --train_files /data/training3/librivox-train-clean-360.csv --dev_files /data/training3/librivox-dev-clean.csv,/data/training3/librivox-dev-other.csv --test_files /data/training3/librivox-test-clean.csv,/data/training3/librivox-test-other.csv  --learning_rate 0.0001`

[2018-11-03 11:03] mouradski commented on #1695
Ah maybe :) can i pull an image from somewhere to try ?

I do not have linux on hand to try with my GTX

[2018-11-03 11:07] derekpankaew commented on #1156
I'm also experiencing the same issue with words gluing together. I'm trying to run the new version as described by @spencer-brown above, but I'm experiencing some issues.

Deep Speech v0.3 is working on my system, but using the new version is throwing an error.

I'm using:

- The new Node module [here](https://queue.taskcluster.net/v1/task/KlmTgr5HQXipDIXsm0lzJg/runs/0/artifacts/public/deepspeech-

[2018-11-03 22:53] spencer-brown commented on #1125
SO excited for the word timeline!

[2018-11-04 00:18] mouradski commented on #1695
fixed, i built image in Unix env and run it on windows, all is ok :)

[2018-11-04 10:53] lissyx commented on #1678
Do you think we could also do that such that each language model has its own alphabet? This could help with transfer learning using English model and language dedicated language model

[2018-11-04 12:02] lissyx commented on #1695
Thanks for checking :)

[2018-11-04 12:02] #1695 closed

[2018-11-04 13:55] reuben commented on #1678
The acoustic model output has the alphabet embedded in it (number of predicted classes) so you can't use a different alphabet just on the decoder end. For doing transfer learning like that you could try freezing all layers but the final one and then retraining it with the new alphabet.

[2018-11-04 17:21] lissyx commented on #1691
So is it possible there some empty text for an audio in `librivox-test-clean.csv` ?

[2018-11-06 07:59] Hafsa26 commented on #634
Initially I am trying to train subpart of Common Voice dataset. What should be the files placed in cache featured path ?

![deepspeech](https://user-images.githubusercontent.com/43984420/48050468-cbde0e80-e1c3-11e8-8db6-96665fec756d.png)

[2018-11-06 08:34] GabrielLin commented on #1691
Oh, it might be. I removed all lines in librivox-test-clean.csv except the first two lines. There is not error. But I just created librivox-test-clean.csv by using import_librivox.py.

Do you have the same situation in the lastest repository? @lissyx Thanks.

[2018-11-06 08:56] lissyx commented on #1691
I don't really have time to check :/

[2018-11-06 10:12] Hafsa26 commented on #1537
what will be the cache featured path files in deepspeech.py ?

[2018-11-06 10:36] Hafsa26 commented on #1537
Should I place the same files in cache featured path files as I gave path in train, test and dev?

[2018-11-06 10:46] Hafsa26 commented on #1537
Should I place the same files path in cache featured path as I gave path in train ,dev files?
Thank you for replying @tilmankamp

![deepspeech](https://user-images.githubusercontent.com/43984420/48059402-e7084880-e1da-11e8-831e-568e75c35b86.png)

[2018-11-06 11:06] tilmankamp opened #1709 "Feature cache documentation"
This is about `--train_cached_features_path`, `--dev_cached_features_path` and `--test_cached_features_path` options.
- They are not supporting comma separated lists of cache files yet. If not added, the statement should at least be removed from their respective help texts.
- We should provide a brief description of the feature in documentation and help texts.

[2018-11-06 11:06] tilmankamp commented on #1537
@Hafsa26 These are optional. If you provide a path for one of them and the file is not existing, it will get created during training as a cache that prevents reading single wav files over and over again for every epoch and later runs. I think the only condition is that the parent directory has to exist and be writeable by the calling user. Please ask further questions on [discourse](https://discou

[2018-11-06 11:10] Hafsa26 commented on #1537
Got it. Thank you for help. @tilmankamp

[2018-11-06 17:44] kdavis-mozilla opened #1711 "Add Python example showing use of streaming API"
Right not there's no example of how to use the streaming API and, say, VAD detection to stream. Creating such an example will help devs get up and running.

[2018-11-06 18:05] b-ak commented on #1711
I can do that. I have built it on top of the VAD. Needs a little cleanup. I'll try to send in the first patch for review over this weekend.

![image](https://user-images.githubusercontent.com/4998776/48083994-9580ad80-e21c-11e8-871e-26eed77a7c26.png)

[2018-11-06 21:47] rajpuneet commented on #1645
@reuben, how do we re-export the model? because for 0.4.0 pre-release you haven't provided any models

[2018-11-07 01:13] reuben commented on #1645
`python DeepSpeech.py --notrain --notest --checkpoint_dir /path/to/checkpoint --export_dir /path/to/export`

Or if you just want our v0.3 model re-exported to work with the new decoder, grab it from here: https://github.com/reuben/DeepSpeech/releases/tag/v0.2.0-prod-ctcdecode)

[2018-11-07 16:12] rajpuneet commented on #1645
thanks @reuben, that worked

[2018-11-07 16:57] cogmeta opened #1714 "Error: Trie file version mismatch (3 instead of expected 2). Update your trie file."
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
ubunt

[2018-11-07 17:05] cogmeta commented on #1714
Now, I am getting Error: Can't parse trie file, invalid header. Try updating your trie file.

[2018-11-07 17:11] cogmeta commented on #1714
I am using version 0.3.0 of deepspeech installed with pip.
pip3 list | grep deepspeech
deepspeech (0.3.0)

I installed the native client with v0.3.0 tag
python3 util/taskcluster.py --branch "v0.3.0" --target .

The generate trie file is not compatible.

[2018-11-07 17:11] lissyx commented on #1714
You need to give more context. Are you training ? Running inference ? Have you carefully read the docs ?

[2018-11-07 17:12] lissyx commented on #1714
`generate_trie` or generated trie file ?

[2018-11-07 17:12] cogmeta commented on #1714
Loading model from file output_graph.pbmm
TensorFlow: v1.11.0-9-g97d851f
DeepSpeech: v0.3.0-0-gef6b5bd
2018-11-07 22:42:36.782568: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
Loaded model in 0.00443s.
Loading language model from files smarthome.klm smarthome.trie
Error: Can't parse trie file, inva

[2018-11-07 17:13] lissyx commented on #1714
@cogmeta Can you include your full command-line?

[2018-11-07 17:14] cogmeta commented on #1714
deepspeech --model output_graph.pbmm --alphabet alphabet.txt --lm smarthome.klm --trie smarthome.trie --audio ~/exp/sample1.wav

[2018-11-07 17:14] lissyx commented on #1714
This output looks weird, are you passing multiple file names ?

[2018-11-07 17:15] lissyx commented on #1714
Never mind, it's me

[2018-11-07 17:16] cogmeta commented on #1714
I have looked at the code in trie_node.h carefully. In 0.3.0, it expected magic word "TRIE" at the beginning followed by version number (2). The trie file generated with generate_trie, version 0.3.0, does not have this format.

[2018-11-07 17:16] lissyx commented on #1714
That looks correct, are you sure `smarthome.trie` is good ? What's its size ?

[2018-11-07 17:17] cogmeta commented on #1714
ls -al smarthome.trie
-rw-rw-r-- 1 XXXXX XXXX 124541 Nov  7 22:46 smarthome.trie

[2018-11-07 17:18] lissyx commented on #1714
And `head -n1 smarthome.trie` ?

[2018-11-07 17:18] cogmeta commented on #1714
It is failing here because magic is missing.

https://github.com/mozilla/DeepSpeech/blob/b022f02f26eb33a043cb85332448de281d512e39/native_client/trie_node.h#L60

[2018-11-07 17:18] cogmeta commented on #1714
head -1 smarthome.trie
1414678853

[2018-11-07 17:19] lissyx commented on #1714
Clearly not expected. Can you share the whole content ? Can you trie to re-generate with `generate_trie`, ensuring you are using the matching version ?

[2018-11-07 17:21] cogmeta commented on #1714
I am looking at the code in generate_trie.cpp. I dont see the magic word (TRIE) and version number getting dumped anywhere. What am I missing?

https://github.com/mozilla/DeepSpeech/blob/ef6b5bd4707ca5042c04f07236cd3f028d279b26/native_client/generate_trie.cpp#L36

[2018-11-07 17:30] cogmeta commented on #1714
Well, that points to master one. v0.3.0 is different. generate_trie expected one more argument (vocab.txt)

./generate_trie ../data/alphabet.txt /tmp/lm.binary /tmp/vocab.txt /tmp/trie

https://github.com/mozilla/DeepSpeech/blob/v0.3.0/data/lm/README.md

[2018-11-07 17:34] cogmeta commented on #1714
It works! My apologies! I mixed up version. @lissyx  Thank you so much.

[2018-11-07 17:34] #1714 closed

[2018-11-07 23:48] JRMeyer commented on #1411
@kdavis-mozilla which of these parameters are crucial?

[2018-11-07 23:53] reuben commented on #1411
Just the "trie" parameter to build_binary. Everything else should be free to vary.

[2018-11-08 00:05] robmsmt commented on #1629
I had same issue, not sure why but I don't _think_ it was the data based on the the following script giving a lower length for features than the text :

[code]

MuruganR96's solution ignore_longer_outputs_than_inputs=True seemed to fix it!

[2018-11-08 03:35] daanzu commented on #1711
I have a small project [deepspeech-websocket-server](https://github.com/daanzu/deepspeech-websocket-server): Server & client for DeepSpeech using WebSockets for real-time speech recognition in separate environments. I'm still developing it, and will probably add some other servers for other ASR packages.

But I could easily make a stable copy in a PR if you want. It has few requirements (no GUI cr

[2018-11-08 03:50] robmsmt commented on #1629
thanks i retried as:

[code]
and it found a file

[2018-11-08 05:34] carlfm01 commented on #1711
Nice to see that people is making tools. I want to make it available for Windows without WSL and I think I almost ahieve it, I'm able to load the model using C# without the memmapped_file_system.h parts. I'm waiting for few changes merge to try again. If I achieve my goal I'll try to use it with the Windows speech recognition as VAD, and make it available on nuget.
I'm also investing time making t

[2018-11-08 09:03] kdavis-mozilla commented on #1711
@daanzu Thanks for volunteering!

What I had in mind was something very simple, like [client.py](https://github.com/mozilla/DeepSpeech/blob/master/native_client/python/client.py), but which allow for streaming using VAD.

However, now that I think about it maybe [audioTranscript_cmd.py](https://github.com/mozilla/DeepSpeech/blob/master/examples/vad_transcriber/audioTranscript_cmd.py) is simple eno

[2018-11-08 12:40] daanzu commented on #1711
@kdavis-mozilla `vad_transcriber` looks good, but I don't think it uses the streaming API? Also, personally, I think it'd be good to have an easy tool included to use the microphone. Both for first-time users, and for rapid testing without needing the rigor of repeatability, the frictionlessness of microphone recognition is unbeatable.

Microphone recognition is a natural demonstration of the stre

[2018-11-08 13:13] kdavis-mozilla commented on #1711
@daanzu I stand corrected. If you want to make a PR, it will be gladly welcomed!

[2018-11-08 14:54] lissyx commented on #1215
[code]

[2018-11-08 15:05] TrinaDu commented on #1691
I got the same problem, and think there are two bugs:

1. test_data['features'] = test_data['features'].apply(create_windows)
    + test_data['features_len'] = test_data['features'].apply(len)
   the feature_len should be updated accordingly

2. pass by reference error
   -batch_features_len = batch['features_len'].values
   +batch_features_len = batch['features_len'].values.copy()

Now it works w

[2018-11-08 15:11] kdavis-mozilla commented on #1691
@TrinaDu Would you be up for creating a small PR?

[2018-11-08 15:59] GabrielLin commented on #1691
@TrinaDu  Thank you for your solution. I have just figured out this issue in another way. I followed the code from DeepSpeech.py. Maybe your solution is better. I hope you can create your pull request.

[2018-11-09 22:46] lissyx commented on #1401
I have some pending WIP with JNI support and a simple android app making use of it.

[2018-11-12 17:55] #1675 closed

[2018-11-13 12:07] lissyx opened #1720 "Fix upload of ds_ctcdecoder"

[2018-11-13 14:51] lissyx commented on #1720
https://github.com/mozilla/DeepSpeech/pull/1721

[2018-11-13 14:51] #1720 closed

[2018-11-13 15:38] lissyx commented on #1156
Your output shows that it's not an official build. Please use official ones before reporting issues. and please give more context on your system.

[2018-11-13 15:57] robmsmt opened #1722 "New ctc decoder - missing coordinator argument"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 1804 Server
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: Tensorflow from requirements file:
- **TensorFlow version (use command below)**: v1.12
- **Python version**: 3.6
- **CUDA/cuDNN version**

[2018-11-13 16:30] #1722 closed

[2018-11-13 16:30] lissyx commented on #1722
Thanks !

[2018-11-13 17:30] robmsmt opened #1724 "New ctc decoder - np error (missing)"
Exact same as config as 1722

[code]

presumably coordinator needs import numpy as np

[2018-11-13 17:45] lissyx commented on #1724
@robmsmt You can likely send a PR for that :-).

[2018-11-13 17:46] robmsmt commented on #1724
rerunning to see if that's all

[2018-11-13 21:42] robmsmt commented on #1724
Looks like Reuben fixed this with 0c6e695 I've tested and put a PR for the missing numpy.

[2018-11-15 11:48] khsinclair opened #1726 "Imported 8khz training audio compromised by unfiltered upsampling"
The audio for the Fisher training corpus, and possibly Switchboard as well, is originally 8khz sample rate with ulaw encoding.  The import_fisher.py script converts it to 16khz sample rate PCM for training.  (I'm not sure about import_swb)

The problem is that upsampling is done with a python audioop.ratecv() primitive that does no filtering at all, leaving the high band from 4khz-8khz with an ima

[2018-11-15 11:54] khsinclair commented on #1726
Attached is an Audacity screenshot with two spectrograms of the same phrase, originally recorded with 8khz sample rate.  The top spectrogram is upsampled to 16khz using audioop.ratecv() exactly as import_fisher.py uses it.  You can see the frequency content from 4k-8k is a reflected image of the lower band.  The bottom spectrogram was upsampled to 16khz using the sox command line, and the high ban

[2018-11-15 12:03] khsinclair commented on #1726
And here's the spectrum of the first vowel in the phrase, the shaded region in the top spectrogram.  There's probably only a few mel filterbanks in the high band, but that's a significant source of noise in the training set.
![2018-11-15_06h41_11](https://user-images.githubusercontent.com/44265177/48551737-66b1a980-e8a4-11e8-9c50-00cc011bc396.png)

[2018-11-16 01:11] Hafsa26 commented on #1090
Does wave file size in mili-seconds? or in any other form of unit?

[2018-11-16 14:22] bill-kalog opened #1728 "building native client with bazel fails on ppc64le"
Hi,

I was trying to built DeepSpeech with bazel from the master branch on a ppc64le architecture but
I got the following error (I never had a problem with the previous deepspeech versions, at least until 0.2..)

[code]

So, I added the line `"//tensorflow:linux_ppc64le": LINUX_LINKOPTS,` inside the `native_client/BUILD` file and it the eventually built successfully. However, I am a bit clueless s

[2018-11-16 15:34] ftyers opened #1729 "Suggestion for replacing comma separated files with tab separated files"
Throughout the pipeline `.csv` files are used, e.g.
[code]
This makes it very hard to deal with using standard Unix commands like `cut`. e.g. if we want to identify an empty transcript, if we had a `.tsv` something like:
[code]
or
[code]
would work, where with `.csv` we need:
[code]
Even if you don't use shell commands, in my opinion it is still nicer to have the column separator to be something t

[2018-11-16 15:56] reuben commented on #1729
Pretty much all characters are allowed in Unix filenames, except for '/', which would be a problem due to the wav_filename column. I recommend using pandas or https://github.com/BurntSushi/xsv for .csv manipulation/inspection.

[2018-11-16 16:10] JRMeyer opened #1730 "Bool Args documentation"
we don't have anything saying --notrain is the opposite of --train True

[2018-11-16 16:10] JRMeyer commented on #1730
This is for the utils/flags.py script

[2018-11-16 16:17] ftyers commented on #1729
Tabs shouldn't be in filenames. In addition, `\0`, which is not allowed in filenames would be better than `,`, at least it could be then tr'd to `\t`. But the point stands, regardless of what the posix standard says, these files are being generated by our code. The Common Voice files are never going to have tabs in them (and nor are any filenames for speech recognition with DeepSpeech unless someo

[2018-11-16 17:09] ftyers commented on #1729
I don't really see the Unix worldview as a problem, more of just a normal way of working for people who work on Unix. I also think that having to install another programming language in order to do something that is trivial with `cut` given a better file format is a bit overkill. But I agree, this shouldn't be on you guys to fix. If I manage to come up with a PR I'll send it, in the meantime let's

[2018-11-16 18:32] reuben commented on #1729
xsv, like pandas, does much more than just format csv files, it was just an example. (For instance, it explicitly covers your use case: `xsv search -s transcript '^$' file.csv`). I'm sure there are other tools to convert from csv to tsv that don't require rustc.

I maintain that what you're trying to do is not trivial with cut, regardless of the separator. You're just taking shortcuts. cut does no

[2018-11-17 10:06] code-R opened #1731 "Issue while training Deepspeech in distributed mode"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No (using latest master - 02af22b69214fa1869fd51effc776a6810a5ed51)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Mojave
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:
- **TensorFlow version (use command below)**: 1.12.0rc2
- **Python version**:

[2018-11-17 11:00] lissyx commented on #1728
@bill-kalog ^

[2018-11-17 15:16] reuben commented on #1731
Yep, it should be `Config.is_chief`. We recently refactored this code and it looks like that part has slipped through as we haven't tested the cluster mode.

[2018-11-17 15:41] reuben commented on #1724
Fixed in #1725.

[2018-11-17 15:41] #1724 closed

[2018-11-17 15:43] reuben commented on #1622
We don't. We use the [python-speech-features package](https://github.com/jameslyons/python_speech_features) as well as a C reimplementation of it that lives here: https://github.com/mozilla/DeepSpeech/tree/master/native_client/c_speech_features

[2018-11-17 15:49] reuben commented on #1621
You should be able to pass it a Node.JS Buffer and specify aNCep = 20. How are you calling it and what error are you seeing?

[2018-11-17 16:04] reuben commented on #1505
#1732 should fix this.

[2018-11-17 16:05] reuben commented on #1475
Updated version of the patch is here: https://gist.github.com/reuben/dcc2deaf85568591e34ce363bc3bac2a

[2018-11-17 17:16] code-R commented on #1731
@reuben I have created a pull request, can you please review it. I am currently trying to run deepspeech in cluster mode, if I find any issues I will report them.

[2018-11-17 17:42] #1731 closed

[2018-11-17 17:43] reuben commented on #1731
@code-R merged, thanks for filing the issue and sending the PR! Feel free to comment here or create a new issue if you find any other problems.

[2018-11-17 18:07] #1505 closed

[2018-11-17 20:52] #1726 closed

[2018-11-17 21:41] kdavis-mozilla opened #1735 "Fisher importer creates 32 not 16 bit wav's"
By default the line
[code]
creates `origAudios` with 32 bits of precision. We should be using 16 bits.

So the line should be modified to something like
[code]

[2018-11-18 17:03] hugorichard commented on #1156
The binary files and trie in https://github.com/mozilla/DeepSpeech/tree/master/data/lm alleviates this long-word problem. However my results are not as good as @spencer-brown for the same text.

I apply deepspeech with binary files and trie mentionned above (all the rest is just straight application of instructions in "Using the model" of https://github.com/mozilla/DeepSpeech)

Using ffmpeg to cha

[2018-11-19 09:45] bill-kalog commented on #1728
thanks for the info! will try to further test it and maybe do a pull request if I am succesful

[2018-11-19 09:45] #1728 closed

[2018-11-19 14:03] kdavis-mozilla commented on #1726
@khsinclair I spot checked the audio imported from Switchboard and it seems fine

![spectrum](https://user-images.githubusercontent.com/12054740/48711686-289de800-ec0c-11e8-8c88-6be2c7572821.jpeg)

[2018-11-19 14:27] bill-kalog opened #1738 "shape of features matrix when loading from a hdf5_cache_path produces error"
should when loading from a cache path have the `features[i]` matrix be reshaped to `np.reshape(features[i], [features_len[i] + 2 * numcontext, -1])` instead, since we have at the function`process_single_file()` `features_len = len(features) - 2 * numcontext` . At the moment it was failing for me and you can't load from a `hdf5_cache_path`

[2018-11-19 16:00] j-a-h-i-r opened #1739 "Display progress information while preprocessing audio files"
Currently preprocessing scripts in `DeepSpeech/util` only displays the filenames that are currently being processed. But with large audio files, it takes quite some time and it would be helpful to have some progress information.

[2018-11-19 17:46] reuben commented on #1738
Did you change the code? Consumers of preprocessed features need to apply the striding windows before feeding into the model: https://github.com/mozilla/DeepSpeech/blob/f5d3dcdc62238db08e3fca4f25e899133a0f0466/util/feeding.py#L135-L144

[2018-11-20 16:14] khsinclair commented on #1726
That Switchboard spectrogram is for the 8khz source audio.  Where in the import/training pipeline does it get upconverted to 16khz, and is that properly done?

[2018-11-20 17:10] kdavis-mozilla commented on #1726
@khsinclair Agreed, and interesting. Let me see if I pulled that from the right Switchboard export on our server.

[2018-11-20 17:29] kdavis-mozilla opened #1740 "Switchboard Importer Creates WAV's at 8KHz not 16KHz"

[2018-11-20 17:30] kdavis-mozilla commented on #1726
Just opened issue #1740 (Switchboard Importer Creates WAV's at 8KHz not 16KHz)

[2018-11-20 18:00] kdavis-mozilla commented on #1726
@khsinclair Happens in the mfcc feature computation. But I'm gong to fix the importer to make sure it's done correctly

[2018-11-21 05:37] robmsmt commented on #734
Actually some of the points above have been in: https://github.com/mozilla/DeepSpeech/commit/0d03bf6ddcc80eedd0039e52ae82aadda05e9680

I am not sure about what your dataset looks like (as it appears there are different versions) but mine just contains: swb1_d1, swb1_d2, swb1_d3, swb1_d4 and doc directories.

The main outstanding issue is that there's no advice on what structure to have (you have t

[2018-11-21 13:55] herdtie commented on #1299
I think about buying me a movidus, specifically for speech processing. If this worked I would not hesitate

[2018-11-21 22:49] JRMeyer opened #1742 "Parallelize native_client/generate_trie.cpp"
This program should be parallelized... takes a long time for a big LM, only runs on one CPU max.

[2018-11-21 22:50] elpimous commented on #1576
top !!! very good !!

[2018-11-21 22:59] elpimous commented on #1678
Hi.
I had one idea about it, (but without time limit !!)

In a loop, send a wav to "3" different language models,
keep confidence value for each,
wait the end loop, and estimate the correct language, with the best confidence.

My idea is a big data multi language waves to transcribe (us/fr/chinese...) Without realtime need !

So, 3 models in memory, 3 transcribes -> confidences -> best confidence

[2018-11-22 11:58] reuben opened #1744 "Increase mfcc step size instead of throwing away feature frames"
https://github.com/mozilla/DeepSpeech/blob/a3a96cf2d1030a7906ae6d7eff83c2bed3cfe143/util/audio.py#L17-L21

We could instead pass `winlen=0.03s` and `winstep=0.02s` to `mfcc` to get the same rate of feature windows over time, but without discarding any data.

[2018-11-22 21:54] visi0nary commented on #1739
This should be switchable though. When huge CSVs with tens of thousands of entries are processed you get a huge I/O overhead if the preprocessing script is too verbose ;-)

[2018-11-23 04:43] JRMeyer opened #1745 "Killed & OOM native_client/generate_trie.cpp"
After having generated a binary tri-gram LM with kenlm (exited successfully), I went to generate a trie file, and the program `generate_trie` crashed, leaving the uninformative message `Killed`

[code]

I looked into the kernel log, after reading about the issue, and it was indeed an OOM error:

[code]

Here's some info about the lm.binary and alphabet I'm using:

[code]

[2018-11-23 08:34] kdavis-mozilla commented on #1745
The command you run does not make use of the files you stat.

[2018-11-23 08:49] kdavis-mozilla opened #1746 "Review all exporters to guarantee they do not create incorrect WAV's"

[2018-11-23 12:32] lissyx commented on #1745
@JRMeyer can you `ls -hal  alphabet.txt lm.binary trie` ? How much memory do you have on your system ? How much is free ? `free -m` might help

[2018-11-23 15:05] kdavis-mozilla opened #1747 "import_swb.py should indicate which ISIP transcript version is used"

[2018-11-23 15:43] MuruganR96 commented on #734
Sir can you help me, how to get switch, fisher audio datasets?.

Import_swt , important_fisher only creating folders. Not downloading yet.

Any idea about this sir. Please telling me.

Thanks,
Murugan R

On Fri 23 Nov, 2018, 8:55 PM Kelly Davis <notifications@github.com wrote:

[2018-11-23 15:47] kdavis-mozilla commented on #734
@MuruganR96 Unfortunately these two data sets are not free. They are available for purchase from the [LDC](https://www.ldc.upenn.edu/) for quite a bit of money.

[2018-11-23 15:54] MuruganR96 commented on #734
If I have to fine tune our pretrained model then libspeech , common voice
enough not included for these two datasets.
 Sir because as you mentioned in fine tuning checkpoints with these, we
have get high accuracy to adapt the model. So I am asked.

I was run and preprocessed libspeech , common voice, still not get these
two datasets only.

What is the solution for this?

https://discourse.mozilla.

[2018-11-23 16:14] MuruganR96 commented on #734
Sir thank you.

[2018-11-23 20:18] kurodenjiro opened #1748 "How to train data from comom voice"
hello im starter of machine learning . i want to train data from comom voice can you help me ?

[2018-11-24 06:53] kdavis-mozilla commented on #1748
The documentation cover this topic [Common Voice training data](https://github.com/mozilla/DeepSpeech/tree/issue1740%2B1747#common-voice-training-data).

[2018-11-24 06:53] #1748 closed

[2018-11-24 19:44] #1740 closed

[2018-11-24 19:44] #1747 closed

[2018-11-26 11:54] kurodenjiro commented on #1748
I want to train common voice on my cloud amazon so how can i do it ?

[2018-11-26 13:18] kdavis-mozilla commented on #1748
This is better dealt with either on [discourse](https://discourse.mozilla.org/c/deep-speech) or by using Amazon's documentation.

[2018-11-26 14:45] jinfagang opened #1751 "Can this support ARM architecture for real time microphone recognition?"
Just wonder, can this repo work on ARM architecture with real time microphone sound recognition? If so, what speed does it achieve for now

[2018-11-26 16:04] khsinclair commented on #1744
I'd recommend increasing step to 0.032 to match the 512-sample FFT.  This avoids creating the step discontinuity when using the traditional Hamming window.  That is, a 480-sample step adds 32 zeroes to create a 512-sample FFT, and the discontinuity of the raised cosine window at sample 480 produces some spectral splatter.

HOWEVER, it appears to me that line 226 of deepspeech.cc invokes feature ge

[2018-11-26 16:23] khsinclair commented on #1744
Without a window function, the current implementation with 0.025s step has two discontinuities in the FFT input: one at sample 400 and one at sample 512/0.  Not good.

[2018-11-27 07:43] raghavk92 commented on #1156
Hi, I am using the v0.3.0 deepspeech which i installed from pip3(python) as stated in the readme on the start page. I tried to pass the audio file about 1 min and get letters stringed together as for people above. What do i need to update to get better results as people are getting above. I am new to this so not understanding everything. I also made 4 sec chunks for the audio recording still a lot

[2018-11-27 09:16] kdavis-mozilla commented on #1744
Currently, as we are not to 1.0, we are free to break backwards compatibility when the engine benefits.

[2018-11-27 15:56] xaviiee opened #1752 "ldc93s1 not downloading"
Hi, I just cloned the repo and try to run bin/run-ldc93s1.sh in order to understand how to build my own model, but then I ran into a series of python2/3 incompatibilities. My shell interprets the python command included in the run-ldc83s1 script as being python2, so I changed the shell to force python3, but it still outputs this error:

[code]

Could someone tell me what I did wrong or if there is

[2018-11-27 16:05] reuben commented on #1752
That does not look like a Python 2/3 issue, more like your ldc93s1 data is corrupted or missing. Check if data/ldc93s1/ldc93s1.wav is a proper audio file. Try removing data/ldc93s1 and running the script again.

[2018-11-27 16:19] xaviiee commented on #1752
You're right, the wav data is missing. I deleted the directory and re-ran the script, here is the result:

[code]

[2018-11-27 17:59] kdavis-mozilla commented on #1752
It looks like you didn't install the requirements a indicated [here](https://github.com/mozilla/deepspeech#installing-prerequisites-for-training).

[2018-11-28 08:18] kdavis-mozilla commented on #1752
Are you running with python 3 or python 2? You installed requirements.txt using pip3.

[2018-11-28 09:12] xaviiee commented on #1752
That's the mistake, I installed everything with python 3 and the script is running python 2. I will check soon but that should be it. I was under the impression that the whole project was using python 3 so that's why.

[2018-11-28 10:24] dingevin opened #1753 "the performance of tensorflow distributed training"
this is not the performance of DeepSpeech. I have trained a speech recognition network using tensorflow both on multi-gpu and distributed according to your distributed deepspeech. there is some question that i have been  puzzled a long time. that's my [code](https://github.com/dingevin/distributed-training/blob/master/distributed.py), when i'm training i faced two questions:
1. **the accuracy of d

[2018-11-28 13:34] xaviiee commented on #1752
The tutorial on the main page [https://github.com/mozilla/DeepSpeech#installing-prerequisites-for-training] specifies pip3, so I used pip3. But then you suggested that I should use python2 so I installed the same requirements.txt with pip2. However I'm still not better off as shown below, so what should I do?

[code]

[2018-11-28 14:15] kdavis-mozilla commented on #1752
I didn't. I only asked which version of python you were running with.

Could you provide the output of
[code]

[2018-11-28 14:16] lissyx commented on #1752
Just a side node, the shebang specifies `sh`, not `bash`

[2018-11-28 14:17] lissyx commented on #1752
Also @xaviiee you are not using a virtual environment, as we document. Who knows what kind of interactions you might be triggering then?

[2018-11-28 14:21] xaviiee commented on #1752
@kdavis-mozilla Hmm you're right you did suggested it, my bad.

`Python 2.7.15rc1` is the result of python --version.

@lissyx the result is the same with sh or bash, and I'll try within a virtual environment again and post the results. I tried once but probably I did a mistake somewhere.

[2018-11-28 14:32] xaviiee commented on #1752
@lissyx You have the issue, there is an other package called progressbar and it seems that there is a conflict between progressbar and progressbar2. Now within a virtual environment and without this conflict it's working perfectly fine. I'm used to install everything system wide but that was not the best idea. Sorry for this mistake and thanks a lot for your patient help!

[2018-11-28 14:32] #1752 closed

[2018-11-28 15:56] reuben commented on #1753
Sounds like this is better suited for the tensorflow repository? Or at the very least the Discourse forums rather than the issue tracker, since it's not our code.

[2018-11-28 16:40] #1753 closed

[2018-11-28 22:05] nicolaspanel commented on #838
hi @elpimous , thanks for the answer.
the links are broken now, could you please share it again ?
Best regards

[2018-11-28 23:10] abhijeet3922 opened #1754 "import_cv error while creating common voice dataset"
OS Platform and Distribution (Linux Ubuntu 16.04):
I comfortably ran and created data-set from bin/import_ted.py

while running >> bin/import_cv.py ./cv/ from DeepSpeech directory, I am getting an error while importing cv-valid-train.csv.

No CSV file "/home/abhijeet/Desktop/dl_projects/DeepSpeech/cv/cv-valid-train.csv" - importing "/home/abhijeet/Desktop/dl_projects/DeepSpeech/cv/cv_corpus_v1/cv-

[2018-11-29 03:12] dingevin commented on #1753
yes, thanks.

[2018-11-29 04:01] MuruganR96 opened #1755 "Nan in summary histogram -InvalidArgumentError"
- **OS Platform and Distribution: Linux Ubuntu 16.04**:
- **TensorFlow version 1.11.0**:
- **Python version 3.5.0**:
- **GPU model and memory - p3 instance xlarge 8 GPU**:

sir i was fine tuned v0.3.0 pretrained model with my own audio datasets. initially i gave 50 epochs, but 5th epoch it was stopped and thrown this issue.

**DeepSpeech v0.3.0  (master)
v0.3.0 pretrained  model
tensorflow-gpu=1.1

[2018-11-29 04:12] ailurus1991 opened #1756 "segmentation fault on generate_trie"
Hey guys,

I'm following this tutorial to use DeepSpeech on my own data (Japanese): https://discourse.mozilla.org/t/tutorial-how-i-trained-a-specific-french-model-to-control-my-robot/22830

I created the training/valid/test csv files correctly, and I got the alphabet, vocab and lm.binary. When I was trying to create the trie I got segmentation fault...

I followed this https://github.com/mozilla/D

[2018-11-29 04:34] MuruganR96 commented on #1756
sir @ailurus1991 i think trie file not generate correctly. it is empty file. sir check once.
[code]
previously i was followed this command

[2018-11-29 05:53] ailurus1991 commented on #1756
@MuruganR96 hey dude thanks for ur reply. I found your generate_trie command have four args?

emmm, seems like the usage is :Usage: ./dest/generate_trie <alphabet> <lm_model> <trie_path> ?

BTW, I've tested this on a small english corpus still got segmentation fault... :(

[2018-11-29 07:51] MuruganR96 commented on #1756
i think my suggestion @ailurus1991 sir,  did you create your lm.arpa for your vocab.txt? and then lm.arpa convert binary format lm.binary. you will give input for this lm.binary with vocab.txt.
(or)
some memory consumption error.

[2018-11-29 08:08] ailurus1991 commented on #1756
@MuruganR96 yup, I followed the tutorial, and I created the arpa file by `./lmplz --text lm_corpus.txt --arpa words.arpa --o 4` and converted the arpa to binary by `./build_binary -T -s words.arpa lm.binary`. I didn't see any error output, so I think I got the right language model binary file...

[2018-11-29 08:18] lissyx commented on #1756
Yes, share us more information. There's nothing we can do right now except telling you it works for us.
Like your system, a small testcase etc etc. Even just console output ...

[2018-11-29 08:56] carlfm01 opened #1757 "Logits decode time is increasing over time using the streaming feature"
Hi, I finally compiled it for Windows and currently using the native client from C#, the problem is with the `DS_IntermediateDecode` of `deepspeech.cc`, I'm feeding the streaming feature from the windows sound output and calling `DS_IntermediateDecode` for example every 2 seconds, in the first seconds of streaming the decode is taking less than a second (acceptable), but if I feed 20 seconds the d

[2018-11-29 09:14] MuruganR96 commented on #1755
resolved. Learning rate is the issue. gredient was exploited. now i given deepspeech LR=0.0001.

[2018-11-29 09:14] #1755 closed

[2018-11-29 10:41] gr8nishan commented on #1156
I am also facing the same issue as @raghavk92 . Can anyone please help.

[2018-11-29 11:05] reuben commented on #1757
This is the expected behavior as we don't have a streaming decoder yet.

[2018-11-29 11:05] #1757 closed

[2018-11-30 00:36] JRMeyer commented on #1756
@ailurus1991 - could be similar to #1745 ?

[2018-11-30 14:57] lissyx commented on #1756
Sure, but no stack trace, nothing we can work on so far. Can you share more informations ?

[2018-12-01 04:54] ailurus1991 commented on #1756
@lissyx I found a interesting thing. I added a english char in my Chinese vocab file, like this: https://github.com/ailurus1991/ds_files/blob/master/thchs30-vocabulary.txt

no seg fault anymore, so the problem is the encoding or something?

[2018-12-01 10:07] SkyFire512 opened #1759 "KeyError: '\n'"
Greetings,

My and my mates have been attempting to create a model for the Urdu language through Deep-speech. Ive been following these 2 amazing guides for creating the dataset, the alphabet list, the language model, the trie, and finally the model.

https://github.com/mozilla/DeepSpeech#training
https://discourse.mozilla.org/t/tutorial-how-i-trained-a-specific-french-model-to-control-my-robot/228

[2018-12-02 13:15] visi0nary commented on #1759
Have you used "util/check_characters.py" on your transcripts to make sure all characters are in the alphabet?

[2018-12-03 08:59] SkyFire512 commented on #1759
The issue has been resolved. The transcripts in my .csv were ending in '\n'. Removing them resolved it.

[2018-12-03 08:59] #1759 closed

[2018-12-04 12:37] nullbyte91 opened #1762 "Update README.md To get a command line options, Should be --helpfull not --help"
Please update the README.md file under Training a model section, Deep speech accept --helpfull param to list command line option. But, In README.md mentioned as --help.

[2018-12-04 12:48] lissyx commented on #1762
Thanks :-), if you make a PR it can be fixed soon :-)

[2018-12-04 14:00] lissyx commented on #1762
Merged, thanks!

[2018-12-04 14:00] #1762 closed

[2018-12-04 14:11] waqasr6 commented on #634
@MalikMahnoor  Dear what is the status of your work on Urdu language model ? can you share ?

[2018-12-04 14:32] waqasr6 commented on #634
@kdavis-mozilla  I want to create my own language model based on **Urdu** language. Can you please help me in this matter ? I've collected approximately 9000 audio recorded files in Urdu voice of 100 different sentences. Currently i am training this data with Roman transcription but i want to train it with Urdu transcription.

[2018-12-04 14:33] lissyx commented on #634
What's wrong in the current documentation ? There should be everything documented for you to achieve that.

[2018-12-04 14:37] waqasr6 commented on #634
@lissyx  can you please elaborate which documentation you are talking about? or share that documentation here. As I've never found any for languages  other than English

[2018-12-04 15:18] lissyx commented on #634
What about `README.md` ? I really don't understand what's blocking you.

[2018-12-04 18:14] JRMeyer commented on #634
@lissyx - the `README.md` has all the info needed, but I will admit it's hard to pick it out for newcomers... maybe it's time to write a blogpost for "how to train DeepSpeech on a new language"?

[2018-12-04 18:16] lissyx commented on #634
Maybe, but again, if we don't know the pain points, it's less efficient. If you ask me, it's trivial and all properly documented. Obviously it's not the case, and thus I'm unsure I can produce anything more useful than the existent documentation.

[2018-12-04 18:58] carlfm01 commented on #634
When I finish the Windows parts I'll start working on it for Spanish, @JRMeyer I can share with you the "hardest parts" if you want.

[2018-12-04 19:50] shyamalschandra opened #1764 "Improving the accuracy of the speech recognition with newer iterations of deepspeech or other competing techniques in deep speech recognition!"
Are you working on improving the accuracy or tips to tune it to get better accuracy with the current tool in deepspeech from Mozilla?

[2018-12-04 20:56] kdavis-mozilla commented on #1764
We are, but this is better addressed in our Deep Speech [Discourse Forum](https://discourse.mozilla.org/c/deep-speech). We try to use issues only for bugs and feature requests.

[2018-12-04 20:56] #1764 closed

[2018-12-04 21:40] shyamalschandra commented on #1764
Thank you! I left more information on my question on the Discourse Forum for Deep Speech. (https://arxiv.org/pdf/1707.07413.pdf)

[2018-12-05 06:34] imKKK commented on #1090
I am getting AttributeError: 'Series' object has no attribute 'transcript' while executing

[2018-12-05 06:35] imKKK commented on #1090
@Hafsa26 the filesize should be in bytes

[2018-12-05 11:08] kdavis-mozilla commented on #634
@waqasr6 I know developers outside of Mozilla have used it for Urdu, but we at Mozilla have never used it for such.

[2018-12-05 12:31] imKKK commented on #896
can anyone please help me with this error on windows subsytem for linux :ubuntu cpu
tensorflow.python.framework.errors_impl.NotFoundError: /home/userk/DeepSpeechPro/native_client/bin/libctc_decoder_with_kenlm.so: undefined symbol: _ZN10tensorflow12OpDefBuilderC1EN4absl11string_viewE

[2018-12-05 13:05] lissyx commented on #896
This is the third time in a few minutes I'm seeing the exact same message from you. You should really stop spamming everywhere and start reading the documentations.

[2018-12-05 13:06] lissyx commented on #634
What kind of constraints do you have in mind ? We have support for UTF-8 so chars should be handled properly, and then RTL should not be a problem since this is how training will be done

[2018-12-05 13:15] MuruganR96 commented on #896
This Native client mismatch error. Sir you should follow proper arch,
branch for your cloned repo.

On Wed 5 Dec, 2018, 6:01 PM Karthikeyan K <notifications@github.com wrote:

[2018-12-05 13:31] waqasr6 commented on #634
@lissyx  Thanks. Many things in my mind are cleared now. I'll try it with Urdu language model now.

[2018-12-05 14:55] nicolaspanel commented on #838
@elpimous @kdavis-mozilla
It would be great to have this feature.
I can work on the PR but since it will take some time to develop, could you first confirm that it is something you are interested in ?
best regards

[2018-12-05 17:46] abhijeet3922 commented on #1738
I am finding the same issue.

Exception in thread Thread-22:
Traceback (most recent call last):
  File "/home/abhijeet/anaconda3/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/home/abhijeet/anaconda3/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "/home/abhijeet/Desktop/dl_projects/DeepSpeech/util/feeding.py",

[2018-12-05 19:39] abhijeet3922 commented on #1738
Well,

I solved the issue. If anyone is getting error while using feature caching --train_cached_features_path data/ldc then change the below code
features.strides[0], features.strides[0], features.strides[1]
to
features.strides[0], features.strides[0], features.strides[0]

[2018-12-05 20:07] reuben commented on #1738
That does not look like a correct change and is probably just masking some underlying problem. Can you document exactly what you're doing when you get these errors?

[2018-12-05 20:08] reuben commented on #1738
It could just be that you're trying to load an older, incompatible HDF5 file. We changed the layout of stored features some time ago.

[2018-12-05 21:10] kdavis-mozilla commented on #838
@nicolaspanel I find it interesting @reuben what's your take?

[2018-12-05 21:34] reuben commented on #838
@nicolaspanel I'm definitely interested in having this feature. Do you have an idea of what the batch API would look like?

[2018-12-05 22:46] 3mei commented on #1259
Would it make sense to release a model trained on 8kHz audio instead? 16kHz sampling rate means that the highest audio frequency is 8kHz (Nyquist–Shannon sampling theorem). If the aim of the bandpass filter is to limit audio to the voice-frequency range, the 8kHz sampling rate (4kHz max audio frequency) already achieves that. Hence, its use in telephony. In the same vein, `16k sinc 200-3k` in the

[2018-12-05 22:58] kdavis-mozilla commented on #1259
The motivation of this issue was to consider a bandpass filter as a simple defense against a [dolphin attack](https://dl.acm.org/citation.cfm?id=3134052). The idea of the issues was then to find the effect of such a bandpass on WER.

I don't know how well a pre-trained 8KHz model would perform.

[2018-12-06 01:57] abhijeet3922 commented on #1738
I am performing experiments on Voxforge dataset of 100 hours.
OS - Ubuntu 16
GTX Nvidia 1080Ti, I7 8700 Gen

I am running this command for training ASR model

./DeepSpeech.py --train_files voxforge/voxforge-train.csv --dev_files voxforge/voxforge-dev.csv --test_files voxforge/voxforge-test.csv --train_batch_size 64 --dev_batch_size 64 --train_batch_size 64 --epoch 25 --n_hidden 512 --validation_st

[2018-12-06 04:14] imKKK commented on #896
@MuruganR96 if you dont mind can you please elaborate the steps.. I am using DeepSpeech 0.3.0 model from the releases. but the project was cloned on 30.10.2018 from master.

[2018-12-06 04:58] nullbyte91 opened #1765 "Enhancement - Why can't we have a bash script to sets up dependencies and a virtualenv for deepspeech inference - Linux distributions"
We should have a bash script to setup dependencies and virtual environment for inference instead of creating virtualenv and installing dep's manually. I can work on if it makes sense.

[2018-12-06 05:41] nullbyte91 commented on #838
It would be great if we have this feature for deep speech pre-build binary as well as, Inferencing more than one audio file at the same time. Currently, I've written a python script and passing audio file name one by one.

[2018-12-06 06:46] nullbyte91 opened #1766 "Add comments for all the packages in the requirements.txt file"
I would like to add comments for all the packages in the requirements.txt file. A simple note why that package is on the list like below,
`pandas #Lib for Flexible and powerful data analysis/manipulation`
`progressbar2 #Lib for Text progress bar`
`bs4 #Package for parsing HTML and XML documents`
`six #Provides simple utilities for wrapping over differences between Python 2 and Python 3`
`requests

[2018-12-06 13:16] nicolaspanel commented on #838
Right now, python `client.py` looks like
[code]

we could just add `Model#stt_batch -> List[str]` method expecting `(BATCH_SIZE, max(n_frames),)` array and framerate inputs.
[code]

[2018-12-06 13:46] MuruganR96 commented on #896
Sir once again you will do step by step,

clone deep speech repo,
Then check out v0.3.0,
Download Native client,
python3 until/taskcluster.py --arch "cpu" --target new_native_client/
--branch "v0.3.0"

Sir and then run DeepSpeech.py .

On Thu 6 Dec, 2018, 9:45 AM Karthikeyan K <notifications@github.com wrote:

[2018-12-06 14:35] imKKK commented on #896
okay sir thank you...

the steps I am going to do is....

1. clone deepspeech repo from current Master,
2. Then check out v0.3.0
3. Then Download Native Client using python3 until/taskcluster.py --arch "cpu" --target new_native_client/ --branch "v0.3.0" .... and the native client files would go to the new_native_client directory. so that i should include this directory path to the command while tr

[2018-12-06 15:08] 3mei commented on #1259
Interesting, thank you for the pointer! It would certainly depend on the application. Speech itself is usually confined to about 4kHz, so an 8kHz model should theoretically work. Singing on the other hand is a whole different beast.

According to the linked paper, since a dolphin attack needs to be inaudible,

Even the lowest carrier frequency range (20kHz) reported in the paper should not be an i

[2018-12-06 15:30] lissyx commented on #1766
Comments can only be new lines in `requirements.txt`, and I'm unsure about the value this brings: can you explain why it's important ?

[2018-12-06 15:45] nullbyte91 commented on #1766
@lissyx I'm a newbie to Deep Speech and When I was going through the requirements.txt file, I was googling to understand few packages features. So, I thought good to have the package description in that file.

[2018-12-06 15:48] #1765 closed

[2018-12-06 17:29] AmeerHamzaRiaz opened #1767 "Low GPU usage and High loss and WER"
_[Please close the issue right-away if does not qualify, the reason for posting here instead of discourse is that I need quick help thanks]_ :/
Hello, I've trying to train deepspeech on Urdu (Nastaliq Script which is similar to Arabic) using [Urdu phonetically rich dataset](http://csalt.itu.edu.pk/PRUSCorpus/index.html) which is of only 70 minutes.

Obviously I'm getting very bad result these are

[2018-12-06 18:20] reuben commented on #1767
Make sure you install `tensorflow-gpu` and not `tensorflow`, increase the batch size, make sure each audio clip is short, under 10 seconds if possible.

[2018-12-06 21:33] MAkramHanif opened #1768 "SoX error while extracting bin/import_cv.py on Intel AI DevCloud"
I am using Intel AI Dev Cloud for training a model in deepSpeech but when i try to extracting bin.import_cv.py i get error unable to find Sox
i tried installing sox using pip3 but i didn't find Sox
there is an issue in Intel AI Dev Cloud is i can't have privilige to install new software using apt-get or yum
so is there any way i can install sox without any privilige please let me know

[2018-12-06 21:33] lissyx commented on #1576
After some experiments ran by @JRMeyer, turns out that for now, transfer learning, because of the amount of french data, is worse than training from scratch.

[2018-12-06 21:35] lissyx commented on #1768
No, this is not something we can help about, sorry.

[2018-12-06 21:35] #1768 closed

[2018-12-07 04:33] nullbyte91 commented on #1767
As @reuben mentioned, Make sure you have installed tensorflow-gpu. You can check by executing below commands on Python console,

[2018-12-07 09:10] Hafsa26 commented on #1090
Thank you so much! @imKKK

[2018-12-07 09:13] nicolaspanel commented on #1576
thanks @lissyx  for sharing
@JRMeyer  Did you use the same (ie english) alphabet for both experiments ?

[2018-12-07 09:33] pietrop opened #1769 "5 seconds audio limitation"
Hello,
Thanks for such a great project, really looking forward to see how it shapes up.

This is more of just a question. I was wondering about the 5 seconds audio limitation mentioned in the README. Does this still apply? and are there plans to extend that in the future?

[2018-12-07 12:21] kdavis-mozilla commented on #1769
You can now stream audio. There are several examples in the [examples](https://github.com/mozilla/DeepSpeech/tree/master/examples) folder.

[2018-12-07 12:21] #1769 closed

[2018-12-07 15:40] #1766 closed

[2018-12-07 17:07] pietrop commented on #1769
Thansk, might be good to add this to the README.

[2018-12-07 18:13] kdavis-mozilla commented on #1769
PR's welcome 😉

[2018-12-07 20:44] reuben opened #1770 "Embed metadata in exported model"
- Language
 - Minimum client version that is compatible with the model
 - Hyperparameters
 - Other stuff?

[2018-12-08 20:10] abhijeet3922 opened #1772 "Feature caching error in shape"
- **Running examples on an unmodified clone of the repository**
- **OS Platform and Distribution  - Linux Ubuntu 16.04**
- **TensorFlow version : 1.12.0-rc2**
- **Python version 3.6.6**
- **GPU model and memory - GTX 1080 Ti 11 GB**
- **Exact command to reproduce**:

1. Running this command executes well for 1st time as features are cached.

./DeepSpeech.py --train_files voxforge/voxforge-train.cs

[2018-12-10 05:59] imKKK commented on #896
@MuruganR96 sir Thank you so much for your support. I followed your steps and successfully built the project and I had some error in my a CSV files which caused 'Series' object has no attribute 'transcript' error and cleared.. Now The training is going on..
@nullbyte91 Thankyou for your support..

[2018-12-10 13:14] reuben commented on #1744
@khsinclair thanks for the tips! I've created PR #1773 fixing this.

[2018-12-10 15:14] #1744 closed

[2018-12-10 16:26] 9define opened #1774 "Unable to download git LFS model files"
I am unable to download LM files from GitHub. I've tried using other ISPs (via mobile) and VPNs, but I always get a 404. An example file is the [lm.binary file](https://media.githubusercontent.com/media/mozilla/DeepSpeech/v0.3.0/data/lm/lm.binary). Here's a sample of the output when trying to use wget to download the file in a terminal, and the web UI just displays a blank page if I try to downloa

[2018-12-10 17:59] lissyx commented on #1774
How exactly are you trying to do that? It's git-lfs binary's job to perform the download when you git fetch / checkout.

[2018-12-10 19:51] 9define commented on #1774
@lissyx Like my example shows I was using wget to try the download. It worked in the recent past, but 404s now. Thoughts?

[2018-12-10 22:11] reuben commented on #1774
Seems to be working again, looks like it was a GitHub bug.

[2018-12-10 22:11] #1774 closed

[2018-12-11 14:41] lissyx commented on #1756
Encoding, I doubt, but if you can try to investigate a bit more or share better STR and content for us to reproduce, we could fix that, maybe ?

[2018-12-11 14:42] lissyx commented on #1745
Honestly, if it's OOM because you are asking too much on a too small machine, I can't see how we can fix it, as long as we don't have any leaking that could trigger it

[2018-12-11 14:44] reuben commented on #1772
Yep, you're right, I have no idea how we haven't run into this in our training runs. I'll fix it.

[2018-12-11 14:57] lissyx commented on #1754
I guess that should be how to deal with, **and** filing an issue against Common Voice project: this needs to be fixed upstream. Maybe the importer should be more tolerant and not die on those but report them as broken files?

[2018-12-11 15:36] tilmankamp commented on #1754
@abhijeet3922 Is the corresponding mp3 file (`cv/cv_corpus_v1/cv-valid-train/sample-057655.mp3`) existing?

[2018-12-11 19:16] JRMeyer commented on #1745
agreed

[2018-12-11 19:16] #1745 closed

[2018-12-12 10:18] abhijeet3922 commented on #1772
Thanks @reuben.
This irked me for long time. Somehow I was also procrastinating it to debug. :-)

[2018-12-12 10:31] abhijeet3922 commented on #1754
@tilmankamp hey, there were around 12-15 such .mp3 files for which this error was there in cv-valid-train. All the .mp3 were successfully converted to .wav but their headers were not found.

Thanks.

[2018-12-12 11:38] tilmankamp commented on #1754
@abhijeet3922 This is interesting. Could you run `ffprobe` on one of those wav files and share the output?

[2018-12-12 19:55] reuben commented on #1770
I thought it'd be easier to add this to the graph as a constant node, but I can't figure out how to coax the freezing process into keeping the constants in the resulting graph, so I'm removing this from the v0.4 release.

I think the easiest solution for this would be to use protobuf directly to edit the output frozen graph. Not sure if it's worth the effort.

[2018-12-13 11:10] lissyx opened #1782 "Rework proper error codes"

[2018-12-13 18:50] lissyx commented on #1224
We have tooling to export, and we have TF Lite available for Android builds now. Support is still early, no CI or anything, this will come later. But the feature is here.

[2018-12-13 18:50] #1224 closed

[2018-12-13 18:50] lissyx commented on #1215
So, now one can build and run native client on some Android devices.

[2018-12-13 18:50] #1215 closed

[2018-12-13 18:51] lissyx commented on #1401
There's some basic JNI bindings exposed now.

[2018-12-13 18:51] #1401 closed

[2018-12-13 18:53] lissyx commented on #1711
Looks like we did our home work here, thanks @daanzu !

[2018-12-13 18:53] #1711 closed

[2018-12-13 18:54] lissyx opened #1784 "Add Java/JNI bindings packaging"
I think we need to package `libdeepspeech.so` and its Java bindings in a way that can be easily reused by people ; Maven maybe ?

[2018-12-13 18:55] #1575 closed

[2018-12-13 18:55] lissyx opened #1785 "Add basic Android native_client testing"
We should have some basic testing of the native client / libdeepspeech codebase over Android ; like running in an Android emulator, and running basic features tests.

[2018-12-13 18:56] lissyx opened #1786 "Add Android app test"
We should have test coverage upto an Android app that calls `libdeepspeech.so`

[2018-12-13 18:58] lissyx commented on #1372
@loctruong96 It's doable with the new decoder, taking PR if you want :)

[2018-12-14 10:42] lissyx commented on #724
Closing for lack of activity

[2018-12-14 10:42] #724 closed

[2018-12-14 10:43] lissyx commented on #642
@MatthewWaller We now have TF Lite support, can it be helpful?

[2018-12-14 21:19] loctruong96 commented on #1372
Awesome. I will take a look over break.

Have a good holiday,
Loc

[2018-12-15 18:59] #1123 closed

[2018-12-15 19:52] lissyx opened #1793 "Add Windows builds"

[2018-12-15 19:53] lissyx opened #1794 "Add test on Windows"

[2018-12-15 20:06] belkacem77 commented on #1793
Ce sera parfait si l'on peut entraîner aussi sur Windows.

[2018-12-15 21:02] ccoenen commented on #1123
:-)

[2018-12-15 21:55] lissyx commented on #1793
@belkacem77 This is something more in the hands of upstream than us :)

[2018-12-16 17:46] maddigibiter opened #1795 "vad transcriber issue in python 3.5"
I have been using deepspeech in python3 and have also managed to use audioTranscript_cmd.py to transcribe from wav to string however suddenly keep getting this error,

[code]

I have re-installed all requirements, done a fresh install but still getting this error. I haven't made any changes to examples folder or any other part of codebase. Im using wav files, 16khz, mono. Have you experienced this

[2018-12-16 19:02] b-ak commented on #1795
@maddigibiter can you try the same on the standard [audio samples](https://github.com/mozilla/DeepSpeech/releases/download/v0.3.0/audio-0.3.0.tar.gz).

[2018-12-16 19:12] maddigibiter commented on #1795
@b-ak it actually worked, my audio file is definitley 16khz mono and this is the command I use
`   ffmpeg -hide_banner -loglevel panic -i file.flac -acodec, pcm_s16le -ac 1 -ar 16000 out.wav
`
Any issue with this version?

Thanks

[2018-12-16 19:34] b-ak commented on #1795
Can I get a copy of the wav ur file ?

[2018-12-17 18:48] ambigus9 opened #1796 "KeyError: '\ufeff' starting training of model"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ub

[2018-12-17 18:58] maddigibiter commented on #1795
@b-ak issue was -acodec pcm_s16le - issue is resolved, thanks

[2018-12-17 18:58] #1795 closed

[2018-12-17 18:58] lissyx commented on #1796
@ambigus9 You have two errors here, and they arise from your dataset:

And:

Last one means you have chars in your transcriptions that are missing from your alphabet. You should have had a better exception error message, that points to the fact you are not running on master.

Please describe more your environment.

Also, avoid screenshots: it's painful to read.

[2018-12-17 19:00] lissyx commented on #1796
I'm unsure about that statement: you have errors, so it's expected not to finish anything.

[2018-12-17 19:01] lissyx commented on #1795
Thanks for updating us, but can you be more explicit? It's likely others will run into that as well, so your answer might be very useful.

[2018-12-17 21:09] JRMeyer commented on #1796
you're using old code. pull from master so you can have and use this new script: https://github.com/mozilla/DeepSpeech/blob/master/util/check_characters.py

[2018-12-17 22:33] Hafsa26 commented on #1407
I am having the same error.

terminate called after throwing an instance of 'lm::FormatLoadException'
  what():  native_client/kenlm/lm/binary_format.cc:131 in void lm::ngram::MatchCheck(lm::ngram::ModelType, unsigned int, const lm::ngram::Parameters&) threw FormatLoadException.
The binary file was built for probing hash tables but the inference code is trying to load trie with quantization and ar

[2018-12-17 22:35] Hafsa26 commented on #1407
I followed given link to generate trie but got errors.
https://discourse.mozilla.org/t/tutorial-how-i-trained-a-specific-french-model-to-control-my-robot/22830

[2018-12-17 22:39] Hafsa26 commented on #1407
does it to generate trie?
It would need trained model which I didn't have yet.
I believe that generating trie is prior process than training. what to put in output.mmp or does it just like that ?

[2018-12-18 00:39] lissyx commented on #1407
Read the error and try to understand it ; it's telling you exactly where the problem lies:

You are using mismatching things, but since you don't document what you do, how you do, then we cannot help you.

Help yourself and others, share more details ...

[2018-12-18 05:08] MuruganR96 opened #1797 "wrong Inference results in DeepSpeech. CPU vs GPU?"
Inference Running on GPU:
Linux Ubuntu 16.04
name: GeForce GTX 1050 Ti major: 6 minor: 1 memoryClockRate(GHz): 1.43
totalMemory: 3.94GiB
CUDA/cuDNN version:9.0

Inference Running on CPU:
Linux Ubuntu 16.04
i5 processor.
8 GB RAM

CPU gives Correct expected Inference result. like this,

[code]

but in GPU gives wrong inference for same model. like this,

[code]

sir, My model trained on, **EC2 P3 I

[2018-12-18 06:45] lissyx commented on #1797
@MuruganR96 Your command lines are different:
[code]

Are you sure you are running the same models ?

[2018-12-18 07:01] MuruganR96 commented on #1797
@lissyx  sir,  both same model. but different system(one is GPU, one is CPU), different dir sir.

[2018-12-18 07:36] lissyx commented on #1797
Still, I insist, your pasted console output refers to different models. The one testing on GPU seems to be some Common Voice ; it might be one you trained. This output would be consistent of a model improperly trained.

[2018-12-18 08:48] MuruganR96 commented on #1797
@lissyx sir,
but both as same model. one is copied from another one. both as same, common voice indian accents(augmented) audios trained model. how is this happened? three times i tried to copy right one and tested inference in the GPU. still it shows same wrong output.

Thank you so much for your reply sir

[2018-12-18 08:53] kdavis-mozilla commented on #1797
What is the output of
[code]

[2018-12-18 08:57] MuruganR96 commented on #1797
**this on GPU result sir**
![errrr_cpuvsgpu_inferenceresults_veried](https://user-images.githubusercontent.com/35978784/50142751-dd412d00-02d0-11e9-8d3a-024d552f4783.png)

**this one cpu result sir**
![inference_correct_cpu_instance](https://user-images.githubusercontent.com/35978784/50142753-df0af080-02d0-11e9-9f57-5fe0feef4ea3.png)

[2018-12-18 08:59] MuruganR96 commented on #1797
sorry sir,if you will see this scrrenshot and reply to me.after then i will remove.

[2018-12-18 09:02] kdavis-mozilla commented on #1797
What is the output of
[code]

[2018-12-18 09:05] MuruganR96 commented on #1797
sorry sir, i am very nerves, can't understand.  this is difference sir.
[code]

[2018-12-18 09:17] kdavis-mozilla commented on #1797
Could you please type the following command into you terminal then hit return
[code]
and add the text of the output to this issue

[2018-12-18 09:34] MuruganR96 commented on #1797
[code]
[code]
sir what it means. i don't know. both are diffient binaries?
explain me what mistakes i made?

thank you sir.

[2018-12-18 09:44] MuruganR96 commented on #1797
how can i resolve this?

[2018-12-18 09:50] lissyx commented on #1797
So not the same

[2018-12-18 09:50] lissyx commented on #1797
Explain us what you did, because so far, it's not good.

[2018-12-18 10:00] lissyx commented on #1797
Can you start by running **exactly** the same model and share the complete output? So far, all you did confirms you are running two different models and getting different results, which is 100% consistent.

[2018-12-18 10:04] MuruganR96 commented on #1797
Mm k sir. again i will do same stuff. and report to you sir.
thank you so much @lissyx  sir @kdavis-mozilla  sir.

[2018-12-18 10:43] maddigibiter commented on #1795
Of course @lissyx - I used one of flac files from an audio library, initially I was using  -acodec pcm_s16le in my ffmpeg transcoding. I changed it to as recommended in vad examples and didn't face errors any more. Works just fine when transcoding audio using this command

`ffmpeg -hide_banner -loglevel panic -i input.mp3 -ac 1 -ar 16000 output.wav
`
Having in mind these options are not required i

[2018-12-18 11:24] nh2 opened #1798 "Mention CUDA dependency in README"
The current README says:

This isn't the case: If I try it, I get `ImportError: libcusolver.so.9.0: cannot open shared object file: No such file or directory`, as did

* #1655
* #1666

The README should mention that CUDA (and which version, and which sub-projects) is a dependency.

[2018-12-18 11:50] lissyx commented on #1798
@nh2 We already mention `CUDA`-capable devices, it felt clear to us that this implied CUDA to be installed, but obviously it's not the case, so any PR or feedback on painpoints to improve the wording would be welcome :-)

[2018-12-18 11:51] lissyx commented on #1798
Though, technically, CUDA is not a dependency we can install, it really depends on the user's setup. The dependencies mentionned in your quote are related to the Python wheel.

[2018-12-18 13:08] lissyx commented on #1798
I'm not deying it, I'm open to any suggestion on how to reformulate / where to write that.

[2018-12-18 13:43] MuruganR96 commented on #1797
I am really sorry @lissyx  sir @kdavis-mozilla sir  and @bill-kalog sir. this is my very careless one. same audio name but different audio content. very sorry i was disrupt to lots.

@bill-kalog thanks. thank you so much sir @lissyx @kdavis-mozilla

[2018-12-18 13:43] #1797 closed

[2018-12-18 16:16] lissyx commented on #1798
Right, obviously we need better doc around there, because it's the same deps as upstream TensorFlow: CUDA 9.0 and CuDNN v7.2. Though, I'm not sure how / where to document that in an efficient manner.

[2018-12-18 20:11] reuben commented on #1796
\uFEFF is a byte order mark, maybe check if something in your process to create/manipulate transcripts is saving text files with a BOM.

[2018-12-18 20:36] ambigus9 commented on #1796
Thanks! @lissyx and @JRMeyer i fix this issue on 2 steps:

1. Parse all transcriptions of audios as follows:

[code]
2. To ignore small audios i filter them using librosa:
[code]

[2018-12-18 21:37] lissyx commented on #1798
@nh2 Even smarter than just documenting it, I was thinking maybe we could catch the `ImportError` and others on the Python / NodeJS code and expose a better error message.

I'm still not sure where would be the easiest place to find that in the documentation, so I'm open to your feedback.

[2018-12-19 10:31] lissyx opened #1801 "Ensure ds_ctcdecoder download uses proper branch by default"
When the user is on an older branch than current master, the `ds_ctcdecoder` download code will try to fetch from master, and parse the wheel version accordingly to `VERSION` file.

i.e., when current master is `0.4.0-alpha.2` and user is on a checkout from `0.4.0-alpha.1`, it will generate a master-based URL fetching `0.4.0a1` wheel package, while the available package is `0.4.0a2`.

[2018-12-19 11:39] lissyx commented on #1407
You are facing the same challenge, but have not yet provided us with more details so that we can help you. If you cannot be more constructive, I cannot see how we can help you.

[2018-12-19 12:35] #1798 closed

[2018-12-19 12:57] mehadi-trackrep opened #1803 "Without LM"
Please, anyone, tell me that is it possible to use this project without a language model training for another language speech recognition?

[2018-12-19 14:00] lissyx commented on #1407
So @Hafsa26 when do you think you can share us more details on your environment and what you do so we can start helping you ?

[2018-12-19 14:02] lissyx commented on #1407
So @Hafsa26 that's not documentation we wrote, it's unlikely to be matching our usecase. However, if you read the documentation, we explicitely explain and instruct you how to do it: https://github.com/mozilla/DeepSpeech/blob/v0.2.1-alpha.0/data/lm/README.md

[2018-12-19 14:49] #1801 closed

[2018-12-19 15:19] lissyx commented on #1803
Why @mehadi-trackrep is it an issue ?

[2018-12-19 18:50] mehadi-trackrep commented on #1803
Actually, I want to use this repository for my personal project for Bangla
language. But, I have no language model for Bangla. That's why it's
important to know that is this project works without the language model.
Such as some commands like ".. --lm models/lm.binary .."

On Wed, 19 Dec 2018 at 07:19, lissyx <notifications@github.com> wrote:

[2018-12-19 19:31] lissyx commented on #1803
What's the problem with building one language model ? Also, could we have that discussion on Discourse https://discourse.mozilla.org/c/deep-speech ? GitHub issues are for bugs / features.

[2018-12-19 19:34] b-ak commented on #1795
@maddigibiter Does the same command work for flac files also ?

[2018-12-19 19:42] MuruganR96 commented on #1795
Yes sir. Of course i did this. Flac to wav

On Thu 20 Dec, 2018, 1:05 AM b-ak <notifications@github.com wrote:

[2018-12-20 03:44] nh2 commented on #1798
@lissyx This looks great, thank  you!

[2018-12-20 08:00] MuruganR96 opened #1804 "how to change Preprocessing steps perform on GPU in DeepSpeech"
our DeepSpeech preprocessing steps utilising only all CPU cores(100%). it was not assigning GPU for default.
where can i change code.
thanks sir.

[2018-12-20 08:19] mehadi-trackrep commented on #1803
Oh! ok, I have got what is the issues. Thanks!!

On Thu, 20 Dec 2018 at 01:31, lissyx <notifications@github.com> wrote:

[2018-12-20 08:21] TTTJJJWWW opened #1805 "Errors when build it from source"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:installed from source
- **TensorFlow ve

[2018-12-20 08:34] manuliner commented on #1017
i did, but i can't remeber as i didn't wrote it down somewhere as i had some other issues while training the deepspeech with the mozilla corpus which i couldn't solve. So i moved on to an different solution.

i remember indeed that it i didn't use the right tensorlflow version

[2018-12-20 08:41] TTTJJJWWW commented on #1017
@manuliner  thank you very much for your response, but you mean "ERROR: error loading package 'native_client': Package 'native_client' contains errors" can be fixed by changing tensorlflow version?

[2018-12-20 08:43] lissyx commented on #1805
Have you read the docs ? You need to use Mozilla's fork of TensorFlow. For v0.1.1 you need to checkout the `master-ds-v0.1.1` branch / tag.

Also, please checkout `v0.1.1` tag on DeepSpeech side.

[2018-12-20 08:44] manuliner commented on #1017
i am not sure. it is the information which sticked in my brain from installing deepspeech

its not about the right version, it is more about the right repo (https://github.com/mozilla/tensorflow  != official tensorflow)

[2018-12-20 09:47] TTTJJJWWW commented on #1017
@manuliner Oh,i see. so i need remove official tensorflow and rebuild it from "https://github.com/mozilla/tensorflow"? Or just download source code from "https://github.com/mozilla/tensorflow" and use "bazel build ..." to build deepspeech?
I am a newcomer and thanks for your help again!

[2018-12-20 09:53] lissyx commented on #1017
Being a newcomer is no excuse for not reading the documentations and not reading the replies we sent you: https://github.com/mozilla/DeepSpeech/issues/1805

[2018-12-20 10:01] TTTJJJWWW commented on #1805
Thanks , i got your replies just now and i will try it again.

[2018-12-20 10:01] TTTJJJWWW commented on #1017
@lissyx thanks , i get your replies just now, i will try it again.

[2018-12-20 10:01] lissyx commented on #1805
That is also going to be an issue, please stick to upstream documented versions of tooling.

[2018-12-21 05:43] MuruganR96 commented on #1804
sir any suggestions,
thank you sir.

[2018-12-21 09:15] TTTJJJWWW commented on #1805
Now i use bazel 0.5.4(upstream documented version), Mozilla's fork of TensorFlow with branch master-ds-v0.1.1 and Deepspeech with tag v0.1.1.

bazel build --config=cuda --config=monolithic -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" --copt=-fvisibility=hidden //native_client:libdeepspeech.so //native_client:generate_trie
ERROR: no such target '//native_client:libdeepspeech.so': target 'l

[2018-12-21 10:17] lissyx commented on #1805
No, you are just once again not reading the documentation: https://github.com/mozilla/DeepSpeech/tree/v0.1.1/native_client#building

[2018-12-21 21:19] theGABS opened #1806 "Give timestamp for each letter or word"
Hi guys, thanks for awesome library!

But I wondering, how I can get some time info about word or letter? I already read this https://github.com/mozilla/DeepSpeech/issues/1125 and several other issue, but I don't understand, does it already possible???

[2018-12-22 10:58] lissyx commented on #1806
This is possible but not done. Please use Discourse for discussions, not GitHub issues.

[2018-12-22 10:58] #1806 closed

[2018-12-22 10:58] #1803 closed

[2018-12-22 11:00] lissyx commented on #1796
Closing this since it was not an issue in the codebase but in your dataset.

[2018-12-22 11:00] #1796 closed

[2018-12-24 00:23] reuben opened #1807 "ctc_beam_search_decoder_batch API requires a dense batch unnecessarily"
The implementation does not have a denseness requirement so we should relax the API, probably taking a vector of 2D tensors rather than a 3D tensor.

[2018-12-25 05:38] UsedToBe97 opened #1808 "The access to pre-trained model for 0.4.0."
Hi, DeepSpeech developers and community friends:)
I've seen a comment that says the WER of latest model trained using DeepSpeech achieved 6.0% WER.
But on the released page, I only found a pre-trained model for 0.3.0, which has a poor performance(WER 16.0%).
I wonder where I can get the latest model of DeepSpeech on dataset LibriSpeech(WER to 6.0%).
By the way, when I unizipped the checkpoint of 0

[2018-12-27 05:44] #1746 closed

[2018-12-27 10:53] UsedToBe97 opened #1809 "The released model is only 16% WER"
Hi, DeepSpeech developers and community friends:)
I've heard that the developer claims the WER has achieved 6.0%, but the model on released page is still 16% WER, I wonder if it's just a joke ?
If not, would you be kind enough to provide us with one 6%WER model?

[2018-12-27 11:14] lissyx commented on #1809
@UsedToBe97 Please avoid spamming. This was already answered: https://github.com/mozilla/DeepSpeech/issues/1808#issuecomment-449952848

[2018-12-27 11:14] #1809 closed

[2018-12-27 11:16] UsedToBe97 commented on #1809
But the checkpoint of v0.3.0 is actually v0.2.0...
I couldn't figureo out why, is it just a mistake by uncarefullness? @lissyx

[2018-12-27 11:49] VishalT619 commented on #1666
Also I got the same error...even i used CUDA 9.2 and CuDNN 7.1.4

Please help.

[2018-12-27 12:35] lissyx commented on #1809
Do you really need to spam again and again ? There was no change to the network itself, so 0.3.0 model is exactly the same as 0.2.0 ...

[2018-12-27 14:18] VishalT619 commented on #1666
Is there any **tensorflow-gpu version** dependency.because i found from tensorflow site that i need CUDA 8 and CuDNN 5.1 for GPU.
see link: https://www.tensorflow.org/install/source#tested_build_configurations

When I try to run **python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"** it will give **ImportError:libcublas.so.9.0:cannot open shared object file:No such file or direc

[2018-12-27 15:09] reuben commented on #1666
Read that page again, I don't know where you got CUDA 8 from. It's written right there, CUDA 9 and CuDNN 7.

[2018-12-28 04:44] VishalT619 commented on #1666
In the bottom,for GPU..

[2018-12-28 09:41] imranm12 commented on #1099
@lissyx
Hi, I am training urdu dataset.....but getting this error
help me in this :

Traceback (most recent call last):
  File "/home/hashim/Desktop/Hashim/UrduCorpus/DeepSpeech/util/text.py", line 33, in label_from_string
    return self._str_to_label[string]
KeyError: ' '

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "DeepSpeech.p

[2018-12-28 11:59] lissyx commented on #1099
@imranm12 so? what's not clear in the error message?

[2018-12-28 18:38] ambigus9 commented on #517
@reuben  Hi, any way to see **log_step_loss** or **WER** on Tensorboard?

Currently I'm trying to view the values of checkpoints on Tensorboard while is training: `tensorboard --logdir=checkpoints/output/`

[2018-12-28 18:40] reuben commented on #517
I don't know what log_step_loss is but we do log train and validation step losses in Tensorboard. Make sure you're pointing it to the same folder you passed to DeepSpeech.py as `--summary_dir`.

[2018-12-28 18:49] ambigus9 commented on #517
Thanks @reuben So, it should be: `tensorboard --logdir=/home/miguel/voice-to-text/checkpoints/output32/ --summary_dir=/home/miguel/DeepSpeech-lfs/DeepSpeech/` ?

[2018-12-28 21:08] reuben commented on #517
No, I meant Tensorboard's logdir should be the same as DeepSpeech's summary_dir.

[2018-12-28 21:20] ambigus9 commented on #517
@reuben Sure, here are some variables that i see on tensorboard:
![image](https://user-images.githubusercontent.com/16579856/50528449-56543780-0abc-11e9-8bf9-4a967f446b40.png)
Should i see this variable?

![image](https://user-images.githubusercontent.com/16579856/50528463-69670780-0abc-11e9-9900-6fb2a0b91f93.png)

[2018-12-28 21:22] reuben commented on #517
Looks like you're running a very old version of the code (you should have lead with that), which doesn't log the individual step losses.

[2018-12-28 21:31] reuben commented on #517
This has nothing to do with the client version. The client is for inference, but you're doing training, so you should upgrade your DeepSpeech *code* to a more recent version.

[2018-12-28 21:33] ambigus9 commented on #517
Thanks! I will update my DeepSpeech code!

[2018-12-30 11:31] mathematiguy commented on #838
(Caveat: We're currently running on 0.2.0-alpha.7, but my findings seem to be consistent with everyone else)

I was just about to put through a feature request rather similar to this.

In our work we've noticed an inference rate of about 0.3s to every 1s of audio uploaded, but we can also see that both the CPU and GPU are underutilised. In CPU only inference on my 4 core (8 thread) laptop the CPU

[2018-12-30 11:35] lissyx commented on #838
It might help if you could explain your usecase.

[2018-12-30 14:17] itsmitchufukinbitch commented on #838
Attention Caleb Moses: hello Caleb im mitch. I've recently requested help
tryin to figure out y a team of hackers from chromium, github, mozilla,
Facebook, google, gmail and so on would b attacking a person with no money.
U mentioned u r only running 0.2.0, then y is my phone telling me when i
run an info test that im running mozilla 5.0? That's what my hackers have
me listed as sumhow. I don't ev

[2018-12-30 14:21] itsmitchufukinbitch commented on #838
P.s. Caleb these ppl have nearly ruined my life! Costed me my career, my
family and my sanity! This is y i ask for help. Thanx again Caleb.

Mitch G.

On Sun, Dec 30, 2018, 6:31 AM Caleb Moses <notifications@github.com wrote:

[2018-12-31 00:03] mathematiguy commented on #838
I’m just transcribing audio to evaluate our model performance. I could sample instead, but since it’s the Christmas break I didn’t mind leaving a long running job.

It seems to me that batching jobs will also help speed up our current transcriptions api which can take audio files over an hour long. Also it sits on an aws ec2 instance at the moment, so faster inference means we can possibly reduce

[2018-12-31 00:16] MatthewWaller commented on #642
For sure @lissyx ! Here is the official Google page about being able to convert Tensorflow Lite to CoreML.

[2018-12-31 00:17] reuben commented on #838
For evaluating model performance I'd strongly encourage you to use `evaluate.py` rather than the clients, as it's optimized for throughput rather than latency. It takes the same arguments as `DeepSpeech.py` but only does evaluation, so it'll only look at `test_files`, `test_batch_size`, etc. You'll need to point it at a checkpoint (with `--checkpoint_dir`) rather than at a frozen model.

[2018-12-31 10:19] kdavis-mozilla commented on #642
@MatthewWaller I think you forgot to add the link.

[2018-12-31 17:11] MatthewWaller commented on #642
Oops, Yep. Here it is @lissyx and @kdavis-mozilla https://developers.googleblog.com/2017/12/announcing-core-ml-support.html

[2018-12-31 18:20] raspi-three opened #1812 "DeepSpeech won't train Common Voice data"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2018-12-31 21:12] lissyx commented on #1812
Isn't it processing files, thus using system RAM and running out of it? How much swap do you have?

[2018-12-31 23:02] lissyx commented on #1812
So 10GB in total. We should be running 8 processes according to https://github.com/mozilla/DeepSpeech/blob/master/bin/import_cv.py#L95 and your CPU. I'm surprised it's using that much.

How much memory is really available?

[2018-12-31 23:35] raspi-three commented on #1812
HTOP via ssh shows Mem: 7.75G and Swp: 2.0G available. Yes, 8 processes are running. The system is running in the text mode. I have no idea were to go from here.

LOL I got deepspeech running on my raspberry pi with no issues!

The most significant use of memory use prior to start of training is snapd daemon which is using 0.3%
Any suggestions?

[2019-01-01 00:33] lissyx commented on #1812
Check which processes are using the memory overtime? I'm wondering if you're just low in resources or we have something leaking ...

Also try more swap, just in case?

[2019-01-02 10:34] sgangs opened #1814 "Issue with Language Model"
I am using existing deepspeech model currently. As I try using this command (without a LM):

deepspeech --model models/output_graph.pbmm --alphabet models/alphabet.txt --audio output.wav

I get the output as:
not impresecriptson crusing twice taily for three days

Using deepspeech LM:
 deepspeech --model models/output_graph.pbmm --alphabet models/alphabet.txt --lm models/lm.binary --trie models/tr

[2019-01-02 10:37] kdavis-mozilla commented on #1814
As this does not appear to be a bug with the repo's code, could you take the discussion to our [Discourse Forum](https://discourse.mozilla.org/c/deep-speech) please. Thank you.

[2019-01-02 10:37] #1814 closed

[2019-01-02 10:38] sgangs commented on #1814
I am really sorry. I shall do that immediately.

[2019-01-02 10:39] kdavis-mozilla commented on #1814
No problem. Thanks!

[2019-01-02 13:45] reuben commented on #1674
Fixed by #1810

[2019-01-02 13:45] #1674 closed

[2019-01-02 17:14] wshamp commented on #642
Have any of you attempted a CoreML conversion yet?

[2019-01-02 17:21] kdavis-mozilla commented on #642
I've not. Maybe @lissyx has?

[2019-01-02 17:40] bernardohenz opened #1815 "How to implement online data-augmentation w/ the preprocessing of features?"
Hi,

I am trying to implement audio data-augmentation (audio transformations like changes in speed/tempo/pitch, and even synthetically adding background noise), but I do not know how the best way to include this after the new preprocessing step.

Soe time ago, I implemented online augmentation right after the audio had been loaded, right before the MFCC cofs had been computed (inside ```audiofile_

[2019-01-02 17:45] reuben commented on #1815
Our current preprocessing pipeline is offline due to high filesystem access costs in our cluster, so for now offline augmentation is the easiest path. I want to experiment with the new tf.data APIs at some point to get a more flexible input pipeline, but I probably won't have bandwidth for it anytime soon.

[2019-01-02 18:36] bernardohenz commented on #1815
@reuben

by online I was meaning to perform data aug on-the-fly. I am already having performance issues for performing swap (when training on large training datasets that do not fit into the memory); that's why I do not like the idea of increasing even more the memory usage.

[2019-01-04 07:46] raghavk92 opened #1817 "Transcription having lot of spelling errors and getting wrong word segments(although phonetically correct some times)"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:
- **TensorFlow version (use command below)**:1.12.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **GCC/Compiler version (

[2019-01-04 10:10] lissyx commented on #1817
Please elaborate. You took 0.3.0 model `as-is` and used it with `0.4.0-alpha.3` binaries ? Or did you made any extra step ?

What are the exact original and converted audio specs ? Conversion could add artifacts that messes up with recognition.

[2019-01-04 13:07] raghavk92 commented on #1817
i didnt use the 0.3.0 model because it gave that error no softmax layer. I used the reuben release 0.2.0-ctc-decode which i got from another github issue. The link for the model is https://github.com/reuben/DeepSpeech/releases/tag/v0.2.0-prod-ctcdecode

All the other files lm, trie i have given links to which i used.

And the original audio that i downloaded from youtube and converted to audio - R

[2019-01-04 13:13] kdavis-mozilla commented on #1817
As you look to have a mix-and-match model, what might be easier, instead of tracking down the problem, is to just wait until Monday when we are planning on doing the 0.4.0 release, then use that.

[2019-01-04 13:38] AASHISHAG1 opened #1818 "Unable to run Deepspeech"
root@speech:~/DeepSpeech# deepspeech -h
Illegal instruction (core dumped)

I have installed deepspeech using pip3 install deepspeech but I am getting above error. Please advice

Here are my system details:

root@speech:~/DeepSpeech#  cat /etc/*-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.5 LTS"
NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial

[2019-01-04 13:42] kdavis-mozilla commented on #1818
Are you using a python virtual environment[[1](https://github.com/mozilla/DeepSpeech#using-the-python-package)]?

[2019-01-04 17:09] raspi-three commented on #1812
I increased the Swap size to 5GB. That appears to fix one issue. The preprocessing (valid and dev files) did complete using only RAM/Swap Memory. When it finished training did revert to the GPU. Since I only have 8GB of RAM, i will upgrade to 16GB (max for this machine). That should provide overall better performance during preprocessing. Much better than the use of a swap file.

However, I still

[2019-01-04 18:01] lissyx commented on #1812
That's not clear to me. It seems it's still pre-processing audio files, not yet training. Now, as to why it takes that much memory, I'm a bit surprised, but we only run that on systems that have much more than what you have.

Honestly, training a big amount of audio data on a GTX1070 is going to take a lot of time itself, and preprocessing being slow will be the least of your concerns, at some poi

[2019-01-04 18:02] lissyx commented on #1818
First, it's a bad habit to run that kind of userland process as root. There's 0 reason deepspeech needs to run as root.

Second, that's likely missing AVX, or other kind of CPU extensions. Please check `/proc/cpuinfo`.

[2019-01-04 18:05] lissyx commented on #1817
So you have noisy, music background PCM 16-bits stereo 44.1kHz converted to PCM 16-bits mono 16kHz ? Devil's lies in details, it might also come from how you perform the ffmpeg conversion. Check on Discourse there are some good examples.

[2019-01-04 21:04] raghavk92 commented on #1817
@lissyx i converted the exact same way as specified in one of the discourse posts....with parameters -acodec pcm_s16le -ac 1 -ar 16000 . And i get it if noisy sample is giving errors but i have checked on atleast 15 samples witg interviews of tim cook and elon musk....clear non noisy data but still there is spelling error like here becomes hear and evolution is evil lution. Above i only gave two s

[2019-01-04 22:32] AASHISHAG1 commented on #1818
Yes, next time I will it only in virtual environment.

@lissyx: As you pointed out, I don't have AVX. Attached is the the output for /proc/cpuinfo.

Can you please point out, what else configuration is required to run the model?

[Output.txt](https://github.com/mozilla/DeepSpeech/files/2728769/Output.txt)

[2019-01-04 22:55] lissyx commented on #1818
it's documented at multiple places, including releases pages.

[2019-01-04 22:55] #1818 closed

[2019-01-04 22:58] lissyx commented on #1817
Can you please start by explaining exactly how you run things ? And use proper formatting ? Your first post is barely readable, it's painful to distinguish between your statements, your questions, and your console output.

Can you verify with the basic tools, like `evaluate.py` and native client ? You mention `VAD Transcriber`, this is another element modifying the behavior ...

[2019-01-06 08:43] x0day commented on #1756
@lissyx I meet the same error here.

1. vocabulary.txt
[code]
2. alphabet2.txt
[code]

[code]
last I meet the same error.

[code]
then I run this command in gdb and get some debug info.

[code]

[2019-01-06 10:54] lissyx commented on #1756
@x0day Can you share your files so we can investigate ?

[2019-01-06 16:15] PiotrowskiD opened #1819 "Running unmodified code with nvidia docker using provided Dockerfile through run-cluster.sh throws AttributeError: 'TrainingCoordinator' object has no attribute '_epoch' by worker 1"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: Original code run on nvidia docker using provided Dockerfile
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: DeepSpeech build installed by Dockerfile
- **TensorFlow version (use command be

[2019-01-07 08:14] lissyx commented on #1756
I'm not even able to reproduce your `lm.binary`:
[code]

[2019-01-07 08:18] lissyx commented on #1756
This is just plain wrong, please checkout the documentation on how to rebuild a language model: https://github.com/mozilla/DeepSpeech/blob/master/data/lm/README.md

[2019-01-07 08:53] raghavk92 commented on #1817
@lissyx  sorry for not formatting it well. Please have a look at the details below:

I used the latest alpha release of deep speech 0.4.0-alpha.3
As i wrote above I use the files from following links:

- output graph from reuben's release:
https://github.com/reuben/DeepSpeech/releases/tag/v0.2.0-prod-ctcdecode

- lm and trie from the github repo:
link- https://github.com/mozilla/DeepSpeech/tree/ma

[2019-01-07 09:01] x0day commented on #1756
@lissyx
I can't generate the trie file.
you can check the lm.binary and the arpa file.

[arpa_and_binary.tar.gz](https://github.com/mozilla/DeepSpeech/files/2732054/arpa_and_binary.tar.gz)

[2019-01-07 09:06] lissyx commented on #1817
Thanks, that's much more readable, though transcriptions could have been in a separate gist :)

[2019-01-07 09:53] lissyx commented on #1817
`youtube-dl` fetches some AAC stereo 44.1kHz audio. According to `youtube-dl` manpage, the `--extract-audio` depends on `ffmpeg` / `libavcodec`, so it's already torturing the audio stream. As expected, it extracts PCM LE16 as stereo 44.1kHz.

AAC being lossy, we're likely getting some artifacts. @raghavk92 Could you give a try by **not** passing `--extract-audio --audio-format wav` and use ffmpeg

[2019-01-07 09:58] tilmankamp commented on #1819
Ah - seems like the progress-bar was not tested for multi-process training.
@PiotrowskiD Please try running with `--noshow_progressbar`.

[2019-01-07 10:08] raghavk92 commented on #1817
This the exact output of the youtube-dl package.
[code]
according to this output it seems that it is downloading m4a file with the help of the extractor as i have given below and then converting to wav with the post processor using ffmpeg for which i have provided the link below.So i dont think AAC stereo file is being fetched but m4a file is  and i think its being converting with ffmpeg. Do you w

[2019-01-07 10:15] lissyx commented on #1817
@raghavk92 Well, that's exactly what's I'm saying. Youtube-dl fetches raw audio in the m4a and it's AAC:
[code]

And then when you ask for `WAV` it extracts:
[code]

And in the current description of the issue, you are using that last result WAV to again convert. You should try to do the ffmpeg conversion from the m4a.

[2019-01-07 11:22] Hafsa26 commented on #1407
I am using Deepspeech current Master 0.2.1.Alpha 0 and installed all its requirements. My installations worked finely with Common voice data sets. I did training as well of that datatset.
Now, I am working on Urdu Language dataset cointaing 708 sentences.
I prepared different directory of test, train and dev as well as .csv files of these audio files along their transcription/ the standard way of

[2019-01-07 11:22] PiotrowskiD commented on #1819
It did the job, thanks!

[2019-01-07 11:22] #1819 closed

[2019-01-07 11:23] Hafsa26 commented on #1407
My all other files of urdu data are also prepared and I placed them in required folders.
Help me in it.
Thank you!

[2019-01-07 11:32] Hafsa26 commented on #1407
A text trie file  is made in the result of below command only 1 is written in it.
/home/rc//Downloads/DeepSpeech-master/native_client/generate_trie /home/rc/Downloads/DeepSpeech-master/data/alphabet.txt /home/rc/Downloads/DeepSpeech-master/data/lm/lm.binary /home/rc/Downloads/DeepSpeech-master/data/vocab.txt /home/rc/Downloads/DeepSpeech-master/data/trie
@lissyx

[2019-01-07 11:33] Hafsa26 commented on #1407
Let me know if something is missing in order to identify the error. I will give more details about that then. Thank you! @lissyx

[2019-01-07 11:50] lissyx commented on #1407
This usually means there's some missing character in the alphabet.

[2019-01-07 11:55] Hafsa26 commented on #1407
@lissyx  Okay. I'm gonna check it. Thanks!

[2019-01-07 11:55] Hafsa26 commented on #1407
Am I on the right track to get the trie file ?

[2019-01-07 11:57] lissyx commented on #1407
No, but that's because you don't want to read the documenation. You are passing too many arguments to `generate_trie` ...

[2019-01-07 11:59] lissyx commented on #1407
I've already said that this is not the proper documentation to follow. If you insist on using unrelated documentation when we have the proper one in the tree under `data/lm/README.md`, we cannot continue to help you.

[2019-01-07 12:00] #1756 closed

[2019-01-07 12:01] reuben commented on #1756
This should be fixed with the latest master. Please reopen this issue if you still see the bug with the new code.

[2019-01-07 12:06] raghavk92 commented on #1817
I tried with converting directly from m4a file to wav 16k file with the command:
ffmpeg -i Watch\ CNBC\'s\ full\ interview\ with\ Apple\ CEO\ Tim\ Cook-qvR3PEPqX9A.f140.m4a -acodec  pcm_s16le -ac 1 -ar 16000 output16k.wav

I am attaching the output in a file but the output transcription has no change than with the previous file. Please suggest if i should try something differently

[timcookcnbcint

[2019-01-07 12:10] lissyx commented on #1817
Can you please be more exhaustive when you say "no change" ? How did you run the transcription ?

[2019-01-07 12:10] Hafsa26 commented on #1407
I read that.
I got from the code that trie file is quantized as well as has pointer compression; and then trie is build.

[2019-01-07 12:13] Hafsa26 commented on #1407
Sorry the binary file to be built is quantized and had pointer compression. Thats what I did.
Previously, my lm.binary has probe hash tables, now I changed it to trie along quantization and pointer compression.

[2019-01-07 12:15] raghavk92 commented on #1817
I run this command and got the transcription :

`deepspeech --model models_updated/output_graph.pbmm --alphabet models_updated/alphabet.txt --lm models_updated/lm.binary --trie models_updated/trie --audio  audiofiles/output16k.wav`

I am using the general way of running a transcription in virtual environment. deepspeech 0.4.0 alpha 3. I am not sure if this is what you asked for . If i gave wrong i

[2019-01-07 12:32] lissyx commented on #1817
Honestly, I don't know. Maybe there's some weird unaudible noise in the original recording / from the original upload that breaks us ? Have you tested the ffmpeg-based VAD tool ?

[2019-01-07 12:45] raghavk92 commented on #1817
are you reffering to this: https://github.com/mozilla/DeepSpeech/tree/master/examples/ffmpeg_vad_streaming

I havent tried this but i have tried this:
https://github.com/mozilla/DeepSpeech/blob/master/examples/vad_transcriber/audioTranscript_cmd.py

I ll try the ffmpeg_vad_streaming but like do you want me to pass the audio file like
`node ./index.js --audio <AUDIO_FILE> --model $HOME/models/outpu

[2019-01-07 12:48] lissyx commented on #1817
Help yourself and read the documenation, as well as the code, `index.js` is short and will reply to all your questions.

[2019-01-07 13:03] lissyx commented on #1817
Even extracting the first 10 secs of audio converted directly from the AAC does not help.

[2019-01-07 15:50] pvanickova opened #1821 "Phrase hints in inference calls"
It would be helpful to provide phrase hints (context words) during inference time to boost probability of certain domain specific phrases in the transcription.

E.g. when passing an audio to python api, user could pass a list of likely phrases in the context
phrase_hints = ['transverse compound fracture', 'high bp', 'per os']
ds.enableDecoderWithLM(args.alphabet, args.lm, args.trie, LM_ALPHA, LM_B

[2019-01-07 15:52] kdavis-mozilla commented on #1821
Couldn't this be addressed by a custom language model?

[2019-01-07 16:11] pvanickova commented on #1821
The context may change dynamically - something that is a context for one inference wouldn't be a context for another one, e.g. different departments are using different terminology, different shops have different inventory, different parts of an app may have different context options, ...

Rebuilding the language model for each case would mean a lot of language models and very frequent update of t

[2019-01-07 16:16] kdavis-mozilla commented on #1821
Good point.

One of the things we are thinking about if the ability to dynamically change language models, see #1678 (Allow use of several decoders (language models) with a single model in the API). Would that be a close enough fit to your use case? (I know you'd still have to create several language models which may be too much of a pain.)

The reason I'm asking is we are trying to decide how to

[2019-01-07 16:42] pvanickova commented on #1678
Here are my thoughts on the multiple language model features:

1. could I specify which LM models are used at inference time for decoding?  (e.g. use general english and department1 lm for one call and use general english and department2 lm for another one)

2. could I specify priority or relative weights of the lm models somehow? (e.g. if you find a hit above minimal threshold from department1 lm

[2019-01-07 16:56] pvanickova commented on #1821
I've added my comments for the multiple language model feature in its thread.

Having the option to provide a list of expected phrases for the context still would be very useful in my scenario (pulling subset of hint phrases from a frequently updated dictionary based on the source of the call) .

Once there's a good way to combine probability from multiple language models, this might be implemente

[2019-01-07 17:23] kdavis-mozilla commented on #1821
Thanks!

[2019-01-08 12:32] kristiank opened #1822 "Readme unclear about git-lfs and download size"
Reading the readme about git-lfs and the mentioning of 70gb made me hesitate to clone the repository, it left me unsure whether the clone will download 70gb or more. The GitHub interface doesn't state file sizes either ...

[2019-01-08 12:37] kristiank opened #1823 "virtualenv broken if conda is installed"
Running the commands for setting up `virtualenv` environment doesn't work when `conda` is installed. I circumvented this by just using `conda` to install `deepspeech`.

[2019-01-08 12:46] lissyx commented on #1823
Care to be more descriptive? There's not even STR or error messages documenting what's broken. Isnt conda already setting up virtualenv anyway?

[2019-01-08 12:47] lissyx commented on #1822
What 70GB are you referring to?

[2019-01-08 13:19] kdavis-mozilla commented on #1823
@kristiank Neither `virtualenv` nor `conda` are part of this project. So if they don't interact well, we can't help. We suggest using _only_ `virtualenv`.

[2019-01-08 13:19] #1823 closed

[2019-01-08 16:39] bkmgit commented on #1346
[TF-coriander](https://github.com/hughperkins/tf-coriander) may be of interest as an OpenCL version of Tensor flow

[2019-01-08 17:18] lissyx commented on #1346
Thanks but we want to avoid forks, and ot seems the most active codebase is ComputeCpp one, yet its quite outdated (1.8 last time, coriander is 0.18 so it's even much older).

[2019-01-08 23:49] chrisspen opened #1824 "Significant drop in accuracy"
I'm not sure what happened to the 0.4.0 model, but I've noticed a significant drop in accuracy over past models. I constructed a small corpus of 142 sample sound files (a random collection of pop culture audio clips and Voxforge recordings in 16k mono wav format), and I've been using it to measure the accuracy of DeepSpeech's transcription every few months for the last year to see how the project'

[2019-01-09 05:08] kdavis-mozilla commented on #1824
From our benchmarking it actually improved. So I'd guess there's some problem in your setup.

Could you describe in detail how you set up your system?

[2019-01-09 08:58] reuben commented on #1824
Looks like you're using the old decoder hyperparameter values in your code, which could at least partially explain a drop in accuracy. Try using the new values (alpha=0.75, beta=1.85). I've updated the release notes to list those hyperparameters as well.

[2019-01-09 14:26] lissyx opened #1826 "OSX builds have "DeepSpeech: unknown""
[code]

[2019-01-09 15:31] reuben commented on #1824
Embedding hyperparameters into the model is issue #1770. It shouldn’t make the model completely unusable, I don’t think that’s all of the problem here, but it’s hard to diagnose without testing with the same audio files. I’ll take a look after I come back from vacation next week.

[2019-01-09 15:36] kdavis-mozilla commented on #1824
@chrisspen One more thing we just found with the release model is that it's not the final model we wanted to use, we're currently creating a 0.4.1 release with the update which hopefully should be done today.

[2019-01-09 15:46] chrisspen commented on #1824
I just plugged in the new alpha and beta parameters to my script, but I got same low accuracy scores.

[2019-01-09 16:06] chrisspen commented on #1824
I noticed the wave file loading code had changed slightly in the reference client.py script. I updated my code to use the same method, and that seems to have fixed the problem. It seems the `scipy.io.wavfile` and `wave` modules aren't compatible.

[2019-01-09 17:25] #1826 closed, assigned to lissyx

[2019-01-09 20:12] lissyx commented on #1822
@kristiank Do you mind explaining what's unclear? We clearly states it is for Common Voice dataset. Not for the git clone.

[2019-01-09 22:00] lissyx commented on #1099
I'm asking again, what is not clear in the error message ?

[2019-01-09 22:01] lissyx commented on #1099
Especially now that we have https://github.com/mozilla/DeepSpeech/blob/master/util/check_characters.py

[2019-01-09 22:01] lissyx commented on #1099
@waqasr6 Check `util/check_characters.py` ?

[2019-01-10 00:00] est31 opened #1828 "native_client needs update in param names"
There's been [a change](https://github.com/mozilla/DeepSpeech/commit/fa7cb1a983c031042ca2da73cb782deb2d0aad6b) in parameter names from `LM_WEIGHT` and `VALID_WORD_COUNT_WEIGHT` to `alpha` and `beta`. In [deepspeech.h](https://github.com/mozilla/DeepSpeech/blob/1a1608862d93572ae71ed00ce53c333e4cf6d648/native_client/deepspeech.h#L51-L73), still the old names are being used.

[2019-01-10 04:56] waqasr6 commented on #1099
Yes i've checked earlier. Its giving me some strange results

### Reading in the following transcript files: ###
['trans_urdu/cv-valid-train.csv']
### The following unique characters were found in your transcripts: ###
['\x81', '\x82', '\x85', '\x84', '\x86', '\x88', '\x8c', '\x91', '\x92', ' ', '\xa2', '\xa7', '\xa9', '\xa8', '\xab', '\xaa', '\xad', '\xac', '\xaf', '\xae', '\xb1', '\xb0', '\xb3',

[2019-01-10 04:58] waqasr6 commented on #1099
@lissyx
You can check my csv file as it is properly UTF-8 encoded ?

[2019-01-10 05:03] waqasr6 commented on #1099
and while training its giving me this error:

Preprocessing ['trans_urdu/cv-valid-train.txt']
Traceback (most recent call last):
  File "DeepSpeech.py", line 1959, in <module>
    tf.app.run(main)
  File "/home/waqas/.local/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 124, in run
    _sys.exit(main(argv))
  File "DeepSpeech.py", line 1915, in main
    train()
  File "DeepSp

[2019-01-10 07:11] lissyx commented on #1099
Why ? You already have all the elements to fix it ...

[2019-01-10 07:46] waqasr6 commented on #1099
What i suppose to do to fix it ?  As error shows its reading Urdu characters properly **KeyError: 'ک'** and all the csv transcript characters are available in my alphabet.txt file so i don't expect UTF-8 is the problem here.

[2019-01-10 08:59] lissyx commented on #1099
Did you read the error and the output correctly ? It states that you have missing characters in your alphabet. And `util/check_characters.py` just gave you the list ... Add this list to your alphabet, not much to do.

There's no UTF-8 issue here.

[2019-01-10 10:33] waqasr6 commented on #1099
@lissyx  I've added the above list got from `util/check_characters.py`  to my alphabet, still getting the same output.

[2019-01-10 11:30] reuben commented on #1099
Looks like it's a Python 2 specific problem, Python 2 strings are treated as byte sequences, while Python 3 strings are treated as Unicode codepoint sequences. (Are there multi-codepoint graphemes in any languages?)

Try running `util/check_characters.py` with Python 3 on the same data.

[2019-01-10 12:07] Hafsa26 commented on #1107
Have somebody work on it? It will be a big help.

[2019-01-10 12:19] waqasr6 commented on #1099
@reuben
yes it was the issue wuth python 2. I tried with python 3 and below are results which are ok. but still getting error while training.

waqas@SID-245:~/DeepSpeech/DeepSpeech$ python3 util/check_characters.py trans_urdu/cv-valid-train.csv
### Reading in the following transcript files: ###
['trans_urdu/cv-valid-train.csv']
### The following unique characters were found in your transcripts: ##

[2019-01-10 12:19] JRMeyer commented on #1822
@lissyx - some confusion is caused by the README's assumption that training DeepSpeech means "training DeepSpeech on Common Voice". I think a great addition would be a section on "How to Train DeepSpeech for your own data". However, that will take a lot of time to write up, and I can't volunteer to do it in the near future:/

[2019-01-10 12:45] lissyx commented on #1099
Have you added this list of characters to your alphabet? Have you checked all your CSVs with this tool ?

[code]

[2019-01-10 13:13] waqasr6 commented on #1099
Yes i've carefully added all characters in my alphabet file. and checked all my csv's also.
here is my alphabet file looks like
https://pastebin.com/jbWnMfxC

[2019-01-10 13:37] lissyx commented on #1099
Okay, since there was some Python 2 playing that I missed (should not reply when I need to sleep), can you make sure you run everything under only Python 3 ?

Have you ran the character checking tool on **all** the CSV files you are passing ? Are you sure you are not passing wrong files ? (happened to me ...)

[2019-01-10 13:51] waqasr6 commented on #1099
@lissyx  Yes now i am running every thing under Python 3.
Yes ran the character checking many times on all CSV files. and i am 100% sure about parsing correct files. I've also shared small subset example of my training data so you can believe me  :)

https://drive.google.com/open?id=1_875pTb1YVDcWVYfgkR8A9QnFk_qPv06

[2019-01-10 13:57] lissyx commented on #1099
I'm sorry, but I really don't have any time to investigate your dataset, and Urdu is more specific than other language, and we could train with a lot of languages using non ASCII chars.

[2019-01-10 13:58] lissyx commented on #1099
Your alphabet file has two blank lines at the top, not sure this is expected nor what it might produce ?

[2019-01-10 14:24] waqasr6 commented on #1099
i've also checked by removing blank lines.

[2019-01-10 14:32] lissyx commented on #1099
No, I just had to ensure I had **all** characters in the alphabet, and I ran into some tricky ones, but no code change at all.

[2019-01-10 14:34] waqasr6 commented on #1099
Sure i'll share it once reach home as now i am traveling out station

[2019-01-11 09:30] kristiank commented on #1822
@JRMeyer this is a great idea! Since it will take me more than a month before I can do a training with Votic language, I can't volunteer either.

@lissyx it was under the heading "Common Voice training data" that the following phrase confused me

Now re-reading the whole thing it all makes sense to me. The only solution I can come up with making it more clear would be to state the size of the down

[2019-01-11 09:32] kristiank commented on #1822
Another solution would be to simply rewrite the sentence

like this

I can make a pull request for this if wanted.

[2019-01-11 09:35] kristiank commented on #1822
@lissyx The readme now states that `git-lfs` is needed, but none of the git commands never use it. This is also confusing. Is `git-lfs` only a requirement when working with the Common Voice dataset?

[2019-01-11 12:21] lissyx commented on #1822
git-lfs is needed for the language model, not common voice. There's no specific command needed, install it and git should be able to pick it. For the wording, a PR clarifying is always welcome, current sentence seems okay to us, but it can always be better :-)

[2019-01-11 15:19] waqasr6 commented on #1099
@lissyx @reuben thanks for helping. I've resolved that error. Problem was in my alphabet file, i  am using Linux terminal on Windows and editing alphabet file in Windows text editor, when i checked it in Linux terminal its shows characters arrangement entirety different. Its very strange to me but at least its done. Now i am getting error in decoding, hopefully will resolve it also.

[2019-01-11 17:52] lissyx commented on #1099
Oh, that makes sense :-). Maybe we should check line endings? @reuben

[2019-01-12 23:24] 9define opened #1830 "v0.4.1 is missing rpi3 tarball"
The release for version 0.4.0 contained a RPi3 specific tarball. The release for version 0.4.1 does not, despite claiming compatibility with that platform. Was this tarball accidentally omitted? Can this be fixed?

Thanks

[2019-01-13 00:53] lissyx commented on #1830
Something failed during the upload, we'll have to re-upload it

[2019-01-13 00:58] lissyx commented on #1830
Though the 0.4.1 is really just changing the model so the rpi3 tarball from 0.4.0 should work well

[2019-01-13 01:00] 9define commented on #1830
@lissyx I have scripts that pull specific versions for CI, so having one version to pull for all required platforms is best. If 0.4.1 could be uploaded for RPi3 that would be optimal. Thanks.

[2019-01-13 12:40] lissyx commented on #1830
I said earlier we will take care of re-uploading

[2019-01-13 13:30] lissyx commented on #1830
Right, so we had some issues when the 0.4.1 release happened, somehow it looks like the rpi3 package was half-uploaded and in an error state, once I removed that manually from the release, re-upload could proceed.

[2019-01-13 13:30] #1830 closed

[2019-01-13 15:18] lissyx commented on #1822
@kristiank I guess that would be the perfect way to have a better wording

[2019-01-13 15:18] lissyx commented on #1824
I'll close the issue then, thanks!

[2019-01-13 15:18] #1824 closed

[2019-01-13 15:19] lissyx commented on #1817
@raghavk92 Ok, we now have released a new 0.4.1, could you re-test on your side ? Early testing here shows it improves.

[2019-01-14 07:23] jaycicle opened #1831 "CTC decode very slow when training Mandarin Model"
Hey guys,
I'm following this tutorial to train a Chinese Model DeepSpeech on my own data : https://discourse.mozilla.org/t/tutorial-how-i-trained-a-specific-french-model-to-control-my-robot/22830

I got the alphabet which contains 4333 Chinese characters, vocab,  3gram language model with lm.binary and trie.

Training Acoustic model is is normal, but the **ctc-decode step is very very slowly(three

[2019-01-14 09:00] jaycicle commented on #1831
@kdavis-mozilla  Do you do any other optimization suggestion？ It’s really a problem for me....
I have set the beam_width to 128, but shows no positive effect

[2019-01-14 09:01] kdavis-mozilla commented on #1831
You could try implementing the work int he cited paper.

[2019-01-14 11:20] raghavk92 commented on #1817
@lissyx  Hi,
Ya the transcription is greatly improved with the new 0.4.0 update that i tested. I also tested with 0.4.1 but dont know if that has an improvement over 0.4.0 as i didnt find much difference there.Thanks for the updates.

I have 3 questions regarding a few problems i am facing :

1.  We tried to do transfer learning on the model with a few of our samples(4 large audio samples (technic

[2019-01-14 21:15] RebornNeji opened #1833 "Can we get a change log?"
I am sure I am not the only person who would like to know what has changed version to version with this project. I couldn't find one anywhere. This would be useful for academics who are using an older version and need to upgrade.

[2019-01-15 00:02] erogol commented on #1833
@RebornNeji This is what you are looking for probably https://github.com/mozilla/DeepSpeech/releases

[2019-01-15 00:02] #1833 closed

[2019-01-15 11:16] raghavk92 commented on #1817
@lissyx i think there is a bug. I ll post the rest of the queestions on discourse.
Bug:
I had tried with 0.4.1 but with the old models . I didnt realise it was stable so new models will be there. So with 0.4.1 the transcription has become worse. Correct words being transcribed earlier correctly are being wrongly transcribed.

So the file that i tested are as below:
https://www.youtube.com/watch?v=

[2019-01-15 11:21] reuben commented on #1099
Or at least mention line endings in the messages printed by `check_characters.py`? Sounds like a good idea.

[2019-01-15 11:57] raghavk92 commented on #1817
@lissyx So i am saying that some places where 0.4.0 was correct is now wrongly tanscribed. Some places have become correct which were earlier wrong(This has a lesser frequency than the correct words becoming wrong)

I hope the examples format are clear to understand where 0.4.0 was correct has now become wrong with 0.4.1

So i dont know what the exact problem is. Shouldn't it be like the older tra

[2019-01-15 12:00] raghavk92 commented on #1817
if you are refering to my earlier messages(before the ones i wrote today) where i said there is not much change between 0.4.0 and 0.4.1 . At that time i didnt change the models folder. So that was wrong feedback.

[2019-01-15 12:04] lissyx commented on #1817
I'm sorry, but your bug is really too messy right now, you refer to a lot of different trials, I have absolutely no idea of your system setup / training status at this point. Forget about `0.4.0`, it was wrong.

[2019-01-15 12:11] raghavk92 commented on #1817
@lissyx  So i thought all the other details are mentioned in the earlier posts about system i havea already given.But again i ll mention. I didnt know i have to write the information with every post:

- So i have used both 0.4.0 and 0.4.1 on different virtual environments.both deep speech gpu
- I have not used any models trained by me. Have used both of the pre trained models provided by you in th

[2019-01-15 12:48] raghavk92 commented on #1817
@lissyx  Sorry for not linking my earlier post:
https://github.com/mozilla/DeepSpeech/issues/1817#issuecomment-454357117

the files are in that post and the examples(which are exerpts)

Yes i used only native_client . deepspeech command from cmd.

Ya i dont know if this is because its a bad example or not because some of the parts which were correct in 0.4.0 now became wrong with 0.4.1

I was tell

[2019-01-15 13:08] reuben commented on #1817
Don't use 0.4.0 for anything, we uploaded the wrong checkpoint and model, from a completely unrelated training job. Either use 0.3.0, or 0.4.1.

[2019-01-15 13:36] raghavk92 commented on #1817
@reuben  thanks for that info but just wanted to give one example
 In 0.4.0 the transcription is :
- it isn't just the economy there
In 0.4.1 the same sentence transcription is :
- it is in justicium there

So its just that the wrong model is giving correct and better result. So should we wait for the next release(would that be happening soon) or train with this because if we train and again get t

[2019-01-15 13:41] reuben commented on #1817
With 0.4.0 comes from 0.3.0 but was then trained further on Italian data. If it's working better for you, then try using 0.3.0. I recommend using 0.4.1 for any experiments, as it has a lot of small improvements that add up to a higher quality model.

[2019-01-15 14:02] #1828 closed

[2019-01-16 19:10] lissyx opened #1835 "Broken addressing of input/output nodes on TF Lite"
As reported on https://discourse.mozilla.org/t/android-tflite-model-inference-issues/35173/10 it seems like the index-based only approach was flawed and we should not trust the order ...

[2019-01-17 01:29] #1831 closed, assigned to nobody

[2019-01-17 05:37] #1835 closed

[2019-01-19 05:21] Chidhambararajan opened #1837 "Feature request: streaming decoder (fast DS_IntermediateDecode calls)"
Can the streaming recognition service be added to deep speech client, cause currently an audio file is recorded and later it is transcribed by the engine . However most of the big STT services provide a feature of streaming realtime audio from mic and getting back results simultaneously.. That feature will in fact give a boost to the applications of this project for realtime recognition.

[2019-01-19 07:19] kdavis-mozilla commented on #1837
Is the [vad_transcriber](https://github.com/mozilla/DeepSpeech/blob/v0.4.1/examples/vad_transcriber/wavTranscription.md) insufficient? If so, why?

[2019-01-19 07:44] carlfm01 commented on #1837
@kdavis-mozilla I think @Chidhambararajan is referring to the ability of being able to get the transcription as soon as we get enough accumulated logits to do so.
For example: I've tried to use the .NET client to stream the Windows audio output to get the transcriptions and show it on the screen like most of the subtitles works. Which is the problem with my case? We can stream the audio but we can

[2019-01-20 12:47] Kreijstal opened #1838 "IPA support aka Speech to Phonetics"
Is there a speech to IPA trained model?

I see that these engines try so hard to match phonetics to words in one specific word, so when you want to switch languages or for custom sounding names they just don't really understand what you want.

So what I want is something that recognizes phonetics but doesn't try to map it to any meaningful language, so that it can capture accents, different langua

[2019-01-20 15:13] kdavis-mozilla commented on #1838
Phonemes differ slightly between languages.

[2019-01-21 07:04] m13225311263 commented on #1756
@lissyx
 Hi, In the lastest version v0.4.1.
I used the vocabulary and  the alphabet  from @ailurus1991 to test. https://github.com/ailurus1991/ds_files/blob/master/thchs30-vocabulary.txt
https://github.com/ailurus1991/ds_files/blob/master/thchs30-alphabet.txt

The trie file is generated. But, I do not think this file is right. Because the size of this file is too small, only 45KB.

Is it an anothe

[2019-01-21 13:11] lissyx commented on #1756
That seems pretty obvious that this is not a bug. When working on that I got similar small files, I think it's fine.

[2019-01-22 04:04] Kreijstal commented on #1838
If that's true it probably makes more sense to assign different labels for different sounds, this seems harder than I considered though.

[2019-01-22 13:36] santhoshkurnapally opened #1839 "ModuleNotFoundError: No module named '_impl' on using DeepSpeech"
* Cloned the DeepSpeech Repository
* Downloaded Pre-trained model
* Created virtual environment
* Activated Environment
* Installed DeepSpeech Python Bindings using following command
- $ pip3 install deepspeech
* Tried to call the sample binary using "deepspeech"  on command line
* Encountered "ModuleNotFoundError: No module named '_impl'" error.
* Please help
* error occured
---------------------

[2019-01-22 13:40] lissyx commented on #1839
Looks like some old system. Can you describe more your setup ?

[2019-01-22 13:44] #1784 closed

[2019-01-22 13:44] #1786 closed

[2019-01-22 13:45] lissyx opened #1840 "Refactor `tc-test-utils.sh`"
It's becoming a bit messy.

[2019-01-22 13:46] lissyx opened #1841 "Pushing Android `libdeepspeech.aar` to Maven"
We need to finalize proper production of archive and then use scriptworker to push it to repos

[2019-01-22 14:37] lissyx commented on #1839
@santhoshkurnapally Please ?

[2019-01-22 14:51] lissyx opened #1842 "Incorrect TFLite error checks"

[2019-01-22 14:52] lissyx commented on #1842
We check a `status` that makes no senes. Proper error checking should be: https://github.com/mozilla/tensorflow/blob/r1.12/tensorflow/contrib/lite/examples/label_image/label_image.cc#L96-L113

[2019-01-22 15:06] lissyx opened #1843 "Mismatching tensor id in TFLite for loading previous_state_h"
https://github.com/mozilla/DeepSpeech/commit/8226dbc6caa2269b6628348995f57d66a6d2213a#diff-5c1b1b3f0263742d08fb2b43f954fed5R625

[2019-01-22 16:18] #1842 closed

[2019-01-22 16:18] #1843 closed

[2019-01-23 08:53] #1782 closed

[2019-01-23 08:55] lissyx commented on #1837
I think it all boils down to the fact that the decoding step is not yet streamable

[2019-01-23 08:56] lissyx commented on #1107
@Hafsa26 I think we can consider that `util/check_characters.py` does the work?

[2019-01-23 10:13] Giles754128704 opened #1849 "running"
The files in the example are too difficult . How to run a simple demo?

[2019-01-23 10:24] lissyx commented on #1849
Please explain why it's difficult, since we think it is not.

[2019-01-23 10:25] kdavis-mozilla commented on #1849
Did you see the READEME with the command line example?

[code]

[2019-01-23 14:08] lissyx commented on #1841
Repo created at https://bintray.com/alissy/org.mozilla.deepspeech

[2019-01-23 14:22] lissyx commented on #1841
Upload target path should be: `org/mozilla/deepspeech/libdeepspeech/<VERSION>`
Uploading at least .pom and .aar file from the `uploadArchives` gradle target.

[2019-01-23 16:09] lissyx opened #1850 "TFLite + Quantization"

[2019-01-23 16:10] lissyx commented on #1850
With `post_training_quantize=True` in ToCo, on Google Pixel 2 device :
[code]

[2019-01-23 16:11] lissyx commented on #1850
Before going further we need to document accuraccy: https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/lite/tools/accuracy/README.md

[2019-01-23 16:13] lissyx commented on #1850
Accuracy example with native client:
[code]

[2019-01-23 17:59] lissyx commented on #1850
Non-quantized VS Quantized model on LePotato:
[code]

[2019-01-23 18:18] lissyx commented on #1841
Looks like we also need sources jar ?

[2019-01-23 18:40] lissyx commented on #1841
We will need to:
 - https://www.jfrog.com/confluence/display/BT/Bintray+REST+API#BintrayRESTAPI-MavenUpload with publish=1
 - https://www.jfrog.com/confluence/display/BT/Bintray+REST+API#BintrayRESTAPI-CreateVersion%E2%80%99sReleaseNotes

[2019-01-24 05:17] #1839 closed

[2019-01-24 13:04] lissyx commented on #1841
Okay, manually pushed lib is live :-) http://jcenter.bintray.com/org/mozilla/deepspeech/libdeepspeech/

[2019-01-24 16:17] #1841 closed

[2019-01-24 16:44] lissyx commented on #1841
https://bintray.com/beta/#/alissy/org.mozilla.deepspeech/libdeepspeech/0.5.0-alpha.1?tab=overview

[2019-01-24 16:44] lissyx commented on #1841
http://jcenter.bintray.com/org/mozilla/deepspeech/libdeepspeech/0.5.0-alpha.1/

[2019-01-25 12:03] lissyx opened #1852 "TFLite accuracy tooling"
Let's get a `evaluate_tflite.py` that allows to run something similar to `evaluate.py` but for  TFLite model.

[2019-01-25 12:05] lissyx commented on #1852
For the sake of simplicity, let's rely on `deepspeech` python module and just run a bunch in parallel with python's multiprocess. This requires a non android `libdeepspeech.so` built with `TFLite`:
 - change `native_client/BUILD` and add a `select()` clause similar to the android one for the `"//tensorflow/contrib/lite/kernels:builtin_ops"` dep, but against `"//tensorflow:linux_x86_64"`
 - `bazel

[2019-01-25 12:42] reuben commented on #1742
This is now entirely handled by OpenFST so not much we can do about it.

[2019-01-25 12:43] reuben commented on #1742
(It's also way faster)

[2019-01-25 12:44] #400 closed

[2019-01-25 12:46] reuben commented on #677
Should be fairly simple, just add instrumentation around this call: https://github.com/mozilla/DeepSpeech/blob/8f2c3f0f0080e2bdf1f715ec06a340ddafc1282a/DeepSpeech.py#L595-L596

[2019-01-25 12:49] reuben commented on #728
Our only training dependency on native client code is now the ctcdecoder, which is [installed from TaskCluster](https://github.com/mozilla/DeepSpeech/blob/8f2c3f0f0080e2bdf1f715ec06a340ddafc1282a/.install#L10-L11), so closing this. Feel free to reopen if it's still relevant.

[2019-01-25 12:49] #728 closed

[2019-01-25 12:50] reuben commented on #729
Is this already fixed? Right now we have this layout:

[code]

Which is already under a `organization/corpus` folder structure.

[2019-01-25 12:52] reuben commented on #755
While these are interesting experiments I don't think we have any plans to work on it in this repo. Probably a fork would be the best way to organize such an effort.

[2019-01-25 12:52] #755 closed

[2019-01-25 12:54] reuben commented on #762
This was eventually fixed in evaluate.py by simply sticking to a single tower/GPU model since the cost of test epochs is completely dominated by the decoding step.

[2019-01-25 12:54] #762 closed

[2019-01-25 12:54] kristiank commented on #1822
Pull requested now at #1853

[2019-01-25 12:54] #1822 closed

[2019-01-25 12:57] reuben commented on #851
Seems like this can be closed, feel free to reopen if needed.

[2019-01-25 12:57] #851 closed

[2019-01-25 12:58] #951 closed

[2019-01-25 13:00] reuben commented on #1047
We ended up fixing this in #1773 / #1744.

[2019-01-25 13:00] #1047 closed

[2019-01-25 13:04] reuben commented on #1441
Pipenv is nice at some things but terrible at others, we're probably better off sticking to a simple requirements.txt for now.

[2019-01-25 13:04] #1441 closed

[2019-01-25 13:05] #1622 closed

[2019-01-28 10:32] 040840308 opened #1855 "Error about def ctc_label_dense_to_sparse(labels, label_lengths, batch_size) in Util.text"
Hi, everyone

     I tried to run DeepSpeech on tensorflow 1.12.0 with python3.5.  I want to extract the CTC logits from a a target phrase using the ctc_label_dense_to_sparse function.
    However, I encountered an error as follows:
     Traceback (most recent call last):
  File "make_checkpoint.py", line 259, in <module>
    target = ctc_label_dense_to_sparse(target_phrase, target_phrase_lengths,

[2019-01-28 11:17] reuben commented on #1855
It looks like you're misunderstanding the purpose of that function. It's used on the input side to convert a dense batch created by a `tf.PaddingFIFOQueue` into a `tf.SparseTensor`. On the output side, you can just fetch the logits directly and extract the sequences with the known sequence lengths, no need to convert them into a sparse tensor.

[2019-01-28 11:39] 040840308 commented on #1855
OK, I indeed don't know how to use this. I just referred  to a code from the github [https://github.com/carlini/audio_adversarial_examples/blob/master/attack.py](url) (lines 132).  The code originally worked on tensorflow 1.8.0. I want to run it on tensorflow 1.12.0. However, I encountered the errors above.

Do you know how to solve this? @

[2019-01-28 11:41] reuben commented on #1855
You should probably ask the author of that code :)

Our use of `ctc_label_dense_to_sparse` is still working fine on 1.12.0.

[2019-01-28 13:31] 040840308 opened #1856 "Request for the pre-trained model of alpha version"
Hi,

       I also want to download the pre-trained model of alpha version and run it directly without training. Does someone know whether I can do this and where to download it?

       Thanks

[2019-01-28 14:39] reuben commented on #1856
Alpha releases do not have pre-trained models available.

[2019-01-28 14:39] #1856 closed

[2019-01-29 17:07] reuben commented on #885
This issue is blocked by https://github.com/tensorflow/tensorflow/issues/23269

[2019-01-31 09:18] pKrysenko opened #1858 "Segmentation fault in the inference"
Good day, several weeks ago, i started train deepspeech on russian dataset. I created LM without any problem. Also in the moment of trainind i didnt face any problem. But when i try inference this model, i got "Segmentation fault(Core dumped)". I think it's problem of LM, because i tested english LM with my russian model and i didn't get this error. I use deepspeech 0.4.0

[2019-01-31 15:00] kdavis-mozilla commented on #1858
What command line arguments did you use to create your Russian language model?

[2019-01-31 15:09] pKrysenko commented on #1858
kenlm/build/bin/lmplz -o 5 <russian_corpus.txt >lm.arpa
kenlm/build/bin/build_binary lm.arpa lm.binary
DeepSpeech/native_client/generate_trie alphabet_ru.txt lm.binary russian_corpus.txt trie

[2019-01-31 15:14] kdavis-mozilla commented on #1858
Could you try mimicking the [README instructions](https://github.com/mozilla/DeepSpeech/tree/master/data/lm) with Russian.

[2019-01-31 17:31] reuben commented on #1730
This is already documented in the output of `--helpfull`, where else do you think we should have it?

[code]

[2019-01-31 22:26] mikeyshulman opened #1859 "processing data on the fly"
I'm wondering if there's any interest in having the data be loaded and processed on the fly, instead of all of the features being held in memory.

This is will allow much larger training sets to be processed.

I have tried this out both on CPU and GPU configurations, and it does not noticeably slow down training if you have an SSD.

If there is interest I can make a PR.

[2019-02-01 08:40] bernardohenz commented on #1859
The data used to be loaded and processed on the fly, so I suspect that this new preprocessing step must had improved the performance.

But I agree with you, not only this would allow larger training sets, this would support the use of online (on-the-fly) data augs (like speed/pitch variation on the audio).

[2019-02-01 08:51] kdavis-mozilla commented on #1859
What we're planning on doing is creating a training data set on disk with noise and the like via [voice-corpus-tool](https://github.com/mozilla/voice-corpus-tool), then allowing the current preprocessing step to run.

This doesn't however, solve the problem of a data set being too large to fit in memory. We haven't, fingers crossed, run in to that problem yet. However, I assume that day of reckoni

[2019-02-01 11:05] bernardohenz commented on #1859
@kdavis-mozilla I am currently training using more than 900h on a 16gb RAM. I would like to ask if you have performed a benchmark for checking the speed-up gained with this preprocessing step?

[2019-02-01 11:37] kdavis-mozilla commented on #1859
@bernardohenz We've a roughly a speed up of a factor of 4.

Previously we used two nodes of our cluster to train a model and it took about 8 days to train. Now we can do the same on one node in 4 days.

[2019-02-01 13:04] pKrysenko commented on #1858
I fixed it. I used generate_trie from deepspeech alpha 0.5.0 and all ok

[2019-02-01 13:04] #1858 closed

[2019-02-01 13:32] mikeyshulman commented on #1859
I'll have to look at it again, but it might be possible.
The problem with smaller HDF5 caches is that you can't data augment on the fly because you no longer have the access to the waveforms

[2019-02-01 22:24] gene1wood opened #1861 "Readthedocs integration no longer working"
With [GitHub services being turned off yesterday](https://developer.github.com/changes/2018-04-25-github-services-deprecation/) the Readthedocs integration has stopped working and changes to documentation will no longer result in updated to the readthedocs site for this project. Please create [a Readthedocs GitHub webhook](https://docs.readthedocs.io/en/latest/webhooks.html#webhook-creation) to re

[2019-02-04 19:33] axchanda commented on #1821
@pvanickova Have you got the required phrase hints done? I am also in search for the same. Please help me out! Thanks!!!!

[2019-02-05 10:48] kdavis-mozilla commented on #1861
Looking at our ReadTheDocs docs[[1](https://deepspeech.readthedocs.io/en/latest/?badge=latest)], I don't think they are worth saving. It's likely better, for now, to cut our losses.

[2019-02-05 11:27] #1861 closed, assigned to nobody

[2019-02-05 15:50] gene1wood opened #1864 "Remove remaining readthedocs link"
@kdavis-mozilla I think you missed [one more reference](https://github.com/mozilla/DeepSpeech/blame/4356704a768ddf1f014e40fb431fa13697c005c6/README.md#L386-L389) to readthedocs in #1863 (which addresses #1861). Would you pull this one too?

[2019-02-05 16:22] kdavis-mozilla commented on #1864
@gene1wood Good eye!

[2019-02-05 16:34] #1864 closed

[2019-02-05 19:44] nbraud opened #1866 "Subpar performance with non-native English speakers"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 10 `buster`
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: pip
- **TensorFlow version (use command below)**: v1.12.0-10-ge232881
- **Python version**: 3.7.2
- **Bazel version (if compiling from s

[2019-02-05 19:48] nbraud commented on #1866
PS: The audio source is 44.1kHz WAV, 16b, resampled to 16kHz for DeepSpeech.
    The recording pipeline and resampling is the same on both tracks (one track per speaker)

[2019-02-05 20:11] kdavis-mozilla commented on #1866
As this is neither a bug nor feature request and necessitates a discussion could you please move this to our [discourse form](https://discourse.mozilla.org/c/deep-speech).

[2019-02-05 20:11] #1866 closed

[2019-02-05 21:21] nbraud commented on #1866
@kdavis-mozilla I would consider not working with non-native speakers to be a bug, but whatever.

[2019-02-06 11:33] bernardohenz commented on #1678
About using several language models. I am wondering if it is possible to use two language models in the **decoding**. The idea is for using a word-based LM (like the current one) together with a char-based LM.