[2019-05-22 07:22] YasineNifa commented on #2123
Hey !
Because I ask there and I think the publication is not yet approved.

[2019-05-22 07:38] lissyx commented on #2123
Can you elaborate ? Are you having issues logging in on Discoure ? Posting ?

[2019-05-22 07:50] YasineNifa commented on #2123
I already create an account on Discoure, but I think I have a problem with posting
Thx for your time @lissyx

[2019-05-22 07:52] lissyx commented on #2123
Well, you should have told that earlier, we need to unblock that. Please share more details on your issue on Discourse, there's nothing I can do without more informations.

[2019-05-22 07:59] YasineNifa commented on #2123
unfortunately I can not post on Discourse
Here is a message I receive :
[code]

[2019-05-22 08:07] hmitsch commented on #2123
Looping in @LeoMcA for Discourse help.

[2019-05-22 08:11] hmitsch commented on #2123
Hi @YasineNifa, the Discourse moderation tools put you "on hold". I have now changed that. Could you please try to post on Discourse again. Sorry for the inconveniences.

Best regards,
   Henrik

[2019-05-22 08:19] YasineNifa commented on #2123
Hey @hmitsch
Cool now I can post on Discourse
Thx for the help :)

[2019-05-22 11:54] rpratesh opened #2125 "Android Native client results inconsistent across multiple runs"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Android P
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: Your builds
- **TensorFlow version (use command below)**: Not applicable
- **Python version**: Not applicable
- **Bazel version (if compiling from

[2019-05-22 12:07] lissyx commented on #2125
@rpratesh It seems you have a different alphabet. Can you reproduce with exactly our model ? With `LDC93S1` sample ?

TFLite model has been measured with a little more WER compared to pure protocolbuffer (approximately +2, from 8.5% WER to 10.2%), and the C++ `deepspeech` sample is not really intended for final use, it's possible the code is buggy when running on multiple WAVs.

[2019-05-22 12:09] lissyx commented on #2125
Can you share more details on the platform ? I don't recall hitting any issue on Android 8.0 and Android 9.0, respectively on Xperia XZ and Pixel 2 devices.

[2019-05-22 12:15] lissyx commented on #2125
We also did quite some changes to the codebase regarding TFLite since v0.4.1, that may impact behavior as well, it would be great if you could try and verify this with current master on a smaller model (LDC93S1 for example).

[2019-05-22 13:35] rpratesh commented on #2125
We are using Qualcomm Snapdragon 820 development board. Also, may I know if u tried DS041 ckpts based .tflite model on the above platforms over multiple iterations and still got the consistent results.

The alphabet.txt is the same English alphabet.txt as shared by Deepspech team.
We are getting consistent result if we tried with .tflite model of Deepspeech with 494 n_hidden trained on LDC93S1, bu

[2019-05-22 13:46] lissyx commented on #2125
We only really care about `libdeepspeech` through JNI so no.

Same answer, the C++ code is here just for some testing facilites, it's also advertised not to rely on it.

[2019-05-22 13:49] lissyx commented on #2125
Ok, I would really need that you re-test from Java level. I do insist, TFLite on 0.4.1 is really new, don't be surprised too much if it's not perfect. Please test with current master as well.

[2019-05-22 14:13] rpratesh commented on #2125
So you suggest me to use libdeepspeech through JNI instead of C++ deepspeech client ? And will v0.4.1 be good for that?

I can test with current master but then that's lots of change , mainly in terms of tensorflow version. Trying to get this resolved with 0.4.1 release itself.

[2019-05-22 14:20] lissyx commented on #2125
Yes, that's what i'm suggesting. If the issue is within TFLite itself, it won't help, but at least you should be at some point in a stack where foundations are better.

Sorry, but we explicitely stated on 0.4.1 release this was **experimental**.

[2019-05-22 15:18] lissyx commented on #2125
@rpratesh It looks like I do reproduce it on current master with TFLite on Linux and not just Android.

[2019-05-22 16:15] lissyx commented on #2125
@rpratesh So there was indeed an issue, looks like the API will have to evolve to properly fix that. PR https://github.com/mozilla/DeepSpeech/pull/2126 includes a fix but that will not be cool for thread-safety. You should be able to trivially apply that fix to 0.4.1 and rebuild with it.

[2019-05-22 18:06] #2125 closed

[2019-05-22 21:16] lissyx commented on #1990
@ashupednekar @Sushantmkarande As suggested above, you need to investigate broken data in your dataset.

[2019-05-23 07:57] fabien4455 opened #2128 "AMD Support ?"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.2
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: tensorflow-rocm 1.13.3 from ten

[2019-05-23 08:39] fabien4455 commented on #2128
I found something, sometimes my GPU is used but for fraction of second.. When idling my gpu is between 3 and 5W.

When i run deepspeech, if i enter sensors command a lot of times i got sometimes 40W-50W of power reading...

But my CPU is used like 50% everytime..

What is wrong ? Bad conf ?

[2019-05-23 08:52] fabien4455 commented on #2128
So the GPU is used sometimes but not enough... I got peak of use for less than 1 second... Maybe my config is bad ? Is there a tip to ask deepspeech to use GPU 100% of time instead CPU ?

[2019-05-23 09:03] fabien4455 commented on #2128
I got info from shell... DeepSpeech run 2 devices...

Here : `_DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 268435456, 8939464850490893432)
_DeviceAttributes(/job:localhost/replica:0/task:0/device:GPU:0, GPU, 16049923687, 8527695137938882137)
`

[2019-05-23 09:05] fabien4455 commented on #2128
Here is all what i got... I'm waiting now

[2019-05-23 16:00] lissyx commented on #2128
I'm sorry but this is not really DeepSpeech related. Also, we don't have AMD hardware to test.

What's your dataset, batch size?

[2019-05-23 16:12] lissyx commented on #2128
It's really not DeepSpeech here, it's TensorFlow that handles that.

[2019-05-24 07:40] fabien4455 commented on #2128
My Batch size is 1 according to util/flags

[2019-05-24 07:49] lissyx commented on #2128
Then you should increase it, it's expected that default batch size of 1 will not use GPUs efficiently.

[2019-05-24 07:50] fabien4455 commented on #2128
What number to you suggest me ? for train, dev, test, export ?

[2019-05-24 07:51] #2128 closed

[2019-05-24 07:52] lissyx commented on #2128
I can't suggest anything, it depends on your dataset and how much memory you have. With 11GB NVIDIA cards, depending on the dataset, I can go up to 68 or 80.

Though it's not a bug so we should continue discussion on Discourse.

[2019-05-24 07:52] fabien4455 commented on #2128
Please tell me before closing this issue :D ...

[2019-05-24 07:53] fabien4455 commented on #2128
What's DATASET please ?

[2019-05-24 07:55] lissyx commented on #2128
First line of the issue template: `For support and discussions, please use our Discourse forums.`

[2019-05-24 07:55] lissyx commented on #2128
The data you are using to train ...

[2019-05-24 07:57] fabien4455 commented on #2128
Ok sorry, it's because I'm the administrator, and i write from my devs...

I tell them to increase the batch size

[2019-05-24 07:59] lissyx commented on #2128
Well, still, it'd be great if you shared experiments on Discourse. We also have a category for french, as well as are seeking help to train french model: https://discourse.mozilla.org/c/voice/fr https://github.com/Common-Voice/commonvoice-fr/issues

[2019-05-24 08:00] fabien4455 commented on #2128
I created it ;)

We use this dataset : https://voice.mozilla.org/fr/datasets

[2019-05-24 08:05] lissyx commented on #2128
So you should definitively come and help us, there's a lot to fix / improve on Common Voice ...

[2019-05-24 08:07] fabien4455 commented on #2128
Come where ? On discourse ? My account has been locked by something i don't know why, i can't write or reply anything... :/

[2019-05-24 08:18] lissyx commented on #2128
On discourse under the Common Voice French category, as well as on the commonvoice-fr repo ...
I've pinged people about your locking.

[2019-05-24 08:21] lissyx commented on #2128
@fabien4455 There are a lot of actionable items on the commonvoice-fr repo to improve the quality of the Common Voice French dataset. There's also some ready-to-use Dockerfile: https://github.com/Common-Voice/commonvoice-fr/blob/master/DeepSpeech/CONTRIBUTING.md

You could likely contribute one that allows training on AMD GPUs, for example ...

[2019-05-24 08:31] fabien4455 commented on #2128
I tried to set batch size to 80 and 120.

Now GPU usage can be at 80-90W but only for less than a second, then idling then one little usage at 80W then idling at 3W...

My CPU is now at 90% of use all of the time

[2019-05-24 08:33] lissyx commented on #2128
Well, maybe try more? You have 16GB, that leaves some room. Also, maybe Common Voice is not enough at this scale? Again, the linked dockerfile includes other datasets (but I'm still in the process of checking what needs to be curated on some of them ...)

[2019-05-24 08:37] fabien4455 commented on #2128
The first require is not that i got : Ensure you have a running setup of NVIDIA Docker

Maybe I can use Docker ROCM ( AMD ? ) Against Nvidia I'm not sure...

Need to check that. I'll try 500 of batch size to see if it does something..

[2019-05-24 08:38] lissyx commented on #2128
That's exactly why I said maybe you can contribute one for your usecase. I don't know if AMD provides easy-to-use Docker images like NVIDIA does.

At worst, have a look at the shell scripts that imports data and triggers training ...

[2019-05-24 08:40] fabien4455 commented on #2128
It's sad that everybody use NVIDIA.. AMD is not a bad card but there is less community...

I think i can find AMD docker image !

[2019-05-24 08:43] fabien4455 commented on #2128
Like this one maybe.. https://github.com/RadeonOpenCompute/ROCm-docker

[2019-05-24 08:44] lissyx commented on #2128
@fabien4455 Use what suits you the best, there's enough things to fix for getting a french model, so any help is welcome.

[2019-05-24 10:52] Scofield666 commented on #2108
Sorry, can you provide the downloading link which contains libctc_decoder_with_kenlm.so again? I could't find it in the previous link you gave.

[2019-05-24 11:01] lissyx commented on #2108
We don't use that anymore.

[2019-05-24 11:02] lissyx commented on #2108
@Scofield666 If you are working out of `0.3.0`, then it should be in https://github.com/mozilla/DeepSpeech/releases/download/v0.3.0/native_client.amd64.cpu.linux.tar.xz

[2019-05-24 11:03] Scofield666 commented on #2108
Thanks a lot.

[2019-05-24 11:03] #2108 closed

[2019-05-24 18:13] GommeAntiLegit opened #2129 "Java bindings not just for Android"
I tried using DeepSpeech in my Java project, but linking fails at runtime because the natives are only made for Android, as it seems. Are there any plans for making Java bindings with natives for all relevant platforms such as Windows, Linux, and MacOS?
Or even better: Is there any way how I could build natives for Linux x64 myself?
Is there anything I need to pay attention to, to also have CUDA s

[2019-05-24 18:33] lissyx commented on #2129
Well, current bindings are really targetting Android because we have no use outside of Android for Java so far. Supporting other should not be impossible, but it requires you write proper packaging as JAR I guess. We have no plans for that yet, but if you can provide PR it's welcome.

Also, it's possible there might be some stuff that is currently really only okay under Android, but nothing not fi

[2019-05-24 18:45] lissyx commented on #2129
@GommeAntiLegit So here is the gradle file for Android: https://github.com/mozilla/DeepSpeech/blob/685a0dbb894e3b7e68435cbab3aae34cdfed90ce/native_client/java/build.gradle

I guess we would need something similar for non android platforms? Though I have to admit I'm not knowledgeable a lot regarding Java world, so that's also why we have not spent too much time on that.

[2019-05-24 21:12] GommeAntiLegit commented on #2129
As it turns out, libdeepspeech.jni.so is also a required native library, which only works on Android because it requires libraries such as liblog.so, which are part of the Android NDK.

[2019-05-24 21:47] lissyx commented on #2129
Yes, but it's a by-product of the Gradle build system for Android. I don't know how all of that should be handled for non-Android Java platforms.

[2019-05-25 10:17] SephVelut commented on #1821
Even with dynamic models, its more accurate to provide context in the form of phrase hints at the time of inference. Because a language model with those phrase hints would apply to each inference, whereas you would rather have certain phrases apply on certain inferences during a session, not all.

[2019-05-25 15:59] GommeAntiLegit commented on #2129
I'm creating new Java bindings using the JNI. I have successfully linked the Java native function to the implementation in the shared library, but when DeepSpeech functions are called natively, Java reports an unknown symbol at runtime.

`/usr/lib/jvm/java-8-oracle/bin/java: symbol lookup error: /mnt/E08026E98026C63E/LIN_SSD_EXT/Development/Java/deep-speech-test/libdeepspeech-jni.so: undefined sym

[2019-05-25 18:55] lissyx commented on #2129
Should we assume it means it works properly, indeed? That's awesome news!

[2019-05-25 19:35] GommeAntiLegit commented on #2129
I'm currently implementing the JNI functions that call the deepspeech functions. printVersions is already tested and printed:
"TensorFlow: v1.13.1-10-g3e0cc53
DeepSpeech: v0.5.0-alpha.10-0-g685a0db"
So, there is no reason why the other functions shouldn't work. I will make a pull request when I get it working.

[2019-05-25 21:06] lissyx commented on #2129
Yeah, that sounds like a lot of what is already done in `native_client/java/libdeepspeech/src/main/java/org/mozilla/deepspeech/libdeepspeech/`, and we have nothing Android-specific there, can you make sure you're not reinventing the wheel?

[2019-05-25 22:42] reuben commented on #2129
Could this be related to the C++ name mangling we recently fixed?

-- reuben

[2019-05-25 22:43] reuben commented on #2129
Nevermind, I didn't see that the DS_PrintVersions problems were fixed.

-- reuben

[2019-05-26 07:42] GommeAntiLegit commented on #2129
A rewrite of the java bindings is more than needed. Java naming conventions are neglected, they do not free native memory at all, so, many STT calls result in a gigantic memory leak. Sometimes native memory is allocated (not freed) that is not even used once before the pointer is overridden with an address to newly allocated memory. Loading of the native library must be more configurable or you en

[2019-05-26 07:57] lissyx commented on #2129
Maybe. My point is that we don't want to have to maintain Android **and** non-Android bindings ...

[2019-05-26 08:11] lissyx commented on #2129
@GommeAntiLegit Yes, well, you understand why we stated this was still **experimental** and why I told you we are not fluent in Java. We know a lot of things are not perfect, but there should not be such big leaks as you describe, @reuben carefully checked that we were properly freeing with `DS_FreeString` as well as `DS_FreeMetadata`, and using on-device did not show leaking.

But yeah, there is

[2019-05-26 08:13] lissyx commented on #2129
@GommeAntiLegit Since we are close to making a 0.5.0 release, I'd like to know if you have any idea how much time it might require you to make things better? This feels like a lot of changes, with risks of regressions, I'd like to avoid pressuring you into doing it "in time".

[2019-05-26 09:04] GommeAntiLegit commented on #2129
How much time is it until the release? I do have a few exams coming up in the next few days, but I might be able to do it in time, depending how much time there is left.

Yes it should be one library.

Yes, I overlooked this as my IDE displayed the method as unused, as the "finalize" method which calls the method is not used itself but invoked by the Garbage collector.

[2019-05-26 12:32] lissyx commented on #2129
We don't have a strict date. If you have exams, they should be your top priority. My point was more to re-assure you that we value your feedback and contribution, and to make sure we can either wait for you if it's a quick change, or that you don't feel sending PR for nothing if we decide to go ahead and release soonish. Lots of people are waiting on 0.5.0 because we changed the model.

If the cha

[2019-05-27 11:19] LuciferA678 opened #2133 "I want to train the model from scratch and don't want to use Mozilla dataset. I have files of 44 khz.Is there any way to train the model?"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2019-05-27 11:26] #2133 closed

[2019-05-27 18:20] Sushantmkarande commented on #1990
my problem was that I was missing ' character in alphabet.txt

[2019-05-27 18:51] lissyx commented on #1990
Thanks for confirming it's not an issue in our codebase then. The error is a bit unsual for this kind of mistake, though. I'm closing this :)

[2019-05-27 18:51] #1990 closed

[2019-05-27 21:23] dabinat commented on #1678
@reuben I'd be interested in taking a look at this if you can give me more information. It would be great if you could query multiple models and take the result with the highest confidence value.

Also, just to be clear, this only covers the acoustic model, not the KenLM model?

[2019-05-28 06:08] kdavis-mozilla commented on #1678
@dabinat The original idea as I understood it was to start the engine with several language models and one acoustic model then be able to, at runtime, select which language model was active.

For example one might have an application that has several distinct "command and control" aspects, one dealing with navigation (north, south, east, west) and another dealing with questions (yes, no), another

[2019-05-28 09:13] cmhashim commented on #634
@Hafsa26 Any updates on Urdu language model trained on 300 hr of data

[2019-05-28 09:56] wegamekinglc opened #2135 "Python binding error when build from source"
Hi Team,

I follow the instruction to build native client from source. Everything is fine until I try to make python binding. The error message seems to complain about the impl.i is not correct.

My swig version is 3.0.8
I am working on the master branch:
* master 07370cc Merge pull request #2117 from areyliu6/master

I just build the cpu version

pip install --quiet numpy wheel==0.31.0 setuptools

[2019-05-28 10:14] lissyx commented on #2135
There's something going on with your swig setup. We can't diagnose if you don't share more informations on your system: it works with swig from ubuntu 14.04 as well as current swig 4.0.0.

Any specific reason why you have to build from source ?

[2019-05-28 10:17] lissyx commented on #2135
@wegamekinglc Can you try with `swig` at least `3.0.12` ?

[2019-05-28 10:59] wegamekinglc commented on #2135
@lissyx Sure, I'll have a try and report back to you

[2019-05-28 11:51] wegamekinglc commented on #2135
@lissyx The problem is fixed when I switch to swig 3.0.12.

[2019-05-28 11:53] reuben commented on #2135
Good to hear! Closing this issue, but feel free to reopen if you think it's still applicable.

[2019-05-28 11:53] #2135 closed

[2019-05-28 16:41] SibtainRazaJamali opened #2137 "checkpoints"
When will you release the next pre trained model?

[2019-05-28 17:10] kdavis-mozilla commented on #2137
When it's ready 😉

More seriously, I'm starting to write up the release notes. So, assuming nothing goes horribly wrong with testing 0.5.0 will be released in 2-3 weeks.

[2019-05-28 17:10] #2137 closed

[2019-05-29 01:22] SSaishruthi commented on #2048
Facing the same issue when training using common voice English dataset.
Any suggested solution ?

[2019-05-29 13:29] reuben commented on #1678
@dabinat this bug is for using different language models, not acoustic models. The idea is that you can instantiate multiple language model instances and then for every new stream you could specify what LM to use for decoding. This would you let you implement something like this, for a voice-assistant like UI:

1. By default, use a command LM
2. A command is recognized, it requires further interac

[2019-05-29 13:35] reuben commented on #1678
In any case, the rough idea I had for how to implement/expose this is by separating language model instances into their own handle, so `DS_EnableDecoderWithLM` would turn into `DS_CreateDecoderWithLM`, which would return an opaque `DecoderState*` that identifies a LM with its hyperparameters. A new `DS_FreeDecoder` function would have to be added.

This `DecoderState` pointer would then be passed

[2019-05-29 13:39] reuben commented on #885
TF 1.14.0-rc0 is out. Self-reminder to do some experiments using it rather than TF-Nightly-GPU.

[2019-05-29 13:49] reuben commented on #432
Currently the decoder API returns a `std::vector` of `beam_size` `Output` structures sorted by descending probability, each struct representing a candidate transcription. Exposing this information in the API would involve the following steps:

1. Add a separate top_paths/top_n parameter to the decoder API that allows applications to specify different values for beam_width and top_paths. Right now

[2019-05-29 13:51] reuben commented on #432
Oh, yeah, and probably the most time consuming part:

4. Make sure changed/new API is properly exposed to our bindings.

[2019-05-29 13:54] reuben commented on #432
I'm happy to mentor anyone interested in taking this on. Also, if anyone is interested in doing only parts 1-3, I will make sure the bindings work.

[2019-05-29 15:21] GommeAntiLegit commented on #2129
As my exams are over, I started work on the Java bindings again. The C++ library is fully accessible in Java. Yet, there is no additional layer of abstraction to make this a little bit more pleasant to use in Java. To use the model of v0.4.1 I tried to re-export it from the checkpoint, but that just resulted in a crash. It seems as if there is some backwards incompatibility with older checkpoints.

[2019-05-29 17:03] lissyx commented on #2129
For that kind of usage, we would recommend training a LDC93S1 model, it's a one-sample test set, it will make you able to work efficiently.

[2019-05-29 17:12] dabinat commented on #432
I’d be happy to look at parts 1-3, @reuben. I’ll look through the code and get back to you if I have any questions.

[2019-05-29 17:13] madhavajay opened #2138 "CUDA 10 Docker libcuda.so.1 error"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubun

[2019-05-29 17:22] lissyx commented on #2138
And is `/usr/local/cuda-10.0/compat/` in `ld`'s config or `LD_LIBRARY_PATH` ?

[2019-05-29 17:59] reuben commented on #432
@dabinat someone reached out to me expressing interest in contributing to this feature, so if you're also interested in working on #1678, I'd suggest taking that one first.

[2019-05-29 22:50] reuben opened #2139 "TFLite perf regression with in-graph feature computation"
The TFLite interpreter API runs the entire graph when you call `Invoke()`, which means every time we try to compute features we run the acoustic model as well.

The Interpreter API has experimental support for subgraphs, but InterpreterBuilder doesn't support that yet, so we would have to build the graphs manually (by copy-pasting and modifying the InterpreterBuilder code), which is hacky and make

[2019-05-30 06:50] kdavis-mozilla commented on #2137
In light of #2139 the release may be delayed a bit.

[2019-05-30 06:55] dabinat commented on #1678
Yes, that's a good point. I thought perhaps one could process a stream multiple times with different LMs and choose words with the highest confidence, but on second thoughts I'm not sure how reliable that would be.

My primary interest is in the ability for my application to infer which words may be likely to occur in the transcript and supply them to DeepSpeech in advance, which then assigns thos

[2019-05-30 07:04] madhavajay commented on #2138
Seems the error was:
[code]

Because I was trying to use the model from 0.4.1, and have now found that there is no available model for 0.5 alpha so I guess we need to wait?

The reason I got the above issues was I accidentally ran the docker command without the --runtime=nvidia while trying to debug why the container wasn't working via a scripted process.
I wish the nvidia images were able to give

[2019-05-30 07:12] lissyx commented on #2138
That's not a training error, that's a runtime inference error. Sorry, but it's unclear what you are doing.

And `libcuda.so.1` needs to be accessible.

[2019-05-30 07:14] lissyx commented on #2139
Right. Something I was wondering but could not check in time is: is the `Mfcc` node connected to the rest of the graph ? Why TensorFlow runtime is able to flow only the `Mfcc` node if it's connected ?
Could it be a bug, either in `toco` or in our export graph, that makes the `Mfcc` node connected to the rest of the graph ?

[2019-05-30 07:34] madhavajay commented on #2138
Sorry, I had been trying various CUDA versions all night and missed the Model error. I found another github issue relating to the 0.5 alpha models not existing. Do you have an ETA on a pre-trained 0.5 model being available? I guess you can close this issue.

[2019-05-30 08:05] pradipcyb opened #2140 "API to return top-n best transcriptions"
Is there an option to get the top-n (say 5) transcriptions returned by the model. If it is not currently implemented, can it be added as a feature? I need such a n-best list to rerank for a NLP problem that has a very limited corpora to develop a feasible language model. Thanks.

[2019-05-30 10:50] lissyx commented on #2138
No we don't, but it's very close. Thanks!

[2019-05-30 10:50] #2138 closed

[2019-05-30 10:51] lissyx commented on #1739
This is something that has been implemented. Closing the issue.

[2019-05-30 10:51] #1739 closed

[2019-05-30 12:02] reuben commented on #2139
The two graphs are not connected. This behavior is documented in `tflite::Interpreter::Invoke`, the whole graph is run in topological order.

[2019-05-30 12:04] reuben commented on #2139
This could be fixed cleanly if TF had better support for subgraphs. Right now the .tflite produced by toco has all nodes in the primary subgraph, because other APIs like InterpreterBuilder don't support multiple subgraphs yet.

[2019-05-30 12:22] GommeAntiLegit commented on #2129
I'm currently working on the CUDA support for the bindings. Transcription of the audio is successful with both the CPU and CUDA versions of the DeepSpeech shared library. As speed of transcription is about the same, is there any way to verify that my GPU is used?

[2019-05-30 12:37] lissyx commented on #2129
Yeah, TensorFlow should output some infos about GPUs. You should also get more informations using `TF_CPP_MIN_LOG_LEVEL` env variable, look into the output of it for `device:GPU`.

[2019-05-30 12:37] kdavis-mozilla commented on #2140
Duplicate of #432

[2019-05-30 12:37] #2140 closed

[2019-05-30 13:06] lissyx commented on #2139
It might be the case, I saw some commits from februrary toying with that. Not sure which release it is, though, and we may want to have something ready now anyway.

[2019-05-30 13:22] reuben commented on #2139
Yeah, it'd be better to release 0.5 without this regression. But if better subgraph support is coming in, say, TF 1.14, we can always revert the solution we use now to a better one.

[2019-05-30 13:54] lissyx commented on #2139
So as discussed on IRC, we might have a way playing around with the execution plan: limiting it to nodes 1 and 2 for Mfcc, I could get expected behavior of not traversing the whole graph. Only limitation so far is that this too naive approach proves to provide improper final result. It's possible it requires more refinements.

[2019-05-30 14:03] lissyx commented on #611
I think we can now safely close this ...

[2019-05-30 14:03] #611 closed

[2019-05-30 14:04] lissyx commented on #1869
Can you ensure your alphabet properly covers your dataset ?

[2019-05-30 14:05] lissyx commented on #1159
This is usually a symptom of a number in a transcription, and no answer for months now. Closing.

[2019-05-30 14:05] #1159 closed

[2019-05-30 14:05] lissyx commented on #978
That's not the proper solution, you don't require `-dev` package, just the library itself.

[2019-05-30 14:07] lissyx commented on #978
Yes, we do link against `libsox.so.2` because we only build on Ubuntu 14.04. Building `libsox` statically is much more of a mess for a low improvement. It also does not looks like we can trick `ld` into accepting that `libsox.so.3` is okay for `libsox.so.2`, the number is explicitely here to notify major ABI changes ...

[2019-05-30 14:09] lissyx commented on #703
Let's close this.

[2019-05-30 14:09] #703 closed

[2019-05-30 14:10] lissyx commented on #687
@kdavis-mozilla Since we have quantization on TFLite, do you think we should still try and have a look at this ?

[2019-05-30 14:10] lissyx commented on #686
@kdavis-mozilla Since we have quantization on TFLite, do you think we should still try and have a look at this ?

[2019-05-30 14:11] lissyx commented on #623
@kdavis-mozilla I guess we fixed that.

[2019-05-30 14:11] #623 closed

[2019-05-30 18:52] SSaishruthi commented on #2048
Hi @andrenatal @kst5118
I am facing the same issue. Do you have any suggested solution?

[2019-05-30 19:08] SibtainRazaJamali opened #2142 "Multiple Clients"
How to use deepspeech for multiple inference requests?

[2019-05-30 20:32] reuben commented on #2142
Please keep discussion in our Discourse forum: https://discourse.mozilla.org/c/deep-speech

The issue tracker is for bugs and feature development.

[2019-05-30 20:32] #2142 closed

[2019-05-30 21:09] reuben commented on #611
Technically to solve this we still need the extra step of saving the input pipeline itself in a checkpoint or with the main model checkpoint. But I'm not sure if this is still a goal. Maybe a nice to have?

[2019-05-31 00:07] #2139 closed

[2019-05-31 07:41] kdavis-mozilla commented on #686
I think we're fine now.

[2019-05-31 07:41] #686 closed

[2019-05-31 07:42] kdavis-mozilla commented on #687
I think we're fine now.

[2019-05-31 07:42] #687 closed

[2019-05-31 07:50] lissyx commented on #2055
Does it holds ? Can we close the issue ?

[2019-05-31 07:51] lissyx commented on #1935
No reply to my question, and the issue is obviously an alphabet issue. Closing.

[2019-05-31 07:51] #1935 closed

[2019-05-31 12:14] cmhashim commented on #634
@Hafsa26  how to obtain trie for Urdu language. I can't use the existing one which is built for English. Am i right? @kdavis-mozilla
Yeah i have built lm.binary using Kenlm,
To obtain trie, i need to use command /util/generate_trie alphabet.txt lm.binary vocabulary.txt trie
I can't find generate_trie in util.
@lissyx Can you help me

[2019-05-31 12:20] kdavis-mozilla commented on #634
@cmhashim generate_trie is downloaded when one runs
[code]
See [here](https://github.com/mozilla/deepspeech#using-the-command-line-client) for more details.

[2019-05-31 13:04] Hafsa26 commented on #634
Download the native client, compatible with your version of deep speech.
It has exe file of generate trie.
Follow the commands, Kdvais mentioned.
All the best.

On Fri, May 31, 2019 at 5:20 PM Kelly Davis <notifications@github.com>
wrote:

[2019-05-31 14:04] cmhashim commented on #634
Thanks @kdavis-mozilla It worked. Usage: ./tc/generate_trie <alphabet> <lm_model> <trie_path>

[2019-05-31 14:29] cmhashim commented on #634
@Hafsa26 Thanks for the info.
Can you state the training command with all flags so that the generated lm are included?

[2019-05-31 15:38] Hafsa26 commented on #634
Which version, you are working on?

On Fri, May 31, 2019, 7:29 PM cmhashim <notifications@github.com> wrote:

[2019-06-01 01:33] GuntaButya commented on #2062
Any update on this?

Thanks AWESOME Work! Thanks for sharing!

[2019-06-01 03:22] rajdeosingh98 opened #2144 "Getting runtime exception while loading the pretrained model"
Getting runtime exception while running deepspeech command after installing.
Command
deepspeech --model models/output_graph.pb --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie --audio /home/asdf/Downloads/LDC93S1.wav^C

RuntimeException and Warning:-
Not found: Op type not registered 'Assert' in binary running on asdf-Inspiron-5559. Make sure the Op and Kernel are registered

[2019-06-01 09:10] lissyx commented on #2062
We're getting closer, it should happen soon now.

[2019-06-01 09:10] #2144 closed

[2019-06-01 09:11] lissyx commented on #2144
@rajdeosingh98 It looks like you are using incompatible model / deepspeech binary set. Since you have not documented any installation step nor provided the full output including lib versions, we can't help more.

[2019-06-01 20:53] GommeAntiLegit commented on #2129
Cuda support is now present and works. Due to a bug, I was loading the CPU library, so that is why my GPU was not used. I wonder why... Duh... Many errors that could come up on Cuda runtime initialization are now wrapped with exceptions to make sure errors are human-readable (No random error codes etc).
Cuda Exceptions:
[code]
To make that possible I had to provide access to a few native Cuda func

[2019-06-02 13:06] lissyx commented on #2129
@GommeAntiLegit Honestly, I fear that's a lot of over-engineering work.

[2019-06-02 13:15] lissyx commented on #2129
@GommeAntiLegit Everywhere else, we assume people won't mix incompatible things together, I feel it's more important right now to improve the quality of the Java bindings of all points you listed above instead of trying to craft too complicated solutions to a problem that barely exists: `libdeepspeech-jni.so` should load `libdeepspeech.so`, that's it. If people improperly package stuff, that's ano

[2019-06-03 02:08] mychiux413 commented on #2055
Training "Chinese" dataset (~50GB) with `v0.5.0-alpha.7` still failed at testing phase.
Even I disable the oom-killer and enable the `--feature_cache`, docker runtime would still stuck in testing phase (w/o OOM Message), only `docker stop <container-id>` could shut it down.
The final solution to me is just skip the testing after early stop triggered, and everything will work fine then.

[2019-06-03 07:54] kdavis-mozilla commented on #2055
@mychiux413 @reuben Added a fix for this [here](df5bb310469adebdb31530367063403a5ea3c1c5). So I'd try with 0.5.0-alpha.9 or later.

[2019-06-04 12:35] lissyx opened #2147 "Excluding bogus Lingua Libre records"
Some records are bogus, and documented on https://lingualibre.fr/wiki/LinguaLibre:Misleading_items#

[2019-06-04 16:48] #2147 closed

[2019-06-05 05:53] MatthewWaller commented on #642
Hi @lissyx, I've started using a beta version of the Tensorflow to CoreML Converter that was announced today. Is there a way to get ahold of the TensorFlow Lite version of the .pb file? They have a tone of new layers and such that could help.

[2019-06-05 06:16] lissyx commented on #642
Yes, just `--export_dir path/to/export --export_tflite`

[2019-06-05 07:16] fotiDim commented on #642
"DeepSpeech" was spotted on one of the slides in the WWDC keynote. I
believe there are blockers anymore.

On Wed, Jun 5, 2019, 8:16 AM lissyx <notifications@github.com> wrote:

[2019-06-05 07:19] kdavis-mozilla commented on #642
@fotiDim Do you have a link or screen shot?

[2019-06-05 09:35] fotiDim commented on #642
@kdavis-mozilla Yep! Correction, was in the `Platforms State of the Union` presentation.
![Screenshot 2019-06-05 at 11 32 17](https://user-images.githubusercontent.com/2326415/58946242-bcd53400-8785-11e9-81b9-2d0e00df7732.png)
![Screenshot 2019-06-05 at 11 32 21](https://user-images.githubusercontent.com/2326415/58946351-f443e080-8785-11e9-956b-027cae74c5a9.png)

[2019-06-05 13:14] MatthewWaller commented on #642
@fotiDim @kdavis-mozilla I tried using their software to convert DeepSpeech here from 0.41 release and it failed (there is a new tfconverter) so maybe Apple ran their own version of Baidu’s architecture. Haven’t tried converting tflite though.

[2019-06-05 14:06] MatthewWaller commented on #642
@lissyx I'm getting word that "ds_ctcdecoder-0.4.1-cp27-cp27mu-macosx_10_10_x86_64.whl is not a supported wheel on this platform." when trying to get DeepSpeech running. Any thoughts? Or alternatively, I could accept the already exported TFLite model and try to convert it. Would be great to get DeepSpeech up and running on this laptop though.

[2019-06-05 14:13] lissyx commented on #642
Can you share more verbose `pip install` steps? Can you make sure your `pip` is recent enough ?

[2019-06-05 14:19] lissyx commented on #642
@MatthewWaller In case it's a bug in selecting matching package, you can try others from https://tools.taskcluster.net/index/project.deepspeech.deepspeech.native_client.v0.4.1/osx-ctc

[2019-06-05 20:51] MatthewWaller commented on #642
@lissyx getting closer. I.used ds_ctcdecoder-0.4.1-cp27-cp27m-macosx_10_10_x86_64.whl and this seems to work.

I'm working with the 0.4.1 release. I downloaded the checkpoint and the source code for that release.

To export, I use `./DeepSpeech.py --checkpoint_dir deepspeech-0.4.1-checkpoint/ --nouse_seq_length --export_tflite --export_dir ./`

But this fails at `def preprocess(csv_files, batch_si

[2019-06-05 20:52] reuben commented on #642
Pass `--notrain --nodev --notest` to skip the training/testing phases and just do the export.

[2019-06-05 21:36] Wissben opened #2150 "import_cv2 fails with filter_alphabet option for validation dataset"
Hello, I'm facing an issue when I try to construct the training data from the common voice dataset Version2, in the documentation it's stated to launch the `bin/import_cv2.py` script, it works totally fine except when I provide the --filter_alphabet option with the default alphabet.txt file of DeepSpeech.
When I launch this command :
[code]
I get the following error :
[code]
I'm running the traini

[2019-06-05 21:58] MatthewWaller commented on #642
Thank you @reuben . I was able to convert to Tensorflow Lite!

So I've got a Jupyter notebook going.

I install dependencies in the terminal first:
[code]
And that works well to bring in the new beta versions

Then I `import tfcoreml as tf_converter`

Then I use this:
[code]

This starts working, but then dies, apparently because `logits:0` may not be right in the `output_feature_names`

Here is t

[2019-06-05 22:01] reuben commented on #642
Can you see what it thinks are the outputs? I.e. print the contents of `top_output_names`.

[2019-06-06 02:31] MatthewWaller commented on #642
Alright, I met with Apple Engineers, and showed them what I have. Apparently it is not possible to convert Tensorflow Lite to CoreML, only full Tensorflow .pb files. This article ( https://venturebeat.com/2017/12/05/google-brings-core-ml-support-to-tensorflow-lite/ ) is incorrect. I can see the misunderstanding given the official Google linked in it, but no, only full Tensorflow models are convert

[2019-06-06 07:46] Singhal-harsh opened #2151 "torrent file needed for downloading pre trained model"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2019-06-06 07:49] kdavis-mozilla commented on #2150
@lissyx Looks like your "[Computing audio hours at import ](https://github.com/mozilla/DeepSpeech/commit/17e3f284a5d2bfb018c2d574046ef52f646dcaa7)" commit uses frames when it's not assigned to. All other frame uses seem to be protected by a check that file_size and thus frames is assigned to.

[2019-06-06 07:50] kdavis-mozilla commented on #2151
As there's not a detailed description of the problem, I'm going to close the issue.

[2019-06-06 07:50] #2151 closed

[2019-06-06 08:29] lissyx commented on #2150
Oops, I'll check that

[2019-06-06 08:30] Wissben commented on #2150
Thanks mate, would be nice to have the issue resolved as soon as possible :smiley:

[2019-06-06 08:44] lissyx commented on #2150
@Wissben Could you give a try to the small fix https://github.com/mozilla/DeepSpeech/pull/2152 ?

[2019-06-06 08:57] Wissben commented on #2150
@lissyx done, problem fixed as it seems, thanks again :+1:

[2019-06-06 09:16] #2150 closed

[2019-06-06 11:05] reuben commented on #642
Nice, thanks for looking into this!

[2019-06-06 11:34] JovanLiu opened #2153 "how "ds_ctcdecoder" be installed in windows"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 7 Anaconda-tensorflow
- **TensorFlow version (use command below)**:tensorflow-gpu   1.13.1
- **Python version**: 3.6.8
- **Bazel version (if compiling from source)**:0.22.0
- **CUDA/cuDNN version**: 10/v7.5.0
- **GPU model and memory**:GPU model

please help me...

[2019-06-06 11:54] lissyx commented on #2153
We don't support training outside of Linux, and we don't have builds of ctcdecoder for windows

[2019-06-06 12:01] JovanLiu commented on #2153
謝謝!

[2019-06-06 12:01] #2153 closed

[2019-06-07 11:17] monique94 opened #2154 "Hi everyone, i am getting an error message: illegal Instruction (core dumped) while trying to load deepspeech pre-trained model deepspeech --model models/output_graph.pbmm --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie --audio my_audio_file.wav"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2019-06-07 11:24] #2154 closed

[2019-06-07 11:24] lissyx commented on #2154
@monique94 We have a template that you have not filled. We can't help you. Illegal instruction means your CPU is too old.

[2019-06-07 15:25] Corey-G commented on #2154
If you are using the 0.4.1 try going down to tensorflow version 1.5.0 which might work.

[2019-06-07 15:26] lissyx commented on #2154
This does not make any sense.

[2019-06-07 15:29] amansulaiman opened #2155 "ERROR: ds_ctcdecoder-0.5.0a11-cp36-cp36m-windows_AMD64.whl is not a supported wheel on this platform."
- **I am trying to install ds_ctcdecoder but an error message is trowing. I am tried it out on 3 different Machine**:
- **OS Platform and Distribution: Windows 10 & Windows Server 2012**:
- **TensorFlow installed from upstream TensorFlow**:
- **TensorFlow version 1.13.1**:
- **Python version 3.6.8**:

FULL ERROR MESSAGE

ERROR: ds_ctcdecoder-0.5.0a11-cp36-cp36m-windows_AMD64.whl is not a supported

[2019-06-07 15:30] lissyx commented on #2155
@amansulaiman Can you share more detailed `pip install --verbose` ?

[2019-06-07 15:31] lissyx commented on #2155
We don't have ctcdecoder on Windows and we don't support training on anything else than Linux. What are you trying to achieve ?

[2019-06-07 15:37] amansulaiman commented on #2155
Okay. Thanks. I am trying to train a model on a Windows machine. Last four month I trained a model on windows and it's working fine. So, why Windows is not supporting anymore?

[2019-06-07 15:38] reuben commented on #2155
We never supported it, did you build libctc_decoder_with_kenlm on Windows yourself?

[2019-06-07 15:41] lissyx commented on #2155
I think that even TensorFlow upstream training support on Windows is still very recent ...

[2019-06-07 15:46] amansulaiman commented on #2155
No. I followed the steps in the ReadMe.md. And it works fine

[2019-06-07 15:54] lissyx commented on #2155
I don't know how it's possible, we never had builds ... Because we never even had Windows.

[2019-06-07 15:57] amansulaiman commented on #2155
Anyway, I will switch to Linux. I wish to work on this in the near future. Thanks

[2019-06-07 15:57] #2155 closed

[2019-06-08 10:56] monique94 commented on #2154
@Corey-G, i have tensorflow 1.5.0 installed already but i still get the same error message

[2019-06-08 16:15] lissyx commented on #2154
I've already replied on what you need to share us to be able to help you. Installing TensorFlow will not help.

[2019-06-08 17:40] monique94 commented on #2154
lissyx i got your message loud and clear, thanks anyway

[2019-06-08 23:12] reuben opened #2157 "ds_git_version genrule needs to be manually cleaned up to update version in local builds"
https://github.com/bazelbuild/bazel/issues/3041

[2019-06-09 20:57] AASHISHAG opened #2159 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Input indices should be a matrix but received shape [0]"
DeepSpeech: Master (cloned today)
OS: Ubuntu 16.04.6 LTS
TensorFlow version: b'v1.13.1-0-g6612da8951' 1.13.1
GPU:  Quadro RTX 6000 * 3 (24GB each)

I have 3 sets of German speech data defined as per DeepSpeech format including Common-Voice in csv's. I have merged all these and now trying to create a random split of test, dev and train using below code. The code just random picks rows and splits in

[2019-06-09 21:04] reuben commented on #2159
Seems like some of the data is broken. Double check that you're actually using the files you're generating, as in the snippet you posted here you generate files ending in `_10.csv` but then in the training run log you pass files ending in `_70.csv` and `_15.csv`. You're also genearting the test CSV in a completely different folder. Make sure none of the splits are empty, and that all the audio fil

[2019-06-09 21:14] AASHISHAG commented on #2159
@reuben : Sorry for the confusion. The code had wrong file name mentioned. But I have verified none of the file is broken and splits are not empty.

But since the splits are from 3 different datasets, the WAV's are not same size. They vary randomly. But the individual datasets are works well. It's just that they are now in random sequence with different lengths. Please have a look the generated sa

[2019-06-11 00:47] dabinat opened #2162 "Package macOS binaries as zip files"
The macOS binaries in the releases are packaged as .tar.xz, which isn't a format that's commonly used on the Mac.

While macOS does ship with tar on the command-line, double-clicking the file within the GUI causes weird behavior. If the file is myfile.tar.xz, it converts it to myfile.tar.xz.cpgz. If I then open that file it converts it again to myfile.tar.xz and you end up in a never-ending loop.

[2019-06-11 00:56] dabinat commented on #2162
Update: seems like it works fine with the models, which are .tar.gz, so I think it's the .xz format that's the issue here, not tar.

[2019-06-11 03:58] beknazar opened #2163 "Timestamps are wrong from metadata information"
Hi,

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: Used custom database for training
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: upstream
- **TensorFlow version (use command below)**: 1.13.1
- **Python version**: 3.6.3
- **Bazel v

[2019-06-11 06:16] lissyx commented on #2163
Sorry, it does not seems that obvious. Can you elaborate more ?

[2019-06-11 06:19] lissyx commented on #2162
@dabinat Thanks, but at the same time, changing for a specific compression is painful for a lot of reasons, including that zip performs poorly on the lib. The `native_client.tar.xz` is not really intended for end-user, so I'm not really convinced it is such a big deal a developper has to have proper tooling, and `xz` by itself is quite common.

[2019-06-11 06:22] beknazar commented on #2163
Inference output: "miss every thing at"
so, if look from top to bottom, character by character, the timing information (both `start_time` and `timestep`) is NOT increasing
For example, timestep is expected to be: 1, 2, 3, 4...
However, we see: 10, 13, 1, 5...

[2019-06-11 06:26] lissyx commented on #2163
@beknazar Can you share your source file ? Have you reproduced that with other bindings, like NodeJS or with C interface ?

[2019-06-11 06:32] lissyx commented on #2163
You can use the `deepspeech` binary from `native_client.tar.xz` and the `--json` flag

[2019-06-11 06:41] lissyx commented on #2163
Hm, it looks like I reproduce on the C client:
[code]

[2019-06-11 06:41] lissyx commented on #2163
[code]

[2019-06-11 07:22] beknazar commented on #2163
@lissyx I run the same command, middle two words time is same, last word's time is 0:

[code]

[2019-06-11 07:24] beknazar commented on #2163
[code]

[2019-06-11 08:44] testdeepv opened #2164 "Error Non-UTF-8 code starting with '\x83' in file deepspeech on line 2 when doing inferences after training a french model"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: mozilla tensorflow
- **TensorFlow version (use command below)**: tensorflow-gpu 1.13
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.19.2
- **GCC/Compiler version (if compiling from source)**:
- **CUDA/cuDNN version**: 10.0
-

[2019-06-11 09:02] lissyx commented on #2164
This is produced by Python itself, and clearly not something I reproduce on my french system. Can you make sure your pip install is uptodate ?

[2019-06-11 09:07] testdeepv commented on #2164
When I run this command : python3.6 -m pip --version
I get : pip 18.1 from /usr/local/lib/python3.6/site-packages/pip (python 3.6)
I have to upgrade it ?

[2019-06-11 09:08] lissyx commented on #2164
Strange that your pip is in `/usr/local`, can you make sure your setup is straight ?

[2019-06-11 09:11] testdeepv commented on #2164
What do you mean by "setup is straight" ?

[2019-06-11 09:45] beknazar commented on #2163
As in #1892 , I was expecting this format, where time information is increasing:

[code]

[2019-06-11 09:47] eek commented on #2163
I have the exact same issue. (expecting time to increase).

Full JSON: `https://pastebin.com/AF2L7jB1`

The audio is from this video: `https://www.youtube.com/watch?v=4mxXdCUXSSs`

Command: ```time ./deepspeech --model ./deepspeech-0.5.0-models/output_graph.pbmm --alphabet ./deepspeech-0.5.0-models/alphabet.txt --lm ./deepspeech-0.5.0-models/lm.binary --trie ./deepspeech-0.5.0-models/trie --audio

[2019-06-11 09:50] lissyx commented on #2164
Well, `/usr/local` feels like a non-default distro setup. The `deepspeech` file is being generated at install time.

[2019-06-11 09:53] testdeepv commented on #2164
I'm running the deepspeech file from the Deepspeech native client

[2019-06-11 09:54] lissyx commented on #2164
Well, you mention `python3.6` above. So I suspect you did `pip install` ?

[2019-06-11 09:55] lissyx commented on #2164
[code]

[2019-06-11 09:57] lissyx commented on #2164
@testdeepv The file `/home/alex/tmp/deepspeech/issue2164/venv/bin/deepspeech` is being generated at `pip install` time. According to your error, it's the one with bogus UTF-8. But we don't control it.

[2019-06-11 09:58] testdeepv commented on #2164
I installed python3.6 because in the VM I'm using python3.5 is the default python3.
I git cloned deepspeech and mozilla tensorflow, build both of them, generated binaries and trained a french model.
I didn't pip install deepspeech, I have it in the deepspeech native client after the build

[2019-06-11 09:59] lissyx commented on #2164
Well then please document exactly what you did.

Why did you do this ? We have prebuilt binaries, you don't have to do that.

Python 3.5 should work as well.

[2019-06-11 10:02] lissyx commented on #2164
Also, could you please join efforts ? https://github.com/Common-Voice/commonvoice-fr/pull/44 https://github.com/Common-Voice/commonvoice-fr https://discourse.mozilla.org/c/voice/fr

[2019-06-11 10:04] lissyx commented on #2164
Still, you don't need to rebuilt just to change alphabet.

[2019-06-11 10:08] testdeepv commented on #2164
then I have to do pip install deepspeech and do not use the deepspeech I have in native client file ?

[2019-06-11 10:09] lissyx commented on #2164
There is no good reason in your case to have to rebuild everything, yes. Also, sorry to insist, but it's really important that you join efforts to help produce a french model ...

[2019-06-11 10:13] testdeepv commented on #2164
I will sure do it :)

[2019-06-11 10:14] testdeepv commented on #2164
I did this :
sudo python3.6 -m pip install deepspeech==0.5.0a11
and when doing this command :
python3.6 deepspeech --model ~/results/model_export/output_graph.pb --alphabet ~/Deepspeech/data/alphabet.txt --lm ~/DeepSpeech/data/lm/lm.binary --trie ~/DeepSpeech/data/lm/trie --audio test.wav -t
I still get an error:
python3.6: can't open file 'deepspeech': [Errno 2] No such file or directory

[2019-06-11 10:16] lissyx commented on #2164
You should really follow the docs and use `virtualenv`, installing as root is not a good practice.

That's another issue now. What does `which deepspeech` and `ls -hal $(which deepspeech)` gives?

[2019-06-11 10:19] testdeepv commented on #2164
which deepspeech output : /usr/local/bin/deepspeech
'ls -hal $(which deepspeech)' gives : -rwxr-xr-x 1 root root 228 Jun 11 10:09 /usr/local/bin/deepspeech

[2019-06-11 10:20] lissyx commented on #2164
Can you paste its content ?

[2019-06-11 10:22] testdeepv commented on #2164
#!/usr/local/bin/python3.6

# -*- coding: utf-8 -*-
import re
import sys

from deepspeech.client import main

if __name__ == '__main__':
    sys.argv[0] = re.sub(r'(-script\.pyw?|\.exe)?$', '', sys.argv[0])
    sys.exit(main())

[2019-06-11 10:24] lissyx commented on #2164
@testdeepv Strange. Can you please properly uninstall and then reinstall, using your distro's Python/PIP and a virtualenv as we document ?

[2019-06-11 10:24] testdeepv commented on #2164
may be I have to install the gpu version of deepspeech ?

[2019-06-11 10:27] lissyx commented on #2164
No, it's unrelated.

[2019-06-11 10:28] lissyx commented on #2163
It would looks like this regressed between alpha 8 and alpha 9 cc @reuben:
[code]

[2019-06-11 10:30] lissyx commented on #2163
The only change to that part of the codebase on this range is commit d9a269412e492ca5046c9ab89f0547be51050159 cc @dabinat

[2019-06-11 10:36] testdeepv commented on #2164
when i did this and specify the deepspeech path  :
python3.6 /usr/local/bin/deepspeech --model ~/results/model_export/output_graph.pb --alphabet ~/Deepspeech/data/alphabet.txt --lm ~/DeepSpeech/data/lm/lm.binary --trie ~/DeepSpeech/data/lm/trie --audio test.wav -t
I get this :
Loading model from file ~/results/model_export/output_graph.pb
TensorFlow: v1.13.1-10-g3e0cc53
DeepSpeech: v0.5.0-alpha.11

[2019-06-11 10:46] lissyx commented on #2164
@testdeepv The warnings are harmless. It seems to work.

[2019-06-11 10:47] testdeepv commented on #2164
But I didn't get inferences :(

[2019-06-11 10:48] testdeepv commented on #2164
I have to convert my output_graph.pb like this or not ?
$ convert_graphdef_memmapped_format --in_graph=output_graph.pb --out_graph=output_graph.pbmm

[2019-06-11 10:50] lissyx commented on #2164
That just means your training was not enough. Hence why I insist on contributing to french model, because you are not the first one training and getting empty inferences, because of not enough data / training / improper parameters.

[2019-06-11 10:52] lissyx commented on #2164
@testdeepv If you need a model that works right now, there's no best solution than to train on top of english (not yet) released 0.5.0 and with other dataset, as documented in WIP PR https://github.com/Common-Voice/commonvoice-fr/pull/44 as well as https://discourse.mozilla.org/t/un-premier-modele-francais/41100/7

[2019-06-11 10:54] testdeepv commented on #2164
For the wav files in the test file I get inferences
![image](https://user-images.githubusercontent.com/51698388/59266432-ef7ca200-8c47-11e9-85a9-fa7d64dcbc12.png)

but when I want to test the exported model I don't get anything

[2019-06-11 10:55] lissyx commented on #2164
Please avoid posting screenshots, it's very hard to use. Again, that's expected bahavior. Without the full training log it's hard to be definitive, but it's really not surprising ...

[2019-06-11 11:00] reuben commented on #2163
Hi all, thanks for reporting. I've made a PR that should fix this: https://github.com/mozilla/DeepSpeech/pull/2165

[2019-06-11 12:06] lissyx commented on #2164
@testdeepv Should we close ?

[2019-06-11 12:24] GommeAntiLegit commented on #2129
The bindings are now finished and the pull request has been made.

[2019-06-11 12:33] lissyx commented on #2129
Issue should be closed once the matching PR lands :)

[2019-06-11 12:50] testdeepv commented on #2164
just a question concerning the amount of data to get good inferences (50 hours isn't enough ?)
getting more data is the best solution to avoid getting empty inferences ?

[2019-06-11 12:51] lissyx commented on #2164
Yes, 50 hours is way way way not enough.

[2019-06-11 13:01] lissyx commented on #2164
That and ensuring proper training. Since you have not shared your parameters, I can't tell if it also has a play in your case.

[2019-06-11 13:05] testdeepv commented on #2164
the command to train deepspeech.py :
python3.6 -u DeepSpeech.py --train_files ~/deepspeech_dataset/clips/train.csv --dev_files ~/deepspeech_dataset/clips/dev.csv --test_files ~/deepspeech_dataset/clips/test.csv --train_batch_size 80 --dev_batch_size 80 --test_batch_size 40 --n_hidden 1024 --epoch 50 --use_seq_length False --report_count 100 --remove_export True --checkpoint_dir ~/results/checkpoin

[2019-06-11 13:07] reuben commented on #2164
Are you saying when you run the client on the same audio files that are in your test CSV file, it gives different results than the training code?

[2019-06-11 13:17] testdeepv commented on #2164
my wave file was tested during the learning processin and it gives a result. but when I tried to test the same file with my exported model it gives me empty inferences...

[2019-06-11 13:19] lissyx commented on #2164
That should not happen. 50 hours and 10 epochs is obviously not enough, but if you test a file from the test set, you should get the same result.

[2019-06-11 13:21] testdeepv commented on #2164
I made epochs = 50 but the training process stopped after 10 epochs and I'm not getting the same result for the same file tested

[2019-06-11 13:25] lissyx commented on #2164
Could you share the full training log ?

[2019-06-11 13:35] testdeepv commented on #2164
tf.py_function, which takes a python function which manipulates tf eager
    tensors instead of numpy arrays. It's easy to convert a tf eager tensor to
    an ndarray (just call tensor.numpy()) but having access to eager tensors
    means `tf.py_function`s can use accelerators such as GPUs as well as
    being differentiable using a gradient tape.

WARNING:tensorflow:From /usr/local/lib/python3.6/

[2019-06-11 13:47] AASHISHAG commented on #2159
Closing the issue, since it was more related to the way (i.e. code) I splitted the data. I worked it out later with shell scripts. If anyone later finds a correct way to split the data using Python, please advice.

[2019-06-11 13:47] #2159 closed

[2019-06-11 14:18] lissyx commented on #2164
@testdeepv Can you ensure (sha1 fingerprint) that the alphabets are the same ?

[2019-06-11 14:20] testdeepv commented on #2164
didn't get what you mean by "(sha1 fingerprint)" :/

[2019-06-11 14:22] lissyx commented on #2164
`sha1sum alphabet.txt`

[2019-06-11 14:23] #2163 closed

[2019-06-11 14:26] testdeepv commented on #2164
this command gives :
17d3fd2c19e31be7fdda16f1355053f1b8ca4612  alphabet.txt

[2019-06-11 14:28] lissyx commented on #2164
Can your quadruple check you are absolutely using the same and the correct alphabet, lm.binary and trie files? 99.99% of the "empty inferences", outside of improper training, were related to that.

[2019-06-11 14:34] testdeepv commented on #2164
I made in alphabet.txt the french caracters
I generated lm.binary like this :
kenlm/build/bin/./lmplz --text ~/DeepSpeech/data/vocabulary.txt --arpa ~/DeepSpeech/data/words.arpa --o 5
kenlm/build/bin/./build_binary -T -s ~/DeepSpeech/data/words.arpa ~/DeepSpeech/data/lm/lm.binary
and generated trie like this :
~/tensorflow/bazel-bin/native_client/generate_trie ~/DeepSpeech/data/alphabet.txt ~/Deep

[2019-06-11 14:34] lissyx commented on #2164
Check what ?

How ?

[2019-06-11 14:36] testdeepv commented on #2164
`nano alphabet.txt` and then add alphabet

[2019-06-11 14:37] lissyx commented on #2164
And how did you made sure you covered everything that was in the dataset and in the language model source file ?

[2019-06-11 14:40] testdeepv commented on #2164
python3.6 check_characters.py -csv ~/deepspeech_dataset/clips/train.csv

[2019-06-11 14:45] lissyx commented on #2164
You could have generated the alphabet using that tool.

[2019-06-11 14:47] testdeepv commented on #2164
my alphabet.txt contains all the caracters gived by this command so I don't think that the empty inferences are caused by that

[2019-06-11 14:53] lissyx commented on #2164
No, but if you use two differently ordered alphabet for example, it might mess. We've got reports in the past of people messing around with alphabet files and getting empty results.

[2019-06-11 14:56] testdeepv commented on #2164
may be I have to use the deepspeech in the native client and not the one that I get by doing pip install.
The problem is that when using the native client "deepspeech" i got this error :
SyntaxError: Non-UTF-8 code starting with '\x83' in file deepspeech on line 2, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details
Is there a difference between using the native client "

[2019-06-11 14:57] lissyx commented on #2164
Well since i have not been able to understand what you did to get that error, and what you refer to as "native client deepspeech", I can't tell.

[2019-06-11 17:33] #2129 closed

[2019-06-12 02:00] mychiux413 commented on #2055
I've tried 0.5.0-alpha.11 with ~120GB dataset, the testing did work, so this issue could be closed, thanks for your help.

[2019-06-12 02:29] #2055 closed

[2019-06-12 13:38] lissyx commented on #1576
Work has resumed and is progressing on https://github.com/Common-Voice/commonvoice-fr/. Please check the Docker written for reproductibility https://github.com/Common-Voice/commonvoice-fr/blob/master/DeepSpeech/CONTRIBUTING.md as well as repo's releases.

[2019-06-12 13:38] #1576 closed

[2019-06-12 20:59] div5yesh opened #2169 "Speaker attribution and voice classification"
Enhancement: Speaker attribution and voice classification

- identify and label speakers against voices in the training set.
- cluster similar voices.

[2019-06-13 07:03] kdavis-mozilla commented on #2169
We can consider this, but generally we're narrowly focused on STT.

[2019-06-13 09:39] testdeepv opened #2170 "Error to generate trie : [native_client/ctcdecode/scorer.cpp:76] FATAL: "(access(filename, 4)) == (0)" check failed. Invalid language model path"
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
TensorFlow installed from (our builds, or upstream TensorFlow): mozilla tensorflow
TensorFlow version (use command below): tensorflow-gpu 1.13
Python version: 3.6
Bazel version (if compiling from source): 0.19.2
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version: 10.0
GPU model and memory: NVIDIA K80
Exact comma

[2019-06-13 09:43] kdavis-mozilla commented on #2170
Did you forget a forward slash?

vs

[2019-06-13 09:44] testdeepv commented on #2170
Oh yes ! thnx
sorry for posting that then !

[2019-06-13 09:54] testdeepv commented on #2170
I'm getting another problem :
I trained deepspeech on a specific french dataset and get an output_graph.pb.
my wave file was tested during the learning process and it gives a result. but when I tried to test the same file with my exported model "output_graph.pb" it gives me empty inferences...
This is the command I'm doing :
`python3.6 /usr/local/bin/deepspeech --model  ~/results/model_export/outp

[2019-06-13 09:57] kdavis-mozilla commented on #2170
As this seems to be moving into more of a conversation, I suggest we move it to [discourse](https://discourse.mozilla.org/c/deep-speech) as we try to reserve issues for bugs and/our feature requests.

[2019-06-13 09:59] #2170 closed

[2019-06-13 14:02] lissyx commented on #1968
Didn't we said in a meeting it's here but just not enabled by default for performance reasons ? @reuben

[2019-06-13 15:32] kjcole opened #2171 "Feature request: README.md unclear. Break into multiple documents?"
The `README.md` appears to have overlapping instructions. I'm a newbie, but it appears to suggest cloning this `git` repository, and installing the Python package via `pip` and downloading the pre-built binaries for the deepspeech command-line via `python3 util/taskcluster.py --target .`

Are all three steps necessary or are these different ways to accomplish similar tasks? (I get that the downloa

[2019-06-13 15:34] lissyx commented on #2171
@kjcole The README does have titles / sections, isn't it enough to give context depending on what is your need ? As much as I can remember, we made sure sections depending on use-cases were properly scoped and self-contained.

[2019-06-13 15:35] lissyx commented on #2171
e.g., you want to play with the inference ? https://github.com/mozilla/DeepSpeech#using-a-pre-trained-model

you want to train a model ? https://github.com/mozilla/DeepSpeech#training-your-own-model

[2019-06-13 15:39] lissyx commented on #2171
@kjcole Still, if you have suggestions / proposal on how to re-organize, do not hesitate to share input or open a PR.

[2019-06-13 15:49] div5yesh commented on #2169
Transcription that also label the speakers in the audio for each word or dialogue duration can have useful applications and would relate to metadata for STT.

So maybe having a `contrib` repo, that is an extension to STT which will host features that are related to speech in general. But would result in a powerful DeepSpeech library to cater all kinds of speech related problems.

What do you think

[2019-06-13 16:10] kjcole commented on #2171
Perhaps it's just my old brain and old eyes. Yes, I saw the section headings. For now, I'm only talking about playing with the interface, not training a model.

["Getting the code"](https://github.com/mozilla/DeepSpeech#getting-the-code) seems to be a prerequisite for ["Using the command-line client"](https://github.com/mozilla/DeepSpeech#using-the-command-line-client) since it uses `util/taskclus

[2019-06-13 16:19] lissyx commented on #2171
That re-ordering might be tricky, it really is a judgement depending on your own needs. For some people, the very first need is like yours, for some others, it's really training. So I don't really have an opinion as to whether a re-ordering is needed and which proper order is perfect.

That's about right yes

Or a different perspective: we know it well, it all seem obivous to us, but that does not

[2019-06-13 18:28] reuben commented on #1968
Yes, full logging of variables and gradients slows down our training significantly. I'm planning to make the logging more useful by default but haven't had the time to work on it.

[2019-06-14 08:35] kdavis-mozilla commented on #2169
@div5yesh A `contrib` repo is a reasonable idea. But the we still have to consider the bandwidth required for review and tests of `contrib` code and how`contrib` is updated across non-backward compatible releases.

What's your take @reuben and @lissyx?

[2019-06-14 08:57] lissyx commented on #2169
I have a hard time figuring out exactly how those pieces would have to stick together. IMHO, my experience with such kind of contrib repo is really mixed feelings: often broken, badly maintained. Provides poor user / dev experience, generates frustrations. I understand the need for the feature, but it requires extending the API. How would a contrib repo, in the end, should be integrated to provide

[2019-06-14 09:03] lissyx opened #2172 "ElectronJS URL deprecated"
https://github.com/electron/electron/commit/e73a0e6cc66665d83242e263bc8718c42ffd7c7e

[2019-06-14 09:51] lissyx commented on #2014
That's done now.

[2019-06-14 09:51] #2014 closed

[2019-06-14 11:19] #2172 closed

[2019-06-14 12:22] SantosSi opened #2175 "native_client: make clean lacks bindings-clean target"
v0.5.0 does not execute make clean in the native_client subfolder. It looks for bindings-clean, but that is not found.

[2019-06-14 12:33] lissyx commented on #2175
That's a left-over of era before moving bindings target into their own `Makefile`

[2019-06-14 12:34] lissyx commented on #2175
@SantosSi Do you mind opening a PR to fix that ?

[2019-06-14 13:24] lissyx commented on #2171
@kjcole Could you open a PR with a re-ordering that makes more sense to you ?

[2019-06-14 14:32] lissyx commented on #1888
Closing for lack of activity, issue is being diagnosed.

[2019-06-14 14:32] #1888 closed

[2019-06-14 15:32] #1912 closed

[2019-06-16 00:46] akhilvasvani opened #2177 "OSError with Common Voice 2 importer"
I am trying to convert the .mp3 and .tsv files in common voice 2 to .csv files using the 'import_cv2.py' file.

I used the command (alphabet textfile, the mp3 files, and tsv files are all in the clips folder (as per the instructions on the main page):

```python3 bin/import_cv2.py --filter_alphabet data/alphabet.txt data/CV/en/```

and got back
[code]
Did I download something incorrectly? Am I doi

[2019-06-16 06:57] akhilvasvani opened #2178 "What happens if I run DeepSpeech with CUDA 10.1.105 instead of 10.0.103?"
Will deepspeech even run? Can I upgrade?

[2019-06-16 07:38] lissyx commented on #2178
Please use discourse for this kind of question. CUDA 10.1 is not compatible with 10.0.

[2019-06-16 07:38] #2178 closed

[2019-06-16 07:39] lissyx commented on #2177
Are you sure the path is correct? Do you reproduce with full path instead of relative? Is that latest cv release from this week?

[2019-06-16 07:42] akhilvasvani commented on #2177
The path is correct. I was already in the root directory. And yes, this is the latest data I downloaded from [here](https://voice.mozilla.org/en/datasets)

[2019-06-16 07:43] akhilvasvani commented on #2177
What should I do?

[2019-06-16 07:59] lissyx commented on #2177
Well if you can ensure the file is missing in the tarball and its actually referenced in the tsv files, then that's not an importer bug but a common voice release issue.

[2019-06-16 11:02] kdavis-mozilla commented on #2177
@akhilvasvani Is this the recent "en_1085h_2019-06-12" release of Common Voice?

[2019-06-16 13:33] zhjy8827 commented on #1935
在字母表的最后加一行空行,我的是这么解决的

[2019-06-16 16:25] akhilvasvani commented on #2177
@kdavis-mozilla, yes

[2019-06-16 16:40] akhilvasvani commented on #2177
@lissyx, as for proof here is what I can offer:
[code]

So it does not find the missing file. I located another file just for comparsion. And in the first row of the 'train.tsv' file:
client id | path

2cd9a591b669f14a0b7c039f087c902dc075c19a1be9bb23c8e0fecff255f5be36fb3d72c118c972c00def21b62b1df550f2205eaea066cfb70ef4f4f4e152f7 | 36e1606224ac9671de8435737cd8828fc910b8f841de83ef421be74b734248b5f52

[2019-06-16 18:17] kdavis-mozilla commented on #2177
@akhilvasvani Unfortunately, there is a bug with the Common Voice data. Could you file a bug with [voice-web](http://github.com/mozilla/voice-web)? Thanks for reporting!

[2019-06-16 18:17] #2177 closed

[2019-06-16 18:37] akhilvasvani commented on #2177
Will do. Thanks.

[2019-06-17 11:39] reuben opened #2179 "Update list of included ops/kernels in libdeepspeech after updating prodmodel with 0.6.0 changes"
We have at least one op that is included in the build so that prod tests can run, but isn't needed anymore (assign).

[2019-06-17 14:23] AkshitKhajuria commented on #1354
Hi @bolt163 , I'm also facing a similar problem, while the gpu memory usage is high, the volatile gpu utilisation is almost none. Can't have that.
Could you explain what does the --display_step and --validation_step mean? Could be very helpful.

[2019-06-17 14:51] lissyx commented on #1354
As documented, they are indicating when the process of display and validation should be done.

Without more informations on your context, it's complicated to be definitive on a root cause here.

[2019-06-17 16:22] AkshitKhajuria commented on #1354
Wow, that was a fast reply.
Deep learning and tensorflow noob here.
I'm training a model with a batch size of 10000. The processes do show up in the gpu's with almost all of the memory being used on gpu 0, but almost zero utilisation, ocassionally fluctuating between 0 and 1.
![Screenshot from 2019-06-17 21-35-55](https://user-images.githubusercontent.com/46970219/59619425-18b99880-9148-11e9-8cdf-

[2019-06-17 16:32] lissyx commented on #1354
That's not just about the size, it depends on your data. Batch size this big, it feels weird. Make sure you have tensorflow-gpu properly installed (if all gpu memory is allocated by a python process it should be okay but still). And then what is made of your dataset? Batch size 64 is the max I can get for French with common voice and a few other dataset, on RTX2080Ti GPUs (11GB RAM)

[2019-06-17 17:09] tilmankamp opened #2180 "Add wav_filename to result set in evaluation.py"
The `wav_filename` field can then be used to find the original samples of WER report entries and to play samples from within generated HTML reports.

[2019-06-18 12:44] iamxiaoyubei opened #2182 "Would you mind tell me the WER of librispeech datasets? thanks"
Would you mind tell me the WER of librispeech datasets(dev-clean/dev-other/test-clean/test-other/or both of them?) for ASR task? Thank you~

[2019-06-18 13:20] kdavis-mozilla commented on #2182
We have indicated librispeech test-clean WER in the release notes. We have not computed the WER for datasets(dev-clean/dev-other/test-other) The release also contains a command line tool for you to find the others yourself.

[2019-06-18 13:20] #2182 closed

[2019-06-18 13:40] RegaliaXYZ opened #2183 "Allow for different audio samplerate"
It would be really nice to allow lower samplerates like 8kHz, which is really popular for telecommunication, for DeepSpeech.

[2019-06-18 14:53] lissyx commented on #2183
That's already possible, can you explain more why you filed the issue ?

[2019-06-18 15:20] lissyx commented on #2169
We're not saying it's not useful :)

Well, we have a `Metadata` exposed struct that you might be able to extend and experiment with if you are interested.

[2019-06-18 15:33] RegaliaXYZ commented on #2183
I didn't see that it was possible, do you only need to modify the samplerate in flags.py ?

[2019-06-18 15:38] reuben commented on #2183
You need to call the API directly or modify the clients, as they don't support different sample rates. Also, if you're using TFLite, you'll need to change the code and recompile libdeepspeech.so.

[2019-06-18 15:38] reuben commented on #2183
And yes, you should also specify `--audio_sample_rate` when exporting the model.

[2019-06-19 07:59] bopjesvla opened #2185 "WER shoots up when retraining the pretrained model for an additional epoch on Libri"
This bug was discussed here with @lissyx: https://discourse.mozilla.org/t/wer-shoots-up-when-retraining-the-pretrained-model-for-an-additional-epoch-on-libri/41062

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **TensorFlow installed from (our builds, or up

[2019-06-19 10:04] andysharma1997 opened #2186 "not getting transcripts"
I am running DeepSpeech 0.5.0 on the released trained model on released voice samples referring https://github.com/mozilla/DeepSpeech/releases . While passing the audio file i am not getting any transcriptions. The log is
~/DeepSpeech$ deepspeech --model deepspeech-0.5.0-models/output_graph.pbmm --alphabet deepspeech-0.5.0-models/alphabt.txt --lm deepspeech-0.5.0-models/lm.binary --trie deepspeech

[2019-06-19 14:08] reuben commented on #2185
Can you reproduce this on 0.5.0?

[2019-06-19 15:31] lissyx commented on #2186
@andysharma1997 Do you mind sharing more context on your setup ?

[2019-06-19 23:02] reuben opened #2187 "Update to TF 1.14.0"

[2019-06-20 10:42] andysharma1997 commented on #2186
I am running DeepSpeech 0.5.0 using "The command-line client"  on Ubuntu 18.04.2 LTS.
I am using
libsox3(for Ubuntu 18.04.2 libsox2 was not available)
libstdc++6
libgomp1
libpthread
TensorFlow version v1.13.1-10
I am not using GPU on my linux or any any other command related to GPU
source code is taken from v0.5.0.tar.gz
Trained model used is deepspeech-0.5.0-models.tar.gz
Example audio files on w

[2019-06-20 12:32] kdavis-mozilla commented on #2186
Dumb question but what happens if you quote the path
[code]
entering it on the command line as
[code]

[2019-06-20 14:02] lissyx commented on #2186
What source code are you referring to? There's no need to rebuild

[2019-06-20 19:23] ftyers opened #2188 "commonvoice import script appears to rely on a dependency which is not installed by the installation process"
I'm trying to set up DeepSpeech to work with the Tatar data from common voice. I managed to install/compile the code following the instructions, but when I try and use the python script to import data from CommonVoice I get an import error with  `libcublas.so.9.0`.

[code]

[2019-06-20 19:36] reuben commented on #2188
This looks like you installed `tensorflow-gpu` in a system that doesn't have CUDA installed. The error being about CUDA 9 also indicates it's an older version of TF. Try uninstalling `tensorflow-gpu` and installing `tensorflow`.

[2019-06-20 19:48] ftyers commented on #2188
I have CUDA and there is a GPU.

[code]

[2019-06-20 19:50] ftyers commented on #2188
Solved the problem, I had `pip3 install 'tensorflow-gpu==1.6.0'` not `pip3 install 'tensorflow-gpu==1.13.1'`. I need to update my documentation :) Thanks!

[2019-06-20 19:50] #2188 closed

[2019-06-20 19:55] reuben commented on #2188
:)

[2019-06-20 20:45] dabinat commented on #2186
It looks like there is a typo in your command:

[code]

I get the same result if I change `--alphabet` to a path that doesn't exist. DeepSpeech should be showing an error message here.

[2019-06-20 22:46] ftyers commented on #1954
@JRMeyer @reuben would a reasonable solution to this be to switch to argparse, and read the options (failing on non-existing ones and value checking them) and then put them into `tf.app.flags.FLAGS` ?

[2019-06-21 06:35] ftyers commented on #1954
@Adenov94 could you see if this PR that has been merged fixes the issue?

[2019-06-21 23:03] lissyx commented on #2186
@andysharma1997 Can you please confirm that the issue was because of the typo reported by @dabinat ?

[2019-06-21 23:06] lissyx commented on #2164
@testdeepv Can you update us ? Is there still a legit issue here or was it just an improper setup ?

[2019-06-22 09:25] perilbrain opened #2196 "Make pre trained model available on torrent"
I have been trying to download pre-trained model for last one month but not a single time I succeeded. Such big files are good candidates for torrent sharing because of two major reasons

1. Allows resuming downloads.
2. Takes away load from main server because of peer to peer sharing which is quiet economical for open source project.

Here are some problems I have been facing while downloading:
1

[2019-06-23 18:34] rhamnett commented on #2183
I updated the python client to make this a little bit easier https://github.com/mozilla/DeepSpeech/pull/2199

[2019-06-23 19:02] rhamnett commented on #2185
Tried this myself on a stock 0.5.1 with only librivox CLEAN sets only. Can't reproduce

[2019-06-23 19:39] rhamnett commented on #2164
The original problem is simply that he is calling python on "deepspeech" not "DeepSpeech.py" !!

python3.6 deepspeech --model ~/results/model_export/output_graph.pb --alphabet ~/Deepspeech/data/alphabet.txt --lm ~/DeepSpeech/data/lm/lm.binary --trie ~/DeepSpeech/data/lm/trie --audio test.wav -t

needs to be

python3.6 DeepSpeech.py --model ~/results/model_export/output_graph.pb --alphabet ~/Deepsp

[2019-06-23 19:41] reuben commented on #2164
`deepspeech` likely refers to the binary installed when you install the Python package (client.py), rather than DeepSpeech.py (which doesn't accept those parameters and would fail earlier).

[2019-06-23 20:09] kartikeysharma12321 opened #2201 "AttributeError: 'exceptions.KeyError' object has no attribute 'with_traceback'"
I have been trying to train the DeepSpeech model for Chinese language. I have changed the "alphabet.txt" file as per the transcription of the audio. I have downloaded the  dataset from Mozilla's CommonVoice corpus. I am trying to bring this data into a form that DeepSpeech understands since the dataset after extraction consists of  *.tsv files and .mp3 files (by running (bin/import_cv2.py) -

kart

[2019-06-23 23:30] rhamnett commented on #2169
I'd also be interested in this

[2019-06-24 07:56] kdavis-mozilla commented on #2201
As this looks to be more of a conversation than filing a bug or feature request, could you move this request to [discourse](https://discourse.mozilla.org/c/deep-speech) please? We want to reserve issues for bugs and/or feature requests. Thanks.

[2019-06-24 10:05] lissyx commented on #2196
Technically nothing stops from supporting resuming download, it's been working fine downloading from Github for me.

We don't have any tracker and we don't control AWS hosting, it's Github's hosting.

It's a different project, and the issue has already been raised, you can check on Discourse the discussion. What stopped from doing it for Common Voice, however, is not valid for us, so it might be p

[2019-06-24 12:14] #2201 closed

[2019-06-24 12:26] lissyx commented on #2201
Also python 2.7 is not supported anymore for training

[2019-06-24 14:45] testdeepv opened #2202 "Audio files for Deepspeech"
Can we train Deepspeech on audio files longer than 10 seconds (and less than one minute) ?

[2019-06-24 14:48] #2164 closed

[2019-06-24 14:53] lissyx commented on #2202
This is not a bug, rather a question. Please use Discourse for that: https://discourse.mozilla.org/c/deep-speech

[2019-06-24 14:53] #2202 closed

[2019-06-24 20:23] ksteimel opened #2204 "Default train batch size set to 1"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: Upstream tensorflow
- **TensorFlow version (use command below)**: 1.13.1 (v1.13.1-0-g6612da8951)
- **Python version**:  3.6.8
- **Bazel version

[2019-06-24 21:27] reuben commented on #2204
There's no better default we can use. A higher value will cause OOMs on people with low RAM. Training a model is not supposed to be a drag and drop thing, you're expected to tune the hyperparameters as appropriate for your data/system/use case.

[2019-06-24 21:46] ftyers commented on #2204
@reuben this tripped us up today. Perhaps there are some other options:

1. print a warning if people have a batch size of one?
2. make `--train_batch_size` a mandatory argument ?  -- if people are expected to change it, maybe it shouldn't have default ?

I agree that expecting people to tune the hyperparameters is reasonable, but I think that there is possibly a way to save people time by anticip

[2019-06-24 21:47] reuben commented on #2204
Removing the default seems reasonable.

[2019-06-24 21:51] reuben commented on #2204
https://github.com/mozilla/DeepSpeech/pull/2205

[2019-06-25 04:44] alchemi5t opened #2206 "Error: Trie file version mismatch (4 instead of expected 3). Update your trie file."
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:  pip installed pre-compiled binary for 1.13.1
- **TensorFlow version (use command below)**:'1.13.1'
- **Python version**: 3.6.8
- **Bazel versi

[2019-06-25 04:59] dabinat commented on #2196
It seems to me that anyone could put up a torrent so it doesn't necessarily need to be done officially by Mozilla.

[2019-06-25 05:06] kdavis-mozilla commented on #2196
@dabinat Yes.

However, the download statistics are used within Mozilla as a measure of this project's success. So, if the statistics are significantly curtailed as a result of using a torrent, management will think the project isn't healthy and make project cuts.

So if we use a torrent, then we'll need to do so in a manner that maintains some notion of download statistics. I think @reuben has so

[2019-06-25 08:14] kdavis-mozilla commented on #2206
Does your master include the commit 0ea5804?

[2019-06-25 08:32] alchemi5t commented on #2206
@kdavis-mozilla yes. Let me explain what all i've done.

1) git lfs clone <repo>
2) have all the pre-reqs
3) preprocessed the datasets
4) run "CUDA_VISIBLE_DEVICES=0 python DeepSpeech.py --train_files ../et/clips/train.csv --dev_files ../et/clips/dev.csv --test_files ../et/clips/test.csv"

[2019-06-25 08:39] lissyx commented on #2206
Can you check ?

[code]

[2019-06-25 08:46] alchemi5t commented on #2206
$ sha1sum lm.binary trie

098c71d7f720ff1842650881e2e3ebb9d18bd7d3  lm.binary
5f2c59596a977779f27869768e544c82e840290f  trie

[2019-06-25 08:48] lissyx commented on #2206
@alchemi5t What's your `ds_ctcdecoder` version? `pip list`

[2019-06-25 08:51] alchemi5t commented on #2206
ds-ctcdecoder==0.6.0a0

[2019-06-25 08:53] lissyx commented on #2206
Ok, can you pick the wheel matching your python version on https://tools.taskcluster.net/index/project.deepspeech.deepspeech.native_client.master/cpu-ctc and retry ?

[2019-06-25 08:55] lissyx commented on #2206
`pip install --upgrade <URL>` with `<URL>` being one of those package on https://tools.taskcluster.net/index/project.deepspeech.deepspeech.native_client.master/cpu-ctc

[2019-06-25 08:56] alchemi5t commented on #2206
@lissyx got it. on it. will reply as soon as done.

[2019-06-25 09:06] alchemi5t commented on #2206
HOLY $***!! @lissyx that actually worked! Thanks a ton, mate!

[2019-06-25 09:07] lissyx commented on #2206
Thanks, so we need to release a new alpha then.

[2019-06-25 09:09] alchemi5t commented on #2206
yep!
pip install --upgrade https://index.taskcluster.net/v1/task/project.deepspeech.deepspeech.native_client.master.cpu-ctc/artifacts/public/ds_ctcdecoder-0.6.0a0-cp36-cp36m-manylinux1_x86_64.whl

for python 3.6 if anyone needs it.

[2019-06-25 09:09] #2206 closed

[2019-06-25 09:11] lissyx commented on #2206
Thanks, I just pushed the `v0.6.0-alpha.1` tag so it should be properly handled as soon as the builds finished.

[2019-06-25 09:42] miguel-negrao opened #2208 "issue with building v0.5.1"
Hi

I'm having trouble building v0.5.1 libdeepspeech.so.

- Linux debian testing amd64
- bazel: **Build label: 0.19.2**
- deepspeech repo: commit 4b29b78832036216b53f59b953639bde7cde7dfe (HEAD, tag: **v0.5.1**)
- tensorflow: commit 93dd14dce2e8751bcaab0a0eb363d55eb0cc5813 (HEAD -> for_deepspeech, **origin/r1.13**)

Directory structure

./deepspeech
./tensorflow
./tensorflow/nativeclient -> ../deep

[2019-06-25 10:05] miguel-negrao opened #2209 "building libdeepspeech with deepspeech as a git submodule"
Hi

It seems it is not possible to build libdeepspeech if deepspeech is a submodule of another git repo, as there won't be a .git folder in the deepspeech folder.

[code]

- Linux debian testing amd64
- bazel: **Build label: 0.19.2**
- deepspeech repo: commit 4b29b78832036216b53f59b953639bde7cde7dfe (HEAD, tag: **v0.5.1**)
- tensorflow: commit 93dd14dce2e8751bcaab0a0eb363d55eb0cc5813 (HEAD -> for_

[2019-06-25 10:08] miguel-negrao commented on #2208
The issue is solved if I comment the offending lines:

[code]

In any case, it should be possible to compile the library without any changes to the config file...

[2019-06-25 10:14] lissyx commented on #2208
Is this from https://github.com/mozilla/tensorflow ? Because this commit does not match any of the `mozilla/tensorflow r1.13` ...

[2019-06-25 10:16] lissyx commented on #2209
@miguel-negrao Unfortunately, this is not a setup that we have, so it's not surprising it is broken. You might want to check and fix `native_client/ds_git_version.sh` for that.

[2019-06-25 10:18] miguel-negrao commented on #2208
Ah, no, it was from the original tensorflow repo. Sorry, I swear I did read the readme. :-)

[2019-06-25 10:18] #2208 closed

[2019-06-25 10:18] lissyx commented on #2208
Is it that you missed reading at the proper place, or is there improvement that could be done to doc ?

[2019-06-25 10:19] lissyx commented on #2209
Be aware this is tricky because of how `bazel` works ...

[2019-06-25 10:26] lissyx commented on #2209
It seems that there won't be a **`.git` folder** but there is a **`.git` file** that points to the folder

[2019-06-25 10:34] lissyx commented on #2209
@miguel-negrao Can you share the content of `.git` file for `deepspeech` and `tensorflow` repos?

[2019-06-25 10:36] lissyx commented on #2209
Also, can you apply this patch, then in tensorflow directory do `bazel-genfiles/native_client/ds_*`, and then rebuild? You should have newer `bazel-genfiles/native_client/ds_version.h`, can you share?
[code]

[2019-06-25 10:55] lissyx commented on #2209
@miguel-negrao Hopefully https://github.com/mozilla/DeepSpeech/pull/2210 would work in your case, can you check it ?

[2019-06-25 11:17] miguel-negrao commented on #2209
Was also working on a patch. :-) Will test your patch. I guess I will have to cherry-pick for v0.5.1.

[2019-06-25 11:29] miguel-negrao commented on #2208
No improvements needed, I just didn't read carefully enough. :-)

[2019-06-25 11:34] lissyx commented on #2209
Thanks. Also it'd be important to make sure `native_client/ds_graph_version.sh` needs or not this (it should not).

[2019-06-25 11:39] reuben commented on #2204
So #2205 turned out not to be a working approach as we have execution flows through DeepSpeech.py where the batch size flags are optional. If anyone has a better idea on how to fix this in a clean way, feel free to propose it.

[2019-06-25 12:11] miguel-negrao commented on #2209
It compiled but it didn't pick the versions correctly:

[code]

           DS_GIT_DIR=$(realpath "$(grep '^gitdir:' .git | cut -d':' -f2)")

I think this will not work as the path inside the file is relative to that directory which will not match cwd. I think you need to build the path by placing the output of $(realpath "$(grep '^gitdir:' .git | cut -d':' -f2)")  after `$(dirname "$(realpath "$0"

[2019-06-25 12:14] miguel-negrao commented on #2209
Actually `pushd $(dirname ${TF_GIT_DIR})` should take care of that...

To test the script directly where should cwd be and what should $0 be ?

[2019-06-25 12:23] lissyx commented on #2209
that's dependant on bazel, that's exactly why I was fearing it would be tricky

[2019-06-25 12:24] miguel-negrao commented on #2209
Ok, one thing is you need to do `cut -d'  ' -f2` instead of `cut -d':' -f2` otherwise you get a space at the start of the subpath.

[2019-06-25 12:28] lissyx commented on #2209
It should not be a problem, `realpath` should be able to deal with that ... With what got populated `$TF_GIT_DIR` and `$DS_GIT_DIR` in your case ? You can add `// ${TF_GIT_DIR}` and `// ${DS_GIT_DIR}` to the top of the `ds_version.h` generation in the script, remove the header and re-run.

[2019-06-25 12:28] lissyx commented on #2209
Just to make sure, did you removed that file and ensured it was properly removed ? Bazel won't re-generate it if it exists.

[2019-06-25 12:34] miguel-negrao commented on #2209
With the change from : to ' ' the script itself seems to work:

[code]
But it seems the build itself fails. Possibly the script is not being run with bash ? it seems not to find pushd and popd.

[code]

If I delete the file and tun build again, I get the same issue.

[2019-06-25 12:39] lissyx commented on #2209
Yeah, shebang is /bin/sh. Can you change it and confirm it works on your side ?

Looks odd to me, but ... I'll update my PR, can you re-apply from scratch and re-confirm after ?

[2019-06-25 12:39] miguel-negrao commented on #2209
[code]

[2019-06-25 12:41] lissyx commented on #2209
Yeah, but:
 - I'm not sure `dash` provides `pushd`/`popd`
 - It' bad practice asking for `/bin/sh` and running `bash`-compatible and expecting it to work

[2019-06-25 12:47] lissyx commented on #2206
Builds finished, it should be transparent now following the docs. Thanks @alchemi5t for reporting.

[2019-06-25 12:50] miguel-negrao commented on #2209
text inside file is `gitdir: ../../.git/modules/libraries/tensorflow`
with -d':'  you will get ` ../../.git/modules/libraries/tensorflow` (leading space)
with -d' ' you will get  `../../.git/modules/libraries/tensorflow`

I can confirm that changing to `/bin/bash` compiling works and generates correct versions. Also I can confirm that git versions are not generated with ':' but are generated with

[2019-06-25 12:54] lissyx commented on #2209
Maybe I was not passing quotes when testing that. Anyway, I did re-push my PR with proper `-d ' '` and `/bin/bash` shebang, can you ensure you reproduce proper build from scratch after applying this one?

[2019-06-25 12:57] miguel-negrao commented on #2209
Sorry, still not working because I forgot to mention one issue: you need to silence pushd and popd:

    pushd $(dirname ${DS_GIT_DIR}) > /dev/null
    popd > /dev/null

Currently 81a09cc doens't build because of that.

[code]

[2019-06-25 12:59] lissyx commented on #2209
Oh yeah, forgot that. I told you it was tricky :)

[2019-06-25 13:00] miguel-negrao commented on #2209
yeah, I know... :-)

[2019-06-25 13:01] lissyx commented on #2209
Re-pushed, sorry, should now be okay.

[2019-06-25 13:03] miguel-negrao commented on #2209
fd156a6 is working fine. Thanks a lot for looking into this !

[2019-06-25 13:05] lissyx commented on #2209
I'll wait for taskcluster build to finish and merge, but you can already cherry-pick that

[2019-06-25 13:05] miguel-negrao commented on #2209
Will this go into v0.5.2 (when that is released) ?

[2019-06-25 13:07] lissyx commented on #2209
No, there won't be any v0.5.2, it will be part of v0.6.0

[2019-06-25 16:16] #2209 closed

[2019-06-25 16:17] reuben commented on #2209
How can I test this scenario?

[2019-06-25 16:44] MaxPowerWasTaken opened #2211 ""UnknownError: Failed to get convolution algorithm" from ./bin/run-ldc93s1.sh"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: PopOS (Ubuntu derivative) 18.10
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: pip commands from DeepSpeech Readme: `pip3 uninstall tensorflow && pip3 install 'tensorflow-gpu==1.13.1'`
- **Te

[2019-06-25 16:49] lissyx commented on #2211
I could argue that it's working fine for a lot of other people ...

This hides CUDA devices, have you tried without that ?

[2019-06-25 16:53] lissyx commented on #2211
This is really not a DeepSpeech level error.

[2019-06-25 16:54] MaxPowerWasTaken commented on #2211
Hi lissyx, thanks for the quick reply! I did not mean to sound argumentative, I only included "this appears to be a bug to me" because the prompt I was shown for filling out an issue included "Please describe the problem clearly. Be sure to convey here why it's a bug or a feature request."

I will try to override that `export CUDA_VISIBLE_DEVICES=0` now, thanks for the suggestion.

[2019-06-25 16:56] lissyx commented on #2211
Yeah, but at some point, we can't reproduce the error, and it's tensorflow-level error, so I'm sorry but when people start mixing unsupported CuDNN version in the mix, it's really not easy to help ...

[2019-06-25 16:57] lissyx commented on #2211
There's also an upstream issue: https://github.com/tensorflow/tensorflow/issues/24828

[2019-06-25 16:58] lissyx commented on #2211
Two seconds of googling would unveil that and you could try some of the fix some people are reporting to work.

[2019-06-25 17:00] lissyx commented on #2211
@MaxPowerWasTaken You can notice that the proposed documented fixes are posterior to the original issue you refer to, and that it seems to be related to a GPU memory issue when some other processes are using it.

[2019-06-25 17:01] perilbrain commented on #2196
@lissyx

Initially it was not resuming I don't know if wget was not considering `-c` flag or what, but it used to hang among some of the redirections. Anyway I was able to download in 9 continued trials with a bash scripts.

@kdavis-mozilla

Of course we understand downloads could be a parameter for evaluation and overcoming that decision is challenging for developers, yet, a very large number of

[2019-06-25 17:10] MaxPowerWasTaken commented on #2211
Hi lissyx, I assure you I've spent more than two days trying to get past this error before filing this issue and have read many many threads on github, discourse, and nvidia devtalk. The Tensorflow issue you pointed to is full of complaints about cuda 9.0 with tensorflow 1.12 and multiple suggestions to downgrade to tf 1.8. Since (per DeepSpeech) I am running cuda 10.0 and tf 1.13, that doesn't se

[2019-06-25 17:11] reuben commented on #2211
Are you using conda in the same system? It has a tendency to break everything that doesn't use the conda installed packages/tools. Check that you're not loading CUDA/cuDNN/NCCL from Conda instead of the upstream installs.

[2019-06-25 17:12] lissyx commented on #2211
And the presumption that we closed without caring is also inaccurate. People report issue that we don't reproduce, with unsupported CuDNN version, half of the required information are not filled, how can you expect to be able to help then ?

Some suggestions seems to apply to multiple versions. Have you tried it?

Well, I'm just inferring from the above TensorFlow issue and the behavior of TensorF

[2019-06-25 17:32] MaxPowerWasTaken commented on #2211
Ok thanks for the links and suggestions lissyx and reuben. Based on your suggestions and links, I will try the following things and then report back:

- change `export CUDA_VISIBLE_DEVICES=0` to `export CUDA_VISIBLE_DEVICES=1` (though I'm not sure where yet, but should be able to figure out quickly)
- creating a new venv with tf-gpu downgraded to 1.8
- "allow gpu memory growth" with...
[code]
- re

[2019-06-25 17:34] lissyx commented on #2211
Don't, it's not going to work

this code might need to be adjusted, it seems to be for TensorFlow v2

[2019-06-25 17:35] lissyx commented on #2211
Idon't know what `miniconda` might do, but it's indeed recurrent we got people with issues using this.

[2019-06-25 18:06] MaxPowerWasTaken commented on #2211
So update (good news, and a question):
 - changing `export CUDA_VISIBLE_DEVICES=0` to `export CUDA_VISIBLE_DEVICES=-1` worked!

But I made that change within DeepSpeech's script `./bin/run-ldc93s1.sh`, and the comment above suggests that's because training that dataset (a single audio clip) wouldn't work on GPUs:
[code]
But the DeepSpeech readme suggests using that script to train on GPUs. Should

[2019-06-25 18:09] reuben commented on #2211
That line does not need to be edited first, we run it without changes on systems with and without GPUs with no problems.

[2019-06-25 18:27] MaxPowerWasTaken commented on #2211
Interesting, I wonder why in my case it's necessary. I just confirmed that with original `/bin/run-ldc93s1.sh` I get the original error I posted, and that once again changing that single line of code and rerunning `/bin/run-ldc93s1.sh` trains successfully.

Just out of curiosity, do you run/test deepspeech on any RTX-series GPUs? I read somewhere today that the RTX 2060/2070 seem to be implicated

[2019-06-25 18:34] lissyx commented on #2211
Yes, I'm frequently training on RTX2080TI. have you tried the growth option?

[2019-06-25 18:36] MaxPowerWasTaken commented on #2211
Interesting. I have not tried the growth option yet after the updating `CUDA_VISIBLE_DEVICES` solved my issue, but I will try it soon (with `CUDA_VISIBLE_DEVICES=0`) and report back here.

[2019-06-25 18:37] reuben commented on #2211
I don't think that change is solving your issue, it's just hiding all GPUs and thus disabling use of CUDA entirely.

[2019-06-25 18:38] lissyx commented on #2211
Let's wait for this, because I don't buy this solution. As reuben said, we do train successfully this script...

[2019-06-25 19:23] MaxPowerWasTaken commented on #2211
Ok I tried to set allow_growth to True, but I'm still getting the same error with `CUDA_VISIBLE_DEVICES=0`. It's possible I am setting allow_growth wrong, but I don't think I am?

Since `./bin/run-ldc93s1.sh` calls `python -u DeepSpeech.py` and `DeepSpeech.py` imports the session config from utils/config.py, I tried the following:

- add `c.session_config.gpu_options.allow_growth = True` directly

[2019-06-25 19:56] MaxPowerWasTaken commented on #2211
Ok finally got it to work (still with `CUDA_VISIBLE_DEVICES=0`) by updating an environment variable. I added: `os.environ['TF_FORCE_GPU_ALLOW_GROWTH'] = 'true'` to top of DeepSpeech.py

...and now `./bin/run-ldc93s1.sh` trains without errors.

[2019-06-25 20:48] lissyx commented on #2211
So it would confirm it's this `allow_growth` and just that your way of setting it was wrong. i'd like to understand better what that option does, and if we should use it.

[2019-06-25 21:08] reuben commented on #2211
Just out of curiosity, could you share the output of `nvidia-smi` before and during the `bin/run-ldc93s1.sh` execution?

[2019-06-25 21:26] miguel-negrao commented on #2209
Possibly something like

[code]
and then building ?

[2019-06-25 21:37] miguel-negrao opened #2213 "difficulty buidling v0.5.1 on windows"
- Windows 10
   - installed msys2, vs 2015, python 3.6.8
   - bazel: Build label: 0.19.2
   - deepspeech repo: v0.5.1 + fd156a6
   - tensorflow: commit 93dd14dce2e8751bcaab0a0eb363d55eb0cc5813 (HEAD -> for_deepspeech, origin/r1.13)

Directory structure

    ./top_repo/libraries/deepspeech
    ./top_repo/libraries/tensorflow
    ./top_repo/libraries/tensorflow/nativeclient -> ./top_repo/libraries/d

[2019-06-25 22:04] carlfm01 commented on #2213
The issue here looks like E: needs admin privileges for writing, please try running the command with admin privileges.
Remove `--config=monolithic`, it says that duplicated configs may lead to unexpected behavior.

Try to use the recommended requirements, I don't know if vs 2015 setup is going to work. https://github.com/mozilla/DeepSpeech/tree/master/native_client/dotnet#prerequisites

[2019-06-25 22:58] miguel-negrao commented on #2213
The issue was because instead of creating a junction I had copied the folder native_client to tensorflow. I moved the folders to an ntfs drive and tried again, this time creating a junction. It now works without issue. Sorry for the noise.

[2019-06-25 22:58] #2213 closed

[2019-06-26 01:23] MaxPowerWasTaken commented on #2211
[code]
...
[code]

...100 epochs in, while still training, in another shell tab:
[code]

[2019-06-26 02:29] reuben commented on #2209
Yep, I figured it out, should have commented here after I got it working. I was making sure PR #2212 doesn't break things with submodules.

[2019-06-26 02:29] reuben commented on #2209
Thanks!

[2019-06-26 03:09] dabinat commented on #2204
Seeing as the batch size is dependent upon VRAM, perhaps DeepSpeech could detect the VRAM and automatically choose an appropriate value?

[2019-06-26 05:35] kdavis-mozilla commented on #2204
@dabinat This is not easy to do.

Someone may change the width of the network which would change the maximum batch size. Google may change the implementation of LSTM's which would change the maximum batch size. NVIDIA may change the implementation of LSTM's which would change the maximum batch size.... There are many other similar problematic scenarios.

It seems that this cure may be worse than t

[2019-06-26 11:53] BenXQ commented on #2211
Thanks !

[2019-06-26 13:58] lissyx commented on #2211
So from looking into tensorflow source code: `Grow GPU memory as needed at the cost of fragmentation`. I'm not a big fan of forcing that by default. And given the `nvidia-smi` outputs, I'm unsure why it failed in the first place.

@MaxPowerWasTaken Could you please do the `LD_DEBUG=all` thing, please? We still don't know if there's something else touching cudnn.

[2019-06-26 15:09] MaxPowerWasTaken commented on #2211
Hi Reuben,

Here's a link to my full log from rerunning `./bin/run-ldc93s1.sh ` after replacing `os.environ['TF_FORCE_GPU_ALLOW_GROWTH'] = 'true'` with `os.environ['LD_DEBUG'] = 'all'` in my DeepSpeech.py file:

https://gist.github.com/MaxPowerWasTaken/27a578bd7592077c9658af5981aab996

[2019-06-26 15:23] lissyx commented on #2211
Weird, there is no mention at all of `libcuda` or `libcudnn` being loaded. But close to the error, we can see some `miniconda3` libs being loaded and used:
[code]

@MaxPowerWasTaken Could you try to make a `conda`-free virtual environment ?

[2019-06-26 18:25] MaxPowerWasTaken commented on #2211
Hi lissyx,

I completely removed miniconda from my machine, then reran. I seem to be getting a very similar log, though confirmed no references to conda anymore.

https://gist.github.com/MaxPowerWasTaken/71366e8db01e2d07883548b4844a7700

[2019-06-26 18:40] lissyx commented on #2211
Can you try a different python version ? But at some point, I would really advise sharing that in an upstream issue.

[2019-06-26 19:12] reuben commented on #2211
Weird, there's no mention of libcudnn or any CUDA libraries at all in that log, like it's not even trying to load them.

[2019-06-26 19:15] Dl2oWn commented on #2211
Thank you! I've been dealing with this problem for a LONG time and this finally solved it.

[2019-06-26 19:16] lissyx commented on #2211
@MaxPowerWasTaken I guess a note in README would be a good PR at least, we've got already two people chiming in on your solution ...

[2019-06-26 19:39] MaxPowerWasTaken commented on #2211
Hi lissyx,

I ran with Python3.7. Happy to update my pipfile to another version if you have one in mind but I'm not optimistic it'll fix it?

I may chime in on one of the upstream tensorflow issues, but the issues I've found (one or two you linked to here) are closed and all proposed solutions seem to be either:
- setting memory_growth to true, or
- changing cuda or cudnn or tf version to somethin

[2019-06-26 19:41] lissyx commented on #2211
There is no such thing, we just point to TensorFlow's versions.

That could be a nice middle ground in the mean time, yes.

it seems pretty obvious to me the error message is misleading and there is another root in your case.

[2019-06-26 20:02] MaxPowerWasTaken commented on #2211
...this might be a key? So the DeepSpeech readme says "The GPU capable builds (Python, NodeJS, C++, etc) depend on the same CUDA runtime as upstream TensorFlow. Currently with TensorFlow 1.13 it depends on CUDA 10.0 and CuDNN v7.5."

But this TF page suggests installing cudnn7.6 (not 7.5) for tensorflow on gpu. Although that presumably refers to the tensorflow-gpu version on pypi, which is 1.14 no

[2019-06-26 21:15] lissyx commented on #2211
We did copy from the TensorFlow pages at the time of `r1.13`, after having numeral issues opened by people not using the proper version and not following our link to their docs. So except if we made a mistake or if they did, yes, it's much more likely that `r1.14` is the reason for `v7.6`.

Well you may have troubles with `ds_ctcdecoder` package, since it's built against `r1.13`, but that's the on

[2019-06-27 10:49] davidrpiper opened #2214 "util/taskcluster.py should fetch deepspeech.h to complement libdeepspeech.so"
Hi all,

I've just started playing around with Deep Speech, and I notice that in the script to download pre-built binaries for the platform (util/taskcluster.py) does not fetch `deepspeech.h` to complement `libdeepspeech.so`.

I'm looking to create my own native client (in C++) and to do this you need both the shared library and the appropriate header file. A quick look in the `native_client` dire

[2019-06-27 11:09] reuben commented on #2214
Good point, we should package that with the native client package.

[2019-06-27 11:09] lissyx commented on #2214
Mostly because we never felt this was really needed. The tooling you refer to is usesul because prebuilt binaries can be non trivial to find and to us help also with CI.

Given the header is directly accessible from Github for downloading, easy to discover, and already here when you `git clone` we never considereed it would ne needed.

[2019-06-27 13:34] #2214 closed

[2019-06-27 18:16] #2211 closed

[2019-06-28 01:09] davidrpiper commented on #2214
Thank you both for the fast response - and fast implementation!

[2019-06-28 13:02] reuben opened #2217 "NodeJS extended metadata API segfault at GC"
I can't reproduce locally on macOS. I haven't checked every single failure but a bunch of them have been during the `--extended` test, which leads me to believe the problem is in the NodeJS bindings for that API.

[2019-06-28 23:11] MaxPowerWasTaken opened #2219 "Any plans to add model training via pip-install?"
**For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).
...
Please describe the problem clearly. Be sure to convey here why it's a bug or a feature request.**

This is not a problem or a bug but I think it belongs here since it's a feature request.

To use DeepSpeech for (pre-trained) model inference, we can `pip install` `deepspeech`/`deepspe

[2019-06-29 06:19] zikola opened #2220 "Error running session: Not found: PruneForTargets: Some target nodes not found: initialize_state"
i was trying to do inference with python native client with the following command
`python3 client.py --model sd/output_graph.pbmm --alphabet sd/alphabet.txt --audio sd/audio.wav`

then i got the following error

[2019-06-29 06:51] lissyx commented on #2220
Where is this model coming from? Why do you run client.py directly?

[2019-06-29 07:21] zikola commented on #2220
it is a model i have trained and i don't know what other method to try the inference on python

[2019-06-29 07:30] zikola commented on #2220
now i tried the following command as in documentation but same error
`deepspeech --model sd/output_graph.pbmm --alphabet sd/alphabet.txt --audio sd/audio.wav`

[2019-06-29 07:42] zikola commented on #2220
it seems the problem with the model i tried pre-trained model and it worked so what is gone wrong with own my model

[2019-06-29 09:09] lissyx commented on #2220
You trained out of master? So your binary is v0.5.1, thus incompatible. Please install some v0.6.0-alpha

[2019-06-29 09:19] zikola commented on #2220
yes i trained from master like 2 weeks ago ,where can i find v0.6.0 if it is not the version in pip

[2019-06-29 09:24] zikola commented on #2220
i found it in release and problem solved when i upgrade to v0.6.0-alpha thank you

[2019-06-29 09:24] #2220 closed

[2019-06-30 15:50] Scofield666 opened #2221 "Error when running deepspeech on GPU"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: pip install tensorflow-gpu=

[2019-06-30 16:49] lissyx commented on #2221
Looks like you are trying to run v0.5 model with v0.3.0. That's not going to work.

[2019-07-01 07:49] kdavis-mozilla commented on #2219
Currently, there is no plan to provide a pip install for retraining a model.

PS: Thanks for the encouraging words!

[2019-07-01 09:08] lissyx commented on #2221
@Scofield666 So you are running v0.3.0 binaries with an incompatible model. Either use a v0.3.0 model or v0.5.1 binaries.

Also, you don't need to install `tensorflow-gpu==1.11.0`, this is only required if you perform training.

Please re-open if that's not solving your problem.

[2019-07-01 09:08] #2221 closed

[2019-07-01 09:10] lissyx commented on #2217
I gave a try to run nodejs bindings under valgrind, but could not uncover any memory access issues. There are leakages reported, though.

[2019-07-01 11:31] lissyx commented on #2217
[ds_node.log.gz](https://github.com/mozilla/DeepSpeech/files/3345301/ds_node.log.gz)

valgrind log with debug build

[2019-07-01 19:22] MaxPowerWasTaken commented on #2219
Ok thanks for the answer! Feel free to close this issue if you'd like.

[2019-07-02 10:06] zikola opened #2224 "problem with decoding with LM"
i was trying to make inference using LM but the output is not different without LM i was using my own trained model  i generated my LM using kenlm and generate_trie ,LM was working during trainning but here when i tried it with the following code it's as it is not here
[code]

[2019-07-02 11:54] lissyx commented on #2224
@zikola Can you share a bit more of context ? Output etc. ?

[2019-07-02 12:44] lissyx commented on #2217
@reuben I also don't reproduce on our macOS workers ?!

[2019-07-02 12:56] lissyx commented on #2217
[code]

[2019-07-03 02:54] fanghuaqi opened #2227 "Not able to import the pb file in tensorflow"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu
-

[2019-07-03 10:27] ramrahu opened #2229 "Using pre trained tflite model on android"
Hello,
I have been trying to use your pre trained .tflite model on android app. Its giving me the following error:
**java.lang.IllegalArgumentException: Cannot convert between a TensorFlowLite tensor with type FLOAT32 and a Java object of type [I (which is compatible with the TensorFlowLite type INT32)**
This is when I use the command **tfLite.runForMultipleInputsOutputs(inputArray, outputScoresNa

[2019-07-03 10:50] lissyx commented on #2229
@ramrahu Please use our bindings ?

[2019-07-03 10:54] ramrahu commented on #2229
I tried opening your app. Trying to open your app in android studio throws the following errors:
SIMPLE: Build command failed.

SIMPLE: Error while executing process /home/neha/Android/Sdk/cmake/3.6.4111459/bin/cmake with arguments {-H/home/neha/DeepSpeech-master/native_client/java/libdeepspeech -B/home/neha/DeepSpeech-master/native_client/java/libdeepspeech/.externalNativeBuild/cmake/release/arm6

[2019-07-03 11:07] lissyx commented on #2229
This is not really the same error as you reported. We don't use Android Studio, so I can't really help you if it's related. Have you tried following the documented steps ?

Please keep in mind the android app is just a very basic demo.

[2019-07-03 11:25] ramrahu commented on #2229
Ya because of this error we built our own app and tried the tflite model. If you didn't use Android Studio, then can I know which platform did you use?

[2019-07-03 12:05] lissyx commented on #2229
As documented under `native_client/java/`, nothing specific, just `gradle` in command-line ...

So you wrote your own code, you don't follow the docs, you don't use the java android bindings.

If you don't share more informations, we can't help you. If you run tflite directly, then you should look at the implementation in `native_client/deepspeech.cc` to see how to run.

[2019-07-03 15:36] lissyx commented on #2217
So, hacking `native_client/javascript/client.js` for looping around in `metadataToString()`, I could reproduce the issue on my system:

[code]

[2019-07-04 07:28] ramrahu commented on #2229
Hi
I went through the documentation. I followed the steps. Now when I try to run the command ./gradlew libdeepspeech:build
Execution failed for task ':libdeepspeech:compileDebugJavaWithJavac'

[2019-07-04 08:42] lissyx commented on #2217
Turns out with some investigation one can reproduce the issue on mostly every NodeJS version ...

[2019-07-04 08:49] lissyx commented on #2217
Re-testing with current SWIG master I cannot reproduce the issue anymore at all

[2019-07-04 08:56] lissyx commented on #2229
Again, if you don't share more of the output, it's going to be hard to help.

[2019-07-04 08:58] ramrahu commented on #2229
This is the output I am getting on executing that command **./gradlew libdeepspeech:build**:

arm64-v8a armeabi-v7a x86_64

/home/neha/DeepSpeech/native_client/java/libdeepspeech/src/main/java/org/mozilla/deepspeech/libdeepspeech/DeepSpeechStreamingState.java:4: error: cannot find symbol
    private SWIGTYPE_p_StreamingState _sp;
            ^
  symbol:   class SWIGTYPE_p_StreamingState
  location

[2019-07-04 09:00] lissyx commented on #2229
https://github.com/mozilla/DeepSpeech/blob/master/native_client/java/README.md#android-demo-apk

`make apk`, did you do this ?

[2019-07-04 09:08] ramrahu commented on #2229
I thought that has to be done after running the ./gradlew command

[2019-07-04 09:09] lissyx commented on #2229
If you read the documentation and the Makefile, you will see that `apk` target will take care of everything.

[2019-07-04 09:14] ramrahu commented on #2229
Hmm ok I'll try that

[2019-07-04 09:15] ramrahu commented on #2229
This will work for only the pre trained model? What if I want to use my own trained model? Same procedure?

[2019-07-04 09:17] lissyx commented on #2229
I don't understand your question: another model will just be a different `.tflite` file, no change to the library ...

[2019-07-04 09:32] ramrahu commented on #2229
I understand from the documentation that it will play an existing audio in the phone. But I don't want that. I want to play an audio, the phone should record & then display the decoded results.
So will running the make apk command serve my purpose?

[2019-07-04 09:35] lissyx commented on #2229
The purpose of this APK is to demo a trivial use of the API on Android. Please read the code. The SpeechModule app produced from https://github.com/mozilla/androidspeech/ does mostly what you do, you should read its source code as well.

[2019-07-04 09:53] ramrahu commented on #2229
ok i'll read through it. how about that error I was getting with that ./gradlew command?

[2019-07-04 10:07] lissyx commented on #2229
Have you ran `make apk` ?

[2019-07-04 10:23] ramrahu commented on #2229
This is the output I get when I run that command:

./gradlew clean

arm64-v8a armeabi-v7a x86_64

BUILD SUCCESSFUL in 0s
5 actionable tasks: 2 executed, 3 up-to-date
rm -rf *.java jni/deepspeech_wrap.cpp
swig -c++ -java -package org.mozilla.deepspeech.libdeepspeech -outdir libdeepspeech/src/main/java/org/mozilla/deepspeech/libdeepspeech/ -o jni/deepspeech_wrap.cpp jni/deepspeech.i
jni/deepspeech.i

[2019-07-04 10:23] ramrahu commented on #2229
It shows an error

[2019-07-04 10:55] lissyx commented on #2229
What version of SWIG do you have N

[2019-07-04 10:58] lissyx commented on #2229
Right here we do document SWIG >= 3.0.12: https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md#building-deepspeech-binaries

[2019-07-04 11:51] ramrahu commented on #2229
I had already downloaded it before executing make apk

[2019-07-04 11:52] lissyx commented on #2229
You need to be a bit more specific ... Is it properly exposed in your PATH ? What does `swig -version` shows ?

[2019-07-04 12:09] lissyx commented on #2217
[code]

[2019-07-04 13:38] lissyx commented on #2217
Those are a fallout from 95a54bfdb8b2f9d0d2b85cc7b8438c4b11be7e57

[2019-07-04 13:40] lissyx opened #2230 "`Invalid read size` reported by valgrind"
[code]

Locally reverting https://github.com/mozilla/DeepSpeech/commit/95a54bfdb8b2f9d0d2b85cc7b8438c4b11be7e57 fixes the issue, so it's a regression from #2184

[2019-07-04 14:09] lissyx commented on #2227
Those are extra-metadata that we add at export.

Can you try running with `evaluate.py` ?

[2019-07-05 06:33] gr8nishan commented on #2185
@rhamnett  are you able spot decrease in WER when you are training in 0.5.0. I am also facing an increase in WER when training on a custom dataset in 0.4.1

[2019-07-05 07:53] csyang6052 opened #2231 "Do I need to declare "--decoder_library_path" when training my own models?"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

(1) I executed the following in a terminal -
~/tensorflow$ bazel build -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" //native_client:libctc_decoder_with_kenlm.so
Starting

[2019-07-05 07:54] #2231 closed

[2019-07-05 07:54] lissyx commented on #2231
@csyang6052 Please use Discourse as documented for questions and help.

[2019-07-05 07:56] lissyx commented on #2231
Is your checkout of `v0.3.0` or master ?

What is wrong with pre-built binaries, why do you need to rebuild ?

[2019-07-05 08:00] csyang6052 commented on #2231
master,
I need to train models for taiwanese using dataset downloaded from Common Voice.

[2019-07-05 08:01] lissyx commented on #2231
I don't see the link here:
 - why would you need to stick to v0.3.0 ?
 - why can't you use prebuilt binaries for `libctc_decoder_with_kenlm.so` if you absolutely need v0.3.0 ?

[2019-07-05 08:05] csyang6052 commented on #2231
(1) My checkout is master, not v0.3.0.
(2) Do I need to generate my own libctc_decoder_with_kenlm.so for a language other than English? If not, where can I download libctc_decoder_with_kenlm.so? If yes, how can generate it?

[2019-07-05 08:07] lissyx commented on #2231
You link doc of v0.3.0, so it's complicated to know what you are trying to do. You don't need `libctc_decoder_with_kenlm` with newer versions but you need a python package (please check the documentation)

Have you found any documentation stating the need to rebuild for a different language ? Because no, there is no need. Have you tried to check the release page? It's documented it is bundled with

[2019-07-05 08:08] lissyx commented on #2231
@csyang6052 Also, can we stop discussing on Github and do so on Discourse ?

[2019-07-05 08:09] csyang6052 commented on #2231
I follow the tutorial - https://discourse.mozilla.org/t/tutorial-how-i-trained-a-specific-french-model-to-control-my-robot/22830
Is this tutorial proper for the "master" checkout? In this tutorial, --decoder_library_path /home/nvidia/tensorflow/bazel-bin/native_client/libctc_decoder_with_kenlm.so was declared.

[2019-07-05 08:10] csyang6052 commented on #2231
Ok, thanks,

[2019-07-05 08:10] lissyx commented on #2231
This tutorial is good except it's old, so `master` from that time has moved on.

[2019-07-05 14:58] #2217 closed

[2019-07-06 07:33] lissyx commented on #2157
@reuben  With d50c0397c7f11a01ccff1f6825008e14dd8940a5 should we close this ?

[2019-07-06 07:40] reuben commented on #2157
Yep, this can be closed.

[2019-07-06 07:40] #2157 closed

[2019-07-06 13:44] lissyx commented on #2229
@ramrahu Can you please update us ? Have you been able to use `libdeepspeech` ? https://bintray.com/alissy/org.mozilla.deepspeech/libdeepspeech

[2019-07-06 15:58] beriberikix opened #2233 "Feature Request: tensorflow.js support"
Has the team looked into supporting [Tensorflow.js](https://www.tensorflow.org/js/)? There is a tool and documentation to [convert existing models](https://www.tensorflow.org/js/tutorials/conversion/import_saved_model) to be compatible with the format needed by tfjs. I have use case that would benefit from running [wav transcription example](https://github.com/mozilla/DeepSpeech/blob/master/exampl

[2019-07-06 18:47] lissyx commented on #2233
Nothing stops you from experimenting. But we have not had time to try that.

[2019-07-06 18:50] lissyx commented on #2233
To be honest I fear we won't get any decent perfs with that, given the experiments without vectorization we could perform.

[2019-07-06 18:59] beriberikix commented on #2233
Understood, I hope to experiment and report back!

I watched a [recent talk](https://www.youtube.com/watch?v=imzedQr2tTc) by two leads and I'm optimistic, at least of the future perf. Today they're using WebGL to get better speed than vanilla JS and in the future they'll be looking into WebAssembly with Threads and SIMD.

[2019-07-06 20:04] lissyx commented on #2233
Yeah, threads and SIMD that's still a long way, according to a colleague working on that and wasm. Still curious about what you can get.

[2019-07-08 09:38] lissyx commented on #2233
FTR @beriberikix I don't know if the TF.js converter has the same constraints as the one for leveraging EdgeTPU, but we cannot (yet) convert our model for running on EdgeTPU. It's not impossible they may share constraints.

[2019-07-08 16:18] reuben commented on #1859
This is now easily supported by removing the `.cache()` call in `feeding.py`.

[2019-07-08 16:18] #1859 closed

[2019-07-09 08:46] ramrahu commented on #2229
Sorry for late response. Was just trying the app link you shared above. Will get back to you on this in a while.

[2019-07-10 13:10] #2230 closed

[2019-07-10 13:12] reuben opened #2235 "Evaluate accuracy impact of using audio of a higher sample rate"
And verify that our clients do actually handle arbitrary sample rates without any bugs.

[2019-07-10 13:13] reuben opened #2236 "Deprecate unused/not recommended API parameters"

[2019-07-11 06:11] testdeepv opened #2237 "Training stopped after this error "tensorflow.python.framework.errors_impl.InvalidArgumentError: Input indices should be a matrix but received shape [0]""
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: mozilla builds
- **TensorFlow version (use command below)**: 1.13
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.19.2
- **GCC/Compiler version (if compiling from source)**:
- **CUDA/cuDNN version**: 10.0
- **GPU model and mem

[2019-07-11 06:18] cahuja1992 commented on #1933
I am trying to apply this patch. Can you please tell for which tag this tag is for ?

[2019-07-11 06:25] lissyx commented on #2237
@testdeepv it's usually a probem in your dataset

[2019-07-11 06:41] testdeepv commented on #2237
the error appeares in the validation steps on dev.csv, does this mean that the problem is with dev.csv ??
How can I debug this ? I checked all wav file, they are all not empty.

[2019-07-11 07:17] lissyx commented on #2237
@testdeepv yes it's likely a bogus wav or transcription in `dev.csv`. I can't give you a better advice than running a binary search on `dev.csv` to identify which records is problematic. We already got some reports with some wav file choking within tensorflow's codebase. We have not been able to find why.

[2019-07-11 07:28] testdeepv commented on #2237
Thank you for these details :) Can you please explain how can I run a binary search on a csv file ?

[2019-07-11 12:22] nukeador commented on #2089
We can continue the discussion on Common Voice discourse, since we are talking about data collection:

https://discourse.mozilla.org/t/making-an-open-source-captcha-from-common-voice/42437

[2019-07-11 12:32] lissyx commented on #2089
That's right, let's keep the discussion on Discourse and keep the bug open, since there's indeed several people interested.

[2019-07-11 18:44] ksteimel commented on #669
I would like to work on making the language model interface more general. Do you think this would be a good approach:

Make Scorer a generic class that subtypes of scorers inherit from (e.g. `KenlmScorer`). Each subtype of scorer would have to implement `get_log_prob()` in their own way. This way, someone could write their own scorer using tensorflow much more easily.

[2019-07-11 19:05] reuben commented on #669
Thanks for the interest, that'd be a great contribution! The approach sounds good, although I'm not entirely sure `get_lob_prob` is the only API we'd have to surface from the `Scorer`. There's also the question of different scorers having different initialization and configuration parameters, and how to expose that in the main DeepSpeech API. But that's a worry for the future, just having an initi

[2019-07-11 19:28] reuben commented on #1933
Now that we've merged TensorFlow 1.14 support I plan to merge the CuDNN RNN support into master.

[2019-07-11 20:31] lissyx commented on #2187
This was done, thanks @reuben :)

[2019-07-11 20:31] #2187 closed

[2019-07-12 12:13] lissyx opened #2243 "Renaming to deepspeech_gpu package regressed on linux"
https://tools.taskcluster.net/groups/Hblbi94kR-KfYAVvC6Spgg/tasks/P604wmdzRiW-_vtZXq51bQ/runs/0/artifacts

[2019-07-12 12:13] lissyx commented on #2243
Likely a regression from a9ec2b5cd641dfd6198fbf773358b1cbc2101607

[2019-07-12 13:23] #2243 closed

[2019-07-15 08:01] lissyx commented on #2229
@ramrahu Can you update us please ?

[2019-07-16 09:46] hao-olli-ai opened #2246 "How to build a cluster to train model"
I am having 2 individual PCs, please show me the way to setup them into a distributed system to train DS2 model. I could not see any guidelines related to this problem in your document.
Thanks

[2019-07-16 09:49] kdavis-mozilla commented on #2246
We recently removed the ability to train on a cluster ([Removed distributed training support](https://github.com/mozilla/DeepSpeech/pull/1988)) as we were not using it and maintenance was too much of an overhead fro our small team.

[2019-07-16 09:49] #2246 closed

[2019-07-16 11:37] ramrahu commented on #2229
Sorry. I did try this, was encountering a few errors. In the meantime I have been trying the other app link you shared with me. I will come back to this in the coming days & update you if I am facing any issues.

[2019-07-16 11:45] lissyx commented on #2229
You filed an issue for something unrelated and unsupported since you were not using libdeepspeech.so ... So it would be great we get feedback as soon as possible. Either something is missing in our doc or?

[2019-07-16 23:37] mortont commented on #2227
I'm seeing the same error when trying to load the 0.5.1 pb model. Loading from the checkpoint works and running `evaluate.py` seems to work fine too (removed the deprecation warnings for brevity).
[code]
My pb loading code is essentially the same as @fanghuaqi's but I'm using CPU only. Python version 3.7.3 and tensorflow 1.13.1. I've also tried exporting the working checkpoint to a pb and it has t

[2019-07-17 06:32] lissyx commented on #2227
@mortont What are you trying to achieve ? Those extra nodes are added at export time to hold some metadata.

[2019-07-17 07:26] reuben commented on #2227
Why are you trying to load the graph by hand like that?

[2019-07-17 15:15] mortont commented on #2227
I'd like to use the acoustic model logits as input to my own CTC decoder. Is there a better way to do this?

[2019-07-17 15:57] reuben commented on #2227
You could load the checkpoint instead, which should work. Or I guess you could try removing the metadata node before loading the frozen GraphDef.

[2019-07-17 17:38] mortont commented on #2227
Confirmed that loading the checkpoint works. Also, removing the metadata node works, just a simple `del(graph_def.node[-1])`. Thanks!

[2019-07-18 01:59] isjosan opened #2248 "Specified tflite model file version (0) is incompatible with minimum version supported by this client (1)"
I have the following environment on my Linux host, on which I have cloned Mozilla DeepSpeech:
Linux kernel: 4.15.0-54-generic
Ubuntu: 18.04.2 LTS
TensorFlow: v1.13.1-10-g3e0cc53
DeepSpeech: v0.5.1-0-g4b29b78
Downloaded pre-trained model v0.5.1 with sample audio files and models.

The output_graph.pb and output_graph.pbmm have a successful run with deepspeech inference engine client.

**However, I

[2019-07-18 02:06] isjosan commented on #2248
BTW...I tried to re-export the TFlite model from checkpoint, but get the following exception at the end of execution:

$ ./DeepSpeech.py --checkpoint_dir /home/iqbal/DeepSpeech-model-0.5.1/deepspeech-0.5.1-checkpoint  --export_tflite --export_dir /home/iqbal/DeepSpeech-model-0.5.1/deepspeech-0.5.1-models
..............................................................................................

[2019-07-18 06:42] lissyx commented on #2248
@isjosan As documented, current distributed binaries are only intended to run TensorFlow models, not TFLite models, except on Android platforms.

[2019-07-18 06:45] lissyx commented on #2248
@isjosan We have started experimenting with TFLite lib on other platforms, but it's still experimental. For example, you can find them on this link for your platform: https://tools.taskcluster.net/index/project.deepspeech.deepspeech.native_client.v0.6.0-alpha.4/tflite

[2019-07-18 09:14] ramrahu commented on #2229
Ok I'll be retrying this some time later this month. Actually stuck with other things in my project. So will get back to you soon. But I don't think its anything missing in your documentation. I seem to be missing something somewhere. I'll retry this from scratch soon

[2019-07-18 12:00] Dev1158 opened #2251 "Error loading libctc_decoder_with_kenlm.so"
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 17.3 Rosa
    TensorFlow installed from (our builds, or upstream TensorFlow): conda install
    TensorFlow version (use command below): 1.14
    Python version: 3.6
    GCC/Compiler version (if compiling from source): 5.4.0
    CUDA/cuDNN version: 9.0/7.5
    GPU model and memory: GeForce GTX 1080ti

I downloaded the library libct

[2019-07-18 12:04] lissyx commented on #2251
You are using `r1.14` ? This is not what is documented for DeepSpeech v0.2.0. Mismatching TensorFlow version explains your issue. Please stick to documented version. Any reason you want to continue using this 0.2.0 ? It's old and we don't support it anymore.

[2019-07-18 12:07] lissyx commented on #2251
For 0.2.0 you need TensorFlow 1.6.0

[2019-07-18 12:07] lissyx commented on #2251
@Dev1158 Also, Anaconda might introduce issues, we've got several reports from people using this and having similar problems as well.

[2019-07-18 12:11] Dev1158 commented on #2251
So it means that Deepspeech0.2.0 cannot be decoded using Tensorflow1.14.

[2019-07-18 12:21] Dev1158 commented on #2251
Is there some way to build the decoder library for DeepSpeech 0.2.0 using Tensorflow 1.14?

[2019-07-18 12:28] Dev1158 commented on #2251
custom_op_module = tf.load_op_library(decoder_library_path)
  File "/home/www/.local/lib/python3.6/site-packages/tensorflow/python/framework/load_library.py", line 61, in load_op_library
    lib_handle = py_tf.TF_LoadLibrary(library_filename)
tensorflow.python.framework.errors_impl.NotFoundError: libtensorflow_framework.so: cannot open shared object file: No such file or directory

I tried without

[2019-07-18 12:30] lissyx commented on #2251
Yes, that's right.

Maybe, but we don't be able to help nor support that.

I explained you the root cause, I just mentionned that ananconda environment itself will also potentially add some similar / different issues.

[2019-07-18 12:39] Dev1158 commented on #2251
But I was able to use DeepSpeech 0.2.0 using Tensorflow version 1.11. So, Why is it not possible with Tensorflow 1.14?

[2019-07-18 12:40] lissyx commented on #2251
I don't know what you mean, but we never supported anything than 1.6 for this version.

[2019-07-18 12:42] Dev1158 commented on #2251
I was using the library "libctc_decoder_with_kenlm.so" and decoded the DeepSpeech model output while running inference using Tensorflow 1.11.

[2019-07-18 12:44] lissyx commented on #2251
I highly doubt so. But if it was **really** working, that was just pure luck.

[2019-07-18 12:45] lissyx commented on #2251
Or that's the point, you were not **training** but **running inference**. The CTC decoder code is statically linked into `libdeepspeech.so` inference library that is being bundled by several bindings, including python ones. TensorFlow package is completely orthogonal to that.

[2019-07-18 12:45] Dev1158 commented on #2251
Okay. Thank you.

[2019-07-18 12:47] lissyx commented on #2251
@Dev1158 If you want to train on TensorFlow r1.14, please follow the doc and use current master.

[2019-07-18 12:48] Dev1158 commented on #2251
Okay.

[2019-07-18 12:48] #2251 closed

[2019-07-18 13:37] beriberikix commented on #2233
I'm trying to convert `deepspeech-0.5.1-models.tar.gz` using [tensorflow/tfjs-converter](https://github.com/tensorflow/tfjs-converter) but I'm running into an issue (probably because I've never used the tool before!)

[code]

Do you know which, if any, signatures and/or tags were used in generating the SavedModel? Per the help output:

[code]

[2019-07-18 14:00] lissyx commented on #2233
You should have a look at the `export` function, maybe some parameters needs to be adjusted?

[2019-07-18 14:20] sdll commented on #2233
@beriberikix, seems like the converter looks for `saved_model.pb`, but the graph is saved in `output_graph.pb` instead, so you might need to just rename this file. Other than that, [here](https://github.com/sdll/tfjs-models/blob/122e26aababb5d2df0276cf7d331ae3b247fec90/text-detection/scripts/convert_text_detection_weights.sh#L203) is a working example of how to convert SavedModel. The options
[cod

[2019-07-18 14:51] beriberikix commented on #2233
Ah, I tried something else. Looking at the `export` function I noticed it was saved as a frozen model, which the latest converter no longer supports:

[code]

I downgraded to `0.8.6` and got further before another error:

[code]

Which appears to be related to the version of tf used to originally generate the model. I'll try reverting back to latest and renaming the file before trying to investiga

[2019-07-18 15:04] lissyx commented on #2233
That's just from some metadata that we add to the exported model. Try to disable that and re-export ?

[2019-07-18 15:42] lissyx commented on #2237
I'm going to close this, since it's obivously a data-issue. Feel free to re-open if you happen to identify an issue code-wise.

[2019-07-18 15:42] #2237 closed

[2019-07-18 17:33] lissyx commented on #2162
@dabinat For some other use-case we started distributing `libdeepspeech.so` inside a zip file. Does that addresses your use-case ?

[2019-07-18 17:38] lissyx commented on #1977
Can you elaborate ? I'm not speaking Chinese, so I'm unsure about understand the problem here. But your training command line is a bit strange: data batch of 1, learning rate and epoch seems weird.

Is this an overfitting training test ?

That might have an impact, since your are then using english LM in this setup. Maybe try passing lm alpha and beta parameters with value of `0.0` to nuke their i

[2019-07-18 17:39] lissyx commented on #2026
Looks like there is nothing more to act on here. Closing, please file a new issue if required.

[2019-07-18 17:39] #2026 closed

[2019-07-18 17:39] #2077 closed

[2019-07-18 17:39] lissyx commented on #2048
This is 99.99% likely a dataset issue. Nothing we can help on, please check you WAV files.

[2019-07-18 17:40] lissyx commented on #2179
@reuben Can't we close this now ?

[2019-07-18 17:40] lissyx commented on #2183
PR #2199 has been merged, we should close this.

[2019-07-18 17:40] #2183 closed

[2019-07-18 18:29] limapedro commented on #2248
@lissyx Thanks, I was looking for this today, found thi thread and now it's working with tflite, thanks again.

[2019-07-18 19:57] reuben commented on #2179
Well, we can fix this and then close it, now that the prod model has been updated :)

[2019-07-18 20:36] lissyx commented on #2248
I'll infer from that comment that this issue can be solved as well for @isjosan. Feel free to re-open if required.

[2019-07-18 20:36] #2248 closed

[2019-07-19 11:21] lissyx commented on #2227
I guess that means you issue is solved, thanks!

[2019-07-19 11:21] #2227 closed

[2019-07-19 11:23] lissyx commented on #1869
Lack of reply, nothing we can do.

[2019-07-19 11:23] #1869 closed

[2019-07-19 11:29] lissyx commented on #979
Could you update to 0.5.1 ? The 0.5.0 is bogus

[2019-07-19 13:19] lissyx commented on #2224
Nothing actionable here, no reply, closing.

[2019-07-19 13:19] #2224 closed

[2019-07-19 14:12] lissyx opened #2256 "ModuleNotFoundError: No module named '_lzma'"
regression, like from new pandas

[2019-07-19 14:44] Aravindraj92 opened #2257 "Error : Not found: Op type not registered 'Assert' in binary running on aravind-ThinkPad-E520. Make sure the Op and Kernel are registered in the binary running in this process. Note that if you are loading a saved graph which used ops from tf.contrib, accessing (e.g.) `tf.contrib.resampler` should be done before importing the graph, as contrib ops are lazily registered when the module is first accessed"
Hi,

I got following error when i ran ==> ./deepspeech --json --model ../speech/models/output_graph.pb --alphabet ../speech/models/alphabet.txt  --audio ../audio/2830-3980-0043.wav

error mesage is--->

TensorFlow: v1.14.0-14-g1aad02a
DeepSpeech: v0.6.0-alpha.4-12-g8933854
Warning: reading entire model file into memory. Transform model file into an mmapped graph to reduce heap usage.
Not found: Op

[2019-07-19 14:56] lissyx commented on #2257
@Aravindraj92 Care to document where this models comes from ?

[2019-07-19 14:58] Aravindraj92 commented on #2257
@lissyx i have installed from this link===>https://progur.com/2018/02/how-to-use-mozilla-deepspeech-tutorial.html

[2019-07-19 15:00] lissyx commented on #2257
How about reading our official docs ?

`pip install deepspeech==0.5.1` + https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/deepspeech-0.5.1-models.tar.gz you don't need anything else.

[2019-07-19 15:01] kdavis-mozilla commented on #2257
@Aravindraj92 The v0.1.1 model is very old. You'll have more luck with the 0.5.1 model.

[2019-07-19 15:03] Aravindraj92 commented on #2257
@lissyx okay I will try this latest version and let you know.

[2019-07-19 15:23] #2256 closed

[2019-07-19 18:38] #2175 closed

[2019-07-19 22:22] 9define commented on #979
@lissyx Done.

[2019-07-20 07:59] Aravindraj92 opened #2259 "timstamp mismatch issue"
Hi i have ran the  ./deepspeech --json --model models/output_graph.pbmm --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie --audio ../audio/2830-3980-0043.wav

and iam getting following output :

TensorFlow: v1.13.1-10-g3e0cc53
DeepSpeech: v0.5.1-0-g4b29b78
2019-07-20 11:59:17.350341: E tensorflow/core/framework/op_kernel.cc:1325] OpKernel ('op: "UnwrapDatasetVariant" device_t

[2019-07-20 11:39] lissyx commented on #2259
Can you elaborate? I don't see anything obvious.

[2019-07-20 11:49] Aravindraj92 commented on #2259
What is time and duration that json?

[2019-07-20 17:26] lissyx commented on #2259
I can't really figure out how simpler it might be. In timestamp data, time is the time the word appears and duration is its length? Cc @dabinat who landed this

[2019-07-20 20:34] harshhegde opened #2261 "Bazel build throws up error during Docker Build"
I am getting error when during bazel build command while docker build. I have tried building it many times but the same error keeps popping up. Could I know the problem and solution?

[code]

[2019-07-20 23:39] chazanov commented on #979
@9define May you please claim https://aur.archlinux.org/packages/deepspeech/ ? It doesn't build since a long time.

[2019-07-21 05:21] 9define commented on #979
@chazanov While it would be nice to get that working, I am unable to claim that package at this time due to a lack of time. @NicoHood ping re that upkeep, it's been awhile...

[2019-07-21 08:35] reuben commented on #2261
How did you set things up for the build? Can you manually go to the DeepSpeech/native_client folder and run `git describe --long --tags`?

[2019-07-21 09:29] harshhegde commented on #2261
I'm pretty new to this so first I installed docker and docker compose in the terminal, then I did docker build -t deepspeech https://github.com/mozilla/DeepSpeech.git, This error throws up in the 53rd step that's bazel build.

[2019-07-21 10:36] lissyx commented on #2261
What is this supposed to do?

[2019-07-21 10:37] lissyx commented on #2261
Because the dockerfile we have is in CI and the builds are green...

[2019-07-21 11:13] harshhegde commented on #2261
So how to build and run it?

[2019-07-21 11:46] lissyx commented on #2261
Have you read the documentation ? What are you trying to achieve ?

[2019-07-21 12:47] harshhegde commented on #2261
Yes, i want to be able to run these dockerfile as it is already there so that I can convert TTS

[2019-07-21 12:54] lissyx commented on #2261
`docker build -t Dockerfile .` works for us.

[2019-07-21 12:55] lissyx commented on #2261
As you can see on this ... https://tools.taskcluster.net/groups/MuQwo-SQQqS5mIOsSu98TQ/tasks/Xgsuzv1KTtK6_Ym9NxgPeQ/details

[2019-07-21 17:51] harshhegde commented on #2261
Docker image succesfully built but how to run it to make it convert TTS? Nothing about docker given in documentation?

[2019-07-21 18:09] lissyx commented on #2261
This is a contributed docker image. If you read it, you will learn it's just to build it for GPU.

"run it to convert STT" can have a lot of ways of being done... We can't provide a dockerfile for each use case. Please read the documentation about inference.

If you were to describe better your use case and/or search on discourse we may be able to help more. In the current scope you still have not

[2019-07-21 18:19] lissyx commented on #2261
And wait, you are running docker on windows? I have no idea what you should expect...

[2019-07-21 19:03] reuben commented on #2261
If the docker image is built you should have all the necessary binaries in it, no? Can't you get a shell into the machine or something? Then you could follow the rest of the docs.

[2019-07-21 21:49] isjosan opened #2262 "Arm64 native client cannot parse tflite pre-trained-model"
I ran the native_client.v0.6.0-alpha.4.tflite binary on Ubuntu Linux hosted on HP desktop; with the pre-trained tflite model from v0.5.0 and it did inference successfully from the sample audio file:

**$ ~/Downloads/tflite_native_client/deepspeech --model ./output_graph.tflite --alphabet ./alphabet.txt --lm ./lm.binary  --audio ../audio/4507-16021-0012.wav**
TensorFlow: v1.14.0-14-g1aad02a
DeepSpe

[2019-07-22 07:02] lissyx commented on #2262
I've already explained that to you with links in issue #2248

[2019-07-22 07:02] #2262 closed

[2019-07-22 08:45] reuben opened #2264 "Figure out a way to use CuDNN RNN checkpoints in a non-CuDNN RNN graph."
Currently if you create a checkpoint with `--use_cudnn_rnn`, you can't then continue training on that checkpoint without enabling CuDNN RNN. It'd be nice if we could figure out a way to make the CuDNN RNN graph usable by e.g. CPU-only installs. We'd probably have to throw out the Adam moment tensors to achieve this.

[2019-07-22 13:39] #2179 closed

[2019-07-22 17:33] dabinat commented on #2259
The unit for the timing is seconds.

But be aware that the times listed are when DeepSpeech figured out that a letter was being uttered. So it might be slightly later than the exact point at which the letter actually begins being spoken.

[2019-07-23 07:35] lissyx commented on #2259
I'm going to close that since it's not a bug and the questions is addressed. Please @Aravindraj92 use Discourse if you have questions, we use Github for bugs only.

[2019-07-23 07:35] #2259 closed

[2019-07-23 07:35] lissyx commented on #2229
So since there is no bug here, I'll advise you to instead come and discuss for help on Discourse rather than Github. I'm closing that issue.

[2019-07-23 07:35] #2229 closed

[2019-07-23 08:32] reuben commented on #642
I'm able to get a CoreML model out of the converter using latest master by removing the MFCC feature computation subgraph as well as the model_metadata node. Here's what I did:

[code]

[2019-07-23 08:37] reuben commented on #642
That was using coremltools==3.0b3 and tfcoreml==0.4b1

[2019-07-23 15:19] #2180 closed

[2019-07-23 17:03] dabinat opened #2269 "Mozilla Tensorflow releases don't match source"
(I'm posting this here because I can't file issues on the mozilla/tensorflow repo)

A potential gotcha that confused me is that the source code zip files on the Releases page of the mozilla/tensorflow repo are not the same as what's in the branch trees so you get compilation errors.

Downloading from Releases appears to be the cause of this error:
https://github.com/mozilla/DeepSpeech/issues/2208

[2019-07-23 17:15] lissyx commented on #2269
Are you talking about https://github.com/mozilla/tensorflow/releases ?

Those tags are from upstream, and the page gets generated automatically.

We never, ever, document doing that.

[2019-07-23 17:15] reuben commented on #2269
That repo doesn't have releases, just tags. We could create our own tags but I'm not sure how useful that'd be. In every documentation we tell people to clone the repo and use the r1.14 *branch*, not a tag.

[2019-07-23 17:21] #2269 closed

[2019-07-24 05:03] lissyx opened #2270 "Enabling TFLite delegates: NNAPI, OpenGL, CoreML, Hexagon"

[2019-07-24 05:04] lissyx commented on #2270
Tentative patch:
[code]

[2019-07-24 05:08] lissyx commented on #2270
Results so far, on Google Pixel 2.

For NNAPI delegate:
 - use of NNAPI does not look faster
 - `lite_benchmark_model` shows a slow **increase** in average execution time

For GPU OpenGL ES delegate:
 - GPU delegation does not work by default, leading to a segfault
 - this could be tracked down to GraphFloat32 having 0 element after `ApplyGeneralTransformations`
 - likely cause is:
[code]

So as e

[2019-07-24 05:22] lissyx commented on #1346
See also #2270 for some TFLite related experiments / progresses.

[2019-07-25 10:30] lissyx commented on #2270
Google Pixel 2 GPU delegation benchmark:
[code]

There are some model changes to get rid of the unsupported `StridedSlice`:
[code]

Some for removing `Minimum` (obviously not a valid solution, just to get the model to run):
[code]

And some shape changes to avoid shader compilation, as well as moving the `AudioSpectrogram` and `Mfcc` nodes at the end, otherwise GPU delegation code will choke early

[2019-07-25 10:32] lissyx commented on #2270
We still have that Op in the middle of the computation graph. As @reuben analyzed, this is coming from the LSTMCell. Likely if we figure out a way around, we could have all Ops on the GPU.

[2019-07-25 10:43] lissyx commented on #2270
[code]

[2019-07-26 03:41] gqy2468 opened #2271 "Invalid argument: WAV data chunk 'QWDu' is too large"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux ubuntu 4.4.0-116-generic
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: upstream TensorFlow
- **TensorFlow version (use command below)**: 1.14.0
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: use CPU
- **GPU model and memory**: use CPU

When I was training my own model. I got this errror as follow:

[2019-07-26 04:24] dabinat commented on #2271
By default, Wave files use 32-bit headers that limit them to 2 GB in size. Using a 64-bit header allows you to create much larger files.

It seems like DeepSpeech is expecting the file to have a 32-bit header and therefore be less than 2 GB. But that's a reasonable expectation since training usually occurs on lots of very short clips. What is the duration of your file?

[2019-07-26 06:25] gqy2468 commented on #2271
The largest size of my wave files is only 436KB，it's bitrate is 256 kbps!
Strangely enough, this error was always happend when the elapsed time of my continuous training was about 2:36:00 and the steps was 3016 !!!

[2019-07-26 06:40] lissyx commented on #2271
@gqy2468 Well, is it possible your file is just corrupted ? Anyway, if TensorFlow chokes on it, there's not much that we can do, except if it's a bug and assist you filing it upstream.

[2019-07-26 07:07] gqy2468 commented on #2271
My reference linking is https://discourse.mozilla.org/t/training-chinese-model/27769

[2019-07-26 07:10] lissyx commented on #2271
? Can you elaborate ? That's not really helping ...

[2019-07-26 07:15] gqy2468 commented on #2271
My training csv files were downloaded from http://blog.yuwu.me/wp-content/uploads/2018/07/thchs30-csv.tar.gz, and my training wave files were downloaded from http://www.openslr.org/resources/18/data_thchs30.tgz

[2019-07-26 08:08] reuben commented on #2271
You most likely have a corrupted file in or around batch 3016. I'd sort the file by wav_filesize, then multiply your training batch size by 3000, let's say the batch size is 10. Then I'd take files 3000*10 through 3010*10, and run them with batch size 1. Then you'll be able to find out exactly what the problematic file is.

[2019-07-26 11:04] gqy2468 commented on #2271
I have checked all wave files and their size are all correct by using a shell script ! Now I have not any tools to check the file is not corrupted and I think the perhaps reason is my computer's memory is not enough ?!

[2019-07-26 11:23] reuben commented on #2271
I just gave you a tool to check if the file is not corrupted: https://github.com/mozilla/DeepSpeech/issues/2271#issuecomment-515354597

[2019-07-26 12:54] lissyx opened #2272 "Support Python 3.7 on armv7/aarch64"
RPi4 with Debian Buster comes with Python 3.7 and not 3.5.

[2019-07-27 20:02] dabinat commented on #2271
@gqy2468 This script may help: https://github.com/dabinat/deepspeech-tools/blob/master/wav_check.py

Usage:
`python3 wav_check.py <directory to scan> >/dev/null`

[2019-07-28 00:28] dabinat commented on #2162
@lissyx Is that just the .so file or is it the deepspeech executable too?

[2019-07-28 08:09] lissyx commented on #2162
Just the `.so`

[2019-07-29 01:35] gqy2468 commented on #2271
Thanks! I will have a try today!

[2019-07-29 02:49] gqy2468 commented on #2271
I didn't find any corrupted wave file by using my modified script: https://github.com/gqy2468/DeepSpeech/blob/master/bin/wav_check.py

Usage:
`python3 bin/wav_check.py data_thchs30/thchs30-train.csv`

[2019-07-29 09:22] vibhashahani opened #2274 "Error: Trie file version mismatch (4 instead of expected 3). Update your trie file. terminate called after throwing an instance of 'int'"
Hi,

I am trying to run DeepSpeech on a small data set.
I am using Deepspeech version = 0.5.1

Steps I followed:

1. Cloned 0.5.1 version from github repository

2. pip3 install -r requirements.txt

3. python util/taskcluster.py --arch gpu --target native_client

Then for creating language model:
4. git clone https://github.com/kpu/kenlm.git
5. cd kenlm/
6. Mkdir build
7. Cd build
8. Cmake ..
9.

[2019-07-29 10:42] lissyx commented on #2274
You don't need to rebuild generate_trie, use the one packaged. Also use - - branch v0.5.1 for taskcluster.py

[2019-07-29 10:57] vibhashahani commented on #2274
Where is the packaged trie file located?
This is my DeepSpeech directory.
![Screenshot_2019-07-24_11-17-01](https://user-images.githubusercontent.com/31318823/62043309-a5fb0d00-b21d-11e9-8b08-7fe3f6b6b941.png)

[2019-07-29 12:47] ssetty opened #2275 "lm::FormatLoadException"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2019-07-29 12:48] ssetty commented on #2275
Hello,

Attempting to convert .wav to text file gives below exception:

deepspeech models/output_graph.pbm Thor.wav models/alphabet.txt models/lm.binary models/trie

Loading model from file models/output_graph.pbm
2019-07-29 12:26:58.832839: I tensorflow/core/platform/cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
Not found: m

[2019-07-29 12:51] ssetty opened #2276 "lm::FormatLoadException"
Hello,

Attempting speech(wav) to text gives below exception:

deepspeech models/output_graph.pbm Thor.wav models/alphabet.txt models/lm.binary models/trie

Loading model from file models/output_graph.pbm
2019-07-29 12:26:58.832839: I tensorflow/core/platform/cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
Not found: models/out

[2019-07-29 12:51] #2275 closed

[2019-07-29 12:52] lissyx commented on #2274
Please avoid screenshots. As I said, it's in `native_client.tar.xz`

[2019-07-29 12:53] lissyx commented on #2276
@ssetty You are not providing any context, versions, anything. Your error is textbook mixing of incompatible binaries and trie/LM file.

[2019-07-30 10:18] sogris opened #2277 "GPU Memory remains allocated (nodejs + deepspeech-gpu.v_0.6.0a4)"
- **OS Platform and Distribution**: CentOS release 7.6.1810
- **DeepSpeech version**: deepspeech-gpu@0.6.0-alpha.4
- **Nodejs version**: v12.4.0
- **CUDA/cuDNN version**: 10.1
- **GPU model and memory**: NVIDIA GeForce GTX 1070, 8 GB
- **Exact command to reproduce**:

I noticed a problem with native nodejs client: deepspeech-gpu
After performing sttWithMetadata - process finished without errors, r

[2019-07-30 13:44] vigneshgig opened #2278 "finetuning : checkpoint 0.5.1 error model shape does not match"
Instructions for updating:
Use standard file APIs to check for files with this prefix.
I0730 19:08:56.306705 139864493074176 saver.py:1280] Restoring parameters from ./deepspeech-0.5.1-checkpoint/model.v0.5.1
E Restoring from checkpoint failed. This is most likely due to a mismatch between the current graph and the graph from the checkpoint. Please ensure that you have not altered the graph expect

[2019-07-30 14:45] bernardohenz opened #2279 "Training loss going to Inf when audio_sample_rate=44100"
Hi,

I've decided to train a new model using `audio_sample_rate=44100`, but got `training_loss=Inf` (something that did not occur when training with 16k, 22k, 42k). Nonetheless, the model seems to be learning, as the validation loss is getting lower on each epoch.

### Replicating with toy example
I've tried to replicate this issue using yours `run-ldc93s1.sh` script, and got the same results: tra

[2019-07-30 16:06] kdavis-mozilla commented on #2279
I don't think is the place for it, maybe discourse is more appropriate.

That said, without ever trying 44k before, I've only trained on 16k, I'd guess the learning rate may be to blame. Try lowering by factors of 1/2, 1/4, 1/8,... until you don't see an Inf to find the approximate range for the new learning rate.

[2019-07-30 16:07] reuben commented on #2279
Can you share the audio file you used when replicating it with run-ldc93s1.sh?

[2019-07-30 16:24] bernardohenz commented on #2279
@reuben I've used the default `LDC93S1.wav` that is downloaded when running the script.

@kdavis-mozilla I think the problem is the computation of `audio_window_samples` (https://github.com/mozilla/DeepSpeech/blob/master/util/config.py#L97) and/or `audio_step_samples` (https://github.com/mozilla/DeepSpeech/blob/master/util/config.py#L100).

Dividing any of the above by a factor of 2 seems to solve

[2019-07-30 16:34] bernardohenz commented on #2279
@reuben I was thinking you were internally converting all audios to the desired SR when loading themfor training, but I think this only occurs in the client.

I've tried to convert the `LDC93S1.wav` to 44k and it seems to work fine in the training now, please ignore the issue.

[2019-07-30 16:34] #2279 closed

[2019-07-30 17:52] dabinat commented on #2162
@lissyx Ah, it doesn't address the use-case then.

[2019-07-30 19:46] NicoHood commented on #979
@9define what is your username on AUR? gobennyb?

[2019-07-31 02:14] 9define commented on #979
@NicoHood yes, but please do not add me to packages without first consulting me. As I mentioned, I am unable (and unwilling) to [co-]maintain that package at this time, so please work on that yourself/abandon it/look for other help.

[2019-07-31 04:01] tsungruihon commented on #1977
@lissyx @aijianiula0601  It seems that i faced the same problem like you. The `res` in `Test Process` happens to be blank.

![Screen Shot 2019-07-31 at 12 00 54 PM](https://user-images.githubusercontent.com/11624203/62182919-e5933780-b38a-11e9-8e1a-e57dec8f4579.png)

[2019-07-31 06:10] vigneshgig commented on #2278
I download the checkpoint 0.5.1 source code Now it working

[2019-07-31 06:10] #2278 closed

[2019-07-31 07:47] Ganofins opened #2280 "multithreading example with deepspeech"
how can I use multithreading with deepspeech?

I tried posting on disclosure, but I didn't get any reply

[2019-07-31 07:53] kdavis-mozilla commented on #2280
The [0.5.1. release notes](https://github.com/mozilla/DeepSpeech/releases/tag/v0.5.1) state under the Known Issues section that

A solution is to have multiple threads each with its own model.

[2019-07-31 07:53] #2280 closed

[2019-07-31 08:13] tsungruihon commented on #2271
@gqy2468 i meet the same problem as yours. Have you solved it .?

[2019-07-31 09:44] tsungruihon commented on #2271
@gqy2468 May i ask can i communicate with you using `email` or `wechat` ?

[2019-07-31 13:10] Ganofins commented on #2280
I tried that but it didn't work out for me

I got blank lines in the output

Can you help me with that?

[2019-07-31 13:21] kdavis-mozilla commented on #2280
Could you move this to discourse?

I know [eggonlea](https://discourse.mozilla.org/u/eggonlea/summary) has this working already so you can ask [eggonlea](https://discourse.mozilla.org/u/eggonlea/summary) there.

[2019-07-31 13:26] Ganofins commented on #2280
Ok thanks

[2019-07-31 16:32] dabinat commented on #2271
Sounds like ffmpeg may be working around the error, in which case you could process every file in the directory with ffmpeg using the "-c:a copy" parameter, which will essentially rewrite the file structure to disk without re-encoding the media data. That should fix the error.

[2019-07-31 20:20] NicoHood commented on #979
Oh, I overlooked that part, sorry. I disowned the package.

[2019-08-01 02:53] tsungruihon commented on #2271
@dabinat thank you dabinat. What you suggest solved the problem perfectly. Thank again.

[code]

[2019-08-01 08:39] peterhon123 opened #2281 "W tensorflow/core/util/ctc/ctc_loss_calculator.cc:145] No valid path found."
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linu

[2019-08-01 09:35] ssetty commented on #2276
Hi how do I solve this? Can you send compatible versions?

[2019-08-01 09:47] lissyx commented on #2276
It's going to be hard to help you if you don't document what you do. We don't hide any version, you are just likely mixing stuff inappropriately.

[2019-08-02 02:35] ssetty commented on #2276
I have used pre-trained model
wget https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/deepspeech-0.5.1-models.tar.gz
tar xvfz deepspeech-0.5.1-models.tar.gz

or is it because of incompatible with my existing supporting libraries
libsox2
libstdc++6
libgomp1
libpthread

or  I need to build from scratch ?

[2019-08-02 07:24] lissyx commented on #2276
And what is your version of binaries? Lack of version in the output is likely a good hint it is not 0.5.1... How did you installed?

[2019-08-02 16:00] lissyx commented on #2277
As much as I remember, this is tensorflow's behavior, am I right @reuben ?

[2019-08-02 16:59] suhad999 commented on #2274
Hi. pleaze help me
i did the same as you vibhashahani
I am trying to run DeepSpeech on my small data set.
but i don't understand the step to create a trie even i use  the generate_trie  in native_client.tar.xz but i cant successd .
can you please explain in details this step

[2019-08-02 21:06] reuben commented on #2277
As far as I know, closing the session should release the GPU memory.

[2019-08-02 22:02] superdutyf3 opened #2285 "ImportError: libcublas.so.10.0: cannot open shared object file: No such file or directory"
Hello,
I'm using pip3 install deepspeech-gpu (also tried downloading files from github)
Linux Ubuntu 18.04
upstream TensorFlow
v1.14.0-rc1-22-gaf24dc91b5 1.14.0
python 3.6**:
gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
cuda 10
cudnn 7.5
GT1050 2GB
try to run deepspeech, get this error

(deepspeech-venv) shop@shop-T3610:~$ deepspeech
Traceback (most recent call last):
  File "/usr/local/lib/python3.6

[2019-08-03 03:42] chungyeh commented on #2271
Thanks @dabinat @tsungruihon.

I met same 'QWDu' error and ffmpeg -c:a copy resolved this issue. It can work normally now.

[2019-08-03 05:01] tsungruihon commented on #2271
@chungyeh  Glad to hear that.

[2019-08-03 06:13] peterhon123 opened #2286 "【Inferenece Progress】Error: Trie file version mismatch (3 instead of expected 2). Update your trie file."
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linuxc U

[2019-08-03 07:30] lissyx commented on #2286
Have you trained on master ? You are using incompatible binaries vs language model, as mentionned in the error.

Please use `generate_trie` from 0.5.1 if you intend to run on 0.5.1

[2019-08-03 07:31] lissyx commented on #2285
Obviously, you don't have proper CUDA 10.0 installed.

[2019-08-03 07:39] pratapaprasanna commented on #2285
If you already have cuda installed then try setting your environment variable `LD_LIBRARY_PATH`
eg:
In my case
`export LD_LIBRARY_PATH=/usr/local/cuda-10.0/lib64`
worked for me .

[2019-08-03 15:14] tsungruihon commented on #2286
@lissyx thanks for reply. Really appreciated.

Yes, i trained on master. How could i fix these error? Please give me some suggestion and i am really grateful for you.

I use `python3 util/taskcluster.py --branch "v0.5.1" --target "."` and ran `deepspeech --model result_2/model/output_graph.pb --audio ../data/zh/clips/common_voice_zh-CN_18811958.wav --alphabet ../data/zh/zh_csv/zh_alphabat.txt --lm

[2019-08-03 15:25] lissyx commented on #2286
Checkout v0.5.1 for training as well

[2019-08-03 16:22] superdutyf3 commented on #2285
pratapaprasanna
Thank you very much. That worked. Cuda is installed and everything is working!!!!

[2019-08-03 17:32] lissyx commented on #2285
Thanks for updating us, I'm closing this :)

[2019-08-03 17:32] #2285 closed

[2019-08-05 01:51] tsungruihon commented on #2286
@lissyx thank you again. Now the training process goes well. But when i inference a `8.280s` audio using `2080Ti GPU`, the inference time is tremendous long, which is total `1536.754s`. The dataset is `Mozilla Common Voice Chinese` version.

The source is `common_voice_zh-CN_18531546.wav` and the training text is `本 品 的 特 色 为 能 对 抗 多 种 抗 药 性 极 强 的 病 原 体 如 耐 甲 氧 西 林 金 黄 色 葡 萄 球 菌 等`, and the below

[2019-08-05 07:16] tsungruihon commented on #2271
@chungyeh Now the training process goes well,  but i still get the blank result while in the test progress. Have you met that situation ?

[2019-08-05 08:01] kdavis-mozilla commented on #2274
@suhad999 Could you indicate the steps you have already taken?

[2019-08-05 10:33] chungyeh commented on #2271
I can run normally as below. It uses test file and output is not identical to test file transcription., est/D11_785.wav,315500,北 京 丰 台 区 农 民 自 己 花 钱 筹 办 万 佛 延 寿 寺  迎 春 庙 会 吸 引 了 区 内 六 十 支 秧 歌 队 参 赛.

./deepspeech --alphabet thchs30-alphabet.txt --lm thchs30-lm.binary --trie thchs30-trie  --model output_graph.pb --audio test/D11_785.wav
TensorFlow: v1.13.1-13-g174b4760eb
DeepSpeech: v0.5.1-0-g4b29b

[2019-08-05 10:58] tsungruihon commented on #2271
@chungyeh Now my testing result is below :

[code]

It seems that it doesn't have blank to split out the words. Do you have any suggestion .? May i contact you with `wechat` for convenient communication.

[2019-08-05 12:06] tsungruihon commented on #2271
@chungyeh Here's my inference on `D11_785.wav`. Seems weird.

[code]

[2019-08-05 12:29] tsungruihon commented on #2286
@lissyx Hello lissyx, i would like to ask why the `trie` file is jut 9 bytes ?
I just typed `python util/taskcluster.py --branch “v0.5.1” --target "."` and then get the  `trie` file using
[code]
 I noticed the `README.md `in https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md, should i also follow the instruction in https://github.com/mozilla/DeepSpeech/blob/master/native_cli

[2019-08-05 12:43] chungyeh commented on #2271
@tsungruihon FYR

Before I trained the model, I do fit checkout v0.5.1. Master version seems to have something wrong when I run training or inferences. I forgot the detail. During training thchs30, the list I got is about 40-50.

[2019-08-05 12:56] tsungruihon commented on #2271
@chungyeh thanks chungyeh. One thing I would like to ask is why my trie file is jut 9 bytes ?
I just typed python util/taskcluster.py --branch “v0.5.1” --target "." and then get the trie file using

native_client/generate_trie /data/peter/asr/data/data_thchs30/thchs30_csv/thchs30_alphabet.txt /data/peter/asr/data/data_thchs30/thchs30_csv/lm.bin /data/peter/asr/data/data_thchs30/thchs30_csv/trie.
I

[2019-08-05 12:56] kdavis-mozilla commented on #2286
@tsungruihon I just did exactly as you did but with the language model and alphabet file from the release and got a trie that's 21MB. (I'm on OSX 10.14.5)

So my guess is either there is a OS specific problem with generate_trie or there's something wrong with your language model and/or alphabet file.

[2019-08-05 13:04] tsungruihon commented on #2286
@kdavis-mozilla here's my `lm.bin` and `thchs30_alphabet .txt` files. Please help if you could.

[alphabet_lm.zip](https://github.com/mozilla/DeepSpeech/files/3467667/alphabet_lm.zip)

[2019-08-05 13:27] chungyeh commented on #2271
@tsungruihon 9 bytes trie file is bad one. Please use thchs30 vocabulary file to regenerate thchs30-word.arpa (I used 3 gram), then lm.binary and then generate true. The trie file should be about 45KBytes.

[2019-08-05 13:45] tsungruihon commented on #2271
@chungyeh thanks chungyeh. My `lm.binary`' s size is `1.3M`. Would you mind telling me whether mine is the same as yours ?

[2019-08-05 13:56] kdavis-mozilla commented on #2286
@tsungruihon How did you create the language model?

@reuben maybe you have some insight as you are working on Mandarin now.

[2019-08-05 14:01] tsungruihon commented on #2286
@kdavis-mozilla thanks kdavis for reply. I create the language model using the below code:

[code]

[vocabulary_lm.zip](https://github.com/mozilla/DeepSpeech/files/3467913/vocabulary_lm.zip)

[2019-08-05 14:07] kdavis-mozilla commented on #2286
@tsungruihon Does thchs30-vocabulary.txt contain spaces after each character?

[2019-08-05 14:11] tsungruihon commented on #2286
@kdavis-mozilla thanks kdavis for reply. As you expected, each char contain spaces after each char. Here's my `train.csv`, `test.csv` and `dev.csv`.

[csv_file.zip](https://github.com/mozilla/DeepSpeech/files/3467956/csv_file.zip)

[2019-08-05 14:16] kdavis-mozilla commented on #2286
Wait it doesn't look like you created a trie language model. Try...
[code]

[2019-08-05 14:24] tsungruihon commented on #2286
@kdavis-mozilla thanks kdavis. After try what you suggested, and then i generate trie file. I would be highly appreciated if you give some hint.

[lm_trie.zip](https://github.com/mozilla/DeepSpeech/files/3468007/lm_trie.zip)

[2019-08-05 14:33] ssetty commented on #2276
pip install deepspeech (python bindings)
version: 0.1.1

If not what binaries version do you require?

Thanks

[2019-08-05 15:51] tsungruihon commented on #2271
@chungyeh thanks chungyeh. Would you mind sharing the process that you generate `trie` file and share your `trie` file ?

[2019-08-05 16:05] lissyx commented on #2276
`pip install --upgrade deepspeech==0.5.1`

[2019-08-06 01:30] chungyeh commented on #2271
I used DeepSpeech Dockerfile to build docker image and running in docker.  When build docker image with DeepSpeech Dockerfile, those utilities will be generated. Not sure if this causes difference.

/DeepSpeech/native_client/kenlm/build/bin/lmplz -o 3 --text thchs30-vocabulary.txt --arpa thchs30-words.arpa
/DeepSpeech/native_client/kenlm/build/bin/build_binary -T -s thchs30-words.arpa thchs30-lm.b

[2019-08-06 02:19] tsungruihon commented on #2271
@chungyeh. thanks chungyeh.  I get the code from the release page. May i ask whether we could run deepspeech on GPU using docker image build from dockerfile? I am quite new to Docker.  I will be really appreciated if you are willing to share more tutorial of buildding deep speech docker image from docker file.

[2019-08-06 02:55] tsungruihon commented on #2271
@lissyx @chungyeh I try to build docker from Dockerfile using `docker build -t deepspeech:v0.5.1 .`.

Then the below error shown up.

[code]

[2019-08-06 03:11] suhad999 commented on #2274
I am trying to run DeepSpeech on a small data set in another language other than english.
 i have mac book air

Steps I followed:

Cloned deepspeech from github repository

pip3 install -r requirements.txt

python util/taskcluster.py --arch gpu --target native_client

prepare the data: train (6 wav files),dev(3 wav files), test (2 wav files),all wave are mono wave and cvs files ( file name, text)

[2019-08-06 03:49] peterhon123 opened #2288 "【Dockerfile install】Version '2.3.7-1+cuda10.0' for 'libnccl2' was not found"
I would like to deploy `DeepSpeech` using Dockerfile. But during the installation, the below error happened.

[code]

[2019-08-06 06:21] kdavis-mozilla commented on #2288
What system are you installing on? Does that system have CUDA?

[2019-08-06 06:45] peterhon123 commented on #2288
@kdavis-mozilla yes. I installed that on ubuntu 16.04 with 1080Ti GPU.

[2019-08-06 07:36] kdavis-mozilla commented on #2288
Does that system have CUDA?

[2019-08-06 07:41] peterhon123 commented on #2288
@kdavis-mozilla yes. I have installed CUDA and CUDNN.

[2019-08-06 08:03] lissyx commented on #2288
It looks like this needs to be updated. Can you send a PR @peterhon123 ?

[2019-08-06 08:09] kdavis-mozilla commented on #2288
@lissyx @peterhon123 For the 0.5.1 docker file that seems to already be there[[1](https://github.com/mozilla/DeepSpeech/blob/v0.5.1/Dockerfile#L43)]
[code]

[2019-08-06 08:11] peterhon123 commented on #2288
@lissyx @kdavis-mozilla thanks for quick response. What i did is just below:

1. download the source code `deepspeech-v.0.5.1`
2. cd `deepspeech-v.0.5.1`
3. `docker build -t deepspeech:v0.5.1 .`

[2019-08-06 08:19] sogris commented on #2277
Thanks for response. Is there other way how to close tensorflow's session in nodejs than `FreeMetadata` and `DestroyModel`or restarting whole process?

[2019-08-06 08:19] reuben commented on #2288
The packages are there: https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64/

No idea why the `apt-get` step is failing.

[2019-08-06 08:20] peterhon123 commented on #2271
@chungyeh Would you mind share your email ? thanks a lot.

[2019-08-06 08:22] reuben commented on #2277
No. If you're calling DS_DestroyModel and resources are still not being deallocated that's a TensorFlow bug, because we close the TF Session in DS_DestroyModel.

[2019-08-06 08:23] kdavis-mozilla commented on #2288
@peterhon123 Dumb question but what happens if you try again?

[2019-08-06 08:23] sogris commented on #2277
OK, thanks, I will close this issue

[2019-08-06 08:23] #2277 closed

[2019-08-06 08:26] peterhon123 commented on #2288
@kdavis-mozilla @reuben thanks a lot.

[code]

[2019-08-06 08:30] reuben commented on #2288
The base NVIDIA image already installs libnccl2, although it's a different version (2.4.7), and then holds the package. Maybe that's blocking the install? I thought hold only stopped updates, but maybe not. Try just removing/commenting out that line and see if it builds. Version 2.3.7 might not be a hard requirement.

[2019-08-06 08:49] peterhon123 commented on #2288
@reuben @kdavis-mozilla @lissyx thanks reuben, kdavis and lissyx. Now the error is below:

[code]

[2019-08-06 09:02] reuben commented on #2288
Make sure you *clone* the repo and then checkout the v0.5.1 tag (as opposed to downloading the release tarball).

[2019-08-06 09:56] peterhon123 commented on #2288
@reuben I would like to cry when i saw the below even though the words are red...

<img width="1830" alt="Screen Shot 2019-08-06 at 5 54 39 PM" src="https://user-images.githubusercontent.com/11624203/62530586-6cf11700-b873-11e9-9563-caf52b844ac8.png">

[2019-08-06 09:57] #2288 closed

[2019-08-06 10:09] ssetty commented on #2276
Hello,
I executed
pip install --upgrade **deepspeech==0.5.1**

deepspeech --model models/output_graph.pbm --audio Thor.wav --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie

Loading model from file models/output_graph.pbm
TensorFlow: v1.13.1-10-g3e0cc53
DeepSpeech: v0.5.1-0-g4b29b78
Warning: reading entire model file into memory. Transform model file into an mmapped graph to

[2019-08-06 10:34] lissyx commented on #2276
Do you read error messages ?

[2019-08-06 11:01] peterhon123 commented on #2271
@lissyx @reuben @kdavis-mozilla  @chungyeh  I have succeed in install deepspeech from DeepSpeech Dockfile. But i still get the 9 bytes `trie` file. What i did is below

[code]

And here's the file size.

[code]

[2019-08-06 11:12] peterhon123 commented on #2281
No progress. Close it.

[2019-08-06 11:12] #2281 closed

[2019-08-06 13:06] peterhon123 opened #2290 "generated trie file size with only 9 bytes."
I have succeed in install deepspeech from DeepSpeech Dockfile(DeepSpeech version is v0.5.1). But i still get the 9 bytes `trie` file. What i did is below

[code]

And here's the file size.

[code]

The `trie` file content is below: (vim thchs30-trie)

[code]

[Archive.zip](https://github.com/mozilla/DeepSpeech/files/3471853/Archive.zip)

[2019-08-06 13:10] reuben commented on #2290
This is not a bug. If you're using a character-level LM (every space separated word in `thchs30_vocabulary.txt` is one grapheme long) the trie structure is not needed, so the generated file contains just the header.

[2019-08-06 13:10] #2290 closed

[2019-08-06 13:21] peterhon123 commented on #2290
@reuben Thanks reuben. so you mean that i don't need `lm_trie_path` in `.sh` file ? Just like below?

[code]

[2019-08-06 13:23] reuben commented on #2290
No, you need both. That's why we still generate a trie file even though it's only a 9 byte header.

[2019-08-06 13:33] peterhon123 commented on #2290
@reuben thanks reuben. If that is true, then why my inference result is lack of space like below ?

[code]

[2019-08-06 13:37] reuben commented on #2290
That is unrelated to the trie. You'll probably need to remove spaces from your corpus. You should know that using DeepSpeech with character-level LMs/data is not something we've tested. We're working on it, but you might encounter several problems like this where we can't help yet.

[2019-08-06 13:38] peterhon123 commented on #2271
@chungyeh hello chungyeh. According to #2290 @reuben , the `trie` file size should be 9 bytes.

Then why could you generate 45K bytes `trie` file ? I am so curious. Please send me a message if you could see this reply. Thanks a lot.

[2019-08-06 13:41] peterhon123 commented on #2290
@reuben thanks reuben. I will try more experience. The reason i did that cause i follow https://discourse.mozilla.org/t/training-chinese-model/27769.

[2019-08-06 13:45] chungyeh commented on #2271
I have no idea why it is not 9 bytes.

[2019-08-06 13:53] peterhon123 commented on #2271
@chungyeh thanks for reply. Would you mind sharing your `thchs30-lm.binary`, `thchs30-trie`, `thchs30-vocabulary.txt` and `thchs30-words.arpa` with a `zip` file ?  Thanks a lot. :pray::pray:

[2019-08-06 14:25] ssetty commented on #2276
Hi,
File is present.  models folder is present. Why this error appears ?

[2019-08-06 15:02] peterhon123 opened #2291 "test result drop spaces."
I installed deepspeech from DeepSpeech Dockfile(DeepSpeech version is v0.5.1). But the test result drop spaces not the same as the `src`. Follow https://discourse.mozilla.org/t/training-chinese-model/27769

[code]

If i use trained `lm` and `trie` file for inference, i would get the follow answer.
[code]

If i don't use trained `lm` and `trie` file, i would get the follow answer.

[code]

It seems

[2019-08-06 15:12] peterhon123 commented on #2271
@chungyeh  My email is petertsengruihon@gmail.com, hope you are willing to contact with me. Thanks a lot. 🙏🙏

[2019-08-06 16:23] suhad999 commented on #2274
i try again and get this error
Traceback (most recent call last):
  File "DeepSpeech.py", line 844, in <module>
    tfv1.app.run(main)
  File "//anaconda3/lib/python3.7/site-packages/tensorflow/python/platform/app.py", line 40, in run
    _run(main=main, argv=argv, flags_parser=_parse_flags_tolerate_undef)
  File "//anaconda3/lib/python3.7/site-packages/absl/app.py", line 300, in run
    _run_main

[2019-08-06 16:28] kdavis-mozilla commented on #2274
These are both very different errors and the error log tells you what the problems are:

1. The file pointed to by --lm_binary_path must exist and be readable.
2. '/Users/suhadalissa/Desktop/suhad/s112/a1/train/train.cvs' does not exist

As this is not related to the original issue, could you move this discussion to [discourse](https://discourse.mozilla.org/c/deep-speech) please.

[2019-08-06 16:34] suhad999 commented on #2274
no iam re try the steps again and skip the previous issue  i have problem in genereting the binary files. and now i dp this step right and re run the script again and get this error
Traceback (most recent call last):
File "DeepSpeech.py", line 844, in
tfv1.app.run(main)
File "//anaconda3/lib/python3.7/site-packages/tensorflow/python/platform/app.py", line 40, in run
_run(main=main, argv=argv, flag

[2019-08-06 16:51] lissyx commented on #2276
Do you read error messages ? The file is not found. Please check its name.

**`--model models/output_graph.pbm`** or **`--model models/output_graph.pbmm`** ?

[2019-08-07 00:47] chungyeh commented on #2271
i used http://blog.yuwu.me/wp-content/uploads/2018/07/thchs30-csv.tar.gz from https://blog.yuwu.me/?p=3989

and also refer to https://github.com/mozilla/DeepSpeech/issues/1756 and refer to https://github.com/ailurus1991/ds_files/

[2019-08-07 01:30] ssetty commented on #2276
Hi,

deepspeech --model models/output_graph.pbmm --audio Thor.wav --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie

Now I am getting model incompatibility error.

Loading model from file models/output_graph.pbmm
TensorFlow: v1.13.1-10-g3e0cc53
DeepSpeech: v0.5.1-0-g4b29b78
2019-08-07 01:24:02.917095: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports inst

[2019-08-07 04:17] peterhon123 commented on #2291
It seems that the problem is `vocabulary.txt`. I noticed that in https://github.com/ailurus1991/ds_files/, the `thchs30-vocabulary.txt` starts wtih `AND`.

<hr>
<img width="977" alt="Screen Shot 2019-08-07 at 12 13 21 PM" src="https://user-images.githubusercontent.com/11624203/62594376-0c161d00-b90d-11e9-9328-2ea049d48048.png">
<hr>

After i followed this format, i could succeed generated 45 kb tr

[2019-08-07 04:17] #2291 closed

[2019-08-07 04:18] peterhon123 commented on #2271
@chungyeh thanks chungyeh. It seems that the problem is `vocabulary.txt`. I noticed that in https://github.com/ailurus1991/ds_files/, the `thchs30-vocabulary.txt` starts wtih `AND`.

<hr>
<img width="977" alt="Screen Shot 2019-08-07 at 12 13 21 PM" src="https://user-images.githubusercontent.com/11624203/62594376-0c161d00-b90d-11e9-9328-2ea049d48048.png">
<hr>

After i followed this format, i could

[2019-08-07 07:04] peterhon123 opened #2292 "GPU inference time too slow"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux

[2019-08-07 07:08] kdavis-mozilla commented on #2292
This is likely a reflection of the size of your alphabet.

For Mandarin the alphabet size is usually around 5-8K, 150-250 times the size for English, which make the softmax layer much more computationally intensive which slows the inference down.

[2019-08-07 07:13] peterhon123 commented on #2292
@kdavis-mozilla thanks for reply. I noticed the message
`2019-08-07 06:35:08.868703: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1483] Ignoring visible gpu device (device: 0, name: GeForce GTX TITAN X, pci bus id: 0000:04:00.0, compute capability: 5.2) with Cuda compute capability 5.2.The minimum required Cuda capability is 6.0.`

It seems that the GTX TITAN X capability less than 6 therefo

[2019-08-07 07:42] peterhon123 commented on #2292
@kdavis-mozilla i think you are correct.

[code]

[2019-08-07 07:54] peterhon123 commented on #2271
@chungyeh It seems that it took me about 926.603s inference time for 9s audio file. What about yours ?

[2019-08-07 08:03] reuben commented on #2292
Try setting `cutoff_prob` in `StreamingState::processBatch` to a value less than 1. Something like 0.98. It should improve decoding performance significantly, specially for large alphabets.

[2019-08-07 08:52] peterhon123 commented on #2292
@reuben thank you reuben. I tried what you suggest and it seems that the inference time does not change at all. In the next step i would like to try use phoneme to train and intent to reduce the alphabet size.

[2019-08-07 08:52] #2292 closed

[2019-08-07 08:53] #2286 closed

[2019-08-07 09:26] chungyeh commented on #2271
it took couple minutes @@

[2019-08-07 09:27] nmrugg opened #2293 "Support Node.js 7-10"
Now that <a href=https://sourceforge.net/p/swig/news/2019/04/swig-400-released/>SWIG supports Node 2-10</a>, can more node binaries be added?

[2019-08-07 10:19] lissyx commented on #2293
I don't understand the request. We already have support for NodeJS 4.x to 12.x

[2019-08-07 10:28] lissyx commented on #2293
@nmrugg We also have support for ElectronJS.

You can see the versions we build against at https://github.com/mozilla/DeepSpeech/blob/master/taskcluster/tc-tests-utils.sh#L59-L60

[2019-08-07 10:31] lissyx commented on #2293
[code]

[2019-08-07 12:07] reuben commented on #2292
That is weird. Are you sure you properly recompiled the client with the change?

[2019-08-07 12:37] peterhon123 commented on #2292
@reuben Sorry reuben. That's my fault. I just changed the value but not recompiled the client.

[2019-08-07 12:57] #2264 closed

[2019-08-08 06:31] nmrugg commented on #2293
Interesting.

First off, the readme file says `Please note that as of now, we only support Node.JS versions 4, 5 and 6.`.

Also, in that file list, the highest number I see is `node-v72`, which I assume is 7.2.

[2019-08-08 06:47] lissyx commented on #2293
No, node-v72 is the `NODE_MODULE_VERSION`, as you can read on https://nodejs.org/en/download/releases/

[2019-08-08 07:20] nmrugg commented on #2293
Ah, OK. Hmm, maybe it's just certain versions that don't work.

I tried v10.1.0 and v10.4.0, and both gave me the same error:

[code]

But, I just tried v12.4.0, and it works. Maybe something is wrong with the 64 binary.

[2019-08-08 07:32] lissyx commented on #2293
It would have been useful that you first reported this error, this would have saved a lot of time to people. Are you using nodesource packages or something else?

[2019-08-08 07:34] nmrugg commented on #2293
I downloaded it via

[code]

[2019-08-08 07:40] lissyx commented on #2293
I'm asking how your NodeJS setup is done.

[2019-08-08 07:41] lissyx commented on #2293
@nmrugg You still have not even shared a bit of information on your system. Are we supposed to do divination ? We have a template that is to be filled.

[2019-08-08 07:44] nmrugg commented on #2293
Sorry, I didn't indent this to grow like this.

* Linux Ubuntu 16.04
* Node v10.1.0 or v10.4.0
* Python 2.7.12

I get that error when I run:

[code]

Anything else?

[2019-08-08 07:48] lissyx commented on #2293
Where are those coming from ?

[2019-08-08 08:07] nmrugg commented on #2293
Those are just the versions that I tested and that failed. I had those on my system already. I just tried a few different versions. Those ones didn't work.

[2019-08-08 08:10] lissyx commented on #2293
Could you please answer the question ? Where does those came from ?

[2019-08-08 08:12] nmrugg commented on #2293
I downloaded them from here:
https://nodejs.org/dist/v10.1.0/node-v10.1.0-linux-x64.tar.xz
https://nodejs.org/dist/v10.4.0/node-v10.4.0-linux-x64.tar.xz

[2019-08-08 08:14] lissyx commented on #2293
Thanks. This should have worked, since we test against those.

Do you reproduce the issue with latest v64, i.e Node.js 10.16.2 ?

[2019-08-08 08:18] nmrugg commented on #2293
v10.16.2 worked

[2019-08-08 08:18] lissyx commented on #2293
@nmrugg Can you check with `objdump` on your 10.1.0 setup?
[code]

[2019-08-08 08:20] nmrugg commented on #2293
[code]

[2019-08-08 08:20] lissyx commented on #2293
Right, it looks like this might just be upstream issue ?
[code]

[2019-08-08 08:25] lissyx commented on #2293
@nmrugg https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V10.md#2018-09-06-version-10100-current-targos :

[2019-08-08 08:26] lissyx commented on #2293
@nmrugg So i'm going to close this and go back to my holidays.

[2019-08-08 08:26] nmrugg commented on #2293
OK. Thanks for the help. Maybe someone could update the readme sometime.

[2019-08-08 08:27] lissyx commented on #2293
PRs are welcome.

[2019-08-08 08:32] lissyx commented on #2293
Because, as you can see, we cannot test all and possible combinations of node versions. Out of luck, we used 10.12.0 release of NodeJS to build the v0.5.1 package, and this included the `v8::Isolate` symbol.

[2019-08-08 08:44] nmrugg commented on #2293
Yeah. I'll close this, and I can make a PR to update the readme later.

[2019-08-08 08:44] #2293 closed

[2019-08-08 12:30] ssetty commented on #2276
Kindly help with below. What needs to be done for compatibility issues?

Model compatibility
DeepSpeech models are versioned to keep you from trying to use an incompatible graph with a newer client after a breaking change was made to the code. If you get an error saying your model file version is too old for the client, you should either upgrade to a newer model release, re-export your model from

[2019-08-08 13:03] lissyx commented on #2276
Are you sure this is 0.5.1 model?

[2019-08-08 13:49] ssetty commented on #2276
Yes....
Pre-trained models
wget https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/deepspeech-0.5.1-models.tar.gz
tar xvfz deepspeech-0.5.1-models.tar.gz

Log also says..
Loading model from file models/output_graph.pbmm
TensorFlow: v1.13.1-10-g3e0cc53
DeepSpeech: v0.5.1-0-g4b29b78

Thanks

[2019-08-08 14:22] lissyx commented on #2276
Your error mentions model version 0, that's weird.

[2019-08-08 15:34] reuben commented on #2276
That happens when loading an older pbmm with a newer client. You're probably using one of the 0.6 alphas?

[2019-08-09 10:07] malena1906 opened #2294 "Wrong character timings from ctc_decoder"
- I have written a few lines to output character timings in native_client/python/client.py: (l. 59)

[code]
- Linux Ubuntu 16.04 in Docker Image from Dockerfile
- Exact command to reproduce: using your pretrained model 0.5.0, your lm, your smoke test audio (all from version 0.5.0)

[code]
- output is:

0.340	s
0.520	h     *****
0.380	e
0.480
0.520	h     *****
0.560	a
0.600	d
0.700
0.720	t
0.760	o

[2019-08-09 10:14] lissyx commented on #2294
@malena1906 That does not look wrong. Maybe we should check timestamp does increase ?

[2019-08-09 10:43] vibhashahani opened #2295 "Error running session: Not found: PruneForTargets: Some target nodes not found: initialize_state Segmentation fault (core dumped)"
Hi,

I am trying to train my own model on some 1000 files which is about 1 hour of data.
These are the steps I followed:

1. git clone https://github.com/mozilla/DeepSpeech.git
This downloads and installs the version 0.6.0-alpha.4

2. virtualenv -p python3 venv
source venv/bin/activate

3. pip3 install -r requirements.txt
pip3 install $(python util/taskcluster.py --decoder)

pip3 uninstall tensorf

[2019-08-09 11:29] reuben commented on #2295
You're training a model on master and then trying to use it with a 0.5.1 client (installed via pip3 install deepspeech-gpu). You need to install the 0.6.0-alpha.4 version of that package.

[2019-08-09 11:29] reuben commented on #2295
(Or checkout v0.5.1 and train using that version of the training code).

[2019-08-09 12:25] reuben commented on #2294
Yeah, it seems that is indeed where the problem is coming from, but I don't yet fully understand the cause here. I'll take a deeper look.

[2019-08-09 12:50] ssetty commented on #2276
Hi - what needs to be done?  Please send link for correct binaries version which are compatible.

[2019-08-09 12:54] kdavis-mozilla commented on #2276
Create a new virtual environment and install deep speech
[code]

[2019-08-10 08:02] lissyx commented on #2295
Closing because of cross-posting and this is not a bug: https://discourse.mozilla.org/t/error-running-session-not-found-prunefortargets-some-target-nodes-not-found-initialize-state-segmentation-fault-core-dumped/43606

[2019-08-10 08:02] #2295 closed

[2019-08-12 14:39] SamahZaro commented on #1953
dropout_rates variable is fixed to the values you pass as a parameter. This is not the right variable to track.

Did you successfully track the dropout probabilities per step? I need this part of code.

[2019-08-12 15:25] mdasari823 opened #2296 "could not find a version that satisfies the requirement deepspeech"
I searched everywhere. I am not sure if this is a generic problem with `pip` or specific to deepspeech. I am able to install other packages through `pip` though. Any idea why I am getting this and how to resolve this?

I am trying to install deepspeech using `pip3 install deepspeech`

[2019-08-12 16:10] kdavis-mozilla commented on #2296
Is your platform supported?

[2019-08-12 16:17] mdasari823 commented on #2296
Aah, I am not sure. I am using Jetson NANO devkit. I don't see any specific supported platforms in the instructions either. So if this is the reason, the only way to do this I assume is that I have to follow [this](https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md) procedure?

[2019-08-12 16:33] kdavis-mozilla commented on #2296
The supported platforms are indicated in the [0.5.1 Release Notes](https://github.com/mozilla/DeepSpeech/releases/tag/v0.5.1). Unfortunately, the Jetson NANO is not on the list.

However, that said Jetson NANO is an interesting target platform, and we'd be interested in any progress you make on a port.

[2019-08-12 16:35] #2296 closed

[2019-08-12 17:29] lissyx commented on #2296
Given the situation on armv7 / aarch64 for pip wheels, I'm curious to see `pip install --verbose deepspeech` @mdasari823

[2019-08-12 18:37] mdasari823 commented on #2296
@lissyx I attached the log.

[log.txt](https://github.com/mozilla/DeepSpeech/files/3493848/log.txt)

[2019-08-12 19:30] lissyx commented on #2296
Sad, no hint. To give context, we cannot upload aarch64 wheels for rpi3 to pypi because of lack of proper ABI definition. So even if we get all the CI in place to build aarch64 cuda, I'm unsure we could host them for pypi.

[2019-08-12 19:33] mdasari823 commented on #2296
Do you mean you cannot upload for Jetson NANO? You guys already have support for Pi3 right? I am now trying to run deepspeech on RPi3.

[2019-08-12 20:03] lissyx commented on #2296
Yes, but the upload is not done to the pypi repo, but to one that is enabled by default on Raspbian.

I don't know if a similar setup is done on the system running on the jetson nano.

[2019-08-12 20:12] mdasari823 commented on #2296
Okay. I will try my luck on this because the deepspeech model on Pi3 is dog slow it seems. It is taking almost a minute for sentence of few words. Will let you know if I succeed. Thanks man for the suggestions.

[2019-08-13 20:59] superdutyf3 opened #2297 "Issue training existing deepspeech model using checkpoints"
Linux Ubuntu 18.04
Tensorflow-gpu 1.14.0
Python 3
Cuda 10
CuDNN 7.5
GTX 1080

We have had an issue using the checkpoint for an existing model for fine tuning. We are unsure of what this error means

[code]

[2019-08-13 22:44] JRMeyer opened #2298 "Declared but unused variable `aPreAllocFrames`"
@reuben -- the `aPreAllocFrames` variable in `deepspeech.cc` is declared but unused, unless I'm missing something:

https://github.com/mozilla/DeepSpeech/blob/29836c9dcc4c2e30e57ae6e50d303fbb317325bb/native_client/deepspeech.cc#L332

[2019-08-14 10:28] kdavis-mozilla commented on #2297
It appears you are training an existing model using Deep speech 0.5.1.

Training with Deep speech 0.5.1. requires Tensorflow 1.13.1, see the 0.5.1 [README](https://github.com/mozilla/DeepSpeech/tree/v0.5.1#recommendations), not Tensorflow 1.14.0 which it appears that you are using.