[2019-08-14 14:51] superdutyf3 commented on #2297
Missed that detail about Tensorflow 1.13.1. Got that installed and removed old version now i have this error:

python3 DeepSpeech.py --checkpoint_dir /home/shop/Downloads/deepspeech-0.5.1-checkpoint/ --trie /home/shop/deepspeech-0.5.1-models/trie --lm_binary_dir /home/shop/deepspeech-0.5.1-models/lm.binary --train_files /home/shop/Downloads/en/clips/train.csv --test_files /home/shop/Downloads/en/c

[2019-08-14 14:55] lissyx commented on #2297
@superdutyf3 Are you sure you did checkout `v0.5.1` tag ?

[2019-08-14 15:14] superdutyf3 commented on #2297
we are using deepspeech 0.5.1.

pip3 install 'deepspeech == 0.5.1'

and removed alpha build

[2019-08-14 15:16] lissyx commented on #2297
You are mixing everything. This is not for training, this is for inference. Please ensure `git checkout v0.5.1` in your git clone before running `python DeepSpeech.py`

[2019-08-14 15:25] superdutyf3 commented on #2297
That worked!
`git checkout -b v0.5.1`
Successfully restored checkpoint and now continuing training the model
Sorry for the misunderstanding and thank you very much for your help!

[2019-08-14 15:38] #2297 closed

[2019-08-14 20:09] mdasari823 commented on #2296
@kdavis-mozilla @lissyx I am consistently getting this error. Any hints on how to resolve this?

I am running `bazel build --workspace_status_command="bash native_client/bazel_workspace_status_cmd.sh" --config=monolithic --config=cuda -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" --copt=-fvisibility=hidden //native_client:libdeepspeech.so //native_client:generate_trie`

I am getting `INFO:

[2019-08-15 02:07] TrieuLe0801 opened #2300 "Bad audio format f or WAV"
Hi everyone, I have started training deepspeech with my own Japanese dataset, and I got this issue:
tensorflow.python.framework.errors_impl.InvalidArgumentError: Bad audio format for WAV: Expected 1 (PCM), but got3
	 [[{{node DecodeWav}}]]
	 [[tower_0/IteratorGetNext]]
I am using  Ubuntu 18.04 with Tensorflow 1.14, python 3.6, and bazel 0.24.1. My CUDA version is 10.1

[2019-08-15 08:58] lissyx commented on #2300
@TrieuLe0801 So you have a bogus file in your dataset ? You need to find which one.

[2019-08-15 09:00] lissyx commented on #2296
@mdasari823 Have you ran `./configure` with CUDA steps ?

[2019-08-15 10:51] mdasari823 commented on #2296
I just added `--config=cuda `while configuring. Are there any other steps?

[2019-08-15 10:51] lissyx commented on #2296
Yes, please refer to upstream for configuration steps.

[2019-08-15 10:56] mdasari823 commented on #2296
I don't see any other extra configuration specific to CUDA. I following this and I moved a bit further. Now, at least the compilation started and but getting failed in the middle. Here is the error.

`WARNING: The following configs were expanded more than once: [cuda]. For repeatable flags, repeats are counted twice and may lead to unexpected behavior.
INFO: Analysed 2 targets (0 packages loaded,

[2019-08-15 10:57] lissyx commented on #2296
You need to read upstream documentation on building with CUDA. Setup CUDA 10.0, pass TF_* variables at configure time, etc.

[2019-08-15 10:57] lissyx commented on #2296
https://www.tensorflow.org/install/gpu

[2019-08-15 11:02] lissyx commented on #2296
That error does not match your link: yours refers to GCC 4.8 while the link documents GCC 5.5.

You might want to have a look at https://github.com/mozilla/tensorflow/blob/r1.14/.bazelrc#L76-L81 and re-use similar flags to perform Aarch64 cross-compilation.

[2019-08-15 11:03] mdasari823 commented on #2296
Ah, I followed those instructions. I am able to compile at least few files so far. The following error is common it seems. Any idea?

`ERROR: /home/essence/tensorflow/native_client/BUILD:150:1: undeclared inclusion(s) in rule `

[2019-08-15 11:03] wegamekinglc commented on #2292
@peterhon123 Does this change really improved your decoding performance?

[2019-08-15 11:05] lissyx commented on #2296
Yes, that's inconcistent with your link, again. Bazel will refuse building against headers it does not knows about for reproductibility. So you are likely missing something somewhere. This can be tricky. That's why I suggest relying on our tested aarch64 cross-compilation, I can't debug other's infras.

[2019-08-15 11:20] mdasari823 commented on #2296
Yes, I am using [this](https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md) and Mozilla's tensorflow. Let me see with the flags that you suggested. Thanks.

[2019-08-15 12:06] peterhon123 commented on #2292
@wegamekinglc I haven't tried it yet. Now i am training based on `Pinyin`.

[2019-08-15 19:49] MikeLevene283 opened #2301 "tensor dimension trained models"
With the first DeepSpeech release v0.1.0 it was possible to directly access the trained model (output_graph.pb) for inference with a few lines of code (e.g. something along these lines
`graph = tf.get_default_graph()
  tf.import_graph_def(graph_def, name="deepspeech")
 input_node = graph.get_tensor_by_name('deepspeech/input_node:0')
 input_lengths = graph.get_tensor_by_name('deepspeech/input_lengt

[2019-08-15 21:10] rhamnett commented on #2185
Might be wrong but seems the 0.5.1 was trained with some extra data set missing and will be corrected in 0.6.0

[2019-08-15 21:27] JRMeyer commented on #2297
@kdavis-mozilla --- the solution discussed here is to downgrade the DeepSpeech to `v0.5.1`

However, is there a solution to re-export checkpoints from a trained `v0.5.1` model using `v0.6.0` code, resulting in a `v0.6.0` model?

We're trying this now, but exporting breaks with the same error as above, specifically:

[code]

Also, downgrading tensorflow to `1.13.1`, with deepspeech `v0.6.0` breaks

[2019-08-16 02:20] TrieuLe0801 commented on #2300
@lissyx Yeah, I also thought like that. I tried printing to make sure it can load and read the wav files
-----------------------------------------------------------------------------------------------------------------
I Initializing variables...
I STARTING Optimization
Epoch 0 |   Training | Elapsed Time: 0:00:00 | Steps: 0 | Loss: 0.000000       /home/trieulv/work/deepspeech_mozilla/japanese_dat

[2019-08-16 05:04] reuben commented on #2301
You'll have to re-export from the checkpoint with `--n_steps -1`, take a look at evaluate.py to see how the graph can then be used.

[2019-08-16 05:40] lissyx commented on #2300
Well, TensorFlow seems to disagree ... Remove that file from your dataset ?

[2019-08-16 05:43] lissyx commented on #2297
Yes, that's why it's a 0.6 and not 0.5.2 :)

[2019-08-16 07:23] ssetty commented on #2276
Thanks now this works. Creation of virtual env  solved version issues.
How do I custom train? Accuracy needs to be increased.

[2019-08-16 07:33] lissyx commented on #2276
There are plenty of docs covering that aspect, as well as threads on Discourse. Since there is indeed no bug here, i'll close that issue.

[2019-08-16 07:33] #2276 closed

[2019-08-16 09:39] reuben commented on #2294
OK, I think I've identified the problem, but it's hard to verify how my fix impacts the quality of the timings.

@malena1906 could you try out PR #2302 and see if it fixes the problem for you? Also, if you have any other inputs that had this problem and could try them as well, I'd appreciate it!

[2019-08-16 15:24] MikeLevene283 commented on #2301
Thank you for the fast answer. Re-exporting from the checkpoint with `--n_steps -1` does the job. Is there any advantage of the provided models having a fixed batch size?

One additional problem occurs when using a version newer than 0.4.1. Directly loading the model with the code posted in the initial comment (i.e. using `tf.import_graph_def(...)`) causes following error:

Is there any possibilit

[2019-08-17 06:18] reuben commented on #2301
The reason why our inference graph only processes 16 time steps at a time is that we want to support streaming inference, and with a graph that takes the entire audio file at once that's not possible.

The import failure is due to a special metadata node that we put in the graph when saving. IIRC you can simply delete that node from the graph before calling import_graph_def with `del g['model_meta

[2019-08-17 18:43] mdasari823 commented on #2296
@lissyx I finally built the deepspeech libraries for Jetson Nano. But, when I run the model I am getting model incompatibility issues. Please see below for the full error. Any idea how I can proceed?

`essence@essence-desktop:~$ deepspeech --model models/output_graph.pbmm --alphabet models/alphabet.txt --audio audio/2830-3980-0043.wav
Loading model from file models/output_graph.pbmm
TensorFlow: v1

[2019-08-17 19:26] dabinat opened #2304 "Label validator lets invalid characters through"
The comments for the label validation function suggest that it is supposed to filter all characters except a-z, space and apostrophe, but that’s definitely not what the code actually does.

The Common Voice English wiki sentences initially had accented characters, some of which made their way into the validated dataset. While this is obviously something that needs to be rectified in the dataset, I

[2019-08-17 19:27] rhamnett commented on #2304
I think that's what --normalize is for

[2019-08-17 21:03] dabinat commented on #2304
It’s not just letters, there are some symbols that don’t get stripped either.

[2019-08-17 21:05] rhamnett commented on #2304
what is the exact command you ran

[2019-08-18 04:37] dabinat commented on #2304
I ran it without normalization because I don’t want it normalized because those transcripts aren’t even supposed to be in the dataset. I want the importer to skip them. One would assume given that the argument is called

[2019-08-18 04:39] dabinat commented on #2304
(Didn’t mean to close it - I hit the wrong button on my phone)

[2019-08-18 08:08] lissyx commented on #2296
Are you trying to run 0.5.1 model on master build? You need to have matching versions, we have a 0.6.0a4 model on github, maybe @reuben has the link?

[2019-08-18 08:10] lissyx commented on #2296
Try that https://github.com/reuben/DeepSpeech/releases/tag/v0.6.0-alpha.4

Also did you cross compile?

[2019-08-18 11:28] mdasari823 commented on #2296
@lissyx thank you so much. Yes, I was running 0.5.1 model on master build. Your new model v0.6.0 is running successfully. Thanks.
I built it on Nano itself, did not cross compile. It was really slow to build bazel dependency and had many issues. I will post detailed instructions and all commands that I followed. Thanks.

[2019-08-18 11:53] lissyx commented on #2296
Thanks, I'd really prefer seeing it being cross-compiled: this way it's a first step for us to be able to leverage and provide it.

[2019-08-18 12:35] mdasari823 commented on #2296
Yes,  I realised in the middle that I should have cross-compiled. Would have been faster. I will git it a try some time this week.

[2019-08-18 13:18] rhamnett commented on #2304
I ran import_cv2.py with normalize and saw only regular alphabet chars.

[2019-08-19 01:27] TrieuLe0801 commented on #2300
Okay, It works now, thank you.

[2019-08-19 07:05] lissyx commented on #2300
Thanks, I'll close that 😊

[2019-08-19 07:05] #2300 closed

[2019-08-19 10:32] MikeLevene283 commented on #2301
Thanks a lot for your answer. I have one more question for this inference without building the graph.

I am not quite sure how to do that. If I look into the evaluate.py or the DeepSpeech.py (i.e. do_single_file_inference) you always build the graph first by calling create_model before loading the checkpoint. Do you have any example how to just load the frozen graph and do inference? Loading the f

[2019-08-19 11:59] reuben commented on #2301
We have all the steps documented in the README, eg. https://github.com/mozilla/DeepSpeech/blob/master/README.md#using-a-pre-trained-model

[2019-08-19 13:47] MikeLevene283 commented on #2301
Sorry, but if I am not mistaken, the README just mentions how to do inference with the pre-trained model using the installed deepspeech package. I don't see any Python code to directly load the frozen graph and do inference (without building the graph and restoring the checkpoint)

[2019-08-19 13:49] reuben commented on #2301
Oh, so you want to use TensorFlow to directly load the exported graph? Then you'll have to use the checkpoint. Our pre-trained models are meant to be used with the native client or their bindings for Python/NodeJS/Rust/etc. Any direct manipulation should be done via the checkpoint rather than the exported model to avoid any weirdness (like the metadata node for example).

[2019-08-19 13:49] #2301 closed

[2019-08-19 13:56] MikeLevene283 commented on #2301
Yes exactly. Thanks a lot for your answer

[2019-08-19 18:26] eggonlea commented on #2304
Just FYI. With both of "--filter_alphabet" and "--normalize", the dataset generated by import_cv2.py can be trained correctly. But I didn't check which one (or both) actually did the trick.

[2019-08-19 18:31] dabinat commented on #2304
I think this may have been caused by another script and is not actually a DeepSpeech issue. I can no longer reproduce this.

[2019-08-19 18:31] #2304 closed

[2019-08-20 07:40] TrieuLe0801 opened #2306 "Fail in training model in Japanese"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).
Hi everyone,
I have started training deepspeech model with my japanese dataset, and I got this problem:
[code]
Please help me solve it. I got dataset from jsut and kaggle.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **TensorFlow version (use command below)*

[2019-08-20 08:00] lissyx commented on #2306
There's no error in that training log, can you please explicit what is wrong here ?

[2019-08-20 10:04] #2294 closed

[2019-08-20 11:55] lissyx commented on #2306
@TrieuLe0801 Can you elaborate ?

[2019-08-20 14:47] lissyx commented on #2298
It looks like its use was removed as part of d9a269412e492ca5046c9ab89f0547be51050159 cc @dabinat

[2019-08-20 14:49] lissyx commented on #2298
Maybe we should take the opportunity of v0.6 to fix that and remove it from the API

[2019-08-20 15:13] lissyx commented on #2261
Closing for lack of activity

[2019-08-20 15:13] #2261 closed

[2019-08-20 15:14] lissyx commented on #2274
@suhad999  Do you read the error messages ? It says your file does not exists ...

[2019-08-20 15:15] lissyx commented on #2274
@vibhashahani Is your error fixed ? Can we close this ?

[2019-08-20 15:16] lissyx commented on #2186
Closing for lack of activity

[2019-08-20 15:16] #2186 closed

[2019-08-20 15:16] lissyx commented on #1977
@raultang Can you give us update?

[2019-08-20 15:17] lissyx commented on #2271
Closing as it seems there is no issue here. Please use Discourse for discussions.

[2019-08-20 15:17] #2271 closed

[2019-08-20 15:20] lissyx commented on #1354
Closing because it is likely outdated. Feel free to open a new issue if required.

[2019-08-20 15:20] #1354 closed

[2019-08-20 15:21] vibhashahani commented on #2274
Yes it got fixed. I used v 0.5.1 to fix the issue. Thanks a ton.

[2019-08-20 15:23] lissyx commented on #2274
Thanks!

[2019-08-20 15:23] #2274 closed

[2019-08-20 15:38] suhad999 commented on #2274
yes i fixed the trie file issue, but again i have  another error, when i run my script , the training completed to the end , but the problem in testing , it could not finish or start the testing and give me this error: fatal python error.
i try to solve it but i can’t success, please help me

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: lissyx <notifications@gi

[2019-08-20 15:59] lissyx commented on #2274
As I said, it's not a bug. Please use Discourse for getting help. And please share more information than "fatal python error" ....

[2019-08-20 16:09] suhad999 commented on #2274
ok i will do that.
and about share more information about the error, like this
[Image]

________________________________
From: lissyx <notifications@github.com>
Sent: Tuesday, August 20, 2019 6:59 PM
To: mozilla/DeepSpeech
Cc: Suhad; Mention
Subject: Re: [mozilla/DeepSpeech] Error: Trie file version mismatch (4 instead of expected 3). Update your trie file. terminate called after throwing an insta

[2019-08-20 16:12] lissyx commented on #2274
Thanks for illustrating perfectly why you should never share screenshots but actual plain text content.

[2019-08-20 16:16] suhad999 commented on #2274
ok i will do that

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: lissyx <notifications@github.com>
Sent: Tuesday, August 20, 2019 7:13:11 PM
To: mozilla/DeepSpeech <DeepSpeech@noreply.github.com>
Cc: Suhad <smalissa17@cit.just.edu.jo>; Mention <mention@noreply.github.com>
Subject: Re: [mozilla/DeepSpeech] Error: Trie file version mismatch (4 instead of expected

[2019-08-20 19:49] #2272 closed

[2019-08-21 01:58] TrieuLe0801 commented on #2306
@lissyx when it predicted the data test, it didn't respond any. I think maybe I miss some steps

[2019-08-21 06:13] lissyx commented on #2306
According to the log and those, you've got 3 epochs completed. It's likely your model just learnt nothing ...

Why using 494 ? Our models are trained with 2048.

Also, @TrieuLe0801 you don't document how much data you have to perform training ...

[2019-08-21 07:03] lissyx opened #2310 "Support Debian Buster on ARM64"

[2019-08-21 07:45] lissyx commented on #1954
Closing for lack of activity and likely fixed by #2192

[2019-08-21 07:45] #1954 closed

[2019-08-21 07:47] lissyx commented on #1815
Looks lk ethis is a discussion, not a bug, and there's PR in flight for that. Closing.

[2019-08-21 07:47] #1815 closed

[2019-08-21 08:51] sonfiree opened #2312 "import_cv2.py windows 10 error"
[code]

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (use command below): tensorflow v1.14.0
- Python version: python 3.7
- Bazel version (if compiling from source): bazel 0.24.1
- CUDA/cuDNN version: CUDA 10.2

[2019-08-21 08:56] lissyx commented on #2312
@sonfiree Can you run that command manually ?

[2019-08-21 09:03] sonfiree commented on #2312
@lissyx no

[2019-08-21 09:15] lissyx commented on #2312
Well then install `sox` to have `soxi` ?

[2019-08-21 09:18] sonfiree commented on #2312
`sox` install

[2019-08-21 09:19] malena1906 commented on #2294
For me it does fix the problem with inconsinstens in increasing timings but I think the two start characters are quite different now
here is the same output with the changes included. Sorry I haven't had time earlier to response
0.000	s *****
0.020	h *****
0.360	e
0.460
0.480	h
0.520	a
0.580	d
0.620	e
0.780	d
0.960	u
1.020	c
1.100	s
1.200
1.220	s
1.280	u
1.300	i
1.340	t
1.360
1.420	a
1.440	n
1.460

[2019-08-21 09:22] malena1906 commented on #2294
Here you can see both OLD and NEW version of the timings in audacity and for the first word its weird

![image](https://user-images.githubusercontent.com/48288706/63419851-ce81bb80-c405-11e9-9b83-864aec0d6585.png)

[2019-08-21 09:33] lissyx commented on #2312
So ? Does it works ?

[2019-08-21 09:33] sonfiree commented on #2312
sox it`s work. Code not work

[2019-08-21 09:34] sonfiree commented on #2312
windows 10
[code]

[2019-08-21 09:34] lissyx commented on #2312
Do you mind sharing more informations ? We can't do anything to help with "code not work".

[2019-08-21 09:43] lissyx commented on #2312
Sorry, but that is not giving more informations. Re-run the `soxi` command line. Does it works? Then re-run the importer? Share the output.

[2019-08-21 10:09] sonfiree commented on #2312
`soxi` not work

[2019-08-21 10:13] lissyx commented on #2312
@sonfiree again, can you elaborate ? I'd really like to help you, but so far I'm spending more time asking you to just share us errors to **know** what's happening.

[2019-08-21 10:15] sonfiree commented on #2312
I showed the error on top.
`sox` installed, `soxi` not found

[2019-08-21 10:22] lissyx commented on #2312
@sonfiree sorry but it's hard to do divination with that much details. Unfortunately you need to figure out how / why soxi is still not found. Is it in your PATH? Nobody on the team uses windows, and we only support training on Linux so far.

I'm sure it's just a PATH issue.

[2019-08-21 10:37] lissyx commented on #2312
@sonfiree why did you close the issue?

[2019-08-21 10:41] lissyx commented on #2312
The fact that we don't currently support training on Windows does not mean we don't care about you getting it. Before contributors sent us feedback / patches we had no build for windows at all, and now it's supported for inference.

[2019-08-21 11:04] sonfiree commented on #2312
I will switch to linux.
Since on windows it does not even see gpu

[2019-08-21 11:08] lissyx commented on #2312
Have you installed `tensorflow-gpu` ?

[2019-08-21 11:08] lissyx commented on #2312
There's Windows support on upstream, so you should be able to get that part working https://pypi.org/project/tensorflow-gpu/#files

[2019-08-21 12:53] #2298 closed

[2019-08-21 15:22] reuben commented on #2294
@malena1906 Oooh, great idea importing the labels into Audacity!

I did some experiments and the first word timings with the fix match what they looked like before the peak probability change (5bf6e63f1b87289ab870d0f027b2be185d5ae79e) was introduced. So this is a behavior unrelated to that change or the fix for this issue. Would you mind opening a new issue about this weird first word behavior? I'

[2019-08-21 20:30] lissyx commented on #978
I have a PR #2313 that will ensure we statically link against `libsox`.

[2019-08-21 20:53] #978 closed

[2019-08-22 02:19] TrieuLe0801 commented on #2306
@lissyx I based on this article to train the model
https://medium.com/sotuu/hiragana-based-speech-recognition-for-japanese-with-deepspeech-220d14047d51
I only have 20,000 records including wave files and transcripts to train model

[2019-08-22 02:37] sonfiree commented on #2312
Yes.
numpy conflict version

[2019-08-22 06:29] lissyx commented on #2312
Can you elaborate ?

[2019-08-22 06:31] lissyx commented on #2306
Thanks but there is no information whatsoever regarding the versions that have been used.

You also have used some early stopping features, maybe it is too aggressive? Try without any early stop.

[2019-08-22 06:45] sonfiree opened #2314 "multi gpu"
How to enable multi gpu?
I have two RTX 2070s and only one of them works. More precisely, I can not start, out of memory.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ununtu 18.04
- TensorFlow version (use command below): tensorflow v1.14.0
- Python version: python 3.6.8
- CUDA/cuDNN version: CUDA 10.0
- GPU 2xRTX 2070

![Screenshot_106](https://user-images.githubusercontent.com/261

[2019-08-22 06:48] kdavis-mozilla commented on #2314
It should just work. Also, the screen shot you presented doesn't say anything about an out of memory error.

PS: Please do not include screen shots.

[2019-08-22 06:49] sonfiree commented on #2314
Incorrectly asked question.
How to limit memory consumption? `Batch_size` does not work correctly

[2019-08-22 06:50] sonfiree commented on #2314
[code]

[2019-08-22 06:53] kdavis-mozilla commented on #2314
Could you explicitly indicate what command line you ran?

[2019-08-22 06:54] sonfiree commented on #2314
`./DeepSpeech.py --alphabet_config_path /home/rt/data/alphabet.txt --train_files /home/rt/data/clips/train.csv --dev_files /home/rt/data/clips/dev.csv --test_files /home/rt/data/clips/test.csv --train_batch_size 2 --dev_batch_size 2 --test_batch_size 2
`

[2019-08-22 06:56] sonfiree commented on #2312
[code]

[2019-08-22 06:58] sonfiree commented on #2314
I usually limit it like that

[code]

[2019-08-22 06:59] kdavis-mozilla commented on #2314
This is unrelated to batch size and unrelated to multi gpu.

What version of TF and cuDNN do you have installed?

[2019-08-22 07:00] sonfiree commented on #2314
[code]

[2019-08-22 07:03] sonfiree commented on #2314
Im used docker TF `tensorflow/tensorflow:latest-gpu-py3-jupyter`

[2019-08-22 07:05] lissyx commented on #2312
You don't need `deepspeech` installed for training.

[2019-08-22 07:07] lissyx commented on #2314
That error is documented: https://github.com/mozilla/DeepSpeech/blob/master/README.md#recommendations

[2019-08-22 07:09] sonfiree commented on #2314
And where to change it in the code? I do not understand you

[2019-08-22 07:11] lissyx commented on #2314
You need to set that in the environment of your process.

[2019-08-22 07:11] lissyx commented on #2314
With Docker, it's likely `-e ...=...`

[2019-08-22 07:29] sonfiree commented on #2314
`-e TF_FORCE_GPU_ALLOW_GROWTH=true`
It`s work. Thx

[2019-08-22 07:29] #2314 closed

[2019-08-22 07:31] #2310 closed

[2019-08-22 07:33] malena1906 opened #2315 "Weird first word behavior in decoder character timings"
- I have written a few lines to output character timings in native_client/python/client.py: (l. 59)
[code]
- Linux Ubuntu 16.04 in Docker Image from Dockerfile
- Exact command to reproduce: using your pretrained model 0.5.0, your lm, your smoke test audio (all from version 0.5.0)
[code]
- the two starting characters are quite weird after the changes of PR #2302 :
- output with the changes included

[2019-08-22 07:39] sonfiree commented on #2312
I know.
Not build windows
`util/taskcluster.py`
`whl - not found`
linux - it`s work

[2019-08-22 07:44] lissyx commented on #2312
I'm sorry, but it's too short to be helpful, can you share complete errors ?

[2019-08-22 07:44] sonfiree commented on #2312
I can not regret, I switched to linux

[2019-08-22 07:48] lissyx commented on #2312
Right, i'll close that since it's not a bug, hopefully somebody will find useful informations in it :)

[2019-08-22 07:48] #2312 closed

[2019-08-22 08:39] reuben commented on #2315
Right, this is the last thing I thought of while looking at this. The information is currently not exposed or kept easily accessible in the decoder, and there's a hard "forget" boundary between batches, as each `decoder_next` call only sees 16 time steps at a time for our inference graphs and clients.

I guess as a first step it'd be nice to see some visualizations of the curves of probability ove

[2019-08-22 18:04] iekhwang opened #2318 "E Checkpoint directory(/root/.local/share/deepspeech/checkpoints)does not contain a valid checkpoint state."
- OS Platform and Distribution  Linux Ubuntu 16.04
- TensorFlow installed from (our builds, or upstream TensorFlow)**:
- TensorFlow version (use command below): tensorflow-gpu   1.14.0
- Python version: Python 3.6.8
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
- CUDA/cuDNN version:10.0
- GPU model an

[2019-08-22 18:46] lissyx commented on #2318
Loading checkpoint should not even happen if you don't give `--checkpoint_dir`. Is this current master ? Are you referring to https://github.com/mozilla/DeepSpeech/blob/master/Dockerfile ?

Can you share Docker build logs as well ?

[2019-08-22 21:01] iekhwang commented on #2318
Yes, based on that dockerfile, I built it the day before yesterday and it has successfully built. The DeepSpeech version is 0.6.0-alpha.4. The weird thing is I can successfully run it yesterday, today is not working,always shows the problem like ' **does not contain a valid checkpoint state** ', but I did not change any checkpoint stuff.

Docker builds log: https://github.com/iekhwang/Mozilla-Deep

[2019-08-22 21:03] iekhwang commented on #2318
Yes, based on that Dockerfile, I built it the day before yesterday and it has successfully built. The DeepSpeech version is 0.6.0-alpha.4. The weird thing is I can successfully run it yesterday, today is not working,always shows the problem like ' does not contain a valid checkpoint state ', but I did not change any checkpoint stuff.

Docker builds log: https://github.com/iekhwang/Mozilla-DeepSpee

[2019-08-22 21:26] iekhwang commented on #2318
OK, I think I deleted the old checkpoints in (/root/.local/share/deepspeech/checkpoints) this file, because it always shows the --n_hidden is not matched when I changed the --n_hidden to 512. But I don't think this is the main problem.

[2019-08-23 02:38] gqy2468 opened #2319 "Error running session: Not found: PruneForTargets: Some target nodes not found: initialize_state"
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux ubuntu 4.4.0-116-generic
TensorFlow installed from (our builds, or upstream TensorFlow): upstream TensorFlow
TensorFlow version (use command below): 1.14.0
Python version: 3.5.2
CUDA/cuDNN version: use CPU
GPU model and memory: use CPU

When I was using my own model. I got this errror as follow:

Is there anyone can tell me what's happ

[2019-08-23 02:39] gqy2468 commented on #2319
Here is my training script : [https://github.com/gqy2468/DeepSpeech/blob/master/bin/run-thch30.sh](https://github.com/gqy2468/DeepSpeech/blob/master/bin/run-thch30.sh)

[2019-08-23 02:42] gqy2468 commented on #2319
Here is my trie file :
[thchs30-trie.zip](https://github.com/mozilla/DeepSpeech/files/3532623/thchs30-trie.zip)
Why my trie file's format is not binary format?

[2019-08-23 06:33] lissyx commented on #2319
Can you tell us what you did ?

[2019-08-23 06:42] reuben commented on #2318
`--checkpoint_dir` has a default value of `xdg.BaseDirectory.save_data_path(os.path.join('deepspeech', 'checkpoints'))`, which is where the path in this issue is coming from.

[2019-08-23 07:13] iekhwang commented on #2318
Yes, I know that is a default path. Can I disable checkpoints when I training? Because I want to train a new model, not load any checkpoint. I'm trying to set --checkpoint_dir '', but it also not works.

[2019-08-23 07:14] gqy2468 commented on #2319
I have re-generate my trie file by using the commands as follow (refer to [https://github.com/mozilla/DeepSpeech/blob/master/data/lm/README.md](https://github.com/mozilla/DeepSpeech/blob/master/data/lm/README.md)):

[code]

And my trie file format is correct, and maybe I should train the model again?!

[2019-08-23 07:14] reuben commented on #2318
If you want to train a new model just specifying an empty folder is enough. This is a use case that's exercised daily by several people, something weird is going on with your setup.

[2019-08-23 07:17] lissyx commented on #2319
Was that from master ? Your inference log shows running 0.5.1 binary. If you trained on master, then your files are not compatible.

[2019-08-23 07:47] iekhwang commented on #2318
I set it to empty or ' ' or a directory path

`  --checkpoint_dir  "" \`
`  --checkpoint_dir  " " \`
`  --checkpoint_dir  /DeepSpeech/checkpoints/aishell_moz`

it gives the feedback like this

`E Checkpoint directory (/root/.local/share/deepspeech/checkpoints) does not contain a valid checkpoint state.
`
`E Checkpoint directory ( ) does not contain a valid checkpoint state.`
`E Checkpoint director

[2019-08-23 07:49] lissyx commented on #2318
It's both, and it's working for everybody, so there's something in your setup, as said before.

[2019-08-23 08:03] gqy2468 commented on #2319
Yes, I trained on master! And now I get the error as follow:

[2019-08-23 08:03] gqy2468 commented on #2319
Here is my new trie file:
[thchs30-trie.zip](https://github.com/mozilla/DeepSpeech/files/3533441/thchs30-trie.zip)

[2019-08-23 08:06] lissyx commented on #2319
I guess I gave you the answer ? Train / infer on matching versions ?

[2019-08-23 08:10] gqy2468 commented on #2319
I upgraded my deepspeech by using `pip install deepspeech --upgrade`, and now the error has disappeared! And now it's running inference, maybe I should wait the result for some minutes?

[2019-08-23 08:17] gqy2468 commented on #2319
Why the newest version of deepspeech is v0.6.0 on windows, but v0.5.0 on ubuntu?The problem still exists on ubuntu!!!

[2019-08-23 08:18] lissyx commented on #2319
`pip install --upgrade deepspeech` should not install you alpha versions ...

[2019-08-23 08:19] lissyx commented on #2319
Now, as you can see here https://pypi.org/project/deepspeech/0.6.0a5/#files, we have 0.6.0a5 for both systems, so I don't know why it would not insall, unless you start sharing more errors / feedback from pip ...

[2019-08-23 08:25] gqy2468 commented on #2319
I have stay on this status for some minutes and there are no errors! Why?

![无标题](https://user-images.githubusercontent.com/5274484/63578169-7c39c980-c5c2-11e9-88d2-ffa3d1ab8912.png)

[2019-08-23 08:25] lissyx commented on #2319
I won't reply to a screenshot.

[2019-08-23 08:31] gqy2468 commented on #2319
Sorry, now I get the inference result, but the time seems be too long! However, thanks for your answers!

[2019-08-23 08:31] lissyx commented on #2319
See github issues / discourse discussion, this is known on large alphabets.

[2019-08-23 08:31] #2319 closed

[2019-08-23 16:25] eggonlea commented on #2318
That error happens in inference stage. I guess you changed the code to bypass the whole training process.

[2019-08-24 04:14] andrenatal commented on #2048
@lissyx really? It seems @SSaishruthi had issues with Common Voice data set which supposedly should be clean enough, and I also heard other people facing it with proprietary datasets.

[2019-08-24 06:27] lissyx commented on #2048
Maybe, but unless we get feedback it's hard to move on.

[2019-08-27 14:24] vcjob opened #2323 "Feature window/step length in samples can be a floating point value with different sample rates, breaks the export graph"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:only flags and Deepspeech.py a bit.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:linux 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:
- **TensorFlow version (use command below)**:1.14 gpu
- **Python version**: 3.6.8
- **Bazel version (if compiling

[2019-08-27 14:32] kdavis-mozilla commented on #2323
If you stop training by hand, e.g. Control-C, how do you know the last checkpoint is completely and correctly written to disk?

PS: Please do not include screen shots. Include text to allow for searching.

[2019-08-28 06:29] vcjob commented on #2323
Sorry for the screen shot.
I don't know that 100%, but earlier with the early-stopping feature turned on I had the same problem.
If I can not use ctrl+c, how do I suppose to stop training to get the right, not overfitted model? If I click _ctrl+c_ there still will be the "_best_devel_checkpoint_", right? So the model would be generated from that one.
Let me also mention, that I waited for 2 more e

[2019-08-28 08:05] kdavis-mozilla commented on #2323
As to how stop training without overfitting, early stopping prevents overfitting.

If you use Control-C there's no guarantee on the validity of any files that are being written. So you should not use it or you'll end up in situations like you are now.

PS: Can we move this to [discourse](https://discourse.mozilla.org/c/deep-speech) as it appears there's no bug per se

[2019-08-28 08:10] vcjob opened #2326 "Failed to call ThenRnnBackward with model config"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:only flags and Deepspeech.py a bit.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**:
- **TensorFlow version (use command below)**:1.14 gpu
- **Python version**: 3.6.8
- **Bazel version (if co

[2019-08-28 08:12] reuben commented on #2323
705.6 is 22050*0.032. Are you using 22050 Hz audio files for training? The problem here, as indicated by the stack in the error message, is that Config.audio_window_samples is a floating point value (computed from the sample rate and feature window length), which is not a valid dimension for a shape.

I *think* adding a `ceil` call there, in this case making it 706 samples long, would be fine. But

[2019-08-28 08:15] reuben commented on #2326
You're running out of GPU memory. Probably your augmentation process introduced longer audio files (hence why the problem happens at the end of the epoch, we sort samples by length). Either remove samples that are too long from your dataset or reduce your batch size.

[2019-08-28 08:15] #2326 closed

[2019-08-28 08:18] vcjob commented on #2323
Thank you for the explanation!
I actually thought that _ f.DEFINE_integer('audio_sample_rate', 22050, 'sample rate value expected by model') _ lets me normally run the code with no tweaks. Am I wrong? What that flag searves for?
So, the best (the most clear) solution for now seems to be downsample all audio to 16000 Hz, right?

[2019-08-28 08:23] reuben commented on #2323
It should work, but apparently no one ever tested it with 22050 Hz. I suspect there will be similar edge cases in the native client, where we're probably truncating to int instead of ceiling.

[2019-08-28 08:24] reuben commented on #2323
And yes, in general resampling to 16kHz is the safest choice with DeepSpeech since all the data we use is 16kHz.

[2019-08-28 08:26] vcjob commented on #2323
Thank you a lot! I will try. Have a good one!

[2019-08-28 11:39] tillahoffmann opened #2328 "Streaming API does not seem to be thread-safe"
Using the streaming api in `deepspeech==0.5.0` does not seem to be thread safe. It seems that [`https://github.com/mozilla/DeepSpeech/blob/master/native_client/test/concurrent_streams.py`](https://github.com/mozilla/DeepSpeech/blob/master/native_client/test/concurrent_streams.py) tries to address a similar question, but I couldn't figure out where my code differs substantially from the linked code

[2019-08-28 13:20] kdavis-mozilla commented on #2328
This is in the [Known Issues section of the 0.5.1 release notes](https://github.com/mozilla/DeepSpeech/releases/tag/v0.5.1).

[2019-08-28 13:52] tillahoffmann commented on #2328
Great, thanks for the pointer, @kdavis-mozilla. Should I close this issue in favour of an existing one?

[2019-08-28 16:06] reuben commented on #2328
Yes, it's already been fixed in master and should go out with 0.6.0. In the mean time, you can use one of the 0.6 alphas with the re-exported 0.5.1 model: https://github.com/reuben/DeepSpeech/releases/v0.6.0-alpha.4

[2019-08-28 16:06] #2328 closed

[2019-08-28 16:07] reuben commented on #2328
Fix was in #2146 FWIW.

[2019-08-28 18:38] reuben commented on #432
@dabinat hi! Yeah, that is still valid. I fixed one minor point which was that we were computing and returning `beam_size` paths just to throw away all but one. That is fixed by separating beam_width and top_paths in `decoder_decode`. But the overall structure of the work should still be the same.

Returning a list of several paths might be tricky to get working with SWIG plus all our different bi

[2019-08-29 08:36] aminekha opened #2330 "How to store the transcribed text to a variable?"
I want to store the transcribed text into a variable to use it in another program. How to do that?

[2019-08-29 09:06] reuben commented on #2330
Please use Discourse for general discussion of DeepSpeech, the issue tracker is for bugs and feature requests, as described in the issue template you deleted in order to post this.

[2019-08-29 09:06] #2330 closed

[2019-08-29 09:23] lissyx commented on #2233
@beriberikix Have you been able to make any progress ?

[2019-08-30 19:19] capotti opened #2331 "cannot find .pbmm file as described in README.md"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2019-08-30 19:41] capotti commented on #2331
got it. Sorry. deepspeech-0.5.1-models.tar.gz

[2019-08-30 19:41] #2331 closed

[2019-08-31 07:46] javeedrahman commented on #2318
Even for me when I start training a new model it is continuing from the previous training from a release model checkpoint, I have deleted /root/.local/share/deepspeech/checkpoints and also specified empty folder before I start training a model.

[2019-08-31 17:14] alemol commented on #2306
Maybe is out of question but I had also bad results for Spanish with this configuration the network, after a full day, just learn - res: "nor"

So i would like to know if other languages than English are supported?

[code]
[code]

[2019-08-31 17:34] carlfm01 commented on #2306
Hello @alemol I see that you are using ciempiess data, from my experience with ciempiess the data is not clean enough, wrong transcriptions lead to inf as your log shows.
See gt transcriptions "tiones", "ciertas ac" that looks wrong.

Your train_batch_size is too low, try increasing it to 20, are you training on GPU?

Did you train a new lm? I see you didn't use the lm param, maybe is falling back

[2019-08-31 22:49] michaelguo32 commented on #2296
@mdasari823 I'm running into similar issues. Do you mind letting me know the steps that you took to get it to work on the Jetson Nano?

[2019-09-01 06:27] jacobjennings opened #2332 "Feature request: Full integer quantization for tflite: Coral edge TPU compatibility"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Kubun

[2019-09-01 07:01] jacobjennings commented on #2332
If it helps, I would be happy to fund a Coral USB for you to try. jacob.r.jennings@gmail.com
I think there's potential to cross the real-time barrier on a Pi with this thing. Would be fun for my DIY projects.

[2019-09-01 10:51] mdasari823 commented on #2296
@michaelguo32 I listed the issues that I faced and the resources that I referred  [here](https://github.com/mdasari823/DeepSpeech-Jetson-Nano/blob/master/Deepspeech-Jetson-Nano.pdf). I had to try out different combinations. Post the issue here if you want me to give you any hint.

[2019-09-01 15:44] lissyx commented on #2332
I've already tried to get that working but the intersection between what is supported for EdgeTPU and our current model makes it incompatible. Please see existing threads on discourse and also NNAPI and GPU delegations issues on github.

[2019-09-01 19:48] alemol commented on #2306
Thanks @carlfm01 for the accurate observations.
    * Yes I am now working with ciempiess but i really liked the openslr link. i will add more clean data. I am very interested in your 120h Spanish Speech;
    * I will increase the `train_batch_size ` as you suggest. Actually I tried `n_hidden =2048` as suggested below but it jus never ends i will try with 1048;
    * I am working now to create my

[2019-09-01 20:12] jacobjennings commented on #2332
Unfortunate. Thanks for the info.

[2019-09-02 00:31] michaelguo32 commented on #2296
When I try to build tensorflow using the following command found at step 7 in this [link](https://devtalk.nvidia.com/default/topic/1055131/jetson-agx-xavier/building-tensorflow-1-13-on-jetson-xavier/):
`bazel build --config=opt --config=cuda --config=nonccl //tensorflow/tools/pip_package:build_pip_package --verbose_failures --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"`

I get a message saying "FAILED: Bu

[2019-09-02 08:44] mdasari823 commented on #2296
Looks like compiler problem. Adding `--copt=”-std=gnu99”` in the bazel command may help but not sure.

[2019-09-02 09:33] lissyx commented on #2332
Yeah, don't worry, I'd like to get it working so I'll keep testing on some spare cycles

[2019-09-02 10:38] Tortoise17 opened #2333 "taskcluster --- six and decoder issue."
Dear Friends and support.

I am facing some issues with deepspeech. Out of which one is here.

[code]

although I have installed six in environment of python3.

I am confuse. Also, I am not able to install decoder.
Please help and guide.

For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, t

[2019-09-02 11:19] lissyx commented on #2333
Obviously, not. If you don't share details on your setup, we can't help.

Same, we can't do divination on your errors. If you refuse to share details we will have to close the issue.

[2019-09-02 11:43] Tortoise17 commented on #2333
Hi.

I have just started from start and this was command which I run after installations of requirement.

[2019-09-02 11:45] lissyx commented on #2333
You said you had installed `six`, now you say you did nothing ?

[2019-09-02 11:49] Tortoise17 commented on #2333
Steps I did.

1) I clone Deepspeech
2) made conda environments for deepspeech to be installed there
3) Installed requirements
4) then this step task cluster.
5) six error. as shown above.

[2019-09-02 11:51] lissyx commented on #2333
As documented, please use vanilla python and virtualenv instead of anaconda

`six` is part of the `requirements.txt` file

No `load the virtual environment step` ?

[2019-09-02 11:55] Tortoise17 commented on #2333
of course the requirements are installed in virtual env. as below.

1) clone deepspeech
2) conda create -n speech python=3.6
3) activated the environment as conda activate speech
4) Installed requirements
5) then this step task cluster.
6) six error. as shown above.

python conda virtual environment is active. !!

[2019-09-02 11:56] lissyx commented on #2333
Well, again, do not use conda. Share all, precise steps. Your current console output does not show any `PS1` matching a Python virtual env enabled ...

[2019-09-02 12:04] Tortoise17 commented on #2333
Can you guide what is PS1 matching a python env? or steps to create it?

as the packages in pip list are below

DeepSpeech]$ pip3 list
Package    Version
---------- -------
pip        19.2.3
setuptools 39.2.0
six        1.12.0

DeepSpeech]$ pip list
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that d

[2019-09-02 12:14] Tortoise17 commented on #2333
Something worked now. I think I should close this now. !!! thank you for kind help. I will open new issue. Because I am stuck at next stage. //

[2019-09-02 12:14] Tortoise17 commented on #2333
Thank you so much for kind help.

[2019-09-02 12:14] #2333 closed

[2019-09-02 12:15] lissyx commented on #2333
Bash PS1, your shell ...

Here we go, you are mixing versions ...

[2019-09-02 12:15] lissyx commented on #2333
Please make sure you read documentation and share actionable data.

[2019-09-02 12:16] Tortoise17 commented on #2333
Sure sir, I am happy with your immediate help I will share my all steps detailed and the error. with the data files. in few minutes. // in new issue.

[2019-09-02 15:01] shan18 opened #2334 "Model training only on 26164 audio files"
I am trying to run the training by following the **Training Your Own Model** section in the README.

I first downloaded the common voice English dataset. Then ran the script `bin/import_cv2.py` but it only converts 26164 audio files to .wav i.e. only those files which are mentioned in the train, dev and test tsv files which are just a unique subset of files present in validation.tsv

Aren't we req

[2019-09-02 15:21] reuben commented on #2334
We have used just the unique subset in our release models.

[2019-09-02 15:21] #2334 closed

[2019-09-02 17:41] sargense opened #2335 "Install instructions from readme fail"
I am following the pip install instructions from the readme in arch linux and it is saying that it installed correctly, but I have no deepspeech command AND much of the code in DeepSpeech.py if pasted and run independently fails.

While I don't expect the team to make the library work for every system ever, can you please place within the readme a distribution with a given setup that is guaranteed

[2019-09-02 18:03] dabinat commented on #2335
Did you use pip or pip3? It should be pip3 but the pip command on your system may be pointing to the earlier version.

[2019-09-02 18:27] shan18 commented on #2334
Thank you for the response @reuben. So to reproduce the results, I should use the full validation.tsv right?

[2019-09-02 19:40] lissyx commented on #2335
We got several reports from people running arch and it works. Can you describe exactly what you do?

[2019-09-02 19:52] carlfm01 commented on #2306
Hello, training 120h using the CPU will take days and the GT 730 is not enough to fit the default batch size, sorry but I guess you need to to an upgrade.

Please for further issues/discussion use the forum, I'll help you there :https://discourse.mozilla.org/

[2019-09-02 20:04] reuben commented on #2334
No, just the train/dev/test splits created by the script.

-- reuben

[2019-09-02 20:41] sargense commented on #2335
I literally copy-pasted the instructions from the readme. Starting with "pip3 install deepspeech". The next command after that "deepspeech --model models/output_graph.pbmm --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie --audio my_audio_file.wav" didn't work. In fact, I don't have a "deepspeech" command at all. I didn't get an error in the install, pip claimed deepspeech wa

[2019-09-03 01:30] HowieYang0 opened #2336 "Cannot install deepspeech version 0.5.1"
====== system information ========
- no custom code:
- raspbian (raspberry pi 4):
- TensorFlow installed with Deepspeech (when installed with deepspeech.0.6.0-alpha):
- TensorFlow version (v1.14.0):
- python version 3.7.3:
- CUDA/cuDNN version = unknown:
- GPU model and memory: Broadcom VideoCore VI
- exact command:
`$pip3 install -verbose deepspeech==0.5.1 > pip3_log.txt
`

I downloaded the deeps

[2019-09-03 04:06] shan18 commented on #2334
I did that already. I used only the train/dev/test splits created by the script (which have 26,164 wav files) and the loss on the test set I got was 131.93

The trained model generates the same text for every audio it gets. I think 26,164 samples are just too less to train the model.

[2019-09-03 05:59] reuben commented on #2336
I don't think v0.5.1 had support for the RPi4. You can get a version of the v0.5.1 model re-exported to be compatible with the v0.6.0 alphas at https://github.com/reuben/DeepSpeech/releases/v0.6.0-alpha.4

[2019-09-03 05:59] #2336 closed

[2019-09-03 07:12] lissyx commented on #2335
This is already what we do document. Have you properly setup a virtualenv as documented?

[2019-09-03 07:13] kdavis-mozilla commented on #2335
For the [latest release](https://github.com/mozilla/DeepSpeech/releases/tag/v0.5.1) we provide a list of supported platforms which includes "Linux x86 64 bit with a modern CPU" and also "Linux x86 64 bit with a modern CPU + NVIDIA GPU". So it's surprising that the install fails.

Also for the latest release we include a [Docker](https://github.com/mozilla/DeepSpeech/blob/v0.5.1/Dockerfile) file to

[2019-09-03 08:36] sonfiree opened #2337 "Training model"
How to know the default startup parameters during training?

[2019-09-03 08:37] reuben commented on #2337
Read the default values for [the flags](https://github.com/mozilla/DeepSpeech/blob/master/util/flags.py).

[2019-09-03 08:37] #2337 closed

[2019-09-03 10:33] lissyx commented on #2336
Yeah, the issue is that I have not yet made Python 3.7 packages, see #2272

[2019-09-03 10:35] lissyx opened #2338 "Make examples first-class citizens"
Feedback from some workshop is that we should pay more attention to the quality and working status of the examples we have in the repossitory to help people.

- [x] Have CI running on examples #2353
- [x] Ensure examples works with latest stable version #2351
- [x] Improve documentation by referring to examples
- [x] Once v0.6, stick examples to it

[2019-09-03 10:38] lissyx opened #2339 "Generate more standard-expected documentations"
Feedback from some workshop is that we should try and have closer to ecosystem documentations. One example was NodeJS API which has no doc, and calls bindings directly, making people have to read the C header. That looks to be un-natural to them and a blocking point.

- [x] Generate Java doc #2362
- [x] Generate NodeJS doc #2362
- [x] Generate Python doc #2362
- [x] Generate C doc #2362

[2019-09-03 10:45] lissyx commented on #2335
Honestly, without more context, that just looks like you have not followed the documentation and created a Python virtualenv. And so the deepspeech binary is installed, and it's path is not in your `$PATH`. Which would be taken care of with virtualenv.

[2019-09-03 10:53] lissyx opened #2340 "Update workers for TaskCluster Community deployment"
- [x] Upgrade macOS heavy workers to latest `generic-worker`
- [x] Upgrade macOS light workers to latest `generic-worker`
- [x] Upgrade RPI3B+ workers to latest `docker-worker`
- [x] Upgrade LePotato workers to latest `docker-worker`
- [x] Upgrade Windows workers to latest `generic-worker`

[2019-09-03 16:07] sargense commented on #2335
The request (which can be turned down) is for having a simple do 1,2,3 series of instructions that would be guaranteed to work on a fresh system obtainable via container, VM, or cloud provider, not debugging a particular system.

In fact, when moving to clean systems from a cloud provider both GPU and CPU, I ran into other errors when just doing a blind copy-paste starting at the top of the readme

[2019-09-03 16:09] lissyx commented on #2335
The answer is that **we do that, relying on virtualenv**. You still have not replied on whether you properly followed those steps.

Again, we document how to setup virtualenv and install. That should work for everybody.

[2019-09-03 16:10] lissyx commented on #2335
https://github.com/mozilla/DeepSpeech/blob/master/README.md#using-the-python-package

# Create
# Activate
# Install

How does that not qualify ?

[2019-09-03 16:23] dabinat commented on #2334
Common Voice doesn't have enough data at the present time to generate a production-quality model. The solution is to obtain additional data sources or wait until Common Voice has accrued more data.

You're not the first person to be confused by this so I filed an issue to list the number of unique hours on the Datasets page: https://github.com/mozilla/voice-web/issues/2201

[2019-09-03 16:37] sargense commented on #2335
I never questioned that the needed information wasn't available.

The readme has step 3 first, step 2 second, and step 1 third. The suggestions was for tested on $OS and then steps 1,2,3. This doesn't have to be at the top. I've already gotten deepspeech to work in more than one way. Thanks.

[2019-09-03 16:41] lissyx commented on #2335
I'd really love to understand what did not work for you, it would really be useful that you share what problem you faced ...

[2019-09-03 16:42] lissyx commented on #2335
Commands in that GIF are outdated, I think we should just get rid of it or update it ? cc @kdavis-mozilla

[2019-09-03 17:01] sargense commented on #2335
So not in a venv, the key is "pip install requirements.txt". Pretty standard fare. I just like to have the quick test this out and see if it works for you option. Deepspeech performed pretty well, so it's probably worth getting to work in a variety of setups (I'll be trying the docker build next but adding some other standard DS packages (like Jupyter) and work on adding my own simple API for file

[2019-09-03 17:12] lissyx commented on #2335
Honestly, I'm lost. You ask for "easy to reproduce setup", which is what we provide. And then you start with something else. And your statement is wrong, `requirements.txt` is required in any case, but that's for training.

Again, that's exactly what we do document with the virtualenv ...

[2019-09-03 17:49] sargense commented on #2335
It would be nice, it is a wish, that it could be as easy as it looks in the GIF at the top of the readme. That's it, there is nothing more to the issue other than that. Just a copy-paste these items in this exact order and you have a working deepspeech model. I am not saying the items are not in the readme, but they are not in order.

The readme, does not start with venv. You have a GIF that shows

[2019-09-03 18:18] lissyx commented on #2335
Now we progress. Please, do not hesitate to suggest a better ordering.

Well, that's already the case. The GIF is outdated wrt the command line parameters etc., but up-to-date instructions would end up in the same.

[2019-09-03 18:45] lissyx commented on #2335
My point being that we need your feedback to understand what is to be changed in the current doc.

[2019-09-03 20:10] reuben commented on #2335
We should update the GIF for the new params. And probably put the virtualenv creation in the first code listing, as a mandatory step. People who already know how virtualenv works can adapt as needed but I guess it'll simplify the text as a whole.

[2019-09-03 20:12] reuben commented on #2335
@sargense I have no idea how your example number two (without a virtualenv) is working, because it's not supposed to. The `deepspeech` binary is installed when you do `pip install deepspeech`, which is missing from that example. There's probably some namespace pollution happening and you're using the binary installed in the previous step, or something like that.

[2019-09-03 20:38] alemol commented on #2306
https://discourse.mozilla.org/t/training-a-mexican-deep-speech-model/44620?u=alemol

[2019-09-04 03:01] sonfiree opened #2341 "Error learning Russian language"
Error learning Russian language. The error does not fall, but is it growing normally?

- train - 479998

- dev - 227000

`./DeepSpeech.py --alphabet_config_path /storage/data/data/alphabet.txt --train_files /storage/data/data/clips/train.csv --dev_files /storage/data/data/clips/dev.csv --test_files /storage/data/data/clips/test.csv --train_batch_size 24 --dev_batch_size 48 --test_batch_size 48 --d

[2019-09-04 03:43] shan18 commented on #2334
Okay, I understand now.
Can you please just help me out with the following questions as well?
1. How many unique hours of data would I need to train a production-ready model?
2. If possible, can you tell me what dataset was used by mozilla to train their DeepSpeech model in order to get such good accuracy?

[2019-09-04 05:44] jageshmaharjan opened #2342 "deepspeech latest release (v0.6.0-alpha.5), still not compatible with CUDA-10.1 version."
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux

[2019-09-04 05:45] michaelguo32 commented on #2296
It's still not working. I didn't notice you building the tensorflow library. I just see that you built the deepspeech library with the following command right after you ran ./configure  for tensorflow:
`bazel build --workspace_status_command=”bash
native_client/bazel_workspace_status_cmd.sh” --config=monolithic
--config=cuda -c opt --copt=-O3 --copt=”-std=gnu99”
--copt=”-D_GLIBCXX_USE_CXX11_ABI=0”

[2019-09-04 06:40] lissyx commented on #2342
That's expected, and documented. Upstream supports 10.0, and se document that.

[2019-09-04 06:40] #2342 closed

[2019-09-04 06:45] jageshmaharjan commented on #2342
Yea, saw that. Thanks.

[2019-09-04 06:57] lissyx commented on #2342
I think that 10.1 has some incompatibilities wrt eigen's use by tensorflow, so I'm not sure you can even build it by yourself, but you can try?

[2019-09-04 07:04] kdavis-mozilla commented on #2334
Depends on you application and the target language.

For unrestricted speech on the order of 5k hours of audio, maybe more. For a command and control application, much less. The exact amount would depend on the number of commands and the variance in the end user's speech patterns.

This if documented in the [release notes](https://github.com/mozilla/DeepSpeech/releases/tag/v0.5.1), Fisher, LibriSp

[2019-09-04 07:08] jageshmaharjan commented on #2342
Since, `libdeepspeech.so` depends on these `libcudart.so.10.0, libcublas.so.10, libcusolver.so.10.0` libraries from cuda, will check those cuda lib in previous version, and try to build.

[2019-09-04 07:12] kdavis-mozilla commented on #2341
Three points:

- You should checkout the repo with git lfs
- If you are training on Russian you need to create your own language model following a process like [this](https://github.com/mozilla/DeepSpeech/blob/master/data/lm/README.md).
- Issues like this which are not bugs or feature requests should be moved to [discourse](https://discourse.mozilla.org/c/deep-speech).

[2019-09-04 07:12] #2341 closed

[2019-09-04 07:33] lissyx commented on #2342
Those are the CUDA 10.0 dependencies, so if you setup CUDA 10.0, it should work. Also, try to avoid anaconda.

[2019-09-04 07:49] jageshmaharjan commented on #2342
Yea, those are CUDA 10.0 libraries, for CUDA 10.1 (in my case), it is `libcudart.so.10.1, libcublas.so.10.1, libcusolver.so.10.1`.
Ok, I'll try without conda environment, because most of the lib is a system lib, that doesn't exist in conda env.

[2019-09-04 07:54] kdavis-mozilla commented on #2335
I'm all for getting rid of it @reuben why do you think it's useful to keep?

[2019-09-04 08:22] shan18 commented on #2334
Okay, I understand now. Thanks a lot.

[2019-09-04 10:30] mdasari823 commented on #2296
Yes, I didn't need tensorflow library. I was compiling for deepspeech library. Did you make changes to following files as described in my document above?

`tensorflow/lite/kernels/internal/BUILD,`
`third_party/aws/BUILD.bazel, `
`third_party/gpus/crosstool/BUILD.tpl`

[2019-09-04 12:41] #2340 closed

[2019-09-04 17:12] nmstoker commented on #1821
If #432 is completed, people would be able to experiment with ways of handling hints and context assistance more easily (possibly with a view to then including the more broadly applicable successful ones as part of the API)

I like the hints idea but I think it might be valuable to gather together the distinct kinds of scenarios people want to be able to solve. In some cases distinct LMs make sens

[2019-09-04 17:27] michaelguo32 commented on #2296
Yes, I've patched those files. I now tried following your instructions exactly and ran the following command:
`bazel build --workspace_status_command=”bash native_client/bazel_workspace_status_cmd.sh” --config=monolithic --config=cuda -c opt --copt=-O3 --copt=”-std=gnu99” --copt=”-D_GLIBCXX_USE_CXX11_ABI=0” --copt=-fvisibility=hidden //native_client:libdeepspeech.so //native_client:generate_trie`

[2019-09-04 17:35] mdasari823 commented on #2296
Wait, are you building deepspeech now?

[2019-09-04 17:40] michaelguo32 commented on #2296
Yes, I started the whole process from the beginning. So basically I have installed all the dependencies, built bazel, created a swapfile, linked the natvie_client to the tensorflow directory, and finally ran the build command above.

[2019-09-04 17:58] mdasari823 commented on #2296
I am guessing it is not able to locate bazel_workspace_status_cmd.sh or
maybe some of the previous tensorflfow build is conflicting. Not sure man.

On Wed, Sep 4, 2019 at 6:41 PM michaelguo32 <notifications@github.com>
wrote:

--
Best Regards,
*Mallesh Dasari*
WINGS Lab, Computer Science
Stony Brook University
*http://www3.cs.stonybrook.edu/~mdasari/
<http://www3.cs.stonybrook.edu/~mdasari/>*

[2019-09-05 08:25] reuben commented on #2296
The error message is telling you exactly what's happening:

    ERROR: invalid target format: '//native_client:bazel_workspace_status_cmd.sh”'; invalid target name 'bazel_workspace_status_cmd.sh”': target names may not contain non-printable characters: '\x80'

The problem is that weird quote mark there: https://apps.timwhitlock.info/unicode/inspect/hex/201D

\x80 is the second byte in its UTF-8 en

[2019-09-05 13:25] nmstoker commented on #2338
Having clear examples to confirm basic functionality would be very useful to deter the kind of naïve posts seen so often from people who've barely read the installation details, tried to go "off road", got into trouble and then post a limited description, expecting help :slightly_smiling_face:

I sympathise with the temptation to try something new with the exciting toys but if they can't be sure i

[2019-09-05 13:25] michaelguo32 commented on #2296
You are right, it was the double quote that was causing the issue.

So I was able to compile deepspeech, but when I try to compile the language bindings I run into another error:
`svs@svs-desktop:~/DeepSpeech/native_client$ make deepspeech
c++   -std=c++11 -o deepspeech `pkg-config --cflags sox` client.cc  -Wl,--no-as-needed -Wl,-rpath,\$ORIGIN -L/home/svs/tensorflow/bazel-bin/native_client  -ldee

[2019-09-06 01:44] sevenold opened #2344 "train loss vs test loss (train chinese dataset)"
**parameter**

python -u DeepSpeech.py
–train_files /media/seven/data/datasets/audio/aishell/csv/aishell_manifest.train.csv
–dev_files /media/seven/data/datasets/audio/aishell/csv/aishell_manifest.dev.csv
–test_files /media/seven/data/datasets/audio/aishell/csv/aishell_manifest.test.csv
–train_batch_size 80
–dev_batch_size 80
–test_batch_size 40
–n_hidden 512
–epochs 100
–validation_step 1
–dropou

[2019-09-06 07:49] kdavis-mozilla commented on #2344
As this is not a bug or feature request, could you move this discussion to [discourse](https://discourse.mozilla.org/c/deep-speech)? Thanks.

[2019-09-06 07:49] #2344 closed

[2019-09-06 09:24] reuben opened #2345 "Save model configuration along with checkpoints"
Currently we save just model weights in the checkpoints, which means one has to develop their own ad-hoc experiment tracking system to avoid mixing things up when experimenting. It'd be nice if the code saved a file with all the hyperparameters along with the checkpoint so that one can check how a checkpoint was trained. I think absl.flags has some builtin support for something like this (a flag f

[2019-09-06 14:25] chrisspen opened #2347 "Unbounded probability"
The probability returned in the metadata doesn't appear to be bounded, so I'm having trouble interpreting it.

I usually see floats between 40-90, so I thought it was being returned as a percent, but occasionally it returns values like 109.969795227050, which don't make sense. It doesn't appear to be log likelihood either, as exp(109) is still out of bounds.

Is probability a percent but somehow u

[2019-09-06 15:04] reuben commented on #2335
Updated the readme: https://github.com/mozilla/DeepSpeech/pull/2343

[2019-09-06 16:44] dabinat commented on #2347
If I recall correctly, when this was implemented one of the devs said that the probability isn't really interpretable by itself but can be used to compare the confidence of a transcription with an alternative transcription.

But I agree that a percentage that could be used independently of other transcriptions would be more useful.

[2019-09-06 18:00] chrisspen commented on #2347
Someone correct me if I'm wrong, but now I'm thinking the probability being returned is actually a logit value, not a raw probability. Following [this explanation])(https://sebastiansauer.github.io/convert_logit2prob/), if I convert the probability value returned in the metadata via `math.exp(p / (1. + p))` that gives me a value that's always bounded between 0 and 1.

[2019-09-07 05:35] sargense commented on #2335
My bad. Definitely not namespace pollution because each install test was done on a fresh cloud instance spun up for testing. But I definitely did "pip3 install deepspeech" and accidentally dropped that piece when editing the paste from history. But testing on different cloud instances and providers, pipping requirements before pip3 installing deepspeech will not always work and sometimes other con

[2019-09-08 03:52] #2335 closed

[2019-09-08 23:15] tylercollins590 opened #2348 "Loading BaiduEN8K from DeepSpeech2"
I have been conducting testing with DeepSpeech on the accuracy of my recordings. I've found that if I use the original DeepSpeech2 from Baidu, using their model, I tend to get better transcription results. I believe this is because it was trained on over 8,000 hours of their own data.

Is it possible to run the BaiduEN8K model from their initial implementation, in this DeepSpeech implementation?

[2019-09-09 01:47] tsungruihon opened #2349 "Train loss not lower than 12"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux

[2019-09-09 07:15] reuben commented on #2348
It is not possible

[2019-09-09 07:15] #2348 closed

[2019-09-09 07:37] kdavis-mozilla commented on #2349
The loss depends on the language, the noise in the data set, the original audio format.... Basically there is no general rule.

Also, as this is not a bug or feature request could you move the discussion to [discourse](https://discourse.mozilla.org/c/deep-speech). Thanks.

[2019-09-09 07:37] #2349 closed

[2019-09-09 09:55] tsungruihon commented on #2349
thanks @kdavis-mozilla .

[2019-09-09 10:07] #2345 closed

[2019-09-09 10:18] reuben opened #2351 "Update examples to use latest version of DeepSpeech"
A lot of our examples are pinned to v0.4.1. It'd be nice to update them, specially after the breaking changes in #2350.

[2019-09-09 15:56] lissyx commented on #2351
Yeah, that was the next item after #2338

[2019-09-09 16:20] lissyx opened #2353 "Run examples on TaskCluster"

[2019-09-10 08:10] reuben commented on #2347
Yeah, this field should have a better name like "confidence". It's a sum of the log-odds over the entire transcription/beam. You can convert it to be bounded between 0 and 1, but should still not interpret the value in isolation.

[2019-09-11 03:30] shan18 opened #2356 "Training does not start when using multi GPU"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **TensorFlow installed from**: upstream TensorFlow
- **TensorFlow version**: 1.14.0
- **Python version**: 3.6.8
- **CUDA/cuDNN version**: 10.0 / 7.6
- **GPU model and memory**: 2 x GTX 1080 Ti (Each with 12 GB memory)
- **Exact comm

[2019-09-11 06:53] kdavis-mozilla commented on #2356
What are the env variables you run the multi-gpu code under?

[2019-09-11 08:34] reuben commented on #2356
To be clear, we exercise this code daily and it works fine with one or several GPUs.

[2019-09-11 08:37] shan18 commented on #2356
Okay, I'll check my installation. Thank you for the help.

[2019-09-11 08:37] #2356 closed

[2019-09-11 08:41] lissyx commented on #2356
Sharing more logs could have helped us help you.

[2019-09-11 08:45] shan18 commented on #2356
@lissyx  I don't have any more logs. The training just stops at this point. I waited for 45 mins for it to start, it didn't. Then when I ran it on a single GPU, it worked as usual.

[2019-09-11 08:51] reuben commented on #2236
Fixed by #2350

[2019-09-11 08:51] #2236 closed

[2019-09-11 08:56] lissyx commented on #2356
You should have or force having more logs. `TF_CPP_MIN_LOG_LEVEL` does that, and we have `--log_level` to expose that.

[2019-09-11 09:16] shan18 commented on #2356
Okay, I'll try once more and report back the logs.

[2019-09-11 12:40] Tortoise17 commented on #2351
@ reuben
Dear Reuben.

I have to ask question regarding examples with DeepSpeech.
While using only CPUs / e.g., 12 cores (no hyper threading), and using common voice. Can you give idea from any of the example dataset how much time it should take to train a model with default parameters. (Like training depends on GBs (volume) or minutes of the dataset). Please guide in this context. No GPU is invol

[2019-09-11 13:22] lissyx commented on #2351
Please use Discourse and do not hijack unrelated issues.

[2019-09-12 02:41] siyangbing opened #2359 "Hello, I would like to ask if there is a Chinese pre-training model, or you can train the Chinese model in detail. I can't complete the Chinese speech recognition model training according to the tutorial. Thank you very much!"

[2019-09-12 03:22] Louislar commented on #2359
Me too.

[2019-09-12 07:10] kdavis-mozilla commented on #2359
There is no Mandarin model, for any of the many written form of Mandarin, as we do not yet have sufficient training data.

[2019-09-12 07:10] #2359 closed

[2019-09-12 11:50] vcjob opened #2360 "seems like --extended key doesn't work on at all on DS 0.6.0-alpha.5"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: almost no
-**DeepSpeech version**:v0.6.0-alpha.5-21-g935ede3
- **OS Pla

[2019-09-12 12:05] #2360 closed, assigned to nobody

[2019-09-13 19:07] larsbeck opened #2363 "DeepSpeechConsole throws System.AccessViolationException on Startup"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow version**: v1.13.1-10-g3e0cc5374d from (sttClient.PrintVersions();)
- **DeepSpeech version**: v0.5.1-0-g4b29b78 (from sttClient.PrintVersions();)
- **Exact command to reproduce**:
1) Clone repo
2) Ope

[2019-09-13 19:09] lissyx commented on #2363
Obviously not something we experience in CI. Maybe @carlfm01 can have more insights ?

[2019-09-13 19:24] carlfm01 commented on #2363
Hello @larsbeck, make sure that you are using 0.5.1 models, can you please share more info about your audio?
Additionally can you debug step by step prior to the error using VS?

[2019-09-13 19:33] larsbeck commented on #2363
I took the models from here: https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/deepspeech-0.5.1-models.tar.gz

I am not getting to the point where audio is loaded. I am simply starting the Sample. The exception is thrown in line 65 of the Console App "DeepSpeechConsole".

I can debug into sttClient.CreateModel and in this method the exception gets thrown as described above. That would

[2019-09-13 19:43] carlfm01 commented on #2363
Yes, you are using the correct models, now can you make sure that vs is using x64 on your configuration manager? Sometimes VS resets it, I know it is a pain.
https://discourse.mozilla.org/t/compiling-for-windows/32939/67?u=carlfm01

Sorry, I dont use teamviewer/Skype

[2019-09-13 19:49] larsbeck commented on #2363
@carlfm01 Yes, it is set to x64.

[2019-09-13 20:16] carlfm01 commented on #2363
That's excpected, DS only runs on x64 configuration.

No, I'm deploying to end user machines and it only needs .Net Framework.

Yes, looks correct. Please before installing the NuGet remove any reference to local projects, then clean the solution and now install the NuGet.

[2019-09-14 11:37] larsbeck commented on #2363
@carlfm01 There are no references to local projects other than DeepSpeechConsole referencing DeepSpeechClient. And that reference is needed to build. I cleaned the solution and rebuilt but that didn't change anything.

I have uploaded the contents of bin\x64\Debug here: https://uni-paderborn.sciebo.de/s/lvf90f369uEE4qw in case you want to try and run it on your machine.

Of course, I didn't includ

[2019-09-14 17:42] carlfm01 commented on #2363
With your files it fails, and looks like somehow it is still holding the lastest reference of DeepSpeechClient, so I removed it manually from reference/projects and then installed the NuGet, now it will warn about missing params, that due to a recent change to the params, only need to aply this change: https://github.com/carlfm01/DeepSpeech/commit/c05eac7f47520c62e86b8ed3a6822becb63a56af

[2019-09-14 19:16] larsbeck commented on #2363
@carlfm01 Oh, I see the issue now. I thought the Nuget package would only contain the prebuilt .so file, but it is basically a build of the DeepSpeechClient project plus the .so file. It works now thanks!

I do have a follow up issue though. When I use the -GPU package instead of the normal one, there are two issues. The first one is that the .so file does not get added as a project item and hence

[2019-09-15 05:38] carlfm01 commented on #2363
Yes, the initial issue has been solved. Please open a new issue with Visual Studio version, Net version, and any other information that you may consider relevant. We faced that issue before so, I'll investigate.

Closing this one.

[2019-09-15 05:38] #2363 closed

[2019-09-15 09:17] hiyassat opened #2364 "can't download ds_ctcdecoder"
I am trying to install ds_ctcdecoder for v0.5.1, but couldn't find the corresponding wheel:

`pip3 install $(python3 util/taskcluster.py --arch gpu --branch v0.5.1 --decoder)`

[code]

I've tried also with the latest master and ctcdecoder, but the same I have. What is wrong?

[2019-09-15 09:20] SamahZaro opened #2365 "can't download ds_ctcdecoder"
I am trying to install ds_ctcdecoder for v0.5.1, but couldn't find the corresponding wheel:

`pip3 install $(python3 util/taskcluster.py --arch gpu --branch v0.5.1 --decoder)`

[code]

I've tried also with the latest master and ctcdecoder, but the same I have. What is wrong?

[2019-09-15 09:22] #2364 closed

[2019-09-15 13:04] reuben commented on #2365
There's no GPU decoder, if you remove the `--arch gpu` it should work.

[2019-09-15 13:05] reuben commented on #2365
Oh, wait, looks like we also don't support `--branch` there. Let me take a look.

[2019-09-15 13:11] reuben commented on #2365
@SamahZaro can you try this PR? #2366

[2019-09-15 16:36] SamahZaro commented on #2365
It worked great, thank you. Removed `--arch` argument and tried the PR for the `--branch`.

[2019-09-15 16:36] #2365 closed

[2019-09-16 02:10] beriberikix commented on #2233
Unfortunately not. I ran into a few issues and work got very busy lately. Hope to come back to but not in the near-term.

[2019-09-16 06:48] lissyx commented on #2233
Are those issues workable items we could help about?

[2019-09-16 08:01] ljhzxc opened #2367 "GPU Inference take too long: about 2000s one audio"
- **Have I written custom code**:  No
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: installed by pip3, tensorflow-gpu 1.14.0
- **TensorFlow version (use command below)**:  v1.14.0-rc1-22-gaf24dc9 1.14.0
- **Python version**: 3.7.4
- **CUDA/cuDNN version**: 10.0 7.5.1
- **GPU model and memory**: Tesla V100 * 2, 32G
- **D

[2019-09-16 08:15] lissyx commented on #2367
This is already reported, decoder takes a longer time than we would like on large-alphabet languages.

[2019-09-16 13:09] shan18 opened #2368 "Reason for using nativeTensorFlow instead of using TensorFlow-Keras"
In DeepSpeech.py, the dense layer has been implemented from scratch instead of using `tf.layers.dense` or `tf.keras.layers.Dense`. Is there any specific reason as to why has it been implemented manually instead of using the dense function provided by TensorFlow?
Similarly, why was LSTMBlockFusedCell used instead of `tf.keras.layers.LSTM`?

Lastly, if the model is implemented purely using tensorflo

[2019-09-16 13:27] reuben commented on #2368
The implementation predates those APIs. We haven't tested it specifically, but I don't see any reason it wouldn't work the same way.

[2019-09-16 13:27] #2368 closed

[2019-09-16 13:59] ljhzxc commented on #2367
I have asked a man who trained the Chinese model serveral months ago. He said he also meet the same problem. And his solution is reducing the beam_width to < 50. But no matter  how I change the beam_width(defalut 1024 -> 128 -> 10 -> 3)，the inference time is still about 2000s.
Every time I changed beam_width, I will comment out the --train_files and  --dev_files in the run script and rerun the scr

[2019-09-16 14:10] lissyx commented on #2367
Do you have links ?

Are you sure you are doing it right ?

I'm not sure I understand your question here.

[2019-09-16 14:15] bobzsj87 opened #2369 "tflite 1.14 mfcc bug"
Tensorflow Lite 1.14 has its MFCC bug which is only fixed in 1.15 (https://github.com/tensorflow/tensorflow/commit/d5cc8288d939b522982738370facd456a0a643ba#diff-915f08d7b1773558bfc1a6cd8ed8785cR75) and (https://github.com/tensorflow/tensorflow/issues/26174). I found DeepSpeech also uses MFCC Op in TF Lite in the native client, how does it make it to work with tf 1.14.0? Does the native client bypa

[2019-09-16 14:18] bernardohenz commented on #2367
One way of reducing the inference time on large alphabets is to set a lower cutof_top_n (https://github.com/mozilla/DeepSpeech/blob/master/native_client/deepspeech.cc#L340). Of course, you will have to compile the decoder if you make this change.

[2019-09-16 14:19] reuben commented on #2369
I was the one who filed that bug :)

Yes, we workaround it in our tensorflow fork/native client: https://github.com/mozilla/tensorflow/commit/164adb28df02f3375185cf5f8f25624e0a9c9083

[2019-09-16 14:19] #2369 closed

[2019-09-17 03:07] ljhzxc commented on #2367
Sorry, I do not have that link.
I'm not sure that I do it right. So, I want to describe how I do it. {Then I get the new model in the {export dir} and use it to infer. Is this the right way to get the new model}

Maybe I didn't describe it clearly.

I mean, I want to change the beam width but  I'm not sure where I should change the code.
I only find it in one place.(parameter --beam_width in train

[2019-09-17 03:21] ljhzxc commented on #2367
I find a strange phenomenon. When I using gpu-arch deepspeech to infer(using just one Telsa V100). Almost 32G memory of  GPU is used, but the GPU-Util is 0%. Is it a cuda/cudnn compatibility issue?

[2019-09-17 07:09] shan18 commented on #2368
Ok, thank you.

[2019-09-18 16:03] tentekal opened #2370 "Cannot Install on Windows 10"
I've been trying to install DeepSpeech on Windows 10, both through pip/pip3:

`pip install deepspeech`
`Collecting deepspeech
  ERROR: Could not find a version that satisfies the requirement deepspeech (from versions: none)
ERROR: No matching distribution found for deepspeech`

As well as directly from a wheel (I have tried both the 35, 36, and 37 python version of the wheel):

`pip install deepsp

[2019-09-18 18:56] lissyx commented on #2370
Try 64-bits version ?

[2019-09-18 18:56] #2353 closed

[2019-09-18 18:56] #2351 closed

[2019-09-18 20:10] tentekal commented on #2370
Sounds likely, I attempted to install TensorFlow from source as well, and ran into architecture targeting errors (x86 vs x64). I'll give this a shot and report back.

[2019-09-19 10:29] lissyx opened #2371 "Update external bindings with new API"
We broke API, we need to update external bindings:

 - [x] Rust https://github.com/RustAudio/deepspeech-rs/issues/10
 - [x] Go https://github.com/asticode/go-astideepspeech/issues/11

[2019-09-19 11:20] lissyx commented on #2371
Both PRs are ready

[2019-09-19 15:59] lissyx commented on #2371
Go PR will be merged when we release 0.6.

[2019-09-19 15:59] #2371 closed

[2019-09-19 16:52] tentekal commented on #2370
Sorry for the delay, even a basic install in an Enterprise is a hassle.

This cleared up my issue right away, but you may want to capture the 64bit requirement in the documentation. Tensorflow may have done this and I overlooked it, but it can't hurt to duplicate that here.

Thanks again!

[2019-09-19 16:52] #2370 closed

[2019-09-19 20:21] lissyx commented on #2367
I'm sorry but I don't understand what you are saying ? Do you change `beam_width` at export time ? That's not enough, as @bernardohenz mentionned above.

Np, CUDA/CUDNN compatibility issue would just mean not working at all. Decoding is not done on GPU, and you have 32GB used because TensorFlow allocates everything it can, by default. And it's at 0% of utilization because ... decoding is done on C

[2019-09-19 20:22] lissyx commented on #2318
Please check your environment. Looks like there is no issue or nothing actionable here.

[2019-09-19 20:22] #2318 closed

[2019-09-19 20:24] lissyx commented on #2171
@kjcole I'm going to close that, we're taking steps for making the documentation clearer in #2339, and I think we might re-visit all the READMEs we have. Please do not hesitate to share feedback on the doc, but yours has been valuable in the process of re-thinking docs.

[2019-09-19 20:24] #2171 closed

[2019-09-20 16:10] areeba97 commented on #634
Hi, I wanted to do whether you had any success with the Urdu Language Model? I am currently working on Urdu Speech to text for my final year project and would love to get some help and guidance?

[2019-09-20 16:11] iekhwang commented on #2349
Hello @tsungruihon , I have a question about how you generate your THCHS-30 alphabet.txt of pinyin dataset, and what's the format?  Is it [a-z]?

[2019-09-20 16:14] Hafsa26 commented on #634
There is complete guide for builting language model of some other language.
I will try to find that link.
You can look for that too.
Follow those instructions then.
Once you build it, you will be fine.
Are you a mastere student or bachelors?

On Fri, Sep 20, 2019, 12:11 PM areeba97 <notifications@github.com> wrote:

[2019-09-20 16:23] areeba97 commented on #634
I am a bachelors student. Yes please, any help would be appreciated.

[2019-09-20 16:24] areeba97 commented on #634
I am a bachelors student. yes please, any help would be appreciated. Plus, I also need some guidance for the collection of Urdu audios data

[2019-09-22 18:21] C5YS commented on #2367
Maybe this topic shouldn't go here, but:
On the use of VRAM, is there any way not to assign everything when inferring?
Make a modification to the code "config.gpu_options.allow_growth = True" and it works, but only to train the model.

[2019-09-23 05:21] NarasimmanSaravana1994 opened #2376 "Session failed to close after 30 seconds. Continuing after this point may leave your program in an undefined state."
[code]

[2019-09-23 05:24] NarasimmanSaravana1994 commented on #2376
While during custom training I'm getting above mentioned error. Please any once explain what is the error and how to solve that. After that error, the training is automatically starting from first.

[2019-09-23 06:46] lissyx commented on #2376
@NarasimmanSaravana1994 You're getting `OOM`, this means you are exhausting your GPU memory. Without more context that your delebarately removed from the issue template, we cannot help you. Issues are for bugs, please ues Discourse for support.

[2019-09-23 06:46] #2376 closed

[2019-09-23 06:47] lissyx commented on #2367
That's not really the problem here ...

[2019-09-23 07:05] reuben commented on #2376
Your system is running out of memory during training, from the looks of it at the end of the first epoch. We sort input samples by size, so the largest samples will be processed at the end of epochs. You should probably look if there are any unusually large samples and remove them, or if there aren't any, reduce your batch size.

-- reuben

[2019-09-23 08:19] NarasimmanSaravana1994 commented on #2376
@lissyx @reuben  Thanks

[2019-09-23 12:14] SamahZaro opened #2377 "loading last learning rate"
Is it possible to add a feature to load the last reached learning rate value to continue the optimization from there?

Sometimes, basically when you have low resources, your training may stop unexpectedly!
Fine tuning from the last checkpoint or the best development on the same data and using the same learning rate will definitely give different results as if your stopped continued. This is due to

[2019-09-23 12:42] lissyx commented on #2377
hard to tell without more context ...

That should not happen. But again, without more context ...

I'm unsure about the need here: you have that in your shell script already

[2019-09-23 13:25] SamahZaro commented on #2377
Thank you for replying, @lissyx

Ok, here is what I am having:
1. I have run a training on my own data with lr=0.0001.
2. It finished epoch 4 without any problems, this took around 16 hours on my low-resources laptop.
3. During epoch 5, the python process was killed unexpectedly due to RAM issues.
4. I need to continue training from where it left without loosing the progress.
5. started new traini

[2019-09-23 13:32] reuben commented on #2377
The learning rate and momentum variables of Adam are already saved in the checkpoint. The loss being different is most likely because epoch 0 of the new run is equivalent to starting epoch 5 from scratch again.

[2019-09-23 13:40] SamahZaro commented on #2377
epoch 0 of the new run should be equivalent to epoch 5 from scratch, but they are not. This is my question.

Thank you, @reuben .

[2019-09-23 13:43] reuben commented on #2377
Then it's something else. The learning rates are saved, but maybe something else is missing?

[2019-09-23 20:46] lissyx commented on #1346
FTR, with RPi4 and switching to TFLite runtime, we exceed realtime with only one core at 100%. So the incentive to leverage GPU on those boards is getting lower.

[2019-09-23 21:50] sbrl commented on #1346
Not everyone can afford to upgrade to an RPi 4 :confused:

Also, what if the GPU is being used for something else? And even if the CPU _isn't_ maxed out, would using the GPU anyway yield faster results at all? Worth investigating perhaps?

[2019-09-24 00:56] deevyea opened #2378 "404 error downloading convert_graphdef_memmapped_format file from upstream"
Hi,

 I am getting 404 Error while downloading convert_graphdef_memmapped_format file. Looks like an upstream issues. Would you please have a look and help is much appreciated.

Please find the command below to reproduce the issue.
[code]
The same issue when I try to access from the browser. Could you please help me out here.
I have followed the thread from this link --> https://discourse.mozilla.

[2019-09-24 06:53] lissyx commented on #2378
No, that's expected, please use `--branch`, this should generate branch link like: https://index.taskcluster.net/v1/task/project.deepspeech.tensorflow.pip.master.cpu/artifacts/public/convert_graphdef_memmapped_format

I'm not sure how to make that more clear in the docs, it's already stated at several places that TensorFlow version should be X for DeepSpeech release Y.

[2019-09-24 06:58] lissyx commented on #1346
We use the same builds for RPi3 and RPi4, so the improvement will benefit also to those users. It's just that on RPi3 we can't provide faster than realtime.

I suspect you were referring to CPU. Well, as I said, there was plenty of room for other operations.

If you read the history, you will learn I already spent several **weeks** investigating using OpenCL on those boards (and others), and that

[2019-09-24 09:22] lissyx commented on #2347
@chrisspen We've renamed to `confidence` and improved doc, I'm closing this issue, feel free to open a new one if you have other feedback :)

[2019-09-24 09:22] #2347 closed

[2019-09-24 09:23] lissyx commented on #2378
@deevyea I'm closing this since there is no issue here. If you think docs should be improved, you are welcome to open a new issue and explain what / where it is unclear and/or send a PR :)

[2019-09-24 09:23] #2378 closed

[2019-09-24 11:38] shashankpr commented on #2169
It is an interesting enhancement and there are quite many existing work related to this as well. One of the notable one (which I am using it as a separate fork in my org) is this one: https://github.com/resemble-ai/Resemblyzer

I would be happy to contribute to the feature of speaker identification and classification after I make myself with the DeepSpeech's codebase

[2019-09-24 16:10] reuben opened #2380 "Update long-form docs"
Our textual documentation (doc/*.rst) is out-of-date, and now that we're making it easier to discover, we should update it.

[2019-09-24 16:35] #2339 closed

[2019-09-25 03:40] tsungruihon commented on #2349
@iekhwang yes.

[2019-09-25 09:04] ljhzxc commented on #2367
Thank you, @bernardohenz. I change the width and cutoff_top_n in the  deepspeech.cc. It seems the reducing the beam_width is working. When I change the beam_width from 500(default) to 16, the decode time changes from 2000+s to 54s(source audio is about 3s). If beam_width is 4, decode time will be 15s. But it seems no use when I reduce the cutoff_top_n. How I can get smaller decode time other than

[2019-09-26 12:23] lissyx opened #2384 "Investigate long loading time of LM"
On some arch (RPi, Android) we can feel that there's a several-seconds delay when enabling the language model. This is only on first run. LM should already be `mmap()`'d, so we should investigate what happens, this cripples user experience.

[2019-09-26 14:27] lissyx commented on #2384
[code]

[2019-09-26 14:35] lissyx commented on #2384
We have 6 seconds of difference on just loading the LM on cold caches:
[code]

[2019-09-26 14:48] lissyx commented on #2384
Using `LoadMethod::LAZY`:
[code]

[2019-09-26 16:18] lissyx commented on #2384
@reuben Tested on Pixel 2, after rebooting, using SpeechModule (part of androidspeech): no more huge seconds blocking of the UI when starting inference.

[2019-09-26 21:13] #2384 closed

[2019-09-27 08:41] lissyx commented on #2384
FTR, also checking with `htop` on RPi4 with 4GB of RAM:
 - prior to the change, memory usage reported by htop would be ~45%
 - after the change, it would only report ~8%.

[2019-09-27 13:16] Israrulhaq190 opened #2388 "Windows executable is not working converted wav files"
Hi Guys,
I am trying to use deepspeech in windows using executable build

When i run the below command:
deepspeech.exe  --model models/output_graph.pbmm --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie --audio 1.wav

it says:

\Anaconda3\lib\subprocess.py", line 487, in run
    output=stdout, stderr=stderr)
subprocess.CalledProcessError: Command 'deepspeech.exe  --model mode

[2019-09-27 13:17] Israrulhaq190 commented on #2388
Also, what does it mean:
Assertion failed: num_channels == 1, file client.cc, line 231

[2019-09-27 13:46] reuben commented on #2388
It means your audio file is not mono. You're probably forgetting to specify that in the conversion process.

[2019-09-27 15:36] Israrulhaq190 commented on #2388
I have convert it into mono as well and it's processing without errors but there is still no output. As you can see the details buffer size is also zero. I am testing on files shared by deepspeech all 3 audio files are working fine but i don't know what's the issue with my converted file.

audio_format=1
num_channels=1
sample_rate=16000
bits_per_sample=16
res.buffer_size=0

[2019-09-27 15:37] reuben commented on #2388
How are you converting it?

[2019-09-27 15:38] Israrulhaq190 commented on #2388
ffmpeg -i audios/"+str(aud)+" -acodec pcm_s16le -ac 1 -ar 16000 audios/"+str(aud.split('.')[0])+ ".wav

[2019-09-27 15:38] Israrulhaq190 commented on #2388
in simple words:
ffmpeg -i input.mp4 -acodec pcm_s16le -ac 1 -ar 16000 output.wav

[2019-09-27 15:39] Israrulhaq190 commented on #2388
# -*- coding: utf-8 -*-
from __future__ import absolute_import, division, print_function
''' import libraries to disable warnings'''
import warnings
import logging, os
warnings.filterwarnings('ignore')
logging.disable(logging.WARNING)
os.environ["TF_CPP_MIN_LOG_LEVEL"] = "3"
import subprocess
import csv,wave

cwd = os.getcwd()
aud_dir = str(cwd) + '/audios/'
aud_names = os.listdir(aud_dir)

if not

[2019-09-27 15:40] Israrulhaq190 commented on #2388
`# -*- coding: utf-8 -*-
from __future__ import absolute_import, division, print_function
''' import libraries to disable warnings'''
import warnings
import logging, os
warnings.filterwarnings('ignore')
logging.disable(logging.WARNING)
os.environ["TF_CPP_MIN_LOG_LEVEL"] = "3"
import subprocess
import csv,wave

cwd = os.getcwd()
aud_dir = str(cwd) + '/audios/'
aud_names = os.listdir(aud_dir)

if no

[2019-09-27 15:41] reuben commented on #2388
Well, it looks like ffmpeg is writing a size of 0 for the audio data in the file. Can you share the original and converted file that causes the problem?

[2019-09-27 15:43] Israrulhaq190 commented on #2388
Actually, original is video file i.e .mp4 and converted form is .wav file. which is playing audio when i run the file.

![Capture](https://user-images.githubusercontent.com/23098447/65782602-71e19100-e167-11e9-9c0b-24d50920e7d7.PNG)

[2019-09-27 15:46] Israrulhaq190 commented on #2388
Both the files are present at this link:
https://drive.google.com/drive/folders/1XKHy0pPkqZXJAikpHH9rYuuWpOPXvOBN?usp=sharing

[2019-09-27 15:53] Israrulhaq190 commented on #2388
I have shared the screenshot of the script. if you want i can add my python file as well.

[2019-09-27 15:55] reuben commented on #2388
Instead of calling deepspeech using that script, can you call it manually with the problem file and post the log? Please copy and paste the log rather than attaching a screenshot.

[2019-09-27 15:58] Israrulhaq190 commented on #2388
Sure. Sorry for that. This is the logs i have after executing on the shell or command line directly.

TensorFlow: v1.13.1-10-g3e0cc5374d
DeepSpeech: v0.5.1-0-g4b29b78
2019-09-27 15:56:59.499809: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
2019-09-27 15:56:59.514789: E tensorflow/core/framework/op_kern

[2019-09-27 16:02] Israrulhaq190 commented on #2388
Files provided at this link works fine:
curl -LO https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/audio-0.5.1.tar.gz

here is the result after executing one of those files.

(base) C:\Users\israr\Desktop\sample\native_client.amd64.cpu.win>deepspeech.exe  --model models/output_graph.pbmm --alphabet models/alphabet.txt --lm models/lm.binary --trie models/trie --audio 2830-3980-0043.wav

[2019-09-27 16:06] lissyx commented on #2388
Please keep in mind that this `deepspeech.exe` is only intended as demo purpose, and it's explicitely very limited.

[2019-09-27 16:07] Israrulhaq190 commented on #2388
This is mentioned on Official Readme
"Currently, only 16-bit, 16 kHz, mono-channel WAVE audio files are supported in the Python client".

I have also converted and verified using mediainfo in ubuntu for both the files.
Media Info for example file given by deepspeech officials.

mediainfo 4507-16021-0012.wav
General
Complete name                            : 4507-16021-0012.wav
Format

[2019-09-27 16:08] Israrulhaq190 commented on #2388
And this is for the converted file which i have problem.

mediainfo test.wav
General
Complete name                            : test.wav
Format                                   : Wave
File size                                : 216 KiB
Duration                                 : 6 s 919 ms
Overall bit rate mode                    : Constant
Overall bit rate                         : 256 kb/s
Writin

[2019-09-27 16:08] reuben commented on #2388
The problem is ffmpeg, it's creating a header that doesn't match the output we expect. Same file but `test_sox.wav` was converted from wav to wav using sox:

[code]

[2019-09-27 16:11] Israrulhaq190 commented on #2388
Thank you, But is there any way to convert it using any other command line tool so that i can use it in my python script ?

[2019-09-27 16:14] lissyx commented on #2388
My point being: code is hand-crafted for reading perfectly formatted WAVE header. Do not expect it to circumvent buggy files.

[2019-09-27 16:25] lissyx commented on #2388
Anything that produces a valid file that will not choke in this: https://github.com/mozilla/DeepSpeech/blob/master/native_client/client.cc#L210-L246

[2019-09-27 17:39] reuben commented on #2388
Try this: https://stackoverflow.com/questions/39668146/ffmpeg-making-a-clean-wav-file

[2019-09-27 23:03] Israrulhaq190 commented on #2388
Thanks reuben. It's working perfectly fine now.

[2019-09-27 23:04] #2388 closed

[2019-09-29 03:27] AmyChen-Qingxin opened #2389 "Converting multiple files in a folder"
I saw the issue #1232 saying that the master model should support converting multiple files from the same folder. But when I tried similar command directing the --audio to the folder, I got a IsADirectoryError. Is it no longer supporting multiple files?

my command:
`time deepspeech --model deepspeech-0.5.1-models/output_graph.pbmm --alphabet deepspeech-0.5.1-models/alphabet.txt --lm deepspeech-0.

[2019-09-29 08:21] lissyx commented on #2389
This is a Python exception. #1232 explicitely states this is supported from the C++ client. Please bear in mind those are mostly demo-purpose, so it's easy to quickly test, but it's not meant for serving directly as your solution.

[2019-09-29 11:46] Deluvi opened #2390 "No win_amd64 python wheels for non pre-release releases on PyPI"
**TL;DR**: the 64 bits Windows Python wheels are not uploaded on PyPI on releases (e.g 0.5.1) while it is uploaded for pre-releases (e.g 0.6.0 alphas).

- **OS Platform and Distribution**: Windows 10 Home (64 bits) Version 1903
- **Python version**: Python 3.7.0

Hi! I was attempting to run the example on README.md on my Windows computer.

Unfortunately, I got the following error:

[code]

After s

[2019-09-29 11:57] lissyx commented on #2390
Thanks for noticing. It seems some part of the upload indeed silently failed back then. I've retriggered task upload, but there's still some 400 error blocking the upload. v0.5.1 is done, we're not going to have the opportunity to fix that.

As you mentionned, the packages are still available from the github page, and it's working. And v0.6 alphas are uploading correctly, so this should be properl

[2019-09-29 11:57] #2390 closed

[2019-09-29 17:03] AmyChen-Qingxin commented on #2389
Ok, thank you. So is there a way that I can simply test multiple files?

[2019-09-29 18:35] lissyx commented on #2389
Use the C++ binary ?

[2019-09-30 02:34] #2389 closed

[2019-10-01 21:45] udaymistry commented on #706
Page Not Found

[2019-10-02 07:10] kdavis-mozilla commented on #706
I'm going to close due the the "Page Not Found" error and @ghost not giving any updates over the last 2 years.

[2019-10-02 07:10] #706 closed

[2019-10-02 18:58] rhamnett opened #2396 "Disable caching when augmentation flags have been specified"
With the addition of the new augmentation code release, it is now required to disable the `.cache()` call in util/feeder.py so that in memory cache is not used.

It has been suggested that disabling the cache should be done programatically based on the runtime flags provided when invoking DeepSpeech.py

@reuben perhaps we should also check for combination of `--feature_cache` and and `--aug` featu

[2019-10-02 19:04] dabinat commented on #2396
What performance hit is disabling the cache likely to cause?

[2019-10-02 19:28] AASHISHAG opened #2397 "Blank Inference v0.5.0 when using DeepSpeech binary"
- **OS Platform and Distribution:**  Linux Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: pip3 install tensorflow==1.13.1
- **TensorFlow version (use command below)**: 'v1.13.1-0-g6612da8951' 1.13.1
- **Python version**: Python 3.5.2
- **Bazel version (if compiling from source)**: Build label: 0.19.2
- **GCC version (if compiling from source)**: gcc version 5.4.

[2019-10-02 19:31] rhamnett commented on #2396
Not disabling the cache will mean you will not get any epochs using augmented data at all.

With no cache YMMV but shouldn't be too bad. I understand it the pipeline should be able to process the next data before it's needed in the batch as per https://www.tensorflow.org/guide/data_performance

[2019-10-03 03:44] lissyx commented on #2397
I tried to help you, but surprisingly, since there is no information on how you performed your training, I am getting blank results.

[2019-10-03 07:15] AASHISHAG commented on #2397
@lissyx : I have updated the above comment. Please check.

[2019-10-03 07:48] lissyx commented on #2397
@AASHISHAG Why are you rebuilding the `deepspeech` inference code ?

Training parameters without training log is not useful. How much data do you have ? What WER did you got ? How much epoch did complete ?

[2019-10-03 08:05] biligunb commented on #2356
Probably a problem with your dataset.
Maybe with the generated `.csv`. (I had that one too)
Can you show the csv generation process logs. (I think you might find the problem & solution there)

[2019-10-03 09:41] MuruganR96 commented on #2356
i also facing same problem. how to resolve this issue.? @shan18 @lissyx @reuben

[code]

automatically training killed and no more error log.

[2019-10-03 10:42] AASHISHAG commented on #2397
@lissyx : I was trying to follow the ReadMe for creating TRIE and I mistakenly followed an extra step, Please ignore it.

I am attaching the training logs for a model trained on ~302 hours of data, which produces WER of 24.48%. It ran for 12 Epochs.

[code]

[2019-10-03 11:00] lissyx commented on #2356
You have a bogus wav file..

[2019-10-03 11:30] MuruganR96 commented on #2356
how to resolve @lissyx .

we need to change the sampling rate, using sox

[code]

is the enough to resolve this issue @lissyx . thank you:)

[2019-10-03 12:42] lissyx commented on #2356
Find and remove it ?

[2019-10-03 12:43] lissyx commented on #2397
Now this is getting interesting, because it does not seems that you have not trained enough. Can you reproduce that on latest master, please ?

[2019-10-03 14:05] MuruganR96 commented on #2356
Is it empty wavfile. Or corrupted wav file.?
Mm thank you sir.

[2019-10-03 14:11] lissyx commented on #2356
I don't have your data, I can't tell you.

[2019-10-03 22:13] AASHISHAG commented on #2397
@lissyx : Does it mean we have to have train over 75 epochs?

As you have asked, I trained the same data on master. I also had to create a new TRIE on the master. Here are the logs:
[nohup.txt](https://github.com/mozilla/DeepSpeech/files/3688254/nohup.txt)

Then I installed:

`pip3 install deepspeech==0.6.0a8`

and ran:

[code]

Unlike with v0.5.0, the master didn't produce blank inference.

Could

[2019-10-04 06:47] lissyx commented on #2397
First, you should use `v0.5.1`. Second, it's inconsistent. Your model, if it was trained with `v0.5.1` would not work with `0.6.0a8`. So I don't know what you mixed together ...

[2019-10-04 07:17] cryptoaimdy opened #2398 "DeepSpeech Generating trie for my own model."
@lissyx
Hi

i am a newbie.

i have generated lm.binary using .arpa file and trying to create trie. I am getting error which generating.

(deepspeech-train-venv) yk@andromeda:~/DeepSpeech/tensorflow$ bazel build --workspace_status_command="bash native_client/bazel_workspace_status_cmd.sh" --config=monolithic -c opt --copt=-O3 --copt="-D_GLIBCXX_USE_CXX11_ABI=0" --copt=-fvisibility=hidden //native_c

[2019-10-04 07:32] lissyx commented on #2398
@cryptoaimdy First, this is not the place to request for help. Please use Discourse for that purpose. Second, you should have formatted properly console output. Third, it is documented to use our tensorflow fork, and branch `r1.14`. Fourth, `generate_trie` is packaged in `native_client.tar.xz` so why do you have to rebuild that ?

Are you training an English model ?

[2019-10-04 09:52] cryptoaimdy commented on #2398
Hi
Sorry for the posting here.

Yes i am training English Model. can i use the prebuilt one?

[2019-10-04 10:02] lissyx commented on #2398
Then yes.

[2019-10-04 12:12] lissyx commented on #2338
We'll close when the last item is done.

[2019-10-05 20:38] guest271314 opened #2401 "Pipsqueak Engine as service for Web Speech API SpeechRecognition at desktop?"
Found this repository from https://research.mozilla.org/machine-learning/

then read

https://discourse.mozilla.org/t/paper-implementation-of-speech-recognition-on-mobile-devices/34063/4

Am interested in the current status of the former intent. Specifically the ability to use Pip Squeak Engine as the service for Web Speech API, to avoid the issue of sending audio to a remote web service https://g

[2019-10-06 07:48] #2401 closed

[2019-10-06 07:48] lissyx commented on #2401
Please take that discussion to Discourse.

[2019-10-06 13:58] guest271314 commented on #2401
@lissyx Same question at the same discourse page https://discourse.mozilla.org/t/paper-implementation-of-speech-recognition-on-mobile-devices/34063/3.

[2019-10-07 06:11] cryptoaimdy commented on #1977
@lissyx

Hi i am getting no text in res
out put
res " "

EXplaination about my training model.
I am using english model
created binary file with 45 audio corpus.
using trie from pretrained english model.
train has 25 audios , 2-4 sec each with their transcript and size
dev has 10 audios with size and trans
and test has 7 audios with size and trans

upon running deepspeech.py i am getting this:
is

[2019-10-07 06:11] cryptoaimdy commented on #1977
@lissyx

Check output

Epoch 2 | Training | Elapsed Time: 0:11:37 | Steps: 24 | Loss: 200.743011
Epoch 2 | Validation | Elapsed Time: 0:00:09 | Steps: 10 | Loss: 145.589038 | Dataset: data/dev/dev.csv
I Saved new best validating model with loss 145.589038 to: /home/yk/.local/share/deepspeech/checkpoints/best_dev-144
Epoch 3 | Training | Elapsed Time: 0:10:26 | Steps: 23 | Loss: 188.129880

Epoch 3

[2019-10-07 06:42] lissyx commented on #1977
Please use discourse, this is not a bug. 25 audio files of 2-4 secs, that's just not enough data. That's why you get empty strings.

[2019-10-07 06:47] vaibhavsatpathy opened #2402 "Dataset label format"
Sorry for such a simple query in advance.
The model takes in the audio spectrogram as input.
My question is what does it take as a label or the y_true?
And what does the model predict after it's final layer and before the post-processing?

It would be really great if anyone could add an example of the results of the above mentioned questions.
Thank you

[2019-10-07 07:07] lissyx commented on #2402
@vaibhavsatpathy This is not a bug, please post questions on Discourse.

[2019-10-07 07:07] #2402 closed

[2019-10-07 07:11] cryptoaimdy commented on #1977
Okay.
Qn 1: Approximately How much data is minimum required to get the response?
Qn 2: How to train from deepspeech 0.5 released model? what should i do to add my corpus in prebuilt model in train test and dev? how more audio should be added?

[2019-10-07 07:17] cryptoaimdy commented on #1977
@lissyx Please reply the above questions on discourse. thank you.

https://discourse.mozilla.org/t/deepspeech-training-own-model/46210

[2019-10-07 07:45] #1977 closed

[2019-10-07 08:58] carlfm01 opened #2403 "Investigate memory leak"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Enterprise
- **TensorFlow version of the Nuget**: v1.13.1-13-g174b4760eb
- **DeepSpeech version of the Nuget**:v0.6.0-alpha.1-0-g90e7980
- **Python version**: NA
- **Bazel version (if compiling from source)**: NA
-

[2019-10-07 08:59] lissyx commented on #2403
Thanks for that. Do you reproduce on Linux as well?

[2019-10-07 09:00] carlfm01 commented on #2403
Not yet, I was testing the Nugets first

[2019-10-07 09:01] lissyx commented on #2403
The only big changes in that window are indeed related to the LM: 31afc6811f1cacc7eba1943e27931de3d7b8a8dc cc @reuben

[2019-10-07 09:08] reuben commented on #2403
In your tests are you specifying an empty trie path and relying on the Scorer to create it dynamically? In other words, is `Scorer::fill_dictionary` being called?

[2019-10-07 09:21] #2398 closed

[2019-10-07 09:23] lissyx commented on #2396
@rhamnett I was thinking to generalize that and compute some hash of the dataset to ensure feature cache matches and either fail or cleanup cache

[2019-10-07 10:10] carlfm01 commented on #2403
Without the trie, it keeps in the range from 2GB to 4GB every run, without a noticeable difference in resource usage from the first one and the last one.

[2019-10-07 14:22] srevay opened #2404 "convert graphdef_memmapped_format link broken for master"
When trying to build the convert_graphdef_memmapped_format binary using this command:

python3 util/taskcluster.py --branch master --arch gpu --artifact convert_graphdef_memmapped_format --target "."

I get a 404: not found error as it tries to download this url: "Downloading https://index.taskcluster.net/v1/task/project.deepspeech.deepspeech.native_client.master.gpu/artifacts/public/convert_graph

[2019-10-07 14:31] lissyx commented on #2404
@srevay As documented correct `branch` for tensorflow-related elements is `r1.14`.

[2019-10-07 14:34] reuben commented on #2404
This isn't actually documented anywhere that I can find. You need:

` python util/taskcluster.py --source tensorflow --branch r1.14 --artifact convert_graphdef_memmapped_format --target .`

[2019-10-07 14:34] reuben commented on #2404
Also note that this is not building anything, just downloading a binary from our infrastructure. If you actually are trying to build you should be using bazel, not taskcluster.py.

[2019-10-07 14:44] srevay commented on #2404
branch r1.14 worked thank you.

[2019-10-07 14:44] #2404 closed

[2019-10-07 15:09] lissyx commented on #2403
So far I have a hard time reproducing the leak. @carlfm01 do you have specific code to share for reproducing ? amounts of memory leaked ?

[2019-10-07 16:10] lissyx commented on #2403
@carlfm01 Your previous message mentionned growing from 200MB to 700MB over 20 iterations, that would mean we are loosing 25MB per run.

So far, I can only account for ~2MB at best:
[code]

And most of it is from TensorFlow itself, and this might be false-positive from valgrind.

The only items that would connect to language model / decoder would account only for a few bytes (10 occurrences, betwe

[2019-10-07 19:57] nmstoker commented on #432
@dabinat / @reuben - has there been any progress on this feature and do you think it might make it in in time for the 0.6.0 release? Would be really handy!

[2019-10-07 20:02] rhamnett commented on #2396
@lissyx just wondering - is there any point in taking time to compute a hash when we know that augmentations have been specified in flags - therefore the cache definitely cannot be used?

[2019-10-07 20:42] carlfm01 commented on #2403
Just the console example using a for over the same file::https://gist.github.com/carlfm01/fd69a8ca2784837dabf9375d35258953#file-test-cs-L59
To see the memory usage I'm using the VS profiler(poor details of the unmanaged side)

Now I want to compile the console client for Linux to perform the same test, or that was exactly what you did?

[2019-10-08 01:45] carlfm01 commented on #2403
Finally compiled and now testing:

Versions:
[code]
Valgrind report for 1 run:

[code]

 20 runs:

[code]

Given the results looks you are correct.

Now looking :https://github.com/kkm000/openfst/issues/8

[2019-10-08 06:27] lissyx opened #2408 "Add support for ElectronJS v6"
https://electronjs.org/releases/stable?version=6&page=3#6.0.0

[2019-10-08 06:41] lissyx commented on #2403
So it would mean `ConstFst` is not really doing `mmap()` on windows, and thus we leak from there?

[2019-10-08 13:38] andrenatal commented on #2048
@reuben has a fix for it!

[2019-10-08 13:39] reuben commented on #2048
Here's what I've used to compare the header vs the filesystem file size:

[code]

[2019-10-08 13:39] #2048 closed

[2019-10-08 16:10] #2396 closed

[2019-10-08 16:46] carlfm01 commented on #2403
Instead is using a custom implementation using a buffer: https://github.com/kkm000/openfst/blob/989affd3043b6357e6047a395565c3e0d979c01f/src/lib/mapped-file.cc#L48

I'll compile and debug that file, I also want to test a few things with https://code.google.com/archive/p/mman-win32/ and see if we can get rid of the buffer implementation.

[2019-10-08 18:35] reuben opened #2410 "NO_SOX client never sets sample_rate on ds_audio_buffer"

[2019-10-09 02:01] HowieYang0 opened #2411 "get model for deepspeech-gpu"
Could I get a pretrained gpu model (deepspeech-gpu)

-------------------------
I don't think v0.5.1 had support for the RPi4. You can get a version of the v0.5.1 model re-exported to be compatible with the v0.6.0 alphas at https://github.com/reuben/DeepSpeech/releases/v0.6.0-alpha.4

_Originally posted by @reuben in https://github.com/mozilla/DeepSpeech/issues/2336#issuecomment-527316071_

[2019-10-09 03:58] Technerder opened #2412 "ModuleNotFoundError: No module named '_impl'"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Raspbian Buster (Raspberry pi 4 b+ 4GB)
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: Included
- **TensorFlow version (use command below)**: N/A
- **Python version**: 3.7.3
- **Bazel version (if compili

[2019-10-09 06:08] lissyx commented on #2410
No sox is hard-coded wav 16khz everywhere 😊

[2019-10-09 06:12] carlfm01 commented on #2403
The deconstructor of  `MappedFile` is never called:
https://github.com/mozilla/DeepSpeech/blob/031479d88b02ba7e7c4776f9b511fb26c940a6f5/native_client/ctcdecode/third_party/openfst-1.6.9-win/src/lib/mapped-file.cc#L26

then never executes:

https://github.com/mozilla/DeepSpeech/blob/031479d88b02ba7e7c4776f9b511fb26c940a6f5/native_client/ctcdecode/third_party/openfst-1.6.9-win/src/lib/mapped-file.cc

[2019-10-09 06:58] lissyx commented on #2403
It is handled by the wrapper: https://github.com/mozilla/DeepSpeech/blob/031479d88b02ba7e7c4776f9b511fb26c940a6f5/native_client/python/__init__.py#L42-L45

[2019-10-09 06:59] lissyx commented on #2412
We have support for RPi4 since #2272, so you can't use `v0.5.1`, you have to use latest 0.6 alpha: `pip3 install deepspeech==0.6.0a8`: https://pypi.org/project/deepspeech/0.6.0a8/

[2019-10-09 06:59] #2412 closed

[2019-10-09 07:00] lissyx commented on #2411
That does not look like an issue. Closing.

[2019-10-09 07:00] #2411 closed

[2019-10-09 07:10] lissyx commented on #2403
Just to make sure, this is not only when using the Python code, this is **always** ?

[2019-10-09 07:30] carlfm01 commented on #2403
Yes always, with both, python client and the c# client.

[2019-10-09 07:31] lissyx commented on #2403
Can you replicate with the C++ basic client ? Just to see if the .Net bindings could have a play in the equation.

[2019-10-09 08:06] lissyx commented on #2397
@AASHISHAG Could you update us on your status ?

[2019-10-09 08:15] #2410 closed

[2019-10-09 08:26] lissyx commented on #2403
`MappedFile` as much as I can read in the windows part is all `std::unique_ptr<>` scoped, is it possible we are missing something at a upper level?

[2019-10-09 08:52] AASHISHAG commented on #2397
@lissyx : As you had suggested, python binary v0.5.1 worked well with a model trained on v0.5.0.

The python binary v0.5.0 seems inconsistent and gave blank inference with a model trained on v0.5.0.

Thanks for the direction. I am closing the ticket.

[2019-10-09 08:52] #2397 closed

[2019-10-09 08:54] lissyx commented on #2397
Indeed, v0.5.0 was bugged and v0.5.1 was a bugfix release.

[2019-10-09 09:43] MetaDhanesh opened #2414 "ValueError: Input DebugInfo is invalid."
I am using DeepSpeech to create a tflite model for Google's [Speech Commands Dataset](https://ai.googleblog.com/2017/08/launching-speech-commands-dataset.html)

- **deepspeech-gpu version**: 0.5.1
- **tensorflow-gpu version**: 1.14.0
- **using pip to install above packages**
[code]

Command:
[code]

When running the above command, I get ValueError. Error trace:
[code]

In the above case, training

[2019-10-09 09:55] lissyx commented on #2169
FTR, I've come accross this work https://github.com/ina-foss/inaSpeechSegmenter that might be useful in this context.

[2019-10-09 09:59] lissyx commented on #2414
You don't need that

[2019-10-09 10:01] lissyx commented on #2414
Obviously never hit that. I see references to Jupyter. Can you reproduce that with a pure Python virtualenv and no other overlay / wrapper?

[2019-10-09 10:05] lissyx commented on #2414
@MetaDhanesh It's working on my system when using LDC93S1 sample:
[code]
I'm going to test your dataset, can you cross-check on your side with LDC93S1 sample? See `bin/import_ldc93s1.py` and `data/ldc93s1/ldc93s1.csv`.

[2019-10-09 10:09] lissyx commented on #2414
@MetaDhanesh It looks like the CSV files you are referencing in your issue do not exists in the dataset released by Google at https://ai.googleblog.com/2017/08/launching-speech-commands-dataset.html

Can you please share complete STR so I can check whether this is from the dataset itself (I highly doubt it is ...).

[2019-10-09 10:14] lissyx opened #2415 "TFLite post_training_quantize is deprecated"
`UserWarning: Property post_training_quantize is deprecated, please use optimizations=[Optimize.DEFAULT] instead`

Looking at the code, we can choose:
 - Optimize.DEFAULT: tries to optimize latency and size
 - Optimize.OPTIMIZE_FOR_SIZE
 - Optimize.OPTIMIZE_FOR_LATENCY

[2019-10-09 10:16] lissyx opened #2416 "TFLite representative_dataset"
We can feed TFLite converter a `representative_dataset` that helps for optimization / quantization process.

[2019-10-09 10:24] lissyx commented on #2416
We could use the training test set (complete ? reduced ?) for that purpose ? @kdavis-mozilla @reuben @tilmankamp

[2019-10-09 10:27] kdavis-mozilla commented on #2416
Shouldn't we use the dev set if we're being honest?

[2019-10-09 10:28] lissyx commented on #2416
I would expect more bias from the dev set than the test set for that purpose, wouldn't we?

[2019-10-09 10:30] kdavis-mozilla commented on #2416
I guess I'm viewing this under the category of hyperparameters which should be optimized with the dev set.

[2019-10-09 10:32] lissyx commented on #2416
In this context, that would mean we would have to perform a TFLite export with this `RepresentativeDataset`, compute test set on this TFLite model, right ?

My view here is that we do

[2019-10-09 10:33] lissyx commented on #2416
Right, but I'm not sure we should act this way.

[2019-10-09 10:38] kdavis-mozilla commented on #2416
Why?

[2019-10-09 10:49] lissyx commented on #2416
Well, current we optimize the WER of the model that we export and then convert to TFLite. So, in this process, IMHO it makes more sense that the representative data set being used for the conversion is the test set, which is already supposed to be representative data set to evaluate model performance.

[2019-10-09 10:55] kdavis-mozilla commented on #2416
We optimize hyperparameters on the _dev_ set not the _test_ set.

We shouldn't optimize anything on the test set as any results we'd get then would be dishonest.

[2019-10-09 10:57] lissyx commented on #2416
Oh, I get your point. I think you are right, since TOCO will use this to **optimize** we should definitively use the dev set.

[2019-10-09 12:24] safa0 opened #2418 "change the behavior and pull from current matching tag"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux

[2019-10-09 12:32] lissyx commented on #2418
@safa0 If you can check on your side, but that is working for me. This is logic we already had for the decoder anyway ...

[2019-10-09 12:54] #2418 closed

[2019-10-09 12:55] #2415 closed

[2019-10-09 17:00] srevay opened #2421 "import m-ailabs data link broken"
When trying to import m-ailabs Spanish data using the import_m-ailabs.py, the url to the training data is broken. Is the tar file located somewhere else?

[2019-10-09 17:06] lissyx commented on #2421
Can you be more exhaustive ? This is working for french, I think @tilmankamp verified with German as well.

[2019-10-09 17:08] lissyx commented on #2421
@srevay Is it just the website down ? https://www.caito.de/ does not work at all here.

[2019-10-09 17:10] srevay commented on #2421
It looks like it is an issue with the website.

[2019-10-09 17:11] #2421 closed

[2019-10-09 18:20] carlfm01 commented on #2403
yes, allow me some time to complete my builds and switch back to r1.14

[2019-10-09 19:18] Oblivion97 opened #2422 "How to get lm.binary,trie&alphabet.txt file after finished training for testing."
Hello, if I want to transcribe an audio file i've to run this command-

`deepspeech --model deepspeech-0.5.1-models/output_graph.pbmm --alphabet deepspeech-0.5.1-models/alphabet.txt --lm deepspeech-0.5.1-models/lm.binary --trie deepspeech-0.5.1-models/trie --audio audio/2830-3980-0043.wav`

in  here i need 4 files,

1.alphabet.txt
2.trie
3.lm.binary
4.output_graph.pb

I've got the  "output_graph.p

[2019-10-09 19:31] lissyx commented on #2422
Have you read the documentation ?

https://github.com/mozilla/DeepSpeech/blob/master/data/lm/README.rst

If you trained your own model, you should already have produced a valid `alphabet.txt`

[2019-10-09 19:31] lissyx commented on #2422
This is not a bug, so please continue the discussion on Discourse.

[2019-10-09 19:31] #2422 closed

[2019-10-09 19:37] Oblivion97 commented on #2422
what about the lm.binary & trie file?

sorry for the inconvenience, I'm new here.

[2019-10-09 19:39] lissyx commented on #2422
Read the link I shared ?

[2019-10-09 19:40] Oblivion97 commented on #2422
is the lm.binary & trie file is already given in the repository data folder?& can i use it for any
 language?

[2019-10-09 19:41] lissyx commented on #2422
Do you understand what you are doing ? Do you understand what the LM files are for ? Have you read the link ?

[2019-10-09 19:53] Oblivion97 commented on #2422
like I said, I'm new here. can u make me understand about it? how to solve the problem I'm facing?

I have the alphabet.txt & output graph.pb file how can I generate the lm &  trie file for my native language model? can u help me out, please?

[2019-10-09 20:44] Technerder commented on #2412
After installing 0.6.0a8 I am met with this issue:
[code]

[2019-10-09 22:37] Technerder commented on #2412
Requesting to have this issue re-opened @lissyx

[2019-10-10 00:40] dabinat commented on #432
@nmstoker I got this half finished, then I got tied up with other things. But since then a lot of significant structural changes have been made on master, so it seems like maybe it’s actually simpler to just redo it from scratch.

I should have time within the next week or two to look at it again.

[2019-10-10 04:27] MetaDhanesh commented on #2414
[training_csv_files.zip](https://github.com/mozilla/DeepSpeech/files/3710488/training_csv_files.zip)

I am storing the audio files and csv files (train, dev, test) in `/data/training65kgoogle`

[2019-10-10 05:35] lissyx commented on #2412
This is not a bug. Support should be done on discourse. Please read the documentation and the error : you cannot use 0.5.1 model with 0.6 binaries.

[2019-10-10 05:36] lissyx commented on #2414
Have you reproduced the bug with ldc93s1 as I asked?

[2019-10-10 05:49] lissyx commented on #2422
Being new does not allow you to use Github for support. The problem you are facing is documented in the link I shared earlier.

Again, please read the documentation.

[2019-10-10 06:06] lissyx commented on #2414
@MetaDhanesh Please, take a few minutes to reproduce the issue with LDC93S1, it is very important to ensure your system works as intended.

[2019-10-10 08:30] lissyx commented on #2414
I'm sorry, but those CSV files seems not to be for this dataset, it does not contains the same directories, and files referenced inside do not exists in the linked data.

@MetaDhanesh I really need you to share me reproductible data. And to cross-check on your side with the LDC93S1 sample, to verify that you can perform the export.

[2019-10-10 09:21] carlfm01 commented on #2403
Dealing with `make: \bin\amd64\cl.exe: Command not found`, I'll read the cluster examples again and trye carefully.

[2019-10-10 12:33] #2408 closed

[2019-10-10 16:30] MetaDhanesh commented on #2414
@lissyx
As suggested by you, I ran the following command:
[code]

However, I got another issue (ZeroDivisionError):
[code]

Based on the info given in this discourse [link](https://discourse.mozilla.org/t/which-tensorflow-cuda/37976/6), I checked my csv file too.

[code]

[2019-10-10 16:39] lissyx commented on #2414
It looks like you have not cleaned up something as well. Please ensure you restart and verify from a clean state.

Also @MetaDhanesh I really need you to reproduce under a clean Python virtualenv and not under some Jupyter or anaconda binary. We have had errors due to that in the past.

[2019-10-10 19:45] mone27 opened #2423 "broken link in training.rst"
In Training.rst the link at README.md under [https://github.com/mozilla/DeepSpeech/blob/master/TRAINING.rst#exporting-a-model-for-inference] is broken

[2019-10-10 20:01] lissyx commented on #2423
Can you elaborate @mone27 ? Because it's working for me ...

[2019-10-10 20:02] lissyx commented on #2423
@mone27 Oh, you mean the **README.md** link in **TRAINING.rst** is broken

[2019-10-10 20:05] #2423 closed

[2019-10-11 09:25] MetaDhanesh commented on #2414
@lissyx
I understand the need for clean python virtualenv. However, I am using GPU as shared resource which is accessible only through notebook. I am looking for a workaround whereby i can run it through clean python env.

Also, I changed the google dataset's file structure so that I can bring all of audio files into one directory. And since multiple files had same names under different sub-direct

[2019-10-11 09:30] lissyx commented on #2414
Unless you reproduce under a proper clean env, I guess we'll be unable to help. It's 99.99% likely to be an issue on your system. Maybe because of CentOS, I don't know ...

[2019-10-11 09:32] lissyx commented on #2414
Ok, I will retry with those and let you know.

[2019-10-11 09:41] lissyx commented on #2414
@MetaDhanesh But in the meantime you can get a clean env, can you at least make sure you test without a stale checkpoint? Your last error is likely because of that ...

[2019-10-11 09:43] lissyx commented on #2414
If you can reproduce the issue with LDC93S1 dataset (please, ensure you don't have stale checkpoint), you don't need a GPU ...

[2019-10-11 10:18] lissyx commented on #2414
@MetaDhanesh So, I could train and export with your dataset:
[code]

This is definitively an issue on your side.

If you are required to use Jupyter for accessing the GPU, maybe you could:
 - Run the training without `--export_tflite` but with `--checkpoint_dir x` with `x` a directory
 - Then you setup a clean virtualenv, with `tensorflow` and not `tensorflow-gpu`, and from there you can reload th

[2019-10-12 13:11] maxima120 opened #2430 "Specified model file version (0) is incompatible with minimum version supported by this client (3)"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: 1.14
- **Python version**: 3.7

I am trying to run sample as per your readme.
I downloaded models as suggested: `https://github.com/mozilla/D

[2019-10-12 13:37] kdavis-mozilla commented on #2430
The error message:

hopefully indicates the problem; you need an older client. In particular the 0.5.1 client to work with the 0.5.1 model. Currently, this should be the client installed with say a `pip install`.

[2019-10-12 14:20] maxima120 commented on #2430
I see. the pip install deepspeech installs 0.6.0

[2019-10-12 14:20] #2430 closed

[2019-10-14 15:35] lissyx commented on #2414
@MetaDhanesh Can you get us update ?

[2019-10-14 15:43] lissyx commented on #2403
Have you been able to sort this out?

[2019-10-14 17:12] maxima120 opened #2436 "No such file or directory: 'sox'"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 9
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: 1.14
- **Python version**: 3.5
- **Exact command to reproduce**:
[code]

this worked on a short file. But when I fed it 30 min wav it gave me the e

[2019-10-14 17:18] lissyx commented on #2436
As documented, you need to install the `sox` binary.

The error is already stating: you are feeding 48kHz to a 16kHz model.

[2019-10-14 17:18] #2436 closed

[2019-10-15 03:26] carlfm01 commented on #2403
Hello @lissyx, unfortunately not, last week was a busy week working on TTS. I tried with short time windows but did not get any luck.

I'm back to it :)

[2019-10-15 03:35] MetaDhanesh commented on #2414
I was able to run successfully on sample ldc93s1 dataset on virtual environment.

[code]

Now, I need to check on my GPU system, with a clean deepspeech setup. Thanks @lissyx

[2019-10-15 07:45] lissyx commented on #2414
Perfect, thanks for the update. So worst case you can train on GPUs and just export after. Make sure you keep in sync of versions. Can we close this?

[2019-10-15 08:21] MetaDhanesh commented on #2414
We can close this. Thanks for your help.

[2019-10-15 08:21] #2414 closed

[2019-10-16 01:12] carlfm01 commented on #2403
Just realized I wasted my time, Bazel is not detecting changes inside header files :), manually removed the` fst.obj` under `_objs` and now I see the execution path printed.

Bazel version: **0.24.1**

At this point I don't know which changes were applied for the tests, testing again... :/

Now about the C++ basic client:

Yes, is eating the same amount of memory as the .Net client.

solved this b

[2019-10-16 10:27] tusharrakshe opened #2442 "Error while loading checkpoint: Fine tuning DeepSpeech model on custom dataset"
Hi I am trying to fine tune deepspeech model on custom dataset in google colab. But i am facing problem while loading the released checkpoints:
[code]

**Error :**
[code]

[2019-10-16 10:33] lissyx commented on #2442
@tusharrakshe Are you doing fine-tuning from `v0.5.1` tag ? Checkpoint is not compatible with newer versions.

[2019-10-16 10:35] tusharrakshe commented on #2442
yes I am doing fine tuning from v0.5.1. If checkpoint is not compatible then how can i fine train model on new dataset.

[2019-10-16 10:36] lissyx commented on #2442
Your error means you are using checkpoint v0.5.1 from a different tag than v0.5.1 of the code. Please `git checkout v0.5.1`.

[2019-10-16 10:45] tusharrakshe commented on #2442
Yes . Already on 'v0.5.1'

[2019-10-16 10:55] lissyx commented on #2442
CuDNN training support was added after v0.5.1, so it makes no sense.

[2019-10-16 10:58] tusharrakshe commented on #2442
So you mean to say, I cannot fine tune model from released checkpoints.

[2019-10-16 11:00] lissyx commented on #2442
No, I am saying that you are not on git tag v0.5.1, and that the released checkpoints will only work on it.

[2019-10-16 11:43] alokprasad opened #2443 "Issue: Missing initial frames causes deepspeech to skip first word, adding some silence about 5ms makes it work most of the time."
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:18.04
- *

[2019-10-16 13:43] lissyx commented on #2403
Right, reminds me of things I had to do on TaskCluster. I assumed that on developper systems, this should be already dealt with.

Good, at least confirms it's not coming from the bindings. Do you think you can investigate why the destructor is not called ?

We have some code that triggers some lost but still reachable memory under valgrind on linux, and it deals with what calls this, so I'm wonder

[2019-10-16 17:57] lissyx commented on #2442
@tusharrakshe Can you ensure you are on proper commit, with clean index ?

[2019-10-16 17:57] lissyx commented on #2442
https://github.com/mozilla/DeepSpeech/commit/4b29b78832036216b53f59b953639bde7cde7dfe

[2019-10-17 03:14] Vampsj opened #2444 "Issue training with checkpoints"
Linux Ubuntu 16.04
Tensorflow-gpu 1.13.1
Python 3.5
Cuda compilation tools, release 10.0
CuDNN 7.5

I am having an issue similiar to #2297 while using the checkpoint to run the /bin/run-ldc93s1.sh.

The error message is as follows:

    absl.app.run(main)
  File "/home/vampsj/git/DeepSpeech-master/dpsp/lib/python3.5/site-packages/absl/app.py", line 299, in run
    _run_main(main, args)
  File "/ho

[2019-10-17 06:47] lissyx commented on #2444
@Vampsj This is classic symptom of `tensorflow-gpu==1.13.1` when using current master and not `v0.5.1`, please ensure you are on the proper tag correctly checked out.

[2019-10-17 06:54] Vampsj commented on #2444
@lissyx Thank you for your reply! As you said, this is the problem that I haven't changed to the proper tag. I tried to change to the v0.5.1 tag with
`git checkout v0.5.1`
but in fact, this turns me into the v0.5.1 branch. Finally, I get this
`git checkout tags/v.0.5.1`
worked!

[2019-10-17 06:54] #2444 closed

[2019-10-17 07:29] carlfm01 commented on #2403
Yes, I'm already trying to spot the issue, but due to my newbie eyes for C++ I'm not making any significant progress.

The only thing that seems wrong apart from the destructor of `MappedFile ` never called is the destructor of `ConstFstImpl` only called for the first run, then never again. I want to see if this happens also on Linux.

Upper `ConstFstImpl` is `ConstFst` which is used for PathTrie

[2019-10-17 11:24] lissyx commented on #2403
At first, I'd think that since we don't see the leak on linux, it's unlikely to be directly related. We should be properly releasing the `std::shared_ptr<>` when calling `PathTrie::~PathTrie()` where it is being set to `nullptr`.

I'm going to continue have a look if we may leak PathTrie

[2019-10-17 15:56] araf-hasan15 opened #2446 "Occuring an Error like: tensorflow/native_client/BUILD:85:1: no such target '//tensorflow/core/kernels:deepspeech_cwise_ops':"
I am facing an Error when I generating the libdeepspeech.so binary.
It shows me like this:

ERROR: /home/araf15/tensorflow/native_client/BUILD:85:1: no such target '//tensorflow/core/kernels:deepspeech_cwise_ops': target 'deepspeech_cwise_ops' not declared in package 'tensorflow/core/kernels' defined by /home/araf15/tensorflow/tensorflow/core/kernels/BUILD and referenced by '//native_client:libdee

[2019-10-17 16:10] lissyx commented on #2446
@araf-hasan15 Are you using `mozilla/tensorflow` repository with matching branch as documented? Also, you don't document what version of deepspeech you are trying to build.

[2019-10-17 16:18] lissyx commented on #2403
@carlfm01 Long-shot, but doing so does not seems to trigger issues here:
[code]

This should make sure that any `PathTrie` destruction frees the matching allocation of `matcher_`.

[2019-10-17 16:33] araf-hasan15 commented on #2446
Yes, I am using Mozilla's TensorFlow ``r1.14` branch <https://github.com/mozilla/tensorflow/tree/r1.14>`_ as documented there, and my deepspeech version is 0.5.1...

[2019-10-17 17:02] lissyx commented on #2446
Then use `r1.13`, as documented for `v0.5.1`

[2019-10-17 17:08] araf-hasan15 commented on #2446
Which version of deepspeech should I use for Mozilla's TensorFlow ``r1.14 branch ....?

[2019-10-17 17:21] lissyx commented on #2446
r1.13.

[2019-10-17 17:22] lissyx commented on #2446
https://github.com/mozilla/DeepSpeech/blob/v0.5.1/native_client/README.md#building-deepspeech-binaries

[2019-10-17 17:22] #2446 closed

[2019-10-17 17:26] lissyx commented on #2403
@carlfm01 I'm having more doubts against `dictionary_` there, which is `std::unique_ptr<>` in `native_client/ctcdecode/scorer.h` and that we `->Copy(true)` in `native_client/ctcdecode/ctc_beam_search_decoder.cpp`. This `Copy()` call triggers a `new` behind.

[2019-10-18 10:15] lissyx commented on #2403
i'm keeping that open until @carlfm01 can confirm this is fixed

[2019-10-18 14:28] lissyx commented on #2443
@alokprasad For the sake of reproductibility, could you share your trimmed and trimmed+fixed audio samples ?

[2019-10-18 14:36] lissyx commented on #2442
@tusharrakshe Can you confirm you have been able to do that ?

[2019-10-18 19:02] shamoons opened #2449 "TypeError: Required argument 'aSampleRate' (pos 3) not found"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: upstream
- **TensorFlow version (use command below)**: b'v1.13.1-0-g6612da8951' 1.13.1
- **Python version**: 3.6.8
- **GPU model and memory**:
- *

[2019-10-18 19:47] lissyx commented on #2449
@shamoons What version of `deepspeech` are you using ? `aSampleRate` was removed post 0.5.1, so make sure you are depending on `deepspeech==0.5.1`.

[2019-10-18 19:52] lissyx commented on #2449
@shamoons Could you please clearly indicate what version of DeepSpeech you are using ? This does not make any sense, we don't have keywords arguments, as you can see on https://github.com/mozilla/DeepSpeech/blob/v0.5.1/native_client/python/client.py#L88 and sample rate is not an argument of `Model` either, so I don't understand where your `TypeError` comes from.

[2019-10-18 19:55] lissyx commented on #2449
@shamoons The Python API mostly directly maps to the C one, e.g., for `Model` look at https://github.com/mozilla/DeepSpeech/blob/v0.5.1/native_client/deepspeech.h#L57-L78 and for `stt` look at https://github.com/mozilla/DeepSpeech/blob/v0.5.1/native_client/deepspeech.h#L110-L126

You can see example usage in https://github.com/mozilla/DeepSpeech/blob/v0.5.1/native_client/python/client.py#L115, e.g

[2019-10-19 01:22] shamoons commented on #2449
@lissyx I'm using `deepspeech = "==0.5.1"`. I see the issue. I was following the https://github.com/mozilla/DeepSpeech/blob/master/native_client/python/client.py#L71 file which is missing the `N_FEATURES`

[2019-10-19 01:22] #2449 closed

[2019-10-19 04:03] carlfm01 commented on #2403
Thanks @lissyx

Using :
**TensorFlow:** v1.14.0-16-g3b4ce374f5
**DeepSpeech:** v0.6.0-alpha.10-2-g469ddd2

 First run 53MB, last run 45MB.(.Net client)

I can confirm that issue is fixed for the .Net client.

Testing with Python and C++ client, looks like the C++ client is not releasing completely.

[2019-10-19 09:06] lissyx commented on #2403
I'm going to close it then, we can still fix the C++ client but if the leak in the lib is fixed it's the most important :)

[2019-10-19 09:06] #2403 closed

[2019-10-19 21:29] devbas opened #2450 "TypeError: CreateModel() missing required argument 'aAlphabetConfigPath' (pos 4)"
- **Have I written custom code**: No
- **OS Platform and Distribution**: Mac OS 10.14.5
- **TensorFlow installed from**: pip
- **TensorFlow version**: 2.0.0
- **Python version**: 3.7.4
- **Bazel version**: N/A
- **GCC/Compiler version**: N/A
- **CUDA/cuDNN version**:
- **GPU model and memory**:
- **Exact command to reproduce**:

1) Run ```python3 audioTranscript_gui.py``` to start the vad_transcri

[2019-10-19 22:53] lissyx commented on #2450
@devbas Can you please document what version you are using ?

[2019-10-21 12:08] lissyx commented on #2450
@devbas Can you update us ?

[2019-10-21 12:09] lissyx commented on #2442
No news, closing.

[2019-10-21 12:09] #2442 closed

[2019-10-21 14:24] AASHISHAG opened #2451 "Error running dockerfile (v0.5.1)"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04

When running the Dockerfile from v0.5.1 (`docker build -t deepspeech .`), the following error is occurring at Step 54. Please refer [error-logs.txt](https://github.com/mozilla/DeepSpeech/files/3751296/error-logs.txt) for detailed logs.

Please suggest, how to solve this error.

[code]

[2019-10-21 14:50] devbas commented on #2450
Hi @lissyx,

Sorry, testing took a while. Turned out I had the wrong deepspeech version hence this issue can be closed. Everything is working fine now.

[2019-10-21 14:50] #2450 closed

[2019-10-21 15:15] lissyx commented on #2450
Thanks for the confirmation of the analysis :)

[2019-10-21 15:17] lissyx commented on #2451
@AASHISHAG This is not something we reproduce, this docker is built in CI and it work well.

[2019-10-21 19:55] procedural opened #2452 "Are there any pre-compiled example programs for real time speech-to-text from a microphone?"
If the answer is no, then this issue is a feature request: I need a simple way to try speech-to-text in real time, not sure if it's possible with this library, but I need it regardless!

[2019-10-21 19:56] procedural commented on #2452
I learned that DeepSpeech can do speech-to-text from here: https://blog.rasa.com/how-to-build-a-voice-assistant-with-open-source-rasa-and-mozilla-tools/

[2019-10-21 20:57] procedural commented on #2452
Currently watching "Mozilla's DeepSpeech and Common Voice projects Open and offline-capable voice recognition for everyone" by Tilman Kamp: https://www.youtube.com/watch?v=aUSyzNr6iK8

[2019-10-21 21:31] procedural commented on #2452
I guess by "real time" I mean "streaming support", according to (timecode: 33:57): https://www.youtube.com/watch?v=ZJpLldlJYY8&t=2037

[2019-10-21 22:22] procedural commented on #2452
https://github.com/topics/speech-to-text shows DeepSpeech at the top, so I guess this is state of the art?

[2019-10-22 06:38] lissyx commented on #2452
Please have a look at `examples/`. And this is obviously not a bug, so please continue discussion on Discourse.

[2019-10-22 06:38] #2452 closed

[2019-10-22 06:54] tusharrakshe commented on #2442
Yes. I solved the problem.
Now i am able to load the checkpoints. I have done the fine tuning of the model from released checkpoints. But no improvement in WER. Need your suggestion..

I am using 10 Hours of indian accent Audio data for fine tuning model.

[2019-10-22 06:55] lissyx commented on #2442
Please use Discourse for support.

Likely 10 hours is not enough. But it also depends on your parameters etc. ...

[2019-10-22 07:58] AASHISHAG commented on #2451
@lissyx : I am able to run v0.5.0 without any error instead of v0.5.1 (although both v0.5.0 and v0.5.1 seems similar. Not sure what's the issue).

Closing the issue. Thank you.

[2019-10-22 07:58] #2451 closed

[2019-10-22 11:07] procedural commented on #2452
I guess it's this one? https://github.com/mozilla/DeepSpeech/blob/master/examples/mic_vad_streaming/mic_vad_streaming.py

Why does it saves .wav? Is that .wav temporary? Can I keep temporary in memory rather than saving it to a file?

[2019-10-22 11:08] lissyx commented on #2452
Can you use Discourse, please ?

[2019-10-22 11:10] procedural commented on #2452
Does Discourse requires creating an account? If yes, then no, I can't use it.

[2019-10-22 11:10] lissyx commented on #2452
Why would not you be able to create an account ? Second, if you had looked at discourse, you would have seen you can logging using Github.

[2019-10-22 11:12] procedural commented on #2452
@lissyx can you point me to an answer, if it was already asked, why you need to write .wav and not keep a temporary in memory?

[2019-10-22 11:14] lissyx commented on #2452
That's the contributor's design, not our choice. Seriously, we have plenty of examples, including the bindings, that shows how to use the API from different point of view. Can you just have a look under `native_client/` and `examples/` ?

[2019-10-22 11:17] procedural commented on #2452
Ok, I will look

[2019-10-22 11:18] lissyx commented on #2452
https://github.com/mozilla/DeepSpeech/tree/master/examples/vad_transcriber

[2019-10-22 11:24] procedural commented on #2452
@lissyx thank you! Can I download a pre-compiled executable for that example from somewhere?

[2019-10-22 11:26] procedural commented on #2452
Oh, I just looked, it's python, I guess it can't be precompiled...

[2019-10-22 11:26] lissyx commented on #2452
Again, can we take this discussion to Discours, please ?

[2019-10-22 11:27] procedural commented on #2452
@lissyx, I guess, sorry!

[2019-10-22 11:27] procedural commented on #2452
@lissyx than you for the link, once again!

[2019-10-22 19:54] lissyx commented on #2416
FTR, the `r1.14` code is not supporting custom ops, but `r1.15` seems to. Still a lot of work to get something decent, but for now it looks better than it used to.

[2019-10-23 06:58] lissyx opened #2457 "API Reference for .Net"
We have it for C, Java, JS and Python, we should also cover .Net ...

[2019-10-23 06:58] lissyx commented on #2457
I'll do it, except if you already have it @carlfm01 ?

[2019-10-23 07:18] carlfm01 commented on #2457
Hello,

No, feel free to ping me for any question, discussion or review.

[2019-10-23 12:28] #2457 closed

[2019-10-24 13:03] lissyx opened #2461 "Support Python 3.8"

[2019-10-24 14:34] lissyx commented on #2443
@alokprasad Ping?

[2019-10-24 14:34] lissyx commented on #2461
This is going to be required on linux to be able to build: https://github.com/swig/swig/pull/1587

[2019-10-24 23:09] lissyx commented on #2461
FTR, SciPy is not yet ready for Python 3.8, so it's breaking one of the examples until they release a compatible version.

[2019-10-25 13:34] shubhamchordiya opened #2465 "AttributeError: Can only use .str accessor with string values!"
![Screenshot from 2019-10-25 19-01-11](https://user-images.githubusercontent.com/47270403/67575305-e2c19c00-f759-11e9-8788-12022aaf19eb.png)
whenever i try to train my own model it raise string error.
steps that i perform:
1) load Deepsppech model
2) creat my own dataset
3)split this dataset in train,test and dev.
4)train model by following command:
python3 ./DeepSpeech.py --train_files clips/pran

[2019-10-25 14:26] lissyx commented on #2465
Please don't use screenshots.

Is this your exact command line? `~--` seems wrong.

[2019-10-25 17:15] #2461 closed

[2019-10-27 01:42] lu4p opened #2468 "Add pretrained models for other languages"

[2019-10-27 12:43] solyarisoftware commented on #2468
I add myself to the @lu4p request.

To grow DeepSpeech (and Common voice on top) user base, a pretrained models for each of available langue could help!

Please supply updated pretrained models for all available languages.

Thanks
giorgio

[2019-10-27 16:45] lissyx commented on #2468
Sourcing, training and evaluating other languages requires much more resources than we have.

[2019-10-27 16:50] lissyx commented on #2468
Also we provide everything to allow anyone to produce models, so there is nothing blocking any community from working on that.

[2019-10-27 16:52] rhamnett commented on #2468
I don't thin this is a useful issue to keep open. Anyone is welcome to contribute by labelling open source data sets or audio so it can get incorporated in training sets. See https://voice.mozilla.org/

[2019-10-27 16:55] lissyx commented on #2468
There would still be value in at least the thinking process of how we might refer to community contributed models.

[2019-10-27 17:38] solyarisoftware commented on #2468
@lissyx, Well I understand the "lack of resources" and ok, one can set-up his own model "recompiling all" from available common voice data (https://github.com/mozilla/DeepSpeech/blob/master/TRAINING.rst#training-your-own-model),

but having pre-trained models already available for each language,

1. speed-up dev of any contribution, especially for not-tech experts (e.g. live demo for next November

[2019-10-27 17:38] dabinat commented on #2468
In order to provide speech technologies in Firefox, there would need to be models for multiple languages. What’s Mozilla’s plan for this? Is it going to be solely reliant on the community?

[2019-10-27 17:43] lissyx commented on #2468
it is, but again: we don't have any of those pre-trained model yet.

I am not sure I get your point here. What live demo are you referring about ? "Non-tech experts", I don't get it either, DeepSpeech still requires some level of expertise for integration in your app.

That's why we are open to feedback / improvements. We are indeed helping the Italian community and they are making good progresses

[2019-10-27 17:50] solyarisoftware commented on #2468
well, I mean that having available pre-trained models helps developers that want to try deepspeech, to quickly test and benchmark, without the need of rebuild from scratch.

So for now my modest suggestion/desire is to have here published an "official" (and updated) repo of pre-trained models, for each language in a "stable" phase.

[2019-10-27 17:56] lissyx commented on #2468
Nobody to our knowledge is at that level.

[2019-10-28 20:21] Unbekannter opened #2472 "Alphabet character "ü" throws KeyErrors"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: pip3
- **TensorFlow version (use command below)**:  tensorflow-gpu==1.14.0
- **Python version**: python 3.6.6
- **CUDA/cuDNN version**: 10
- **GPU model and memory**: TESLA V100
- **CURRENT MASTER BRANCH**

**ALPHABET FILE:
https://pastebin.com/0ubKMm6b*

[2019-10-28 20:53] a-lunev commented on #2443
@lissyx Yesterday I tested Mozilla DeepSpeech in both offline (https://github.com/mozilla/DeepSpeech/blob/v0.5.1/native_client/python/client.py) and streaming (https://github.com/mozilla/DeepSpeech/blob/v0.5.1/examples/mic_vad_streaming/mic_vad_streaming.py) modes.

In my experiments I intentionally not used LM / TRIE.

The offline (reading audio from a wav file) mode works quite good concerning s

[2019-10-28 22:16] lissyx commented on #2472
Can you do that and generate the alphabet using this script ? It would not be unsurprising you have some unicode-different yet similar-looking char ...

[2019-10-28 22:25] lissyx commented on #2443
Honestly, listening before reading your comment, in the version cut, my ears don't get "on" but "n" as well. Once I read your comment, I could only ear "on". I'm unsure how much we are just biaised on that sample, but at least that's actionable.

[2019-10-28 22:29] lissyx commented on #2465
@shubhamchordiya Can you update us ?

[2019-10-29 00:40] a-lunev commented on #2443
I've just listened to the original (not modified version) 4507-16021-0012.wav and compared it with my modified wav files.
As for me, "on the way" sounds totally equal.
When I cut the beginning part of the sentence, I tried to keep "on the way" segment untouched.
You could compare all 3 wav files by e.g. Audacity for details (waveform or spectrogram side-by-side).

[2019-10-29 06:30] MuruganR96 opened #2474 "Not working for checking non-finite loss files ?"
### checking non-finite loss files

Thanks for added this feature in DeepSpeech latest branch.

I tried this concept for v0.5.1 master and i modified lightly for feeding.py, DeepSpeech.py and evaluate.py.

**feeding.py**
[code]
**DeepSpeech.py**
[code]

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: Yes
- **OS Platform and Distribution:*

[2019-10-29 08:26] lissyx commented on #2474
@MuruganR96 It's a bit unclear in the current form. This change makes it possible to know which files has infinite loss ? I'm sure we already have something for that on master.

[2019-10-29 08:46] kdavis-mozilla commented on #2474
@lissyx I think he's trying to backport that to 0.5.1?

[2019-10-29 08:56] lissyx commented on #2443
Ask someone blindly, I'm not sure you will get the same results.

[2019-10-29 10:14] MuruganR96 commented on #2474
@lissyx  @kdavis-mozilla Thank you sir.

yes, i am trying to backport 0.5.1. but i can't able to get the list of non finite loss files.
am i miss something,  could you explain me?

[2019-10-29 10:20] lissyx commented on #2474
Please be more specific.

[2019-10-29 10:31] kdavis-mozilla commented on #2474
@MuruganR96 As this is not a bug with master, 0.6.X, or any older release version, I suggest this should be moved to [Discourse](https://discourse.mozilla.org/c/deep-speech).

[2019-10-29 10:33] Mte90 commented on #2468
This is something that in Mozilla Italia in our monthly calls and discussion was a common discussion.
The point that seems not everyone has clear about generating a model is:

* Common Voice has like 25 language enabled
* 75 languages to unlock

Now every language based on the amount requires hours of training, machines with hardware capable, and also will not use only the CV dataset for training.

[2019-10-29 10:34] MuruganR96 commented on #2474
@lissyx  sir.

in DeepSpeech v0.5.1 not implemented for **checking non-finite loss files**.

so what i did here is, just i applied same concepts in 0.5.1. but i am not getting problem files(non finite files).

in my 250 hrs of datasets i trained in 0.5.1. after few epochs after validation went **inf loss**.
so if i will implement checking non-finite loss files mean, i can resolve this inf loss iss

[2019-10-29 10:39] MuruganR96 commented on #2474
Thank you sir. Please discuss here sir [My issue](https://discourse.mozilla.org/t/not-working-for-checking-non-finite-loss-files/47627?u=muruganrajenthirean)

[2019-10-29 10:39] lissyx commented on #2474
If you continue not to share your patch, it's going to be hard to try and help you.

Why don't you just use master ?

[2019-10-29 10:44] MuruganR96 commented on #2474
Master v0.5.1 is the latest one upto my knowledge ?  here did they already implemented **checking non-finite loss files** ?

[2019-10-29 10:45] lissyx commented on #2474
Please be clear, you are mixing everything here.

[2019-10-29 11:06] MuruganR96 commented on #2474
@lissyx sir.

in my datasets 250 hrs duration.

like youtube datasets segmented with corresponding subtitle transcript.
here some spelling mistakes and mispronunciations files is there.

datasets i was trained in 0.5.1. few epochs after validation went inf loss.

so what i thought is, worst case simply removing the file from your dataset.

so i need to find out problem files.  that's why i am focu

[2019-10-29 11:06] #2474 closed

[2019-10-29 14:49] solyarisoftware commented on #2468
Hi Daniele.

I guess that's perfectly clear for everybody here.

It doesn't add up, can you clarify that point? In thought each pretrained DeepSpeech dataset (as the English one already availabe in [this repo](https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/deepspeech-0.5.1-models.tar.gz)) should be built just from **English language Common Voice dataset**. That's untrue?

I'm askin

[2019-10-29 15:07] lissyx commented on #2468
Please stop your insinuations. If you have 10k hours of Italian, please, share. We'll make a good model asap.

[2019-10-29 15:25] solyarisoftware commented on #2468
@lissyx, you didn't  reply on my points. "equal in dignity" is not  an insinuation, is just a requirement stated in common voice goals I share.

[2019-10-29 20:03] lissyx commented on #2443
@a-lunev The question here is mostly: is there really something that needs to be addressed at the code-level, i.e., adding some magic constant, or could it just be a side-effect of the datasets we are using, that may mostly have longer-silence than what you are exercizing here.

If it's the later, then the proper solution would not be to workaround in the code but rather improve the training datas

[2019-10-29 21:24] #2472 closed

[2019-10-30 04:40] alokprasad commented on #2443
@lissyx
Sorry for late response
here are the samples

1. trimmed

2. silence added to above trimmed file

https://soundcloud.com/alok-prasad-213091558/sets/deepspeech-test-files

actual utterance in the speech file is "why should one hold on the way"
but when fed to deepspeech native original wav gives ouput "what should one hold on the way"
( maybe lm issue)

1>Trimmed
**trimmed_4507-16021-0012.w

[2019-10-30 08:18] TIgorrr opened #2476 "After Testing model error: name 'samples' is not defined"
- **Have I written custom code**: No
- **OS Platform and Distribution**: CentOS Linux release 7.7.1908
- **TensorFlow installed from**: installed by pip3, tensorflow-gpu 1.14.0
- **TensorFlow version (use command below)**: 1.14.0-16
- **Python version**: Python 3.6.8
- **Bazel version**:  0.24.1
- **CUDA/cuDNN version**: 10.0 7.5.1
- **GPU model and memory**: 1080 TI
- **DeepSpeech Version**: late

[2019-10-30 09:14] lissyx commented on #2476
It looks like e75d1e4b610670bf40c591915f7488726c8babb8 was broken ? cc @reuben

[2019-10-30 09:29] reuben commented on #2476
Ah, yes it was. I'll fix it.

[2019-10-30 09:30] reuben commented on #2476
Fixed in 31ec7a71

[2019-10-30 09:30] #2476 closed

[2019-10-30 09:32] a-lunev commented on #2443
I suppose some debug / investigation is required to determine the real cause of the issue. As soon as the cause is determined, the appropriate decision could be made.

[2019-10-30 09:40] lissyx commented on #2443
Yep, they was my point 😊

[2019-10-30 10:04] lissyx commented on #2472
@Unbekannter Can you comment what was wrong ?

[2019-10-30 10:33] Unbekannter commented on #2472
@lissyx You're right with "unicode-different yet similar-looking char".
The "ü"-char, which was the only char doesnt works, exists in my alphabet file, but it wasn't the same char used in my train/dev/test.csv files - it justs looks like it.

I copied the chars from the check_characters script directly in my alphabet file and it works.

Thank you :)

[2019-10-30 10:37] lissyx commented on #2472
Thanks, it perfectly illustrates an issue I wanted to take care of ... :)

[2019-10-30 12:01] bhanuSingh97 opened #2477 "CreateModel failed with error code 8195"
(deepspeech) C:\Users\165689\Desktop\chatbot\.chatbot>deepspeech --model deepspe
ech-0.5.1-models/output_graph.pbmm --alphabet deepspeech-0.5.1-models/alphabet.t
xt --lm deepspeech-0.5.1-models/lm.binary --trie deepspeech-0.5.1-models/trie --
audio audio/2830-3980-0043.wav
Loading model from file deepspeech-0.5.1-models/output_graph.pbmm
TensorFlow: v1.14.0-18-g351a98ab6e
DeepSpeech: v0.6.0-alpha.

[2019-10-30 12:03] lissyx commented on #2477
You are running incompatible model / binary.

[2019-10-30 12:03] #2477 closed

[2019-10-30 12:12] bhanuSingh97 commented on #2477
but

What is incompatible?
How can I run it?

[2019-10-30 12:13] lissyx commented on #2477
Model v0.5.x requires v0.5.x binary. Use proper version.

[2019-10-30 12:13] lissyx commented on #2477
https://deepspeech.readthedocs.io/en/latest/Error-Codes.html#_CPPv425DS_ERR_MODEL_INCOMPATIBLE

[2019-10-31 04:25] alokprasad commented on #2443
my usecase is wakeword + speech , where my system feeds (streaming) audio to deepspeech to detect wakeword as soon as it is detected next frame onwards it feeds audio to another instance of deepspeech
but if gap between wakeword + speech is very less than initial words is missed.

eg. "Lucifer, why should one hold on the way" => ds will recognised it as "should one hold on the way"
what is suggest

[2019-10-31 05:25] bhanuSingh97 commented on #2477
1. Is there any command by which I can downgrade deepspeech version?
2. Will my command work after downgrading the deepspeech version to 0.5.x?

[2019-10-31 08:14] lissyx commented on #2477
pip uninstall deepspeech and then pip install --upgrade deepspeech==0.5.1

[2019-10-31 08:25] lissyx commented on #2443
@alokprasad I guess in your case it might be better you change your feeding code yep.

[2019-10-31 10:01] bhanuSingh97 commented on #2477
(deepspeech) C:\Users\165689>pip install --upgrade deepspeech==0.5.1
ERROR: Could not find a version that satisfies the requirement deepspeech==0.5.1
 (from versions: 0.6.0a11)
ERROR: No matching distribution found for deepspeech==0.5.1

[2019-10-31 10:24] lissyx commented on #2477
Filling the Github issue template would have saved us some time.

[2019-10-31 11:57] bhanuSingh97 commented on #2477
Thanks for the help. It is working now by downgrading deepspeech to 0.5.1.

[2019-10-31 12:40] lissyx commented on #2465
No reply, nothing actionable, closing.

[2019-10-31 12:40] #2465 closed

[2019-10-31 13:41] rhamnett commented on #2465
There is a tilde in his flags

[2019-10-31 14:45] lissyx commented on #2416
There's mostly nothing to make or from this feature, for now.

[2019-10-31 14:45] #2416 closed

[2019-11-03 10:46] lissyx opened #2487 "Move to TaskCluster Community deployment"
After #2340, we need to perform the move before november 9th.

Steps:
 - [x] Create new tokens / update clientIds on workers
 - [x] Perform a round of change on one of `ds-rpi3`, `ds-lepotato` and `ds-macos-light`, ensure we can run PR
 - [x] Update `ds-scriptworker` with new TC community URLs
 - [x] Move all workers to new ClientIds / tokens
 - [x] Generate a new alpha release to ensure end-to-en

[2019-11-03 20:09] reuben commented on #2487
We'll also need to apply the tensorflow changes to the r1.14 branch, right?

[2019-11-03 21:46] lissyx commented on #2487
Yep, I mentioned it o' Bugzilla but in the hurry this may have been forgotten.

[2019-11-04 06:37] hjortnaes opened #2488 "check_characters.py doesn't properly handle unicode two-points characters"
If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat Enterprise Linux Server 7.6 (Maipo)
- **TensorFlow installed from (our builds, or upstream TensorFlow)**: f

[2019-11-04 08:23] lissyx commented on #2488
Can you be more specific? Are those one or multi code points chars? One or multibyte?

[2019-11-04 08:27] lissyx commented on #2488
The two chars you shared makes me think it is the case of two codepoints / two bytes. This is kind of broken with this script right now. Can you try with `unicodedata.normalize("NFKC", s) ` when you generate your csv files?

[2019-11-04 10:03] reuben commented on #2488
This works fine on my end:

[code]

[2019-11-04 10:07] lissyx commented on #2488
@hjortnaes Can you share more details, please ?

[2019-11-04 11:30] lissyx commented on #2488
@hjortnaes Just landed a new parameter to help checking that kind of discrepencies, running `check_characters.py` from current master should detect error-prone normalizations.

[2019-11-04 15:09] lissyx commented on #2487
https://community-tc.services.mozilla.com/tasks/groups/Bq58Soj-SxeC4FD8Z9fE4g

[2019-11-04 15:11] erksch opened #2489 "Error Code 12294 on 0.6.0a6-11"
- **OS Platform and Distribution**: Linux Ubuntu 19.10.
- **TensorFlow installed from**: pip
- **TensorFlow version**: v1.14.0-rc1-22-gaf24dc9 1.14.0
- **Python version**: 3.7.2
- **CUDA/cuDNN version**: 10.0/7.6.4.38-1+cuda10.0
- **GPU model and memory**: GeForce GTX 1050 2G

Hey folks!
After upgrading to alpha 11 I get an error (code 12294 = DS_ERR_FAIL_CREATE_SESS) on the Model constructor.

Th

[2019-11-04 15:14] lissyx commented on #2489
A lot changed, the API has been simplified and we have changed the way metadata are being handled.

No v0.6 model is yet avalable.

This is not a bug, please use Discourse for further discussion.

[2019-11-04 15:14] #2489 closed

[2019-11-04 15:24] erksch commented on #2489
Thank you for the quick response!

[2019-11-04 15:40] hontarenkoYana opened #2490 "DeepSpeech.Model is not a constructor"
Hello.
I use javascript for running simple example from https://github.com/mozilla/DeepSpeech/tree/master/examples/nodejs_wav

I change dependencies:
1. use deepspeech==0.5.1 instead of ^0.6.0-alpha.11
2. download relevant models by command and extract them in folder models.

But running
`const DeepSpeech = require('deepspeech');`
`const BEAM_WIDTH = 1024;`
`let modelPath = './models/output_graph.

[2019-11-04 15:44] lissyx commented on #2490
You changed the version. The API is not the same.

Please use Discourse for support.

[2019-11-04 15:44] #2490 closed

[2019-11-05 04:53] CP-4 commented on #838
@nicolaspanel Are you working on this feature? I am also interested in such a feature.

[2019-11-05 08:06] lissyx opened #2494 "Support ElectronJS v7.0"
https://electronjs.org/releases/stable#7.0.1

[2019-11-05 08:47] NarasimmanSaravana1994 opened #2496 "custome training error"
@lissyx

I Initializing variables...
I STARTING Optimization
Epoch 0 |   Training | Elapsed Time: 0:00:00 | Steps: 0 | Loss: 0.000000                                                                                          Fatal Python error: Segmentation fault

[2019-11-05 08:50] kdavis-mozilla commented on #2496
@NarasimmanSaravana1994 Could you please fill out the issue template? Otherwise we will be unable to help you.

[2019-11-05 09:03] lissyx commented on #2496
Given the few info, it's unlikely to be a bug on our side...

[2019-11-05 09:24] reuben opened #2497 "Use architecture specific NodeJS packages in tests to avoid waiting for slow macOS tasks"
Right now we build a single CPU package that has all platforms in it and use that package for all the NodeJS tests. This means every NodeJS test on any platform needs to wait for macOS builds to finish. We could instead make the tests depend on the architecture specific packages to speed things up. Note that we should probably keep a set of tests still using with the multi-platform package to make

[2019-11-05 09:58] NarasimmanSaravana1994 commented on #2496
@lissyx

Command Executed:
CUDA_VISIBLE_DEVICES=0 python3 DeepSpeech_testing.py --lm_binary_path ./data/deepspeech_dataset/lm.binary --lm_trie_path ./data/deepspeech_dataset/trie --learning_rate 0.0001 --alphabet_config_path ./data/alphabet.txt --beam_width 1024 --use_seq_length false --remove_export true --notest --train_batch_size 30 --train_files ./data/deepspeech_dataset/18-10-19_final_purned.

[2019-11-05 10:01] lissyx commented on #2496
@NarasimmanSaravana1994 This is not a bug, please use Discourse for support. You are playing with CUDA visibility, please make sure you don't mask any GPU. Please also make sure that TensorFlow is able to see your CUDA setup: `python3 -c "import tensorflow as tf; tf.Session();"`.

[2019-11-05 10:01] #2496 closed

[2019-11-05 10:29] lissyx commented on #2487
https://community-tc.services.mozilla.com/tasks/groups/KCFy3t0rQBGMj2k_Ecb0Vg

[2019-11-05 10:29] #2487 closed

[2019-11-05 10:31] lissyx commented on #2497
The real proper fix would be to have better macOS infra :-). But that's okay by me, as long as we also keep good enough coverage for the multi-platform package.

[2019-11-05 14:15] #2494 closed

[2019-11-05 20:17] breandan opened #2499 "Integration with Live Transcribe Speech Engine"
Does DeepSpeech [native client](https://github.com/mozilla/DeepSpeech/tree/master/native_client) plan to integrate with the newly published the Live Transcribe Speech Engine? It would be nice to implement a [`SpeechSessionListener`](https://github.com/google/live-transcribe-speech-engine/blob/8a96ef3f3027ef8cf402b53bd2ce87f37f007951/app/src/main/java/com/google/audio/asr/SpeechSessionListener.java

[2019-11-06 07:31] lissyx opened #2501 "NodeJS v13"

[2019-11-06 07:32] lissyx commented on #2497
I'll do that with #2501

[2019-11-06 07:33] lissyx commented on #2497
Final package will be checked:
 - ensuring the number of `libdeepspeech.so` matches what we want (arch and versions)
 - running tests with latest version package only, on all arch

This should get us good coverage and not explode the amount of tests we run.

[2019-11-06 07:57] lissyx opened #2502 "Build fails with `ImportError: No module named builtins`"
[code]

[2019-11-06 07:58] lissyx commented on #2502
Fixed by installing `future` system-wide on the builders, since TensorFlow uses Python2 from the system.

[2019-11-06 07:58] #2502 closed

[2019-11-06 09:04] bsshruthi22 opened #2503 "Fine tuning DeepSpeech pre-trained model with telephone speech of 8khz."
Please let us know how to fine tune Deep Speech pre-trained models with telephone speech data of 8khz without upsampling from 8khz to 16khz.

[2019-11-06 09:09] lissyx commented on #2503
This is not a bug, please reach support on Discourse. There's no way to mix different sampling rates.

[2019-11-06 09:09] #2503 closed

[2019-11-06 11:36] reuben commented on #520
Closing due to inactivity.

[2019-11-06 11:36] #520 closed

[2019-11-06 17:21] iLikeToCodeZ opened #2506 "TensorFlow 2.0 Support Coming Soon??"
My company and team have upgraded to TF2 but still frequently use this deepspeech implementation. Will there be support for TF2 sooner than later?

[2019-11-06 17:26] reuben commented on #2506
Not anytime soon.

[2019-11-06 17:26] #2506 closed

[2019-11-07 05:34] #2501 closed

[2019-11-07 05:34] #2497 closed

[2019-11-07 08:41] sehargul-123 opened #2508 "TypeError: CreateModel() takes at most 2 arguments (3 given)"
sehar@sehar-HP-Z220-CMT-Workstation:~/DeepSpeech/examples/mic_vad_streaming$ python mic_vad_streaming.py   --model $HOME/sehar/urdu-models/output_graph.pb   --alphabet $HOME/sehar/urdu-models/alphabet.txt   --lm $HOME/sehar/urdu-models/lm.binary   --trie $HOME/sehar/urdu-models/trie   --file $HOME/sehar/urdumodels/sent6urd.wav
Initializing model...
INFO:root:ARGS.model: /home/sehar/sehar/urdu-mode

[2019-11-07 08:41] sehargul-123 commented on #2508
kindly help

[2019-11-07 09:56] lissyx commented on #2508
Kindly read the documentation. I already replied to this on discourse.

[2019-11-07 09:56] #2508 closed

[2019-11-07 17:56] shan18 opened #2512 "Documentation specifies different number of dense layer units compared to code"
In the documentation, `doc/Geometry.rst`, [this section](https://github.com/mozilla/DeepSpeech/blob/master/doc/Geometry.rst#n_hidden_3) specifies that the number of units in the 3rd hidden layer should be equal to twice the state size of LSTM layer, but when I reference the code `util/config.py`
https://github.com/mozilla/DeepSpeech/blob/d754e53f21657abdd8c139909111993b46d5293c/util/config.py#L93

[2019-11-07 18:04] lissyx commented on #2512
This documentation is outdated, and I have been too lazy to find time to fix it 😢

[2019-11-07 18:05] lissyx commented on #2512
If you are willing to dig into the code and fix the doc you are welcome, though. I started things in https://github.com/mozilla/DeepSpeech/pull/2399

[2019-11-08 04:49] shan18 commented on #2512
Okay. I have been digging into the code for quite some time. I'll try to update the docs.

[2019-11-08 06:12] shan18 opened #2513 "Sorting WAV files causes the model to occupy entire system memory at epoch end"
- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: No
- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **TensorFlow installed from**: upstream TensorFlow
- **TensorFlow version**: 1.14.0
- **Python version**: 3.6.8
- **CUDA/cuDNN version**: 10.0 / 7.6
- **GPU model and memory**: GTX 1080 Ti (12 GB)
- **Exact command to reproduce**:
[

[2019-11-08 06:50] lissyx commented on #2513
This is the sorting for batching file by size, as much as I remember. Maybe @reuben can complete, but this is obviously not a bug for sure.

[2019-11-08 06:50] #2513 closed

[2019-11-08 07:31] dabinat commented on #2513
The massive difference in memory usage seems like it might be a bug though. Is that expected behavior?

[2019-11-08 07:39] lissyx commented on #2513
If it is, then it's on pandas anyway... But sorting 104GB of files in-memory is it surprising?

[2019-11-08 07:43] lissyx commented on #2513
BTW the issue was opened on the question of why we sort anyway.

[2019-11-08 07:55] lissyx commented on #2513
@shan18 How much RAM do you have ?

[2019-11-08 07:57] shan18 commented on #2513
@lissyx I have 64 GB of RAM on my machine. I don't think it's the issue with RAM. Because when I ran the model without sorting the dataframe, it ran without any issues.

[2019-11-08 07:58] reuben commented on #2513
Try disabling feature caching (remove the `.cache()` call in feeding.py) or caching features to disk rather than memory (specify --feature_cache flag), that's probably what's causing this.

[2019-11-08 07:58] shan18 commented on #2513
@reuben I'll try it out. Thank you.

[2019-11-08 08:01] shan18 commented on #2513
And can you please tell me why are the files sorted according to their size? Is it achieving something specific or is there no particular reason?

[2019-11-08 08:26] reuben commented on #2513
https://ronan.collobert.com/pub/matos/2009_curriculum_icml.pdf

[2019-11-10 04:25] massielislas opened #2517 "Documentation of easy install and use throwing an error"
Following the initial README in "To install and use deepspeech all you have to do is:"
I get the following error:

`(deepspeech-venv) massiel@Massiels-MBP:~/tmp/deepspeech-venv $ deepspeech --model deepspeech-0.5.1-models/output_graph.pbmm --lm deepspeech-0.5.1-models/lm.binary --trie deepspeech-0.5.1-models/trie --audio audio/2830-3980-0043.wav
usage: deepspeech [-h] --model MODEL --alphabet ALPH

[2019-11-10 19:08] sarasamara7 opened #2518 "Build Error when using the Java native client"
We're having a gradle build error when we're using the Java client. Is it because it's still preliminary work? Can you please provide clear steps for running the Java Client in the documentation?

[2019-11-11 04:58] alokprasad opened #2519 "augmenting speech data with rnnoise Dataset"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**: ds 0.6 alpha 11 patch with augementing rrnoise dataset
- **OS Platform

[2019-11-11 05:02] alokprasad commented on #2519
Dataset is quite huge around 15Gb on extraction , i am augmenting each file..should i augment only few files ? or reduce gain of before mixing with speech.

[2019-11-11 08:39] kdavis-mozilla commented on #2519
We'd like to reserve issues for bugs in the github code base or feature requests. As this is related to your modified code and a new data set and not related to a feature request or bug, could you move this to [Discourse](https://discourse.mozilla.org/c/deep-speech) where we tackle such issues. Thanks!

[2019-11-11 08:44] alokprasad commented on #2519
@kdavis-mozilla it could be a feature request to integrate rnnoise dataset to augment with speech or should i create a separate bug for feature request?

[2019-11-11 08:54] kdavis-mozilla commented on #2519
@alokprasad Have you tried [voice-corpus-tool](https://github.com/mozilla/voice-corpus-tool)? Some [Discourse](https://discourse.mozilla.org/c/deep-speech) comments on it are [here](https://discourse.mozilla.org/t/how-to-use-voice-corpus-tool-to-augment-the-dataset/43250).

[2019-11-11 09:02] kdavis-mozilla commented on #2517
Could you fill out the issue template so we can understand what went wrong? Also, could you provide the error message to help us debug.

[2019-11-11 09:27] lissyx commented on #2518
Are we supposed to also guess your error?

[2019-11-11 09:30] lissyx commented on #2517
Are you looking at v0.5.1 README @massielislas ? From your error it looks like you are reading doc from master and apply to v0.5.1.

[2019-11-11 09:31] lissyx commented on #2518
@sarasamara7 can you provide actionable feedback on what is unclear in the documentation?

[2019-11-11 12:37] alokprasad commented on #2519
@kdavis-mozilla i just now looked at  voice-corpus-tool but its more of offline augmentation ,
adding the real noise ( not guassian or random noise ) online during training is what i am looking.

[2019-11-11 12:59] reuben opened #2520 "Cache features at a finer level so we don't have to invalidate the cache as often"
Feature caching is critical in the cluster, but currently the cache gets invalidated fairly easily, as it is done as a single big cache with all the training files merged. Ideally we would create a cache for each CSV and then merge them, so that we only have to invalidate the cache when the audios themselves change. This is my rough idea of a possible way to do it:

1. Process each CSV file indepe

[2019-11-13 11:24] reuben opened #2526 "Find a good solution for checking if a label corresponds to a UTF-8 codepoint boundary"
`PathTrie::get_prev_grapheme` and `PathTrie::distance_to_codepoint_boundary` are used by the UTF-8 decoder but hardcode an assumption that `label value + 1` == byte value. This is because going through the Alphabet currently involves some unneeded overhead. This issue is for figuring out a better solution for it.

[2019-11-13 16:43] reuben commented on #2499
No plans, but this would probably be a cool project for someone interested in DeepSpeech.

[2019-11-13 16:46] reuben commented on #2443
librosa has some silence trimming functionality that could be useful for cleaning up a dataset that has too much silence, if that's what's affecting model performance: https://librosa.github.io/librosa/generated/librosa.effects.trim.html

[2019-11-13 17:18] reuben opened #2529 "Language model experiments"

[2019-11-13 18:28] lissyx commented on #2517
@massielislas Ping ? Can you update us ?

[2019-11-13 18:28] lissyx commented on #2518
@sarasamara7 Can you update us ?

[2019-11-13 21:08] samhithaaaa opened #2530 "Inference takes too long"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:ubuntu 18

[2019-11-13 21:32] massielislas commented on #2517
I am looking at the documentation at  https://github.com/mozilla/DeepSpeech on the master branch.

[2019-11-13 21:32] massielislas commented on #2517
The documentation looks as follows:
![image](https://user-images.githubusercontent.com/31866147/68806101-67e5f580-0622-11ea-92da-39705eeca44a.png)

[2019-11-13 21:33] massielislas commented on #2517
@lissyx Tried running those commands today and it gives me the error I pointed out in the post

[2019-11-14 05:19] saravananselvamohan opened #2531 "Error while training Common language Data"
----->>>By running **bin/import_cv2.py --filter_alphabet path/to/some/alphabet.txt /path/to/extracted/language/archive I got my respected .tsv files**
---->>>While running the command I am getting the error below
**./DeepSpeech.py --train_files ../data/CV/en/clips/train.csv --dev_files ../data/CV/en/clips/dev.csv --test_files ../data/CV/en/clips/test.csv**

**I am using Python 3**

Traceback (most

[2019-11-14 07:45] lissyx commented on #2530
@samhithaaaa This is not a bug. Please seek support on Discourse and share more informations.

[2019-11-14 07:45] #2530 closed

[2019-11-14 07:45] lissyx commented on #2517
@massielislas As I said, please look for the documentation matching the release you are using.

[2019-11-14 07:45] #2517 closed

[2019-11-14 07:46] lissyx commented on #2531
@saravananselvamohan Posting the same error everywhere is not going to get your more attention, but it is irritating.

[2019-11-14 07:46] #2531 closed

[2019-11-14 08:22] lissyx opened #2533 "Update line-based examples"
We have docs that focus on line-specific parts of some files. Those are now outdated. Example: https://deepspeech.readthedocs.io/en/latest/NodeJS-Examples.html

[2019-11-14 10:21] #2533 closed

[2019-11-14 11:32] saravananselvamohan commented on #2531
I just posted in both Mozilla Community and Github Issue Page bcoz I strucked and I don't know how to proceed forward. Suggestions from you made me to clear that error. Further if it has irrirtated, accept my sorry for that

[2019-11-14 13:13] lissyx commented on #2531
Well, we could help and use knowledge when people have issues with discourse. But if you just cross post and don't even care to mention that you have an issue with discourse we can't fix it and improve your experience

[2019-11-14 15:31] vrnmthr opened #2536 "Running encoder only?"
We would like to use deepspeech for a classification problem -- given an audio command we want to tell which command it most closely matches. To this end, we want to use only the pretrained encoder here in deepspeech and check vector encoded outputs of various audio files to determine which are the closest.

1) Is this the right way to use this library to accomplish our issue
2) Is there any clean

[2019-11-14 16:05] #2536 closed

[2019-11-14 16:05] lissyx commented on #2536
Please avoid cross-posting on Discourse and Github.

[2019-11-14 16:30] reuben opened #2537 "Investigate Switchboard transcripts matching wrong channel of audio"
Examples:

/data/ro/shared/data/LDC/LDC97S62/swb1_d3-split-wav/sw2671B-ms98-a-trans-274.774875-276.561.wav

/data/ro/shared/data/LDC/LDC97S62/swb1_d3-split-wav/sw2671B-ms98-a-trans-248.53175-251.622125.wav

[2019-11-15 04:31] kapilg1997 opened #2539 "I have python 3.8.0 installed on windows. I have tried pip commands and the error is"
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2019-11-15 08:05] kdavis-mozilla commented on #2539
The current stable version [v0.5.1](https://github.com/mozilla/DeepSpeech/releases/tag/v0.5.1) does not support python 3.8.0. The latest version of python it supports is 3.7.

[2019-11-15 08:37] lissyx commented on #2518
@sarasamara7 No feedback, the code is working for us, I'm afraid there's nothing we can do.

[2019-11-15 08:37] #2518 closed

[2019-11-15 08:37] lissyx commented on #2488
@hjortnaes Ping ?

[2019-11-15 18:58] lissyx commented on #2196
@kdavis-mozilla @reuben Should we do that for v0.6 when it's ready ?

[2019-11-17 13:32] kdavis-mozilla commented on #2196
@lissyx I still worry about the

issue.

[2019-11-17 15:01] reuben commented on #2196
Last time we were looking into this I verified that webseed requests are tracked normally by GitHub as if it was a "normal" download. It can over-count sometimes if a client making several concurrent requests. Of course, if we publish the torrent file itself as part of the release we can also track how many times people are downloading it too.

[2019-11-18 22:56] MikeyBeez opened #2540 "Nothing seems to work correctly. Even the very first call is bad."
Even the start of the readme is wrong.  The first usage: # Transcribe an audio file
deepspeech --model deepspeech-0.5.1-models/output_graph.pbmm --lm deepspeech-0.5.1-models/lm.binary --trie deepspeech-0.5.1-models/trie --audio audio/2830-3980-0043.wav needs to include a path to the alphabet:   deepspeech --model deepspeech-0.5.1-models/output_graph.pbmm --audio audio/8455-210777-0068.wav --alphab

[2019-11-19 03:56] alokprasad commented on #2443
@reuben amount of silence here is very small .not sure even after removing silence i above issue
wont be resolved.Probably with Augmentation we have to chop few initial frames of few samples during
training making it robust for ASR.

[2019-11-19 06:50] kdavis-mozilla commented on #2540
Please use the [0.5.1 documentation](https://github.com/mozilla/DeepSpeech/tree/v0.5.1) when using the [0.5.1 models and code](https://github.com/mozilla/DeepSpeech/releases/tag/v0.5.1) and everything should work as advertised.

[2019-11-19 12:03] lissyx commented on #2540
@MikeyBeez  Can you be more explicit on those examples ?

`pip3 install deepspeech` should install you 0.5.1. Can you check you have that ? `pip3 list | grep deepspeech`

[2019-11-21 08:34] hjortnaes commented on #2488
@lissyx So sorry, I got distracted and then forgot to answer.

I'm working in the Cyrillic alphabet space, and all the other characters worked fine, and as you mentioned above the problem characters I shared are the two-codepoint variants.

In terms of the data itself, it is for research but it is not mine to share. Sorry about that, I know that makes it a bit harder to debug this.

I ran check_ch

[2019-11-21 08:37] lissyx commented on #2488
Ok, so it's at least consistent with our experience :)

This should allow you to move forward, right ?

Technically, NFKD or NFKC we don't care, but what it more important is that all your datasets are sharing the same normalization. Otherwise you risk having two different unicode characters for the same "user-visible" character. This will obviously impact quality.

We had discussions about that,

[2019-11-21 16:02] nmstoker commented on #2529
Is this simply taking the individual rare word cases out of the text or does it remove the sentence featuring that rare word?

I'm thinking the former would result in ungrammatical sentences, having a slight negative impact on the LM.

Purely on a hunch, it also seems plausible that such sentences may be less modern or largely gibberish (as @rhamnett mentions here: https://github.com/mozilla/DeepS

[2019-11-21 16:06] reuben commented on #2529
It removes all n-grams containing OOV words

[2019-11-21 16:07] reuben commented on #2529
https://kheafield.com/code/kenlm/filter/

[2019-11-21 19:01] hjortnaes commented on #2488
Yep! Very edge case problem.

I had already moved forward by just manually editing the alphabet file.

Right, so if someone follows the workflow import_cv2.py --> check_characters.py like I did (and I think that's the recommended for commonvoice data, right?) they'll run into issues because they use NFKD and NFKC respectively by default.

That's fair, and if someone is using a custom dataset like

[2019-11-21 19:06] lissyx commented on #2488
Could you please be explicit on the language you imported ? I missed the fact that we were talking about Common Voice.

What language is this ?

Yeah, but if we have **released** Common Voice that exposes the behavior, it's another story.

We had to fix that on some not-yet-released part of Common Voice French, and it's already quite a mess.

[2019-11-21 19:17] hjortnaes commented on #2488
Sorry for the confusion, we are not, I was thinking in hypotheticals here. To sum up what I'm saying, shouldn't the normalization across scripts in DeepSpeech be consistent, regardless of which is chosen?

As far as I know, you have not. I am working with a Komi dataset I obtained from a colleague, which I unfortunately cannot share at this time.

[2019-11-21 19:19] reuben commented on #2488
`import_cv2.py` only does NFKD normalization immediately followed by a call to `.encode('ascii', 'ignore')`, which serves as a simple way to eliminate some common diacritics. (And that behavior is behind a flag). It doesn't do NFKD alone, that would break any non-English language.

[2019-11-21 19:19] lissyx commented on #2488
That's why i've implemented this flag for checking. Because ultimately, we don't want to enforce. And the importers here can be used alone, mixed with others we don't know about, so I think it's better we don't try to be smart here, because that would just lead to more complexity.

[2019-11-22 11:26] diego-fustes commented on #2169
I think that Speaker Diarization would be the most useful here as it does not require any training data. The X-Vector model is one of the most powerful implementations, see the [Kaldi model](https://kaldi-asr.org/models/m6)

[2019-11-22 11:28] Tortoise17 commented on #2169
How to use it if you can give an example. as input wav file?

[2019-11-22 12:15] sudhanshu2k opened #2542 "Speech to Text Convertion Issue"
I am using Deepspeech library for converting Speech to Text by using custom 16-bit, 16 kHz, mono-channel WAVE audio files. But text is no where related to speech.
Could you please suggest how I can get expected text output from speech?

[2019-11-22 12:26] lissyx commented on #2542
Could you please read the issue template and ask that on Discourse ?

[2019-11-22 12:26] #2542 closed

[2019-11-23 06:44] angularorbit commented on #2540
The readme instructions seem to be about the development version `deepspeech`,  not `deepspeech 0.5.1`, which is normal since the master branch seems to be the development branch. That needs to be clarified in the readme.

`deepspeech 0.5.1`, the version currently installed by `pip` needs an `--alphabet` argument, but the readme instructions removed it.

[2019-11-23 23:14] dsteinman opened #2543 "Upgrade the NodeJS target for Electron v7.1.2"
It was me that urged adding Electron support to this project a while back:

https://github.com/mozilla/DeepSpeech/issues/2032#issuecomment-481362520

I'm back to work on my voice control idea and have upgraded yet again to the latest Electron and so I'm experiencing the same issue, there's no "electron-v7.1" build in the /deepspeech/lib/binding/v0.5.1/darwin-x64 directory and it's not very clear h

[2019-11-24 12:48] lissyx commented on #2543
It's pretty easy, depending on how much changed in ElectronJS.

We have support for v7.0 in current `v0.6.0a15`. It's more and more painful because of lack of official SWIG NodeJS / V8 newer versions support.

You can read `do_deepspeech_nodejs_build` in  `taskcluster/tc-tests-utils.sh`, basically it's just what we document as JavaScript bindings with a few environment variables tweaked.

[2019-11-24 12:50] lissyx commented on #2543
@dsteinman From the release pages, it seems `v7.1` should work with the current `v0.6.0a15` package, since they mention this is a release bump for new feature, but still a minor release.

[2019-11-24 13:59] dsteinman commented on #2543
Great, thanks for adding this! I don't mind waiting until the official deepspeech 6.0 release.

[2019-11-24 14:38] lissyx commented on #2543
In the meantime, can you check if 7.0 works for runtime 7.1?

[2019-11-24 14:45] #2543 closed

[2019-11-24 14:46] lissyx opened #2545 "--json should not be default on python"
This is breaking tests @aayagar001

[2019-11-24 15:02] jaxcore commented on #2543
I tried downgrading Electron to 7.0.1 but it still wants to bind against a non-existent v7.1:

/node_modules/deepspeech/lib/binding/v0.6.0-alpha.15/darwin-x64/electron-v7.1/deepspeech.node

It's not a big problem for right now because I can use Electron 5 and Deepspeech 5 which do work together.

[2019-11-24 15:03] dsteinman commented on #2543
I tried downgrading Electron to 7.0.1 but it still wants to bind against a non-existent v7.1:
/node_modules/deepspeech/lib/binding/v0.6.0-alpha.15/darwin-x64/electron-v7.1/deepspeech.node
It's not a big problem for right now because I can use Electron 5 and Deepspeech 5 which do work together.

[2019-11-24 15:27] lissyx commented on #2545
Thanks!

[2019-11-24 15:28] #2545 closed

[2019-11-24 17:44] lissyx commented on #2543
Ok, I thought, since it seems 7.1 and 7.0 are compatible, that loading from 7.1 would try also 7.0 directory.

[2019-11-25 10:34] bsshruthi22 opened #2547 "Cuda Configuration Error"
While compiling native client,we got the below error.
cuda version: we installed cuda-repo-ubuntu1804-10-0-local-10.0.130-410.48_1.0-1_amd64.deb,
but it shows as 10.2

[code]
Please help us

[2019-11-25 12:01] lissyx commented on #2547
Well, I'm sorry but you already diagnosed your issue, and this is obviously not a bug. Please use discourse for support.

Also, you don't share every repro step, so we cannot help you anyway.

[2019-11-25 12:01] #2547 closed

[2019-11-26 05:09] kapilg1997 opened #2549 "I am trying to run the pre-trained model deepspeech-0.5.1 with the commands. It shows CreateModel failed with error code 8195. Please help."
For support and discussions, please use our [Discourse forums](https://discourse.mozilla.org/c/deep-speech).

If you've found a bug, or have a feature request, then please create an issue with the following information:

- **Have I written custom code (as opposed to running examples on an unmodified clone of the repository)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Tens

[2019-11-26 05:11] kapilg1997 commented on #2549
# Download pre-trained English model and extract
curl -LO https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/deepspeech-0.5.1-models.tar.gz
tar xvf deepspeech-0.5.1-models.tar.gz

# Download example audio files
curl -LO https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/audio-0.5.1.tar.gz
tar xvf audio-0.5.1.tar.gz

# Transcribe an audio file
deepspeech --model deepspeech-0

[2019-11-26 07:14] kdavis-mozilla commented on #2549
Anaconda is not supported. Could you try using a virtual environment as documented [here](https://github.com/mozilla/DeepSpeech/tree/v0.5.1#create-a-deepspeech-virtual-environment).

[2019-11-26 07:48] lissyx commented on #2549
You are running mismatching versions. Please avoid posting screenshots, it is hard to read and not searchable for content.

Please use deepspeech 0.5.1 binary to run 0.5.1 models.

This is not a bug, so please take this to Discourse.

[2019-11-26 07:48] #2549 closed

[2019-11-26 08:06] kapilg1997 opened #2550 "CreateModel failed with error code 8195."
I created a virtual environment as anaconda is not supported and tries to run the pretrained model on the example audio files provided by using the exact commands in read.md
# Download pre-trained English model and extract
curl -LO https://github.com/mozilla/DeepSpeech/releases/download/v0.5.1/deepspeech-0.5.1-models.tar.gz
tar xvf deepspeech-0.5.1-models.tar.gz

# Download example audio files
cur

[2019-11-26 08:37] #2550 closed

[2019-11-26 08:37] lissyx commented on #2550
Use discourse.

[2019-11-26 08:48] lissyx commented on #2550
@kapilg1997 We don't have Python bindings for Windows on 0.5.1. That's why you got 0.6 binaries. Please wait until we release 0.6 models.

[2019-11-27 11:36] kdavis-mozilla opened #2552 "Main README example links incorrect"
Main README example link  _Trying out DeepSpeech with examples_ and contained subsections are incorrect.

[2019-11-27 12:47] #2552 closed

[2019-11-29 17:56] olesyaksyon opened #2556 "Error in checkpoint model 0.5.0 with transfer learning"
Hi!

I am trying to transfer learn model-v0.5.0. with transfer-learning branch

Parametrs:
python DeepSpeech.py \
--drop_source_layers 2 \
--source_model_checkpoint_dir /DeepSpeech/deepspeech-0.5.0-checkpoint \
--checkpoint_dir /DeepSpeech/checkpoints/ \
--n_hidden 2048 --learning_rate 0.0001 --train_batch_size 1 --dev_batch_size 2 --test_batch_size 1 --epoch 1

The error message:
tensorflow.pytho

[2019-11-29 20:20] lissyx commented on #2556
`transfer-learning` is not maintained, I think you need to use `transfer-learning2`. Maybe @JRMeyer can give more insight, but it's Thanks Giving, so I doubt you can get feedback from him before next monday.